[2015-09-19 22:08] #616 closed

[2015-09-20 04:37] SecUpwN commented on #582
Instead of showing `**666**`, we should add some indicator that the value is not going to be displayed unless switching the network to 3G. But that could be solved with configuring the phone with #181 first.

[2015-09-20 04:46] SecUpwN commented on #269
Thanks for jumping in, @marvinmarnold. My initial thought was to basically quickly test the functions of the phone where our app is installed on, all of this could be done during initial setup in #181, I guess. I know that our project seemed "dead" the past few weeks, I'm working hard to catch up again. @DJaeger, are you able to tell us how the things proposed in here could be accomplished without

[2015-09-20 04:56] SecUpwN commented on #457
Catching up on GitHub. @DJaeger, what is your opinion on E:V:As proposal above? If I understood it right, we could remove any old Femtocell Detection code (and with that the settings from `Preferences`?) and "kill two flies in one run" when impriving support for CDMA because that would include a proper FemtoCell detection without having to cope with old and unmaintained code? Hope I got that right

[2015-09-20 05:03] SecUpwN commented on #608
Awesome, seems you've found the bug! Thanks for digging so deep, @tbelau666. Please send the pull request when you're ready to and make sure to link this Issue in it so we have the solution at hand. ;-)

[2015-09-20 05:06] SecUpwN commented on #601
Thanks for the hint @DJaeger, but it stays the same. How long did you wait? Maybe we should prompt for the GPS activation again when opening tabs requiring GPS data in the `Database Viewer`?

[2015-09-20 05:08] SecUpwN commented on #481
What's the current state here? Did @jenkinsl8 contact you, @He3556?

[2015-09-20 08:02] tbelau666 commented on #608
Where can I find a list of the external dependencies? I'm trying to
import it into Eclipse and... It wil be easier when I could get a list
of all needed JARs, their dependencies too and the used versions.

Am 20.09.2015 um 07:03 schrieb Security: Pwned.:

--
Ehrgeiz ist die letzte Zuflucht des Versagers. (Oscar Wilde)

[2015-09-20 09:44] He3556 commented on #481
yes and i answered but didn't get any message back

[2015-09-20 19:56] #288 closed

[2015-09-20 20:33] SecUpwN commented on #608
Not sure what you mean. Please have a look a [Building](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Building)?

[2015-09-20 22:12] tbelau666 commented on #608
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Found. You are using gradle? I have to install it or to find a way to modify the BuildConfig without it. It's auto generated and I didn't see where yet

Am 20. September 2015 22:34:08 MESZ, schrieb "Security: Pwned." <notifications@github.com>:

- --
Ehrgeiz ist die letzte Zuflucht des Versagers. (Oscar Wilde)
-----BEGIN PGP SIGNATURE-----
Version:

[2015-09-21 17:37] E3V3A commented on #608
Actually, i think @banjaxbanjo didisabled upload function a while back and we probably forgot to tree enable it...

[2015-09-21 18:12] E3V3A commented on #601
You need a GPS lock

[2015-09-22 04:47] SecUpwN commented on #601
If I turn on GPS and then also turn on the GPS monitoring within our app it still doesn't work. If that is not what you actually meant, please be so kind to clarify. Thank you!

[2015-09-22 18:15] jenkinsl8 commented on #481
Sorry for the delayed response.  I'm working on this in my "spare time"
which comes in spurts.  Looking at the, everything seems to be there.
Testing today to see if the values are just empty.

On Sep 20, 2015 5:45 AM, "MPR" <notifications@github.com> wrote:

[2015-09-22 18:30] jenkinsl8 commented on #481
The latest version doesn't install on an htc device.  I get an error "there
is a problem parsing the package".  Testing on nexus app.
On Sep 22, 2015 2:15 PM, "Lisa Jenkins" <jenkinsl8@gmail.com> wrote:

[2015-09-22 19:57] jenkinsl8 commented on #481
Installed on nexus 4 with Android version 4.4.2.  App installed OK. Default
data in event log is fully populated.  Edited the LAC values as directed
and restarted the app.  Got message of changing LAC detected at app start
with data in the event log.  Time, CID, LAC, PSC, DF_id and Event are
populated. Lat, lon and accu are 0.

Looks OK to me.

The latest version doesn't install on an htc device.

[2015-09-23 05:59] TPS commented on #537
I'm not sure if anyone else noticed, but the bounty on this bug (encompassing both #69 & #537) has now increased to $115 as of a couple weeks ago! :open_mouth:

@SecUpwN Is there any way to get the bounty tag replicated from #69 so _this_ issue shows (changes in) it automatically as well?

[2015-09-23 08:35] banjaxbanjo commented on #481
Try deleting old copy of app then re-install should work then

[2015-09-23 12:25] agilob commented on #559
The case with time is, minute does not always have 60 seconds, so better not handle time yourself, I recommend using Joda-time for this, it's a 10/10 library.

On implementation side, don't forget about timezones, it's a common pitfall.

[2015-09-23 19:50] agilob commented on #446
In spare time I was contributing to n76/Local-GSM-Backend, if you want I can add intent-based API to retrieve and provide information about locally saved cells.

[2015-09-24 09:55] banjaxbanjo commented on #608
@E3V3A seems to be working for me and I get upload success message.

Here is the response from server using proxy server to view whats coming in and out of phone.

![res](https://cloud.githubusercontent.com/assets/7005094/10070481/b6c09734-62aa-11e5-9d5b-155f8e8ab811.png)

[2015-09-25 17:31] zaventh opened #620 "RuntimeException when downloading OpenCellID data with incorrect API key"
1. Install the app
2. Enter an incorrect OCID API key (i.e. typo)
3. Press "Download BTS Data" from the navigation drawer
4. The app and service crash.

The OCID server returns an 401 HTTP response code, and the app enters an error condition block that displays a Toast. However, a Toast cannot be displayed here because it is not currently executing on the main thread.

Occurs on tag 	v0.1.34-alpha

[2015-09-27 04:49] jenkinsl8 commented on #481
So to close this issue, do you want to see a screen shot?  Or do I need to do something else?

[2015-09-27 09:10] E3V3A opened #621 "I'm permanenltly leaving this project, thank you and goodbye!"
To all of you who have been a great inspiration and driving force behind this project, I just want to say:

**THANK YOU!**

I've now after many difficult tours and turns decided to finally exit this project permanently. So please respect my decision for doing so, by **not** tagging me, emailing me, or in other ways trying to contact me regarding this project.

I hope you understand.

Good Luck.

<

[2015-09-27 10:27] takiainen commented on #608
The problems never was getting the "upload success" message, but instead the fact, that despite the "success", the cell ids never ended into the opencell id database.

[2015-10-02 11:40] He3556 commented on #481
@jenkinsl8 thank you for testing the EventLog!
The code to add the missing data (lat, lon and accu) into the table, can be added later.
For the problems "when installing on HTC" we could open an extra issue, maybe?
Or is there one already?

i will close this, than...
thx again!

[2015-10-02 21:41] #481 closed

[2015-10-02 21:49] He3556 commented on #621
I am respecting your decision - but there is a big part missing now.
Thank you, for your time and energy you have put into this project.
We will keep it going...

[2015-10-02 22:09] He3556 commented on #608
What about saving all CelIDs, the phone was connected to in this area?
And later we can check against our own data.
Only when the catcher arrives before the AIMSICD user in that area - than OpenCellID was the only solution.
But to upload data to OpenCellID and than download it again for the detection, is not really an improvement.

So what about adding a detection that checks against the internal

[2015-10-03 21:38] marvinmarnold commented on #269
What functions specifically would need to be tested? I'm going to two conferences soon (ARIN 36 & ITU World Telecom) that I want to have AIMSICD running during. I'm not even really sure if my phone is compatible at this point.

[2015-10-06 07:41] hellyberry commented on #601
I experience this also on SGS4, Android 4.4.4 and aimsicd Version 0.1.3.4.-alpha-b00.
Is the newest aimsicd Version code changes reviewed? Log appended.

[2015-10-10 09:33] Gnashspike opened #624 "Six to Nine BSTs sitting in my back yard"
ATTENTION! Please describe the problem you had, before sending us these logs. NO HELP WITHOUT DESCRIPTIONS!

I've read the GitHub discussions regarding all the "holy shit I'm attacked!" emails, as well as the "lively" discussions between developers and SecUPwn, I'm sorry to see E3V3A left the project and I hope you've found a suitable replacement for one so adamant and stalwart. That said, please

[2015-10-10 11:43] agilob commented on #624
AIMSICD sends fake and temporary BTSs to online services. Most probably you were a victim of
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/411
There might have been a network reconfiguration around you, there were not many reports about the "new" BTS and you send it, online services verify your uploads and remove those with fake data.

[2015-10-11 00:35] andr3jx commented on #624
@SecUpwN  **Somebody with EDIT rights please remove immediately this log from here. It contains private location info.**

[2015-10-11 06:04] agilob commented on #624
@andr3jx https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/599 apparently it's not a problem in AIMSICD... Thanks EVA.

[2015-10-11 17:54] andr3jx commented on #624
@He3556 @agilob this is totally unacceptable in my opinion. This needs to be fixed.

I'm also of the opinion that @Gnashspike doesn't have convincing data for the existence of fake BTS. Actually his phone is in 3G mode and 3G fake BTS can not be detected. Only if his phone is downgraded to 2G it might be a fake BTS.
In this state the app is close to snake oil (therefore it is alpha).

[2015-10-11 20:03] He3556 commented on #624
Sorry for delay.
I am not sure whose data this is - so i backed it up on my local machine but deleted it on the post.
Thanks @andr3jx for taking a deeper look into this.

[2015-10-12 01:03] darkerego commented on #624
I notice this all of time. The blue 'currently connected BTS's' follow me everywhere. I assumed it was a glitch, because this is how it's been since I started using this app. Sometimes there will be like 10 of them around me, and than over time that number will drop.

What is strange though is that when using RFSignalTracker (or maybe its called rfsignaldetector) it says Im always connected to a c

[2015-10-12 08:18] agilob commented on #624
@darkerego it's another bug I reported that eva thinks it's not a bug:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/471

[2015-10-13 12:52] darkerego commented on #624
@agilob I believe that this is what happens:

If I am tracking cells with the app, while say, walking down the street, the app will not take measurements because I am moving around, as I can see in the debug logs. But, if I stop and stand still for a second, it starts taking measurements. This is when it leaves one of those 'blue circles'. I think it's actually a measurement of a BTS, shown where

[2015-10-13 15:18] billionaire opened #625 "Add to AIMSICD info about used A5X cipher."
Hello.
I liked the app AIMSICD. You are doing a great job.
But, unfortunately, on my device, it does not show the current level of encryption of data between my phone and BTS (a5x is always n/a).
But I found an application that displays which the cipher is used: https://opensource.srlabs.de/projects/snoopsnitch
Can you add to AIMSICD display information about a cipher?
Thank you.
Sincerely.

**AIM

[2015-10-14 11:07] DJaeger commented on #269
Its a while since I had time to look at the current code, but last time the most of the tests, what is available to the app, were at the places the feature were used.
There is currently no central place, where we check them and remain on these results.
Because of that we also do some tests multiple times, like if we use the GSM or CDMA classes.
We should "outsource" the tests in a feature detectio

[2015-10-14 11:17] DJaeger commented on #615
@banjaxbanto: have you tested @agilop's proposal?

[2015-10-14 11:29] agilob commented on #269
@DJaeger what do you mean by tests? There are no technical tests in the app https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/tree/development/app/src/androidTest/java/com/SecUpwN/AIMSICD/test

[2015-10-14 14:01] DJaeger commented on #269
I mean for example a simply IF condition if the CDMA class of the TelephonyManager is available.
Or some types of switch statements to determine, what feature is available and can be used.

[2015-10-14 14:59] timofonic commented on #590
I'm just an user, but quite interested in anything that can improve London on my device by using open services and data.

Any news about this?

[2015-10-15 01:56] playalistic opened #626 "Issue/Question??"
Ok....so in "Antenna Map Viewer," while I'm at my house or surrounding areas with my phone's gps on, indicator shows that I am constantly connected to a "new or recently added BTS" that appears as a orange circle with a "2" in the middle and is directly on top of my, or my neighbor's house; as if I'm connected to two new or recently added towers that are always directly over my, or my neighbor's h

[2015-10-15 06:07] agilob commented on #626
Antenna map viewer is broken, shows cells in wrong locations, shows duplicates of cells (in wrong locations), also if you get yellow and have a blue cell just where you stand, it's another bug.

[2015-10-15 18:07] andr3jx commented on #625
We are aware that the app can't show the ciphering algorithm. Thanks for the suggestion but I don't see it being implemented any time soon.
Snoopsnitch has great features and works stable but unfortunately only runs on some rooted Qualcomm phones. I advice you to keep using it if you have the luck that it supports your phone. AIMSICD doesn't come close to Snoopsnitch at the moment.

[2015-10-15 18:12] alindt opened #627 "Support for CID/LCID"
It would be helpful/nice for the UI to display the "extracted" CID from LCID on UMTS/LTE, as per:

http://wiki.opencellid.org/wiki/Talk:API#LCID.2FCID
http://wiki.opencellid.org/wiki/FAQ#Long_CellID_vs._short_Cell_ID

[2015-10-16 01:47] playalistic commented on #626
Well i certainly do appreciate the prompt response. So theoretically, I can assume that the app's alert will still sound and notify me to an actual "IMSI-Catcher" threat and it's threat level to the best of it's current capabilities regardless of what the antenna map view indicates? Furthermore, any eta on when the broken map viewer function will be fixed, as it would be a very beneficial and info

[2015-10-16 06:16] agilob commented on #626
the detector works correct on friends Samsung A3, but for me (S3 with CM) it **has 100% false positives** since February (since then I never had green, icon is always yellow) so I guess this might be something device dependent and bug in the code which I'm investigating.

[2015-10-17 01:59] playalistic commented on #626
Thank you very much for your discernment & troubleshooting efforts since Feb until now. I'm not clear as to whether you're writing that the false positives regard ''Antenna Map View" specifically or also the app's "IMSI-Catcher" alert features (or lack there of) overall, regardless of device, though based on your observations, maybe it's better that I run a build dating before 2/15? Again, antenna

[2015-10-17 10:17] DJaeger commented on #626
He means both.
Under specific conditions the mapviewer doesn't work and under specific conditions the generel alerts doesn't work.
In a build of before 2/15 are much more other bugs and are not garanteed to work in anyway.
So please be patient until we fixed the issues.

[2015-10-20 05:43] TPS commented on #512
Just as a note to all who may be still following:  _This_ is what AIMSICD is fighting with in the notification bar:
![Standard Notification Icons 1](http://pwk.republicwireless.com/wp-content/uploads/2015/10/material-action-icons.png)
![Standard Notification Icons 2](http://pwk.republicwireless.com/wp-content/uploads/2015/10/material-image-icons.png)
![Standard Notification Icons 3](http://pwk.rep

[2015-10-20 12:23] He3556 commented on #625
thanks @andr3jx - i can close this i guess...

[2015-10-20 12:23] #625 closed

[2015-10-20 12:27] He3556 commented on #601
sorry we have to close a few issues - i this still needs clarification pls let me know.

[2015-10-20 12:27] #601 closed

[2015-10-20 12:31] He3556 commented on #517
@all is this still alive? or can i close it?

[2015-10-20 12:50] He3556 commented on #71
sorry we have to close a few issues - i this still needs clarification pls let me know.

[2015-10-20 12:53] He3556 commented on #88
sorry we have to close a few issues - if this still needs clarification pls let me know.
Did somebody check:
"The core of this issue is to find out if the app collects correct data while the screen is off.
Following questions need to be answered:

1 Does the app collect all available data (LAC, CID, Neighbor cells etc.) while the screen is off?
2 Does the app record all changes of the values while

[2015-10-20 12:56] #130 closed

[2015-10-20 12:59] #200 closed

[2015-10-20 13:01] #219 closed

[2015-10-20 13:05] #626 closed

[2015-10-20 13:49] He3556 opened #628 "New priorities and ToDos (re-orientation)"
Priorities (fight against the chaos of issues - here is a short & clear list what we should be doing...)

... for the old parts of the project:
1. Fix wrong "changing LAC" alerts (i have an idea how to fix it - let me know if you want to help)
2. Add the detection "Check BTS for the NC List "[https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/264]
3. Check Cell-IDs against table "uniq

[2015-10-20 14:38] DJaeger commented on #517
This is still WIP

[2015-10-20 14:40] DJaeger commented on #6
@He3556: I don't think this is solved!?

[2015-10-20 14:41] DJaeger commented on #216
@He3556: I don't think this is clarified!

[2015-10-20 14:43] DJaeger commented on #303
@He3556: This is not solved!

[2015-10-20 14:47] agilob commented on #31
Possible security exploit -> enhancement -> remember this -> closed XD

[2015-10-20 14:55] agilob commented on #303
This is _implemented_ for downloading **only OCID API KEY** not cell data from OCID :D
The returned response code when requesting free OCID key can be 200, 401,403 or 500, checking for any other code is pointless. Actually, the only valid response code is 200, and any other code means error here. Example code and link to the class OpenCellIdKeyDownloaderTask is just wrong, because this class does

[2015-10-20 14:57] He3556 commented on #216
Basically, we only need to track the GSM connections right now in this project.
3G/4G tracking is nice to have - but important to implement sometimes later.
The easiest way to get a proper detection (right now) is to deactivate 3G/4G.
It would help us to focus on the basic functions of our App.
Btw. I am just trying to get this project lightweight so we are not affected by all the bugs that are wa

[2015-10-20 15:15] He3556 commented on #303
We worked on the OpenCellID detection for so many hours and we still have the basic problem, that there are Cells missing in their db. Plus this detection is only important if we move to a location we haven't been before.

To concentrate on our own "list of unique BTS" makes more sense.
1. Time duration to explore the location (get the BTS in that are)
2. When we are sure we have them all in the l

[2015-10-20 15:19] He3556 commented on #6
A Femtocell is also a special case and depends on the different providers.
So we had a long way getting a list or something, to be able to detect them.
A nice to have - but in general a Femtocell must not be a security problem.
If there are other projects doing this - we could implement a working solution at a later time.

[2015-10-20 15:21] He3556 commented on #31
it is not deleted - just closed
and we have an answer "Basically this goes back to signing of the app for us at the moment as the key that is used is the debug key, we can create a release key and disable debugging down the track but at the moment it is useful to be able to debug the app during development."

We already have a release key and a debug key - so maybe it is solved?

[2015-10-20 15:26] agilob commented on #6
And... in both cases it shouldn't be closed.

[2015-10-20 15:30] agilob commented on #303
@He3556 I agree with what you wrote, my point refers to:

he implemented it in the wrong class... OpenCellIdKeyDownloaderTask in fact connects to OCID, but it doesn't do anything with cell data or location, it just requests api key.

[2015-10-20 15:48] DJaeger commented on #216
If it is really the case, that it could be, that the app doesn't work, we should do one of the following in favor of closing this issue:
1. Warn the user about this behaviour either on
a. every device
b. not compatible devices determined by a list of compatible devices
2. solve this incompatibillity

[2015-10-20 15:48] #621 closed

[2015-10-20 15:52] DJaeger commented on #216
The preferable option should be 2.
But if we choose 1. at least for now, we chould choose 1.b. which could be done within #269.

[2015-10-20 15:54] DJaeger commented on #216
If we want to do it within #269, please add this one there!

[2015-10-20 16:00] DJaeger commented on #31
Closed means deleted from our minds.
So please do not close issues where something still has to be done!
If we tag all our issues, you can simply filter out all issues, that you don't want to see for now.
We could  also create some Milestones, where one could be "Sometimes later".

[2015-10-20 16:13] He3556 commented on #216
It's not really about the compatibility of the devices if we just ignore 3G/4G in our App.

But this would be a great thing to have: "not compatible devices determined by a list of compatible devices"

who can get this informations together?
We would also need a column for "NCL" and "changing LAC" - so we know if the detections should be working on the devices.

[2015-10-20 16:15] DJaeger commented on #303
Where do you see, that it is implemented in OpenCellIdKeyDownloaderTask?

And this all does not change anything on my comment, that this is not solved.
There also needs to be done chunked downloading and a correctly working progressbar.

As I have assigned this issue, I will also close it when all work is done.
But I had some projects, that prevented me from working on this project.
I'm currently

[2015-10-20 16:19] He3556 commented on #31
yes lets use milestones.
i got feedback from different people saying there are simply to many issues (also old ones nobody ever worked on). We had 90 open issues - looks like a big chaos for new people who want to join the project.
But ok... i will use the priority tag for the important stuff.

[2015-10-20 16:21] He3556 commented on #303
ok @DJaeger thats cool than :)

[2015-10-20 18:16] agilob commented on #546
lol

[2015-10-20 19:18] He3556 commented on #546
oh sorry Sec - didn't see you comment
:)

[2015-10-20 21:07] agilob commented on #546
did you close the issues without reading last comments?

[2015-10-20 21:57] He3556 commented on #546
yes - and reopened it :)

[2015-10-21 06:34] Findus23 opened #629 "Phone vibrating every few seconds"
I am using the latest version from F-droid.org (0.1.34) on Android 5.1 (CyanogenMod nightly) (I am running the app for the first time after uninstalling)
When the Imsi Catcher detector is running in the background the phone is vibrating every few seconds. If I am not mistaken this has something to do with the fact that most phone cells I connect to are not in the OCID Database? I am using a fairly

[2015-10-21 06:49] DJaeger commented on #31
And how about also use "Beginner Job" tags?

[2015-10-21 06:54] DJaeger commented on #216
So the simplest way to solve this issue is to ignore 3G/4G ?
And if we do this, we doesn't have to take care of which device is used?

[2015-10-21 06:58] DJaeger commented on #216
Please add what is device depentant and needs to be checked to the issue 269 already mentioned above and not here.
Thanks.

[2015-10-21 07:03] DJaeger commented on #6
I have to second @agilob
We have choosen to take care of Femtocell and also invested to much time to throw it all away!

[2015-10-21 07:23] DJaeger commented on #71
This is an enhancement.
Please add a "enhancement" tag and "sometimes later" milestone

[2015-10-21 09:07] agilob commented on #629
This is expected behaviour introduced in e8e3769f5eafaab1e6c5c233e3239fa17898d8e2 and 06676bb7ace46a4ec585f9d242668ed15761106e

[2015-10-21 09:22] agilob commented on #31
Are you closing issues because they're too old?

[2015-10-21 09:33] Findus23 commented on #629
Okay, but it isn't very helpful if the phone is vibrating all the time.
Would it be possible to add an option to only vibrate on higher alarm levels than "yellow"?

Thanks for helping

[2015-10-21 20:50] He3556 commented on #31
well i first looked at the old ones...

This issue is not really an issue because it only says that debug versions are not secure. Or did i miss something?

But at least i know how i get your attention now ;)

[2015-10-21 21:35] DJaeger commented on #31
Please read the issues before you close them.

E:V:A has explicitly said:

Ok so lets leave this open so we don't forget it. But downgrade to "enhancement".

And @SecUpwN seems to have second it. And I do so too.
Set it to Milestone for version 1.0 (first real release).

[2015-10-21 21:41] DJaeger commented on #31
You have my attention, but I loose much time I could invent into more productive things.
I'm reading ALL comments within this project and comment on them as soon as I have time for it.
And also I do code contributions, if I have time for it.
Your flood of wrongly closed issues doesn't make it better.
And until now I have only checked the issues you closed, that I had marked to review or to do anyt

[2015-10-22 04:05] pyr8 opened #630 "No "Neighbouring Cells" displayed under "Current Threat Level""
No "Neighbouring Cells" displayed under "Current Threat Level"

[2015-10-22 06:03] agilob commented on #630
Yeah, I noticed the same recently, what device and ROM (version) do you have?
It worked on my S3 with stack android, but when I switched to CM AIMSICD became unusable, patch should be easy to make, but want to make sure it's not device or version dependent.

[2015-10-22 08:42] pyr8 commented on #630
Running latest nightly of cyanogenmod on Galaxy S4.

Yeah, I noticed the same recently, what device and ROM (version) do you
have?
It worked on my S3 with stack android, but when I switched to CM AIMSICD
became unusable, patch should be easy to make, but want to make sure it's
not device or version dependent.

—
Reply to this email directly or view it on GitHub
<https://github.com/SecUpwN/Android-

[2015-10-22 10:19] agilob commented on #630
I think CM team removed one class in 10.2 release that provided required data. No proof, just speculations.

[2015-10-22 11:08] amilopowers commented on #629
I have the same "issue". I am as well using the latest release from F-Droid. My ROM is an Omnirom (Android 5.x) nightly and the device a hammerhead.

My carrier is Swisscom which is the major carrier in Switzerland.

Please add an option to decide from which level of risk the phone should buzz.

I am uninstalling the app because it does destract me too much from daily life.

[2015-10-22 15:36] pyr8 commented on #630
???
On Oct 22, 2015 6:19 AM, "agilob" <notifications@github.com> wrote:

[2015-10-23 02:08] felixhcat commented on #624
If that is the case (which I had assumed it was-- that the map shows the measurement locations, not the towers themselves) why don't they use some kind of crowdsourced triangulation where known variables are used to solve for the towers more accurate location? (signal strength and error & measurementPos and error)

Is that a crazy idea and impossible for some reason? Or is the OCSI database inhere

[2015-10-26 01:38] marvinmarnold commented on #628
Great ideas @He3556. Can I recommend that we also add [5. Ensuring compatibility](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/269)?

I want to help with #1, is there an open ticket?

[2015-10-26 12:42] He3556 commented on #628
No sorry, not right now. But i will open one (for no.1) in the next 2 days.

And yes, i will add 5. Ensuring compatibility to the list and
I will add this informations (of this issues) into the wiki. And we can still discuss it here

[2015-11-02 19:06] swordsteel commented on #251
I think it should be a toggle anyway. Consider a dude sitting at home or office and not moving for half a day. The cell masts aren't going to move around him. So the point of gps in an already known location doesn't make sense but also gives much better battery life.

[2015-11-02 19:06] agilob commented on #251
;_; this is all what this project is about

[2015-11-03 06:28] swordsteel commented on #251
Very true, but so is scaling to the threat level. If your device already knows the area from previous cell monitoring, and you are mostly stationary in that area, the gps becomes redundant as long as you are not moving because the location is known, the existing cell masts have already been fingerprinted, so gps could in effect be turned off if you know where you are.

Example of this is if I am a

[2015-11-03 07:27] agilob commented on #251
Yes, I agree, that's why AIMSICD should use not **only** GPS location but also WiFi and network.

[2015-11-06 11:15] rsharipov commented on #615
I believe, if the read method returned value is used instead of available(), it would block until the data is available, so there would be no need for Thread.sleep call to save CPU.

[2015-11-11 04:25] ruzaq commented on #629
same problem here. It is annoying behavior.

[2015-11-12 07:40] SpringXu-Git opened #632 "I click the Antenna Map Viewer at the slide bar and crashed."
Log:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28181086-i-click-the-antenna-map-viewer-at-the-slide-bar-and-crashed?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&u

[2015-11-12 22:39] SecUpwN commented on #251
@He3556, would you please update me on why you closed this Issue? Thanks. :)

[2015-11-13 08:39] reddit-is-fun commented on #629
I had to install 'Vibration Tuner' Xposed module because of constant vibrating. I set the global vibration strength to 0%.
I don't like vibration, you might want to try that that Xposed framework module also.

[2015-11-13 21:37] SecUpwN commented on #629
@reddit-is-fun, please wait for the upcoming release. A fix for this is in the pipe with #631.

[2015-11-13 21:40] Findus23 commented on #629
Many Thanks for the fix.
I am looking forward to using the app again.

[2015-11-13 21:42] SecUpwN commented on #627
Thanks for the suggestion, @alindt. We've had a huge downtime of our project lately, we simply have no developers and way too many bugs within the current code. Please crafta PR yourself or be patient a bit.

[2015-11-13 21:46] SecUpwN commented on #628
Thanks for stepping foward, @He3556. It is wonderful to have your heartblood with us, our project has gotten way too messy and me leaving for so long did not contribute to a better state either. @marvinmarnold, I have seen that you're now running your own app from our base code - are you still interested in some sort of merge, or do I have to calm down my mind now that you're now doing "your own t

[2015-11-13 21:53] SecUpwN commented on #624
@agilob, thanks for taking care of this Issue filed by @Gnashspike, even though not proven. I am re-opening #471 since this seems to be the core of this experience, please continue discussion there.

[2015-11-13 21:53] #624 closed

[2015-11-13 21:55] SecUpwN commented on #215
Ok, so we've got to finally solve this Issue. @He3556 and @DJaeger, would you please re-read this Issue and find out how to add the missing pieces? I am willing to raise the bounty for this if you guys do!

[2015-11-13 22:05] SecUpwN commented on #216
I am re-opening this discussion due to its importance and unclear solution. Thanks for understanding!

[2015-11-13 22:07] SecUpwN commented on #489
@He3556, closing Issues without a statement why this has been done is not good for the people montoring our Issue list and may introduce negative feelings for the one opening it. Please tell me if this shall be re-opened, even though I know that our main focus will be GSM and fixing all the crap in the next few months. Thanks.

[2015-11-13 22:11] SecUpwN commented on #615
Thanks for your endurance with our shitty bugs, @banjaxbanjo. I am currently cleaning up. Stay tight!

[2015-11-13 22:13] SecUpwN commented on #608
If this will prevent AIMSICD not detecting the IMSIC when it arrives before the phone moves into the cell, this sounds like a better solution. @DJaeger, what do you think abou this? Any better suggestion?

[2015-11-13 22:16] SecUpwN commented on #590
@ziem, I know you don't have time left for our buggy project, but can you give this another attempt, please? We've had a huge downtime and I am trying to bring back our app to life. Thanks for helping again.

[2015-11-13 22:22] SecUpwN commented on #278
@He3556, please stop closing Issues you may think csnnpt be completed yet or do casre developers away. See other big projects and you will notice: Even though the Issue list is huge, they develop stuff and users are able to solve anything open. I still consider this an important feature, I am re-opening this.

[2015-11-13 22:25] SecUpwN commented on #517
@He3556, this is still alive. Someone experienced (preferrably some hacker from outside) should have a close look at our code and tell us which things to implement. Ideas for whom I may contact to do so?

[2015-11-13 22:27] SecUpwN commented on #537
@TPS, thanks for asking this, I don't know. Maybe from @Bountysource does?

[2015-11-13 22:30] SecUpwN commented on #512
I would like to hear what @SgtObst has to say about all this since he designs our Icons. Thanks.

[2015-11-13 22:38] He3556 commented on #251
Sorry, looks like  i was to quick here.

[2015-11-13 22:51] He3556 commented on #489
yes you are right, so here is my comment.
There are a few issues where we could add some information in the wiki (for example) and than close it.
If there are people who want to work on it - super. But we simply can't do it. Even if we had time for it, we don't have CDMA towers in Europe. So i vote for deleting everything in the code about CDMA and add a notice somewhere in the wiki.

[2015-11-13 22:53] SecUpwN commented on #546
No problem, @He3556, it happens to the best of us. ;-) To finally close this Issue: Shall we rename all publicly displayed strings in our app to the shortened version `OCID` now? If so, tell me and I will take care of this next week. I am voting on not changing the code comments though.  Feedback appreciated.

[2015-11-13 23:03] SecUpwN commented on #489
Ok, that brings it right to the point. But how about all the other users in other countries using CDMA networks? Would displaying a prompt like `AIMSICD does not syupport CDMA networks yet!` be a solution?

If we truly cannot add CDMA support, we should do so. @DJaeger do you agree with this?

[2015-11-13 23:08] marvinmarnold commented on #628
Hey @SecUpwN, I thought I was clear from the beginning about having forked AIMSICD to give it a more user friendly UI. I'm still very interested in finding ways to merge my work back into AIMSICD.

That said, work on my fork has slowed down a lot since I realized that core AIMSICD functionality is actually quite limited. #1 and my suggested #5 have combined to make AIMSICD pretty inoperable on mos

[2015-11-13 23:12] SecUpwN commented on #228
Re-opening this to add the last fix as mentioned in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/228#issuecomment-110207488. @DimaKoz, can you give this a go, please? :)

[2015-11-14 06:35] TPS commented on #489
:sob: But I understand.…

[2015-11-14 09:35] agilob commented on #628
@marvinmarnold do you have a screenshot?

[2015-11-14 13:19] He3556 commented on #628
@marvinmarnold thx for helping on No1. of the list.

The characteristic of a true "changing LAC" alert is, that the LAC value of one certain cell is changing once or maybe a few times in short intervals (1-10 minutes).
But it makes no sense to raise the alarm when the LAC of many Cells are changing over the day. And that (ch. LAC of many Cells) is what happens if the phone can't read the correct L

[2015-11-14 14:11] DJaeger commented on #546
That whould be ok for me, but we should at least descripe one time what this means to the users.
For example in the first start tutorial.

[2015-11-14 14:36] He3556 commented on #546
I would just leave it like it is and use "OpenCellID" in the future.

We have so many shortened names and it is easy to get confused with CID and OCID for people who doesn't know about all this.

[2015-11-14 14:49] He3556 commented on #489
"AIMSICD does not support CDMA networks (yet)!"
could be placed near the download link. And also in the "technical overview"

Thanks @TPS for understanding this.
And people always have the choice to switch to a GSM carrier in the USA.

[2015-11-14 22:43] SecUpwN commented on #489
Besides that, don't you think an implementation to display that prompt on the Android device when connected to a CDMA network be better? Maybe @smarek can add his final thoughts on this case?

[2015-11-14 22:50] SecUpwN commented on #546
Fair. So should I change all shortened terms in our app displays to `OpenCellID`?

[2015-11-14 22:54] SecUpwN commented on #6
Indeed, I agree on this. But I am wondering how we're going to solve this Issue of we chose to make AIMSICD prompt that it only supports GSM networks as discussed in #489 while at the same time we only have code for CDMA FemtoCells in our app since the ones for GSM are missing - sounds like a loophole to me.

[2015-11-14 22:59] SecUpwN commented on #250
@He3556, I don't see why this has been closed either. This needs to be re-checked.

[2015-11-14 23:22] SecUpwN commented on #411
Re-opening this Issue since we need to re-think how to prevent spoiling the OCID databases, even though their data is being checked via [filtering](http://wiki.opencellid.org/wiki/API#Filtering_of_data). @hannosch, what would you recommend to do?

[2015-11-14 23:33] SecUpwN commented on #151
Also re-opening this Issue for @smarek to have keen look at it if this can be implemented at all. Thanks!

[2015-11-14 23:41] SecUpwN commented on #268
It makes less sense to add this suggestion any time soon until we can't be absolutely damn sure that our app is working the way we're intending to and that we're not going to scare Twitter users with false data. Nevertheless, I'll be re-opening this for further discussion. May I also suggest the server sending the tweets to publish those via our official Twitter account located at https://www.twit

[2015-11-15 00:08] SecUpwN commented on #481
@He3556, please re-verify if this Issue mentioned in the OP has been solved in the current app. Thanks!

[2015-11-15 00:11] SecUpwN commented on #15
Re-opening this Issue since I consider it an important core feature. Maybe @smarek can have a look?

[2015-11-15 00:19] SecUpwN commented on #625
Thanks for responding here, guys. Am I right when guessing that their app can only detect the Cipher because they have access to the necessary baseband variables or would we be able to extract this another way?

[2015-11-15 00:43] He3556 commented on #546
yes, and than close this issue? ;)

[2015-11-15 00:46] SecUpwN commented on #147
After re-reading the whole thread, I do see that need for that and have just contacted the Buildozer support team to tell me how to finally accomplish this task. I am re-opening this Issue once more.

[2015-11-15 00:51] SecUpwN commented on #546
Agreed. I'll claim this Issue, but it will not happen before I'll get back to my own computer. Patience.

[2015-11-15 00:53] He3556 commented on #481
Yes it was tested and LAC changes are shown.

Except the position of the smartphone when this detection took place is missing.
We can open a new issue if you want.

[2015-11-15 00:54] SecUpwN commented on #481
Good to know that this is finally solved.

Yes, please do so with a proper description, then link this Issue there so that people can follow. Thanks!

[2015-11-15 00:58] SecUpwN commented on #417
Too bad to see this closed as well, I am re-opening this once more for @ziem to have a look.

[2015-11-15 01:02] SecUpwN commented on #176
Re-opening this due to a missing clarification. @ichnaea can you tell us, please?

[2015-11-15 01:06] SecUpwN commented on #446
Re-opening this to see what @hannosch has to say about how to best implement support.

[2015-11-15 01:08] SecUpwN commented on #303
Not wanting to push you, but we're back from this freaking long break and would like to make our project come back to live and much more usable than before. Are you still on it? Take your time though, please.

[2015-11-15 01:16] He3556 opened #636 "Optimize system permissions"
Delete unnecessary access, for example to the phonebook and other recourses we don't need.
**EDIT by SecUpwN:** Also see [Stackoverflow: Clean up unused Android permissions]( http://stackoverflow.com/questions/18362305/clean-up-unused-android-permissions).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28256326-optimize-system-permi

[2015-11-15 01:19] SecUpwN commented on #88
I guess that our app does, given the fact that the locked phone launches the short vibration on CID changes. Adding yet another table with phones somewhere will do no good. And see [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Installation) on device support. ;-)

[2015-11-15 01:21] He3556 opened #637 "Empty fields lat, long and accurate in the EventLlog Table"
When a changing LAC detection takes place the lat, lng and accu fields are empty in the EvenLlog Table.

[2015-11-15 01:22] SecUpwN commented on #636
Thanks fr filing this, I've been receiving multiple requests from concerned users. Just to clarify for the people reading this: We started using all permissions possible since we did not know which permissions may be necessary in the future to collect necessary variables needed for our App to work properly. But since it is currently pretty useless doe to its bloated code and few functions, we real

[2015-11-15 01:27] SecUpwN commented on #92
Re-opening this Issue since we need to have another look with someone like @smarek.

[2015-11-15 01:30] SecUpwN commented on #219
@He3556 shall we re-open this Issue to find the needed AT commands? Or is this "non-relevant" now?

[2015-11-15 01:31] SecUpwN commented on #200
@He3556, same thing here: Should we re-open this and try to continue investigation with @scintill?

[2015-11-15 01:50] He3556 commented on #636
Error:Execution failed for task ':app:proguardRelease'.

was ist proguardrelease? das ist der Fehler den ich seit 2 Monaten bekomme wenn
ich die Release mache.

[2015-11-15 03:52] smarek commented on #489
Well, about claim

We do have them in Europe, If nothing more, In Czech Republic O2 Telefonica is having good CDMA coverage (see here: http://www.o2.cz/osobni/en/199436-mapa_pokryti_a_prodejen/ )
I don't have CDMA capable development device however I don't think we should get rid of CDMA functions or stop supporting it right away.
I'll try to get hold of dev device and do some testing

[2015-11-15 05:04] TPS commented on #489
Thanks, @smarek! I appreciate the support! ☺

[2015-11-15 05:44] smarek commented on #636
Also if we're going to support Marshmallow (API 23) and compile the project against it, we'll be able to request permissions on runtime, not having to request all of them as mandatory in manifest.

@He3556 proguardRelease is task to trim down the APK size and resources, that are not used (ie. included and not used libraries code, etc...)

For me current master fails with `MissingTranslation` error

[2015-11-15 15:18] He3556 commented on #636
Thanks @smarek - i tried to add  '-dontwarn' like (here http://stackoverflow.com/questions/29954434/gradle-issue-you-may-need-to-add-missing-library-jars-or-update-their-versions) but it didn't worked.

[2015-11-15 16:48] smarek commented on #636
@He3556 from my experience, you have to obtain verbose log of the Proguard and go library by library to configure it right. We already have default SDK provided `proguard-android.txt` included so that should solve majority of issues.

[2015-11-15 16:55] SecUpwN commented on #489
That's great news for our project! @He3556, feel invited to re-open this Issue if aplicable.

[2015-11-15 17:34] He3556 commented on #489
Didn't know about CDMA in Czech Republic.
But found an overview - https://en.wikipedia.org/wiki/List_of_CDMA2000_networks
Does somebody have informations about CDMA catcher?

[2015-11-15 21:27] #629 closed

[2015-11-15 23:58] SecUpwN commented on #582
@banjaxbanjo, has https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/40098a0bd2ea8b3fa8da64e92ebfa7101f02f677 been merged already or is this one of the commits you deleted?

[2015-11-16 18:54] hannosch commented on #411
@SecUpwN I don't think there is anything specific you can do to prevent uploading bad data. If you simply take whatever the operating system / cell modem sees and upload that, that's what all other applications do as well.

Since most apps don't do any real client side filtering, we have to deal with data of varying quality on the service end and will continue to do so.

[2015-11-16 19:03] hannosch commented on #446
I'm not sure what exactly you want to do with MLS (and what has been done already). If you want to store the MLS data locally and query it offline, the files are available at https://location.services.mozilla.com/downloads in the same format as OCID. Though uncompressed these are above one gigabyte in size.

If you want to use the online query API, the API documentation lives at https://mozilla.gi

[2015-11-17 14:20] ziem commented on #590
@SecUpwN I can create pull request but due to the lack of time I won't be able to do anything more ;/.

[2015-11-17 14:27] agilob commented on #590
User should not be able to manually change location of BTS measures. This is very risky and probably will cause more damage than help.

[2015-11-17 14:55] smarek commented on #582
@SecUpwN afaik was not merged, should I provide it again as PR?

[2015-11-17 17:56] smarek commented on #632
Handled by PR #639

[2015-11-17 18:03] smarek commented on #630
@agilob could you please look up what class should have been removed? Curious what this speculation is based on.

[2015-11-17 18:23] #632 closed

[2015-11-17 18:32] SecUpwN commented on #582
@smarek, yes that would be lovely and hopefully eliminates this bug. :+1:

[2015-11-17 18:34] banjaxbanjo commented on #582
@SecUpwN didn't merge sec nothing special just fixes the invalid psc values. If @smarek wants to bring it up to date that would be good.

[2015-11-17 18:37] SecUpwN commented on #590
I agree. Data collected should be as exact as possible, but not to be manipulated via our app.

@ziem, you should know by now that pull requests are preferred here on our GitHub, so yes, you're very invited to craft one for this Issue. Rest assured that the PR will be checked before I'm merging it in. Cheers!

[2015-11-17 20:15] smarek commented on #614
Thanks for finding this, PR is available #641

[2015-11-17 20:28] smarek opened #642 "Coding guidelines: Comments usage"
Let us demonstrate the problem on current (or proposed update) of `AIMSICDDbAdapter` class

Current: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/25616a0fc0d185aa9e07c92ee5abddb0094ff4fd/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java
Proposed: https://github.com/smarek/Android-IMSI-Catcher-Detector/blob/class-cleanup-3/app/src/main/java/com/SecUpwN/AIMSICD/ad

[2015-11-17 23:21] He3556 commented on #642
Basically i like the additional information about every line of code and i know that EVA put a lot of work into it. But on the other hand i understand that it is a pain to update all the information, when changing the code. So we have to change it to a standard level.

Maybe we first set up some scheme of an external documentation, where we can copy and paste the information from the source code (

[2015-11-17 23:50] #614 closed

[2015-11-17 23:58] SecUpwN commented on #636
[code]

Thanks for informing us, @smarek. Not siure if you can fix what you've detected, but I've been thinking to let [Buildozer](https://buildozer.io/) autoamtically build our releases as well, but I've been a bit reluctant about that until now since I'd have to add our release key to our account there. They previously told me that the key is being stored securely and ONLY being used during the

[2015-11-18 00:02] smarek commented on #636
Well I'm still against uploading your key into any cloud-based service, so I'll try to fix the build first

[2015-11-18 00:48] He3556 commented on #636
Thank you @smarek,
sorry that i can't really help here. But good to know it's not my IDE that is causing the trouble.

[2015-11-18 01:42] SecUpwN commented on #442
Hey @He3556, @Ueland and @smarek, have a look at this! @binitamshah just [shared](https://twitter.com/binitamshah/status/6660816377177743379) the these interesting info on Twitter: [LTE and IMSI catcher myths (Presentation)](https://www.blackhat.com/docs/eu-15/materials/eu-15-Borgaonkar-LTE-And-IMSI-Catcher-Myths.pdf) and [](https://www.blackhat.com/docs/eu-15/materials/eu-15-Borgaonkar-LTE-And-IM

[2015-11-18 11:57] smarek commented on #636
Good, we solved the OT discussion about Gradle with #643 so now for permissions optimalization :+1:

[2015-11-19 07:30] DJaeger commented on #642
* I think discussions should be minified to a NOTE.
* Using javadoc style would be great a can prevent documenting multiple times (code & wiki).
* We should create issues for the TODOs, label them in an declarative way and remove the TODOS in the comments, to have them all in one place.

[2015-11-19 08:46] agilob commented on #642
Just one thing:

documents what's not obvious and what's important.

Documentation of setters like:
[code]
is so goddamn pointless, avoid it.

AIMSICD is not a library so there is no point in documenting everything extensively like Java/Android is documented. Keep it simple, use javadoc, don't develop new standards or formatting or schemes, use githab for chatting.

[2015-11-19 20:14] smarek commented on #147
Well I provided PR to address this issue, about naming the APK, there is a way to provide the APK name from Gradle, do we want to implement that too? I'd be for using the same ID (git id append) as append to APK name (ie. `app-0747dc5.apk`), however we could possibly end up with large number of APKs that don't get automatically deleted

[2015-11-19 20:36] SecUpwN commented on #147
I'm not sure what you mean exactly. We're building our internal testing APKs via [Buildozer](https://buildozer.io/). And the APKs that we add to our [Releases](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases) are being manually created, signed and added by myself. So anyone who is going to craft the builds themselves, will end up getting an APK with the commit ID appended, right?

[2015-11-19 21:00] smarek commented on #147
Yes, I've seen the request to Buildozer to provide APKs suffixed with versionCode, that's neat idea.
About the Releases, I can easily provide Gradle configuration to sign the release APK automatically depending on environment variables contents (if missing, release will remain unsigned, if provided, gradle will try to sign using specified keystore key and passwords can be env hardcoded or provided

[2015-11-19 21:01] smarek commented on #147
Or second nice example of Gradle signing integration depending on env variables https://github.com/WhisperSystems/Signal-Android/blob/master/build.gradle#L246

[2015-11-19 21:03] SecUpwN commented on #147
Beautiful! @He3556, since you'ter crafting our Releases, what do you think about merging this? And to both of you: Will this change anything in the release cycle and publishing Releases?

[2015-11-19 21:05] smarek commented on #642
Also I'm missing some documentation on database columns, ie. what's meaning of `DF_id` and `DF_description` ? Could anybody with deeper understanding of current DB model document on `app/src/main/assets/aimsicd.sql` file please?

[2015-11-19 21:06] smarek commented on #147
IMHO it will make the process only easier to do automatically (so you can even hook cron locally to check if master was pushed and new APK has to be generated or something like that :+1: )

[2015-11-19 21:08] smarek commented on #620
Provided with #644 merge

[2015-11-19 21:08] #620 closed

[2015-11-19 22:40] smarek commented on #582
Provided in #648

[2015-11-19 22:42] He3556 commented on #642
it's already there:
Line 29 * DetectionFlags.csv	# Detection flag descriptions and parameter settings,
Thats why i like something like [Technical-Overview] (https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Technical-Overview)

I also don't want to invent a new scheme but if we use javadoc we just have a few hundert lines of documentation taken out of the comments in the code. I was th

[2015-11-19 22:51] SecUpwN commented on #642
Delete `Technical Overview`? Why not update it accordingly?

[2015-11-19 22:54] #582 closed

[2015-11-20 03:03] rappo commented on #537
@SecUpwN @TPS The only way to have the bounty tag show up here automatically is if there's actually a bounty on this issue. If having the tag on this issue is important to you, you can still manually add / update it as needed.

[2015-11-20 06:22] SecUpwN commented on #537
Thanks for responing, @rappo. As you can see, this is part 2 of the original Issue, but developers that continue the work should get part of the huge bounty posted on the original Issue. Can't I transfer some of it?

[2015-11-20 08:53] #615 closed

[2015-11-21 02:35] andr3jx commented on #88
Hi Sec,
I loaded the currect code into Android Studio and added additional logs for recording the obtained cell data. My tests show that that cell data like CIDs, neighboring cells and signal strength are not obtained or not updated while the screen is off. When the screen is turned on the data gets updated immediately.
Conclusion: AIMSICD can't detect threats while the screen is off (and actually

[2015-11-21 05:59] SecUpwN commented on #88
Good morning @andr3jx, thanks for running these important tests! If our app does not analyze the network variables while the screen is off, why does the phone vibrate when set to vibrate on any CID change then? Indeed, our app would be pretty useless if nothing gets analyzed while the screen is off. How exactly did you run your tests? Maybe @smarek can verify your findings?

[2015-11-21 14:33] andr3jx commented on #88
Can you show me the code where it triggers vibration on any CID change? My observation is that the phone only vibrates if there are problems like no neighboring cells for a CID.

First I added additional logs in the code so I see exactly which functions get called.
I added addtional logs in these functions:
checkForNeighbourCount, updateNeighbouringCells, onCellLocationChanged, onSignalStrengthsCh

[2015-11-21 21:29] He3556 commented on #88
Sorry @andr3jx  i don't know why we left this conversation.
Could you just send us your .apk?
i will test it and maybe some others too?

[2015-11-22 15:23] andr3jx commented on #88
You can download apk and source code here:
[Download from MEGA hoster](https://mega.nz/#F!3cUzka7A!3tUqu86Vh6rfZHZ1909B5Q)

[2015-11-23 00:32] andr3jx commented on #88
I also did now a quick test on my Nexus 7 3G (2012) running Android 5.1.1

Here is a logcat:
[code]

[2015-11-24 01:33] He3556 commented on #88
good that i saved the email with a link to this issue :) it's a jungle out there!

when i switch off the display:
[code]

thats all - there is no log until i move the phone. Than the routine gets triggered to prevent signal strength measurement.

[code]

Just for me, to remember: Didn't we implement some service task that keeps running in the background, when the App is working in the background?

[2015-11-24 12:46] andr3jx commented on #88
One line remains the same so it is not clear if the API only returns the same CID(until the screen is switched on) or if there was really no CID change. (on my phone the first is the case).

11-24 02:**09**:37.824    1053-1053/? I/AIMSICDDbAdapter﹕ DBi_bts updated: CID=xxx**79** LAC=xx71
11-24 02:**18**:20.692    1053-1053/? I/AIMSICDDbAdapter﹕ DBi_bts updated: CID=xxx**45** LAC=xx71
Have you swit

[2015-11-25 05:00] #147 closed

[2015-11-25 05:23] SecUpwN commented on #636
Thanks again @smarek for your improvement on git versioning! Let's continue with this very important Issue. Question is, how can we use as few permissions as possible, but still make our app work for as many devices as possible? And is there a way of checking which permissions are permantently needed?

We should probably also throw out deprecated permissions:

[code]

[2015-11-25 08:20] SecUpwN commented on #92
Just tossing in this interesting repo which might be useful for solving this Issue: [SMS SMSC Android App](https://github.com/P1sec/sms_smsc).

[2015-11-25 10:03] banjaxbanjo commented on #537
@SecUpwN  @smarek
Guys I think we can get this to work on non rooted phones less than api < 17 I haven't test yet but should work if @smarek wants to test somehow. if 17 or higher user will be asked for root
commets added only for guide can be removed.

[code]

[2015-11-25 16:55] andr3jx commented on #92
We need to rewrite the sender's SMSC which is not supported by android. It doesn't help changing our SMSC.
See also [this post](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/69#issuecomment-52376742) and [this post](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/92#issuecomment-51970568).

[2015-11-27 12:39] He3556 commented on #88
When i switch off the display and keep moving the phone it's updating the DBi_bts

[code]

When i switch off the "Flight Mode" and turn off the lights i get CellID= -1
[code]
======Switch Flight mode off and put screen off immediately ========
[code]

When you switch off the display and don't move the phone - does it also stop producing any log?
Maybe we should trigger the logging of signal streng

[2015-11-27 17:15] andr3jx commented on #88
I checked now, yes it stops logging. If I keep moving then eventually last known GPS location is logged.

Yes this might be worth a try.

Good to know that at least on some phones CID and LAC can be obtained. Still it's not good that signal strength and neighboring cells are not logged.
We should also add something which displays what kind of data was obtained while the screen was off when you wak

[2015-11-30 23:00] SecUpwN opened #650 "Vulnerabilities detected by AndroBugs Framework"
Mike Kuketz from my beloved [Kuketz IT-Security Blog](http://www.kuketz-blog.de/) was so kind to analyze the current build of our app created from our `development` branch using [AndroBugs](http://androbugs.com/) (also [on GitHub](https://github.com/AndroBugs/AndroBugs_Framework)). These things need to be fixed:

[code]

[2015-12-02 17:56] DJaeger commented on #457
If E:V:A is right and the exact location of CDMA towers is delivered by CDMA that would be great.
But it's not cleat, if Femtocells are also delivering their position.
In addition we currently don't have a list with these "ranges".

[2015-12-03 02:14] tompreuss commented on #556
Hi @SecUpwN, my [APNSettings](https://github.com/tompreuss/APNSettings) has no such feature.  It just opens the Android Settings APN Settings dialog.

To do what you're thinking of doing I think you might want to look at either using [android.provider.Telephony.Carriers](http://developer.android.com/reference/android/provider/Telephony.Carriers.html) or you might be able to do something by just ch

[2015-12-03 10:57] LeoChirkov commented on #145
Do you need just to start a hidden menu from your app or do some more complex task? You may use [my app] (https://github.com/LeoChirkov/Service-Menu), which supports Sony, LG (not all), Motorola and HTC devices and can be easily extended to support more vendors. I'll be glad to do that and share the results with you, guys.

[2015-12-03 11:33] SecUpwN commented on #145
Thanks for offering your help, @LeoChirkov. We'd essentially need to be able to access the `Service Mode` with the hidden details for scraping (like mobile network settings not available in the AOS, API or UI) - but that for as many devices as possible. Would access to those details be possible with your help?

[2015-12-03 11:43] banjaxbanjo commented on #145
@LeoChirkov String samsungCode = "0011";
Add that to your app Leo a lot of samsung phones use this code to access service menu.

[2015-12-03 12:35] SecUpwN commented on #636
I've been in touch with @tobykurien and he just sent me these important hints:

[2015-12-03 20:53] LeoChirkov commented on #145
I didn't dig so deep to find out if it's possible to get direct access to such features as changing network settings. Here what I think about possible solutions:
1) start service menu explicitly and change settings manually (cons: factory FW only, not user friendly; pros: no permissions required, easy to implement);
2) get direct access to network settings (cons: only rooted devices, app must be i

[2015-12-03 20:55] SecUpwN commented on #145
@LeoChirkov, have you tested our app yet? Press button `AT Command Interface` on your rooted device..

[2015-12-03 21:10] larsgrefer opened #653 "SVG icons"
@SecUpwN Do you have the icons as vector files?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28831700-svg-icons?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issue

[2015-12-03 21:12] SecUpwN commented on #653
@larsgrefer, yes I do, they're on my computer across town. What would you like to do?

[2015-12-03 21:16] larsgrefer commented on #653
add them as drawables to the app

[2015-12-03 21:20] LeoChirkov commented on #145
My bad, didn't test yet. Have you already tried to do some reverse engineering with service menu packages from any manufacturer?

[2015-12-04 12:13] agilob commented on #653
Yes, @SecUpwN please add them to the repo.

[2015-12-04 12:19] SecUpwN commented on #653
I will be home later today and will add the link here later on. Hope @larsgrefer is able to use that file.

[2015-12-04 12:25] larsgrefer commented on #653
@SecUpwN There is no need to zip them

SVG's are text files, so git can handle them pretty well

[2015-12-04 12:28] banjaxbanjo commented on #145
@LeoChirkov @SecUpwN access to service mode programmatically is possible all you have to do  is:
[code]
Only problem is you can't do this after 4.1 I think or less. To get the hooks to send to and get data back just logcat -b radio and manually open service menu then you will see every hook used depending what menu you go into. this data is sent back to the binded service and you can extract data

[2015-12-04 12:44] SecUpwN commented on #653
I know, I thought you wanted to add them yourself. The Icons in our app are currently PNGs and had been shrinked before. Am I right assuming that I shall replace all PNG files with the SVG version of the Icon?

[2015-12-04 12:50] larsgrefer commented on #653
I'm going to create new vector assets in `app/res/drawable` based on the svg's and then remove the png's in `app/res/drawable-*dpi`

[2015-12-04 12:53] agilob commented on #145
AIMSICD requires 4.1 or newer. It is worth to support only 4.1 which is used by 10%?

[2015-12-04 12:54] SecUpwN commented on #653
@larsgrefer, I see that you know what you're doing. I'll be sending the ZIP file to you, I don't want to mess up the code just because I don't have the right plan on how to add the SVG Icons. Stay tuned.

[2015-12-04 13:01] banjaxbanjo commented on #145
It wouldn't but the phones from the 10% would have a pretty good advantage by having to access to phone service. Sucks really because we could get a crap load of data from this menu like timing advance,arfcn, tmsi, ciphermode (on certain phones).

[2015-12-04 13:07] agilob commented on #653
What else are you hiding there @SecUpwN ?

[2015-12-04 13:12] agilob commented on #145
Yes, but AIMSICD requires >= 4.1 and that snipped works only on <= 4.1 and selected phones with extra support from manufacturers (also some HTCs, LGs and Sonys). So the question is, is it important to support decaying version of android - 4.1 and some unspecified phones where this support can be added or removed with any update?

I would say definitely yes, but we would need a bigger group of test

[2015-12-04 13:14] SecUpwN commented on #653
@agilob, what do you mean by "hiding"? On my computer? A lot! :smile:

[2015-12-04 13:18] banjaxbanjo commented on #145
I agree that is why this option is not coded into AIMSICD and has been known for some time that this was possible.

[2015-12-04 13:19] banjaxbanjo commented on #145
checkout darshak and you will see how he used this method to dump ramdump files to extract gsm data.

[2015-12-04 13:44] He3556 commented on #636
Thanks for your research @SecUpwN
No.1 Summary from the developer: "So, well, it doesn't really work but at least it was interesting. "
No.2 seems outdated (2012, Android 4.1.1.)

Since we have the repository [permission-cleanup] (https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/tree/permissions-cleanup) i would just kick out Camera, Microphone and Contacts and test it.
Maybe not bad to us

[2015-12-04 13:50] SecUpwN commented on #636
@He3556, thanks for your kind words. Below are the permissions I kicked so far. Anything else to kick?
[code]

[2015-12-04 15:56] larsgrefer commented on #653
@SecUpwN However you like :D

[2015-12-04 15:58] larsgrefer opened #655 "Use Realm as Database [$30]"
https://realm.io/docs/java/latest/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28855765-use-realm-as-database?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issue

[2015-12-04 16:07] agilob commented on #653
I meant files that could be useful, like those svgs.

[2015-12-04 16:41] SecUpwN commented on #655
Thanks for your suggestion. Would that help us finally solving the almost completed #215?

[2015-12-04 16:42] TPS commented on #653
I suppose this is somewhat interrelated to #512?

[2015-12-04 17:09] SecUpwN commented on #653
Files that can be useful for this project reside in our [Research](https://spideroak.com/browse/share/AIMSICD/GitHub). Note: I am still tinkering with the thought of moving away from `SpiderOak` and towards [OwnCloud](https://owncloud.org/).

@larsgrefer, all images had been compressed with #378. What is the advantage of using SVGs now?

[2015-12-04 18:40] agilob commented on #655
We're on ADK 16 which is JDK6?

[2015-12-04 23:13] SecUpwN commented on #75
@0x7678, have you been testing our app with your OsmocomBB phone yet?
We need some hard facts and continuous testing. Thanks for replying here!

[2015-12-05 00:12] #69 closed

[2015-12-05 00:53] larsgrefer commented on #655
Yes, i think it would help

[2015-12-05 10:51] larsgrefer opened #658 "Let travis build signed release-APK's"
Steps:
- [x] Adjust the `app/build.gradle`-file to read the sensitive keystore passwords from [properties](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_configuration_properties)
- [x] Add the ([encrypted](https://docs.travis-ci.com/user/encrypting-files)) keystore to the repo
- [x] Set [special environment variables](https://docs.travis-ci.com/user/environment-variab

[2015-12-05 11:24] agilob commented on #658
Could you list at one benefit of uploading release keystore and it's password to Internet?

[2015-12-05 12:10] larsgrefer opened #659 "Collect bug-reports at runtime"
Suggestion: https://fabric.io/kits/android/crashlytics

**To-Do added by SecUpwN:**
- [x] Implement runtime bugcollector that sends stracktraces and as few personal data as possible
- [ ] Under menu `Debugging` do not directly show the running log, but ask the user to select between:

[code]

If a user selects the second choice, our app should **not** send _any_ bug reports through the web and jus

[2015-12-05 15:06] larsgrefer commented on #512
I think we should'nt keep the colored statusbar icon, because it forces us to keep our `targetSdk` below 21 (In my opinion a `targetSdk` above 21 is more important than an colored icon)

In order to inform the user about the current status i see 2 options:
- Using differet shapes for different status like here: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/512#issuecomment-125046

[2015-12-05 16:14] TPS commented on #512
Please don't _force_ those of us who don't _want_ monochromatic notifications into having them!  Will `targetSdk` < 21 prevent installation or functionality on any systems?

[2015-12-05 16:28] SecUpwN commented on #659
We're currently using [Coverity Scan](https://scan.coverity.com/projects/3346), shouldn't that be good enough?

[2015-12-05 16:38] SecUpwN commented on #658
Not sure if that is really an option. Can you reference a project that is already using this?

[2015-12-05 18:26] larsgrefer commented on #512
@TPS What is your opinion about a peeking notification? It should "scream 'AIMSICD'" pretty well.

The decision to use monocromatic statusbar icons is not mine, but the decision of the AOSP when they introduced the Material-Design with Android 5.0.

I don't want to enforce monocromatic icons for this app, but i'd like to use a targetSdk version as high as possible because i want to use native mate

[2015-12-05 18:31] larsgrefer commented on #659
Coverity Scan performs static analysis at compile-time.
Crashlytics would inform us about Crashes (Exceptions) at runtime.

[2015-12-05 18:35] larsgrefer commented on #658
https://github.com/larsgrefer/bpm-meter-android

Travis adds the correctly signed release-apk to every [github release](https://github.com/larsgrefer/bpm-meter-android/releases)

[2015-12-05 19:54] TPS commented on #512
Peeking notifications are great as an _addition_, but not _instead_ of ongoing state notifications in the notification bar.  They work best as change-of-state (i.e., to a worse security cell tower, &c) notices.

Many apps seem to have (configurable) Material skins.  What other features did you anticipate would be important enough to lose the compatibility ___&___ the color notifications for those

[2015-12-05 20:04] larsgrefer commented on #512
What kind of compatibility do you mean?

[2015-12-05 22:43] larsgrefer commented on #512
@SecUpwN What's your opinion about this?

[2015-12-06 05:17] TPS commented on #512
I guess I worded that incorrectly:  I meant loss of _functionality_ for those devices < targetSdk, with the app relying on features not present in environment.

[2015-12-06 13:55] larsgrefer commented on #512
@TPS The App can only rely on features present in `minSdk`. All features above that can only be used conditionally (because they are maybe not present)

The `targetSdk` means:

Such a *compatibility behavior* is the reason why we can currently use colored statusbar-icons on api >= 21

[2015-12-06 15:11] TPS commented on #512
@larsgrefer I don't mind the _additional, optional_ functions, then, as such, but then the devs will have to keep in mind UI dichotomy for the have-nots.  Eventually, the temptation is to raise `minSdk` to match `targetSdkVersion`, as it's too hard to (1) maintain simply optional features or (2) deal with trying to backport features that were conceived as optional, &, with later iteration, become

[2015-12-06 15:34] TPS commented on #512
Also, some folks don't like peeking notifications (too much like popup ads), so configurable 'off', please!

Instead of increasing `targetSdk`, perhaps importing code from others e.g., https://github.com/SimenCodes/heads-up (GPL3), would do the job?

[2015-12-06 16:53] 0x7678 commented on #75
Hi Everyone, @SecUpwN and @E3V3A my apologies for being too silent, this are the tests so far done with OsmocomBB :

 Silent SMS (currently working on modifying OpenBTS to allow sending silent SMSs)
 IMSI-catcher functionality by fake BTS (i.e. osmo-phone in BTS mode.)
     AIMSC doesn't detect the fakeBTS
     User can still proceed with SMS/VOICE without any detection as the OsmocomBB BTS interr

[2015-12-07 05:26] SecUpwN commented on #512
As you already saw, I merged the first part of material design after I've read the postive https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/654#issuecomment-162320271. Regarding future versions of our app, we always had the mindset to make AIMSICD work as best as possible for as many devices as possible. Not sure if that is possible when reasing the `targetSdk`. Can you reference any

[2015-12-07 05:49] SecUpwN commented on #658
@larsgrefer, thanks for considering to improve our release cycle, but currently the way we work is explained a bit in [Development Status](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Development-Status) (let me know if you see improvements that shall be made to that page). As you can see when looking at our [Releases](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/relea

[2015-12-07 06:22] SecUpwN commented on #439
@MatejKovacic, please accept that I am closing this as `INVALID` since our app does not yet support LTE until #442 has been solved. Furthermore, you did not respond via E-Mail since more than a month. You may test the latest version of our app without using an LTE connection and re-open this if it reappears.

[2015-12-07 06:22] #439 closed

[2015-12-07 06:29] SecUpwN commented on #659
One of our **main principles** we follow, is to craft our app in a way so that it does not phone home without explictly asking the user. Keep in mind that AIMSICD is mainly used by paranoid privacy geeks. ;-)

Collecting debugging data of users has been discussed extensively in #511 already, please have a read. Previous versions of our app included a hard-coded email address (which we changes seve

[2015-12-07 07:54] SecUpwN commented on #655
Thanks for answering, @larsgrefer. I guess I have to clarify my question regarding #215: Will this help finishing the last bits and pieces to complete #215, or do we have to re-craft the whole database? Don't you think it would be much better if you would first have a look at what is missing to complete the database overhaul and then see how we can transfer that work into Realm, if that eases up d

[2015-12-07 08:22] SecUpwN opened #661 "Crashes when pressing Status-Icons and Debugging"
Hi @larsgrefer, I've just played a bit with our fresher app after you polished our design a bit with #654.
Looks and feels great so far, but our app now crashes on the following events (which it didn't do before):

* Pressing the Status Icons in the `About` menu
* Pressing `Debugging` in the Navigation Drawer

I've crafted a [logcat](https://defuse.ca/b/ByxKkHqk) for you, hopefully it contains eno

[2015-12-07 08:35] SecUpwN opened #662 "Enable Attack Detection after quitting and restarting"
When pressing `Quit` from the Navigation Drawer, our app quits as supposed to. But when restarting it, the button `Toggle Attack Detection` is OFF. It shall automatically be enabled when starting our app.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28909795-enable-attack-detection-after-quitting-and-restarting?utm_campaign=plugin

[2015-12-07 08:49] larsgrefer commented on #661
I'll have a look at it later

[2015-12-07 09:32] larsgrefer commented on #642
Thoughts about some parts of the (javadoc-) comments:
- `Description:`
  - Don't prefix the description with `Description:` in order to be more javadoc-like
- `Issues:` and `Todos:`
  - Don't track this in comments
  - Better track them here at github (or another bugtracker)
- `Changelog:`
  - Don't track this in comments
  - We have `git log -- <file>` and `git blame <file>` for that
- In general

[2015-12-07 09:37] larsgrefer commented on #655
I think using realm is more a complete re-craft than finishing some last bits and pieces

Realm does not use SQL and is more object-orientated (you just store and load POJO's)

[2015-12-07 09:42] SecUpwN commented on #642
Fully agree on this. @larsgrefer, have a look at [General Overview](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/General-Overview) and [Technical Overview](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Technical-Overview). As well, we have a page called [Development Status](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Development-Status). Generally

[2015-12-07 09:49] larsgrefer commented on #512
@TPS The option to turn of peeking notifications is already provided by the android system

@SecUpwN I agree with you that we should be careful with too much circumventing

As far as I know its a best practice to keep
- `targetSdkVersion` and `compileSdkVersion` as high as possible
  - in order to be able to use newer features on newer phones
- `minSdkVersion` as low as possible
  - in order to be

[2015-12-07 10:00] larsgrefer commented on #642
About the wiki-pages:
- General Overview
  - looks good to me
  - low risk to become out-of-date
- Technical Overview
  - looks good too
  - maybe needs some work to be kept up to date
- Development Status
  - **Already accomplished**-Section
    - Aren't these just resolved issues and merged pull requests?
    - Much work to keep up-to-date
  - **Working on right now**-Section
    - Better track

[2015-12-07 10:29] larsgrefer commented on #659
@SecUpwN We could enable this feature: https://docs.fabric.io/android/crashlytics/advanced-setup.html#using-the-privacy-dialog

[2015-12-07 11:39] SecUpwN commented on #659
Not sure what a privacy dialog helps when Twitter itself is having contracts with the CIA.
What's the difference to [Bugsnag](https://github.com/bugsnag/bugsnag-android)? Is there a comparison of such suites somewhere?

[2015-12-07 13:55] larsgrefer commented on #659
Bugsnag should be good too

[2015-12-07 22:30] larsgrefer opened #666 "Remove default rules from our proguard file"
We are importing two proguard files:
1. `getDefaultProguardFile('proguard-android.txt')`
2. `'proguard-rules.txt'`

Our file (the second one) contains many rules which are already defined in the first one.
We should remove those rules from our file

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28931618-remove-default-rules-from-our

[2015-12-07 22:32] smarek commented on #666
I dont agree, first file contains default rules given by Android SDK and libraries, see docs: https://developer.android.com/tools/help/proguard.html#enabling-gradle

[2015-12-07 22:43] larsgrefer commented on #666
@smarek and our file contains most of those default rules too, which is redundant

[2015-12-07 22:46] larsgrefer commented on #666
I've never seen a project before which needed to (re)declare things like this:

[code]

[2015-12-07 22:48] smarek commented on #666
@larsgrefer I agree, however important is **most of those default rules**, not all of them, and they can change depending on SDK changes, I'd be more for removing rules from our proguard file (to not duplicate the rules)

[2015-12-07 22:52] larsgrefer commented on #666
I think you missunderstood me.
All I want to do is to clean up our file

[2015-12-07 22:53] smarek commented on #666
Oh sorry, I've read it as "we should remove the import of default proguard file", my fault, I agree with your idea :-)

[2015-12-07 22:55] larsgrefer commented on #666
the worst rule in our file is
[code]
which nearly disables proguard

[2015-12-07 23:07] smarek commented on #658
Well I'm for having a "reproducible build" feature

[2015-12-07 23:10] smarek commented on #512
Also, it's probably said somewhere in this thread, but notification on locked screen in lollipop is the same for all states of AIMSICD (disregarding red/yellow/green/...), this should be fixable by the same process

[2015-12-07 23:11] larsgrefer commented on #658
@smarek What exactly do you mean?

[2015-12-07 23:12] smarek commented on #642
@larsgrefer "Already accomplished" and "Working on right now" is imho duplicate to issues and changelog. If anything, I'd keep "Already accomplished" only for achieved long-term (big) goals, not for everything we touched on the way.

[2015-12-07 23:14] smarek commented on #590
@agilob I agree, personally I'm against implementing this feature. Also the current PR draft has to be reworked a lot to be wide-usable

[2015-12-07 23:21] smarek commented on #659
Well we can always anonymize reports (usually they include a lot of personal identifiable info), and I'm against using private services (binary libraries, private databases), we can work out something based on open-source hosting and open-source android bug reporting solution, back in the days I've used ACRA (https://github.com/ACRA/acra), don't know if it's still usable today

[2015-12-07 23:22] smarek commented on #658
Automated releases are reproducible, and in security related app like this, build reproducibility is important imho

[2015-12-07 23:24] larsgrefer commented on #658
@smarek :+1: to that

[2015-12-07 23:27] smarek commented on #636
Closing because #649 was merged

[2015-12-07 23:29] larsgrefer commented on #636
reopen because of https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/649#issuecomment-162476210

[2015-12-07 23:32] smarek commented on #537
@banjaxbanjo will test, thank you!

[2015-12-08 08:01] DJaeger commented on #658
:+1:

[2015-12-08 09:15] DJaeger commented on #642
I fully agree with @larsgrefer

[2015-12-08 09:31] DJaeger commented on #512
Again I fully agree with @larsgrefer.

One new feature that is relevant to us introduced in a newer SDK version is the native support of Dual-SIMs and also the material design, which will both be complicated to introduce, if we still rely on such a low targetSdk.

[2015-12-08 09:34] DJaeger commented on #662
The startup behavior of the attack detection and monitoring is configured in settings.
We have discussed this already.

[2015-12-08 10:57] #661 closed

[2015-12-08 11:25] SecUpwN commented on #439
@smarek, this Issue is `INVALID` since we do not support LTE yet (see #442) and it will likely not happen until the `v0.1.37-alpha` release. Hence no need to assign you, me, or a specific milestone. ;-)

[2015-12-08 11:36] SecUpwN commented on #666
Since this is an open project where everyone can contribute, it is no wonder you'll be discovering creepy stuff as well. Thanks for your really giving our project this very much needed lifting, @larsgrefer! :+1:

[2015-12-08 11:48] SecUpwN commented on #662
Yes, I know. But is it normal behavior that when checking `Persisten Service` and all protection mechanisms our app still does not start with detections enabled when restarting after pressing `Quit`?

[2015-12-08 11:53] SecUpwN commented on #642
@larsgrefer, shall I place https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/642#issuecomment-162463128 into our [Style Guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide)?

[2015-12-08 11:55] larsgrefer commented on #642
@SecUpwN good idea

[2015-12-08 11:55] SecUpwN commented on #590
@smarek, ok, then let's decide on thks for now. I would like to hear @larsgrefer here before closing both.

[2015-12-08 12:04] SecUpwN commented on #511
I am clsoing this Issue in favor of #659, which is in a better shape. Please continue discussion there! :+1:

[2015-12-08 12:04] #511 closed

[2015-12-08 12:07] SecUpwN commented on #659
It is being actively developed and maintained. As you can see, there's been an extensive discussion about in #511, even its developer @william-ferguson-au chimed in that discussion at https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/511#issuecomment-119443768. I am closing #511 in favor of this Issue now, this one is in better shape. @larsgrefer, I'm having difficulties on the decis

[2015-12-08 12:13] SecUpwN commented on #642
@larsgrefer, done. You also have editing rights in the WIKI, so feel invited add your improvements. ;-)

[2015-12-08 14:18] TPS commented on #512
:+1: +1 for #504 resolution, but then we ***must*** make actual progress on this _specific_ issue!  Anyone?!

[2015-12-08 15:53] larsgrefer opened #671 "Use checkstyle to enforce coding guidelines"
http://checkstyle.sourceforge.net/checks.html

Just an idea. Which checks to enable has to be discussed separately

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28951858-use-checkstyle-to-enforce-coding-guidelines?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2015-12-08 15:56] larsgrefer opened #672 "Update Javadoc comments"
according to #642

* remove `Changelog:`-Section
* remove `Issues:`- and `Todos:`-Section
* remove `Description:`-Prefix

---

**EDIT by SecUpwN.** I have crawled through our *whole* code and below files need *heavy* cleanup.
Please add a checkmark when a file is cleaned up so that we know what still needs to be worked on:

- [ ] AIMSICDDbAdapter.java
- [ ] BtsMeasureCardInflater.java
- [ ] BtsMea

[2015-12-08 17:34] timofonic commented on #590
I had to uninstall this app because it was unable to upload locations most
of the time. I would prefer if it works as some kind of UnifiedNLP plugin
and share resources, including databases.

On Tue, Dec 8, 2015 at 12:55 PM, Security: Pwned. <notifications@github.com>
wrote:

[2015-12-08 19:44] larsgrefer commented on #658
@SecUpwN @He3556 I could implement this, using a dummy keystore. And if it works good and fits our needs, we can exchange the dummy with the real one

[2015-12-08 19:44] larsgrefer commented on #671
@SecUpwN Your Opinion?

[2015-12-08 21:57] larsgrefer opened #674 "ProtectedPermissions: Using system app permission"
- [ ] `../../src/main/AndroidManifest.xml:45`: Permission is only granted to system apps
[code]
- [ ] `../../src/main/AndroidManifest.xml:46`: Permission is only granted to system apps
[code]
- [ ] `../../src/main/AndroidManifest.xml:47`: Permission is only granted to system apps
[code]
- [ ] `../../src/main/AndroidManifest.xml:48`: Permission is only granted to system apps
[code]
- [ ] `../../src

[2015-12-08 22:00] larsgrefer commented on #674
see also: #636

[2015-12-08 22:04] agilob commented on #674
Copperhead runs AIMSICD a system app. I installed AIMSICD as sapp manually too.

[2015-12-08 22:10] larsgrefer commented on #674
In this case lint should not show this as errors

[2015-12-09 04:37] SecUpwN commented on #674
Thanks for the ongoing analysis of the used permissions, @larsgrefer. How to fix those lint errors?

Did you use [AndroidPermissionsUsage](https://github.com/RomainPiel/AndroidPermissionsUsage) for your permission analysis? Please update the OP to state which permissions need to be removed, also keep in mind that @Copperhead runs AIMSICD as system app.

[2015-12-09 04:43] SecUpwN commented on #671
I am fire and flame for it! Developers having a first glance at the code will be happy to know that guidelines exist and the everyone contributing must follow those. Any drawbacks we would face?

[2015-12-09 05:05] SecUpwN commented on #590
@timofonic, your Issue is another one, see #608. This one is about creating *exact* BTS locations to exactly map the BTS and possibly pinpoint attackers (at least that is what I think this might be good for).

[2015-12-09 05:42] SecUpwN opened #675 "Aptoide cancelled our store again - should we ban Aptoide?"
Good morning security enthusiasts! I am filing this Issue here for public discussion because I am **sick** of @Aptoide doing no effort to explain why our Aptoide store located at http://aimsicd.store.aptoide.com/ has been cancelled the second time without any warning. I've been writing multiple emails to their support since November 19 and even to publishers support (which is supposed to resolve m

[2015-12-09 05:58] SecUpwN commented on #512
@TPS, please don't push us. We still "feature" more bugs than functionality.

Ok, what do you suggest to which versions to raise them to?

Fully agree. Again, which version do you suggest here?

[2015-12-09 06:01] #662 closed

[2015-12-09 06:14] SecUpwN commented on #658
@larsgrefer, it seems as if everyone is for adding this feature and I am the only one left who did not yet understand what exactly will happen. So let me ask like a dumbass again, please. ;-) Is this correct:

When feeling like it's time for a new release, I'll do the following:

1. Change `versionName` in `app/build.gradle`
2. Update `CHANGELOG` and push to branch `development`
3. Sync branch `de

[2015-12-09 06:24] agilob commented on #674
Lint showed this as an error because android 5.1 and 6 forbid installing system apps manually. You can do it only during ROM installation. It's a new policy from Google executed by SELinux. They don't want you to own your device so it shows as an error, downgrade gradle and lint to hide this error.

[2015-12-09 06:40] agilob commented on #658
@SecUpwN

You will publish your original keystore in github and upload password to it to travis. No one reasonable from sec-community will ever trust this app again. If you think using 3rd party proprietary service for gathering crash logs is bad, this is 1000x worse.

[2015-12-09 06:48] agilob commented on #662
`Toggle attack detection` works only if GPS is enabled and it's awaiting GPS-fix, isn't it?

[2015-12-09 06:51] agilob commented on #675
XDD

[2015-12-09 06:59] SecUpwN commented on #662
No, this button is supposed to be the On/Off-Switch for the detections enabled in `Preferences`, for example detection of silent SMS. What you are talking about, is when wanting to collect connected BTS (correct me if I'm wrong here), then we need the GPS-fix. Issue #578 is about the fact that our app does not remember if attack detections are enabled or disabled when quitting our app and restarti

[2015-12-09 07:03] agilob commented on #662
1. Turn off **all** location services
2. Turn off AIMSICD completely (and remove from recent)
3. Start AIMSICD with **no location service whatsoever
4. Toggle attack detection
5. You can't without GPS on
?

[2015-12-09 07:04] agilob commented on #675
Ehh try to make it loud on reddit, /r/privacy, /r/netsec, /r/androiddev

[2015-12-09 07:11] SecUpwN commented on #662
@agilob, this Issue is **closed** in favor of #578. I am not sure you understood what my Issue is about:

1. Press `Toggle Attack Detection` to run it ON
2. Press `Quit`
3. Re-enter App and notice how `Toggle Attack Detection` it turned OFF.

[2015-12-09 08:41] agilob commented on #578
Yes @SecUpwN I did understand what you mean. I just don't think it should turn itself on automatically, it causes huge battery drain.

[2015-12-09 08:42] SecUpwN commented on #578
Me neither. But it should *remember* the its previous setting when the app gets restarted!

[2015-12-09 08:47] agilob commented on #578
Why should?

User **should** decide when to start draining battery and getting GPS-fix.

[2015-12-09 08:51] SecUpwN commented on #578
Hmm.. you're somehow right as well. My initial thought was that a user could enable protections, accidentally quit our app and re-enter it without knowing that nothing is being analyzed, @larsgrefer, what do you think, would you consider this an Issue or do you have the same mindset like @agilob?

[2015-12-09 08:54] agilob commented on #578
I don't want application to decide when it accesses my device logs and starts getting GPS-fix because it was doing last time when I used it.

[2015-12-09 09:54] SecUpwN commented on #672
@larsgrefer, is it one specific file you're referrring to, or do you mean the whole code?

[2015-12-09 09:59] larsgrefer commented on #672
The whole code

[2015-12-09 10:14] larsgrefer commented on #674
@agilob In the current configuration the app is not a system app, so this is the reason:

@SecUpwN The above error message was generated by LINT

[2015-12-09 10:52] SecUpwN commented on #580
This Issue seems to be not present any longer. Case closed, feel invited to re-open if it appears again.

[2015-12-09 10:52] #580 closed

[2015-12-09 11:03] SecUpwN commented on #181
Just tossing it in: I smiled when using [Omni-Notes](https://github.com/federicoiosue/Omni-Notes), it features a great [AppIntro](https://github.com/PaoloRotolo/AppIntro/). Furthermore I'd like to know if it makes sense pulling our `CHANGELOG` directly into the app to show it with [ChangeLog Library](https://github.com/gabrielemariotti/changeloglib)?

[2015-12-09 11:05] SecUpwN commented on #538
@larsgrefer, does #670 solve this as well? Not sure what the "Issue" is here or where to move this.

[2015-12-09 11:14] larsgrefer commented on #538
@SecUpwN I don't think so. This Issue is about what information we can get out of logcat while #670 was about how we log into logcat

[2015-12-09 11:15] SecUpwN commented on #538
Thanks for clarifying. Since this Issue has no real goal to solve, is it subject to be closed now?

[2015-12-09 12:01] SecUpwN commented on #605
@banjaxbanjo and @smarek, would you please have a look at this? Thank you guys!

[2015-12-09 12:07] larsgrefer commented on #538
As @E3V3A mentioned:

[2015-12-09 13:36] banjaxbanjo opened #677 "Crash with new Pop Up system in SmsDetector."
@larsgrefer Hey mate there appears to be a crash when an alert is detected in SmsDetector.

    java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()
            at android.os.Handler.<init>(Handler.java:200)
            at android.os.Handler.<init>(Handler.java:114)
            at android.app.Dialog.<init>(Dialog.java:112)
            at android.app.D

[2015-12-09 15:18] SecUpwN opened #678 "Replace removed ProgressBar with more stable Indicator"
After removing the glitchy ProgressBar with #673, I consider it important to now re-add a more stable visual Indicator. I've digged through many projects and collected some ideas. Feel free to add yours!

* [SmoothProgressBar](https://github.com/castorflex/SmoothProgressBar) (different designs, my current favourite)

![SmoothProgressBar](https://github.com/castorflex/SmoothProgressBar/raw/master/s

[2015-12-09 16:06] SecUpwN commented on #675
And suddenly our store works again. No excuse, no clarification, no nothing. How come, @Aptoide?

[2015-12-09 17:11] larsgrefer commented on #678
We already have a SwipeRefreshLayout: http://developer.android.com/reference/android/support/v4/widget/SwipeRefreshLayout.html
So there is no need for an extra dependency i think

[2015-12-09 17:16] larsgrefer commented on #671
Some possible drawbacks:
- Some developers might be annoyed by some rules
- Whenever we want to activate a new rule, we might have some work to do in order to fix the old code in order to pass the new checks

[2015-12-09 17:48] SecUpwN commented on #671
@larsgrefer, I'd like to wait for some devs like @DJaeger, @banjaxbanjo and @smarek to answer here.

[2015-12-09 18:00] #675 closed

[2015-12-09 18:00] banjaxbanjo commented on #671
@SecUpwN @larsgrefer if it helps new coders like me to program better I'm all for it, if it turns out to a pain and slows dev I'd be against.

This could open a can of worms if it's used to check all the current code.

[2015-12-09 18:10] larsgrefer commented on #671
I think we just have to try which of these checks will suit our needs: http://checkstyle.sourceforge.net/checks.html

[2015-12-09 18:12] agilob commented on #671
@banjaxbanjo it will be only pain if you don't have external education (source) and other projects.

[2015-12-09 18:15] banjaxbanjo commented on #671
I'm good so😉

[2015-12-09 18:32] SecUpwN commented on #523
@DJaeger, are you still on finding a solution? Maybe @larsgrefer can add his thoughts?

[2015-12-09 18:33] SecUpwN commented on #671
Means? You're not for using checkstyle?

[2015-12-09 18:36] banjaxbanjo commented on #671
I'm good either way Sec checks will improve code.

[2015-12-09 18:40] SecUpwN commented on #671
Ok, fair words. @larsgrefer, which particular checks do you have in mind to enable?

[2015-12-09 18:50] #666 closed

[2015-12-09 19:40] larsgrefer commented on #653
On API > 21 the app will be smaller and we prevent redundancy in our sources
Am 04.12.2015 6:10 nachm. schrieb "Security: Pwned." <notifications@github.com>:
I meant files that could be useful, like those svgs.

Files that can be useful for this project reside in our Research. Note: I am still tinkering with the thought of moving away from SpiderOak and towards OwnCloud.

@larsgrefer, all images h

[2015-12-09 21:30] #546 closed

[2015-12-09 21:38] SecUpwN commented on #75
Thanks @0x7678 for adding your results here. You see, I would like to close this Issue and let you maintain a table in our WIKI with ongoing test results of the things listed in OP. Possible for you? ;-)

[2015-12-09 21:47] SecUpwN commented on #674
Ok, so what do I have to do to solve this Issue, @larsgrefer?

[2015-12-09 21:51] larsgrefer commented on #674
@SecUpwN I'll fix this

[2015-12-09 22:01] SecUpwN commented on #674
Thanks. But please don't overwork yourself, you're already rocking our code hardcore here!

[2015-12-09 22:15] #674 closed

[2015-12-10 00:44] SecUpwN commented on #678
I agree. But what needs to be added now in order to make the SwipeRefreshLayout show?

[2015-12-10 07:46] 0x7678 commented on #75
Hi @SecUpwN , no problem, it would definitely be my pleasure :100:

[2015-12-10 19:59] SecUpwN commented on #75
Awesome, @0x7678! Please tick which test results you can provide in the OP! You've been elevated to status `COLLABORATOR`. Please craft a neat and useful [markdown table](http://www.tablesgenerator.com/markdown_tables) and add it [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Detection-Results). When testing, please make sure to always use the latest version from our compiled

[2015-12-10 20:27] SecUpwN commented on #523
@larsgrefer, the current build is crashing when pressing `CREDITS`. Any good suggestions for https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/523#issuecomment-126679514?

[2015-12-10 20:28] SecUpwN commented on #523
@larsgrefer, the current build is crashing when pressing `CREDITS`. Any good suggestions for https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/523#issuecomment-126679514?

[2015-12-10 20:44] SecUpwN commented on #173
@0x7678 and @larsgrefer, what are your thoughts on this? Results of #75 will be added [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Detection-Tests).

[2015-12-10 20:54] SecUpwN commented on #636
@larsgrefer, did you run an analysis with [APU](https://github.com/RomainPiel/AndroidPermissionsUsage) yet? Anything else needed to solve before until closing?

[2015-12-10 21:01] #642 closed

[2015-12-11 15:45] larsgrefer commented on #658
let me clarify the above steps:

1. You do whatever is needed to prepare a new Release (your steps 1 and 2)
  * update versionName
  * update versionCode
  * update Changelog
  * update whatever
2. You ensure that there is an tagged commit in this repo by either (your step 4)
  * using `git tag` and `git push --tags` (github will create the corresponding "Release" automatic) or
  * creating an "Re

[2015-12-11 21:52] larsgrefer commented on #636
No, I have not tested yet

[2015-12-11 21:54] SecUpwN commented on #636
Please do and let me know if I shall change anything else before clsoing this Issue as solved.

[2015-12-12 02:19] larsgrefer commented on #658
I've configured travis to upload the `app-*-debug.apk`'s to travis: #682

test release: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases/tag/travisDeployTest
the deployment (tagged-commit): https://travis-ci.org/SecUpwN/Android-IMSI-Catcher-Detector/builds/96397686#L3754

[2015-12-12 03:12] SecUpwN commented on #658
@larsgrefer, I appreciate that you move towards autamted releases, this also solves the already closed Issues #118  and #148. You've seen how I carefully named each release on our release page, manually added the corresponding part of the `CHANGELOG` and then added the correctly named APK. I am afraid that we move too fast so that maintaining the `CHANGELOG` will be even more of a hassle than it i

[2015-12-12 10:27] larsgrefer commented on #658
Yes, this will exactly fix #148

2 options to achieve this:
- Rename the gradle module from `app` to `AIMSICD`
- Run some `mv` commands in travis' `before_deploy`-step

As far as i know travis is not able to edit the release description, we would need lots of custom code to do this (https://developer.github.com/v3/repos/releases/#edit-a-release)

Travis could calculate the MD5 hashes with `md5sum

[2015-12-12 11:22] larsgrefer commented on #677
Thats a bit difficult, even if the DIalog is created (and shown) on the UI-Thread the mContext object is a Service and has now window attatched to show the dialog in

[2015-12-12 20:46] banjaxbanjo commented on #677
Ya pain in ass you can leave this to me if you like will try sort it when I get time so you are not swamped with pr's.

maybe an intent would solve this. What solution would you use lars

[2015-12-12 21:06] SecUpwN opened #684 "Get RootShell from Maven"
Thanks to the already merged https://github.com/Stericson/RootShell/pull/9, we should now be able to replace `third_party/rootshell` with the latest and greatest `RootShell` from Maven.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29074444-get-rootshell-from-maven?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&

[2015-12-12 21:07] larsgrefer commented on #684
I'll implement this later

[2015-12-12 21:08] SecUpwN commented on #684
Thanks. If you won't be able to do it in time, I'll get my hands dirty myself.

[2015-12-12 21:24] larsgrefer commented on #677
In my opion the notification is enough and we don't need an additional dialog.

[2015-12-13 00:04] SecUpwN commented on #658
Already did that with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/5a3c18d32fc18e88fffd783a17b35ba6cc71b96f.

I'd prefer the second option without writing it to its logfile.

I'll try to find that out, @Aptoide has been contacted.

I guess you mean the following from #658:

Is [signing-properties](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/signing.

[2015-12-13 00:14] SecUpwN commented on #537
@smarek and @banjaxbanjo, I've received an E-Mail from @DimaKoz with a [VIDEO](https://www.youtube.com/watch?v=JCEf0VgCRFU) of a user testing AIMSICD and its capabilities of detecting silent SMS. Result: This detection needs more improvements.

[2015-12-13 00:15] larsgrefer commented on #658
No, you don't. What you did there just results in a file not found error.
Gradle still builds `app-*.apk`'s

About Aproide uploads and github-release descriptions:
There are REST-API's to do this. so some curl magic might be helpful here

The signing.properties file is pretty useless

[2015-12-13 00:21] SecUpwN commented on #658
Sorry, didn't know that more changes are necessary. What else need to be done?

Let's see which answer I receive from Aptoide.

Do you see a use for it in the future, or shall I remove it now?

[2015-12-13 00:27] larsgrefer commented on #658
2 options to achieve this:
- Rename the gradle module from app to AIMSICD
- Run some `mv` commands in travis' `before_deploy`-step

We don't need it

[2015-12-13 00:41] SecUpwN commented on #658
Would you please do that? Don't know which files to touch.

Removed with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/51ffa30ae02a0b58986b34ce690a2bc934d6e6f6.

[2015-12-13 00:56] larsgrefer commented on #684
we should wait for Stericson/RootShell#10

[2015-12-13 01:09] larsgrefer commented on #658
I'll provide a PR for the rename

[2015-12-13 01:09] SecUpwN commented on #684
Will do. Guess you're assigned anyhow. ;-)

[2015-12-13 01:10] SecUpwN commented on #658
Huge thanks! :+1:

[2015-12-13 18:25] banjaxbanjo commented on #537
@SecUpwN this is not a one for all app and is limited until we have more logs for other model phones. I've shown app detecting all sms on my Samsung S5 when debugging set to high in menu *#9900#.

The success of this is based on the amount of logs that we receive with users receiving a silent sms.

so far I've got it to this stage with only my own logs so would be great to get other unique strings

[2015-12-13 21:40] #636 closed

[2015-12-13 22:12] larsgrefer commented on #658
@SecUpwN is it important for you that the name is written in uppercase letters? It's more common for artifacts/projects/modules to have lowercase names

[2015-12-13 22:48] SecUpwN commented on #658
You mean `AIMSICD`? Yes, kind of. It is the short name of our app, I'd prefer if it stays consistent.

[2015-12-13 22:50] larsgrefer commented on #658
Yes, i mean AIMSICD

[2015-12-13 22:55] SecUpwN commented on #658
Where would you like to change it? As I said, I'd prefer if it stays that way.

[2015-12-13 23:05] larsgrefer commented on #658
@SecUpwN Have a look at #685

[2015-12-13 23:31] larsgrefer commented on #684
Stericson/RootShell#11

[2015-12-13 23:55] SecUpwN opened #686 "Crash when pressing CREDITS"
The current version of our app crashes when pressing `CREDITS`. Will be solved when #523 gets solved.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29094860-crash-when-pressing-credits?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2015-12-14 00:15] lop1 commented on #630
Same thing here with my galaxy s4 mini stock rom 4.4.2

[2015-12-15 01:11] SecUpwN commented on #269
@larsgrefer, do you have any good ideas how we can implement a functionality test so that the user of our app knows which functions will work on his specific device? This test should be done during #181.

[2015-12-15 07:53] Cellino opened #688 "App is directly closed when trying to open it"
Just installed AIMSICD latest release on a Samsung SM-N9002 Dual SIM. When trying to start the app, it tries to open dialog (some short black window), but then it directly shuts down with message box "Android IMSI-Catcher Detector stopped". But the notification message of that mobile cells are registered. So it seems process is started and the part in background is working, but dialog part seems n

[2015-12-15 08:02] larsgrefer commented on #688
Sorry to hear about this.
It would be great for us to see what `/system/bin/logcat -D` outputs while you try to open the app

[2015-12-15 08:11] larsgrefer commented on #659
@SecUpwN https://bugsnag.com/blog/bugsnag-loves-open-source

[2015-12-15 09:13] Cellino commented on #688
How to get into an Android shell to set debug mode for logcat? Can you propose a certain shell to get the needed information?

[2015-12-15 11:14] larsgrefer commented on #688
If you are familliar with adb, use the `adb shell` command on your PC to get a shell of your device
If you are using a Terminal Emulator on your phone, the `logcat` command must run as root

[2015-12-15 11:25] larsgrefer commented on #688
btw: I'm not able to reproduce this

[2015-12-15 12:50] Cellino commented on #688
Yes, I suppose so. Seems to be something special. Perhaps usage of Google Handschrifteingabe instead of a keyboard? Anyway, attached you'll find the log with option D, I tried to start up AIMSICD 3 times. Hope you'll find something.
[Log_AIMSICD_20151215.txt](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/files/62450/Log_AIMSICD_20151215.txt)

[2015-12-15 12:59] larsgrefer commented on #688
@Cellino Thank you, but the logcat command did not run as root, so logcat only outputs logs from the Terminal Emulator you used, but not from AIMSICD

[2015-12-15 14:46] Cellino commented on #688
Don't know how to run logcat as root... any ideas?

[2015-12-15 14:55] larsgrefer commented on #688
@Cellino first run `su` in order to become root and then run `logcat`

[2015-12-15 15:25] larsgrefer commented on #659
One more argument why we need runtime bugreports: #688

[2015-12-15 23:03] #684 closed

[2015-12-15 23:22] larsgrefer commented on #658
@SecUpwN md5 hashes: 9704a80

[2015-12-16 13:00] SecUpwN commented on #688
@larsgrefer, this is likely the bug I've already reported to you with my logcat right after our release.

[2015-12-16 13:01] SecUpwN commented on #659
Great. But why the hell does @Bugsnag have [pricing](https://bugsnag.com/pricing) if they love open source?

[2015-12-16 13:03] SecUpwN commented on #658
@larsgrefer, so that means https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/9704a8063cf68c494709b071323f3e7bc43ca9c3 attaches an `md5sums.txt` to our release file? Great!

[2015-12-16 13:14] larsgrefer commented on #658
Exacly

The file will have the following format:

[code]

with `md5sum -c` you can check the sums on your local machine
(assuming you have the GNU core utils installed)

[2015-12-16 13:19] larsgrefer commented on #659
@SecUpwN Because they want you to pay for their service if you aren't open source

[2015-12-16 20:31] Cellino commented on #688
Already yesterday I managed to create the log file in Terminal Emulator, but nearly got crazy to copy it from TE to somewhere where it was able to write and is accessible from outside... finally I managed it. Hope you find enough information. I tried 3 times to start AIMSICD, you should find the same sequence 3 times. If I didn't delete enough information please remove log file from thread. Thank

[2015-12-16 21:34] larsgrefer commented on #688
@Cellino According to the log you tried it 4 times :wink:
@SecUpwN Yes, it's the same bug you found

[2015-12-16 21:39] Cellino commented on #688
No, I tried really only 3 times. I wondered about the effect that although I started it only 3 times the stopping error message appeared once more (so 4 times). I don't know why that happens, perhaps due to dialog in background that scans the cells?
Can you tell something about what happens and why the app crashes? Something special with screen resolution?

[2015-12-16 21:43] larsgrefer commented on #688
This is the important part of your log(s):
[code]

[2015-12-16 21:46] larsgrefer commented on #688
@Cellino @SecUpwN Could you please try to start the app once with Location Services (GPS) off and once with GPS on

[2015-12-17 05:16] SecUpwN commented on #688
@larsgrefer, when turning GPS on, `v0.1.37-alpha` [does not crash](https://defuse.ca/b/Ud27gwzC), but when turning it off, [it does](https://defuse.ca/b/fE3gY0hJ). Another strange thing: I can't install the latest version from Buildozer (currently `377`). See [this logfile](https://defuse.ca/b/tjQPvWPA). Seems like permissions we already removed (like NFC and contacts) are being requested. How com

[2015-12-17 05:22] SecUpwN commented on #659
Whoops, I skipped this important sentence:

@larsgrefer, I am about to make a decision here. What does Bugsnag better than ACRA and the others?

[2015-12-17 05:29] Cellino commented on #688
@larsgrefer: Same with me. Starting up with GPS on --> start screen appears, starting up with GPS off --> crashes. I think it shouldn't crash with GPS off?! I'm awaiting next official alpha release.

[2015-12-17 06:02] 1slickvdc commented on #688
@larsgrefer I also verify the experience shared here on an LG V10 on Android 5.1.1. I've got root access, so if needed I could grab logs as described above if they're still needed.

[2015-12-17 06:07] SecUpwN commented on #658
Yep, that's the case. ;-) Can we actually swap that around from `<md5-hash> filename.apk` to `filename.apk <md5-hash>` or is it more common to display the md5 first? I am still waiting for feedback from Aptoide on how to automatically publish our APK there, they confirmed that it is possible. Stay tuned.

[2015-12-17 06:49] agilob commented on #659
If you could only test your changes before committing and merging there would be no need for 3rd party library that spies on users.

https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/683/files#diff-c8cc2dd42271f2bf39c6aa81eb6a5529L30 <-- easy as that

[2015-12-17 06:51] larsgrefer commented on #658
The man-page says:

[2015-12-17 06:54] SecUpwN commented on #655
So we'd effectively have to re-craft the whole database once more, re-invent the wheel? If you folowed the Issue for our other "major database overhaul", you see which pain the ass that was and still is. What would be the real advantage and how "easy" would it be to move to Realm? I guess all diagrams have to be re-drafted as well? Not sure if it is worth throwing away all our previous work on the

[2015-12-17 06:59] agilob commented on #688
As @Cellino is not a technical user, you should immediately remove the log file, it contains a lot of sensitive information!

[2015-12-17 07:04] SecUpwN commented on #688
Thanks for the warning, @agilob. Log has been removed.

[2015-12-17 07:07] Cellino commented on #688
@agilob: I am a technical user and I am very much aware of data protection in general, but don't know in detail the log items that have to be eliminated. Due to SecUpwN I removed CID und LAC (latter was not present) - are there really still sensitive informations inside the log?

[2015-12-17 07:10] SecUpwN commented on #688
@Cellino, I've alreayd removed the log. Let's wait for @larsgrefer to see if he still needs anything else.

[2015-12-17 07:13] larsgrefer commented on #688
@SecUpwN @Cellino @1slickvdc
The following happens:
- The background service detects that GPS is off and tries to show a dialog about that.
- Services are not allowed to show dialogs (because dialogs wich come out of nowhere might be confusing), the only way for them to show dialogs is using `TYPE_SYSTEM_ALERT`
- The service tries to show an `TYPE_SYSTEM_ALERT` dialog, but fails there, because we

[2015-12-17 07:32] SecUpwN commented on #659
@agilob, what do you mean by "spies on users"? Do you have any indicators that it does?
@larsgrefer, I digged through their and found this part I don't like:

In any case, I guess it is important to implement the following:

* Under menu `Debugging` do not directly show the running log, but ask the user to select between:
[code]
If a user selects the second choice, the debugger as currently shown

[2015-12-17 07:36] SecUpwN commented on #688
@larsgrefer, if that means a fix for both Issues I report with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/688#issuecomment-165340489, please add a notification.

[2015-12-17 07:37] Cellino commented on #688
Why does the background service detect the turned off GPS only when app is trying to be started? Why doesn't it create notifications of GPS turned off already when scanning cells regularly in neighbourhood in background?
What's the behaviour with notifications? Are they shown in foreground of all windows when coming up, or will they be added to the list of notifications in background? It seems imp

[2015-12-17 07:39] larsgrefer commented on #659
Whatever bug reporting tool we want to use has to be configured in a way to send as less personal data as possible. We are only interested in stacktraces but not in full logs.

[2015-12-17 07:42] SecUpwN commented on #659
@larsgrefer, not sure that is possible with Bugsnag, currently digging [their Docs](https://bugsnag.com/docs). OP updated.

[2015-12-17 07:58] larsgrefer commented on #688
@SecUpwN The SMS alerts currenly have the same problem (dialogs from background services are not allowed)

@Cellino The service can work without GPS too, but with GPS on it can work better, so it tries to suggest you to enable GPS.
If we set the Priority of the notification high enough you will get an overlay in the foreground like here: http://www.google.com/design/spec/patterns/notifications.htm

[2015-12-17 08:04] larsgrefer commented on #659
@SecUpwN If the user doesn't want the app to send anything we could just return false here: https://bugsnag.com/docs/notifiers/android#beforenotify

[2015-12-17 10:24] SecUpwN commented on #659
Thanks for telling me, but I'm still not convinced that Bugsnag is the tool we should be integrating. Besides the fact that they'll hand out stuff to governments, I do not trust any U.S. storage servers.

What I am essentially looking for is some service made for privacy tinfoil-projects like ours. Still searching.

[2015-12-17 17:11] larsgrefer commented on #659
The most secure solution would be to call [`Thread.setDefaultUncaughtExceptionHandler()`](https://docs.oracle.com/javase/7/docs/api/java/lang/Thread.html#setDefaultUncaughtExceptionHandler%28java.lang.Thread.UncaughtExceptionHandler%29) in order to supply our own implementation of [`Thread.UncaughtExceptionHandler`](https://docs.oracle.com/javase/7/docs/api/java/lang/Thread.UncaughtExceptionHandle

[2015-12-17 18:21] snmaynard commented on #659
I'm from bugsnag and wanted to provide some context here - you can always mention me if anyone has specific questions.

Our android notifier is actually open source at https://github.com/bugsnag/bugsnag-android and I would encourage you to take a look at the code to see what information we capture. I'd highlight https://github.com/bugsnag/bugsnag-android/blob/master/src/main/java/com/bugsnag/andro

[2015-12-17 22:18] SecUpwN commented on #659
Thanks for chiming into this Issue @snmaynard, this conveys great customer support! ;-)

Is there a way to **not** strip down your code to the bare minimum, but configure the collection of *just* the stacktrace via the dashboard or some extra code snipped added to some file of our app? If we empty the `toStream` methods, will we still be collecting useful data to debug our app as best as possible?

[2015-12-18 08:58] Cellino opened #689 "Support of dual SIM phones"
On the dialog phone/SIM details is always shown one SIM card. Please pay attention to full dual SIM phones, I have such a thing. There are 2 full available SIM cards, in my case with two different providers. It is possible to switch data connection from one to the other SIM card and back again, but you can connect only with one SIM card at the time. I don't know whether and how you want to support

[2015-12-18 09:28] larsgrefer commented on #689
@Cellino duplicate of #504. Please add your request there

[2015-12-18 09:28] #689 closed

[2015-12-18 17:30] SecUpwN commented on #672
@larsgrefer, is there a convenient way with Android Studio or some other tool to clean up our code and create Issues for To-Do's taken from comments - or do we really have to manually review the codebase?

[2015-12-18 20:19] larsgrefer commented on #672
@SecUpwN I'm afraid that it must be done manually

[2015-12-20 12:49] SecUpwN opened #690 "Buildozer Builds not installable"
Separated this bug from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/688#issuecomment-165340489. @larsgrefer, how come we get [this logfile](https://defuse.ca/b/tjQPvWPA)?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29281907-buildozer-builds-not-installable?utm_campaign=plugin&utm_content=tracker%2F565750&utm_m

[2015-12-20 13:31] larsgrefer commented on #690
@SecUpwN Because we declare many non-standard permissions in our AndroidManifest.xml (e.g. everything with `com.sec.**`)

[2015-12-20 14:05] lop1 opened #691 "App quits when retrieving OpenCellID key"
If in preferences you try to get an opencellID key you got :
"Android IMSI-Catcher Detector stopped"

release 0.1.37 alpha
galaxy S4 mini
stock rom rooted ( COJ1 )

[2015-12-20 14:47] SecUpwN commented on #691
Possibly related to #688. Please wait for this to be fixed. Thank you.

[2015-12-20 14:49] SecUpwN commented on #690
Thanks for having a look @larsgrefer. I wonder why our app now refuses to be installed when it worked as it should before? Is that a result of cleaning up the unused permissions? Do we need another cleanup?

[2015-12-20 15:40] larsgrefer opened #692 "Information from Background-Taksk:Dialogs vs Notifications"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29284112-information-from-background-taksk-dialogs-vs-notifications?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issu

[2015-12-20 15:43] #692 closed

[2015-12-20 16:24] #686 closed

[2015-12-20 16:53] #677 closed

[2015-12-20 16:53] #688 closed

[2015-12-20 22:28] larsgrefer commented on #690
@SecUpwN It seems like buildozer builds the `system` flavor instead of the `normal`flavor

[2015-12-20 22:36] SecUpwN commented on #690
@larsgrefer, I am about to clean up and sort our `AndroidManifest.xml`. Do we need [these](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/AIMSICD/src/main/AndroidManifest.xml#L32-L49)?

[2015-12-20 22:51] larsgrefer commented on #690
I don't know. My phone doesn't even know all the `com.sec.**` permissions
Maybe they are samsung-specific

[2015-12-20 22:59] SecUpwN commented on #690
How come? Who has introduced those? :P

[2015-12-20 23:04] larsgrefer commented on #690
@SecUpwN @E3V3A has introduced them: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blame/development/AIMSICD/src/main/AndroidManifest.xml#L32-L49

[2015-12-20 23:27] SecUpwN commented on #690
@larsgrefer, would you agree if I remove those and re-add them once we see the need for them?

[2015-12-20 23:33] larsgrefer commented on #690
yes, good idea :+1:

[2015-12-20 23:41] SecUpwN commented on #690
@larsgrefer, please review above changes and let me know if you'd add any other changes. Thank you!

[2015-12-21 00:11] larsgrefer commented on #690
@SecUpwN This is the reason why you cannot install the app:
[code]

[2015-12-21 00:52] #690 closed

[2015-12-21 00:52] #671 closed

[2015-12-22 07:44] licaon-kter commented on #688
Had the crash ot start too, turnitg GPS on fixed it, although the whole error on file creation seems different.

Logcat here: https://gist.github.com/licaon-kter/e95adbcd83992c5e200a

[2015-12-22 12:32] SecUpwN commented on #688
@licaon-kter, thanks for addinh your log. This bug is fixed now, please wait for the next release.

[2015-12-22 12:39] larsgrefer commented on #688
The GPS related crash is fixed but the file error mentioned by @licaon-kter is still present

[2015-12-22 12:48] SecUpwN commented on #688
@larsgrefer, please open a fresh Issue for this and add the logfile tpo it. Thank you.

[2015-12-22 12:57] licaon-kter opened #698 "Fail to open folder errors"
v0.1.37-alpha

Logcat: https://gist.github.com/licaon-kter/e95adbcd83992c5e200a

Tested w/ or w/o XPrivacy whitelisting.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29331281-fail-to-open-folder-errors?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-12-22 12:58] licaon-kter commented on #688
Done https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/698

[2015-12-23 23:23] larsgrefer commented on #523
I agree with @DJaeger. We should remove the RollView and use something more simple

[2015-12-23 23:55] SecUpwN commented on #523
@larsgrefer, what do you think about [GithubContributorsLib](https://github.com/alorma/GithubContributorsLib)? Any better suggestions?

[2015-12-24 00:12] snmaynard commented on #659
I think that forking and removing whatever data you don't want to send is the best option. The changes would probably be only to remove the device id, but I'd encourage you to look at what gets sent and audit that. If you send a couple of test exceptions you can get a good look at what gets sent. We display all the information we record in our ui, so it should be easy enough to make sure you are c

[2015-12-24 21:25] SecUpwN commented on #258
@larsgrefer, I would like you to take a minute in the upcoming days to fully read this Issue and tell us your thoughts on the best app design that makes our app fast and pretty self-explaining to navigate while also adding uniqueness. Tossing in [Material Drawer](https://github.com/mikepenz/MaterialDrawer), not sure if this may be helping in the process to find a much better app design. In its cur

[2015-12-24 21:30] SecUpwN commented on #678
@larsgrefer, are projects like [Ultra-Pull-To-Refresh](https://github.com/liaohuqiu/android-Ultra-Pull-To-Refresh) and [MaterialProgressBar](https://github.com/DreaminginCodeZH/MaterialProgressBar) of use for us?

[2015-12-24 21:37] SecUpwN commented on #650
Have you had a look at this, @larsgrefer?

[2015-12-24 21:44] larsgrefer commented on #678
Everything we would need from Ultra-Pull-To-Refresh is the material style we already have in the support-v4 library.

Our progressbars are already material styled by the appcompat-v7 library

So imho we don't need any extra libraries at the moment

[2015-12-24 21:47] larsgrefer commented on #650
Most of the *critical* errors are
- our root magic using `Runtime.exec()`
- osmdroid using http instead of https

[2015-12-24 21:51] larsgrefer commented on #258
My (new) ideas about the design are:
- http://android-developers.blogspot.de/2015/05/android-design-support-library.html
- https://github.com/chrisbanes/cheesesquare

I think the best solution is to use the official support libraries instead of third-party ones whereever possible

[2015-12-24 22:00] SecUpwN commented on #678
Hm.. so why don't we have a progress indicator showing then? :P

[2015-12-24 22:01] SecUpwN commented on #258
Thanks for letting me know. Do you know any good designers who might help us with this?

[2015-12-24 22:30] larsgrefer commented on #678
Be patient

[2015-12-24 22:59] SecUpwN commented on #678
Sorry, I will.

[2015-12-25 01:08] larsgrefer opened #701 "Inconsistency of status names"
Some status have different names at different places in code:

- OK vs NORMAL
  - The drawables are named `ok`
  - The strings are named `normal`
- SKULL vs RUN
  - The drawables are named `skull`
  - The strings are named `run`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29389754-inconsistency-of-status-names?utm_campaign=plugin

[2015-12-25 01:14] SecUpwN opened #702 "In-App Offline Help Pages"
Taken from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/258#issuecomment-68937620, we consider it important to add simple *offline* help pages as drafted:

[code]

[2015-12-25 01:19] SecUpwN commented on #701
Yes, this could be conffusing to some devs. What do you suggest? Shall I name stringls like drawables?

[2015-12-25 01:23] larsgrefer commented on #701
this, or vice versa.

Im not sure which names are better, but one status should only have one name across the whole code (java + resources)

[2015-12-25 01:25] SecUpwN commented on #701
I am aware of that. What makes most sense to you personally when using our app?

[2015-12-25 14:44] lop1 opened #705 "detection SMS type zero"
On my S4 mini stock firmware rooted AIMSICD does not detect a SMS class zero ( but the phone detect it and show the SMS on the screen )

![screenshot_2015-12-25-15-35-23](https://cloud.githubusercontent.com/assets/13037127/12003418/2e4db0d2-ab1e-11e5-830e-33a2a93a375d.png)
![screenshot_2015-12-25-15-35-47](https://cloud.githubusercontent.com/assets/13037127/12003421/344870f8-ab1e-11e5-9b9d-1835caa

[2015-12-25 14:46] SecUpwN commented on #705
tanks for filing. We need to improve #537 - please continue discussion there. Thank you.

[2015-12-25 14:47] #705 closed

[2015-12-25 14:57] SecUpwN commented on #31
@larsgrefer, I'd like you to add your opinion here since this is one of many Issues that have been open since forever and pribably could be decided upon easily. Should this "Issue" be of concern at all?

[2015-12-25 15:01] lop1 opened #706 "Services still running after closing AIMSICD"
After exit of AIMSICD and clearing AIMSICD from memory there are still some services running (may be the SMS detection )

![screenshot_2015-12-25-15-59-03](https://cloud.githubusercontent.com/assets/13037127/12003473/fd5d9232-ab20-11e5-9891-1316edf937f7.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29396682-services-still-runn

[2015-12-25 15:50] SecUpwN commented on #706
@lop1, please [improve this bug report](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md#debugging), otherwise our developers cannot digg depper to fix this. Thanks!

[2015-12-25 16:00] SecUpwN commented on #698
@licaon-kter, please [compile from source](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Building) test if this bug vanished with the current `development` branch.

[2015-12-25 17:26] licaon-kter commented on #698
Umm, build it, open it, About window opens, press back arrow, app closes.

Any idea?

Android Studio 2.0 preview

[2015-12-25 17:59] SecUpwN commented on #653
Sounds great! @larsgrefer, did you have a look at the file sent to you several weeks ago? Important thing to note: When adding our Icons as SVGs, I would like to fully *remove* all metadata from these files before adding them, sadly [MAT](https://github.com/jvoisin/MAT) does not yet support cleaning SVGs. So how can we do this?

[2015-12-25 18:14] SecUpwN opened #707 "Idle Icon: Same look on flat and white style"
@SgtObst, I discovered that one of our [Status-Icons](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons) stays the same when switching to. This Issue is just listed separately for reference and should closed with the implementation of #653.

**Flat**

![Flat Idle](https://raw.githubusercontent.com/SecUpwN/Android-IMSI-Catcher-Detector/development/AIMSICD/src/main/res/drawa

[2015-12-25 21:09] SecUpwN opened #708 "Ensure code review with integrating PullApprove"
[![PullApprove](https://pullapprove.com/static/img/logos/pull-approve-logo-gray-dk.png)](https://pullapprove.com/)

I've just been crawling through [GitHub Integrations](https://github.com/integrations/) and found ![PullApprove](https://github.com/integrations/pullapprove). Since we've too often had the case that stuff gets merged and later on some developers like @agilob complained that noone see

[2015-12-25 21:22] agilob commented on #708
Nothing changed since that time: #682 https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/697 https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/685 https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/683  https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/670 https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/669

[2015-12-25 21:32] larsgrefer commented on #708
If a pull request is not merged by the person who created it, we have at least two reviewers.

@SecUpwN How many approves would you like to have per PR?

[2015-12-25 21:49] SecUpwN commented on #708
@larsgrefer, I think two would be fine. since I know that you know what you do, I guess adding you as a reviewer works good. We need one more stable Android developer, which we still lack, unfortunately.

[2015-12-25 22:08] agilob commented on #708
The PRs I linked had no reviews, some were merged by creator, introduce regressions/increase apk size without any good reason/break build/break functionality/slow down application/introduce vulnerabilities or contain shitty commit messages that should never land in /master...

[2015-12-25 22:24] larsgrefer commented on #708
@agilob The PRs you linked were approved by @SecUpwN and me
How much has the apk size increased?
What functionality broke?
What vulnerabilities were introduced?

[2015-12-25 22:35] SecUpwN commented on #659
Ok dudes, I think this approach is as privacy-aware as can be. The repository with the modified bugsnag for our project will be located at https://github.com/SecUpwN/bugsnag-android. Thanks @snmaynard!

[2015-12-25 22:44] larsgrefer commented on #659
@SecUpwN

https://bugsnag.com/blog/bugsnag-loves-open-source

[2015-12-25 22:51] agilob commented on #708
He's not a developer, so it doesn't count.

Nearly twice so far.

Application doesn't start without GPS. Application doesn't start as system app. Is it still crashing when detecting SMS-0?

Memory leaks, low quality dependencies without community/review and audits were added, Secs keystore will be published on github.

[2015-12-25 22:57] agilob commented on #706
@lop1 what application is that? I remember having it long time ago...

[2015-12-25 23:00] larsgrefer commented on #708
@agilob Let me correct/clarify some points:
- The Application does start without GPS
- The Application can only run as system app if its signed with the same key as all other system apps
  - the system product-flavor is only for use by rom-creators
- No, the app isn't crashing anymore when a silent SMS is detected
- The keystore will be AES-256 encrypted

What memory leaks were introduced?

[2015-12-26 07:30] SecUpwN commented on #708
Main lessen I learned from all the time here on GitHub: Rants roll right off my back. :smile_cat:

@larsgrefer, exactly. I chose you, then even if not always online @He3556 and @DJaeger. Looking at [our team](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact), maybe even @tobykurien want to join the review process? @smarek would be lovely as well.

[2015-12-27 05:49] TPS commented on #653
@SecUpwN @larsgrefer https://github.com/JayXon/Leanify will do it, as well as optimize APK & all other contents, _after_ which you can sign the APK, however you choose.

[2015-12-27 15:16] Walkman100 opened #712 "Settings Bug: Stationary Overlay"
Reproducible 100%:
- open preferences
- select Detection strings option
- tap back button

After doing the above, the preferences menu has a stationary overlay that goes away after closing and opening it:
![screenshot_2015-12-27-15-52-45](https://cloud.githubusercontent.com/assets/5454764/12010767/69989e28-acbc-11e5-90ed-8672f94f1f17.png)

Latest version on F-droid

<bountysource-plugin>
---
Want

[2015-12-27 15:21] SecUpwN commented on #712
Thanks for filing this, @Walkman100. I can confirm this Issue as well. We'll be adding a new way of collecting quality debugging logs soon, so please be patient a little. Seeking more UI/UX developers.

[2015-12-27 15:38] SecUpwN commented on #659
Just a short update: I've sent them an email yesterday, I guess they'll respond tomorrow at the latest.

[2015-12-27 22:40] #708 closed

[2015-12-28 12:36] lop1 commented on #706
Here are the full details about this problem.

samsung galaxy S4 mini
stock rom ( I9195XXUCOJ1 ) last chitchat release for this model
rooted towelroot

If you run AIMSICD without stealth SMS detection , no problem, when you exit from it there are no more process running in the device.

if you run AIMSICD WITH stealth SMS detection and you exit  from it a process keep running in background. If you

[2015-12-28 21:41] mimi89999 opened #713 "App doesn't start on boot on CM13"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29446652-app-doesn-t-start-on-boot-on-cm13?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github).
</

[2015-12-28 22:08] SecUpwN commented on #713
Hi there @mimi89999, thank for checking our our app! Did you activate the startup in `Preferences`?

[2015-12-28 22:09] mimi89999 commented on #713
Yes

[2015-12-28 22:11] SecUpwN commented on #713
If you're sure you did so, please make this a *valid* Issue by adding [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md#debugging) to your OP. CM13 is running Android 6 Marshmallow, our app is likely not optimized for that yet. Oh and hey: We love pull requests! ;-)

[2015-12-29 00:08] #523 closed

[2015-12-29 01:51] larsgrefer opened #715 "ExampleException in home#example"
## New exception in Example.com

**ExampleException** in **home#example**
Something really bad happened

[View on Bugsnag](http://bugsnag.com/errors/example/events/example)

## Stacktrace

    app/controllers/home_controller.rb:123 - example
    app/controllers/other_controller.rb:12 - broken
    lib/important/magic.rb:4 - load_something

[View full stacktrace](http://bugsnag.com/errors/example/ev

[2015-12-29 03:49] SecUpwN commented on #715
@larsgrefer, I would like to avoid filing Issues with the label `WILL_NOT_FIX` as they pile and essentially cannot be solved. Please explain what this "Issue" is about and what its purpose is.

[2015-12-29 03:53] larsgrefer commented on #715
@SecUpwN This is an example issue created by bugsnag (on my behalf).
I have added the `WILL_NOT_FIX` label by hand, because this isn't something we can fix.

[2015-12-29 03:54] SecUpwN commented on #715
I'm afraid I don't really understand. You tested the Issue creation, but we can't close this Issue afterwards?

[2015-12-29 03:56] larsgrefer commented on #715
Yes, i've tested the issue creation.
No, we can close this whenever we like

[2015-12-29 03:59] SecUpwN commented on #715
Ok, that is taking the shock away. ;-) Please only use the `WILL_NOT_FIX` label when we *really* encounter an Issue that is not fixable (hopefully that won't happen). Please close this when done. Thanks.

[2015-12-29 04:00] #715 closed

[2015-12-29 04:36] SecUpwN opened #716 "Status not switching to IDLE when disabling detection"
Taken from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/711#issuecomment-167716002, our app currently shows status `OK` or `MEDIUM` even when disabling detections by pressing `Toggle Attack Detection` in `Navigation Drawer`. It should switch to `IDLE`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29452238-status-n

[2015-12-29 04:36] #701 closed

[2015-12-29 05:04] SecUpwN opened #717 "Main Screen: Empty SIM Serial Number"
@larsgrefer, I've just noticed that my SIM serial number is empty in the main screen. Is that normal due to our code maybe not reading the SIM serial number any more? Or is something wrong with my SIM?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29452518-main-screen-empty-sim-serial-number?utm_campaign=plugin&utm_content=tracker%

[2015-12-29 08:59] mimi89999 commented on #713
AIMSICD version: v0.1.37-alpha-release
ROM: CM13 nightly
HW: Samsung Galaxy S4 mini GT-I9195 (serranoltexx)

[2015-12-29 11:43] gorillap opened #718 "GUI force close/crash services keep running"
Tested new 0.1.37 WIP Alpha version and immediately upon opening, GUI force closed, but still received messages that services were starting. Icon continued to show on notification bar.
0.1.36 WIP Alpha is running fine.

LG Google Nexus 5X 16GB
Custom Android 6.0.1 (Rooted)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29457851-gui-

[2015-12-29 14:41] cwmke commented on #718
Same issue on a Nexus 6p.  Here are some of the logs
[code]

[2015-12-29 14:46] larsgrefer commented on #718
@cwmke Thanks for the stacktrace.

We should test this again with the next release, in order to get readable stacktraces

[2015-12-29 14:52] cwmke commented on #718
Sounds good.  I'll add another one after F-droid updates.

[2015-12-29 17:38] jawz101 commented on #434
I don't know how this is fixed.  I'm on cm13 on a Nexus 5.  I never see anything in that Database Viewer: Imported OCID Data screen

[2015-12-29 18:18] #713 closed

[2015-12-29 23:06] SecUpwN commented on #434
@jawz101, please press `Download BTS Data` in the `Navigation Drawer` and tell me here if it worked.

[2015-12-29 23:11] SecUpwN commented on #718
@gorillap, is this Issue possibly related or a dupe of #706?

[2015-12-30 01:11] SecUpwN commented on #628
@larsgrefer, what is your opinion to this list in the OP?

[2015-12-30 12:12] SecUpwN opened #720 "Unify AndroidManifest for all build flavors"
Currently we have two separate `AndroidManifest.xml`: One for the normal build flavor (located in `/AIMSICD/src/main/`) and one for the system build flavor (located in `/AIMSICD/src/system/`). I am afraid that when moving on with development, the `AndroidManifest.xml` for *system* builds could get outdated since we tend to work on our main normal build flavor. Question: Could we enhance our app so

[2015-12-30 12:28] SecUpwN opened #721 "OpenCellIdActivity: Add handlers for other HTTP requests"
We need to add handlers and a for the [other HTTP request and OCID Server error codes](http://wiki.opencellid.org/wiki/API#Error_codes):

         *      1 	200 	Cell not found
         *      2 	401 	Invalid API key
         *      3 	400 	Invalid input data
         *      4 	403     Your API key must be white listed in order to run this operation
         *      5 	500 	Internal server error

[2015-12-30 12:46] larsgrefer commented on #720
We could have 3 source roots at the moment:
- `src/system/` (only for the system flavor)
- `src/normal/` (only for the normal flavor, currently not used)
- `src/main/` (for all flavors)

for the system build-flavor the files `src/main/AndroidManifest.xml` and `src/system/AndroidManifest.xml` are merged during the build. So changes in `src/main/AndroidManifest.xml` also affect the system flavor and

[2015-12-30 12:48] SecUpwN opened #722 "MeasuredCellStrengthCardInflater: Fix variable names"
The variable names in `MeasuredCellStrengthCardInflater.java` need a proper fixing.

[2015-12-30 12:49] larsgrefer commented on #655
@SecUpwN Do we have an overview what kinds of objects we are currently saving in the database or want to save in the Database?

preferably UML class diagramms or POJO's?

[2015-12-30 12:59] SecUpwN opened #723 "CellTowerMarker: Add PSC and RAT"
File `CellTowerMarker.java` would like to see enabled `PSC` and `RAT` (currently commented out).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29482346-celltowermarker-add-psc-and-rat?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2015-12-30 13:00] SecUpwN commented on #655
@larsgrefer, please try [Technical Overview](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Technical-Overview). Thanks.

[2015-12-30 13:04] SecUpwN opened #724 "MarkerData: Clarify which GPS coordinates are used"
In file `MarkerData.java` we need to:

- [ ] clarify which GPS coordinates are used. Exact of from device?
- [ ] add more details, similar as for the DB Viewer UI (see: #234)

[2015-12-30 13:43] SecUpwN commented on #720
We could. But we don't have. Isn't it better to have *one* source root? What is the preferred way?

Looks like our project gets too complex when adding separate roots and essentially maintaining separate file structures. I'd prefer if we have one root and one `AndroidManifest.xml`, then then when selecting the build flavor everything should be devided apart cleanly. Or is that something impossible

[2015-12-30 13:49] larsgrefer commented on #720
Multiple flavors cause multiple source roots

what exactly do you mean here?

It currently is divided apart cleanly into different source roots

[2015-12-30 13:53] SecUpwN commented on #720
I thought that when building our app Android Studio asks which build flavor to build.

Ok, so do we need an improvement on the source roots? A joined `AndroidManifest.xml` would be better.

[2015-12-30 14:01] SecUpwN opened #726 "CREDITS: Convert into string resource"
Taken from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/709#issuecomment-167266552, our `CREDITS` file is currently an asset instead of a string resource. It also contains manual line-breaks with `\n`. Since we've changed how our `CREDITS` are being displayed, we should make sure that this file is following the best practice for developers for easier editing and view.

@larsgrefer

[2015-12-30 14:13] larsgrefer commented on #720
Yes you could either choose the flavor in Android Studio or on the commandline by invoking either the `assembleNormal` or `assembleSystem` gradle tasks

I don't think so

Why? We have split them on purpose so we don't have all the system-permissions in the normal app

[2015-12-30 16:23] SecUpwN commented on #720
Thanks for clarifying, I was just wondering why we have to maintain files and if we couldn't unify those in order to avoid the one for system permissions to get outdated (e.g. it lacks the recently introduced `RECEIVE_BOOT_COMPLETED`). Or do permissions added to our main `AndroidManifest.xml` also get transferred to the one for system permissions?

[2015-12-30 17:07] larsgrefer commented on #720
Yes, the manifests are merged during the build.

You can find the merged manifests in the `build/intermediates/manifests/full` folder

for more information look here: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/720#issuecomment-167991237

[2015-12-30 17:20] SecUpwN opened #727 "AIMSICD.java: Clarify Cell Information Tracking and Monitoring"
TODO from `AIMSICD.java`.

Section `Cell Information Tracking - Enable/Disable`:

     * TODO: Clarify usage and what functions we would like this to provide. - Are we toggling GPS
     * location tracking? - Are we logging measurement data into DBi? - Are we locking phone to
     * 2/3/4G operation?

Section `Cell Information Monitoring - Enable/Disable`:

     * TODO: Clarify usage and what func

[2015-12-30 17:24] #720 closed

[2015-12-30 18:39] SecUpwN opened #728 "Device.java: Wrong API for some calls in the cell tracker"
Moved TODO, seems like we're using a wrong API for some Cell Tracker calls. Needs investigation.

[2015-12-30 18:58] SecUpwN opened #729 "SystemPropertiesReflection: Simplify code"
Moved TODO from `SystemPropertiesReflection.java`: We shall simplify the code as described in

* [GitHub: /android/os/SystemProperties.java](https://github.com/android/platform_frameworks_base/blob/master/core/java/android/os/SystemProperties.java)
* http://stackoverflow.com/a/28402378/1147688

[2015-12-30 19:13] gorillap commented on #718
I did see that and wanted to mebtion this because.
In #706, there is no mention of the GUI force-close, which had not yet been reported.
However, the services continuing to run after the GUI fc, may be the same issue.

[2015-12-30 19:37] SecUpwN commented on #718
@gorillap, thanks for notifying, we will handle bonth separately and see if one fixes the other. Note: We only have a handful developers and rely on contributions. Feel invited to help us find developers!

[2015-12-30 21:24] SecUpwN opened #731 "About-Screen: Git SHA-Hash is always null"
The Git SHA-Hash in our `About` screen always says `null`.
This should be fixed, otherwise displaying it is senseless.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29492263-about-screen-git-sha-hash-is-always-null?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bounty

[2015-12-30 21:39] jawz101 commented on #434
Thanks.  I did and it didn't show anything in the table viewer.  The download process takes about a second.  The debugging log shown below led me to look at the csv file and it did save a file 112 bytes in size with just the top row it looks like (ie. table column headers).

Could it be my location?  I'm in a city that is fairly large and I do see tower spots on the opencellid website for my area

[2015-12-30 21:42] larsgrefer commented on #731
@SecUpwN The git-sha is only null on Buildozer builds because of the already known git issue

On travis and local builds the git-sha is present

[2015-12-30 21:48] #672 closed

[2015-12-30 22:29] jawz101 commented on #434
looks like prior to it the log has this stuff:
OCID BBOX is set to: <latmin>,<lonmin>,<latmax>,<lonmax> with radius 2km
l/n OCID MCC is set to: <mcc>
l/n OCID MNC is set to: <mnc>

*redacted my actual coordinates and MCC/MNC values with the variable names.

Hmmm.  I tried opening it in my browser to see what I get .. even extended the distance out about 30 miles and still get 0 returning.

opencel

[2015-12-30 22:44] jawz101 opened #732 "Request MNC as optional parameter"
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/434#issuecomment-168078594

As many other geeks, I am cheap and my Mobile Network provider is one of those no contract Mobile Virtual Network Operators
https://en.wikipedia.org/wiki/Mobile_virtual_network_operator

_(ex: in the United States some major MVNOs are Ting, Virgin Mobile, Straight Talk, Net10, Tracfone, Boost Mobile, Cricke

[2015-12-31 06:30] SecUpwN commented on #731
Oh, that makes sense. I guess when #730 works and has been merged, this Issue solves itself.

[2015-12-31 08:18] SecUpwN opened #734 "Improve AIMSICDDbAdapter.java"
This is the TODO and Issues taken from `AIMSICDDbAdapter.java` which needs some heavy fixing. Not sure if you are abe to check these off one by one @larsgrefer or if we need a professional DB expert.

---

* **General**

 * We'd like to Export the entire DB (like a dump), so we need ...
 * [ ] prepareOpenCellUploadData() `this needs to be updated and re-coded`
 * [ ] all functions related to Signa

[2015-12-31 09:22] agilob commented on #434
MNC is network code of your provided, if nothing was returned that means OCID doesn't have data for your current MNC and this is fine. Removing MNC is asking for (minor) problems. You as ATT customer don't want to check if there is TMobile BTS, because unless you're on roaming, you won't connect to it. You downloaded 21kb of data that will never be used for good but can only cause false positive a

[2015-12-31 10:17] SecUpwN commented on #732
I guess this would only cause more trouble when taking https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/434#issuecomment-168154647 into account.

[2015-12-31 12:26] thestinger commented on #718
I think this is the same issue:

[code]

[2016-01-01 03:04] jawz101 commented on #732
Well if I'm on an MVNO which piggyback's off of AT&T's network would I not use the same towers as AT&T?

[2016-01-01 03:05] jawz101 commented on #434
Well if I'm on an MVNO which I know piggyback's off of AT&T's network could I not manually specify AT&T's MNC as my MVNO uses the same towers as AT&T?

[2016-01-02 03:14] kupru opened #737 "Crashing on Nexus 5 Android 6.0.1 version (1.37)"
Everytime location is on 'high accuracy' it works but when in 'battery saving' app crashes.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29526764-crashing-on-nexus-5-android-6-0-1-version-1-37?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2016-01-02 21:19] SecUpwN commented on #737
Hi there, @kupru! This in fact a dupe of #688 and you are not using our latest release. Pleas do so.

[2016-01-02 21:19] #737 closed

[2016-01-03 18:45] Tonat-Systems commented on #712
Experiencing the same when clicking "request OCID key" and then returning to preferences.

[2016-01-03 18:51] Tonat-Systems commented on #630
Same issue with galaxy S3 on CM 12.1

[2016-01-04 10:32] liar666 opened #739 "Infinite(?) loop on denied position"
Hi,

My phone is almost always in airplane mode, or at least without Wifi/GPS. Also, I often set as limited permissions as possible to newly installed applications.

When I start AIMSICD in such conditions, it shows a popup with "Denied Position" and whatever I do (OK/Cancel), it just loops (infinitely?) showing this message...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty o

[2016-01-04 10:35] liar666 opened #740 "OSD "denied position" message never disappears"
Hi,

First of all, thanks for working to protect our privacy.

My phone is almost always in airplane mode, or at least without Wifi/GPS. Also, I often set as limited permissions as possible to newly installed applications.

When I start AIMSICD in such conditions, it shows a popup with "denied position" (see https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/739). When I finally manag

[2016-01-04 16:30] vanitasvitae opened #741 "Graphical glitch and potential crash in settings"
I discovered, that there is a graphical glitch when you go into the settings, then switch to androids recent apps overview and back to AIMSICD again. It looks like the textual elements of the settings activity get duplicated. Also the app once crashed for me after this happened.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2957681

[2016-01-04 16:44] vanitasvitae commented on #741
EDIT: AMISICD crashes, when you do the steps mentioned above to get the graphical glitch and then press the phones back button. Here are some logs:

01-04 17:36:04.237 14986 14986 E QSEECOMD: : Listener: index = 0, hierarchy = 0
01-04 17:36:04.237 14986 14986 E QSEECOMD: : Init dlopen(librpmb.so, RLTD_NOW) is failed....
01-04 17:36:04.237 14986 14986 E QSEECOMD: : ERROR: RPMB_INIT failed, shall no

[2016-01-05 17:19] SecUpwN commented on #712
Welcome back, @Tonat! We're currently working on a custom implementation of `bugsnag` to hopefully cut down on the piled bugs in the future. Meanwhile, we'd be happy to receive some fixing pull requests.

[2016-01-05 17:20] SecUpwN commented on #630
@larsgrefer, is https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/630#issuecomment-150170679 really the case? How can we get back hands on that important data?

[2016-01-05 17:29] SecUpwN commented on #741
Thanks for filing this, @vanitasvitae. Your Issue is in fact a dupe of #712. Please help us there.

[2016-01-05 17:29] #741 closed

[2016-01-06 11:12] NezSpencer commented on #739
Hi
I would like to work on this issue

[2016-01-06 11:37] SecUpwN commented on #739
Welcome back, @NezSpencer! Am I right that you're the one from [our OpenHatch page](https://openhatch.org/projects/Android%20IMSI-Catcher%20Detector) who wanted to contribute? If so, feel invited to craft a pull request for fixing this Issue. Thanks for improving our code!

[2016-01-06 16:36] TPS commented on #659
Just FYI to follow-up on [an earlier comment](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/659#issuecomment-162424006):

According to recently update to https://gitlab.com/fdroid/fdroidclient/raw/HEAD/CHANGELOG.md, even F-droid client includes ACRA, so I figure, if configured the way it does, it shouldn't red-flag as Anti-feature.

* Add opt-in crash reporting via ACRA

N.B.:  T

[2016-01-06 19:18] SecUpwN commented on #659
Thanks for your input, @TPS. We've already decided to use a customized version of `bugsnag` maintained at https://github.com/freefair/advanced-bugsnag-android which will only collect privacy-aware stack-traces to improve our app. Furthermore, their lovely support just made them win our election.

[2016-01-07 06:29] 0x7678 commented on #75
@SecUpwN thank you, sure you can add me to the Buildozer builds, let me add the results.

[2016-01-07 12:19] Tonat commented on #91
Hey there, I experience the following:
Without any change of location, seemingly random alerts for "Changing LAC" events (like in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/439) happen on v0.1.37 on my non-LTE [sic] i9300 with CM 12.1 (without the OCID DBs downloaded due to https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/691). See the log for one of the events

[2016-01-07 12:38] NezSpencer commented on #739
Yes I am.
forked and cloned the repo yesterday but. I am having some difficulty migrating the project to gradle in android studio. Any help as to how to do this please?

[2016-01-07 12:56] larsgrefer commented on #739
@NezSpencer Just use `File -> Open` and select the build.gradle file in the repository root

[2016-01-07 14:34] NezSpencer commented on #739
@larsgrefer  Thanks it worked!

[2016-01-07 14:43] larsgrefer commented on #739
I think we should add a preference to ignore disabled gps

[2016-01-07 14:43] NezSpencer commented on #739
@liar666 I tested it now on my phone with airplane mode enabled but it dint reproduce the error

[2016-01-07 14:44] NezSpencer commented on #739
although it asked me at first to enable GPS

[2016-01-07 14:46] NezSpencer commented on #739
@larsgrefer  Were you able to reproduce the bug?

[2016-01-07 15:40] SecUpwN commented on #739
@larsgrefer, I guess this solution would essentially solve #251. Is this Issue a `DUPLICATE` of it?

[2016-01-07 15:43] #739 closed

[2016-01-07 15:46] SecUpwN commented on #251
@NezSpencer, thanks for offering your helpo to work on this! Are you able to change the current notification seen in the OP to the one described in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/251#issuecomment-128287748? I guess that will be most convenient to our users.

[2016-01-07 17:29] banjaxbanjo commented on #91
@Tonat there was a change in lac as seen your log

01-06 20:00:09.397  10221-10221/com.SecUpwN.AIMSICD I/a﹕ ALERT: Changing LAC on CID: xxxxx3001 LAC(API): abc48 LAC(DBi): abc58

It's  possible that both these LAC locations have the same cell id but if there is no LAC abc58 in your area than I would class this as suspicious.

If this LAC suddenly disappears a few hours later that's even more suspi

[2016-01-07 18:30] He3556 commented on #91
If you have this alerts on different CIDs it is the same old problem. Some devices read wrong LAC values from time to time.
Btw. a CID only changes its LAC when the network gets reconfigured - or when a fake BTS tries to trigger a location update, where your IMSI will be send.
But it is only 1 fake BTS (CID) with a changing LAC - thats why we should https://github.com/SecUpwN/Android-IMSI-Catcher-

[2016-01-08 10:26] SecUpwN commented on #740
Good evening @liar666, this Issue is in fact a dupe of #251 as well. Please monitor that one instead.

[2016-01-08 10:26] #740 closed

[2016-01-08 11:49] NezSpencer commented on #251
I like @E3V3A 's proposed dialog but with little modifications as shown below

|  __Attention: GPS is disabled!__   |
|---|
|  AIMSICD can not track cells if GPS<br> is disabled. <br> Please __Enable GPS__ for cell tracking. <br><br> [  ] Remember this choice  |
|Not Now |: Enable GPS:|

In addition, there should be an __enable GPS__ preference on the settings screen

[2016-01-08 11:51] NezSpencer commented on #251
edit : there should be an __Enable GPS__ to the right of the __Not now__ button. I dont knw why it did not show

[2016-01-08 13:53] NezSpencer commented on #251
something like this

| __Attention: GPS is disabled!__ |
| --- |--- |
| AIMSICD can not track cells if GPS<br>is disabled.<br>Please Enable GPS for cell tracking.<br><br> [ ] Remember this choice <br>
Not Now &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Enable GPS |

[2016-01-08 14:14] SecUpwN commented on #251
@NezSpencer, looks great! Feel free to craft a pull request to finally fix this Issue with it.

[2016-01-08 18:04] AlexNab commented on #659
@SecUpwN as you asked me, as a crash reporting solution I would recommend to use [Crashlytics](https://try.crashlytics.com/) (it's a part of [Fabric](https://fabric.io) kit now). I used it in a couple of projects (even before joining Twitter), and it's really good. And it becomes better and better with time.

In addition to app crashes, Crashlytics can also report internal caught exceptions.
Also

[2016-01-09 13:24] SecUpwN commented on #659
Thanks for answering, @AlexNab. Please read my previous message, we've already decided on this. ;-)

[2016-01-09 18:12] SecUpwN commented on #717
Can anyone confirm this, please? @He3556 or @jensstein maybe?

[2016-01-09 18:37] #75 closed

[2016-01-09 21:14] jensstein commented on #717
i don't really know your project, so maybe i'm missing something, but you seem to put the serial information into the imsi textview and leave out the imsi / subscriberid information.
here is a patch which fixes it (for me at least and ).

[code]

[2016-01-09 21:23] SecUpwN commented on #717
Awesome, thanks for checking this, @jensstein! Would you please be so kind to craft a pull request for it?

[2016-01-09 21:40] jensstein commented on #717
well, you can just apply my patch directly. save it as e.g. sim-serial.patch and run ```git apply sim-serial.patch``` (or use ```patch```) and check that the fix is okay (nothing is commited at this stage). then you can run ```git am sim-serial.patch``` which will commit the patch with my commit message and everything.

[2016-01-09 22:09] SecUpwN commented on #717
Thanks for telling me, but I am not on my private computer right now, that is why I was asking politely. :)

[2016-01-09 22:25] jensstein commented on #717
it's cool, i guess it can wait, right? :)

[2016-01-09 22:43] SecUpwN commented on #717
@jensstein, I'd prefer a quick pull request so that I can directly test that via the automated build created.

[2016-01-11 05:51] #251 closed

[2016-01-11 07:57] NezSpencer commented on #712
Wanted to file this issue too before I noticed its been filed already.

[2016-01-11 08:00] SecUpwN commented on #712
@NezSpencer, are you able to see if you can find and fix the cause of this as well?

[2016-01-11 08:16] NezSpencer commented on #712
@SecUpwN havnt found a fix yet but I am trying to

[2016-01-11 08:25] SecUpwN commented on #712
Thanks, I very much appreciate your effort, @NezSpencer.

[2016-01-11 08:41] SecUpwN opened #745 "Empty IMSI Information"
After fixing #717 our app does not display the `IMSI` anymore. @jensstein, do you find the cause?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29763039-empty-imsi-information?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2016-01-11 08:43] SecUpwN opened #746 "Neighboring Cells show unknown Type"
There seems to be a bug with detecting the Neighboring Cells as they show `Type: 0 - Unknown`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29763148-neighboring-cells-show-unknown-type?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysou

[2016-01-11 08:46] jensstein commented on #745
yes, it's because you are not setting any text in it's textview when you get it at DeviceFragment.java:L174.
i can make you a pull request with my original patch if you are still interested :)

[2016-01-11 13:33] SecUpwN commented on #745
@jensstein, I have already applied your patch for #717. I'd appreciate a pull request only for this Issue.

[2016-01-11 13:47] jensstein commented on #745
ah.. no, you didn't apply my patch. you only took some of it and you forgot the attribution. if you had used either git or patch to apply it, you would have had another result.
so the most sensible would be to revert 7717cad0098a0c799fffabb907d7dbfb6e89a9be, esspecially because it doesn't do what it says.
and i will put in a pull request :)

[2016-01-11 14:46] SecUpwN commented on #745
Thanks for having a closer look at what I did. Reverted and will instantöly merge your awesomeness. :+1:

[2016-01-11 14:50] #745 closed

[2016-01-11 14:54] jensstein commented on #745
cool, glad i could help :)

[2016-01-11 14:55] SecUpwN commented on #731
Seems like @Buildozer has finally solved this Issue. GIT-Sha is now shown. Thank you very much!

[2016-01-11 14:55] #731 closed

[2016-01-11 14:56] SecUpwN commented on #717
Sorry @jensstein, seems like your pull request still did not fix this one. Need to re-open it. :P

[2016-01-11 15:13] jensstein commented on #717
eh, how didn't it fix it? is the serial number still completely missing? is imsi displayed? are the fields blank or do they have "N/A"?
both imsi and serial is displayed correctly on my device now with a fresh compile of the development branch.

[2016-01-12 12:20] NezSpencer commented on #712
@SecUpwN  @larsgrefer please check [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/748)

[2016-01-12 12:42] SecUpwN commented on #717
@jensstein, obvioussly Buildozer did not do a fsuperfresh build - it now did and everything is fine. But let me ask you one last question: When `Operator:` shows `N/A`, that means that this Info is not on the SIM, right?

[2016-01-12 12:44] #717 closed

[2016-01-12 12:49] larsgrefer commented on #712
fixed by #748

[2016-01-12 12:49] #712 closed

[2016-01-12 13:13] jensstein commented on #717
great :)
also, relating to "N/A" you have a bug where the strings for the various sim attributes are not initialised if TelephonyManager.getSimState() returns anything other than SIM_STATE_READY. so in all other cases nothing is displayed.
this also means that checking sim state in e.g. Device.getSimSerial in effect is redundant. is this by design? without having any knowledge of the code i would

[2016-01-12 13:24] SecUpwN opened #749 "Main Screen: Operator shows N/A"
Discovered by @jensstein in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/717#issuecomment-170907747, `Operator:` is currently showing `N/A`. Reason:

Since you've digged that part of the code, would it be possible for you creating a fixing pull request?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29803228-main-

[2016-01-12 21:04] jensstein commented on #749
yes, the problem isn't that it is showing N/A but that none of the fields are showing anything if the system doesn't report the sim card as being ready.
if i were to make a patch i would like to pull out the switch statement and maybe also the other checks for the return of getSimState because they don't really seem to do anything.
would that be okay?
there is also a great deal of code duplication

[2016-01-12 21:10] SecUpwN commented on #749
Thanks for analyzing our code, @jensstein! We're happy getting any improving help we can get.

would that be okay?

I'm not sure wether these are needed for solving #96 (hopefully some day), but don't worry, the pull request you'll create will likely be checked by @larsgrefer before we merge it. We'll make sure it fits.

If that is the case, of course we'd be happy to see these things melt down. T

[2016-01-12 22:55] SecUpwN commented on #706
@jensstein or maybe @NezSpencer, can you find the cause of these Issues?

[2016-01-12 23:09] SecUpwN opened #750 "F-Droid: Automatic updates disabled"
Taken from https://gitlab.com/fdroid/fdroiddata/issues/377#note_3099166, I am filing this Issue to find out what we need to change in order to be able to provide the next version of our app on F-Droid as well. The solution to this Issue should ultimately be in line with the upcoming #730. Maybe @mvdan can help us?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https:/

[2016-01-12 23:12] mvdan commented on #750
We parse the build.gradle file (or android manifest) to gather the version name. All we get is this:

[code]

And no, we cannot execute gradle to evaluate that. It would make the whole process a lot more insecure, complicated and slow.

You can fix this by just using a number here.

[2016-01-12 23:14] SecUpwN commented on #750
@mvdan, does that mean that F-Droid won't detect version changes when we merge #730?

[2016-01-12 23:16] mvdan commented on #750
The same will apply, yes.

Note that this only affects automatic updates. Updates can still happen, but they'll have to be manual.

[2016-01-12 23:24] SecUpwN commented on #750
@mvdan, what do you mean by "the same"? We are aiming to automatically publish our app on the stores that we support with merging #682, will that also not be possible then?

Means, I'd have to manually edit the metadata file via merge request on GitLab?
@larsgrefer, I'd like you to chime in and tell us if we can improve #730 somehow?

[2016-01-12 23:26] mvdan commented on #750
Come on, this is not that hard. I am saying that you should use a literal instead of a variable in that line. Like:

[code]

Instead of:

[code]

[2016-01-12 23:43] larsgrefer commented on #750
@SecUpwN It seems like we can't use automatic updates on f-Droid and #730 at the same time because F-Droid wants to have a literal here but we are using an expression

[2016-01-12 23:48] SecUpwN commented on #750
@larsgrefer, that's uncool. That would mean I'd have to log in to Gitlab each time we publish a new release, then manually go through all the hassle of creating and cleaning the metadata file and ask for a merge. @mvdan, isn't there a slight possibility that F-Droid could improve the version detection, please?

[2016-01-12 23:52] larsgrefer commented on #750
@mvdan using a literal at this point would hurt the DRY principle on our side because we want to use different versionNames for different productFlavors and we want to use git for tracking our versions.

How can we use the manual updates you mentioned earlier?
Or is it possible for us to give you only the apk?

[2016-01-12 23:54] mvdan commented on #750
Something like https://gitlab.com/fdroid/fdroiddata/merge_requests/1139

False.

As already said, no.

[2016-01-13 08:30] NezSpencer commented on #706
@lop1 @SecUpwN  by __stealth sms detection__ do you mean __enable sms detection__ checkbox preference in the settings screen?

[2016-01-13 08:47] NezSpencer commented on #706
and how should it behave normally?: shut down all processes or only allow one process to exist?

[2016-01-13 10:31] lop1 commented on #706
Yes, this is in my understanding the Way  to activate the detection .

Envoyé de mon iPad

[2016-01-13 11:25] NezSpencer commented on #706
@lop1 I havent been able to reproduce this issue. Have you been able to reproduce it again lately?

[2016-01-13 11:41] NezSpencer commented on #706
This is what I get:
As long as the app is opened, a process appears on the OS monitor process screen but when I close the app, the process clears as in __No AIMSICD process__ runs. I think earlier bug fixes might have fixed this as well but please indicate if you still get this issue

[2016-01-13 11:42] lop1 commented on #706
   Yes today, I just run it twice and have 4 process running after quiting.

Envoyé de mon mobile 

<div>-------- Message d'origine --------</div><div>De : Nnabueze Uhiara <notifications@github.com> </div><div>Date :13/01/2016  12:26  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div

[2016-01-13 11:43] NezSpencer commented on #706
@lop1 on what phone?

[2016-01-13 11:45] NezSpencer commented on #706
and can you state clearly what you did with the AIMSICD app when you ran it?

[2016-01-13 11:45] lop1 commented on #706
Samsung galaxy s4 mini , stock Tom rooted with towel root. 
I9195 XXUCOJ1

Envoyé de mon mobile 

<div>-------- Message d'origine --------</div><div>De : Nnabueze Uhiara <notifications@github.com> </div><div>Date :13/01/2016  12:43  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>O

[2016-01-13 11:50] lop1 commented on #706
Just run it, Check the "sms détection", let it run for 30 seconds, quit aimsicd, then run os monitor to see what is remaining.

Envoyé de mon iPad

[2016-01-13 11:54] lop1 commented on #706
And after 10 minutes :

Envoyé de mon mobile 

<div>-------- Message d'origine --------</div><div>De : Nnabueze Uhiara <notifications@github.com> </div><div>Date :13/01/2016  12:45  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Objet : Re: [Android-IMSI-Catcher-Detector] Services

[2016-01-13 12:04] lop1 commented on #706
I try to run it, uncheck the sms detection and quit after 30 seconds. 

Envoyé de mon mobile 

<div>-------- Message d'origine --------</div><div>De : Nnabueze Uhiara <notifications@github.com> </div><div>Date :13/01/2016  12:45  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Obje

[2016-01-13 16:50] SecUpwN commented on #706
@NezSpencer, that's interesting. Thansk for digging into it.

@lop1, which version of our app you run? Did you compile a fresh build from `development` branch?

[2016-01-13 16:52] NezSpencer commented on #706
@SecUpwN thanks I forgot to ask that

[2016-01-13 17:02] SecUpwN commented on #706
@NezSpencer, not your fault. It's just too bad that most people ignore our [CONTRIBUTING.md](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md).

[2016-01-13 17:34] lop1 commented on #706
The 1.38 bêta official

Envoyé de mon mobile

[2016-01-13 20:31] SecUpwN commented on #706
@lop1, please use [these instructions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Building) and verify that this Issue persists. Thank you.

[2016-01-13 21:19] SecUpwN commented on #517
Any update on this, @larsgrefer? Please just quickly review this Issue and decide which things we should implement to make life of developers easier so that we can finally close this. Thank you very much.

[2016-01-13 21:44] larsgrefer commented on #517
I think we should use one issue per suggestion and not one issue for all suggestions

[2016-01-13 21:47] SecUpwN commented on #517
@larsgrefer, fine, I will respect that in the future. But tearing apart this Issue into multiple smaller ones is not really helpful right now, as we then pile even more stuff than we already have. Please take a minute to re-read this and open an Issue for the libraries you think should be implemented in the long run. Thanks!

[2016-01-14 05:40] ProGamerGov opened #751 "Support for importing Wigle Wifi GSM cell tower databases into AIMSICD"
I am sure you already know about Wigle Wifi as the developers originally closed another "feature request/suggestion" from another user here for Wifi integration (this post is purely about the cellular applications of the app), that was related to it here: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/545

So first off whenever I have GPS issues with AIMSICD, the Wigle WIfi Androi

[2016-01-14 06:11] ProGamerGov commented on #630
I am running stock Android and have the same issue. It's a bug in the app, not because of CM.

[2016-01-14 07:46] SecUpwN commented on #751
Thanks for proposing thi, @ProGamerGov. At the moment we simply have way too many Issues and do not see the need for adding this, nor the enhancement that it would provide. Pull requests are welcome.

[2016-01-14 18:26] SecUpwN commented on #750
I don't really see the process there. Do you have a step-by-step guide for this, @mvdan?

[2016-01-14 18:29] mvdan commented on #750
No, there is no step-by-step guide for such a simple thing. You only need to add another build entry like this one:

https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/com.SecUpwN.AIMSICD.txt#L131

[2016-01-14 18:35] SecUpwN commented on #750
Thanks for the clarification and your patience with my nagging questions, @mvdan.

[2016-01-14 18:35] #750 closed

[2016-01-14 22:00] larsgrefer opened #752 "Use Retrofit for communication with web- and REST-services"
This issue supersedes #517. See the [Retrofit website](https://square.github.io/retrofit/).
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29888556-use-retrofit-for-communication-with-web-and-rest-services?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2016-01-14 22:05] larsgrefer commented on #517
- Injection of View and Loggers is already implemented
- Retrofit can be discussed here: #752
- My favorite persistence library is discussed here: #655

[2016-01-14 22:05] #517 closed

[2016-01-15 01:44] Walkman100 commented on #706
how up-to-date is the F-Droid repo?

[2016-01-15 01:44] Walkman100 commented on #706
or out of date, for that matter

[2016-01-15 11:28] SecUpwN commented on #706
@Walkman100, the F-Droid repo gets updated with every release. Of course, our `development` branch is always ahead. So if you want to check if an Issue still persists, a manual build is recommended.

[2016-01-15 11:42] SecUpwN commented on #752
Thanks for proposing this. Please add correct labels and a short description of what this improves.

[2016-01-16 09:13] jensstein commented on #749
pull requested: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/753 :)

[2016-01-17 00:40] bmcycles commented on #13
Why do I get multiple cells in one location and they move and they have different cid they are not anywhere near a real cell site and their lat and lon coordinates are all just a few numbers off and what are the red lines on map than span out away from each major city into nowhere

[2016-01-17 00:42] bmcycles commented on #13
Please help asap on my question I think we are being watched for a long time there are lots of different signs and issues that come up often thanks

[2016-01-17 00:47] bmcycles commented on #13
Please help asap on my question I think we are being watched for a long time there are lots of different signs and issues that come up often thanks

[2016-01-17 07:05] SecUpwN commented on #13
@bmcycles, sorry to hear you're having Issues. Please file a fresh Issue with [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md#debugging) and add screenshots.

[2016-01-18 06:21] SecUpwN commented on #655
@larsgrefer, please have a look at [Sponsors](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector#sponsors). I don't know what your plan is and who shall re-write the database stuff yet another time, so I am wondering if the DB experts of our sponsors might help here?

[2016-01-18 06:47] SecUpwN commented on #749
Thanks for still working on this, @jensstein. This will be solved when https://github.com/jensstein/Android-IMSI-Catcher-Detector/pull/1 has been added.

[2016-01-18 07:25] SecUpwN commented on #718
@gorillap, as you can see from the above closed Issue, this should be fixed. Please test the latest release.

[2016-01-19 04:53] gorillap commented on #718
Tested latest test release 0.1.38 and issue is fixed.

[2016-01-19 09:23] Mahmoudshakra commented on #93
Hi  E3V3A ,
can you help me to get my TMSI i tried to get it by " obtain TMSI and Kc using AT commands:
http://ferrancasanovas.wordpress.com/2014/01/28/get-kc-key-and-tmsi-number/
http://domonkos.tomcsanyi.net/?p=369 " with no gain

[2016-01-19 12:21] #718 closed

[2016-01-19 12:26] SecUpwN commented on #93
Good evening @Mahmoudshakra, E3V3A has left our project. Please do not contact him. Since our app is still in `ALPHA` development mode, you may not be able to Issue the correct AT command through the [AT Command Interface](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/AT-Command-Interface), but feel invited to try your luck. Maybe @ga900 can help you a bit here.

[2016-01-19 12:34] SecUpwN opened #754 "Broken AT Command Interface"
I am always using the latest version compiled from our `development` branch and my [testing device](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Testing-Devices) - it seems as if the `AT Command Interface` does not react to any command on `/dev/smd0`, especially not those described in the article [Get Kc key and TMSI number](https://ferrancasanovas.wordpress.com/2014/01/28/get-kc-

[2016-01-19 12:35] SecUpwN commented on #628
@He3556, here is an interesting read for your point 4: [Cracking and sniffing GSM with a RTL-SDR](https://ferrancasanovas.wordpress.com/cracking-and-sniffing-gsm-with-rtl-sdr-concept/).

[2016-01-21 22:12] ecs87 commented on #754
Hey there,

I've been lurking around for a while looking at what you guys have been doing and decided to give the APK a try. I also couldn't get the AT command interface to work on my G920P on /dev/smd0. I didn't really expect it to work, seeing as how I can't get any terminal to get a response from the phone on any of the /dev ports. It however still communicate over a UART interface when I dial

[2016-01-23 12:21] SecUpwN commented on #754
Huge thanks for the binary and welcome to our little party, @ecs87! I am not sure yet how and if we can integrate this, but I am confident @0x7678 will hopefully have a closer look at this since he's our expert.

[2016-01-23 15:11] ecs87 commented on #754
No problemo. Well, you guys have been interested in reading information from the RIL, which I assume this program does. It has DIRECT access to RIL or maybe the modem; I'm not entirely sure seeing as how I'm not a baseband engineer/programmer (more on the web-programming end of things, but reverse engineering the baseband is a hobby of mine), but the AT commands I've seen it send aren't recognized

[2016-01-24 17:36] 0x7678 commented on #754
@SecUpwN and @ecs87 thank you for this, let me look at them during the week, superb input by the way.

[2016-01-24 17:55] banjaxbanjo commented on #754
@ecs87 Very interesting stuff and didn't know binaries like this existed.

dev/smd0 isn't always going to process the AT commands and you should do process of elimination of all the smd ports to see if others are more friendly at giving back data.

On mtk phones atci (name similar to that ) ports are good for AT commands think ports are in dev/radio or something.

My Gaxlaxy S5 smd 0 7 9 are good

[2016-01-24 17:57] ecs87 commented on #754
You're most welcome. These files came out of my z3x installation directory. I'm positive that they would never release the source of any files, so unfortunately the reversing process might be a huge pain in the ass. Sorry in advance!

Also another addition would be what I think is their AT RIL binary for the SHANNONxxx chipsets (including the SHANNON333, their most recent Exynos baseband chipset i

[2016-01-24 18:01] banjaxbanjo commented on #754
@0x7678 awesome blog by the way some amazing stuff on there and great source of information👍.

[2016-01-25 01:13] vanitasvitae commented on #202
Have you thought about adding the fact, that AIMSICD is not available in the PlayStore, to the app itself? That way a user who wants to tell other people about the app is reminded to tell them where (not) to look for the app.

[2016-01-25 01:35] vanitasvitae commented on #151
"Do one thing and do it well". Why don't you implement this feature in another app? I would not expect this functionality from an IMSI-Catcher detector...

[2016-01-25 07:29] 0x7678 commented on #754
@ecs87 its quite OK, will definnatley look at them and how they will reflect on the project, also had issues with the AT cok=mmands on my nexus 6, will retry after pushing some of this :)

@banjaxbanjo thank you, really humbled, been silent on it though... will add more content :)

[2016-01-25 07:31] SecUpwN commented on #202
@vanitasvitae, it is mentioned everywhere across our project and we also linked [this FAQ entry](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/FAQ#q-why-wont-you-upload-your-app-to-the-google-play-store). Feel invited to craft a pull request if you like to see an improvment on our aöp somewhere. Thank you.

[2016-01-25 08:39] vanitasvitae commented on #151
@SecUpwN: I do have read the whole thread. But I still think AIMSICD should prevent you from getting spied on by IMSI Catchers, not from getting apps installed on/removed from your phone. You could still put that functionality into another app and even promote that app from within AIMSICD.

After all that's just my opinion, but I think AIMSICD should let the task of hardening android up to the use

[2016-01-25 08:47] SecUpwN commented on #151
Thanks, but we decided this to be a *countermeasure* to be made available from *within our app*. So please do not question our decision here, but rather provide some useful thoughts on how to accomplish this.

[2016-01-25 08:50] vanitasvitae commented on #151
Question everything! :)

I currently do not have the time/knowledge to contribute code, but this is open source so I thought I'd contribute by adding to this discussion.

In the end its your choice though.

[2016-01-26 06:01] TPS opened #757 "Consider adapting CODE_OF_CONDUCT.md"
Full document @ https://github.com/ContributorCovenant/contributor_covenant/blob/master/CODE_OF_CONDUCT.md, & details @ https://github.com/ContributorCovenant/contributor_covenant/.

What do you all think?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30210477-consider-adapting-code_of_conduct-md?utm_campaign=plugin&utm_content=tra

[2016-01-26 08:54] SecUpwN commented on #757
Thanks foryour suggestion, @TPS. All these things, like treating each other with respect and filing proper Issues as well as bringing patience to the table, are standard principles everyone should know. We already have our [CONTRIBUTING.md](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md) and [DISCLAIMER](https://github.com/SecUpwN/Android-IMSI-Catcher-Det

[2016-01-26 15:54] TPS commented on #757
[CODE_OF_CONDUCT.md](https://github.com/ContributorCovenant/contributor_covenant/blob/master/CODE_OF_CONDUCT.md) is more of a meta-dev doc — i.e., how we treat _each other_, not so much the code proper, while we contribute to AIMSICD.  Nothing I see in any of those docs addresses that, & many projects _don't_ use such as working principles.  As we continue to get devs from many backgrounds, I thin

[2016-01-27 04:46] ProGamerGov commented on #751
Thinking farther towards maybe doing this myself...

Wigle = AIMSICD

WigleWifi_20160113201516.csv = aimsicd-DBi_bts.csv

Last AIMSICD data entry number  + 1 =  id

The "MAC" value can be separated into 4 separate values with a single "0" discarded.

MCC MNC0_LAC_CID = MCC + MNC + LAC + CID

CurrentLatitude = gps_lat

CurrentLongitude = gps_lon

00000000 = 0000

10 digits = 4 digits

Is it in the

[2016-01-27 04:59] SecUpwN commented on #757
Ok, I see your point. I would like to avoid adding yet another file to our source tree and add a modified version of  the `Code of Conduct` into our [CONTRIBUTING.md](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md), similar to [how GitLab did it](https://github.com/gitlabhq/gitlabhq/blob/master/CONTRIBUTING.md#code-of-conduct). Fair?

That is usually what

[2016-01-27 05:10] SecUpwN commented on #749
@jensstein, it seems as if your pull request solved our Issues with missing `IMSI` and `Serial Number`, but now `Operator` always stays empty. Are you still working on https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/753#discussion-diff-49934850 and removing duplicate code?

[2016-01-27 05:23] SecUpwN commented on #751
Thanks for considering to craft a pull request, @ProGamerGov.

Not sure. @larsgrefer, what would be the best way for moving towards #655?

Regarding these questions, I would like @He3556 to chime in with his knowledge.

If you open the [Navuigation Drawer](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Navigation-Drawer), you see the submenu `SETTINGS`. It would be great if another

[2016-01-27 05:42] TPS commented on #757
Perfectly fair (just perhaps as long we keep an eye on any beneficial changes to [the source doc](https://github.com/ContributorCovenant/contributor_covenant/blob/master/CODE_OF_CONDUCT.md)).

&, of course, I agree (& :clap:) with all the rest of the above!

[2016-01-27 06:11] #757 closed

[2016-01-28 10:52] Klaws-- opened #759 "GUI crashes upon application start"
The mobile is a One+ 2 (ONE A2001, so it's the chinese hardware version, with the language set to English, 4GB RAM, 64GB internal storage, no external storage (it does not feature an SD card slot)) with both SIM card slots populated (slot 1 with a T-mobile SIM, slot 2 with a MEDIONmobile SIM). Android version is 5.1.1 with Android security patch level December 1, 2015. It is NOT rooted.

AIMSICD v

[2016-01-29 16:11] SecUpwN commented on #759
Goood evening @Klaws--, orry to hear you're having Issues. Please stay tuned for the upcoming release soon to see if this has already been fixed. Otherwise, please craft a [logcat](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md#debugging) for us. Regarding your colorblindness, please have a look at #512 and help us finding a good solution there.

This is

[2016-02-03 15:54] Klaws-- commented on #512
I'd go for numbers. NOT roman numerals if these can pose ambiguities for a dual-SIM setup - otherwise okay.

I totally agree that numbers do not easily convey the precise meaning of a threat level. The same is however true for colors, bar graphs or whatever else you can fit into a 5mm status icon. I mean, was yellow/2/two sparks/half-gray-tower more like "Insecure Service Area: At least 1 new or u

[2016-02-03 16:44] Klaws-- commented on #512
Also wanted to mention the DEFCON levels (1-5), because everyone knows them. Well, at least everyone who has watched "War Games" in the 80s.

Unfortunately, the  DEFCON level also comes with a color scheme. blue (5), green (4), yellow (3), red (2), white (1). Google wants white icons, so it would mean "Nuclear War Imminent" all the time.

Yuk.

[2016-02-04 16:39] quantum1423 opened #764 "Don't turn on the GPS when cell tracking is off"
AIMSICD turns on the GPS even when I have the cell tracking off. This drains a lot of battery, and puts an ugly notification on the top bar.

I just want AIMSICD to buzz my phone when it detects an attack; I usually can remember where I was when the attack occurred if it's logged with a timestamp. I don't need it to remember the locations of IMSI catchers etc.

<bountysource-plugin>
---
Want to ba

[2016-02-05 06:47] vanitasvitae commented on #764
Have you tried to remove the App from the list of recently started apps by swiping it out of the recent apps view after changing the settings? I guess AIMSICD only applies changed settings after been "soft-killed" in this way.

[2016-02-05 07:41] SecUpwN commented on #764
Thanks for notifying, @quantum1423. Is your Issue a duplicate of the already fixed #251?

[2016-02-06 03:53] quantum1423 commented on #764
No, I don't think it's the same issue. I'm not trying to turn off GPS globally; I just want AIMSICD not to turn on the GPS unless it needs to log locations.

[2016-02-06 18:09] vanitasvitae commented on #15
I'd like a really annoying alert when the app detects potential danger. I imagine something comparable to an alarm clock or an incoming phone call. Definitely some persistent sound+vibration that the user has to actively confirm, not just a single "beep" or short vibration. Of course, the user should be able to adjust that option (eg. only activate alert at higher risk levels etc.).

I'm very inte

[2016-02-06 18:29] vanitasvitae commented on #15
I did some research and it seems like what I have in mind has to do with a KeyguardManager.KeyguardLock and the PowerManager flag ACQUIRE_CAUSES_WAKEUP.
I will investigate and see, if I can maybe create a class, that creates such an alert.

[2016-02-07 11:19] vanitasvitae commented on #15
I did a small mockup of how I'd imagine the alert:
![alert](https://cloud.githubusercontent.com/assets/7854206/12872016/d95fb220-cd94-11e5-9e71-39ce62f6633c.jpg)
The Arrow thingy at the bottom is kind of a slider that the user has to pull aside to stop the alert.

[2016-02-07 17:47] SecUpwN commented on #15
Welcome to our project and thanks for forking us, @vanitasvitae!

Since @larsgrefer has modifies our notifications before to make them *less obtrusive*, I'd like to hear his opinion on this. Generally speaking, I like your idea. But maybe making obtrusiveness an *option* is better?

[2016-02-07 20:18] vanitasvitae commented on #15
Thank you @SecUpwN .
Indeed it would be cool to have a checkbox or something in the settings of the app to change notification modes.

I wanted to say that it has been quite some time since I actively did something for Android and I have to do quite some reading before I can contribute code. Also I am very busy right now with exams, so don't expect some outcomes in the very near future :)

[2016-02-08 16:39] SecUpwN commented on #15
Don't worry. If you see how slow we're currently moving, literally *any* contribution is a small life saver.

Take your time and con tribute whenever you feel like your coffee is making you enthusiastic enough. ;-)

[2016-02-13 17:00] SecUpwN commented on #658
This Issue should be fixed with the just merged #682. Thanks for your input everyone!

[2016-02-13 17:00] #658 closed

[2016-02-13 21:34] SimonMarquis commented on #726
Every button on the *About* page already redirects the user to a specific web page.
It would make more sense to use the same mechanism for the *credits* button.
For instance, there could be a CREDITS.md file at the root of the project.
What do you think about this?

[2016-02-13 21:39] SecUpwN commented on #726
Interesting point, @SimonMarquis. To be honest, our main goal always was to make our app get away from using internet access at all. Personally, I enjoy that the list of contributors can be seen within our app and we plan to make all other buttons be In-App buttons as well. Unfortunately, we really lack developers.

[2016-02-13 21:57] SimonMarquis commented on #726
Well I can do a PR for this issue (refactoring the asset into a string)

[2016-02-13 22:07] SecUpwN commented on #726
That would be wonderful, @SimonMarquis! Are you able to craft a PR until tomorrow? :)

[2016-02-15 08:43] NezSpencer commented on #764
@quantum1423 hope you really dont mind but could you expatiate on what you want AIMSICD to do?
I dont think AIMSICD turns on GPS automatically, the user is prompted to turn on GPS at launch of the app. Are you saying you want GPS to be turned off when cell tracking is disabled?

[2016-02-15 20:18] #726 closed

[2016-02-15 21:40] quantum1423 commented on #764
Yes.

[2016-02-16 05:45] PlNG commented on #764
What about passively listening for cell towers (the way llama does), and actively making a GPS request when a possible attack or new tower is detected?

[2016-02-16 07:20] NezSpencer commented on #764
@SecUpwN wht do you think?

[2016-02-16 14:06] SecUpwN commented on #764
Sounds like a great solution, both on battery life and privacy. But since our app is currently still in bleeding `ALPHA` stage and stays in yellow mode most of the time due to missing detection methods, I'm not sure if these changes are possible yet. Maybe we should combine these settings with #15?

I'd like @larsgrefer and @He3556 to have a word about this here as well. I feel as if our in-app `P

[2016-02-16 14:10] SecUpwN commented on #759
@Klaws--, have you tried our latest release yet? Please close this Issue if it has been solved.

[2016-02-16 19:51] SecUpwN opened #769 "Incompatible update from 0.1.38-alpha to 0.1.39-alpha"
Just to let everyone know: It seems as if the APKs automatically attached to [released 0.1.39-alpha](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases/tag/v0.1.39-alpha) are not compatible to the previous version `0.1.38-alpha`, something may be wrong with our automated buillds.

Also, we moved the tag for `0.1.39-alpha` after we released it and then realized that it pointed to no

[2016-02-16 21:24] He3556 commented on #764
yes i think this is really annoying and i don't know why we did it this way. I remember some discussion we had with EVA about it. But when Cell tracking is switched off - why would we need GPS?

The yellow alarm is a problem on a few phones but not all. On my HTC i never had this issue. We could fix these false alarms if some developer had time for it right now...

Sorry but what is llama?

[2016-02-16 22:43] larsgrefer commented on #769
fixed in v0.1.39.1-alpha (be335f0159fd6e93e94103f42912057667e376b7)

[2016-02-16 22:44] #769 closed

[2016-02-17 08:29] benefaktorix opened #771 "Can't install v0.1.39.1-alpha"
Hi, I don't if any of you have ran into this as well but - i can't install 39.1 alpha. When I follow my usual procedure of downloading the apk and allowing the unknown sources to install, the usual screen to update the app pops up but the "Install" button is not clickable, while all the rest (cancel, app permissions, etc.) are. Stock android 4.4.2 Samsung s4

<bountysource-plugin>
---
Want to back

[2016-02-17 09:27] SecUpwN commented on #771
Good mroning @benefaktorix. From which version did you try to update from? In fact, our previous automatic release `0.1.39-alpha` had a problem with the signature, so you cannot update from there. I'll add a special note on the release in question right now. To make a long story short: Please update from `0.1.38-alpha` directly to `01.39.1-alpha` either via GitHub releases or XDALabs. Did this hel

[2016-02-17 11:38] Nordlenning commented on #771
I encountered the same problem on my Sony V lt25. I removed version 0.1.38a and tried again to install version 0.1.39 downloaded from github. It worked! & the app works fine so far, 3 days.

[2016-02-17 11:57] larsgrefer commented on #771
I've tested on my Nexus 5 (Stock Android 6.0.1):

(Note the difference between `38`, `39` and `39.1`)

Updating from `0.1.38-alpha` to `0.1.39.1-alpha` works

Updating from `0.1.38-alpha` to `0.1.39-alpha` or from `0.1.39-alpha` to `0.1.39.1-alpha` won't work, because `0.1.39-alpha` has another signature than `0.1.38-alpha` and `0.1.39.1-alpha`