[2015-06-04 19:20] ziem commented on #443
Can you post error message?

[2015-06-04 19:54] SecUpwN commented on #443
@ziem, this is where [Travis CI complains](https://travis-ci.org/SecUpwN/Android-IMSI-Catcher-Detector/builds/65388561):

So it complains about the `build.gradle`. The question is: Which `build.gradle` did @square mean when they described the implementation of `leakcanary` [here](https://github.com/square/leakcanary#getting-started)? We have two: [This one](https://github.com/SecUpwN/Android-IMSI-

[2015-06-04 19:55] ziem commented on #443
You added LeakCanary dependencies in wrong build.gradle file. Move them form `build.gradle` to `app/build.gradle`.

[2015-06-04 20:02] SecUpwN commented on #443
Thanks for heping, @ziem! :+1: If you have time, can you have a look at our `URGENT` Issues now?

[2015-06-04 20:04] ziem commented on #443
If you receive another error:

You need to set `compileSdkVersion` and `targetSdkVersion` to 21.

[2015-06-04 20:29] SecUpwN commented on #443
I did. Now I'm getting the following [complaint](https://travis-ci.org/SecUpwN/Android-IMSI-Catcher-Detector/builds/65468235):

[2015-06-04 20:57] ziem commented on #443
Alt + Enter ;).

[2015-06-05 02:13] E3V3A commented on #443
Doesn't setting target to 21 remove all downward compatibility ?

[2015-06-05 11:04] ziem commented on #443
No, `minSdkVersion` is stll set to 16.

[2015-06-05 11:37] SecUpwN commented on #443
I don't get it. Why is this thing not working properly? Can you digg into this, please?

[2015-06-05 12:01] ziem commented on #443
You are probably missing:

    import com.squareup.leakcanary.LeakCanary;

[2015-06-05 16:16] SecUpwN opened #450 "Translations: Proper wording for "tracking" and "monitoring""
We currently have some rather confusing wording on the menu entries on our sidebar. These include:

* `Toggle AIMSICD monitoring`
* `Toggle 2g-only network lock`

This appears rather confusing as mentioned in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/447#issuecomment-107914666.

---

In German, I have already corrected these things somewhat:

* `Mobilfunkschutz ein/ausschalten`

[2015-06-05 17:21] ph0t0n commented on #450
do you want a native German or English speaker (I'm this) to comment? "Toggle 2G-network for recording" is very ambiguous. It sounds like you are going to change my phone mode with regards to 2G in some respect (like enable/disable 2G radio), or make AIMSICD follow the GSM mode and only be active when on 2G. (is it this?)

I looked at the source and I am still not sure. It seems to immediately set

[2015-06-05 17:28] SecUpwN commented on #450
Yes, please. Welcome to our project, @ph0t0n! ;-)

We actually force the phone into 2G network mode and track the path where the user walks via GPS while at the same time recording the connected cells for a possbile later upload to OpenCellID.

@E3V3A and possibly @banjaxbanjo would you please see if I explained the right thing above? If so, I wonder why people cannot see what is actually happenin

[2015-06-05 17:52] ph0t0n commented on #450
ok, but Tracking Cell Information is enabled by default, yes?

right now my phone is TelephonyManager.PHONE_TYPE_GSM and TelephonyManager.NETWORK_TYPE_HSPA and the message R.message.tracking_cell_information is displayed as soon as I start the app.

I think it is from this code block:

https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/d7a9f64e3f4c1e288b0288299d32313273744d22/app/src/ma

[2015-06-05 20:51] banjaxbanjo commented on #450
Yes this is confusing about the 2g mode to me also I haven't really focused on the difference between the 2 monitoring modes but from what I see
Toggle AIMSICD monitoring = monitor and log all cells
Toggle 2G-only network lock = gps logging (basically activates gps and when a new cell is spotted will provide up to date gps coors for celltracker) Dont know why this is named 2G network lock.

all th

[2015-06-06 01:13] He3556 commented on #450
sorry for my delay and all the confussion. banjaxbanjo is quite close to the right answer.

monitoring = log all info (CellID, LAC)
tracking = log own location + signal strength of the connected cell

the idea is that one parameter a catcher can't fake is the higher signal strength than the real cell. but this is more complicated...

We are mainly focused on 2G networks because that's where the ca

[2015-06-06 12:31] zguig52 opened #452 "French legitim access points list"
Please find hereafter a datasource with french legitim access points (antennas/opertors/frequency plan):
http://www.cartoradio.fr/

It might be nice to integrate it in your datasources.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20731842-french-legitim-access-points-list?utm_campaign=plugin&utm_content=tracker%2F565750&utm_mediu

[2015-06-07 07:03] E3V3A commented on #450
Actually we **can** lock phone to 2G operation, but it's modem specific. We should be able to hijack the google API settings to enable this.

[2015-06-07 07:07] E3V3A commented on #450
However as hehe3556 said , this option is probably if less importance today where 3G catchers are readily available while A5/3 are rarely implemented.

[2015-06-07 14:26] E3V3A commented on #452
Thanks @zguig52 for tryingto help. But I think these should already be included into the OCID or MLS DBs. So what make you say this resource is better than those? Are you affiliated to that site?

[2015-06-07 18:02] gusfl commented on #452
well,

I did a small comparison, and the results are really differents between OpenCellID and CartoRadio... For example, here are street in the center of Paris :

![on CartoRadio](http://www.pixenli.com/images/1433/1433699388023172300.jpg)

![on OCID](http://www.pixenli.com/images/1433/1433697987011250200.jpg)

(yes, i promise you it's the same location ^^ )

Both of theses two map are, i think, w

[2015-06-07 18:32] SecUpwN commented on #450
@E3V3A, so what to do now? What would be the correct meaning that we shall print for both buttons?

[2015-06-07 19:39] zguig52 commented on #452
Hi guys,

I am not affiliated at all with this website or to the french government.

I use it for telecom engineering projects (bts coverage optim for example). All that i tried were right and properly referenced here.

I came with this suggestion because where I live (Fretin/59/north), I could not find any bts referenced on the map from imsi catcher. When you look at cartoradio, they are all ther

[2015-06-07 20:56] SecUpwN commented on #450
I have just received an answer from @He3556 regarding the naming the buttons and will change a few small things before publishing today's release. We need to clear up the forcing into 2G mode, since our code does not do that and it is not clear if we can do that for all devices. Thus, a renaming within our code and another renaming of the buttons (my part) will be necessary in the upcoming week.

[2015-06-08 00:13] E3V3A commented on #452
@gusfl Thanks for you detailed clarification! Yes, OCID data is unfortunately based on a mix of average signal measurements and exact BTS antenna locations. (Yes, you've understood this perfectly well. Antennas are not the same as a BTS, but for the purposes and simplicity of our project we refer to the exact antenna GPS points as `BTS`s.

I also agree with @zguig52 that there is no reason not to

[2015-06-08 00:24] E3V3A opened #453 "Make Buildozer versions concide with app info display"
It's an annoying fact the the automatic development builds made by our [Buildozer](https://buildozer.io/) engine, doesn't coincide with the version that is shown in the app under `About AIMSICD`. I would very much like to see these version number coincide. That should also be true for the non-debug GitHub releases.

This issue is closely related to #147, but that info is outdated in light of this

[2015-06-08 00:29] E3V3A commented on #434
This is a very annoying bug, that was crept into some fairly recent code cleanups. @banjaxbanjo or @ziem can you please have a look to see what's causing this? (I think it may be an index issue...)

[2015-06-08 02:57] SecUpwN commented on #453
Why is that "annoying" to you, @E3V3A? Those builds are just for us, just install the latest one? As far as I know there is also no way of making @Buildozer rename the app version when building it. As well, I simply don't see the huge enhancement neither from this Issue, nor from solving #147. Convince me?

If you ask me, we can remove all code for both, I prefer changing these things by hand and

[2015-06-08 03:00] SecUpwN commented on #452
@E3V3A, should the new external data sources look like this then?

[code]

[2015-06-08 03:11] E3V3A commented on #453
Well, so if I tell you that the *latest* Buildozer build, not only crashes, but also locks up phone, when leakanary fails, then you will know exactly what build version and related PR's was causing this crash, right? Anyway, I see the issue, if Buildozer hasn't integrated their version in the gradle API or whatever they use.

[2015-06-08 04:25] marvinmarnold commented on #434
Problem was that updateOpenCellID was loading the wrong filename. Fixed in pull request #454.

Some additional notes, mostly to self, below.Most of you prob already understand the flow of things but this comment might help for anybody new as it was not clear for me. To test this error:
1) Click on settings in sidebar. Click on Request OCID API Key -> OK. API keys are not automatically requested ot

[2015-06-08 10:18] hannosch commented on #452
@E3V3A I wasn't aware of cartoradio but had a look. Based on what I can tell, this site has the same problem as all the other similar sites from different countries. The underlying data does tell you about cell tower locations, and in this case even what operators are present at the cell site. But the data doesn't contain the unique logical cell ids we can observe from the phones, especially the l

[2015-06-08 12:24] SecUpwN commented on #452
Thanks for your thorough look at these, @hannosch. Does that mean that CartoRadio as well as all the other listed in your post above cannot be used for our purposes to verify if a malicious BTS has been planted or not (please correct me if I'm wrong here)? OCID and MLS will be the way to go, I guess.

[2015-06-08 12:42] hannosch commented on #452
@SecUpwN yep, these sites only tell you that there is a cell tower at lat/lon. If you are near it, you cannot tell from the phone if you indeed see that specific tower, as you don't have any unique id shared between those databases and what you can observe from the phone.

[2015-06-08 12:50] SecUpwN commented on #452
That makes sense and is indeed not what we need. Any other databases we should be looking at?

[2015-06-08 12:58] hannosch commented on #452
None of the others have any significant size. I have a listing over at https://wiki.mozilla.org/CloudServices/Location/DataSources which points to the relevant wikipedia pages as well. I think openbmap now known as http://radiocells.org/ is the only other actually active project.

[2015-06-08 13:01] gusfl commented on #452
Uuh ?....A french website called www.antennesmobiles.fr show Cell ID, and this website is based on cartoradio database....Are you sure of what you say?

[2015-06-08 13:04] hannosch commented on #452
@gusfl I don't see the cell ids we need there either? Can you be more specific and give me an example of what you mean by cell id?

[2015-06-08 13:09] SecUpwN commented on #452
@hannosch, I guess those have already been added in MLS, or am I mistaken?

[2015-06-08 13:14] hannosch commented on #452
@SecUpwN The data is not integrated into MLS, we track that over at mozilla/ichnaea#401 - so far they have data from primarily Europe, where both OCID and our own data is also really strong, so there's very little unique new data there. Wasn't worth the effort so far, but I'm keeping an eye on them.

[2015-06-08 13:24] ph0t0n commented on #452
this is unfortunately also the case with the FCC data that governs US cell towers, as far as I know. even if you could get fast search access to the data, you would only find spectrum allocation information, not cell operating parameters like cell ID. maybe you could potentially confirm a site is running, say, USA Band 850MHz GSM, USA UMTS, etc.

also, i dont know if this is common in other areas,

[2015-06-08 13:51] E3V3A commented on #403
@SecUpwN  Please test on your device.

My tests show strange timing behavior. Clicking [**i**] once, does not show the toast message with the same duration as clicking it a 2nd time. Where are the [**i**] "boxes" implemented?

[2015-06-08 14:02] DimaKoz commented on #403
Hi @E3V3A
 I think it was  [here] (https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/adapters/DrawerMenuAdapter.java#L53-L56 )

[2015-06-08 14:10] E3V3A opened #455 "Debug build: Leak analysis failed"
For some reason I get the device message "`Leak analysis failed`" coming from the [leakcanary](https://github.com/square/leakcanary) debug APK (as included in our Buildozer debug builds). I have no idea what causes this...and have filed an issue at their repo in [176](https://github.com/square/leakcanary/issues/176).

Perhaps @square from *leakcanary* developers can help?

This is the error messag

[2015-06-08 14:22] E3V3A commented on #450
Actually that is a good idea, but using the word "protection" is a bit of false advertising, since we're not *protecting*, but only *detecting* so far...

[2015-06-08 14:32] E3V3A commented on #434
Thanks again @marvinmarnold for fixing this issue!

[2015-06-08 14:32] #434 closed

[2015-06-08 14:52] smarek opened #456 "Repository history was force modified?"
Hello,

I've after quite a time wanted to get my local AIMSICD repository to sync, and I've got this strange information:

[code]

Which probably means, you've force pushed into repository since I've downloaded it last time.
My last local commit in master is
[code]

Also I've found #371 ticket, is this the cause?
I'm a bit worried about what happened to the repository, since the difference is so b

[2015-06-08 15:25] SecUpwN commented on #456
Welcome back, @smarek! Please don't worry. You are absolutely right, I have cleaned our repository twice: The first time with #213 and then again with #371. We now have a much smaller repo size and only data needed to work on our app will be downloaded, which is much more developer friendly. Please **delete** your old fork and re-fork our project. Sorry for the inconvenience, we have learned from

[2015-06-08 15:25] #456 closed

[2015-06-08 15:29] SecUpwN commented on #450
Ok, we should find a proper naming of the button that applies to all translations and enables us to improve the underlying code without changing the naming over and over again.

I would use the term *monitoring*, but I feel this could be associated negatively, just like *tracking* - both of these things are popping up in my head when thinking about *surveillance*. Other suggestions?

[2015-06-08 15:40] SecUpwN opened #457 "Femtocell Detection: Toast message despite CDMA device"
Good evening developers, I have received a message from user "Ted", who mentioned that our warning toast message `Femtocell detection is available on CDMA only` also comes up on his CDMA device.

**Solution:**

1. The warning toast message should *only* appear to GSM devices as long as #6 is unsolved.
2. Improve the toast message to *not appear* on *supported* devices, especially supported CDMA.
3

[2015-06-08 15:47] SecUpwN commented on #452
@hannosch, thanks for clarifying. Let us know once this project comes to a point where adding their data (or you pull it in) makes a difference. Issue solved for now, feel free to re-open if you disagree.

[2015-06-08 15:47] #452 closed

[2015-06-08 15:58] SecUpwN commented on #455
@E3V3A, if you have done so, please link the Issue you filed in your OP so that we can track it here.

[2015-06-08 16:06] ph0t0n commented on #450
just one opinion here, but given the context that this app is running under, "tracking" is totally fine for native english. we know we are tracking things: location, cell towers, etc. the user has opted into this activity by gaining knowledge of, compiling and running this app. they are aware it is going to track metrics from their phone. it is open source too, they can read the services to make s

[2015-06-08 19:01] SecUpwN commented on #450
Yes, it does help. Thank you for throwing in your thoughts, @ph0t0n. Please vote for the better:

**Option 1**

[code]

**Option 2**

[code]

**Option 3**

[code]

@E3V3A and @banjaxbanjo, again, what is the following used for? Can we remove this?

[code]

[2015-06-08 20:09] ph0t0n commented on #450
Hi @SecUpwN ,

I would suggest these choices (if you are comfortable with the derived R.string.* constants)

    <string name="toggle_attack_detection">Toggle Attack Detection</string>
    <string name="toggle_cell_tracking">Toggle Cell Tracking</string>

again this is just one person's opinion, but in english "Cell Recording" sounds like you might be recording the entire cell data stream somehow.

[2015-06-08 20:43] SecUpwN commented on #450
Hi there @ph0t0n, I really like what you just proposed and will change the strings to that. Maybe you can be of further help maintaining our [strings](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/raw/development/app/src/main/res/values/translatable_strings.xml)? I am German, so don't expect me to translate everything to a perfect synchronization between code and meaning - that is where

[2015-06-09 00:42] E3V3A commented on #457
The problem seem to be that most our developers are non-US based without CDMA based devices or networks. We simply can't test.

[2015-06-09 01:13] E3V3A commented on #450
I really like @ph0t0n's [suggestion](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/450#issuecomment-110123021), so I'd vote for that.

[2015-06-09 01:24] E3V3A commented on #455
I wonder if it has something to do with [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/443#issuecomment-109033182) comment?

[2015-06-09 01:25] ph0t0n commented on #450
Hi, @E3V3A @SecUpwN I'd be happy to keep an eye on the english strings file and making sure it has a nice match with the functionality the app provides.

[2015-06-09 01:36] E3V3A commented on #215
I'm adding the "bug" label, and removing the "dev_discussion" label, so that new developers will understand that this is a real issue.

In the meantime, we can try to merge the data from `Measured Signal Strengths` table into the `BTS Measurements` table (as visible from the *Database Viewer*.) This might need to be posted as a separate issue. I also noticed that the signal strengths (RSS) as show

[2015-06-09 01:37] E3V3A commented on #215
I'm adding the "bug" label, and removing the "dev_discussion" label, so that new developers will understand that this is a real issue.

In the meantime, we can try to merge the data from `Measured Signal Strengths` table into the `BTS Measurements` table (as visible from the *Database Viewer*.) This might need to be posted as a separate issue. I also noticed that the signal strengths (RSS) as show

[2015-06-09 01:39] ph0t0n commented on #457
can we find out which phone he has? it might be this problem:

typical USA user who reports US-CDMA phone is a Verizon customer. they have a mix of legacy US-CDMA proprietary plus 4G LTE.

some of their phones support only the world of Verizon (maybe North America), so that's this order of preference:

  4GSM LTE, 3G US-CDMA (EVDO), 2.5G US-CDMA (1xRTT), ...
  (this phone is not very world friendl

[2015-06-09 01:50] E3V3A commented on #309
Upgraded to "bug" status so people can start thinking to implement how to manually select and force current location, so GPS can be disabled. Very useful when one only want to detect silent type-0 SMS and not track cells.

[2015-06-09 01:53] E3V3A commented on #288
This is a real issue, but the comments above are outdated. There are some solutions for dynamically highlighting text found on Stackexchange.

[2015-06-09 02:02] E3V3A opened #458 "DB table merge: "Measured Signal Strengths" into "BTS Measurements""
**Background:** This issue is closely related to #215, and to the database viewer formatting issues in #325 and in particular to #234. Please have a look there for reference and overview, before starting this.

**Problem:** We need to merge the data from our test table `Measured Signal Strengths` table into the `BTS Measurements` table as visible from the *Database Viewer*. This data is collected

[2015-06-09 02:27] ph0t0n opened #459 "Testing and simulation via OpenBTS"
Continuous testing of the app could be done via OpenBTS running in legal RF space.

* Software: [OpenBTS](http://openbts.org/) 5.0+ ([GitHub](https://github.com/RangeNetworks/openbts))
* Hardware: [bladeRF](https://nuand.com/) ([GitHub](https://github.com/Nuand/bladeRF))

Desired testing plan from owners @SecUpwN  @E3V3A : ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on i

[2015-06-09 02:53] E3V3A commented on #69
I'm not able to test this at this time since I'm roaming...

[2015-06-09 03:03] E3V3A commented on #228
Try to make the info window show the same info, and using the same format as in #234.

[2015-06-09 03:05] ph0t0n commented on #459
USA does not use GSM-900 band, only GSM-850 & GSM-1900.
usually very low power experimentation is done in GSM-900 since ITU region 2 ISM & amateur radio 900 MHz have some overlap with GSM-900 channels. careful control of environment is necessary since it is not a complete overlap.

[2015-06-09 05:23] SecUpwN commented on #459
Thanks for your eager contributions to our project, @ph0t0n. As you can see from section [SEEKING](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md#seeking), we are currently searching for someone who owns such a device to help us with continuous verification of our app. We are in touch with a few companies who might be able to do so, yet we would prefer if

[2015-06-09 05:41] SecUpwN commented on #457
He is using our app on his **Sharp Aquos Crystal**. The real question behind the whole Issue is this: Does the toast message appear *by default on all devices*, or is a mechanism implemented that prevents this toast message to appear once the device really *is* a CDMA device?

[2015-06-09 07:36] SecUpwN opened #460 "Translations: Service to track updates on GitHub?"
While working on #450 I noticed that we'll likely run into more complaints when not making sure that all translations get updated regularly. Users in other countries with outdated translations will likely have a hard time with our app, especially when string and code changes like in #450 took place.

**Solution:** Unless we have found some hardcore maintainers checking each day if changes have bee

[2015-06-09 08:02] SecUpwN commented on #450
Done. Before I close this Issue, can someone tell me where the "toggle button" for this is to be found?
[code]
Maybe @He3556 or @tobykurien can be of help here? I thought we use a *checkbox* in `Preferences`?

[2015-06-09 08:32] banjaxbanjo commented on #215
Creating the tables via java code is not to difficult
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/SmsDetectionDbHelper.java

but is going to be a little work creating the insert,update and delete code for the tables and tracing the old database code in the project since  its so intwined in the app.

Also will users lo

[2015-06-09 09:41] SecUpwN commented on #215
Would you be able to tackle this, possibly in smaller steps?

Don't worry about this. Our app displays `ALPHA` everywhere, so we have every right too change it.

[2015-06-09 11:07] ph0t0n commented on #459
i have the bladeRF and can run openBTS at low power. bladeRF is a SDR so it is not our IMSI catcher enemy device, but it can act like any device given enough programming.

I got openBTS 5.0 compiled last night.

you can assign this to me, question is, what would we like to do with a openBTS cell?

[2015-06-09 11:42] ph0t0n commented on #460
that is an interesting question. i don't have an answer off the top of my head but i will look at some other android projects/devs to see how they handle this. even if we had professional translators keeping the code and meanings in sync is an issue.

[2015-06-09 11:55] E3V3A commented on #215
@banjaxbanjo  The code as linked above is just fine, but in general we're **not** creating DB code by using java code to populate an SQL based DB.

Generally speaking, using the java Google API for table manipulation, Is completely senseless since it is extremely non-transparent. SQL was created for simplicity, portability and ease to understand, so we're trying to keep the SQL statements as close

[2015-06-09 12:28] E3V3A commented on #459
@ph0t0n Great! One thing you can do is trying to mimic a cell tower next to your home, and try to get your phone to connect to it. At low power this should be easy (and legal) to do. See how the phone reacts.

[2015-06-09 12:39] ph0t0n commented on #459
yep that will be my first test. i am not sure if I'll have immediate success since my phone may try to favor much stronger local 850/1900 2GSM. i will report back when i have something interesting happening.

[2015-06-09 12:50] agilob commented on #460
F-Droid client uses this https://translatewiki.net/wiki/Special:MainPage but I've never tried it

[2015-06-09 13:49] SecUpwN commented on #459
If possible, please continuously verify the functions that have already been fully implemented in #230.

[2015-06-09 13:52] He3556 commented on #459
We log the signal strength already. There should be an extra table with the data, when the phone switches the cell and the received signal strength. As far as i remember that function is working. Would be great to see this data after your test. Thanks for your help! Great news for our project.

[2015-06-09 13:53] SecUpwN commented on #69
@banjaxbanjo, I just discovered a pretty severe **bug**: 1 Silent SMS keeps re-appearing endlessly.

1. Send a silent SMS via `HushSMS` or alike
2. Wait until `AIMSICD` alerts the receival
3. Exit `AIMSICD` and then open it again
4. Silent SMS Detection starts again.. and piles the detected silent SMS again in the Database Viewer.

Also, shouldn't silent SMS detection run at all times in the backg

[2015-06-09 13:56] SecUpwN commented on #459
Fully agree with this! Since we now have found someone, shall I remove this position from [SEEKING](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md#seeking)?

[2015-06-09 13:58] ph0t0n commented on #459
@SecUpwN great, that testing plan is something to work with.

ill report back when i have my phone joining the openBTS cell and functioning in a basic way.

i own the bladeRF so you can consider me a long term contributor to this part.

if there are other RF exploring things (like gsm capture with gr-gsm or airprobe(?) to watch phone & real tower behave) i can also contribute.

[2015-06-09 14:15] SecUpwN commented on #459
AWESOME! If you would like to be added to our [team page](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact), please send me an email with your data. ;-)

[2015-06-09 15:27] He3556 commented on #459
When you talk about the testing plan - you mean the detection list?
Only DB_id 2 (LAC/CID Consistency) is fully implemented. You had to change the LAC while the BTS is running.
For the first step, it might be easier to check DB_id 9 (RX signal Strength) as this is a very important point and we need some research there.

EVA, what do you think?

[2015-06-10 01:25] marvinmarnold commented on #324
Like @tobykurien, I also don't understand the need for TAG. Android Studio automatically filters by package and I'm assuming its fairly easy to do the same in Eclipse or whatever other IDE as well. What I've seen most commonly is to make TAG the class name with mTAG/etc up to the individual. @E3V3A  I'm not sure what you mean by the PID following the TAG otherwise.

[2015-06-10 01:47] marvinmarnold commented on #309
I think it would be interesting to avoid user input as much as possible. I'm new to the code, but based on this assumption:

For the download issue, could use the last known GPS and download a larger area around that? I think that would be a good approximation if used in conjunction with a potentially known nearby BTS.
WiFi Sounds good too, a quick search turned up https://wigle.net/.

No clue abo

[2015-06-10 02:15] marvinmarnold commented on #309
For WiFi, I think we already do this through https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/8a061dc9f18265ac550b3d80a2232e5fbd5208c7/app/src/main/java/com/SecUpwN/AIMSICD/service/LocationTracker.java#L105

Not sure how different Android's WiFi DB is from something like Wigle...

[2015-06-10 03:19] marvinmarnold commented on #325
I didn't look into if the user's actual GPS coordinates are stored and truncating that.

[2015-06-10 03:38] E3V3A opened #462 "DB viewer: Measured Signal Strengths broken"
Problem: The `Measured Signal Strengths` table is not updated in the DB viewer, and showing an RSS of 268435455 (**0xFFF FFFF**). This used to work very good... Please confirm this is a non-network (roaming) related bug.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21324054-db-viewer-measured-signal-strengths-broken?utm_campaign=p

[2015-06-10 03:40] E3V3A commented on #459
@He3556 :

Unfortunately it is broken, which is why I just filed #462.

[2015-06-10 03:43] marvinmarnold commented on #328
It seems like times are currently in UTC. Can't local time always be derived from that?

[2015-06-10 03:45] E3V3A commented on #324
I don't use AS or Eclipse for debugging. I'm using command-line logcat, which is where these problems occur, and making debugging and filing proper bug reports a PITA. I'm using verbose logs to get all info from all buffers and having BB debug info set to high, I get megabytes of logcats in a matter of minutes, without possibility of proper filtering, it is a real PITA.

[2015-06-10 03:50] TPS commented on #457
I'm the original reporter; sorry for taking so long to chime in. (Mondays, being the beginning of the workweek here in the US, don't work well for me. ;)

For the record, my Aquos Crystal is on a Sprint (owned by Softbank) MVNO called Ting (owned by Tucows… yes, *that* Tucows ;).  It occurs to me this phone is strange in that it's US CDMA, but international-only (Japanese local, I believe) GSM — a

[2015-06-10 03:53] E3V3A commented on #309
@marvinmarnold

Yes

No

No, it's already been discussed at excruciating lengths elsewhere and on XDA thread. Look there.

Also, if your GPS was being jammed, what make you think that WiFi would not?

[2015-06-10 03:59] E3V3A commented on #325
@marvinmarnold I'm not sure what you mean there...

[2015-06-10 04:03] E3V3A commented on #328
It should be. But I don't remember how the timezone settings are handled in the API or if set by some getprop value. I don't think we should bloat the DB with an additional `timezone` column. I don't see any advantage or purpose for this. A timestamp is a timestamp, as long as the timezone is consistent.

[2015-06-10 06:50] E3V3A commented on #423
Sometime I see AIMSICD using around 50 MB of memory, not sure how this usage is calculated, but seem rather excessive... Perhaps the DB is included in this?

[2015-06-10 06:57] E3V3A commented on #69
@SecUpwN This is because the detection is using the logcat buffer. In order to prevent this from happening you would need to clear the logcat buffers before application exit. However, when I discussed this last time with @banjaxbanjo we were considering other detections as well, so we were reluctant to clear the buffer... (As clearing the logcat buffers may make debugging much harder.)

So please

[2015-06-10 06:58] E3V3A commented on #69
Side note: We should make a list of devices where silent type-0 SMS can be detected. Where would we put this list?

[2015-06-10 08:04] indoraq commented on #328
Hi, well you can derive local time from UTC most easily if you know the local timezone, which can change in *roaming scenarios*.
So the most foolproof approach is to record current timezone.  Also there are those notorious daylight saving switchings, once the timezone is recorded afterprocessing does not have to worry about all those details any more.

[2015-06-10 08:15] E3V3A commented on #328
Well, the app is probably not working in roaming scenarios as I've recently tested. Regardless the entire DB is erased between installs so the timestamps should remain in the same timezone, unless you intend to fly across borders with the app on, which would defeat the entire purpose of the detection mechanism/app in the first place. I really think this is a non-issue, unless you can provide me wi

[2015-06-10 08:16] E3V3A commented on #328
Furthermore, once #215 is completed we're in a different position to modify DB to our needs. Before then, there will be no new tables added to the old structure.

[2015-06-10 08:32] indoraq commented on #328
Scenario 1: you use the app in country A. You shift to flight mode and fly to a different timezone. You switch off the flight mode and start the app. Before you upgrade you copy the DB contents to external storage.
Scenario2: You use app in January and then use it again in June. Timezone should reflect that there was switch to the daylight saving.

[2015-06-10 08:44] indoraq commented on #328
If one wants to use the app for Open Cell ID measurement collecting could be the roof scenario.

[2015-06-10 09:05] E3V3A commented on #328
**Scenario-1**:  The phone keep track of timezone and the timezone of the timestamps will not affect the detection.

**Scenario-2**: Given the number of new app versions in that half year span, you'd be using a far outdated app. Point invalid.

OCID are trying to use GMT/UTC. Is that what you want?

[2015-06-10 10:22] indoraq commented on #328
The requirement is to be able to provide local time value and UTC value for any collected measurement data. If the requirement is invalid, then fine. If not then we need UTC and timezone.

[2015-06-10 12:11] SecUpwN opened #463 "SMS Detection: Endless detection of same SMS"
@E3V3A already [explained](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/69#issuecomment-110620021) that in its current behavior, our silent SMS detection implemented via #69 does not clear the logcat buffer before application exit to avoid a possible side-effect on other detections.

Nevertheless, this bug is really annoying since a user will think that he is being tracked every

[2015-06-10 12:13] SecUpwN commented on #69
@E3V3A, we should put it in [Special SMS](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Special-SMS). Let me know how you would structure that page, I am thinking of possibly adding an Index (just like in our [Glossary of Terms](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Glossary-of-Terms) so that users will quickly find their way.

[2015-06-10 12:57] SecUpwN opened #464 "WIN DEATH when using Advanced User Settings"
@banjaxbanjo, our app currently **crashes** (and restarts if set in `Preferences`) when pressing `Detection Strings` and `Delete SMS` in `Prefeferences/ADVANCED USER SETTINGS`. Please have a look at the cause, it worked perfectly before. Let me know if you need more than my [filtered logcat](https://defuse.ca/b/0OA64sU0). Thank you.

<bountysource-plugin>
---
Want to back this issue? **[Post a bou

[2015-06-10 15:19] marvinmarnold commented on #309
I was also wondering the same thing. Though, if we assume internet and GPS are always down at the same time, then I don't understand the use case this is trying to address. Is it exclusively for when you are in an area you already have downloaded BTS for but no GPS?

[2015-06-10 15:23] marvinmarnold commented on #325
@E3V3A I don't know if the user's LocationTracker#lastKnownLocation is ultimately stored in a DB somewhere. Maybe its not. If so, should that also be truncated?

[2015-06-10 20:58] banjaxbanjo commented on #464
@SecUpwN That's strange did someone changed any of the code connected to any of my classes or strings because it was working for you before and now it throws an error, did you enter a weird detection string of any string in the advanced user menu that could cause a parsing error?

I cant make out whats causing it from the logcat you posted Sec.

Cheers

[2015-06-10 23:52] E3V3A commented on #309
Yes, more or less, and also beacuse GPS lock-on attempts interferes with baseband operations (it is a BB  operation) on some devices, blocking the info sent to AP.

[2015-06-10 23:56] E3V3A commented on #325
Good question. I'm not sure how to look for this. Certainly if it is used it should be truncated or re-presented. There is no point in storing `12.3456789012345` if its real accuracy is only `12.345678`. In that case I'd rather like to see a value in DB like `12.3456780000000`.

[2015-06-11 00:02] E3V3A commented on #464
I can confirm this bug.

[2015-06-11 00:53] SecUpwN commented on #464
@banjaxbanjo, this Issue might have been introduced with the changes made in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/64e17250e304769b13e4abdf10cf13a362677506, but do not know where exactly to look at. Can you find anything in that commit that may be the cause?

[2015-06-11 01:07] SecUpwN commented on #455
I have digged through their Issue list and it seems the part with `SnapshotImpl_Error_ObjectNotFound` has been filed numerous times. Digging further, I found https://github.com/square/leakcanary/issues/157 referenced as to be the "solution" to this sort of Issue. Does that apply to us as well?

[2015-06-11 11:05] SecUpwN commented on #464
Hey guys, I have tested all previous Buildozer builds up to the point where the error did not occur. The error has been introduced with merging https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/ba1784dbaac40a8b2ee6ae32e8dbb025be1e57dc. @banjaxbanjo, can you find the error in there?

[2015-06-11 11:56] banjaxbanjo commented on #464
Hey Sec,

I cant really check this till at my dev computer but these seem to be changed from the working dev:

I dont know if they are a problem yet till I test?
---------------------------------------------------------------------------------
app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/AdvancedUserActivity.java

-            msgitems = new ArrayList<AdvanceUserItems>();
+            msgite

[2015-06-12 00:31] E3V3A commented on #464
In general it is very confusing having different code with same name...let's try to avoid that.

Anyway, the error seem related to the preferences, so it may have something to do with your changes (see PR) of not importing user preferences or something about using the `sp` instead of `dp`. See [this](http://stackoverflow.com/a/11638914):

[code]

[2015-06-12 09:11] E3V3A commented on #455
@SecUpwN  Please try ask a specific since (in my experience) generally addressed questions are even less likely to be answered,

[2015-06-12 09:55] E3V3A commented on #402
Easy to implement!

[2015-06-12 09:59] E3V3A commented on #402
`$ colordiff -w OemCommands1.java OemCommands2.java`
[code]

[2015-06-12 14:13] ph0t0n commented on #459
@SecUpwN i appreciate the offer, but let me contribute something useful to the project before you add me as team member!

i will report back when i have openbts running and my phone will join the network.

openbts is running and seems to be not reporting errors. i would suspect to see its gsm-900 cell.

however my phone only sees nearby gsm-850 and gsm-1900, not the gsm-900 openbts.

i'm working o

[2015-06-12 14:28] ziem commented on #464
I omitted third argument here:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/AdvanceUserBaseSmsAdapter.java#L48

I will fix it asap.

[2015-06-12 20:21] wvengen commented on #435
I'm also interested in this. There are more applications using the OCID database, like UnifiedNLP's [Local-GSM-Backend](https://github.com/n76/Local-GSM-Backend), which uses `/sdcard/.nogapps/lacells.db` as its location - it may be a good idea to share this database.

Would it be hard to add an external OCID database to the app?

[2015-06-12 20:32] wvengen commented on #435
@Laiteri I'm generating cell location CSVs by MCC [here](https://github.com/wvengen/lacells) ([map](http://wvengen.github.io/lacells/)) daily, merging [OCID](http://opencellid.org/) and [MLS](https://location.services.mozilla.com/). That would spare you from downloading the full database, if there would be a csv importer that would understand this format.

[2015-06-12 20:42] wvengen commented on #435
It looks as if changing [getOpenCellIDData()](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L582) to also look in `lacells.db` would be enough. If it's that simple, I might give it a try.

[2015-06-12 21:37] He3556 commented on #462
It looks ok on my side.

![screenshot_sign-strength copy](https://cloud.githubusercontent.com/assets/2507905/8140450/e14032e4-115b-11e5-8841-c8baca143472.jpg)

[2015-06-12 21:49] banjaxbanjo commented on #69
The sms will stay in logcat buffer till the buffer is recycled and it is annoying  but clearing the buffer will affect other data in the buffer, only happens when exiting fully which isn't a good idea if you know you are being tracked.

[2015-06-12 21:58] He3556 commented on #462
this measurement shows the same Cell with 11dBm, 5dBm and 8dBm.
it's a high variability, somehow

![screenshot_sign-strength copy2](https://cloud.githubusercontent.com/assets/2507905/8140675/139f3e72-115e-11e5-975b-17422e7a2e5c.jpg)

[2015-06-12 23:50] scintill commented on #69
If you pass the [-v time](http://developer.android.com/tools/debugging/debugging-log.html#outputFormat) argument to logcat, it will include a timestamp for each line.  If you process that timestamp, you have some options for dealing with this issue, such as saving the timestamps of SMS events that have already been logged/alerted, simply ignoring anything older than 5 seconds, etc.  Maybe there is

[2015-06-13 01:08] wvengen commented on #423
The database viewer loads and shows all entries, as far as I understand. I've seen the app throwing an OutOfMemoryError on loading >200k OCID rows (app compiled in debug mode). Because this is running in a background task, I suppose it may hinder UI performance when running on large tasks.

If this is the cause, it may be solved by using paging in the table (and other places).

[2015-06-13 01:25] wvengen opened #466 "Only load cells in range on map"
Currently all cells are loaded from the database and shown on the map view. This takes a lof of time when there are many cell points (ike from OCID). I suggest to add a where clause to the database query on a lat/lng window, and re-query when changing the view.

I can imagine that #272 would be solved by this as well.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-06-13 02:59] E3V3A commented on #69
Hi @scintill,  nice to see you back. I think the time stamp is the best idea,  which is why we already havea  stamp in the DB in the first place...

[2015-06-13 03:04] E3V3A commented on #466
The problem with "range" is that it could mean anything.  Your phone could connect to towers 40+ km away...

[2015-06-13 04:09] #464 closed

[2015-06-13 09:21] banjaxbanjo commented on #69
Yea I was thinking that about using the timestamp but will the timestamp remain the same for each line everytime we access the buffer?

This will also help with other detection methods like if we recieve an sms acknowledged in buffer and didn't receive in the sms broadcast receiver then it would indicate some sort of silent sms.  If the logcat timestamp remains the same of each line everytime we a

[2015-06-13 13:10] SecUpwN commented on #455
Thanks for the hint, but actually I already follow that very "rule". Waiting for answer of https://github.com/square/leakcanary/issues/157#issuecomment-110961642.

[2015-06-13 13:15] SecUpwN commented on #459
Fair deal. ;-)

Great! Take your time, we'll be patient to receive your first results. By the way: Since we filed this as an Issue here, we should probably specify when to close it so that it does not stay open forever..

[2015-06-13 13:19] SecUpwN commented on #402
Thanks for letting me know, I'm on it and will fix this in a few minutes. ;-)

[2015-06-13 13:58] SecUpwN commented on #402
Awesome, builds seem to fail now. @banjaxbanjo can you see what I did wrong? :(

[2015-06-13 14:36] E3V3A commented on #402
Sorry, that was misleading as it was meant as a reference to us new code and not as a patch.

[2015-06-13 16:02] SecUpwN commented on #402
Ok, seems that I misunderstood it. Even though builds are currently failing due to the changes, I'd like to avoid having to revert that commit. What else needs to be done to complete the update correctly?

[2015-06-13 17:59] SecUpwN commented on #462
@E3V3A, please test again with the latest APK. It always works on my device.

[2015-06-13 22:28] wvengen commented on #466
True. Though I fail to see why that would be an issue when showing the map - cells outside the view aren't shown anyway, right?

[2015-06-13 23:35] wvengen commented on #402
#468 fixes this

[2015-06-14 00:13] SecUpwN commented on #402
Awesome, @wvengen! Will this fully fix this Issue so that we can close it?

[2015-06-14 00:19] SecUpwN commented on #466
Right. I added you to our Buildozer account to get the APK for testing. Please test and close if fixed.

[2015-06-14 08:04] E3V3A opened #469 "Dev b137 crashes upon start"
Accept pop-up screen shows twice, then FC.

It also fails on Travis-CI with:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21951649-dev-b137-crashes-upon-start?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campai

[2015-06-14 08:38] wvengen commented on #466
Thanks! I found it to be ok on the branch I was working on (local build), but I'll test again with the new APK.

[2015-06-14 09:41] wvengen commented on #466
Works!

[2015-06-14 11:09] E3V3A commented on #466
Which build are you using? The latest I just tested # 137 crashed, so please state what you've tested and so on.

[2015-06-14 14:18] SecUpwN commented on #469
@E3V3A, I cannot confirm this, works perfectly for me. @wvengen can you have a look at this, please?

[2015-06-14 14:22] SecUpwN commented on #450
@E3V3A, would you please respond on my previous answer? This Issue is already fixed, yet I'd like to receive an answer why we have that code for a "toggle button" in there, which is clearly not there...

[2015-06-14 23:58] E3V3A commented on #450
It's for turning on and off femtocell detection on Verizon CDMA networks... But we don't have much support for CDMA AFAIK.

[2015-06-15 12:54] E3V3A commented on #469
Please fix or revert PR. perhaps an API version problem?

[2015-06-15 14:59] SecUpwN commented on #450
Ok, but I thought this is being done via the *checkbox* in `Preferences`?

[2015-06-15 15:03] SecUpwN commented on #469
@E3V3A, I will have a closer look later tonight. Hoping that @wvengen and @banjaxbanjo help us.

[2015-06-15 15:22] SecUpwN commented on #466
@wvengen, please have a look at my https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/469#issuecomment-111830054. Even though I cannot confirm that the current Buildozer build is crashing (it works perfectly on my device), I know that Travis CI is now complaining about "missing translations", which it did not before since our app used to fall back to the default `values` folder when a

[2015-06-15 21:50] SecUpwN commented on #469
@E3V3A, I have had a closer look. The error log you posted in your OP and especially [these lines](https://travis-ci.org/SecUpwN/Android-IMSI-Catcher-Detector#L1799-L1805) tell us that `table opencellid has no column named latitude (code 1)` in [Detection1.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/androidTest/java/com/SecUpwN/AIMSICD/test/Detection1.ja

[2015-06-16 01:40] marvinmarnold commented on #469
Is it just a matter of changing [this] (https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/16f04466d383c437909f9aa701b0316f0ca10000/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L1410) & [this] (https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/16f04466d383c437909f9aa701b0316f0ca10000/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java

[2015-06-16 04:29] E3V3A commented on #469
@marvinmarnold Can you make PR for that?

[2015-06-16 04:43] E3V3A commented on #463
@banjaxbanjo

Yes, programatically is effective, but not working, and the alternative is a little more process intensive as it requires running another reg-ex on the logcat to get the timestamp. No problem there, as I have already done this [here](https://github.com/E3V3A/CounterCat/blob/master/catch0sms.sh#L106-L109):

[code]

However, this may not look the same on all devices.

[2015-06-16 07:41] SecUpwN commented on #469
Thanks for your helpful anlysis, @marvinmarnold!

Travis CI seems happy again. Fixed for you, @E3V3A?

[2015-06-16 07:57] SecUpwN commented on #466
@E3V3A, if #469 is now fixed for you and build `#138` works, please test and close this.

[2015-06-16 08:51] agilob opened #470 "Exception on UI and database"
[code]

I think they are related. The first exception is on label with network lac: `                    content = (TextView) mView.findViewById(R.id.network_lac);` It's pretty wired that android can't find resource which is cleary defined in XML oO

#469 possibly related to the second exception. I'm using code from the latest commit on master branch.

Also, when I'm on DEVELOPMENT branch I got th

[2015-06-16 08:53] agilob commented on #469
@secupwn you can close issues with [commit message](https://github.com/blog/1386-closing-issues-via-commit-messages)

[2015-06-16 08:58] agilob opened #471 "Map shows I'm connected to multiple BTSs at the same time"
Some of them are very close to my location, others are >20km away
![screenshot_2015-06-12-10-57-41](https://cloud.githubusercontent.com/assets/2544251/8179388/38249492-140e-11e5-870c-daf444b70d95.png) ![screenshot_2015-06-12-10-58-33](https://cloud.githubusercontent.com/assets/2544251/8179387/38240b9e-140e-11e5-97f1-2dfe1afd8145.png)

[2015-06-16 09:00] E3V3A commented on #469
@agilob we already do this, but we try to verify fixes before closing. Thanks for info.

[2015-06-16 09:00] E3V3A commented on #469
@agilob we already do this, but we try to verify fixes before closing. Thanks for info.

[2015-06-16 09:00] #469 closed

[2015-06-16 09:18] SecUpwN commented on #470
Thanks for reporting. `android.database.sqlite.SQLiteException: table cells has no column named Lat (code 1): , while compiling: CREATE INDEX IF NOT EXISTS _idxspatial ON cells (Lat, Lng)` indicates the relation to #469. Having a look now.

[2015-06-16 09:19] E3V3A opened #472 "Too many redundant measurements in BTS Measurements table"
The database viewer show to many equivalent measures. In one minute I get about 60 measurements all with the same exact data.

[2015-06-16 09:29] agilob commented on #470
Yes, the first crash is from development branch.

[2015-06-16 09:36] banjaxbanjo commented on #450
Femtocell tracking is enabled/disabled via the pref menu and the code is in the celltracker class that listens for preferences changes for this checkbox.

I dont think this is used for anything
<string name="toggle_femtocell">Toggle Femtocell</string>

public void onSharedPreferenceChanged(SharedPreferences sharedPreferences, String key) { final String KEY_UI_ICONS = context.getString(R.string.pre

[2015-06-16 09:41] SecUpwN commented on #450
Thanks for clarifying. I will remove this code then and close this Issue with the changes.

[2015-06-16 09:51] SecUpwN commented on #450
Thanks, @banjaxbanjo. So that means I can remove [this line](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/drawer/DrawerMenuActivityConfiguration.java#L143) and corresponding translations?

[2015-06-16 09:56] banjaxbanjo commented on #450
@SecUpwN all that line does is add a cdma toggle button if the phone supports cdma. But the pref menu already controls cdma toggle option.

[2015-06-16 10:34] E3V3A commented on #471
This is a duplicate of another issue

[2015-06-16 10:38] E3V3A commented on #470
Which build?

[2015-06-16 11:09] agilob commented on #470
from commits from today morning.

[2015-06-16 13:13] SecUpwN commented on #470
Let's ask the guru @marvinmarnold who discovered the fix for #469 on how to deal with `android.database.sqlite.SQLiteException: table cells has no column named Lat (code 1): , while compiling: CREATE INDEX IF NOT EXISTS _idxspatial ON cells (Lat, Lng);` and the error logs in OP.

[2015-06-16 13:14] SecUpwN commented on #471
Which one, @E3V3A? Please link, add label `DUPLICATE` and close this when done. Thanks.

[2015-06-16 13:28] #450 closed

[2015-06-16 13:32] #402 closed

[2015-06-16 13:40] SecUpwN commented on #460
@ph0t0n, you are perfectly right. With https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/190#issuecomment-93831199 we found that our app shall start up in the system default language the user has set and we also saw the potential that everyone can add their translations on GitHub. However, since our app is getting more complex and translation files currently differ heavily from each

[2015-06-16 14:45] ph0t0n commented on #460
@SecUpwN sorry, i had forgotten about this but just asked a pool of android developers i know to see what their best practices are.

also if we have any strings files that are burning for updates right now pls point them out, i know quite a few coworkers with en<->{language} fluency and in the technical domain. i can probably get help if i bribe them with cerveza/cerveja/Bier/пиво/etc.

[2015-06-16 14:56] ph0t0n commented on #459
hi @SecUpwN . i received some GSM low gain 850/900/1800/1900 antennas for my bladeRF. previously i was using my TX antenna slightly out of band and that of course introduces unknown electrical and RF variables.

in addition this frees up my wide-band RX antenna to use with a second SDR so that i can verify openBTS is driving bladeRF with any signal at all, instead of just relying on my personal qu

[2015-06-16 15:05] ph0t0n commented on #446
Q. will we need any kind of ranking algorithm between OCID vs MLS data, or just use both data sources and combine them if the user requests?

harder related Q. how can we detect maliciously cells that are purposefully added to these databases? is there any technical way until the cells do something suspicious?

[2015-06-16 15:07] SecUpwN commented on #459
What you're telling us here is great and we're *very* curious to receive first test results! ;-)

What I actually meant was not to "limit" the testing (in an ideal case you'd assure continuous testing of the core functions of our app), I actually meant to set some sort of goal for this Issue so that when fixed, we can close it. I am a friend of *eliminating* our Issues in the Issue Tracker, not pi

[2015-06-16 15:15] SecUpwN commented on #460
Thanks for doing so, I've done the same, let's see what the best solution will be. Ideal service case:

* Free for open source projects (preferably with support for Android developers in case of Issues)
* Easy way to login with GitHub (no additional signups required, people hate having 1000 accounts)
* Easy way to translate [main file](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/raw/d

[2015-06-16 15:36] SecUpwN commented on #446
@ph0t0n, this is actually something I'd like to know as well since with #467 we already have support for [Local-GSM-Backend](https://github.com/n76/Local-GSM-Backend), which is basically OCID and MLS combined. @E3V3A, please give us some clearance on this.

Still to be solved with #411. Seems like the OCID team is working hard on this as well.

[2015-06-16 15:38] marvinmarnold commented on #470
I couldn't didn't see the error thrown when I tested, but it makes sense that something is off. It looks like we try to index LACELLS_TABLE, which was never created. I don't have time to dig deeper but something like #474 should fix it. The column names need to be fixed for whatever is supposed to be in that table. @wvengen , maybe you know? It looks like refrences to LACELLS_TABLE popped up here

[2015-06-16 16:59] E3V3A commented on #446
Q-1: No, yes, exactly as in OP.

Q-2: We can't which is the reason for above. But we can detect in several ways by implementing  #230.

[2015-06-16 17:02] SecUpwN commented on #446
@E3V3A, I still don't get it...

[2015-06-16 17:05] E3V3A commented on #470
I think we should revert all PRs and references to LACELL table as it interferes and messes with the one we already had without regard to #215!! **FIX THAT FIRST!!**

[2015-06-16 17:06] E3V3A commented on #446
Ask a proper question and you shall receive a proper answer... ;)

[2015-06-16 17:09] SecUpwN commented on #470
I disagree. We've had numerous PRs until now, please just test if that Issue still persists @agilob and @wvengen should have a look at the `LACELLS_TABLE` and check columns as per https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/470#issuecomment-112474224.

Do you mean that #215 needs to be fixed first? https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/215#issuecomment

[2015-06-16 17:12] SecUpwN commented on #446
Deal. Do we need to add anything else other than already existing support for [/Local-GSM-Backend](https://github.com/n76/Local-GSM-Backend)?

[2015-06-16 17:16] E3V3A commented on #470
YES

[2015-06-16 17:29] E3V3A commented on #471
At first I thought this was a duplicate, but I must have read it in some comments to some other random issue. Yes, this is an issue and a side-effect of broken DB ( #470) and refusing to implement #215.

[2015-06-16 17:40] E3V3A commented on #446
This issue is**not** about LGB support, but about MLS. (open new issue for that.) So yes, we need to add MLS and fix the stuff that was broken due to faulty LGB implementation, i.e. #470.

[2015-06-16 17:51] E3V3A opened #475 "Roaming presents wrong connection info"
Apparently (and specifically on Samsungs) when you are roaming (here without packet data) the baseband (BP) or AP reports the wrong connection data.

Here is how it look in the *Service Mode* menu on a Samsung Galaxy S4-mini (GT-I9195) when roaming abroad.

![screenshot_2015-06-16-16-50-50](https://cloud.githubusercontent.com/assets/194392/8190011/8f6003ca-1492-11e5-9594-0aaffafa379a.png)

Here th

[2015-06-16 19:27] SecUpwN commented on #215
We're *not* "refusing" to implement the changes to fix this Issue as you've just said in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/471#issuecomment-112507019. We still lack developers and apparently this sort of behavior keeps pissing off people. Let's *not demand*, but kindly ask and *contribute bounties* like I did a few days ago here to keep them motivated. @marvinmarnhold

[2015-06-16 21:22] DJaeger commented on #446
I think what he means is: Could the already existing parts for LGB (which uses mixed MLS and OCID data) also be used to implement a mixture of online MLS and OCID.

I don't think so as LGB uses a single API to get data and the online services both need there own implementations to communicate to.

[2015-06-16 22:04] banjaxbanjo commented on #463
The -v time should be enough @E3V3A  would it be better to do the refactoring by java code so not to cause any issue if sed is not installed?

If I split the string to an array using (SPACE) as the spilt character then the timestamp can be easily created.

original = '07-15 05:57:02.075 D/RILJ ...' ==>
dummyarray[] {07-15,                 <---- index 0
            05:57:02.075,                 <--

[2015-06-16 23:34] E3V3A commented on #463
Perfect!

[2015-06-17 08:35] E3V3A commented on #215
@SecUpwN  As you can see this issue is more than 7 months old, and has been considered top priority ever since. Yet, nobody want to take care or even begin on this issue, and rather start trying to implement new DB tables for non/poorly-documented features or modify the old ones, breaking loads of functional dependency in the meantime. I'm sick of seeing this issue still open. **It's blocking all

[2015-06-17 14:56] ph0t0n commented on #446
sorry if i'm just not getting it, but are we saying, overall:

- LGB already supports querying MLS so we should continue to fix/extend/update MLS under this abstraction layer

or

- we just need to add MLS querying support, period, and without relation to LGB (but of course with a nice, consistent API for similarity among other cell id databases), and also [less important] let's track it here.

ch

[2015-06-17 15:27] marvinmarnold commented on #215
I can definitely try to get this done but I'm swamped through the end of the month. Can it wait until early July?

[2015-06-17 15:43] SecUpwN commented on #215
Smaller steps are better than no steps at all. If you can do literally *anything*, that'd be great! ;-)

Possibly yes. Of course this Issue is burning heavily under our asses as it introduces more and more Issues that would likely not even appear if we'd finally get this done as quickly as possible.

[2015-06-17 15:45] marvinmarnold commented on #215
Gotcha. I'll try to take some steps in the interim... but no promises till July.

[2015-06-17 15:56] SecUpwN commented on #215
That'll work for us. Move as slow as you wish.

Please never promise anything. Just do. ;-)

[2015-06-17 16:10] DJaeger commented on #446
LGB does NOT support querying MLS.
It is an local only (offline) location backend.

But an backend for (online) querying MLS also exists:
https://github.com/microg/IchnaeaNlpBackend

If we are able to switch to request the Cell IDs from LGB over any type of UnifiedNlp API we could use the same API for the MLS backend.
In any other case we need a new and different solution to request the Cell IDs f

[2015-06-17 17:18] #463 closed

[2015-06-17 20:55] SecUpwN commented on #405
Wanna give this a shot. Waiting for an answer on my [question on StackExchange](https://android.stackexchange.com/questions/112753/update-menu-item-with-selection-from-same-menu).

[2015-06-18 05:56] E3V3A commented on #405
@SecUpwN  Read their response. You need to post on [stackoverflow](http://stackoverflow.com/), instead and add code snippets...

[2015-06-18 06:08] E3V3A commented on #462
Hmm, indeed it does seem to work now... However, it seem to require a GPS lock to work...which is OK.

[2015-06-18 06:08] #462 closed

[2015-06-18 06:13] SecUpwN opened #479 "Notification: Always display colored Status Icons"
I am currently testing Android 5.1.1 and my first impression is: Google, I *don't* like what you've done. But if you are like me and love to tinker with bleeding edge software and apps, you might love it. Issue: Our app displays the important Status Icons in a **tiny** and **whitish style**, likely automatically introduced by Material Design of the ROM (also related to #161). Thus, the core functi

[2015-06-18 06:20] E3V3A opened #480 "Database Viewer: BTS Measurements show incorrect signal"
The `RSS` (*Relative Signal Strength*) item in the `BTS Measurements` table in the *Database Viewer* section, shows **2147483647** (0x7FFF FFFF) for all values.

Although using slightly different method, the best solution is probably through #458.

[2015-06-18 06:24] DJaeger commented on #405
Try this out in translatable_strings.xml.
Replace:
[code]
With:
[code]
Have not found this in documentation, but in some apps sources.
Looks like it would work without any other changes.

[2015-06-18 06:25] SecUpwN commented on #405
@E3V3A, how shall I add code snippets if I don't even know where we can change this? Honestly, these forums call themselves "Android Enthusiasts", tell that "anyone can post a question" and then they close a well described question as being "off-topic"? Fuck them! Any other hints on this Issue?

[2015-06-18 06:26] E3V3A opened #481 "Database Viewer: EventLog table not showing LAC or CID changes"
The EventLog table in the Database Viewer should show certain events that can be useful for exporting to CSV. Such events are all changes of LAC, CID and detections items. (Please note, changing LAC/CID "detection" is not the same as just "any" changes, which is what I mean here.) This records more coarse grained measurements, unlike the `BTS Measurement` table which is fine grained (i.e. includin

[2015-06-18 06:28] DJaeger commented on #405
Mhm, seems to need additional work.
Look here:
http://stackoverflow.com/questions/531427/how-do-i-display-the-current-value-of-an-android-preference-in-the-preference-su

[2015-06-18 06:30] SecUpwN commented on #405
@DJaeger, could we possibly add the selected value to the `Refresh Rate` header itself?

[2015-06-18 06:31] DJaeger commented on #405
Stackoverflow is mainly for coding and stackexchange for more generic.

[2015-06-18 06:31] SecUpwN commented on #403
@E3V3A, I don't get these strange behaviors. Do you still have them?

[2015-06-18 06:33] E3V3A commented on #325
Only data shown in the `Database Viewer` from the `Imported OCID Data` is truncated. Everywhere else it is still in expanded versions, including details from the `Map Viewer`.

[2015-06-18 06:35] DJaeger commented on #405
Yes you can.
Instead of setSummary use setTitle

[2015-06-18 06:37] SecUpwN commented on #405
Thanks, which one of the methods listed at your above link would be best?

[2015-06-18 06:43] DJaeger commented on #405
The first is more simple and should be enought.
The second is more advanced and seems to handle more preference types.

But remember, that setTitle and setSummary replace the current value, so you should get the string from resource file set the value and replace with that.
With only replacing your title will be only the value and no other string.

[2015-06-18 06:49] SecUpwN commented on #405
Which one do you mean? [This](https://stackoverflow.com/a/2888607)?

[2015-06-18 07:06] E3V3A commented on #403
Yes or I would have closed this. As always, unless someone actually fixes the issues, it usually doesn't auto-magically go away. ;)

Affected info boxes:
[code]

Apparently, hitting the info boxes slowly and rapidly and randomly give completely different lengths of appearance time. (And no, I'm not hitting them until pop-up is finished displaying.) About 60-70% of the hits give an approximately co

[2015-06-18 07:16] DJaeger commented on #405
Yes.

But please try first only using this solution:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/405#issuecomment-113050105

As getSummary seems to be used to get the string and the documentation says, that it replaces `%s` with the current value, it should be enought.
The other solution seems to be for preferences not got from recources.
http://developer.android.com/reference/

[2015-06-18 10:07] SecUpwN commented on #403
@DJaeger, do you have a better explanation for this?

[2015-06-18 10:29] SecUpwN commented on #405
Works beautifully, thanks you very much @DJaeger! :+1:

[2015-06-18 10:29] #405 closed

[2015-06-18 13:28] DJaeger commented on #479
I had written a long comment, which got because of device shutdown.
So again:
You can set two diffent icons for notifications.
A small icon (`setSmallIcon`) and a large icon (`setLargeIcon`).
The small icon is used for the statusbar, where you also find battery state and signal strenght.
The large icon is used for the notifications in opened (pulled down) list.
If only `setSmallIcon` is used this

[2015-06-18 13:47] ph0t0n commented on #479
i am running android 5.1.1 on nexus

if AIMSICD status == yellow,  (flat_medium.png ?)
then...

if my phone is unlocked, in the top screen status bar I DO see yellow icon

if my phone is UNLOCKED and I pull down the notification list, in notification list I DO see yellow icon

if my phone is LOCKED, and I pull down notification list (set to private details) I DO NOT see the yellow icon.  I see the

[2015-06-18 14:07] ph0t0n commented on #479
actually, correction. sometimes my phone, when AIMSICD status==yellow, and phone was just woken from screen sleep, the locked notification list shows the green icon.

it varies

[2015-06-18 14:51] #470 closed

[2015-06-18 15:54] agilob opened #483 "More exceptions from database"
After update from master to development:

[code]
After a few restarts another exception caused by: `LACELLS_TABLE_CREATE` should be `CREATE TABLE IF NOT EXISTS ` - Table already exists.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22389374-more-exceptions-from-database?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=is

[2015-06-18 16:00] agilob opened #484 "Too many unnecessary database open/close operations one after another"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22389931-too-many-unnecessary-database-open-close-operations-one-after-another?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565

[2015-06-18 16:11] agilob opened #486 "Database locked exception when importing cells from map view"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22390763-database-locked-exception-when-importing-cells-from-map-view?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&utm_m

[2015-06-18 16:13] agilob opened #487 "NaN exception when inserting into the database before GPS lock-on"
I still wasn't connected to GPS, device was getting fix. I had 'location' from Mozilla WiFi locator.

[code]

I'm starting to think it wasn't even tested :<

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22390930-nan-exception-when-inserting-into-the-database-before-gps-lock-on?utm_campaign=plugin&utm_content=tracker%2F565750&utm_me

[2015-06-18 17:22] SecUpwN commented on #470
@agilob, how come closed this? Is it fixed now?

[2015-06-18 17:50] DJaeger commented on #479
Before looking why it differs from time to time the icon should be set as the doku says, that we don't search for an issue caused by bad behavier of Lillipop to make the icons white.

[2015-06-18 17:52] DJaeger commented on #479
On making icons white they have to be changed, that the state could be determined without color

[2015-06-18 18:14] DJaeger commented on #457
I would deactivate (grey out) the Femtocell options that doesn't support CDMA in any network mode.
That could prevent much confusion.

[2015-06-18 19:44] agilob commented on #470
`android.database.sqlite.SQLiteException: no such column: NaN (code 1): , while compiling: SELECT * FROM locationinfo WHERE CellID = 11363 AND Lat = NaN AND Lng = NaN AND Signal = 6`

this one - yes, or I can't reproduce it anymore.

[2015-06-18 22:18] SecUpwN commented on #457
@DJaeger, sounds like a great solution to me. Can you craft a PR for this, please?

[2015-06-18 22:19] SecUpwN commented on #487
We need to implement #215 first.

[2015-06-18 22:19] SecUpwN commented on #486
We need to implement #215 first.

[2015-06-18 22:19] SecUpwN commented on #484
We need to implement #215 first.

[2015-06-18 22:19] SecUpwN commented on #483
We need to implement #215 first.

[2015-06-18 22:23] DJaeger commented on #457
Will do it tomorrow.

[2015-06-18 22:24] DJaeger commented on #403
Will look into

[2015-06-18 22:26] DJaeger commented on #215
Will look into

[2015-06-19 02:06] TPS commented on #457
I'm sorry, I'm confused:  I thought femtocell detection (currently?) worked ONLY on CDMA, & this bug was about the fact CDMA isn't properly detected on my phone (& others?).  Based on this, I'm not sure how @DJaeger 's solution fixes this.…  Please clarify; I'd love to test a fix to this! ☺

[2015-06-19 03:21] E3V3A commented on #487
Yep, I think the input vars for the `Lat = ? AND Lng = ?` substitution is not checked for NaNs.

I also think this with #309 would decrease the FC rate and initial start up issues that seem random, but usually GPS related.

[2015-06-19 03:25] E3V3A commented on #486
Locked exceptions probably occur because *someone* (something) is trying to use other DB access methods that *raw* sql statements. (I.e. loading an sql buffer with statements to be executed in the end, while having multiple threads with DB access.)

[2015-06-19 03:32] E3V3A commented on #457
@TPS You're not confused, someone must be. That is correct what you describe:

[2015-06-19 03:50] E3V3A commented on #486
BTW. @agilob  Did you already try to import from drawer? If you did, the previous import was probably not finished. We need a spinner there, as the "progress bar" for this operation is only binary (0,1) and almost invisible.

[2015-06-19 03:54] TPS commented on #457
@DJaeger, does your comment belong to #479, not this issue?

[2015-06-19 03:57] E3V3A commented on #215
A good start for this work is my [comment](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/215#issuecomment-71375823) and in the meantime I'll try to update the reference in [aimsicd.sql](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/259b169048d09943706e6796a5dc1e80af994b56/app/src/main/assets/aimsicd.sql). (NB. This file is currently not used anywhere, but I use it

[2015-06-19 04:10] TPS commented on #457
@E3V3A, just eye-balling that switch-case statement you linked, I'm guessing my phone (& probably Nexuses [Nexii? ;], &c)  would probably identify as both GSM & CDMA if asked correctly, but, since the GSM case comes first & then breaks, & since the overall logic assumes that a device is either GSM or CDMA, or not on any network, but has no case to catch a multi-network identifying device, my phone

[2015-06-19 04:41] E3V3A commented on #457
Go into settings and under network blahblah, set it to `use CDMA only` (or whatever it says).

[2015-06-19 04:48] justbittin opened #488 "opening AIMSICD kills all radio (reception)"
I will have 6 bars on the reception meter, the moment I open AIMSICD it goes to 'no signal' with the dreaded circle with a line through it.  There is nothing I can do at this point and must reboot the phone.

Samsung Rush, Android 4.1, boost mobile network, not rooted.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22440715-opening-

[2015-06-19 06:45] DJaeger commented on #457
@TPS My proposal is to prevent confusion of users if the toast only informs them or tells them they can't use, which is "The real question behind the whole Issue" like @SecUpwN said in
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/457#issuecomment-110230990

What has my proposal to do with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/479 ?

[2015-06-19 15:34] E3V3A commented on #488
Please read [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues) and post a logcat and exact model number and country of operation. I've never heard of such a problem being related to our app. Somehow, I think this is something else going on...

[2015-06-19 19:13] TPS commented on #457
@DJaeger I thought the graying-out had to with the icons' coloring of that issue, as I didn't understand what you were proposing vs. what I understand as the root problem of this issue. Now I understand you want to disable UI for non-applicable features, but I'm reporting that femtocell detection is incorrectly disabled on my phone (though the app's own display does say the phone is CDMA, I realiz

[2015-06-20 05:29] E3V3A opened #489 "CDMA Support"
Recently more people have requested that our app to work also on CDMA devices. However, CDMA is using a very different way of tracking and connecting to base-stations (BTS) that include GPS info on the BTS and using [different parameters](http://wiki.opencellid.org/wiki/API). This is major application work, apart from the simple translation of [CID to SID](http://wiki.opencellid.org/wiki/Public:CD

[2015-06-20 10:48] E3V3A commented on #455
Consider removing leakcanary, since nobody is using it and it creates huge 11 MB coredumps...

[2015-06-21 12:54] SecUpwN commented on #455
The ore problem goes a little deeper: We need to rethink the way we handle errors and preferrably use some service that makes it easy to track and eliminate these. We currently have too many services:

* CoverityScan
* LeakCanary
* Logfile via E-Mail

None of these actually help our developers. If anybody of our more experienced developers thinking of @tobykurien, @DimaKoz and @banjaxbanjo for exa

[2015-06-21 12:56] SecUpwN commented on #403
Any news on this @DJaeger? ;-)

[2015-06-21 13:00] SecUpwN commented on #488
@justbittin, welcome to our project. As already stated by E:V:A, you're the first person reporting that our app would completely kill your radio connection. Please read and follow the guide mentioned and also make damn sure to post the relevant part of the logcat here (should be logged when the network is being killed), also tell us which version of AIMSICD you're using. Otherwise we'll close this

[2015-06-21 13:12] agilob commented on #455
I used ACRA and it was pretty good for my needs, you can find example report from [my project here](http://agilob.net/projects/ss/2015-05-04_19-36-34.txt). It's not full report, some data were removed. It's disadvantage: it's considered as anti-feature by f-droid and (afaik) fdroid team tends to remove acra from projects. Advantage: it's very small, gives detailed report, it's easy to extend its f

[2015-06-21 13:17] SecUpwN commented on #455
Thanks for actually recommending *something*, @agilob. I really do get tired of receiving bug reports via E-Mail from people who do not actually care reading our WIKI or how to correctly report bugs. We **need** to make this bug report stuff **idiot-proof** aka "push this button and done". Regarding ACRA: I guess it might not be a great solution to implement something that F-Droid will complain ab

[2015-06-21 13:34] agilob commented on #455
ACRA is opensource, so it can be included in a build. It's an antifeature, so it's no always removed, but the application gets new red label 'it might be tracking you'. ACRA is 100% idiot proof. It sends crash reports to online server or via email. User doesn't even know about it.

[2015-06-21 13:53] E3V3A opened #490 "Remove references to non-supporting organizations"
This project has been well known to the privacy community for years now. As we have continuously tried to reach out to those organizations that are supposed represent and promote privacy matter to the people. However, none of these organizations have responded to our repeated requests for support. And with *"support"* we never asked for much more than a mention or notice of recognition. In fact we

[2015-06-21 14:14] SecUpwN commented on #490
Thanks for opening this Issue after our private conversation, @E3V3A. The *only* one of the three organizations mentioned above, was @efforg who told me that they'd be forwarding our request to the "technical lead", still waiting for feedback on that. So here is my plan on how to deal with this Issue:

I will:

* Remove all organizations listed in [support](https://github.com/SecUpwN/Android-IMSI-

[2015-06-21 14:22] SecUpwN opened #491 "SMS Detection: Find web service for automatic testing"
This Issue serves to find a web service to automatically send different SMS for testing #69.

* Preferably Open Source
* Limit: ~100 SMS a day
* Automatically send Type 0, WAP Push, etc.

Discussion for properly testing and improving #69 is open. Let us know if you have a funky idea!

[2015-06-21 17:46] #490 closed

[2015-06-21 18:25] SecUpwN commented on #272
@E3V3A, if #466 has been resolved, please see if this is fixed as well since @wvengen mentioned it,

[2015-06-21 19:50] banjaxbanjo commented on #457
Here is the cdma toast that is called when aimsicd service is started

CellTracker.java
[code]

[2015-06-21 20:49] #484 closed

[2015-06-22 05:55] SecUpwN commented on #479
Thank you for your extensive explanations here, @DJaeger.

How to effectively override the automatic whiteness and make our Icon full color in all places?

[2015-06-22 06:09] E3V3A opened #495 "Use ANT to share BTS data"
We could use the [ANT](https://github.com/ant-wireless/ANT-Android-SDKs) protocol to share AIMSICD data across devices. I've not thought this through, but I imagine we could share BTS data this way. (Yes, we could also use NFC or Bluetooth.)

[2015-06-22 06:19] E3V3A commented on #449
Android Lollipop has the [11. Colour Inversion And Colour Correction](http://www.theguardian.com/technology/2015/jan/12/23-tips-tricks-android) Mode for this. Use that.

[2015-06-22 06:55] SecUpwN commented on #449
Thanks for adding this hint, @E3V3A. It is now [available in our FAQ](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/FAQ#q-what-to-do-if-im-colorblind).

[2015-06-22 08:17] TPS commented on #457
Obviously, something so short & straightfoward has no chance of working in the real world.… ;)

Seriously, as I seem to have the only device anybody admits to having this problem (even from the alpha released in the last 24 hours), is there any else I can provide you serious Android coders?

Something else that I should ask: does femtocell detection require location settings to be on, like cell tr

[2015-06-22 08:40] SecUpwN commented on #405
Reviewed this again and think it may be better adding it to the title. Would this work, @DJaeger?

[code]

If so, I will craft another pull request to move the display to the title. @E3V3A, what do you think?

[2015-06-22 10:07] E3V3A commented on #405
Screen shot?

[2015-06-22 10:28] SecUpwN commented on #405
![Preferences](https://spideroak.com/share/IFEU2U2JINCA/GitHub/home/SecUpwN/SpiderOak/SCREENSHOTS/Preferences.png)

[2015-06-22 11:02] E3V3A commented on #405
Yes, make the changes.

[2015-06-22 11:15] DJaeger commented on #405
It doesn't seem to work from the doku.
The methods for title don't work with formatter.

[2015-06-22 11:18] DJaeger commented on #405
You have to make your own preference change listener for this.
But I wouldn't make it so complacated for simply print this.
I think the current solution is enougth a the common solution.

[2015-06-22 11:38] SecUpwN commented on #405
But I wouldn't make it so complacated for simply print this.
I think the current solution is enougth a the common solution.

Yes, I agree. It was just a thought I had. I will keep it as it is since we all have eyes and it works. ;-)

[2015-06-22 11:46] ph0t0n commented on #459
(update)

i am using specific quad band rx/tx antennas now. i have independently verified with another SDR that my openBTS is running on the ARFCN channel i chose. also the openBTS software is showing other signs of working at RF level, for example i can change desired power level or sample input noise dB level and these values are reflected with inspection by secondary SDR on wide rx antenna. so

[2015-06-22 12:13] E3V3A commented on #459
Try with another phone, and make sure youäre operating in GSM (2G) mode only. If phone is using defaults, it's probably using UMTS first and GSM last...

[2015-06-22 12:59] DJaeger opened #496 "Can't start app anymore with current build"
The app crashs directly after starting.
I have installed the most current build.
Also after a reinstallation it doesn't work.
Occues on Android 4.4.4 (CM11).

Here my logcat.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22736768-can-t-start-app-anymore-with-current-build?utm_campaign=plugin&utm_content=tracker%2F565750&utm_

[2015-06-22 13:00] E3V3A commented on #481
Other items to be shown in that table are things like those mentioned in #201.

[2015-06-22 13:03] SecUpwN commented on #496
Strange. Cannot confirm this.

Which version did you use before trying to install the new one? Tried to remove any old leftovers?

[2015-06-22 13:12] DJaeger commented on #496
That issue occured also with some builds before.
I could solfe it now by deleting lacells table

[2015-06-22 13:14] SecUpwN commented on #496
You mean the one introduced by @wvengen? Maybe you can fix it instead of removing it? :)

[2015-06-22 13:27] DJaeger commented on #496
I simply deleted the files from .nogapps directory.
At first I wanted to get the app to work, to look into #403.

[2015-06-22 13:55] DJaeger commented on #403
The [i] toast are not using msgLong, but the default setText of toast class.
Because of that they are shown the deffault 3.5 seconds.
I can see different behaviors for the [i] toasts.

[2015-06-22 14:25] SecUpwN commented on #403
Ok, would changing [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/adapters/DrawerMenuAdapter.java#L53-L56) to the following fix this Issue? If so, let me know and I'll do it.

[code]

[2015-06-22 14:30] He3556 commented on #481
The positive false from the CellID check [https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/91] should be in the Eventlog. Only the Timestamp is missing as far as i remember.
Also a changing LAC is saved in that table.

[2015-06-22 16:07] DJaeger commented on #479
Source:
http://stackoverflow.com/questions/30075827/android-statusbar-icons-color

[2015-06-22 16:40] DJaeger commented on #496
It could be something similar to https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/483

[2015-06-22 19:57] SecUpwN commented on #479
Thanks, that help a lot, @DJaeger.

Question at @He3556 and @E3V3A, shall we use the [DrawableCompat.setTint](https://developer.android.com/reference/android/support/v4/graphics/drawable/DrawableCompat.html) method?

[2015-06-23 00:15] E3V3A commented on #479
I have no idea what that means, or if it resolves the issue.

[2015-06-23 02:24] E3V3A opened #498 "App doesn't quit"
Debug version of App doesn't quit. Need to force close it.

This is an old bug we used to have (issue #246) and painfully managed to solve, but now it seem all this bloody "refactoring" has re-introduced it again. Or it is a side-effect of using leakcanary?

@d-mariano You managed to solve this in the past. Any ideas?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-06-23 02:27] #488 closed

[2015-06-23 05:33] DJaeger commented on #403
The new implementation seems to doesn't support to cancel the current toast for new one.
So if I want to read all info boxes I have to wait the full time for every box, because the click on a new infobox is queued and doesn't trigger a direct text change.

[2015-06-23 06:55] E3V3A commented on #403
Actually the queue is LIFO. Or last entered, first shown.

[2015-06-23 07:09] SecUpwN commented on #403
Was this this the effect you desired, @E3V3A?

Not sure if this has been the case before, but every toast of our app is now appearing at the very top of my screen, whereas other apps display toasts in the *center* of the screen. Can we change it to that?

[2015-06-23 07:13] SecUpwN commented on #479
With the [DrawableCompat.setTint](https://developer.android.com/reference/android/support/v4/graphics/drawable/DrawableCompat.html) method we can override the automatic whitening in Android  5+.

[2015-06-23 08:14] DJaeger commented on #403
@E3V3A It's not LIFO for me!?
@SecUpwN:

I think not, as we wanted to change it, if a new icon is clicked.
We have to implement a Singleton for this as @DimaKoz mentioned.

For me other apps display the toast at the bottom.
We can change that behavior be changing
[code]
to (for vertically centered toast):
[code]
or (for toast at the bottom)
[code]

[2015-06-23 08:25] SecUpwN commented on #403
I am comfortable with either bottom or center, whichever is better to be seen.

Not sure if he is still around, haven't heard a thing of him in a long time..

[2015-06-23 09:04] DJaeger commented on #403
This should do all the magic:

[code]

With that you call
[code]

[2015-06-23 09:05] DJaeger commented on #403
If that solution is ok for you, I will create a PR.

[2015-06-23 09:28] duanester opened #499 ""Parse error""
when i try to install the latest version i get this pop up:

"Parse error
There is a problem parsing the package"

i tried different versions from different sources and checked the md5. maybe this has more to do with my phone, i don't know. I just started with android, and just know enough to get myself into allot of trouble.

phone: kyrocera event
android version: 4 0 4
Rooted phone, with allot o

[2015-06-23 09:38] SecUpwN commented on #499
Welcome to our little project, @duanester. Here are a few core questions:

* Which system apps did you disable and which app are you using for that? Also see: [Permissions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Permissions).
* Where did you grab the APK from? Official sources (Our Aptoide, F-Droid or GitHub Releases)?

[2015-06-23 09:55] SecUpwN commented on #403
Great! Where does the toast get displayed now? Yes, please craft a PR so that we can test this.

[2015-06-23 12:49] DJaeger commented on #403
With this change the toasts will be at the bottom.
This class and its methods should replace all the existing toasts, so I will also replace all toast to use one of them!

Please check if you really see short messages at the top or centered.
If so I will change msgShort to force them at the bottom, to have them all at the same position.

[2015-06-23 14:19] agilob commented on #486
After installing from F-Droid new users will encounter those errors (#487 #486 #483) - makes application completely useless. AIMSICD crashes on start.

[2015-06-23 15:38] d-mariano commented on #498
I will take a look at this today, it has been a while since I've worked on this app; I do miss the bug eliminating, I must say.  I'll have to refork and then familiarize myself.  I'm working on some other stuff today as well, so I'll be doing this in between.

[2015-06-23 15:53] SecUpwN commented on #498
Welcome back, @d-mariano! It's a pleasure to see you rumbling with us again. :+1:

Hahaha.. best sign that you love working with us! Thanks for the indirect compliment. :)

Let me know if you need anything, I'll be around.

[2015-06-23 15:56] SecUpwN commented on #486
As soon as mentioned errors have been fixed, I'll push a fresh build across all stores. Thing is, we need someone who can really do the lifting for us (having our bug-lover @d-mariano in mind)...

[2015-06-23 16:05] SecUpwN commented on #403
I do not quite get what you mean by that.

The normal toasts when loading up our app (like granted SuperSU permissions and starting of services related to AIMSICD) appear at the bottom. When pressing the `[ i ]`, they all appear at the top.

If there is a "standard" on where they should be displayed, I'd go with that. Otherwise all other apps do display it either at the bottom or in the center, it

[2015-06-23 16:15] agilob commented on #486
Those bugs are not fixed. I have the same errors when I compile AIMSICD from master or development branch.

[2015-06-23 16:19] SecUpwN commented on #486
I never said that they're fixed. I'll be waiting for @d-mariano to respond, he just re-forked our project.

[2015-06-23 16:21] agilob commented on #486
ok, I thought you meant those issues. Database storage should be rewritten using ORM ;_;

[2015-06-23 16:28] SecUpwN commented on #486
So just to clarify: *This* Issue is currently breaking our build? Which Issues need to be fixed *now*?

[2015-06-23 16:28] SecUpwN commented on #215
@E3V3A, @banjaxbanjo and @DJaeger, it seems @agilob has had a good idea in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/486#issuecomment-114561916:

[2015-06-23 16:44] agilob commented on #486
all mentioned.

[2015-06-23 18:13] SecUpwN commented on #455
Would like to hear @E3V3A and possibly @DJaeger on this. On one hand we had decided to make our app communicate as less as possible with other servers, on the other hand though, I'd like developers to actually *use* our bug reports to be able to *fix* stuff, not just to give emotional advice (that's what I'm currently doing with all the bug reports travelling in). Also, if we're going to implement

[2015-06-23 19:50] duanester commented on #499
Ill get the other things you requested, maybe tomorrow. ocr from screen capture below may have errors.

Disabled apps:
BackupRestoreConfirmation.apk com android backupconfirm
BooksTablet.apk com google android apps.books
Calculator.apk com android.calculator
Calendar.apk com android.calendar
CalendarProvider.apk com.android providers.calendar
Camera.apk com.android.camera
Certlnstaller.apk com.and

[2015-06-23 19:56] SecUpwN commented on #499
Doesn't help much. But I wonder why you keep disabling half of your ROM if you could just [ROOT](Ill get the other things you requested, maybe tomorrow. ocr from screen capture below may have errors.) your phone and install a custom ROM like [AOKP](http://aokp.co/)?

This should be important for our app, I guess.

[2015-06-23 20:13] duanester commented on #499
i enabled Networklocation.apk but still have the same problem

this is a single processor phone so i don't think it would do firefox very well without everything disabled.
Ill buy a better phone just to use your app, What is the cheapest phone, you know of that runs you app. since i am liable to brick it need the cheapest.

[2015-06-23 20:20] SecUpwN commented on #499
As already said, this won't be the root cause to this problem.

Don't do that just because of our app. It is **bleeding ALPHA**. Just wait a little for the next release.

Liable? Check the links I provided and see what can be done.

[2015-06-23 20:36] d-mariano commented on #498
Initially I noticed a memory leak with mProgressBar, this doesn't seem to happen anymore.  Now when I quit, some seconds later LeakCanary says that the DrawerMenuAdapter causes a leak.  I'm still trying to figure this out.  I'm also looking into the issue of trying to quit the app after install, which won't work until you try it again a second time.  Can anyone confirm this behavior?

[2015-06-23 21:01] wvengen commented on #496
Whoops - sorry to have introduced a bug!
What might be happening is this: on first opening, an index on geo-coordinates is created (so that finding close cellids will be faster during normal use). Apparently this takes more time that Android likes, and AIMSCD is killed.
Clearly, adding the index on opening like this is not an ideal solution.

[2015-06-23 21:18] wvengen commented on #215
At the very least, some database [migration](http://stackoverflow.com/questions/2488813/how-to-do-database-schema-migrations-in-android) system would be useful. As it looks, I'd say an ORM could be a good choice - [one of these](http://www.appbrain.com/stats/libraries/tag/database/database-libraries) or [more](http://stackoverflow.com/questions/371538/any-good-orm-tools-for-android-development).

[2015-06-23 21:22] agilob commented on #496
No it's not created. Even database or table might not exist at all. Database isn't created due to 4 errors I reported earlier this week.

[2015-06-23 21:28] SecUpwN commented on #498
@d-mariano, I *cannot* confirm that it needed *two* tries to install our app, for me the current one just installed and runs fine. Regarding the laks, I can confirm all of the above and have collected numerous leaks in more than a week. Would it help you if upload a `.zip` file with the dumps and send it to you via email at your discretion?

[2015-06-23 21:38] d-mariano commented on #498
What I meant was that after a fresh install, I selected "Quit" on the drawer and the icon was still present on that status bar after the app appeared to have closed.  After selecting the icon or opening up the app again, I selected "Quit" a second time and the icon disappeared from the status bar after the app closed.  Also, please send me the .zip, it may help.

After changing line 39 in DrawerMe

[2015-06-23 22:01] rena2019 commented on #96
@E3V3A can you please share the GlobalPlatformOrg.7z again?

[2015-06-23 22:02] SecUpwN commented on #498
No matter how often I select `Quit` while having disabled the persistent service - the Icon always stays.

Thanks for investigating my heap dumps before crafting a near PR for us. E-Mail has been sent.

[2015-06-23 22:04] SecUpwN commented on #96
May I ask you if you're just interested in that `.zip`, or actually helping with this Issue, @rena2019?

[2015-06-23 22:13] d-mariano commented on #498
It's possible the no quit is a preference issue.  My app is able to lose the icon after the second try.  I'll look more into this later.  I'm going for a run and then it might get a little late.

[2015-06-23 22:15] DJaeger commented on #498
Try if it is solved with my PR

[2015-06-23 22:23] SecUpwN commented on #498
Huge thanks, but it still stays as if glued to my notification bar.

Also could use more of that. A full-time code-cleaner would be awesome...

[2015-06-23 22:31] DJaeger commented on #455
I think a lib which will cause an anti-feature prompted on F-Droid, especially that it could spy you, is a nogo.
Someone who wants to use this app to detect spying won't use a app that has this anti-feature.
I like the solution used for example by Firefox and OsmAnd, where a promt is shown after a crash (at least on next start) that asks to send a bug report.
This could be done like Firefox withou

[2015-06-23 22:36] SecUpwN commented on #455
Fully agree on that, I'd avoid any apps with such a warning as well.

Makes perfect sense to me, but let#s hear what the others have to say about that.

How can this be done without using our email adresses? A unfied bug collection system (which preferrably integrates with GitHub logins) would be nice. And of course we'd need people look at it.

[2015-06-23 22:55] DJaeger commented on #498
Already seen.

It occures with activated as well with deactivated static background service and also with double back tap.

Additionally I have noticed, that with deactivated static background service the notification shortly changes to status sleeping before it quits.

This is the info for the leak on Quit from leakcanary:

[code]

[2015-06-23 23:04] DJaeger commented on #455
I mean any solution, that doesn't require the user to populate anything about him/her.
Either send a mail by the app internaly or upload it so somewhere.
The problem for uploading is, it should be a solution without credentials or API keys, as we should prevent to write them into souce codes (which is required for a F-Droid build) and for mail we have to write the mail adresse to souces.

[2015-06-23 23:08] SecUpwN commented on #455
Our app is already able to submit debugging logs to *me*, but I might be the wrong person looking at them. Currently, my email is hard-coded into our source code, not sure if that is the best solution. Want to take my part? ;-) Back to **this Issue**: Is this a problem with *our* code or the one from @square?

[2015-06-24 00:13] E3V3A commented on #403
I also prefer bottom or center, not to cover other info. Also regarding LIFO, mentioned above, was that the last **[i]** pushed would always show immediately (AOS 4.2.2 API 19) and then the previously pushed one, if interrupted...

[2015-06-24 00:18] E3V3A commented on #486
I don't understand why I don't have these issues (AOS 4.2.2)? What's changed?

@agilob

Please explain how using ORM would resolve the issues.

[2015-06-24 00:21] E3V3A commented on #499
@duanester

AFAIK, we're only supporting AOS 4.1 (API 19) and above. Update your phone.
(Since we're not using Google Play, there are no automatic API compatibility checks.)

[2015-06-24 00:21] #499 closed

[2015-06-24 00:29] E3V3A commented on #215
I'm not gonna have this silly ORM discussion again! (Please search and re-read ALL the DB threads!)
This is not about ORM, but about implementing the bloody DB design as specified and not wasting time in complicating the code further. Learn SQL or stop programming. If you don't know how SQLite (SQL) works, you sure as hell not gonna be able to do anything useful with ORM.

[2015-06-24 00:37] E3V3A commented on #96
We've already got SIM access, so we just need someone to do the code. So those doc's are not gonna help you and you can download them yourself at their website. (They've been updated.)

[2015-06-24 00:48] E3V3A commented on #455
Too much work without any ROI.

That's a **no go**, IMHO.

[2015-06-24 01:00] E3V3A commented on #471
@agilob Basically what you see above are all the cells you've **been** connected to. So this behavior is fine until we fix 215.

[2015-06-24 01:03] E3V3A commented on #466
Unfortunately the side-effect of this PR is that the map view is wrong, laggy and unresponsive until DB query is updated. Not good.

[2015-06-24 06:35] DJaeger commented on #403
Ok, that's what I wanted to know.
So the default is bottom for you, too.
It sounds in a previous answer as centered is the default on your phone.

Thats the reason I would prefer bottom, which is also the default.

It's not so for me.
I think the behavior changed with newer Android.
But this should also be solved with the Singelton I will do.

[2015-06-24 07:43] agilob commented on #486
All of them are caused by mistakes in raw SQL queries.

1. Uninstall AIMSICD
2. reboot device (or clear /tmp)
3. install AIMSICD from FDroid

[2015-06-24 09:04] E3V3A commented on #486
F-droid is way behind our dev releases. Ask @SecUpwN for buildozer account.

[2015-06-24 11:15] SecUpwN commented on #403
Awesome, confirming this Issue as finally being **solved**! :white_check_mark:
@E3V3A, since this is your Issue, please confirm and close it.

[2015-06-24 12:05] DJaeger commented on #403
Its not completly what expected.
By clicking on a info button the currently shown toast should be canceled and the new one shown.
And also the position is a different.
I will rework this.
But the core of this issue should be solved.

[2015-06-24 14:32] agilob commented on #486
This issue it not solved. It happens both on latest release from fdroid **AND** on development branch from this repository. Whatever...

[2015-06-24 14:37] E3V3A commented on #486
reopened... I have no idea how to debug this...

[2015-06-24 15:34] Kiwawa opened #504 "Support for dual SIM phones"
I have a Phablet with dual SIMs. One 2G, one 3G, according to the manufacturers specs. Default for all services is set to second, 3G-enabled, SIM ("Comviq 2") as seen in the screenshot. The application only detects / displays information about the first SIM.

[2015-06-24 15:36] SecUpwN commented on #504
Good evening @Kiwawa. Our app apparently does not support Dual-SIM phones.
Security notice: You should obfuscated LAC/CID from your above screenshot.

[2015-06-24 15:37] DJaeger commented on #486
Can not check this now, as the CSV parsing is currently not working.
Will check this after fixing parsing error.

[2015-06-24 15:42] Kiwawa commented on #504
Hi and thanks for the note. I don't mind giving away my approx. location, but removed the screenshots anyway. Perhaps you can disregard this bug report then, or turn it into an improvement suggestion? Happy to help...

[2015-06-24 15:45] SecUpwN commented on #504
Re-labeled this Issue and will wait for the others to respond. If we ever support Dual SIM phones, it will not be right away since we clearly lack contributors and need to focus on fixing existing bugs and continue to add the core functions of our app. Feel invited to spread the word to Android developers!

[2015-06-24 15:49] SecUpwN commented on #455
@E3V3A, I have just written a personal message to @pyricau to clear up the core solution to this Issue since if you look at the [leakcanary Issue tracker](https://github.com/square/leakcanary/issues), we're not the only people reporting this.

[2015-06-24 17:29] lop1 opened #505 "impossible to download local OCID since 0.1.25 alpha b34"
hello,

I use a galaxy S4 mini stock firmware 4.4.2. AIMSICD is working up to 0.1.25 alpha B15 but all the other release won't download from OCID ( ...check your network ). off course as the download is not possible the icon is always yellow : unknown BTS.
As there is a change in the strucure of the DB, I can't restore a DB from the work version to a new release.
Is there something I can do to pas

[2015-06-24 17:46] SecUpwN commented on #505
This simply can't be, something must be wrong with either your network connection or you've restricted our app to download the OCID database. Why is that? Because I know that we've had working versions in between and after `0.1.25-alpha-b34`. Please follow [this guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues) so that we can help!

[2015-06-24 18:02] rena2019 commented on #96
@SecUpwN  I'm interested in all the mobile stuff. yesterday I read about Open Moblie API and found this site. @E3V3A Are all documents inside your zip also available free for download from GP site?

[2015-06-24 18:03] lop1 commented on #505
I have tried :
0.1.25 alpha B34
0.1.26
0.1.27
0.1.28
0.1.29
0.1.30

I have the same problem with all of them. As soon as I switch back to 0.1.25 alpha B5 up to alpha B15, no problem OCID download OK and the icon is green.

[2015-06-24 18:03] lop1 commented on #505
Hé are thé logiciel in 1.30
--------- beginning of /dev/log/main
I/SensorManagerA( 8735): getReportingMode :: sensor.mType = 1
D/SensorManager( 8735): registerListener :: 0, MPU-6K Accelerometer, 200000, 0,
E/MultiRil( 8735): request timeout
E/SamsungMulticlientRilExecutor( 8735): Local write() error: not connected
I/SensorManagerA( 8735): getReportingMode :: sensor.mType = 1
I/SensorManagerA( 873

[2015-06-24 18:04] lop1 commented on #505
thanks a lot for your time.

[2015-06-24 18:41] DJaeger commented on #498
Thats crazy.
I wanted to analyse this some more, but leak canary crashes :-D

[2015-06-25 00:11] E3V3A commented on #13
Closed in favor of #228 and #250.

[2015-06-25 00:11] #13 closed

[2015-06-25 00:55] E3V3A commented on #505
@lop1 Thanks for reporting back to us. I believe you, but I need to verify that you're root'ed? Our app is using part of the phone not normally accessible for non-rooted use. **Have you rooted your device?**

Second, the errors that pop-out at me are:
[code]
The first that come from [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/ba1784dbaac40a8b2ee6ae32e8dbb025be1e57dc/app/sr

[2015-06-25 01:17] E3V3A commented on #498
@DJaeger Is there a way to temporarily comment out the leakcanary import?

[2015-06-25 07:11] lop1 commented on #505
thanks for your time,

yes my samsung galaxy S4 mini was rooted with towelroot and SuperSU ( not to be knoxed ), the root is working ( two softwares are using it OK )

yes the path:  /storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/ exists, in it there is an empty directory OpenCellID

the phone is brand new , stock  firmware 4.4.2 , just rooted , titanium backup , ES explorer , SuperSU,

[2015-06-25 07:13] lop1 commented on #505
Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : "E:V:A" <notifications@github.com> </div><div>Date :25/06/2015  02:56  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Objet : Re: [Android-IMSI-Catcher-Detector] impossible to download local OCID
  s

[2015-06-25 07:46] DJaeger commented on #403
It's now working like expected.
The toast is now at the correct position and is immediately replaced by a new one.
This works for short and long messages.
@E3V3A please confirm

[2015-06-25 07:48] E3V3A commented on #505
You need GPS lock-on for downloading OCID data. Also make sure that your Area has data.

[2015-06-25 08:41] DJaeger commented on #455
For now we should comment out leakcanary, to not create more noise in logs than created by this app itself.
See https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/506

[2015-06-25 10:07] lop1 commented on #505
I am in my garden, the GPS is locked on ( maps show me precisely ) and I have full 20 MB/s wifi connection with my box.
And the OCID cells download works great if I install the 1.25 beta 15 version , it is only having problem on all the next releases.

On 25 Jun 2015, at 09:49, E:V:A <notifications@github.com> wrote:

[2015-06-25 10:11] E3V3A commented on #455
Yes, no code removal ,just comment out for now.  Can you make a PR for that?

[2015-06-25 10:27] lop1 commented on #505
ATTENTION! Veuillez décrire le problème que vous avez (en anglais !), avant de nous envoyer ces logs. PAS D'AIDE SANS DESCRIPTION PRÉCISE!

GETPROP:

[DEVICE_PROVISIONED]: [1]
[af.resampler.quality]: [255]
[audio.offload.disable]: [1]
[boot.sfbootcomplete]: [1]
[dalvik.vm.heapgrowthlimit]: [96m]
[dalvik.vm.heapmaxfree]: [4m]
[dalvik.vm.heapminfree]: [1m]
[dalvik.vm.heapsize]: [256m]
[dalvik.vm.hea

[2015-06-25 10:57] DJaeger commented on #457
Currently we are using ```getPhoneType()``` of ```TelephonyManager``` to determine if GSM or CDMA.
It only gives one value back for either of them.

As of documentation:

I think the only methode, that gives us info if multiple radios are available is ```getAllCellInfo()```.
As of documentation:

So we can check if there is something in the list for the different network types.

[2015-06-25 11:18] DJaeger commented on #457
Something like this:

[code]

But if I understand it right, it would require, that cells of this type are available.

[2015-06-25 11:30] DJaeger commented on #455
Already done.
See linked PR in last comment.

[2015-06-25 11:57] E3V3A commented on #457
yes, maybe we should try that?

[2015-06-25 12:11] E3V3A commented on #498
Merged PR for commenting out leakcanary in lack of bug support.

[2015-06-25 13:19] E3V3A commented on #324
Fix log TAGs in [RilExecutor.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/rilexecutor/RilExecutor.java) and [SamsungMulticlientRilExecutor.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/rilexecutor/SamsungMulticlientRilExecutor.java) with the corresponding

[2015-06-25 14:29] TPS commented on #457
@DJaeger It is virtually certain than such actually exist, as there are many reports of the Nexus 6 on https://fi.google.com/ does precisely this.  Granted, this has a special SIM, so does this in a separate manner than my cell (seems to be builtin & switches mode internally via Chameleon).

Also, no idea if these are as well-behaved as the spec says they should be, e.g., my cell showing CDMA on 1

[2015-06-25 14:39] TPS commented on #457
@ DJaeger Your if-else statements in the sample code seem to be equivalent to previous switch-case statements as written, so will still only identify 1st network that matches.  Try if without else, or switch-case without break (for better readability?)?

Sorry for lack of markdown.…  I seem to only find it accidentally.

[2015-06-25 14:47] DJaeger commented on #505
@lop1 Could you please write english?
@E3V3A Am I wrong, that SamsungMulticlientRilExecutor shouldn't be used on Galaxy S4 as of following code commend!?
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/fragments/CellInfoFragment.java#L55-56

[2015-06-25 15:02] DJaeger commented on #457
I'm not sure if I understand you correct.

My code sample is not equal to previous switch-case, as it looks at all available cells and sets the properties to true, if one of the available cellss is of that network type.
So if a CDMA radio is available there should a CDMA cell be found and the property set to true and if a GSM cell is found the GSM property set to true and so on.
If GSM and also CD

[2015-06-25 15:11] TPS commented on #457
@DJaeger I mean, convert

                    if (info instanceof CellInfoGsm) {
                        gsm_available = true;
                    } else if (info instanceof CellInfoCdma) {
                        cdma_available = true;
                    } else if (info instanceof CellInfoLte) {
                        lte_available = true;
                    } else if  (lCurrentApiVersion >= B

[2015-06-25 15:50] DJaeger commented on #457
Am I wrong, that a cell can only be GSM or CDMA and not both?
If the device has multiple radios it finds multiple cells with different network types, but each of them has only one network type, or not?

Or let me say it in another way:
Can ```info``` be an instance of different classes, which are all childs of ```CellInfo``` but none of them is a child of one of the others?

[2015-06-25 16:16] DJaeger commented on #498
This issue seems to be solved.
For me it properly quits.

Also the log is now clean without leakcanary:
[code]

[2015-06-25 16:22] DJaeger commented on #498
I still could see that (sometimes) last time leakcanary worked.

This is solved.

I will look, if I can find something curios of mProgessBar.
Also I will try to solve the flashing "service is sleeping" on quit.
Should we track that here or in a new issue?

[2015-06-25 16:32] lop1 commented on #505
very sorry for the "french" part of the mail, but it was automatically generated by the app , when you click on send the french comment is generated (because I think the phone is in french), all my mail are written in english ( as far as I know ;-) )

[2015-06-25 18:00] SecUpwN commented on #505
@lop1 Security notice: You should remove all LAC/CID and private stuff from your logfiles above.

[2015-06-25 18:02] SecUpwN commented on #403
Confirmed. Working and looking beautifully!

[2015-06-25 18:02] #403 closed

[2015-06-25 18:06] SecUpwN commented on #455
Thanks for your superquick work on our repo, @DJaeger! I am continuing to monitor what will be happen to https://github.com/square/leakcanary/issues/157#issuecomment-115072058 and if that actually solves this Issue as well.

[2015-06-25 18:11] SecUpwN commented on #324
@E3V3A I've just merged the PR above. Is this fixed now?

[2015-06-25 18:21] SecUpwN commented on #498
For me, it unfortunately doesn't...

[2015-06-25 18:29] DJaeger commented on #457
To open the settings to set to "CDMA only" paste ```*#*#INFO#*#*``` into the numberfield of the keypad view of your dialer, and than click on phoneinfos.

[2015-06-25 18:55] d-mariano commented on #498
I haven't had much time to look back at it, but I am suspecting that the persist service preference is not saved or tested properly.  This might be a good place to look for those who do not have time.  I still experience an unsuccessful quit after a fresh install, but then when I select the remaining notification and the app is brought up again, I can successfully quit after trying a second time.

[2015-06-25 19:20] DJaeger commented on #324
Looks like expected.
Could see the new TAGs for a timeout error of RilExecuter.
As I can not reproduce the error, I only mention it in this context, but will not file an issue.

[2015-06-25 19:22] DJaeger commented on #457
I will create a PR for disable the preferences UI, when we have found a correct solution to detect if CDMA is available.

[2015-06-25 20:00] SecUpwN commented on #453
I have just had a nice talk via E-Mail with the folks at @Buildozer and here is what they mentioned:

Here is what I also asked them about my prefered display:

They explictly said that this is in fact possible by:

The starting points would be:

* using an environment variable inside a gradle build phase
* using gradle to adjust one of your Java files pre-build

Will update this Issue when I rece

[2015-06-25 23:06] DJaeger commented on #498
For me all is working with current build.
Could you please give me log?

[2015-06-25 23:49] E3V3A commented on #505
@SecUpwN

That's right, but It's irrelevant what device (works on my S4-mini). We're working on this...

This issue is something else going on...

[2015-06-25 23:59] E3V3A commented on #505
@lop1 Can you try again with the latest build?

Also, try using "Android Terminal Emulator" to change the debug level of SQL execution.
[code]

[2015-06-26 00:10] E3V3A commented on #324
@DJaeger Hmm I wonder if this is the problem with #505 ? (Also see my comment in the commit PR.)

[2015-06-26 00:17] E3V3A commented on #457
Good question. A "cell" (tower) with a specific SID can only be CDMA, but I guess the connection could  be downgraded to a GSM CID. (Wish I had CDMA device.)

[2015-06-26 00:21] E3V3A commented on #453
Great! If they could only provide some example scripts, that would help even more...

[2015-06-26 00:23] E3V3A commented on #498
@d-mariano Have you got a Buildozer account from @SecUpwN ?

[2015-06-26 00:44] E3V3A commented on #498
I can confirm that on Buildozer **162** (b06) it still does **not** close.

[2015-06-26 02:03] TPS commented on #457
@DJaeger As usually, in my last response, I misunderstood your (correct) definition of cell that means "network broadcast area of a particular device that connects into the cellular network" to (incorrectly) mean "a mobile device."  I apologize, once & for all, for my US American misunderstanding of the various international Englishes represented here.

Now, onto the matter: does the above code te

[2015-06-26 04:39] okbob commented on #215
For first quick view it is looking well. Every schema should be validated on prototype. Insert to tables 100 rows, and try to write queries for all planned processes. When the queries are readable and simple, then the design is perfect. If not, try to fix it. Usually it needs two three iterations. Next step should be a performance validation - try to fill database by data for 5 years, and check a

[2015-06-26 04:52] SecUpwN commented on #505
I still wonder if this Issue is related to our own code, or maybe caused by the data cleaning that OCID has in progress. Too bad that OCID is not on GitHub, otherwise I could check. @msemm, please tell us.

[2015-06-26 05:08] SecUpwN commented on #453
I just found [this interesting GitHub Gist](https://gist.github.com/ijansch/187845faf6aea780fb99). Maybe @ijansch can guide us a bit?

[2015-06-26 05:11] TPS commented on #504
Just as a note, this DOES seem to overlap a little with #457, as some of the work that'll be done there can likely be expanded toward this issue, I think. ☺

[2015-06-26 06:02] SecUpwN commented on #258
Our [Style Guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide) has been updated. @wttrtpy are you still on it? Please delete your old fork.

[2015-06-26 06:50] ijansch commented on #453
The gist is the equivalent for iOS. I'll see if I can create one for android as well.

[2015-06-26 06:53] SecUpwN commented on #453
Thanks! The question is, how to change our [AndroidManifest.xml](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/AndroidManifest.xml)? Would the following work?

[code]

The `BUOLDOZER_BUILDNUMBER` shall not get added when compiliung with Android Studio or else.

[2015-06-26 07:58] lop1 commented on #505
Here is the  log file for the 1.30 bêta 0, With the début lever of SI set as You tôle me.

GETPROP:

[DEVICE_PROVISIONED]: [1]
[af.resampler.quality]: [255]
[audio.offload.disable]: [1]
[boot.sfbootcomplete]: [1]
[dalvik.vm.heapgrowthlimit]: [96m]
[dalvik.vm.heapmaxfree]: [4m]
[dalvik.vm.heapminfree]: [1m]
[dalvik.vm.heapsize]: [256m]
[dalvik.vm.heapstartsize]: [8m]
[dalvik.vm.heaptargetutilizatio

[2015-06-26 11:55] #324 closed

[2015-06-26 15:03] gusfl commented on #505
i have the same problem on my phone (galaxy Ace 3 - Rooted, network & gps enabled, rooted. Checked hundreds of time with differents networks), it have been reported by #434 , #420 and #349 but the bug is still here.

My logcat show the same error as him @lop1  : a timeout exception.

[code]

the wierd thing :
i checked ```/storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/```, it exist, an

[2015-06-26 15:15] E3V3A commented on #505
Java in a nutshell,  totally FUBAR error messages...  Can we increase the timeout value again?

[2015-06-26 15:33] gusfl commented on #505
@E3V3A i'm not sure it would solve the problem.

The actual timeout is 40s  : https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/utils/RequestTask.java#L99-L100

The size of file my phone downloaded in 40 seconds, In LTE/4G is.... 75,7 Kb !.. that's not normal.

Just in case, i can make a try if you want.....i cannot compile (i have a re

[2015-06-26 17:14] DJaeger commented on #505
@gusfl: I think this is an old file.
Please remove it and try again.

Do you use an API-Key requested within the app?

[2015-06-26 17:45] gusfl commented on #505
@DJaeger nope, it's not an old file.

i removed the "files" folder, then i asked the app to download BTS data from OCID....and the file is here again. I use latest relase (1.30-alpha-b00). yes, i use api-key requested within the app.

[2015-06-27 00:28] DJaeger commented on #457
@TPS: US English has various differences to the english of the rest kf the world. ;-)
Is Cell not the common word for "the broadcasf area..." in context of this app? :-)
For better difference between words with different meaing I would switch to another one for one of them.
In this context is a switch from cell to (mobile) phone or device or "a mobile device" much simpler than from cell to "networ

[2015-06-27 04:06] TPS commented on #457
@DJaeger
RE: the definition of cell in context of this app, of course, I was misunderstanding you, not vice versa.

RE: whether (network; ) cells can have only 1 type, I'm not certain this is true (LTE → CDMA or LTE → GSM downgrading due to provisioning vs hardware capabilities), but I'm far from an expert in this.

@Everyone
But, I think this is far afield from the context of this bug.  Can we tr

[2015-06-27 07:33] E3V3A commented on #505
Let's try to increase timeout to 80 seconds. I know some mobile netoworks have very high ping times, but once download starts, it's fast.

[2015-06-27 07:35] E3V3A commented on #505
Also please post your logcats to a secure pastebin like [defused paste](https://defuse.ca/pastebin.htm) as it seem that Github is not able to code parse large chunks...

[2015-06-27 08:38] gusfl commented on #505
@lop1 , @DJaeger okay, i think located the bug ! :+1: . It is related to the application design itself :

when you push "download data from OCID" button, the app launch the download and store it in a file, ```opencellid.csv``` ([code here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/utils/RequestTask.java#L194-L250)). The csv file

[2015-06-27 09:32] E3V3A commented on #505
@SecUpwN That doesn't sound right. Can you please explain for them. I'm off line and can't type properly from here...

[2015-06-27 13:01] SecUpwN commented on #453
Thanks for your hard work on this, @DJaeger! It now looks like it should, but will the Buildozer Buildnumber also *not* be shown when compiling with Android Studio or other ways?

@E3V3A, I suggest that we remove [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/build.gradle#L95-L125) from our [build.gradle](https://github.com/SecUpwN/Android-IMSI-Catcher-Detecto

[2015-06-27 13:10] SecUpwN commented on #505
What exactly shall I explain to them, @E3V3A?

You are right, most of the times I am just installing the newer version on top of the old one. I will change that from now on. @DJaeger, does the above solution to this bug make sense to you?

[2015-06-27 15:07] DJaeger commented on #453
If not build from Buildozer the environment variable should be null, then the build variable is set to NA.
If the build variable is NA the text view is gone.

[2015-06-27 15:33] SecUpwN commented on #453
If the build variable is NA the text view is gone.

You truly rock. Issue solved, thanks for hacking like a hardcore freak! :smile_cat:

[2015-06-27 15:33] #453 closed

[2015-06-27 15:40] DJaeger commented on #147
Why close this?
I thought one of the purposes of this issue is to automaticly name the builded APKs of Buildozer?
But this is not working until now.

[2015-06-27 15:47] SecUpwN commented on #147
See https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/453#issue-85968943 and my comment thereafter. Thank you.

[2015-06-27 17:02] E3V3A commented on #505
Ok, so you're all misunderstanding how it works (or at least how it used to work)!

The OCID data is downloaded as a file which is then parsed and used to populate the DB. Absolutely nothing funny going on there AFAIK. My OCID data in DB is exactly as expected for new locations. So that is not the problem. If you really wanna debug this, why don't you go back to the github PR that was made when it

[2015-06-27 17:05] E3V3A commented on #453
Sure sound good...

[2015-06-27 17:08] E3V3A commented on #147
That was also my point once upon a time, but @SecUpwN insists of naming each build manually, so unless you can convince him otherwise...

[2015-06-27 17:22] E3V3A commented on #498
Can somebody please look at this? It's so annoying that I'm starting to hesitate to install dev builds for testing...

[2015-06-27 17:25] E3V3A commented on #455
closing until further notice or re-implementing leakcanary.

[2015-06-27 17:25] #455 closed

[2015-06-27 17:33] E3V3A commented on #505
@SecUpwN I just hard changed it in development branch. (No PR) I hope that didn't mess up anything... (I know its bad practice, but I'm not on dev machine here and we need to get this fixed.)

[2015-06-27 18:53] DJaeger commented on #505
@gusfl: You don't have the same issue filed here.
The issue filed here seems to be a download issue.
You seem to have a parsing issue.

If this is a parsing issue, it could be a issue I have already seen for me, too.
Also @SecUpwN seems to also have this issue.
Please open a new issue with full logcat and your locale and I will fix it, as I think I know the source of the issue, but had no time bef

[2015-06-27 23:37] DJaeger commented on #147
We have much different things on versioning discussed in this issue.

I don't want to change anything on the versioning or naming or realease flow.

I only think a naming of the APKs as @E3V3A said in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/147#issuecomment-98541653 would be great, at least for Buildozer Builds.

As all created APKs by them are called app.apk I can not dete

[2015-06-28 01:02] DJaeger commented on #498
Please give me a catlog and I will look into.

[2015-06-28 06:21] E3V3A commented on #498
Back button twice, works on BD b165, but drawer 'Quit' doesn't...

[2015-06-28 12:17] agilob commented on #505
I had the same problem with 0.25 but those two commits fixed it https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/f96d63698d3fca35a55985a27abfc5f6a532639e https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/ceaaca86be800315864275a30decbe9ef7ce8532

[2015-06-28 14:23] #505 closed

[2015-06-28 14:31] E3V3A commented on #496
Is this still an issue? BTW. We generally don't support Roms (like CM)...

[2015-06-28 15:16] SecUpwN commented on #496
I know. But I fully respect the people who do, I'm *only* using custom ROMs as well.

[2015-06-28 19:41] DJaeger commented on #496
I have not tried again.
We don't support spying free ROMs for an anti-spying app?
Will try it some time later and will give feedback.

[2015-06-28 19:49] DJaeger commented on #505
@agilop: Of which issue do you speak?
The download or the parse issue?
The download issue (the OP) should not depend on these commits and the parsing issue I spoke of was introduced with exactly the commits you named.
So why close?
Let @lop1 say if it is working with current build.

[2015-06-28 19:51] agilob commented on #505
@E3V3A likes to close unsolved issues... https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/ceaaca86be800315864275a30decbe9ef7ce8532 this commit fixed problem with downloading data. data was stored in incorrect location and couldn't be read later.

[2015-06-28 20:01] lop1 commented on #505
where can I find the current build (apk) ?

[2015-06-28 20:08] agilob commented on #505
Ask @SecUpwN for invitation to https://buildozer.io/

[2015-06-28 20:40] lop1 commented on #505
Thanks, invitation requested by mail .

Envoyé de mon mobile

[2015-06-28 21:11] SecUpwN commented on #496
Thanks, let me know here ASAP. I'll *skip* today's release if not fixed. No worries.

[2015-06-28 21:22] SecUpwN commented on #505
You've been invited. Please re-check this Issue and close if solved, @lop1.

[2015-06-28 21:51] SecUpwN opened #511 "Error Logs: Idiot proof warning and analysis"
Good evening everyone, I have just received another 3 error logs **without descriptions** and am now moving the discussion from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/455#issuecomment-113900052 into this separate Issue because I am very **SICK** of all the obvious an-alphabets using our app! When pressing `Debugging` it clearly says in bold letters:

But people are too laz

[2015-06-28 21:58] agilob commented on #511
[ACRA] can be used for this purpose and [does not fully conflict with F-Droid](https://f-droid.org/wiki/page/FAQ_-_App_Developers#Which_free_library_should_I_use_.28instead_of_XXX.jar.29_to_implement_YYY)

[2015-06-29 15:03] ph0t0n commented on #459
@E3V3A yes I am forcing the phone to 2G of course.

quick update:
- i have finally been able to set my test phone to "EURO bands" deep inside the hidden setup menu.
- i think this affects 850/900/1800/1900 search order, but this is just a guess.
- ***now i can see my openBTS cell.***
- i cannot register to my cell because i have more software to compile, oops.

other:
- i am waiting for a used Nok

[2015-06-29 15:23] breversa commented on #496
I had the same problem as DJaeger (and CM11 too, on Galaxy Nexus). The app would very shortly after startup, after upgrading from v0.1.28/29 to v0.1.30.

Deinstalling the app, deleting the .no-gapps folder then reinstalling the app (v0.1.30) solved the problem. :-)
(Deleting .no-gapps might have been enough though)

[2015-06-30 01:02] redbassett opened #512 "No-Colour Icons"
Somewhat relevant to #479, but in the other direction: With the shift toward monochrome notifications icons, I would love to see an optional set of icons that could display all of the relevant states, but with a single colour to match. Currently, this is the one of only two persistent notification icon apps that use colour, and it doesn't match the rest of my notifications bar. Having this as a op

[2015-06-30 07:19] E3V3A commented on #459
Great thanks for reporting back to us!

[2015-06-30 07:20] E3V3A commented on #496
Wanna make PR for detecting `.no-gapps` folder on ROM based devices?

[2015-06-30 07:23] breversa commented on #496
What's PR ? Public Relations ?

[2015-06-30 07:53] agilob commented on #496
pull request

[2015-06-30 09:50] agilob opened #513 "Idea to consider: Setup OWN CI-server with own F-Droid repo"
Leave buildozer, setup own Gitlab-ci or Jenkins to build each commit and publish apk for every build in own F-Droid repo. We could provide updates for every minor bug in own repository and major releases in standard way - official FDroid repo.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23366004-idea-to-consider-setup-own-ci-serv

[2015-06-30 11:20] DJaeger commented on #513
Great idea, have thought about too.

[2015-07-01 08:06] E3V3A commented on #513
Thank you! We didn't know about that possibility. But this will have to be done after #215.

[2015-07-01 08:47] benutzer74 commented on #200
Does the current version (0.1.30-alpha-b00) make use of accessing /dev/diag? On my system /dev/diag has permissions 660 and is owned by radio:qcom_diag. Is it dangerous to make /dev/diag world readable and writable? Other tools need rw access to /dev/diag and Android does not have a usermod command to add user apps to the group qcom_diag, thus only making /dev/diag world rw is possible...

[2015-07-01 09:33] benutzer74 opened #514 "OpencellID key not recognized"
With v0.1.30-alpha-b00 I always get an error "OpencellID not found on Opencell... blah blah".

But, they key is correct, no typo. It is a fresh key I requested from their web site.

Then I tried to request a new key from within AIMSICD which gives an error messge "Java Runtime exception" or similar, the message vanished too quickly to write down.

On the other hand, this could either be an OpenCel

[2015-07-01 09:43] benutzer74 commented on #514
OH, wait. I guess I this is a misunderstanding on my side!
This is not an error regarding my OpenCellID API key, right?
This is just a message about the network cell ID, not the API key of OpenCellID system I guess.
This message does not mean my OpenCellID API key is wrong I think....
I guess you can close/delete this question.

[2015-07-01 09:43] #514 closed

[2015-07-01 09:47] benutzer74 commented on #512
I fully agree!
I DAMN HATE this whiteish Lollipop cr@p.
We definetely do need colored icons to easily recognize important messages.
AIMSICD definetely need colored status bar icons to easily show current state of alert.
Google has to understand, the flat white colors in Lollipop is not only a mess, it is a danger because you may miss important notifications.

[2015-07-01 09:48] benutzer74 opened #515 "Question about /dev/diag"
A question, not an issue, about /dev/diag
What permissions does /dev/diag have on your systems?
Is it safe to make /dev/diag world writable and world readable? I guess not....!?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23443136-question-about-dev-diag?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_sourc

[2015-07-01 12:39] DJaeger commented on #515
How is this related to this app?

[2015-07-01 12:45] DJaeger commented on #513
How does this depend on #215 ?
As this requires other knowledge than a database rework, others can work on this.
Am I wrong?

[2015-07-01 12:53] DJaeger commented on #512
I have already posted this in #479.
But we can move this enhancement into this issue.

[2015-07-01 16:36] redbassett commented on #512
To clarify, opposite of @benutzer74, I want the all-white icons, but I want to still see the app's status. (I also hav no idea how the current icons are for colourblind users?)

I would like an icon set that can be presented in one colour and still show this status.

@DJaeger: This is connected to your issue (hence why I mentioned it up top), however I see it as a different development task since

[2015-07-01 17:05] DJaeger commented on #512
I know what you mean, as this is what I also suggested:

[2015-07-01 18:00] E3V3A commented on #513
This sound like an extremely low priority item, so if you mean by "others", other developers than what we already have, then that's just fine.

[2015-07-01 20:55] redbassett commented on #512
Somehow after several read-overs, I completely missed that bit. Absolutely!

[2015-07-01 20:57] E3V3A commented on #515
It doesn't matter at all what permissions you have on any particular device, especially without knowing anything about the hardware, the exact AOS, SELinux etc. About safety? Safety from what?

Please post Q/A stuff on our XDA page.

[2015-07-01 20:57] #515 closed

[2015-07-01 21:08] DJaeger commented on #513
This is for me more a administration task than a development task.
So this shouldn't steel development capacities.
Also it requires someone to keep the system running, this is not a onetime task.

[2015-07-02 04:16] marvinmarnold commented on #325
This change #516 in LocationTracker should take care of all the GPS points generated on the device. It is not yet clear to me if the details from Map Viewer are recorded locally or pulled from some API.

[2015-07-02 07:32] SecUpwN commented on #513
Great. So now that we solved #453, we shaall now leave Buildozer? Guys, I feel we're running in circles! @agilob, what's your problem with Buildozer? If there would be a way of telling users to "push that button and grab the latest Buildozer build", would you guys also agree with that as a solution for this?

[2015-07-02 07:35] SecUpwN commented on #325
Thanks for the PR @marvinmarnold, I've just merged it. Please test and respond here, @E3V3A.

[2015-07-02 07:42] SecUpwN commented on #512
@redbassett, thanks for opening this Issue and developing with us! Here is my take on the whole thing: Google will *very likely* realize that they've moved down a shitty road with the whitish notifications and *hopefully* change that in upcoming versions of Android. Since this Issue you've opened here involves a whole new re-design of another Icon set, more preferences and likely a huge chunk of c

[2015-07-02 08:53] DJaeger commented on #325
It's now crashing frequently and still don't take care of lacales that use "," as decimal separator as I tried to fix in #510

[2015-07-02 09:06] DJaeger commented on #513
The adventage of a F-Droid Repo would be, that we don't have to take care of these independant buildnumber and clean up the code by reversing #453.
So we can use our usual buildnumber/versionnames/versioncodes.
Also this would allow to be notified for an update and can update with one click.
And all of that with open source!

[2015-07-02 09:15] SecUpwN commented on #513
I will now wait for @He3556 to leave his comment here. I am really not sure what to think of reversing #453 and now having to manage our own F-Droid store and set up another service for this...

[2015-07-02 09:20] agilob commented on #513
* FDroid can release new update based on:
 version code
version name
build date

so we can update app in repository on every merged PR
- buildozer requires account (I still don't have one and I don't want it)
- can't update with one click
- different signatures - uninstall app/install app = data is lost

[2015-07-02 09:22] SecUpwN commented on #513
The [Buildozer app](https://play.google.com/store/apps/details?id=io.buildozer.app) just does that.

[2015-07-02 09:38] E3V3A commented on #512
Agree

[2015-07-02 09:40] E3V3A commented on #325
I think the issue can be that in some DB tables the GPS is stored as `TEXT` while in others as `REAL` or `FLOAT`...

[2015-07-02 09:41] agilob commented on #513
One more disadvantage then:
\- Google Play on your phone

[2015-07-02 09:48] E3V3A commented on #513
Many good arguments here, but I really think we need to stick with *Buildozer* for until we get out of **alpha**. The work needed to mess with this is really not worth it, as we've already seen before, it creates a nightmare for devs and maintainers.

Everything requires an account... not a good argument.

Yes, that's exactly what it is for.

We're in alpha with many DB changes, so that is exactly

[2015-07-02 09:48] #513 closed

[2015-07-02 09:52] E3V3A commented on #513
[Here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/labels/PRIORITY) is a list of more important topics...

[2015-07-02 09:56] lop1 commented on #496
please where are those .no-gapps files ?  I can't even access the debug item in the menu.

[2015-07-02 10:03] ziem opened #517 "Use libraries for clean generated code"
It is just another suggestion from me.

Developers should consider using following libraries for cleaner code:
- [Retrofit](http://square.github.io/retrofit/) - A type-safe REST client for Android and Java
- [RxJava](https://github.com/ReactiveX/RxJava) - Reactive Extensions for the JVM
- [FragmentArgs](https://github.com/sockeqwe/fragmentargs) - Annotation Processor for setting arguments in andro

[2015-07-02 10:06] E3V3A commented on #498
This should be a trivial fix, as it already works with back button. Probably the `Quit` item/button have a broken mapping.

[2015-07-02 10:07] agilob commented on #513
FDroid doesn't.

[2015-07-02 10:11] E3V3A commented on #517
I love it when people recommend to use various enhancement libraries that have build errors (e.g. Ollie) in their GitHub repos... :+1:

[2015-07-02 10:15] E3V3A commented on #496
Try:
[code]

[2015-07-02 10:19] agilob commented on #517
It's not like AIMSICD is broken since 22.06 on FDroid and it's impossible to use it after update to 0.30

[2015-07-02 10:20] breversa commented on #496
On my Galaxy Nexus (maguro), I found the .nogapps folder in /sdcard/ (or /storage/sdcard0, or /storage/emulated/legacy of which they are aliases/links), but E3V3A's answer is more generic.

[2015-07-02 10:21] breversa commented on #496
@agilob :
What's a pull request, then ?

[2015-07-02 10:21] lop1 commented on #496
No luck  , there is may  be something else. ..

Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : "E:V:A" <notifications@github.com> </div><div>Date :02/07/2015  12:15  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Objet : Re: [Android-IMSI-Catcher

[2015-07-02 10:23] lop1 commented on #496
Nothing in mine ...

Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : breversa <notifications@github.com> </div><div>Date :02/07/2015  12:20  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Objet : Re: [Android-IMSI-Catcher-Detector] Can't start app

[2015-07-02 10:34] ziem commented on #517
@E3V3A - replaced Ollie with StorIO for you...

[2015-07-02 10:42] DJaeger commented on #513
Then please leave this open and add a milestone for stable release.
If someone want to setup a F-Droid Repo he could so so, as this does not need to change anything else.
@E3V3A: yes it is possible to install GP apps without GP installed, but do you know if this app is spying you?
Most pleople using AIMSICD and especially who contribute to it, don't want to use closed source apps as they can not d

[2015-07-02 10:43] DJaeger commented on #512
@SecUpwN: Why should Google go back?
Most apps, except this one, use white icons as the doku says!
Why does this involve a redesign of other icons and code?

[2015-07-02 10:44] SecUpwN commented on #496
@breversa, please use the search function and find [pull requests](https://help.github.com/articles/using-pull-requests/).

[2015-07-02 10:46] breversa commented on #496
@SecUpwN :
Thanks ! I did not realise it refered to something GitHub-specific !

[2015-07-02 10:48] SecUpwN commented on #517
Thanks for opening this Issue as discussed via private E-mail, @ziem. Do I sense something like sarcasm in here, @E3V3A and @agilob? It would be *very* neat if you could skip that kindergarten. Thank you. @ziem made a valid point: In places where we could rely on libraries making our code lighter, cleaner and keep it more up to date, we should indeed use such libraries. @ziem, if you see any code

[2015-07-02 10:49] DJaeger commented on #325
They do!
Before only the OCID Download was affected, as the truncateDouble, which is not able to work with "," as decimal separator, is now also used for Cell Tracking, it now also create exceptions on Cell Tracking.

[2015-07-02 10:53] SecUpwN commented on #512
Yes, and that is what I hate about Google: Once they change Android, they also just change their documentation telling all developers "Hey dudes, here is what every App should now do. Go ahead and work your asses off to change it!" - and when a company does that, I like using my own brain.

Strange question. Maybe because we'd actually have to craft new Icons in black/white and shapes? As already

[2015-07-02 12:26] E3V3A commented on #517
The problem with adding libraries, is the introduction of new language and thus obscuring the real code behind. It's like having all developers learning 10 more Java like languages.  Total waste of time.

@ziem Could you give some specific examples, where this would serve us simplicity?

 Should we really bloat or code base with obscure and possibly poorly maintained and documented external librar

[2015-07-02 12:30] E3V3A commented on #325
I can't believe it. Perhaps they also change locale in the sqlite db then?

[2015-07-02 12:31] E3V3A commented on #512
:+1:

[2015-07-02 12:49] DJaeger commented on #496
@lop1: Do have created a database from GSM Location Service for UnufiedNlp?
In other cases you will not have this directory.

[2015-07-02 12:53] DJaeger commented on #325
No.
It only occures when using String.Format, as this formats to a Locale aware String, which could not be parsed to double by parseDouble as this method requires a dot as decimal separator.

[2015-07-02 13:27] E3V3A commented on #496
??

[2015-07-02 13:33] E3V3A commented on #325
Can we run truncateDouble though a regex and convert all "," to dots ?

[2015-07-02 15:16] DJaeger commented on #496
@E3V3A: Please ask a question, not on "??".

[2015-07-02 15:28] DJaeger commented on #325
Please see my new obove mentioned PR (with successful travis build) which does this with native locale aware fuctions.

[2015-07-02 15:42] E3V3A commented on #496
I can now confirm that app crashes on first startup...

[2015-07-02 16:35] DJaeger commented on #496
@E3V3A:
@lop1 said I can't find the .nogapps directory, beauce of that I asked if he have the task, that creates it.

Back to the crash:
The app stil crashes with the same error, also after my fix, so it is not dependant to what I fixed.

[code]

[2015-07-02 18:00] lop1 commented on #496
I have loaded the last build from bulldozer, it start OK now. the version seems to still be 0.1.30 alpha b08.
AND #505 seems fixed, the icon is kept green and I can download theOpenCells for my region.
thumb up !

[2015-07-02 18:10] lop1 commented on #496
@DJaeger oups, I have not created a database from GSM Location Service for UnifiedNlp ( I don't know what it is )

[2015-07-02 18:48] SecUpwN commented on #496
@lop1, this will only change when our developers change it manually. See the `Buildozer Build` below it.

[2015-07-02 18:54] lop1 commented on #496
Thanks,  I am not familiar with this environnement. 

Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : "Security: Pwned." <notifications@github.com> </div><div>Date :02/07/2015  20:48  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Objet : Re: [And

[2015-07-02 19:00] lop1 opened #519 "AIMSICD does not quit"
seems impossible to quit AIMSICD 0.1.30 alpha b8 without rebooting the phone.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23551534-aimsicd-does-not-quit?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2015-07-02 19:02] SecUpwN commented on #519
Dupe of #498. Please sift through our existing Issues in the future before filing a fresh one. Thanks.

[2015-07-02 19:02] #519 closed

[2015-07-02 19:03] lop1 opened #520 "No BTS shown in the cell map function"
in this AIMSICD 0.1.30 alpha b08, most of the time there are no BTS shown, sometime there is the connected BTS but that's all , I never saw the 4 BTS around my house.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23551658-no-bts-shown-in-the-cell-map-function?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_so

[2015-07-02 19:05] lop1 commented on #519
sorry, I supposed it was fixed because it was working in the 0.1.30 alpha B00.

On 02 Jul 2015, at 21:02, Security: Pwned. <notifications@github.com> wrote:

[2015-07-02 19:07] SecUpwN commented on #520
Is this a zombie of #407, @E3V3A?

[2015-07-02 19:10] lop1 commented on #520
it is only for the map view, no problem with the database view.

On 02 Jul 2015, at 21:08, Security: Pwned. <notifications@github.com> wrote:

[2015-07-02 21:15] E3V3A commented on #520
@lop1  What do you expect to see? Did you ever see it before?

[2015-07-02 21:25] lop1 commented on #520
I expect to see my position, my connected BTS in blue dans the 4 BTS around
my Home , i have seen it in précédent releases ( i think it was working in
0.1.25, after this release it was not working , but it was normal because
the cells DB was not populated )

Le jeudi 2 juillet 2015, E:V:A <notifications@github.com> a écrit :

[2015-07-02 21:26] lop1 commented on #520
it is only for the map view, no problem with the database view.
On 02 Jul 2015, at 21:08, Security: Pwned. <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

Is this a zombie of #407
<https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/407>,
@E3V3A <https://github.com/E3V3A>?

—
Reply to this email directly or view it on GitHub
<https://github

[2015-07-02 21:28] DJaeger commented on #505
@SecUpwN: You are great, @lop1 should close a closed issue if it is solved? :-D
Please Reopen it and wait for @lop1 feedback.
I can not check this, because https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/325 is not solved!

[2015-07-02 21:55] DJaeger commented on #496
@E3V3A: How should detecting of .nogapps directory help?
The issue only occures if we want to use it,, which is only the case if it is available.
The HOW we use it is wrong!

@lop1:
UnifiedNlp is a Middleware for Google-free location services like OpenCellID and Mozilla Location Services.
You can install which backend service you want to use, for example the before mentioned.
GSM Location Services

[2015-07-02 21:59] DJaeger commented on #325
The app stil crashes with the same error, also after my fix, so it is not dependant to what I fixed.
The error comes from somewhere else.

[code]

[2015-07-02 22:22] DJaeger commented on #325
The error is caused in this line (L102):
[code]
Would the following not be enought?
[code]
The same for L106:
[code]
To:
[code]

[2015-07-02 22:30] DJaeger commented on #519
@lop1: It seemed to be fixed for some but not all.
As no one can give me a logcat to see what is causing the crash I can't look into it.
But I think the crash that you now have is the newly introduced of #516 which is already filed at #325.

[2015-07-02 22:31] redbassett commented on #512
Glad to see some debate on the issue! I personally like the white notifications. I'm fine with this being closed as an issue for primary development, but maybe some community members would be able to contribute to the project by designing something like this? I am not one for cluttered settings panels, but I would love to have the choice to match this app to the other persistent notification apps

[2015-07-02 22:37] DJaeger commented on #498
PLEASE GIVE ME A LOGCAT THAN I CAN LOOK INTO!
You ask multiple times for solving this, but tell me how I should solve it if I do not have this issue and no one gives me a logcat!?

[2015-07-02 23:41] DJaeger commented on #512
The main purpose of the status bar is to tell the user: "There is something to mention!" and if you want how much to mention (with count shown on your icon).
It is not to tell the user "what to mention".
For that there are the notifications, where you can show what ever you want with how much informations you want.
So for this purpose it does not matter if icon are colorful or not, they only have

[2015-07-03 05:40] E3V3A commented on #496
@SecUpwN  It seem all this started around #467 and related PRs. Can we carefully or manually ( @DJaeger ) revert it?

[2015-07-03 05:47] E3V3A commented on #325
Perhaps TruncatedLocation cannot handle `null` values?

[2015-07-03 06:25] E3V3A commented on #498
Well, I tried yesterday, but now the app keep crashing on start... (I'm far away from my dev PC so I can't collect logcats.)

[2015-07-03 06:35] E3V3A commented on #512
@DJaeger I'm glad that you're so aligned with Googles Android vision, which is why we love having you on our team.

But there is no reason at all why in this fucking day and age of zillion colored UHD screens that we should not be able to see color if we want to. How about starting a political party where we change all the street stop-lights to Googles version? After all its easy to do, just tell

[2015-07-03 06:37] ziem commented on #517
Most popular libraries created by best Android developers obscure and poorly maintained? :suspect:

**Few examples:**

*ButterKnife (4,3k stars):*
https://github.com/ziem/Android-IMSI-Catcher-Detector/commit/edeb740fabe0210e45b99a9cf94d128946c46039

 - instead of writing `findViewById` and then casting views, you just type `@Bind(R.id.your_id)` and voilà
 - one method annotation `@OnClick` and you

[2015-07-03 06:43] E3V3A commented on #517
@ziem  Fantastic! Thanks you for taking the time to clearly illustrate the need. I love it when someone prove me wrong. That's when you learn...

[2015-07-03 07:19] DJaeger commented on #325
You are right.
If I let the phone find my position before I start this app it is working great.
Also the OCID Download, I have fixed, is now working.

[2015-07-03 07:37] DJaeger commented on #498
We have a debug function in our app and you can also use "aLogcat ROOT" from F-Droid to get logcats.

[2015-07-03 08:42] #325 closed

[2015-07-03 08:44] DJaeger commented on #325
We already handled a null return of ```getLastKnownLocation```, but now TruncatedLocation was between the the null location and the null handling, which does not pass throught the null and doesn't take care of it itself.

[2015-07-03 08:51] DJaeger opened #523 "CreditsRollView.java uses or overrides a deprecated API."
Above mentioned line is viewed at building the app.
I think we should remove the RollView and make it a normal scrollable view or popup as the rest.
I also think the RollView is really bad to read...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23593274-creditsrollview-java-uses-or-overrides-a-deprecated-api?utm_campaign=plugin&ut

[2015-07-03 09:03] E3V3A commented on #498
Right, but because of #406 and #496 it can't be used.

[2015-07-03 09:07] E3V3A commented on #523
I agree on this, but some dev's still think this Starwars thingy is very cool... We discussed this in issue #273.

[2015-07-03 09:20] DJaeger commented on #498
The only issue that with most current build (on Buildozer failed because of internal issue) still prevents the app from starting is the one caused by lacells database, which can be workarounded by removing .nogapps directory.
To workaround the failed build you can simply let Android get a current position with another app that requests fine location and then start AIMSICD or if you are fast you ca

[2015-07-03 09:29] SecUpwN commented on #523
Too bad. I always liked it, but do also agree that we should clean our code as best as possible. Are you able to suggest a better to read solution, @DJaeger? I'd like to have something neat for our `CREDITS`, maybe something from one of my favorite repos, the [List of awesome Android UI/UX Libraries](https://github.com/wasabeef/awesome-android-ui)?

[2015-07-03 09:34] SecUpwN commented on #498
Manually launched a fresh build to test latest changes.

[2015-07-03 09:54] E3V3A commented on #498
That's why I [suggested](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/496#issuecomment-118241486) and [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/467#issuecomment-118226879) that we remove all that *lacells* junk. We've wasted several weeks of debugging new issues, just because of it.

[2015-07-03 10:23] SecUpwN commented on #496
I have just contacted @wvengen as told in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/467#issuecomment-118305481. Please allow some time. If he does not respond within a reasonable time frame I will revert his PR myself. Thank you for your patience.

[2015-07-03 10:26] DJaeger commented on #496
@E3V3A: I have done to much fixes sine then to revert it now

The error occures on L1430 of AIMSICDDbAdapter:
[code]
where
[code]
is executed.

[2015-07-03 10:39] DJaeger commented on #498
@E3V3A: Did we? Have not done so as I wanted to the other issues first, as the lacells issue was the simplest one to workaround.
I will now work on it.

[2015-07-03 10:42] SecUpwN commented on #498
@DJaeger, I am unbelievably thankful to have you in our team! Always remember to **take a break**.

[2015-07-03 12:21] #460 closed

[2015-07-03 12:43] DJaeger commented on #496
The problem here seems be that we want to create the table "cells" which is already existing by default.

[2015-07-03 12:47] DJaeger commented on #496
@wvengen: Could you please explain me why you want to create this table, as this is the core table, which is created on creation of the database.
I think we can  completly left out the creation or should at least do an "if not exist".

[2015-07-03 12:51] SecUpwN commented on #496
Yes, please do these propsed changes, @DJaeger. I guess @wvengen does not know how to fix this.

[2015-07-03 14:42] E3V3A commented on #460
If you use **Weblate** make sure to hit the `SAVE` button after translating **each word**, otherwise it's not saved.

[2015-07-03 15:00] SecUpwN commented on #460
Thanks @E3V3A, I realized that. ;-) Takes a while to get used to their system, but I like it.

[2015-07-03 17:48] SecUpwN commented on #496
Re-opened upon request in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/467#issuecomment-118400004. Please introduce another fix.

[2015-07-03 18:16] E3V3A commented on #496
Just FYI, I no longer have problem with this... b172.

[2015-07-03 18:23] lop1 commented on #496
Same here, with b12 :
 - starts OK
 - quit OK
 - download OpenCellID OK
 - no more yellow icons for trusted BTS
:+1:

[2015-07-03 18:28] E3V3A commented on #424
Any ideas on how to fix this?

[2015-07-03 18:35] E3V3A commented on #272
Seem fixed.

[2015-07-03 18:35] #272 closed

[2015-07-03 19:23] E3V3A opened #525 "OCID download not respecting MNC filter"
The OCID download request is using optional filters for selecting MCC,MNC,LAC etc. We have [set it to use same MNC](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/a777e92792cf2eeb5c2a068a4b34524c98479490/app/src/main/java/com/SecUpwN/AIMSICD/utils/Helpers.java#L273-L275), as your SIM/provider, but the download is not respecting this.

Populating (spamming) the downloaded DB with BTS

[2015-07-03 19:26] E3V3A commented on #496
So I'll close, until someone has further problems.

[2015-07-03 19:26] #496 closed

[2015-07-03 19:42] E3V3A commented on #406
Hopefully fixed by https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/3a363321371ab6e08404fae20bb4453751629f33#diff-5937f7a5dfa8e4d10ae1df7b4091f29d

[2015-07-03 19:42] #406 closed

[2015-07-03 19:55] E3V3A commented on #406
May consider to also silence: `XPrivacy/XTelephonyManager:S`...

[2015-07-03 20:06] E3V3A commented on #498
App now (and surprisingly) quits as expected.

[2015-07-03 20:10] E3V3A commented on #487
@agilob Is this issue still valid?

[2015-07-03 20:11] E3V3A commented on #486
Any updates or can we close this?

[2015-07-03 20:13] E3V3A commented on #483
I think this has been resolved by https://github.com/DJaeger/Android-IMSI-Catcher-Detector/commit/aefcce93363e71ebc28a554230bfc12399ff1e84

[2015-07-03 20:13] #483 closed

[2015-07-03 20:16] E3V3A commented on #486
Check that the CSV doesn't have the wrong order in its data. (I recall some similar issues a very long time ago.)

[2015-07-03 20:20] E3V3A commented on #439
This may also be related to #525...

[2015-07-03 20:24] E3V3A commented on #459
Any news?

[2015-07-03 20:40] E3V3A commented on #100
We need to look at what neighboring cells returns, if AOS API is ok like above we can parse it directly, if not we can parse the radio logcat as I suggested [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/208#issuecomment-70379457).

[2015-07-03 22:08] E3V3A commented on #498
Hmm, still not resolved. I have no idea why it worked last time I it.

[2015-07-03 22:24] E3V3A commented on #525
I've tracked down the issue to that the `cell.getMNC()` returns either **`0`** or **`-1`** [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/a777e92792cf2eeb5c2a068a4b34524c98479490/app/src/main/java/com/SecUpwN/AIMSICD/utils/Helpers.java#L273-L275):

[code]

The different results can be seen by sending different arguments for `&mnc=`...

[2015-07-03 22:27] Ph1b commented on #479
The drawable.setTint tints the whole icon in a different color. It is supposed to be white as it is the small icon.

For a colorous icon, one has to set the icon as a large icon.

[2015-07-03 22:47] SecUpwN commented on #406
Are the above mentioned now silenced, @E3V3A? If not, feel invited to do so.

[2015-07-03 22:52] SecUpwN commented on #459
I assume that it does not make much sense pushing @ph0t0n. He has added updates by mimself here when he had some. @E3V3A, please set a *goal* for this Issue so that we can close it at a reached point, I do not want to further misuse our Issuetracker like we already do with `#230`. Also, please answer my question from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/459#issuecomment-

[2015-07-03 23:16] E3V3A commented on #459
Why not just craft a PR for a `simulation.md` file and we can edit it from there?

[2015-07-03 23:20] SecUpwN commented on #459
Because I do want to keep our root directory as clean as possible. We'll be ending up with another number of files in there. it is large enough already. I'd prefer https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/459#issuecomment-112463858, why don't you?

[2015-07-04 01:44] redbassett commented on #512
I understand not liking their design choices and ever-changing standards, but I'm inclined to not be a fan of @E3V3A's expression of this. I like the new style, but I can see why it is a low priority for a project like this. I also am inclined to agree with @DJaeger /re the idea that notifications might be considered events rather than persistent statuses, but that is a major change of philosophy

[2015-07-04 07:23] E3V3A commented on #512
@redbassett  Thanks for clarifying your intents. Reopening issue.

[2015-07-04 09:27] E3V3A commented on #525
@DJaeger Any ideas how to check what this actually returns?

We should add:
[code]
before those lines above.

[2015-07-04 10:11] E3V3A commented on #406
Added!

[2015-07-04 11:34] SecUpwN commented on #512
Ok guys, I will get in touch with our graphic designer @SgtObst this weekend then. Stay patient.

[2015-07-04 12:04] E3V3A opened #528 "Mysterious leak in SQLiteConnectionPool"
I just got a logcat from latest build. One item caught my eye:
[code]
 Not sure if this is related to our other DB related issues like #486 and #487...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23669769-mysterious-leak-in-sqliteconnectionpool?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)*

[2015-07-04 12:07] E3V3A commented on #525
Hmm logcat just told me that both **MCC** and **MNC** is set to: **2147473647**. I.e. to MAX_INT of `0x7FF FFFFF`.

[2015-07-04 15:34] redbassett commented on #512
Sounds good, thanks!

Apologies for the confusing issue :wink:

[2015-07-05 01:17] SecUpwN commented on #517
@ziem and @DJaeger, would you please be so kind and sift through our code to see if we can improve it using libraries from the OP? I have added them [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Resources#clean-libraries) on our resources page. BTW, when shall I close this?

[2015-07-05 04:30] SecUpwN commented on #69
@E3V3A, I know this sounds like I'm a freak, but would you actually please take some quality time to re-read this whole Issue and find out what needs to be implemented by @banjaxbanjo to actually close it as *fixed* or at least know where we need to continue with this (other than #491 for testing)?

[2015-07-05 04:37] SecUpwN commented on #75
@0x7678, any news? If you can ensure me that you'll be around for continuous testing of our app, I'd like to grant WIKI access to you so that you can publish and edit results in a fresh page on [our WIKI](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/).

[2015-07-05 07:33] E3V3A commented on #69
Detection works in some cases, but (not for me) and will surely need to be re-tested after new DB structure #215 has been put in place.

[2015-07-05 08:31] ziem commented on #517
@E3V3A :+1:
@SecUpwN Are there any code style guidelines for developers (I only found https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide)? If not, we can use Android [Code Style Guidelines for Contributors](https://source.android.com/source/code-style.html) or if you don't like `s`/`m` prefixes we can use [Google Java Style](http://google.github.io/styleguide/javaguide.html)

[2015-07-05 09:08] banjaxbanjo commented on #69
@SecUpwN So far logcat sms detection is working from what basebands (phones) I have but is impossible for me to create a one for all sms detection unless I had a crap load of different baseband logs with incoming sms. My galaxy S5 detects wap/mwi/type0 and sony xperia detects mwi/wap.

As for automatic testing I wouldn't know where to find a web service like that.

[2015-07-05 10:58] E3V3A commented on #487
Closing...

[2015-07-05 10:58] #487 closed

[2015-07-05 11:08] E3V3A commented on #215
We need to seriously consider how treat multiple-threads that are causing locked issues like in #486 and #528. The way to go seem to be to use a single connection and keep it open for the duration of the app life. The best references  I could find are these:

[Single SQLite connection](http://touchlabblog.tumblr.com/post/24474750219/single-sqlite-connection)
[Android Sqlite Locking](http://touchla

[2015-07-05 11:10] E3V3A commented on #528
Suspicion:

**UPDATE:**
This is all related to the fact we're not treating DB connections properly. See [these](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/215#issuecomment-118612414) references.

[2015-07-05 11:25] E3V3A commented on #486
This is all related to the fact we're not treating DB connections properly. See [these](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/215#issuecomment-118612414) references.

[2015-07-05 12:21] SecUpwN commented on #517
@ziem, thanks for asking this. We currently only have the [Style Guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide) and code has been added by developers using pretty much the style in coding and code comments based upon the already existing code of our app. I would like @E3V3A and especially @DJaeger to chime in here and tell me which way we should travel, I will ad

[2015-07-05 12:41] SecUpwN commented on #479
Thanks to the work of @Ph1b, Android 5+ does now display our Status-Icons like this:

![largestatus](https://cloud.githubusercontent.com/assets/6000299/8511683/0afdfaf8-2313-11e5-8415-34ef2a9305e6.png)

The only thing left for closing this Issue would be to colorize the small Icon on the very left well.

![notificationbar](https://cloud.githubusercontent.com/assets/6000299/8511684/139ae0c2-2313-11

[2015-07-05 13:29] E3V3A commented on #479
Yeah, I wonder how those other apps do it...

[2015-07-05 14:26] E3V3A commented on #479
Maybe @d4rken can help us make this colored?

[2015-07-05 14:26] SecUpwN commented on #479
@E3V3A, did you really implement all necessary changes from #527? I suspect that `setSmallIcon` might need an update. As for finding out what we further need to change, we should search the source of a real "materialized" app with a colorized small icon.

[2015-07-05 14:45] SecUpwN commented on #390
@agilob would you please re-verify this Issue again? Please really *maintain* your Issues! ;-)

[2015-07-05 15:13] E3V3A commented on #457
A test round, sound good to me...

[2015-07-05 15:15] DJaeger commented on #479
It's what I telled you...
The page @Ph1b referenced to in his mail says exactly the same as I said:

The way of setting a small and a large icon to keep the large icon colored and only let the small one be whitened by L is also what I have said.

[2015-07-05 15:20] SecUpwN commented on #479
Thanks for chiming in again @DJaeger. Would you *please* help us fixing the small Icon to be colored as well? If you say that we can't use [our regular app icon](https://raw.githubusercontent.com/SecUpwN/Android-IMSI-Catcher-Detector/HEAD/app/src/main/res/drawable-xxxhdpi/sense_danger.png) for this (if it has dimming as you said), maybe we can use the [flat version](https://raw.githubusercontent.c

[2015-07-05 15:29] agilob commented on #390
I'm unable to start application at all since 22.06. Crashes on start.

[2015-07-05 15:34] SecUpwN commented on #390
Did you also try a fresh install and removing any old data? Please add a fresh logcat for us.

[2015-07-05 15:49] E3V3A commented on #525
This is a new bug from some fairly recent PR, as it was not present before. If you're a developer, please think about what you've changed in the OCID or DB related items lately...

[2015-07-05 17:49] E3V3A opened #529 "Remove LACELLS from app"
Because of: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/467#issuecomment-118640504

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23740862-remove-lacells-from-app?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2015-07-05 18:56] d4rken commented on #479
I would guess "Trust" still has the colored icon because it uses the now deprecated "Notification" object directly instead of the "Notification.Builder" object. Possibly look into the sourcecode of the original and the builder notification object to see how they differ.

[2015-07-05 19:10] TPS commented on #457
@E3V3A Thanks!

Anyone else, & who's willing to implement?  I'll bite the bullet on testing if it seems safe enough to try?

[2015-07-05 21:00] SecUpwN commented on #529
Why fully remove it and not try to correct its implementation? @wvengen, please chime in.

[2015-07-05 21:14] E3V3A commented on #479
Hello @d4rken! Thanks for getting back to us. Could you please send a link in which file of your repo, we should look at?

[2015-07-05 21:16] E3V3A commented on #457
I can build an app for you, but I'll need to know what to change...

[2015-07-05 21:23] d4rken commented on #479
@E3V3A https://github.com/d4rken/trust/blob/master/app/src/main/java/eu/thedarken/trust/TrustService.java#L73
The difference i see is Notification vs Notification.Builder, so would say look at the AOSP sourcecode for what the builder object does differently.
But I'm not sure this is the correct approach, in the future Google may break this too and completely enforce icons that fit the ROM style. S

[2015-07-05 22:58] SecUpwN commented on #479
It's not like Google is enforcing users to sniff its ass, right? Because, that's how I feel like...

@E3V3A, our designer @SgtObst is already designing the Icons for #512. I really love our current Icons, but if you say that we'd need to completely replace them with some shaped ones, let me know.

[2015-07-06 02:42] TPS commented on #457
@E3V3A I'd like to try what I proposed in my original comment almost a month ago:

I supposed that can be a modified version of the current femtocell detection toggle.…  Do you think that's workable, if safe as defined by

Do let me know!

[2015-07-06 03:01] SecUpwN commented on #457
Just to let you know, @TPS: The reason why #6 is not closed yet, is because we lack the code for GSM.

[2015-07-06 03:32] SecUpwN commented on #511
@agilob, I'm now confused. Please link an example app on F-Droid. In https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/455#issuecomment-113902488 you've stated:

@DJaeger also said why ACRA will likely not be the solution to the whole thing:

I now would like to hear some official statement of the @Acra developers about this, if possible.

[2015-07-06 03:41] TPS commented on #457
@SecUpwN  I **am** aware of that, but, I figure, with the option defaulted as it is already &, hopefully, with enough UI notation, only risk-takers & bug-testers will flip that switch.

What I'm most curious about is whether femtocell detection will actually work when the device fails the current femtocell-detection ability check, or, conversely, if that check , as-is, is a reliable indicator of a

[2015-07-06 04:05] william-ferguson-au commented on #511
I have never used F-Droid and an unaware of why it would list ACRA as an antifeature. This is the first time that anyone has even mentioned it to me.

ACRA can be configured in a myriad of ways from sending email (not a great bug tracking solution IMHO), to sending to a bugreport server in the background.

The way that I tend to use it is the latter and I only worry about handling crashes that rac

[2015-07-06 06:31] E3V3A commented on #479
@SecUpwN  Something inside me just want to refuse. Why should we yield for the tastless Google design mafia? I say no, we keep the colors! If someone wanna add shapes (what fucking shapes?), go ahead and put it in the UI settings as an option.

[2015-07-06 06:49] SecUpwN commented on #479
It's times like these where I really enjoy your hardcore stand. **Thank you so much for this!**

Perfectly fine with me! Ok, so let's work on implementing the last thing to solve this:

![NotificationBar](https://cloud.githubusercontent.com/assets/6000299/8511684/139ae0c2-2313-11e5-975e-831e4cacd170.png)

In this screenshot of the notification bar, the Trust app is clearly shown in color. This mig

[2015-07-06 07:06] E3V3A commented on #479
**It will work fine until** the next developer come around and try to outwit what we've created and making a huge PR saying "Hey, guys I've refactored your code and cleaned it up from lots of unused stuff!" and you going "Thanks dude! I'll merge ASAP!". (Sound familiar?)

Being slightly ironic here, but that's exactly what happened to the apparently broken Neighboring cell detection, the introduct

[2015-07-06 07:15] E3V3A commented on #309
In addition, many older phones may not have or have a broken GPS.

[2015-07-06 07:26] SecUpwN commented on #479
@E3V3A, I don't feel like laughing about this, since 'm trying to keep everyone motivated here and am actually happy that pull requests travel in. I'm not saying that it is *me* being the one who rocks the code, but I see myself as the one dude bringing in new developers, functioning as emotional glue by **thanking instead of ranting**, sound familar? Being slightly ironic here as well. ;-) I real

[2015-07-06 10:31] E3V3A commented on #479
You're absolutely right. If someone can post the code snippet to add/change, I can add it.

[2015-07-06 10:31] agilob commented on #511
I could be wrong https://f-droid.org/wiki/page/FAQ_-_App_Developers#Which_free_library_should_I_use_.28instead_of_XXX.jar.29_to_implement_YYY

[2015-07-06 11:02] SecUpwN commented on #479
@He3556 just sent me [these suggestions](https://stackoverflow.com/questions/28387602/notification-bar-icon-turns-white-in-android-5-lollipop), not sure if they're helpful though.

[2015-07-06 14:39] banjaxbanjo commented on #528
@E3V3A I'd say its because I forgot to close a Cursor that's usually the what the main cause of DB leaks are and this shall be fixed in new overhaul. I like what you said about keeping the db open for app life and close on exit haven't the knowledge to tell if this is good or bad yet but here are some comments from a post on stackoverflow

#Do you "re-query" the database a lot?
Then it seems recti

[2015-07-06 14:42] marvinmarnold commented on #215
Has anyone started to work on this entire bug or should I take ownership?

[2015-07-06 14:48] banjaxbanjo commented on #215
@marvinmarnold I'm currently working on #215 but will probably look into this while in the process of updating db I will email you my current dev what I have so far.

[2015-07-06 15:19] E3V3A commented on #528
Another thing about **caching** data: Since we're no longer on PC with HD's caching is rather useless. The EMMC's are almost as fast as RAM, so caching has little effect, AFAIK, and unless someone like to correct/prove me otherwise.

[2015-07-06 15:35] E3V3A commented on #325
@DJaeger I didn't get that. What's going on?

Also, I found [this](http://developer.android.com/reference/android/database/sqlite/SQLiteDatabase.html#setLocale%28java.util.Locale%29) `setLocale` for the DB.

[2015-07-06 15:42] E3V3A commented on #303
Added bug label to this enhancement issue, since it's been around for more than 6 months...

[2015-07-06 16:11] E3V3A commented on #69
The detection [strings](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/3d2df07114a96eccdf03a64adffcaf8b2d90ea53/app/src/main/assets/det_strings.json) as shown in the Database Viewer are truncated instead of wrapped. Hard to tell what works...

[2015-07-06 16:15] banjaxbanjo commented on #69
@E3V3A these will also be removed in new update as we are going with a pre populated db so I wont be loading from json file. I think I might also add a boolean in database table to tell which string works in the database this will come in useful for identifying with strings work on what phones.

Sent from Yahoo Mail on Android

[2015-07-06 16:27] E3V3A commented on #69
Actually, being able to load these strings from a json file, may not be such a bad idea, especially for debugging. Also, I'm a little concerned how `'`s (single quotes) are treated...

[2015-07-06 19:07] banjaxbanjo commented on #525
@E3V3A I've also seen this 2147473647 value somewhere but it wasnt mcc I think it was signal or something like that.

[2015-07-06 19:28] E3V3A commented on #525
I guess it's a default value when something is empty, a kind of `null`...

[2015-07-06 20:01] banjaxbanjo commented on #69
@E3V3A Their currently is no issue with single quotes with the pre-populated database and when inserting a new detection string in the AdvancedUserActivity.java but I have tested and if you enter " a double quote it will cause an error. I haven't come across a detection string yet that has a double quote.

I've added a little check on the insert function to alert advanvced users
[code]

[2015-07-06 20:20] He3556 commented on #525
I was also looking for this problem today. And 2147473647 in Hex is 0x7FFF D8EF
0x7FF FFFFF is 34344009727 decimal. So maybe it's not a default value?

We get the right values from cell.getLon() & cell.getLat() but not from cell.getMNC()
But anyway - just an idea - why are we using the Cell and not the SIM to get MCC+MNC?

public String getSimOperator ()

[2015-07-06 21:03] E3V3A commented on #525
No, that is not correct, check your hex/dec conversions again!

**why are we using the Cell and not the SIM to get MCC+MNC?**
We might be roaming on another network.

[2015-07-06 21:58] marvinmarnold commented on #215
@banjaxbanjo great i made my email public in my github profile

[2015-07-06 22:00] banjaxbanjo commented on #215
@marvinmarnold haha silly me didn't even think about looking there

[2015-07-06 22:04] E3V3A commented on #69
@banjaxbanjo  Ok then there is a problem with the strings you use. I don't get any app detection, but with logcat they are there. I'm using these strings:

[code]

and detecting with:
(a)
[code]
(b)
[code]

And sending a PING3: (0-byte WAP push), results in this:
[code]

[2015-07-06 22:11] banjaxbanjo commented on #69
@E3V3A did you enter this in the detection activity

Received short message type 0

And set type0 from drop down menu

Sent from Yahoo Mail on Android

[2015-07-06 22:39] d4rken commented on #479
I tested it and it's not related to Notification or Builder object. It's solely dependent on the *targetSdkVersion*. If i set it to 21, the icon in the Trust app becomes white too.
![2015-07-06 22 36 56](https://cloud.githubusercontent.com/assets/1439229/8534843/a6c27e90-2440-11e5-9c78-e44a142c7d20.png)

[2015-07-07 04:55] TPS commented on #269
Since you're calling for more general comments, & since I'm a bit more "user"-level than most everyone here (& sorry in advance if my 2¢ is irrelevant =), I think this is a fantastic idea, given excellent heuristics, especially re: my trouble with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/457 .

[2015-07-07 05:00] TPS commented on #457
@E3V3A @SecUpwN Do either of you know whether today's v0.1.31 release addresses anything re: this bug?  I noticed some pref refactoring & am hopeful.… ☺

[2015-07-07 09:31] katpatuka commented on #225
I do not really want to reopen this threat but just want to add another "Versus": cellmapper.net. ;)

[2015-07-07 10:46] E3V3A commented on #225
@katpatuka  Hi! Thanks for trying to provide alternative solutions.

Unfortunately [CellMapper](http://www.cellmapper.net/) is light years from production ready, at least that's the first impression I get when looking at the lack of documentation, lack of API, lack of info regarding their database contents and size and where and how they collect their info. In addition I see nothing about their co

[2015-07-07 11:09] E3V3A opened #531 "How to close issues"
Although GitHub provides for automatic closing of issues, when mentioning it, I strongly suggest that once some kind of PR or Commit has been made that fixes a particular issue, that we post that exact commit or fine-grained PR link to the end of the issue, before/after closing.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2385804

[2015-07-07 11:10] #531 closed

[2015-07-07 11:28] E3V3A commented on #512
I'm not sure what to make out of [THIS](https://stackoverflow.com/a/29432203/1147688) comment. Is that a solution? Can we use that?

[2015-07-07 12:20] E3V3A commented on #69
@banjaxbanjo

No it doesn't work. (And I didn't try before timestamp thing.) I tried:

1. Clear AIMSICD form SuperSU
2. Reinstall latest Buildozer
3. Run and go into `Preferences` and enter OCID key
4. Download OCID (ok)
5. Go into Preferences and check `Enable SMS Detection`
6. Go into Preferences and open `Detection Strings` and enter `SMS_ACKNOWLEDGE true 0` and hit `INSERT` button.
7. Send Typ

[2015-07-07 13:43] banjaxbanjo commented on #69
@E3V3A hmm when I think of it the detection strings are loaded on app start so that would explain why it didn't detect new string before restart, I will look into soon.

[2015-07-07 14:05] E3V3A commented on #69
I think [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/SmsDetector.java#L120) is the problem:

[code]
The `D/GsmSmsDispatcher` string come from the *`main`* buffer

[2015-07-07 14:22] SecUpwN commented on #512
@E3V3A, what you have posted has already been sent to me by @He3556 and is meant for #479. this Issue is a different one: @redbassett is requesting black/white Icons with different *shapes*. Implementing this would also be another solution to the already solved #449.

[2015-07-07 14:23] banjaxbanjo commented on #69
@E3V3A That's new I always thought all this low level baseband radio data would come from the logcat radio. I guess thats the problem can you email an edited version of your logcat EVA and send a wap wmi and a type 0 sms. (remove personal data) just need to lines from start of incomming sms to the end of the last bit of useful sms data.

I really don't want to use a filter because the more baseban

[2015-07-07 14:28] SecUpwN commented on #457
@TPS, no, the current release does not address this bug yet since we have not yet come to a conclusion on what to implement since we're a little confused: This bug is essentially about that your *CDMA* device shows the toast `Femtocell detection is available on CDMA only` and you're not sure if this type of detection has been enabled properly or not, right? Reading further on, you make the stateme

[2015-07-07 14:30] SecUpwN commented on #479
Thanks for testing @d4rken. Can we override this somehow? If so, this might be the solution.

[2015-07-07 14:58] E3V3A commented on #512
Great!  I was getting confused

[2015-07-07 15:22] TPS commented on #457
@SecUpwN I think you understand me, given the above modification. ☺

[2015-07-07 16:41] SecUpwN commented on #457
@TPS, I am not quite sure if it makes sense `removing` the toast and "obfuscating" on which devices the detection will really work - because that is in summary what you're asking for here. Currently the opetion `Femtocell Detection` is tickable for *all* devices, even GSM, which the detection does not work on. The reason, why you're getting the toast `Femtocell detection is available on CDMA only`

[2015-07-07 16:55] SecUpwN commented on #288
Just stumbled across [Android Transition](https://github.com/kaichunlin/android-transition). Maybe @kaichunlin can help us with our Issue here?

[2015-07-07 17:00] SecUpwN commented on #215
@banjaxbanjo, just found [Android DbInspector](https://github.com/infinum/android_dbinspector), may be of interest to you.

[2015-07-07 17:09] E3V3A opened #532 "WIKI: List phones with Type-0 SMS detection results"
Looking at the [SmsDetector.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/SmsDetector.java) we need to make a list of phones where the logcat type of *type-0* SMS detection works.

Something like:

| Phone         | Model      | AOS_VER | Type-0 | MWI  |
|:------------- |:---------- |:------- |:------ |:--- |
Sams

[2015-07-07 17:12] E3V3A commented on #215
Let us not distract... good work in progress please.

[2015-07-07 17:18] SecUpwN commented on #532
Added the proposed schemata to our [Special SMS](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Special-SMS/) page and elevated the status of @banjaxbanjo to `COLLABORATOR` so that he can update that list with his own test results. Thank you for working on this!

[2015-07-07 17:21] banjaxbanjo commented on #532
mwi = message waiting indicator

[2015-07-07 17:22] E3V3A commented on #69
Added main buffer in 908ed986cc8a8c90a8c161cd3951c854c8134f7d.

[2015-07-07 17:23] banjaxbanjo commented on #532
Cheers😉

Sent from Yahoo Mail on Android

[2015-07-07 17:29] SecUpwN commented on #532
@E3V3A, I have updated the list with an MWI explanation. Please add your results of the OP if real.

[2015-07-07 18:10] E3V3A commented on #532
IDK on top of my head. Perhaps banja knows better...

[2015-07-07 18:21] banjaxbanjo commented on #532
I would go with
(MWI) Message Waiting Indicator detected! But still good without  (MWI)

[2015-07-07 18:37] SecUpwN commented on #532
The core string has been corrected with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/ffb3c246b29959d33c7389b679a381c96a13c449, translations will follow. Is this Issue fixed now, @E3V3A?

[2015-07-07 18:47] E3V3A commented on #532
I think we should remove this:
[code]
IMHO, I'm certainly not going to analyze anybody else's logs for them...

[2015-07-07 18:52] SecUpwN commented on #532
@E3V3A, dude, that's *exactly* why we never **finish** certain Issues! I understand that one thought might lead to another, but **please** keep it **CLEAN**! Is **THIS** Issue *fixed* now? If yes, please close it and carry your thoughts above into a new Issue so that it can be discussed and closed properly.

[2015-07-07 18:54] E3V3A opened #533 "Remove analysis invitation from SMS warning pop-up"
I think we should remove this:
[code]
IMHO, I'm certainly not going to analyze anybody else's logs for them...

Also **1**: By them time the user have navigated to the debug logger, the relevant logcat events will most likely already be gone. Especially on new bloat loaded devices.

Also **2**: The logcat in debug logger is not showing the radio logs...and shouldn't.

Also **3**:  What we really s

[2015-07-07 18:55] #532 closed

[2015-07-07 18:57] SecUpwN commented on #533
Thank you for thinking about it. Thought that comes to my mind: We still have the `Debugging` button, which @He3556 and I consider important. But should we actually remove the possibility to *send* the logs to our email address as well? If we just remove our email address, we might be a step closer to fix #511.

[2015-07-07 19:00] banjaxbanjo commented on #533
@E3V3A lol true would be nice to get some useful data from users tho.

Currently I have event log logging
changing Lac
Cell not in OCID

What other events need to be added to this?

[2015-07-07 19:02] SecUpwN commented on #533
I don't get what you mean, is this *another* Issue? I am about to push the changes to fix this one.

[2015-07-07 19:08] banjaxbanjo commented on #533
No issue @SecUpwN just looking for info on what other events should the event log be logging.

So far its
1. Changing lac
2. Cell not in OCID
3. Maybe a detected sms no?

[2015-07-07 19:13] SecUpwN commented on #533
So you're dong it *again* and are "spamming" your own Issue to tick me off, right? ;-)
Please see if we already have a proper place for these thoughts, #201 would be perfect.

[2015-07-07 19:16] #533 closed

[2015-07-07 19:31] banjaxbanjo commented on #533
@SecUpwN I need to be spoon feed data sometimes because there is so many places to search on AIMSICD. Just looking for the fast route;)

[2015-07-07 20:23] SecUpwN opened #534 "Coverity Scan: Increase or unlimit number of builds"
As you guys have already noticed, our @Travis-CI builds are currently in this status: [![BuildStatus](https://travis-ci.org/SecUpwN/Android-IMSI-Catcher-Detector.svg)](https://travis-ci.org/SecUpwN/Android-IMSI-Catcher-Detector)

I have already had a long conversation with @Coverity to customize their script to circumvent Travis CI stopping our builds when the maximum number of CoverityScan checks

[2015-07-07 20:47] E3V3A commented on #201
Ok so I see why this is a hard issue. We (devs) haven't at all specified ***what*** to put in this `EventLog` table. So let's brainstorm. Generally speaking it should show:

* All AIMSICD detections
* All mobile network changes
* All mobile connection changes

In more detail:

0. (Eventually) all detections as listed in #230
1. Changing LAC
2. Connected to unknown CID (not found in `DBe_import`, e

[2015-07-07 21:16] E3V3A commented on #534
Buildozer works great! But perhaps it would be better to reserve the use of CoverityScan for the releases and not the debug builds? (It's not like any anyone I know actually use it or even bother looking at it. Maybe next lifetime.)

[2015-07-07 21:23] E3V3A opened #535 "No notification icon when background service is running"
Perhaps I missed something, but nowadays I like running this app in a kind of passive mode (without GPS enabled) only looking for mystery SMS. So when running app with SMS detection on, and putting app into the background, there is no longer any app icon shown in the status bar. I'm not sure if this should be considered a feature (app is hidden) or a bug (not telling user that it's running). i thi

[2015-07-07 21:50] SecUpwN commented on #534
Great. That is *exactly* why I implemented it: So that people can stare at it, find a leak or major incompaitibility and.. do nothing. We have more than 6 people do so. :( Where to find devs caring?

[2015-07-07 21:51] SecUpwN commented on #201
If we have implemented all the things you've just mentioned, we're close to *BETA* and people will tell.

[2015-07-07 21:53] SecUpwN commented on #535
@E3V3A, I cannot confirm this, works perfectly for me. Did you enable the `Persistent Service`?

[2015-07-07 22:23] solarce commented on #534
Hello @SecUpwN,

We do offer unlimited builds for open source projects on travis-ci.org.

Our integration with Coverity's Scan service does have limits which are setup on the hosted Coverity Scan service, as outlined in https://scan.coverity.com/faq#frequency

I see from some previous Travis-CI support tickets that Coverity provided you with some suggestions on how to limit which branches trigger

[2015-07-07 22:50] SecUpwN commented on #534
Good evening @solarce, thank you for helping us even though this is beginning to tick me off.

I am essentially looking for unlimited builds there as well, this would eliminate the need for any customized scripts (as we currently use) which might get outdated pretty quickly. Please see if you can add us to your "premium open source list" (or whatever you call it internally). Thank you very much!

[2015-07-07 22:57] solarce commented on #534
Unfortunately, what you are request is not possible for Travis to provide for you, because Coverity limits the usage of their hosted Scan service.

Per https://scan.coverity.com/faq#frequency

Please contact scan-admin@coverity.com if you have any special requirements.

They may be willing to work with you on these limits, but it's not something we have any involvement in.

[2015-07-07 23:00] SecUpwN commented on #534
Ok, I see that you're *very* supportive here and hope that @Coverity will be as well. Otherwise I will feel forced to ditch their great service - not just because they have these strange limits, but also because obviously we have not even **one** developer who is actually working on fixing the defects.

[2015-07-07 23:03] SecUpwN commented on #511
@william-ferguson-au and @agilob, would ACRA essentially remove the need of [Coverity Scan](https://scan.coverity.com/)?

[2015-07-07 23:42] solarce commented on #534
@SecUpwN travis-ci.org provides you with an unlimited number of builds for your open source repositories, with up to 5 concurrent jobs running. This is available to any open source project hosted on Github. So you're already getting the maximum available that we have to offer for open source.

[2015-07-07 23:59] william-ferguson-au commented on #511
ACRA and Coverty do two different things.

ACRA captures and reports issues from a live environment.

Coverty performs static analysis of code prior to release looking for
potential issues.

Whether to ditch Coverty is a business decision. But ACRA doesn't replace
the functionality that Coverty brings.

William

On Wed, 8 Jul 2015 9:03 am Security: Pwned. <notifications@github.com>
wrote:

ᐧ

[2015-07-08 03:51] TPS commented on #457
@SecUpwN If I understand you, this is new, truly confusing information. I think I understand you to say that, whether or not I get that toast, just as long as the Femtocell detection option is ticked on, AICD will detect femtocells — *in spite* of that toast?!  Up 'til now, I always understood this to mean I get Femtocell detection XOR that toast!

Do confirm if this is what you mean!  I'm almost

[2015-07-08 04:59] SecUpwN commented on #457
Clarification: Since you have a CDMA device, which should in fact be supported, the toast message should *not* be shown. And since the `Femtocell Detection` option can *also* be enabled on GSM devices (for which we currently lack the necessary detection code), the toast *must* be shown. Got that?

You should really do that to support our development here and to actually test that function!

[2015-07-08 05:02] SecUpwN commented on #534
Thanks for clarifying this, @solarce, ts makes me love the Travis CI service even more. It appears that the only bottleneck we currently have when using your service, is the limit of Coverity Scan. I will now rename the Issue and see how @Coverity will help us to solve this, otherwise we will have to ditch it.

[2015-07-08 05:36] SecUpwN commented on #511
Thanks for your statement, @william-ferguson-au, I hope asking you these many things does not get on your nerves. Before implementing ACRA, I would like to know two further things for consideration:

1. Are there any alternatives to ACRA? Some sort of comparison between these would be great.
2. Since I know that @krt16s works for @F-Droid, can you please link any apps that do use ACRA?

[2015-07-08 05:40] SecUpwN commented on #498
Test results with latest build on my HTC One M7: Quit doesn't work, pressing Back-button twice does.

[2015-07-08 05:42] william-ferguson-au commented on #511
All of my apps use ACRA
https://play.google.com/store/apps/developer?id=Xandar+Mob
As do approx 5% of all apps on Google Play.

There are plenty of commercial alternatives to ACRA. Eg BugSense
Pros for alternatives: none that I can think of of
Cons for alternatives: locked into a particular report server, have to pay
fees.

NB with ACRA you can choose which backend to forward your reports too.
A c

[2015-07-08 06:04] SecUpwN commented on #511
If I'd be its developer, I'd say that, too. ;-) **Thank you** for this positive discussion, ACRA sounds good, Iand especially your customer support. All that's left is to see some F/OSS apps with it on @F-Droid.

[2015-07-08 06:07] TPS commented on #457
@SecUpwN I'm sorry, my confusion is still not resolve re: does whatever that produces the toast error disable / not enable Femtocell detection **internally** regardless of whether the option is toggled on, or does 1 actually not have to with the other (i.e., there's nothing in the **code** preventing detection from working in this case).

[2015-07-08 06:24] SecUpwN commented on #457
Dude, you're *really* confusing *me*. Again: The `Femtocell Detection` *should* work on your device since the code we implemented is *meant for* CDMA. Thus, the toast you get should simply not be there. Regarding your question if the detection *really* works, you *need to* test this (and we would appreciate some feedback). Just because you're getting the warning toast, does not mean that the detec

[2015-07-08 06:32] TPS commented on #457
@SecUpwN Now, *I'm* clear: regardless of the toast, detection should work if it works at all.

I look forward to testing this on the weekend. ☺  Thanks for putting up with my lostness!

[2015-07-08 07:23] E3V3A commented on #535
No, but it seem persistent anyway!

[2015-07-08 07:27] E3V3A commented on #534
@solarce  @SecUpwN

That is a good solution, limit CS to release (master) builds only. How to do that?

[2015-07-08 07:28] SecUpwN commented on #535
It "seems" like so, because we cannot quit it yet. Please turn on `Perdsistent Service` and try again.