[2015-07-08 07:30] SecUpwN commented on #534
@E3V3A, we've had that previously, it simply involves changing [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.travis.yml#L79) to `master`. But what sense does it make to have our releases get analyzed while in fact our development code is ages ahead of time?

[2015-07-08 09:05] E3V3A commented on #498
[Here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/b630101ed1908e5b272e1a9eaacf6950ac25a9b7/app/src/main/java/com/SecUpwN/AIMSICD/AIMSICD.java#L551-L572)'s the code for back-button press:

[code]
But in the `Quit` [line](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/b630101ed1908e5b272e1a9eaacf6950ac25a9b7/app/src/main/java/com/SecUpwN/AIMSICD/AIMSICD.java#L373-L3

[2015-07-08 09:08] SecUpwN commented on #498
How about if you just add it so that we can try it out, @E3V3A?

[2015-07-08 09:13] E3V3A commented on #457
It only works on a certain type of Verizon femtocells AFACR...

[2015-07-08 09:16] SecUpwN commented on #457
@E3V3A, is there a way of making this available on all CDMA devices? If not, we should probably restructure that button to be only tickable if the device is really supported and gray it out if not.

[2015-07-08 09:26] E3V3A opened #536 "Fix gradle translation warnings"
There are 4 gradle warnings about not having a default translation:
[code]

[2015-07-08 09:30] E3V3A commented on #498
Done, please test.

[2015-07-08 09:32] E3V3A commented on #534
@SecUpwN  Please think about that statement again...

Changed to use master branch in abd9ab47f45c458fc78e6e0b34df49a3fb542dfe since we can't expect profit making companies to comply with our unlimited requests.

[2015-07-08 09:32] #534 closed

[2015-07-08 09:34] E3V3A commented on #457
Sure, if you can contact every CDMA femtocell producer and as them what IDs they use for their products.

[2015-07-08 09:43] E3V3A commented on #498
Almost works.
Now I get the pop-up saying `Unfortunately ....has stopped [OK]`...

[2015-07-08 09:47] SecUpwN commented on #534
Which statement? I don't like that you've changed the `.travis.yml` and closed this Issue. Show me **one** developer who actually cares about the defects from `master` branch, which get's fresh code about every 7 days? The whole sense of using Coverity Scan i to fix stuff ahead of time! A little mad right now.

[2015-07-08 09:49] SecUpwN commented on #536
Are you sure you've imported the current code? Those strings have been changed shortly.

[2015-07-08 09:52] banjaxbanjo commented on #498
Maybe

try {
 if(mAimsicdService.isSmsTracking()) {
     mAimsicdService.stopSmsTracking();
 }
 }catch (Exception ee){System.out.println("Error: Stopping SMS detection");
}

if (mAimsicdService != null) mAimsicdService.onDestroy();
finish();

[2015-07-08 09:53] E3V3A commented on #498
Enabling (checking) the `Peristent Service` makes Quit behave as it should. Has the persistent Service logic become reversed again? (If it has then my fix above, probably need reversing.)

[2015-07-08 09:58] E3V3A commented on #498
@banjaxbanjo  You mean like this??
[code]

[2015-07-08 10:06] E3V3A commented on #536
yes

[2015-07-08 10:10] E3V3A commented on #534
How can you fix stuff ahead of time, if you don't know what it is?

Who cares about the development, its for exactly that, testing and development! Once in master we see what need change and then fix it in development. That's what's its for. Nothing to be mad about here. Why waste time on this issue when the CS people have already clearly stated that they can't offer us any more builds?

[2015-07-08 10:12] banjaxbanjo commented on #498
@E3V3A Yeh that should work its basically stopping  anything that should be stopped before exit

[2015-07-08 10:16] E3V3A commented on #498
Same problem...

[2015-07-08 10:17] banjaxbanjo commented on #498
Weird can you see the error log?

[2015-07-08 10:20] E3V3A commented on #498
Sorry I don't have time to fiddle with the logging today, somebody else has to look.

[2015-07-08 10:21] banjaxbanjo commented on #498
Np I say its something simple anyway

[2015-07-08 10:31] SecUpwN commented on #536
Then please ignore these warnings until our app has been translated to 100%. Currently: [![Translations](https://hosted.weblate.org/widgets/aimsicd/-/shields-badge.svg)](https://hosted.weblate.org/projects/aimsicd/strings/)

[2015-07-08 10:41] SecUpwN commented on #498
Interesting, https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/a4a465d4b42592d46b60a38962b5e344654ec954 seems to fix this for me with Buildozer Build `#199`. Please test again, @E3V3A.

[2015-07-08 11:42] E3V3A commented on #69
After the great HackTeam leak, it is apparent that it is very important that we detect various WAP push messages. [Here](http://ht.transparencytoolkit.org/KnowledgeBase/Push%20Message%20-%20Android%20-%20%5DHT%5B%20%3a%3a%20KnowledgeBase%20Product.html) they write:

[code]

And [here](http://ht.transparencytoolkit.org/KnowledgeBase/Available%20Exploits%20-%20Android%20-%20%5DHT%5B%20%3a%3a%20Knowl

[2015-07-08 11:49] banjaxbanjo commented on #69
@E3V3A Some stuff here also https://github.com/hackedteam/fuzzer-android

[2015-07-08 14:50] E3V3A commented on #536
No, these seem to be strings with no references to them...or I'm just confused.

[2015-07-08 15:14] SecUpwN commented on #536
Might be. As far as I know, weblate always compares all strings with the original `values/translatable_strings.xml` and once we change it on GitHub it notices. Thus, I thought the strings would also changes with syncing the branches. But hey, no biggie. Please re-check it in a minute.

[2015-07-08 15:23] E3V3A commented on #69
@banjaxbanjo

No you're missing the point. How many times a minute, is the `logcat -b main ...` executed?
When SMS detection is on, my phone runs very hot and laggy, we're overloading something...

[2015-07-08 15:38] SecUpwN commented on #536
Awesome. Seems like builds now brake due to strings being listed more than once. Let me digg into this, give me 30 minutes. I think I'll soon need a break from all this since noone donates to our efforts. :(

[2015-07-08 16:08] banjaxbanjo commented on #69
@E3V3A ah I see, I continously read and keep buffer open if I had to put a timer to check every x seconds minutes we would prob miss data and Id say the average users phone wouldn't have the high logging like you have set eva.

It's not very cpu intensive from short test Ive done. What you think?

[2015-07-08 16:10] E3V3A commented on #498
I did, same problem. Weird!

[2015-07-08 16:10] #536 closed

[2015-07-08 16:11] SecUpwN commented on #498
Fresh install?

[2015-07-08 16:19] E3V3A opened #537 "Detection of Silent SMS (part 2)"
The [original thread](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/69) (#69) was getting far too long, so this is the continuation of that thread.

**Please use old thread as reference only!**

[2015-07-08 16:20] E3V3A commented on #69
This thread is getting too long!

## PLEASE CONTINUE DISCUSSION [HERE](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/537)!

[2015-07-08 16:20] E3V3A commented on #537
Actually my loglevel has been reset to normal. So I'm not high logging, but QMI and Xpose/XPrivacy is really spamming logcat very hard. My test phone is 2 core model, and I'm not sure continuously reading from or keeping buffer open is a good idea. Can you show me where in the code this is done?

[2015-07-08 16:23] SecUpwN commented on #537
Another thing that I don't like. Why the f* do we need to spread everything? :( If we now *close* the other thread, it gets marked as *solved*, which will in turn will ask @agilob and me if the bounty may be given to @banjaxbanjo. So now we will have to flick to two different Issues. Just my two cents. Continue, please.

[2015-07-08 16:36] banjaxbanjo commented on #537
@E3V3A here is the start of function
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/SmsDetector.java#L120-#L130

I've let run on my phone for 24 hours with no lag issue but with a bad cpu I suppose it might lag a little.

The main reason I kept logging open was duplicate sms but since we now check the timestamp this will

[2015-07-08 16:42] E3V3A commented on #517
@ziem
Yes, I think a modified version of the Google Java Style seem appropriate, with the reservation of the following point I don't agree with:

* column limit to 100 char. (As we all know, our screens are 1 kilometer wide and about 2 centimeters high, so why the fuck should I read code 2 cm wide and have to scroll downwards paging through 1 kilometer?)
* line wrapping... Shut the f*** up! Nobody

[2015-07-08 16:48] SecUpwN commented on #517
@E3V3A, since you're having specific coding requirements, please correctly add them [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide#coding).

[2015-07-08 16:56] E3V3A commented on #537
So what do these thread sleepers do: [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/SmsDetector.java#L116) and [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/smsdetection/SmsDetector.java#L147) ??

I don't think it's the logcat dumper that tak

[2015-07-08 16:58] E3V3A commented on #537
I'm wondering if there's some kind of indicator when a log buffer is getting full? (I.e. for the kernel to circle.)

[2015-07-08 17:03] banjaxbanjo commented on #537
@E3V3A I put in the sleep (1000) to slow down the logging abit so its not as laggy if you put this higher its basically like a timer anyway.

A lot of them loop you see are never access they are only accessed if a string is picked up.

[2015-07-08 18:10] E3V3A commented on #537
ok, a few possible solutions:
1. we can increase the size of the [logcat](http://developer.android.com/tools/help/logcat.html) buffer by piping to file, so we can make the sleep longer. (Is that blocking?)
2. we can check the size before running.
3. We might be able to increase performance by searching the logcat in binary format **(-B)**, thus skipping the reformatting and i/o overhead.

[code]
O

[2015-07-08 19:09] banjaxbanjo commented on #537
@E3V3A

We need to check all strings I dont think there is away around this and I have a check in place to only check small lines less than 250 chars and if string is not detected 90% of code is bypassed

[code]
We can experiment with a filter but its going to be very big filter and I think it will make detection not work as good and we will miss some data. With verbose logging all we have to chec

[2015-07-08 19:23] krt16s commented on #511
Acra is available from central, so we should be able to build it (read: we have apps using it and they build fine, but I don't know anything about acra in details, so there might be some incompatible corner cases).

Regarding anti-features: Well, we don't have a clear policy there. Some people consider it tracking, some don't. The majority of apps using acra don't have it set by now...

[2015-07-08 19:26] agilob commented on #511
@krt16s I saw some threads on fdroid when you discussed it as a tracking antifeature, that's why I raised that topic here. Thanks for clarifying.

[2015-07-08 20:08] E3V3A commented on #92
There is a [property](https://www.codatlas.com/github.com/lambdalab-mirror/android-4.4.2_r1/master/src/main/java/com/android/internal/telephony/TelephonyProperties.java?line=167) we might be able to use:
``java
    /**
     * Set to false to disable SMS receiving, default is
     * the value of config_sms_capable
     */
    static final String PROPERTY_SMS_RECEIVE = "telephony.sms.receive";
[code

[2015-07-08 20:18] E3V3A opened #538 "Further Logcat investigation"
The logcat utility is very powerful and provide an incredible amount of info that we may be able to use, in case not available from API. This thread is about investigating these possibilities. For example in the source code we [have](https://www.codatlas.com/github.com/lambdalab-mirror/android-4.4.2_r1/master/src/main/java/com/android/internal/telephony/EventLogTags.java?line=13):

[code]

Thus us

[2015-07-08 20:21] E3V3A commented on #537
**A side note!**

From the sources [here](https://www.codatlas.com/github.com/lambdalab-mirror/android-4.4.2_r1/master/src/main/java/com/android/smspush/WapPushManager.java?line=36):
[code]

[2015-07-09 03:52] SecUpwN commented on #511
Thanks for the clarification in here, @krt16s.  Given these changes, whould we use it now @E3V3A?

[2015-07-09 06:38] 0x7678 commented on #75
On 2015-07-05 00:38, Security: Pwned. wrote:

Hi back at you SecUpwN , I hope you got my last messages, no reply from
them, however I wouldnt mind adding content on the WIKI. Thank you.
--
Regards
=================================
Jade Solomon
Information Security Consultant
Cell: +254 701 888 445
WebSite: http://0x7678.com
Blog:  http://blog.0x7678.com
--------------------------------------------

[2015-07-09 06:42] SecUpwN commented on #75
I did not receive anything else other than what you wrote in this Issue. Anything worth publishing?

[2015-07-09 06:46] 0x7678 commented on #75
On 2015-07-09 02:42, Security: Pwned. wrote:

Let me see what I can gather and email the details to you say monday?
--
Regards
=================================
Jade Solomon
Information Security Consultant
Cell: +254 701 888 445
WebSite: http://0x7678.com
Blog:  http://blog.0x7678.com
------------------------------------------------------------------------------------------------------------------

[2015-07-09 06:53] SecUpwN commented on #75
Perfect. Please make sure to use the *latest* release of AIMSICD, it will be published on sunday.

[2015-07-09 06:59] 0x7678 commented on #75
On 2015-07-09 02:54, Security: Pwned. wrote:

Awesome, will do.
--
Regards
=================================
Jade Solomon
Information Security Consultant
Cell: +254 701 888 445
WebSite: http://0x7678.com
Blog:  http://blog.0x7678.com
--------------------------------------------------------------------------------------------------------------------------------
Disclaimer :
The information containe

[2015-07-09 14:11] kaichunlin commented on #288
Hi there, if my understanding is correct, you just need to animate the changed item(s). In this case it can be accomplished using the technique [here](http://stackoverflow.com/questions/18216285/android-animate-color-change-from-color-to-color).

[2015-07-09 14:45] E3V3A commented on #288
Thanks, but how would this be implemented in these particular items?

[2015-07-09 17:41] SecUpwN commented on #534
Just to let you know: I've received the very supportive answer of @solarce:

This won't unlimit our builds. but at least tackles the Travis-CI complaints.

[2015-07-09 21:11] wvengen commented on #529
It's causing problems for quite some users, and can be implemented much better after the new database design. I think it's worth it to wait for that.

[2015-07-09 21:57] E3V3A commented on #529
yes, lets wait... I think we've got this covered in new structure

[2015-07-09 22:41] standalone9 opened #539 "I have a lot of programs and addresses how they are doing it"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24039284-i-have-a-lot-of-programs-and-addresses-how-they-are-doing-it?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=is

[2015-07-09 22:53] standalone9 opened #540 "Sorry I don't know alot on internet but I know its not right they took my kids information"
I don't like  we're  people are going  people don't talk face to. Face even standing by each other people can  take  you self  worth and money children life,these people are on my children's face book adding stuff to laptops full of  gross films we had kids kill them self's last thing they did Facebook the time line not right

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on

[2015-07-09 23:06] standalone9 commented on #540
I guessed it no one helps no one any more I'll figure it out thank you enjoy and please try to make internet safe some one has to care good by

[2015-07-09 23:09] standalone9 commented on #540
Thank you I'll leave please make the internet safe I c as nt be the only one who cares god be with you

[2015-07-09 23:11] standalone9 commented on #540
God be with you l can't be the only one who sees the dangers make safe please

[2015-07-09 23:35] E3V3A commented on #540
reported and blocked!

[2015-07-09 23:35] #540 closed

[2015-07-10 09:41] SecUpwN commented on #539
Continued spam from #540. Reported and blocked this users by myself as well, discussing anti-spam measures with the GitHub support as I type this. Hope they'll be able to do something against bots.

[2015-07-10 09:42] #539 closed

[2015-07-10 15:10] ph0t0n commented on #459
hi all, i am sorry for the slow progress. i have many other work/personal things going on.

today in the post i received my Nokia 3310. this is a 900/1800 eurasia phone which i will call phone N.

recall my other phone is a modern android with LTE/UMTS/GSM. let's call it phone A from now on. it can be willingly shoved onto 2GSM, but it is not consistently willing (or at least the order of operatio

[2015-07-10 15:13] ph0t0n commented on #459
also i am open to whatever organizational / docs / whatever structure you'd like to have for this issue. if you would like me to edit a .md once i have interesting reports, ok. wiki, whatever. goals, sure, i am open.
thanks!

[2015-07-10 17:51] wvengen commented on #466
This will also be reverted in #541.

[2015-07-10 20:21] SecUpwN commented on #459
Hey @ph0t0n, listen up: Huge **THANKS** for taking this Issue seriously! As you can see from our [DevCycle](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Development-Status), we're releasing an official build every sunday. But in order to enhance our development, it would be better if you run the tests with our Buildozer Builds. Please send me an email so that I can add you there.

[2015-07-11 16:18] #529 closed

[2015-07-11 19:45] TPS commented on #6
@SecUpwN Is it worth updating https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Similar-Projects (Software Projects section) with the results of https://www.google.com/search?q=gsm+femtocell+detect ?

The specific results I'd think are relevant are:

https://play.google.com/store/apps/details?id=com.neutona.mobile.smallcelldetector

https://play.google.com/store/apps/details?id=com.blu

[2015-07-11 19:58] He3556 commented on #6
i was checking your links and found this. A RF Analyser APP that works with a cheap RTL-SDR over USB. This could be a serios solution for some of our hardest problems.

https://play.google.com/store/apps/details?id=com.mantz_it.rfanalyzer

[2015-07-11 21:21] E3V3A commented on #6
So for GSM/UMTS femtocells, we have to map each countries operators LAC's to what they reserve for their femtocells, at least if we're to believe this:

![ray_3-tpwu4_sgmt-yyro_yfhgme55atogjuz3mnvmt6ejo3zks6lp4qbtyjogmiwck h900](https://cloud.githubusercontent.com/assets/194392/8635448/f757ad0a-282b-11e5-93a6-f206d2dfe3e5.jpg)

[2015-07-11 21:35] E3V3A commented on #6
Also pay attention to another very related [Google bug]9https://code.google.com/p/android/issues/detail?id=32593&q=bkphorn&colspec=ID%20Type%20Status%20Owner%20Summary%20Stars) that was closed without explanation and shown to be still valid...

This may also explain some weird behavior I've seen on my UMTS network..

[2015-07-11 22:32] SecUpwN commented on #6
@TPS, thank you very much for your valuable contributions here. I will get in touch with the developers.

[2015-07-11 23:43] TPS commented on #6
@SecUpwN Since most of everything else I've attempted to contribute has seemed to be extraneous, I hesitated to even post the above when I thought this up last week (seems so obvious to attempt in retrospect, doesn't it, but Google *does* seem to continue to improve some parts of what they do to find stuff [I **do** understand the sentiment is unpopular here ;]), but I scoured the site docs & coul

[2015-07-12 01:51] ehem commented on #504
I must disagree with SecUpwN's removal of the BUG tag.  Dual-SIM (even triple-SIM!) phones are very real and not working on real hardware is a bad thing.  The additional data could be interesting since if one SIM sees an extra "cell tower" while the other doesn't might be a hint that the extra "tower" is in fact a stingray.

I'd like to help and be looking into how the Android APIs work, but I've

[2015-07-12 06:15] TPS commented on #6
@He3556 You should know that https://play.google.com/store/apps/details?id=com.mantz_it.rfanalyzer is GPL ≥2, in spite of being paid on Play, with source @ https://github.com/demantz/RFAnalyzer ☺

[2015-07-12 12:02] SecUpwN commented on #504
Disagree all you want, @ehem, but this is *not* a "bug", it is an *enhancement* if we ever add it.

Our app *is* working on these phones, it just does not show and dissect the data of the other SIMs. We simply have more important Issues to solve at this moment, we'd be happy to have more developers working on our app to even achieve our [basic app goals](https://github.com/SecUpwN/Android-IMSI-Cat

[2015-07-12 17:40] lop1 opened #543 "app crash when downloading OpenCellID"
After a clean install of 0.1.32 alpha b00, the app crash when I try to download the cell informations from OpenCellID.

This from the download option in the menu or with the download icon in the map of the cells.

Samsung Galaxy S4 mini , stock firmware , rooted by towelroot.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24201136-a

[2015-07-12 17:43] SecUpwN commented on #543
Thank you for informing us, @lop1. I cannot confirm this Issue though. Can anyone else confirm this?

[2015-07-12 17:47] lop1 commented on #543
The app crash after one or two minutes ( not right away when you launch the download )

[2015-07-12 17:48] SecUpwN commented on #543
Logcat or it didn't happen. ;-)

[2015-07-12 18:03] lop1 commented on #543
Debugging log

GETPROP:

[DEVICE_PROVISIONED]: [1]
[af.resampler.quality]: [255]
[audio.offload.disable]: [1]
[boot.sfbootcomplete]: [1]
[dalvik.vm.heapgrowthlimit]: [96m]
[dalvik.vm.heapmaxfree]: [4m]
[dalvik.vm.heapminfree]: [1m]
[dalvik.vm.heapsize]: [256m]
[dalvik.vm.heapstartsize]: [8m]
[dalvik.vm.heaptargetutilization]: [0.75]
[dalvik.vm.stack-trace-file]: [/data/anr/traces.txt]
[debug.compo

[2015-07-12 18:20] SecUpwN commented on #543
Thanks, @lop1. Please always make sure to remove `CID`, `LAC` and other security-related items from your logfiles. I have reviewed your logcat and found these interesting items:

[code]

[code]

@E3V3A, would you say that these things are being caused by #486?

[2015-07-12 18:26] banjaxbanjo commented on #543
@SecUpwN no they are just for multiclient and normal. Means phone can't access multiclient and use oem hooks.

[2015-07-12 18:28] SecUpwN commented on #543
@banjaxbanjo, can you confirm this Issue here? `0.1.32-alpha` works good for me.

[2015-07-12 19:04] banjaxbanjo commented on #543
App works for me downloaded latest and downloaded ocid without issue

[2015-07-12 19:31] SecUpwN commented on #543
@lop1, would you please send a full logcat to @banjaxbanjo via private email using [our contacts](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact)? Please be nice to him so that he feels like taking a quick look at what might be causing your Issue.

[2015-07-12 20:54] lop1 commented on #543
sorry to be so dumb, but I really don’t know what a logcat is, and how to get one. I send you the debugging log that is available in the application menu.
Is it something I can do with the phone only ?

thanks

laurent

ps : I see in the xda web site that it is something you can get with an dab command , but seems to be available with a computer an a SDK android….

[2015-07-12 22:00] banjaxbanjo commented on #543
@lop1 @SecUpwN

This seems to be the issue looking at lop1 logs 2147483647 in not a valid MCC/MNC and this value keeps popping up for other values to like mCell.getPsc() and few other places.

I/AIMSICD ( 6654): Helpers:OCID MCC is set to: 2147483647
I/AIMSICD ( 6654): Helpers:OCID MNC is set to: 2147483647

I dont know if this is a problem also but I had to change this in AIMSICDDbAdatper because

[2015-07-12 22:23] SecUpwN commented on #543
If that is true, we should fix it ASAP since [these Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues?utf8=%E2%9C%93&q=2147483647) seem to be somewhat related to that!

[2015-07-13 00:54] SecUpwN commented on #215
Sorry for interrupting again, maybe this makes @banjaxbanjo's work easier:

[![Flyway - Database Migrations Made Easy](http://flywaydb.org/assets/logo/flyway-logo-tm.png "Flyway")](https://github.com/flyway/flyway)

[2015-07-13 01:35] ehem commented on #216
What is the official position now?  Is 3G/4G supported with all hardware?  Is 3G/4G supported with some hardware?  Do devices with 3G/4G support completely break AIMSICD?

I'm currently trying to make sense of why AIMSICD is giving me the yellow icon.  Could be I'm slightly away from the better mapped out cells, thus the nearer ones aren't yet in OpenCellID's DB.  I got some slightly different dat

[2015-07-13 02:14] ehem commented on #349
I'm wondering if this should be rated as a shortcoming/weakness of the OpenCellID database.  They *will* inevitably end up with at least *some* malicious cells in their database due to either accidents or malice.  As such the DB needs to have some method for cells to be marked about how confident the submitter is about the cell being kosher or not.  Knowledge of where malicious cells are is quite

[2015-07-13 02:21] ehem commented on #411
I note this has some overlap with #349.  As I wrote there, the OpenCellID database *will* end up with fake data, the issue it how they deal with it.  The most obvious first change is for cell reports to have an indicator of quality/trustworthiness.  Knowledge of the location of malicious cells is of similar or possibly higher value than knowledge of legitimate cells, since if you have both you can

[2015-07-13 02:32] SecUpwN commented on #349
Right. You need to capture the data and upload it using AIMSICD or another app uplodaing to OCID.

[2015-07-13 03:02] ehem commented on #504
I can't blame you for thinking that.  I do hope to look at things further, but there are other open source projects that I'm involved with as well.  Within a few days hopefully one minor *WRT distribution will be getting an updated set of kernel patches.  Then I've got some Android lock screen experimentation to do, then I may be looking back at AIMSICD.

Some notes on dual-SIM devices.  I believe

[2015-07-13 03:08] ehem opened #545 "Working with 802.11 projects"
I'd like to suggest the AIMSICD project may want to look at working with some of the projects centered around 802.11 privacy.  They have a similar target, identifying fake 802.11 access points.

I'm somewhat hopeful there might be room for sharing code due to the similar goal, though I suspect most of the code in these projects will be in drivers not the core and thus not so good for reuse.  On th

[2015-07-13 03:22] ehem opened #546 "English String consistency (OpenCellID vs OpenCellId vs OCID)"
Looking at app/src/main/res/values/translatable_strings.xml

I see the Open Cell ID project referred to as "OpenCellID", "OpenCellId" and "OCID".  Of these it looks like "OpenCellID" is most common, looking at their site I suspect this is the spelling varient they would prefer.

Of note "invalid_key_try_later" and "getting_ocid_key" use "OpenCellId".  While "pref_request_ocid_key", "cell_id_doesnt

[2015-07-13 04:23] SecUpwN commented on #546
Thanks for digging so deep into our strings and attempting to make our app use consistent translations! If `OpenCellID` is what they actually prefer, I'd vote for using this in our app and across all language files, but would like to hear @E3V3A on this first since we use `OCID` in places where `OpenCellID` is too long.

[2015-07-13 04:25] SecUpwN commented on #545
Interesting, but I'm not quite sure what you mean. Would you please link these projects here?

[2015-07-13 04:29] SecUpwN commented on #504
Rest assured that I'm not blaming *you* in specific, but generally how few people actually contribute given the efforts of in how many places I continuously keep introducing our app to people, websites, etc. Please take all the time you need to finish the other things you're aiming to look at. We're *very* happy if you come back once in a while and actually use our app and note down improvements.

[2015-07-13 07:40] E3V3A commented on #411
@ehem Please stop posting all these general statements here. It is clear that you have little or no understanding of how this app is currently and supposed to work. So unless your comments are directly related to help providing a solution to the issue, use our XDA thread.
Thank you for understanding.

[2015-07-13 07:42] #545 closed

[2015-07-13 07:43] E3V3A commented on #504
Do I need to lock this issue or block the user?

[2015-07-13 08:54] SecUpwN commented on #504
Neither of these options. @ehem is a good guy. He understood.

[2015-07-13 08:55] lop1 commented on #543
same problem on this new build #42 :

I/AIMSICD (29691): Helpers:OCID BBOX is set to: 48.7945035961133,-3.4966731508795212,48.83047640388669,-3.4420468491204796  with radius 2 Km.
I/AIMSICD (29691): Helpers:OCID MCC is set to: 2147483647
I/AIMSICD (29691): Helpers:OCID MNC is set to: 2147483647
D/AIMSICD (29691): RequestTask:onPreExecute Started

[2015-07-13 09:40] banjaxbanjo commented on #543
@SecUpwN @E3V3A this is a new bug if you install latest build and request new OCID key it hangs for ages then a popup gives error about thread or something

[logo:] http://i62.tinypic.com/zt7lp3.png ""

[2015-07-13 10:36] He3556 commented on #411
@ehem i feel sorry for some parts in the last post.
(+ little sorry that i am posting some general statement here)

@SecUpwN feel free to delete it later today...
Wish you all a happy monday :)

[2015-07-13 12:03] SecUpwN commented on #543
@banjaxbanjo, shall I open a new Issue for your findings, or are these things related and we could possibly fix this in one run? Let me know what would be best to do.

[2015-07-13 12:16] banjaxbanjo commented on #543
@SecUpwN we will fixed this after database. Was the method for getting key changed recently?.

Also 1 thing I find annoying is how long it takes to get key this should only take a second but it takes ages as it stands, Same with backup/restore db this should also be quick rather than waiting 60-120 seconds.

Sent from Yahoo Mail on Android

[2015-07-13 12:38] SecUpwN commented on #543
@banjaxbanjo, no. In fact, I have known about the error you've added via screenshot quite a while already, but was too lazy to report it only happens sporadically and thought it was caused by OCID itself.

[2015-07-13 17:53] E3V3A commented on #215
**Congratulations!!**
The Latest merged PR 22c0ca07599b0d62ec7816f3fcce27bfe33da9d6 essentially fixes this. Now we need to do a shit-load of testing and polishing, before closing this.

[2015-07-13 22:03] agilob commented on #486
Closing because unable to reproduce with 0.1.31 (fdroid)

[2015-07-13 22:03] #486 closed

[2015-07-13 22:17] agilob commented on #390
I'm testing it. I'll be back here later

[2015-07-14 09:00] DJaeger commented on #546
I have thought about that too.
I think changing ```OpenCellId``` to ```OpenCellID``` shouldn't be a problem.
If we want to use ```OCID``` we should at least declare this term to the user.

[2015-07-14 09:16] E3V3A commented on #546
We'll continue to use `OCID`, thank you. It's *declared* all over this site.

[2015-07-14 09:18] E3V3A commented on #543
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:19] E3V3A commented on #537
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:20] E3V3A commented on #528
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:20] #528 closed

[2015-07-14 09:21] E3V3A commented on #525
This is still an issue after new DB overhaul. Still issue in Buildozer b**211**.

[2015-07-14 09:22] E3V3A commented on #520
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:22] #520 closed

[2015-07-14 09:22] banjaxbanjo commented on #525
Yea wasn't looking into that till db PR made EVA

[2015-07-14 09:22] E3V3A commented on #511
We have several much more urgent issues.

[2015-07-14 09:23] E3V3A commented on #498
Seems fixed after DB overhaul so Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:24] E3V3A commented on #481
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:24] E3V3A commented on #480
This and several other info items after the new DB overhaul.

[2015-07-14 09:27] E3V3A commented on #472
After the new DB overhaul # 215 this issues has reversed. Now there is not enough measurements taken or shown in DB Viewer. (Hard to tell which.)

[2015-07-14 09:28] E3V3A commented on #466
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:28] #466 closed

[2015-07-14 09:32] E3V3A commented on #457
Sorry, but we don't have any developers with CDMA who's able to fix it, so we won't.

[2015-07-14 09:32] E3V3A commented on #423
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:32] #423 closed

[2015-07-14 09:33] E3V3A commented on #390
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:33] #390 closed

[2015-07-14 09:35] E3V3A commented on #323
I don't see this anymore.
So please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:35] #323 closed

[2015-07-14 09:35] lop1 commented on #543
same problem with the new build #43

[2015-07-14 09:37] E3V3A commented on #284
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:37] banjaxbanjo commented on #472
Atm I only update what cell already logged so not to fill up view with duplicates but easy fix and I was aware of this just didnt know what exactly you where going for with bts measurements

[2015-07-14 09:39] E3V3A commented on #234
This is now a high priority item, since after the major DB overhaul, we've had to loose some of the original cad items, that correctly formats the DB viewer.

[2015-07-14 09:40] E3V3A commented on #228
This need attention.

[2015-07-14 09:42] E3V3A commented on #215
@SecUpwN  We need to close this and pay out the bunty, please give relevant people instructions. I'll let you close this one, so not to mess up the bounty.

[2015-07-14 09:43] E3V3A commented on #100
Please re-test this issue now. (Using Buildozer build >= 211)

[2015-07-14 09:45] E3V3A commented on #525
@banjaxbanjo I know, I'm just going through everything and checking what's relevant. I know you're exhausted, so please take a holiday, unless you find it impossible to leave this project alone (as we often do).

[2015-07-14 09:46] E3V3A commented on #543
There is no build 43, where did you get that from?

[2015-07-14 09:49] lop1 commented on #543
Mail from buildozer this morning  :

A new build (build #43) is available for project 'AIMSICD'. 

Open the following link on your device: 

Install build

The Buildozer team 

P.S. Installing Android builds is easier using our Android app. Get it on the "

Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : "E:V:A" <notifications@github.com> </div><div>Date :14/07/20

[2015-07-14 09:52] E3V3A commented on #472
Ok, good to know. Yes, I see what you're saying. The `EventLog` show only events that have informational value to the user. Whereas, the `BTS Measurements` table should have all events found by phone from network. It's the basis of the EventLog and all the detection mechanisms. Therefore the `BTS Measurements` has to be shown sorted by timestamp (latest first) in the `DB Viewer`.

[2015-07-14 09:56] E3V3A commented on #543
@SecUpwN Any ideas WTF is going on here? I have

[code]

[2015-07-14 10:26] E3V3A commented on #498
Edit:  WTF!
Apparently now the issue has the *reverse* problem. Now the `Quit` selection in drawer menu works, but not the "back button * 2"!

[2015-07-14 10:44] banjaxbanjo commented on #525
@E3V3A haha will do for sure cheers😉

[2015-07-14 11:18] E3V3A commented on #234
New list of things to fix:

- [ ] Add DB item count on bottom right of each DB item: `12/123`

**Sorting:**
- [ ] Sort `Unique BTS Data` (on **time_last**) to show latest used cell first
- [ ] Sort `BTS Masurements`  (on **time_last**) to show latest used cell first
- [ ] Sort `Imported OCID Data`  on:
  - [ ] 1. **MCC** and **MNC** (if not already unique from import specification)
  - [ ] 2. **LA

[2015-07-14 12:00] SecUpwN commented on #543
No, I guess they messed up their mail. @lop1, please use [their app](https://play.google.com/store/apps/details?id=io.buildozer.app) and grab our build there.

[2015-07-14 12:09] SecUpwN commented on #457
@E3V3A, please don't close Issues just because we don't have a developer fixing it yet. This Issue in specific was about something pretty simple: Ensuring that the toast `Femtocell detection is available on CDMA` does *not* get shown when the device is in fact a CDMA device. Means: This Issue should be pretty easy to solve by adding or improving the check like this: If GSM - show tiast, if CDMA -

[2015-07-14 12:15] SecUpwN commented on #423
You closed this. Does that mean our app just got faster, @E3V3A?

[2015-07-14 12:20] SecUpwN commented on #504
@E3V3A, I do not want to step on your toes, but closing Issues without a proper explanation to the user who filed it will not bring freedom to our user base. I have specifically added the label `DEV_DISCUSSION` to **discuss**  this to to find out: Are we going to support dual SIM / triple SIM phones at all? @He3556 and @banjaxbanjo, is there even the *possibility* that our app could ever check two

[2015-07-14 12:24] SecUpwN commented on #546
@E3V3A, I begin to get mad about you closing Issues that are **not fixed**! The whole purpose of having them open is to **track** what **needs to be solved**! @DJaeger, can you check that our whole app as well as all translations change to `OCID` to make our app and code consistent? That would be great.

[2015-07-14 12:27] SecUpwN commented on #486
What do you mean, @agilob? The app on F-Droid works, but the debug build doesn't?

[2015-07-14 12:44] SecUpwN commented on #215
This will be done automatically via Bountysource, no worries.

What about this? Shall I still close this Issue as **fixed**? ;-)

[2015-07-14 12:47] SecUpwN commented on #511
Not the answer to my question, @E3V3A. We need to have some way to support developers work find and fix bugs ahead of time, this will ease up our lives in the llong run. @DJaeger, what do you think?

[2015-07-14 13:01] SecUpwN commented on #479
Seems as if we're back to this this again since https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/22c0ca07599b0d62ec7816f3fcce27bfe33da9d6. *-sigh-*

![we](https://cloud.githubusercontent.com/assets/6000299/8225141/6e8a5422-1580-11e5-836f-6ab5d7f02b8a.png)

[2015-07-14 14:56] DJaeger commented on #215
I think this should be done before, as this issue is not completely solves before.
I would only want to pay for a complete and not only a half work.

[2015-07-14 15:01] lop1 commented on #543
Same  build #43 in the app. 

Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : "Security: Pwned." <notifications@github.com> </div><div>Date :14/07/2015  14:00  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><div>Objet : Re: [Android-IMSI-Catcher-Detect

[2015-07-14 15:04] DJaeger commented on #511
If ACRA is configured to don't send something automatically in the background it's ok for me.

[2015-07-14 15:07] DJaeger commented on #511
But to prevent, that someone sets the F-Droid anti-feature we should make clear, that it never automaticly sends data!

[2015-07-14 15:27] SecUpwN commented on #215
Indeed, I agree with you. Bountysource asks donators to agree if an Issue is really fixed before paying out the bounty. In this case, @agilob is the only one who donated, thus he will be asked when closed.

@E3V3A, please see you OP and tick the boxes that have been solved so that they appear checked when looking at the Issue without opening it. Also, please exactly state below how we ought to tes

[2015-07-14 15:36] SecUpwN commented on #543
@lop1, please do not use the `#` without actually linking to an *Issue*. If you want to use it when mentioning a build or something, please add a *backtick* to both sides so that it appears as *code*. Please contact me via E-Mail so that I can send you the latest build for re-verifying all your Issues. Thanks,

[2015-07-14 16:03] lop1 commented on #543
I have uninstalled the app, make sure no data remaining, install this 212 build, I have the same problem, after around two minutes the app crashs in downloading the OpenCellID data. ( message : Android IMSI-catcher Detector s'est arrêté , which means had stopped in french)

logcat extracts :

I/AIMSICD (20283): RequestTask: DBE_DOWNLOAD_REQUEST write to: /storage/emulated/0/Android/data/com.SecUpw

[2015-07-14 17:15] E3V3A commented on #498
BB*2 Doesn't work on first or second start, but later... Very strange.

[2015-07-14 17:15] #498 closed

[2015-07-14 17:15] agilob commented on #486
on 0.1.31 I meant, can't reproduce on 32

[2015-07-14 17:18] E3V3A commented on #543
Seem that the error is in a different part, possibly unrelated to ocid download:
[code]

[2015-07-14 17:29] lop1 commented on #543
same problem in the build "45" just received from buildozer

logcat extracts :

I/AIMSICD (31817): RequestTask: DBE_DOWNLOAD_REQUEST write to: /storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/OpenCellID/opencellid.csv
E/AIMSICD (31817): SamsungMulticlientRilExecutor: Local write() error: not connected
W/dalvikvm(31817): threadid=13: thread exiting with uncaught exception (group=0x41874da

[2015-07-14 17:59] E3V3A commented on #543
That error is generated [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/3a29f607d3252b59bdbb433c7de8f7c0fad07b52/app/src/main/java/com/SecUpwN/AIMSICD/rilexecutor/SamsungMulticlientRilExecutor.java#L189-L192):

[code]

Other stuff irrelevant.

Updated code, please wait few minutes and try again. 07d088efb0c24bc2fbc739ad3d35331870deb0e6

[2015-07-14 18:26] lop1 commented on #543
Same problem with the build "46"

I/AIMSICD ( 4545): RequestTask: DBE_DOWNLOAD_REQUEST write to: /storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/OpenCellID/opencellid.csv
I/AIMSICD ( 4545): CellTracker: neighbouringCellInfo empty - start polling
I/CellTracker( 4545): Cell info change
D/AIMSICD ( 4545): CellTracker: neighbouringCellInfo empty: trying 0
W/dalvikvm( 4545): threadid=13: thr

[2015-07-14 18:43] E3V3A opened #548 "CellTracker looking for NCs even if nc_list_present is false"
Also see #100 and #264 for reference.

Apparently the [CellTracker]() keep on looking for NCs even if **`nc_list_present`** is set to **false**. Creating lots of unnecessary logs trying to re-poll NC list.

[code]

In addition, [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/22c0ca07599b0d62ec7816f3fcce27bfe33da9d6/app/src/main/java/com/SecUpwN/AIMSICD/service/CellTracker.java

[2015-07-14 18:57] SecUpwN commented on #543
@lop1, please add "```" before and after the logs or use a service like [PIE BIN](https://defuse.ca/pastebin.htm). It's easier to read.

[2015-07-14 18:58] banjaxbanjo commented on #548
@E3V3A it was synced the celltracker I was working on was  the same as new one so I copied my version  (apparently not) can you tell me what the problem is and I will sort it?

So I need to stop checking for nc phone doesnt support it.

We discussed first issue about timer already but my PR was mostly for DB not this issue

[2015-07-14 19:00] E3V3A commented on #543
I think this is a problem because CellTracker fixes were reverted as repo was not properly synched before DB Overhaul PR. See #548 .

[2015-07-14 19:02] E3V3A commented on #543
It's bloody impossible to tell what the hell this means or is coming from:
[code]

[2015-07-14 19:05] E3V3A commented on #548
@banjaxbanjo Yeah, look funny, because *your* PR contain some of the changes of *my* PR, but other changes has been reverted. Please compare the two links above.

[2015-07-14 19:08] banjaxbanjo commented on #543
@E3V3A this issue was here before db PR look at my screen shot.

[2015-07-14 19:11] banjaxbanjo commented on #548
@E3V3A here is the class before my pr eva

https://github.com/E3V3A/woork/blob/development/CellTracker1.java

I was going by changelog on the class and I thought it was touched since my last pr so my bad. I'll merge original back with my changes soon.

[2015-07-14 19:17] E3V3A commented on #548
Ok, so perhaps it's actually my fault. That is certainly not the same as the one in dev repo here. Seem that I've copy pasted the wrong (old) code, from blob hash. Dammit!

To fix, I guess we need to re-instate the stuff from the "*my*" PR above... as for the other code I have no idea...

[2015-07-14 19:21] E3V3A commented on #543
Hmmm, well then I have no idea.

[2015-07-14 19:21] banjaxbanjo commented on #548
@E3V3A no I say my class was a little older I will merge class on your repo with my changes so should be back to original behaviour.

[2015-07-14 19:23] E3V3A commented on #548
Huh?
No wait, what are you doing? Don't use stuff from my repo...

[2015-07-14 19:25] banjaxbanjo commented on #543
To me it feels like the method to get OCID key was changed recently and downloaded most recent version and got same error as @lop1 before the db pr. So will have to trace the problem

[2015-07-14 19:28] E3V3A commented on #543
Well AFAICR this started with the LACELLS and download window thing... which was then reverted after several new PRs... God know how bad it got messed up. But lets fix the new CellTarcker issue first.

[2015-07-14 19:29] banjaxbanjo commented on #548
@E3V3A lol I know that eva but in your work folder we put the original celltracker from latest dev before we started working on merging code. The one I had offline was older than this so I need to put my changes into that original.

[2015-07-14 19:32] banjaxbanjo commented on #543
We'll sort it shouldn't be a problem and personally I thing all the get OCID and anything related to it needs to be in its own class so we know where it is to trouble shoot it. Having  in celltracker doesn't make sense

[2015-07-14 19:34] E3V3A commented on #543
I agree!

[2015-07-14 19:35] E3V3A commented on #548
Ok, because there are other CellTracker changes made before my commit linked above, so i have no idea where your stuff starts and ends... Go ahead and make a CellTracker fix PR, and we'll simply see what happens.

[2015-07-14 19:36] banjaxbanjo commented on #543
And also get ocid key request should only take a second to get not 30 seconds like it currently seems on my phone.

[2015-07-14 19:54] E3V3A commented on #548
@banjaxbanjo

We have the same problem in sevreal other files. They were out dated versions... I have no idea how to track this back, but I just went through your DB UPDATE PR again...and found other inconsistencies...

[2015-07-14 20:26] E3V3A opened #549 "Using wrong type of SQL queries"
As I have [stated](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/de3c3a437bea1f64913f234e23e5cd64068ea20d/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L114-L141) over and [again](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/de3c3a437bea1f64913f234e23e5cd64068ea20d/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L323-L344

[2015-07-14 21:02] E3V3A opened #550 "Remove DBTableColumnIds.java and re-insert constants in Db adapter"
Transparency has been totally lost in latest DB update (overhaul) PR. We need to re-insert all the DB constants in clear-text into the AIMSICDDbAdapter.java file and remove DBTableColumnIds.java.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24340337-remove-dbtablecolumnids-java-and-re-insert-constants-in-db-adapter?utm_campaign=pl

[2015-07-14 21:29] banjaxbanjo commented on #549
@E3V3A its double the work to type these in hard coded form like this and not good for changes.

let me give you an example, I had to change lat in DBi_bts to to gps_lat because you didnt like how it looked,now I only had to change this value in the constants class and it was set everywhere this was used if I had to go with the hard coded method I would have to trace every possible place that this

[2015-07-14 22:06] E3V3A commented on #549
No it's not, because you have to remember the names of all the new constants, and if you have the schema diagram [here](https://cloud.githubusercontent.com/assets/194392/5824571/22bf9860-a0ee-11e4-8794-491c53d1c58a.png) in front of your face, it's piece of cake to read. Besides all the constants have different names so their re-use is minimal. Not to mention the huge bloating effect of using those

[2015-07-14 22:10] E3V3A commented on #549
PS. You changed the table name to use `DBi_bts`, but none of those columns exists in there, or did you change the internal DB as well?? Not using the SQL script to create the aimsicd.db is making this impossible to sort out, without spending considerable time to go grab it manually and then perform all the required queries on it.

[2015-07-14 22:12] E3V3A commented on #549
I really hate to have to deal with these tables like this, becuse it will prevent us from creating more complex queries as required for other detections later on. Or how to debug DB `views` and indexes etc...

[2015-07-14 22:17] E3V3A commented on #549
@banjaxbanjo  I'm not saying I'm not able to be convinced otherwise, but so far there is nothing very convincing in your above arguments...that would outweigh the transparency offered as I suggested.

[2015-07-14 22:29] banjaxbanjo commented on #549
@E3V3A I put a todo on that query saying its not working and missing columns so I didnt touch the rest of it and I dont think it's called anywhere plus its not my code.(I left there because I didnt know what you where trying to achieve with it)

I agree it is pretty hard to read and understand the query from a non programming point of view but development wise this speeds up the dev. I commented t

[2015-07-14 22:32] banjaxbanjo commented on #498
This doesn't happen on my phone quits with both methods quite strange

[2015-07-14 22:38] banjaxbanjo commented on #549
I've no problem changing tables to hard coded strings but its going to take time for me to do this, I dont know maybe its just me but the string format is cleaner instead of using  "bbbb"+"cccc"+"1211". Will work on it when I'm a bit fresher

[2015-07-14 22:43] E3V3A commented on #549
I didn't make it either, but it was used in deciding what cells to upload to OCID.

No, because you're the **only one** able to develop on this right now. Having transparency will allow others, including me, as I have before. Besides it is the SQL I'm talking about, not the Java extensions. As for using whatever you need to fill the tables, that is fine with me, but the queries themselves has to r

[2015-07-14 22:48] E3V3A commented on #549
I'm fine with using the `String.format()`...

[2015-07-14 22:50] E3V3A commented on #498
Actually I think it happens when the tracker and/or monitoring is already off... Need more testing.

[2015-07-14 22:53] E3V3A commented on #548
We need to backtrack every single java file in your PR to see if it was up-to-date before PR. I think we're looking at about 8-9 days back.

[2015-07-14 22:55] banjaxbanjo commented on #549
@E3V3A well as long as I didn't do a complete fubar on this I'll happily sort the issue for you guys, my db style isnt for everyone but this is the way I leaned it from lynda.com videos on android development and my personal choice but I'll change for the masses

[2015-07-14 23:00] banjaxbanjo commented on #549
@E3V3A about these tables and indexes not being right can you point these out so we can sort it.

[2015-07-14 23:02] E3V3A commented on #549
I have in various issues. Most notably you can see it by yourself in the DB Viewer where certain items have been switched around and others have nothing or ~0xfffffff in them. See #234 .

[2015-07-14 23:04] banjaxbanjo commented on #548
AIMSICDDbAdatper.java
CellTracker.java
RequestTask.java
Db veiwer

These are the main files Ive worked on most of the others are new files
 Map view is original with minor changes

[2015-07-14 23:10] E3V3A commented on #548
I've made changes to DB viewer today, and probably none for a long time before your PR, so perhaps its ok.

[2015-07-14 23:11] banjaxbanjo commented on #549
Ive only put in what was originally sent to these tables eva and half the values we can't get yet.

[2015-07-14 23:16] banjaxbanjo commented on #548
This is my fault for the outdated classes and I went over before copying mine over so just email me what needs fixing and I will sort asap. CellTracker requesttask classes are the ones not 100% up to date other's should be fine.

[2015-07-14 23:40] E3V3A commented on #549
I know, but it is not. Also some was wrong also before, I wrote some to you in email I think.

Now:
- `Unique BTS Data`: MCC,MNC are FFF FFFF (in dec)
- `BTS Measurements`:
  - **bts_id** should not be shown (but is currently showing CID which it is not) instead this should be replaced by CID.
  - bb_power, **rx_signal** is 0xFFF FFFF, better 0 or nothing (empty string) if so, **rx_signal** should

[2015-07-14 23:53] banjaxbanjo commented on #549
![2015-07-15 00 47 50](https://cloud.githubusercontent.com/assets/7005094/8687744/3bd390fa-2a8b-11e5-8edb-37512d7da04f.png)
Hmm this is odd because mcc on my phone are dec not hex. Also rx signal is not correct I just used rssi for this because I wasn't sure what was what and this is giving me a weird value as you can see in image and I also get this with psc. I'm getting these values from the ori

[2015-07-15 00:09] E3V3A commented on #549
please use the latest build with my changes, and screen shot showing your network connection stat

[2015-07-15 00:13] banjaxbanjo commented on #549
You mean the 32 build on fdroid? Or

[2015-07-15 00:13] banjaxbanjo commented on #549
Ah wrong button

[2015-07-15 05:42] SecUpwN commented on #548
WTF is this mess going on here, guys? Do we need to revert the whole database overhaul?

[2015-07-15 05:44] SecUpwN commented on #550
I don't want to blame anyone here, but why did you merge it when you did not check the whole thing? Let me know if you need mee to revert the whole database overhaul, we can press the `Revert` button.

[2015-07-15 05:53] SecUpwN commented on #455
Monitoring https://github.com/square/leakcanary/issues/110 and aiming to re-implement `leakcanary` after their fix.

[2015-07-15 06:52] DJaeger commented on #543
@E3V3A: How should this depend on SamsungMulticlientRilExecutor?

I have the same issue.
It does import anything and does not throw an error.
I use an own API key, not created within this app so it also doesn't depend on the key request.

[2015-07-15 07:16] banjaxbanjo commented on #548
No it can be fixed only celltracker and request task not completely up to date. All this can be sorted I dont see the big deal it was 3000+ lines of code we where going to have issues. It was my fault celltracker and request task not 100% I thought code looked identical so I copied mine over. MiscUtils I removed unneeded codee and had to chamge timestamp format. Mirror problems with that.

[2015-07-15 07:19] banjaxbanjo commented on #549
@E3V3A this PR was about db I'm not trying to redesign the whole gui here this is the way it previously was displayed

[2015-07-15 07:26] SecUpwN commented on #548
Thank you for clarifying. Hope you don't break apart given all the things E:V:A is requesting. Take a break any time you like and get in touch with me via E-Mail if you feel you need to talk. Keep rocking! :guitar:

[2015-07-15 07:38] banjaxbanjo commented on #548
There is nothing major missing only a few comments and a boolean check to display nc list from what I can see. Everything can be fixed in my opinion and this ocid error was present before me pr amd the funny is when I tried the get key last night it worked perfect. (Weird)

[2015-07-15 07:51] banjaxbanjo commented on #543
@DJaeger can you send me error from this crash to my email in contacts area

[2015-07-15 08:06] DJaeger commented on #543
It simply tells via toast, that it can't download data.
It doesn't crash or gives an error.

[2015-07-15 08:20] SecUpwN commented on #548
I can confirm that the OCID error was presnt *before* your pull request. Not your fault.

If you ask me, the OCID service is messed up somehow. Maybe a side-effect of their data cleansing?

[2015-07-15 08:36] DJaeger commented on #543
Wait...

On first my app also crashes with following error:
[code]

On second try it shows the toast @banjaxbanjo mentioned.
This toast is shown if following condition is not true:
[code]

This could not work as MCC and MNC are wrong

[2015-07-15 08:37] DJaeger commented on #543
Also LAC and CID in CellTracker are wrong, or not?

[2015-07-15 08:40] DJaeger commented on #548
Sounds like OCID servers were slow due to their cleaning.

[2015-07-15 08:52] DJaeger commented on #349
To track Cells you can use this one (really easy to use, but closed source):
http://zamojski.info/Features,Tower-Collector.html

[2015-07-15 09:20] DJaeger commented on #457
Why should we allow the user to active the feature on devices, that does not support it.
We should update the code to correctly detect if it is supported (currently if CDMA is available) and allow the user only to active it then.
Why should we allow the user to activate it on not supported devices.
It makes no sense to allow him to activate but tell him it will not work!?

[2015-07-15 09:22] DJaeger commented on #457
In addition:
The detection should be coded in a way, that allows to easely extent the supported devices.

[2015-07-15 09:39] E3V3A commented on #543
@DJaeger If you're refering to the log above, then no. You simply don't have any neighboring cell data. Especially if you're using s Samsung... What are you using?

[2015-07-15 09:42] E3V3A commented on #548
I increased the timeout to 80 secs, but I think that also was a commit the was reverted in DB PR... You need to check, as I don't have any time today. Just on my phone...

[2015-07-15 09:47] banjaxbanjo commented on #548
@E3V3A this time out is still 80 seconds and I've crossed checked the celltracker from 10 days ago and there was very little changes only only formatting so I dont understand what the big issue is with CellTracker I've emailed you on the details of whats been changed and removed

[2015-07-15 09:48] E3V3A commented on #550
There are over 3000 lines and hundreds of comments and several dozens old and new "TODO"s. Feel free to check! Given code freeze, we assumed that everything was synched. But we're only human and some assumptions and copy pastes later, we were out of sync...

I don't think its necessary to revert, but we need to check and compare to previous days code. This is the drawback with making huge PR's, we

[2015-07-15 09:52] E3V3A commented on #549
I know, I don't expect you to fix all that, but some of the issues above, are new. Especially the `Measured Signal Strengths` was working before. As was the GPS coordinate truncation, AFAICR. And AvgSignal and Range was not switched around.

[2015-07-15 09:55] E3V3A commented on #548
Ok, I'll look at email, but will not be able to respond for 2 days... I'm very busy elsewhere right now. I believe what you say.

[2015-07-15 09:57] banjaxbanjo commented on #548
No Problem, there is no major issues here and only minor stuff like comments from what I see everything else can be sorted.

[2015-07-15 09:58] DJaeger commented on #543
@E3V3A: Yes, it's a Samsung.
So let's skip the LAC/CID comment (which is also OT).

[2015-07-15 09:58] E3V3A commented on #543
Thinking. It could be a new unhandled error of overloaded BTS download. If MCC/MNC URL filters are wrong, their API will attmept to download ALL BTS in their DB in that BBOX. Could be more than 1000, so theres no telling how our code behave if that is too much...

[2015-07-15 10:00] banjaxbanjo commented on #549
@E3V3A I'm sure I've ask you to sort AvgSignal for me as I'd no idea what goes where as you can see in my comments with the pr

https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L1873-L1876

[2015-07-15 10:03] E3V3A commented on #543
Or perhaps your AOS has set the number of concurrent process to few. Like 1? What is happening here:
[code]

[2015-07-15 10:07] E3V3A commented on #549
Ahh,

`TX = Transmit, RX = Receive`

So **rx_power** is almost the same as API signal strength (depending on RAT, but nver mind that), so use that. **tx_power**, we don't have, so you can comment it out.

[2015-07-15 11:28] DJaeger commented on #543
That could be, that they changes the API and gives back an error.
At first try it crashes imadiatly after starting.
At second try, it takes very long before the toast apears (timeout?).

The ActivityManager is every time involved if a app crashes.
This is only a logcat filtered by "AIMSICD" occurency.

[2015-07-15 11:29] SecUpwN commented on #457
The thinking behind that was that *if* we cannot ensure that the code is definitely working on that device, let the user still activate the button to enable it even though a proper check is lacking.

If you can do that, this would be great! So the new proposal (and likely the one with more sense) would be to **gray out** the button for *non-supported devices* and replace the message `(currently CD

[2015-07-15 12:02] banjaxbanjo commented on #215
@DJaeger

Lol

$10 for this much coding a the bargin  of the century☺

[2015-07-15 12:49] DJaeger commented on #543
Manually typed the builded request url into my browser and get the following message after long time:
[code]
Seems like a timeout.
If I specify MNC and MCC I get a correct result.
So this is only failing if MNC and MCC is left out (which is the case if it is MAX_INT like here).

MNC and MCC are left out if they are MAX_INT here:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/develop

[2015-07-15 12:51] E3V3A commented on #457
Actually the entire Femto-cell code as it is now, will soon be redundant. If we can support CDMA in general, the femtocell detection is trivial, and the current code could be dropped.

[2015-07-15 13:05] E3V3A commented on #543
@DJaeger  Great bug hunting!

[Here](http://wiki.opencellid.org/wiki/API#Error_codes) are the Open Cell ID API Error Codes.
[code]

If the above fixes doesn't work:

Try to use normal logcat without that filter. You're missing a lot of useful info.

[2015-07-15 13:10] DJaeger commented on #543
We should catch and log the error codes from OCID.

[2015-07-15 13:11] DJaeger commented on #543
Is the code still freezed?

[2015-07-15 13:29] DJaeger commented on #548
except of this line it is simply reformatting in ```d590e2ea774750d12177d9151d12ddf86b4b8b42```:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/d590e2ea774750d12177d9151d12ddf86b4b8b42#diff-9386af9ad86862d793ce1c985d760babR708

But this commit is much more relevant:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/75ec459ff4920b251c1a3ceb0c95900f265f4a98

[2015-07-15 13:59] SecUpwN commented on #543
@DJaeger, nope, we're in development mode again. ;-)

[2015-07-15 14:14] SecUpwN commented on #349
Thanks for mentioning this app, @DJaeger. I just invited @zamojski to our project. Cheers!

[2015-07-15 14:23] DJaeger commented on #457
@SecUpwN: I think I have found a method to detect if CDMA is available, but have to check that some deeper

@E3V3A: But this will still not support ALL devices, right?
So why should we drop this?

[2015-07-15 14:35] SecUpwN commented on #457
Ok, take your time. You may have a look at #6 as well, we have a lot of useful code in there.

**This** Issue in specific was just about the toast message `Femtocell detection is available on CDMA only` appearing on a CDMA device which should in fact be supported, but this Issue somehow evolved. I hope my updated OP makes sense to everyone now, when this is fixed we'll move back to #6.

[2015-07-15 18:23] E3V3A commented on #303
[Here](http://wiki.opencellid.org/wiki/API#Error_codes) are the OpenCellID status codes. We should probably try to check for these.

| Error code | HTTP code | Description |
|:-----------|:----------|:----------- |
1 |	200 |	Cell not found
2 |	401 |	Invalid API key
3 |	400 |	Invalid input data
4 |	403 |	Your API key must be white listed in order to run this operation.
5 |	500 |	Internal server err

[2015-07-16 06:44] DJaeger commented on #543
Ok, I will do a PR.

At least this part is the same as #525.
I will look, if this also fixes the crash on fist try.

[2015-07-16 06:47] DJaeger commented on #543
The catch and lof of the OCID codes is partly done in #551.
I will do a PR that extends this with a description, like mentioned in #303.

[2015-07-16 06:47] E3V3A commented on #543
I just hit merge from @banjaxbanjo PR, giving me buildozer b215.

[2015-07-16 06:55] DJaeger commented on #543
Also the log of the OCID codes should be done on other parts, where a OCID request is done.

[2015-07-16 07:19] DJaeger commented on #504
I think we should at least support multiple SIMs in a basic behavior.
The should at least use/check/track the towerdata of both SIMSs.
As they can be of different providers they will see different cells.

Also the SIM details should be show in the SIM details activity.
This could be done with a dropdown to choose one of them or by simply view them one under the other.

[2015-07-16 08:03] E3V3A commented on #504
I don't see any benefit at all for being able to do this. This OT "feature" seem totally irrelevant for the primary goal of AIMSICD. Use your SIM manager to switch your SIM or physically swap them.

The **only** possible benefit for this, is **IF** you (for example) could access the baseband and force SIM-1 to use LTE and SIM-2 to use UMTS, on the **same** MNC. I don't see anyone presently here, t

[2015-07-16 09:12] DJaeger commented on #251
How about checking GPS before using it and not simply forcing it to use and if it is not active showing a dialog like the following?

<table>
  <tr>
    <td colspan="3"><b>GPS disabled</b></td>
  </tr>
  <tr>
    <td colspan="3">
      AIMSICD can not check and/or track<br/>cells if GPS is disabled.
      <br/>
      Do you want AIMSICD to wait for GPS,<br/>stop cell checking/tracking<br/>or react

[2015-07-16 09:17] DJaeger commented on #504
The primary goal of AIMSICD is to detect IMSI Catchers.
Why should we only detect them on the first SIM?
What is with IMSI catchers the second SIM is connecting to?

[2015-07-16 09:21] E3V3A commented on #251
Whats the difference between wait and reactivate?

[2015-07-16 09:26] DJaeger commented on #251
"Wait will wait until it is activated next time, for example if you activate GPS yourself if you leave your house.
"Enable GPS" (reactivate) will active it imadiately or redirect the user to do it himself.
The text should be optimized to be more clear, this is only a first proposal.

[2015-07-16 10:02] E3V3A commented on #543
Now app crashes for me too, that it didn't before!!

[2015-07-16 11:09] lop1 commented on #543
same problem with this new build "48". crashing when downloading OpenCellId.

[2015-07-16 11:13] DJaeger commented on #543
@lop1: something different than before?
We didn't anything to fix this until now, but it's curious, that @E3V3A hadn't this issue before, but now.

[2015-07-16 11:17] DJaeger commented on #543
I have an idea why it sometimes crash and sometimes only gives an error.
Let me check.
This idea could also clarify, why @E3V3A Hadn't this issue before.
@E3V3A: Did your app only not crash but also gives an toast for failure or worked it and successfully imported, before #551?

[2015-07-16 11:19] lop1 commented on #543
my logcat :+1:
"
I/AIMSICD (12341): RequestTask: DBE_DOWNLOAD_REQUEST write to: /storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/OpenCellID/opencellid.csv
D/SensorManager(12341): unregisterListener ::
I/location(12341): Last known location (48.81264°, -3.46938°) = (0.8519412845906849 rad, -0.06055210400284087 rad)
I/DbAdapter(12341): DBi_bts Updated Cid=50249310 Lac=25367
I/DbAdapter(123

[2015-07-16 11:22] SecUpwN commented on #543
@lop1, please check where you get the build number from, it can't possibly always say `#48`. Press the `About` button to check. Should this appear in the Buildozer app, please contact their support!

[2015-07-16 11:24] lop1 commented on #543
Something strange when You click on a bts in the map,  no MCC and no MNC. ..

Envoyé depuis mon mobile

<div>-------- Message d'origine --------</div><div>De : Daniel Jäger <notifications@github.com> </div><div>Date :16/07/2015  13:18  (GMT+01:00) </div><div>À : SecUpwN/Android-IMSI-Catcher-Detector <Android-IMSI-Catcher-Detector@noreply.github.com> </div><div>Cc : lop1 <65c02@orange.fr> </div><di

[2015-07-16 11:25] E3V3A commented on #543
@DJaeger

Strange language there, but Yes, OCID download worked before that PR, with correct toast. (Even if it took along time.) Then after PR. No toast and FC after long wait.

[2015-07-16 11:27] E3V3A commented on #543
@lop1  That is just an artifact of #228

[2015-07-16 11:32] lop1 commented on #543
here is the last info in bulldozer :

On 16 Jul 2015, at 13:22, Security: Pwned. <notifications@github.com> wrote:

[2015-07-16 11:33] lop1 commented on #543
I wrote to the bulldozer support to have this fixed, sorry.

btw : why can't we see pictures here ?

[2015-07-16 11:37] SecUpwN commented on #251
**THANKS, this sounds like a *much* better solution to me, @DJaeger! Enhanced text proposal (removed the wording around checking, because as far as I know our app currently continuously checks cells if they match the imported OCID database - please correct me if I'm wrong here):

<table>
  <tr>
    <td colspan="3"><b>GPS disabled</b></td>
  </tr>
  <tr>
    <td colspan="3">
      AIMSICD can not t

[2015-07-16 11:45] SecUpwN commented on #504
Thank you for adding your valuable opinions, folks. I *really* like what has been proposed in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/504#issuecomment-121856461 and am voting for the *dropdown menu* so that details for each SIM can be compared by the user. @DJaeger, are you able to tackle this first basic implementation? Any further enhancements to this are appreciated as w

[2015-07-16 11:50] SecUpwN commented on #543
@lop1, what? You did not link any Buildozer output!

We do have pictures in here. Strange settings in your browser? Let's keep focused, please.

[2015-07-16 11:52] E3V3A commented on #251
From that window it is still not clear to the user what is the difference between Waiting and Enabling...and neither do I.

[2015-07-16 11:56] E3V3A commented on #504
@SecUpwN Seem like you're not believing what I'm saying. I repeat, I don't see anyone capable of modifying the baseband behavior here, so, drop it!

If you just wanna see the IMEI, and service provider for both, fine. But don't think for a second you're gonna be able to use both at the same time in this app.

[2015-07-16 12:01] SecUpwN commented on #504
@E3V3A, so you don't think that we should at least implement some basic checks?

[2015-07-16 12:16] lop1 commented on #543
Same problem withe new build.

"
I/AIMSICD (31817): RequestTask: DBE_DOWNLOAD_REQUEST write to: /storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/OpenCellID/opencellid.csv
E/AIMSICD (31817): SamsungMulticlientRilExecutor: Local write() error: not connected
W/dalvikvm(31817): threadid=13: thread exiting with uncaught exception (group=0x41874da0)
"

[2015-07-16 12:26] lop1 commented on #543
I tried to get a new key for OpenCellId , but I got an error message that I have always had a key today ( which is not true ) and a java runtime exception.

"D/OCID Response(21562): Error: You can not register new account more than once per day. Code=503
E/OpenCellIdActivity(21562): Can't create handler inside thread that has not called Looper.prepare()
W/System.err(21562): java.lang.RuntimeExcept

[2015-07-16 12:47] SecUpwN commented on #543
@lop1, thanks for testing, but we already know this. See https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/543#issuecomment-120874189.

[2015-07-16 13:09] E3V3A commented on #303
We should also add a check for the server availability [status](http://opencellid.org/ocid/status) (json):
[code]

[2015-07-16 13:12] DJaeger commented on #543
@lop1: Until now nothing is done to fix it.
Please wait until someone tells you to recheck and not tell us after every not related new build, that it still not work.
I will take some coding time end of this day to fix some issues.

[2015-07-16 14:47] E3V3A opened #555 "dalvikvm: Could not find class"
Get the following error:

[code]

Did we forget to update [DeviceApi17.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/utils/DeviceApi17.java) for DB overhaul?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24443633-dalvikvm-could-not-find-class?utm_campaign=plugi

[2015-07-16 14:56] zamojski commented on #349
Thanks for mentioning my app. Tower Collector simply collects current cell and performs very basic validation checks on retrieved cell ID. As far as I know there is no option to check if the cell is real or not, at least through Android API. Regarding OCID, they have some data filtering applied but in general you can't fully rely on data to check if the cell exists in reality or not. That's my opi

[2015-07-16 15:12] SecUpwN commented on #555
Seems like it. Can't find any modifications in #547. What's missing?

[2015-07-16 15:39] DJaeger commented on #555
Maybe this helps?
http://stackoverflow.com/questions/19071702/could-not-find-class-android-telephony-cellinfolte

[2015-07-16 15:42] SecUpwN commented on #555
@DJaeger, would you suggest adding this to `DeviceApi17.java`?

[code]

[2015-07-16 20:24] MatejKovacic opened #556 "APN detection"
I am pretty sure we all heard story about Hacking Team being hacked and their data, including e-mails, published.

Now, there is one interesting e-mail here:
https://wikileaks.org/hackingteam/emails/emailid/449991

It says:

"*Data transmission from mobiles: we have 2 ways here.
1) the solution is able to detect open wi-fi networks and preconfigured/saved networks­.

2) the client can buy from the

[2015-07-16 20:35] SecUpwN commented on #556
Just tossing it in: The leaked source code of HackingTeam is available at @HackedTeam.

[2015-07-17 12:26] SecUpwN commented on #215
@E3V3A, I have just sent @banjaxbanjo a EUR 50 UKASH code since he really did an awesome job. Please take some quality time to add a testing procedure here so that we can work to finally close this.

[2015-07-17 12:39] SecUpwN commented on #479
Ok, thanks for finding that out, looks like we found the last bit to solve! @d4rken, your app [Trust](https://github.com/d4rken/trust) is currently using targetSdkVersion `19` and thus gets displayed like we want. My question: Would you recommend me to set our targetSdkVersion from `21` to `19` to solve this?

[2015-07-17 16:47] #550 closed

[2015-07-17 22:22] E3V3A commented on #555
Apparently I had [already posted](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/143#issuecomment-58651468) in #143, about this exact problem one year ago!!

[CellInfoWcdma](https://developer.android.com/reference/android/telephony/CellInfoWcdma.html) belongs to API 18 (AOS 4.3). Thus **DeviceApi17.java** should probably be called ** DeviceApi18.java** and using `...SDK > 17` inst

[2015-07-18 12:06] DJaeger opened #558 "Recheck current cell after OCID download"
If you see an "OCID cell not found" notification you will probably download OCID data for your current location. But the notification stays on not found state, as it doesn't recheck existence of current cell after newly imported cells. It only checks against new data after cell change or app restart.

**Reproduce by:**

1. Download BTS-Data
2. State of current cell does not change

The cell is in

[2015-07-18 15:12] banjaxbanjo commented on #479
@SecUpwN set it to 19 and test app if it looks and functions as its supposed to then there should be no issue but more opinions from others devs would be good idea. God knows what might change from changing 21>19

[2015-07-18 15:16] E3V3A opened #559 "Use INTEGER type for all time ralated database columns"
**Background**

SQLite3 deals with time and date a little differently than other databases. One big difference is that there is no DATE or TIME related data type. It can use any type such as TEXT, INTEGER or REAL etc. This is actually a blessing, because it can greatly simplify the entry and processing of timestamps. Something we're very fond of here. But in our case **there is a clear advantage t

[2015-07-18 17:58] TPS commented on #457
I'm all ears, & ready & willing to test any improvements to this, with my
great thanks!

On Wed, Jul 15, 2015, 10:35 AM Security: Pwned. <notifications@github.com>
wrote:

--

https://zhjf9h10ji3.ting.com/

[2015-07-19 01:40] ehem commented on #504
While I've got no idea whether this cannot be controlled by AIMSICD, precisely *this* is entirely possible with my phone. The 3G/4G protocols can only be used on one SIM at a time, the other SIM can _only_ be using the 2G protocol.  The SIM which the 2G/3G/4G hardware is talking to can be forced to _only_ use the 3G/4G protocols.  While I doubt AIMSICD could force both SIMs to use the same MNC, AI

[2015-07-19 02:00] ehem commented on #349
Isn't the "Upload BTS Data" ("upload_bts") supposed to implement uploading tower data? Is this functionality currently working? (this would explain observations)

[2015-07-19 02:19] ehem commented on #545
The two that I've found so far are [WiFi Privacy Police](https://github.com/BramBonne/privacypolice) and [WiGLE Wifi Wardriving](https://github.com/wiglenet/wigle-wifi-wardriving).  I'm quite unsure of how much potential value there is here.  These are similar in that given a location, some set of 802.11 access points *should* or should *not* be found, unexpected access points can be suspicious.

[2015-07-19 19:05] E3V3A commented on #543
@lop1  Please re-test with latest. I think this is finally fixed now.

[2015-07-19 19:08] E3V3A commented on #537
For some reason the SMS detection doesn't work in the latest build 227...

[2015-07-19 19:16] lop1 commented on #543
this one is GREAT :+1:
- ask new key for opencellid  :  OK
- download cells from opencellid  : OK
- map of the cells around  :  OK  ( just a little mistake between the connected BTS and the localization of the phone , but cells around OK )
- backup of database  :  OK
- exit of the app  :  OK

:+1:

[2015-07-19 19:23] banjaxbanjo commented on #537
@E3V3A  I'll do some testing adding the -b main makes it slightly longer to detect. I've tested wap and mwi recently and seem to be working ok will check again aswell as type0.

[2015-07-19 19:47] E3V3A commented on #543
Fantastic!

[2015-07-19 19:47] #543 closed

[2015-07-19 20:38] SecUpwN commented on #537
Does this keep us from releasing tonight?

[2015-07-19 20:42] SecUpwN commented on #545
@ehem, thanks for clarifying, but this Issue is closed already. Our app has *nothing* to do with WIFI, but with your cellular connection base stations. Please make sure to read our [README](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/README.md) and [WIKI](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki). Thanks!

[2015-07-19 20:42] E3V3A commented on #558
This is unclear. Can you please provide instructions for reproducing error? (And suggestions for a fix, if you have it?)

[2015-07-19 20:46] E3V3A commented on #303
Just implemented the table above in 575982e3d9dbbd818a38836e3cdd01dfbf3d949e

[2015-07-19 20:47] SecUpwN commented on #349
@E3V3A and @He3556, would you please add some clarification on this question here (without freaking out because it is even being asked again) before I **LOCK** this Issue? As far as I know, the upload procedure currently works but of course it is not sufficient because our app stays at status yellow most of the time. What was it that we're doing to improve this behavior, making our app really stay

[2015-07-19 20:48] E3V3A commented on #303
@banjaxbanjo  BTW. Can we [delete the OCIDResponse.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/575982e3d9dbbd818a38836e3cdd01dfbf3d949e/app/src/main/java/com/SecUpwN/AIMSICD/activities/OpenCellIdActivity.java#L157-L159) class?

[2015-07-19 20:52] E3V3A commented on #349
The icon **should stay yellow** since there is no way to verify anything about an unknown cell. Trying to do something else would be very counter productive. (LIke asking user to accept unknown cell.)  So until mobile service providers can provide exact BTS locations and secure A5/3, it should do exactly this.

[2015-07-19 20:57] banjaxbanjo commented on #349
This status can easily be set back to green when the cell not in ocid event is logged but if we connect to this cell again leaving it green status would probably be bad since we no nothing about this bts and having a minor yellow warning gives some caution to user to be on alert.

Should there be an icon for connected to know cell or is green covering this.

[2015-07-19 20:59] banjaxbanjo commented on #303
Yes I don't this its used anywhere else from what I've seen

[2015-07-19 21:01] SecUpwN commented on #479
@E3V3A, may I change [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/build.gradle#L46) back to `19` to test if this fixes this Issue?

[2015-07-19 21:03] E3V3A opened #561 "inverted logic found on isExact"
In the DbViewerFragment.java, the [isExact](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/55bd49ccd8797d0619fe0b323c4c333a0925a695/app/src/main/java/com/SecUpwN/AIMSICD/fragments/DbViewerFragment.java#L322) has reverse logic, since it is using OCID's [changeable](http://wiki.opencellid.org/wiki/API#.22changeable.22_attribute) attribute.

@banjaxbanjo How can we reverse the logic of

[2015-07-19 21:05] E3V3A commented on #349
Exactly, it revert to green, once your device reconnect to known cell. Just tested today.

[2015-07-19 21:06] E3V3A commented on #479
I suggest you change nothing unless you're going to compile it and see if it works.

[2015-07-19 21:06] banjaxbanjo commented on #561
@E3V3A I don't get what you're saying eva is isExact = changable?

[2015-07-19 21:08] E3V3A commented on #561
No, it is: `isExact = !changable`. I.e. the opposite Boolean.

[2015-07-19 21:09] SecUpwN commented on #558
1. Download the OCID database.
2. AIMSICD shows #349 if the CID has not been uploaded yet (normal).
3. Here is where *this Issue* appears: The CID is does not get checked again!

@DJaeger, not sure if this Issue is even solvable by us, because if you upload your CID, it needs approval by OCID before it gets added to the database that one can download. Feel free to correct me.

[2015-07-19 21:11] banjaxbanjo commented on #561
Ah so this value from ocid is boolean 0 or 1. I thought it was int with random values. Do you want this to display true or false.

True if exact
Fasle if not??

[2015-07-19 21:13] SecUpwN commented on #479
I just asked @He3556 to craft a test version with this change for me to test on Lollipop. ;-)

[2015-07-19 21:14] E3V3A commented on #558
Exactly. In addition it takes time for approval, which is very good! So because of this and what we said in #349, we should close this.

[2015-07-19 21:15] E3V3A commented on #561
Aooouuh man! :D I just want it to show the opposite of what it is already showing... `0 -> 1 and 1 -> 0`

[2015-07-19 21:20] SecUpwN commented on #558
It may be that I did not understand the core problem @DJaeger had. If I misunderstood it, please clarify and add the things @E3V3A requested and we will immediately re-open this. Thank you.

[2015-07-19 21:24] banjaxbanjo commented on #561
I'm a bit dumb sometimes😃.

You'd need to move it out of where its inserted and then do.

Int exact = tableData.getInt(tableData.getColumnIndex(DBTableColumnIds.DBE_IMPORT_IS_GPS_EXACT));

if (exact == 0){exact =1;}

Then do

"isExact: "+String.valueOf (exact),

[2015-07-19 21:35] E3V3A commented on #561
Well if I could understand the masked java for the SQL you use, we can probably just do it there, with something like `NOT isExact` or something. Can you clarify how the SQL look for this?

[2015-07-19 21:42] DJaeger commented on #558
I have never said something of uploading!?

Reproduce by:
1. Download BTS-Data
2. State of current cell does not change

The cell is in the OCID database.
After restarting the app the state is updated and finds the cell.

[2015-07-19 21:48] E3V3A commented on #558
aah i see now...

[2015-07-19 21:50] E3V3A commented on #558
It's a similar issue to #284.

[2015-07-19 22:04] #479 closed

[2015-07-19 22:15] SecUpwN commented on #535
@E3V3A, please re-check. https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/deb50bfc7125f601707162a2b4c3f206e52af5bb might have solved this.

[2015-07-19 22:40] DJaeger commented on #558
Similar, but not the same.

[2015-07-19 23:33] E3V3A opened #562 "Use REAL type for all GPS related database columns"
Because we use GPS coordinates in the decimal form for lat/lon, we can save our coders a lot of trouble by using the **REAL** datatype for all GPS related DB items, instead of TEXT. These are: **`gps_lat/lon, gpsd_lat/lon, gpsd_accu,  gpse_lat/lon`**.

[2015-07-19 23:59] DJaeger commented on #535
I can't reproduce

[2015-07-20 06:11] E3V3A commented on #535
Neither can I. :)

[2015-07-20 06:11] #535 closed

[2015-07-20 06:40] E3V3A opened #563 "Need to update DB ER diagram in Wiki and Issue #215"
Because of many recent changes in the DB we need to update the Entity Relationship diagram in the Wiki, and as displayed in issue #215, and possibly elsewhere. My most recent **aimsicd.sql** file can be found [here](https://github.com/E3V3A/woork/blob/development/aimsicd5.sql). New diagram need to correspond to that.

However, we probably should integrate all changes before publishing diagram.

<b

[2015-07-20 07:46] E3V3A commented on #561
@banjaxbanjo
I don't like that solution, as it masks what is really in DB. This should be changed in the import processing of the CSV file, into DB. Posted temporary fix in: f2368168fd0c47be30ca3ca12a03ace732e5ff98

[2015-07-20 07:50] E3V3A commented on #525
This need to be fixed naaaooow!

[2015-07-20 10:36] lop1 opened #564 "cell not in database"
when my phone is connected to a rather distant BTS ( around 7 km from my house ), and this BTS is in the opencellid database, AIMSICD show a yellow icon (cell not in database).
It seems that the BTS should be within 5 km to be recognised by the app.

ps : It was retested several times, with several clean installs of the last build

<bountysource-plugin>
---
Want to back this issue? **[Post a bount

[2015-07-20 11:36] banjaxbanjo commented on #564
@lop1 have you gone to this area with your gps on and then downloaded cells for this area with app?

Even tho its in ocid it doesn't mean you have it downloaded.

[2015-07-20 11:43] lop1 commented on #564
hi,

it is clear that this BTS was not downloaded in the app. I drove to this BTS ( I know all of them by their first names ;-) ) and make a new download and this was fixed.

the problem is that after a new clean install, the app does not load the BTS that are a bit far away ( more than 5 km ?? ).

I understand that there must be a limit to the size of the download from opencellid , but in a low d

[2015-07-20 12:05] banjaxbanjo commented on #564
The trouble is at the moment this app is very alpha and we change db design continously till we have it the way we want so if we change a column from text to int this will stop db from copying over your old saved tables. Bit like your installing app for first time with  no data

[2015-07-20 13:03] DJaeger commented on #564
The app is downloading a maximum of 1000 cells in a radius of 2km arount you if you trigger the download.
This will be extended and is already filed in #303.

After downloading the state displayed in notification is not updated, so it will change not before restart app or cell change.
This will also be fixed and is filed in #558.

If your issue is another one, please clarify, what's your issue.

[2015-07-20 13:04] DJaeger commented on #564
If your issue is one of the mentioned, please move there and close this.

[2015-07-20 13:14] lop1 commented on #564
My issue is that the app download 23 BTS , in these BTS there is not the one I am connected to which is 7 km from my phone. I am in a low BTS density place , and the BTS I am connected to is on a hill.
So when I launch the app the icon is yellow and stays yellow even after several re launch..

To clarify this , I drove to the BTS and  make a download near the BTS and then after re launch, the icon

[2015-07-20 15:09] E3V3A commented on #564
What @DJaeger said. AND...OCID DB doesn't contain all BTS, rather very far from all. You need to upload the BTS's you know are ok by using the OpenCellID's own app, or others... Go to their website and look for the [inViu OpenCellID](http://wiki.opencellid.org/wiki/Data_sources) app.

[2015-07-20 15:09] #564 closed

[2015-07-20 15:20] #561 closed

[2015-07-21 13:51] swordsteel opened #567 "Toggles are fantastic!"
Hi Guys

Thanks for the new toggle features. This really helps to keep battery life going.
Would like to ask if you could impement a toggle for GPS, so cell monitoring can take place with or without GPS. This would really save on battery life.
Add to this, could you guys implement toggle on stingray detection?
This app is really starting to mature. Thanks for the hard work.

[2015-07-21 17:52] E3V3A opened #568 "Fix and make DBV xml style sheet template"
We need to make a template for the xml stylesheets used in the Database Viewer (DBV).
As a start I tried to fix the [dbe_import_items.xml]() style sheet that is used to display the `Imported OCID Data`. However, it seem that I didn't get it right. This is how it looks right now, and I don't seem able to get rid of the huge vertical space between the `tLast` (time_last) and `Source` (DBsource) item

[2015-07-21 18:07] E3V3A opened #569 "Update Wiki Development Status"
We need to update the [Development Status](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Development-Status) as shown on our Wiki, to reflect new functionality and fixed items etc. Especially in the WIP section.

[2015-07-22 05:55] DJaeger commented on #555
As of our build.gradle the app supports API 16 and up.
So this class should not be used in API 16-17.
So you are correct, @E3V3A.

[2015-07-22 06:30] DJaeger commented on #504
Why should it be suspicious if a phone with SIMs from one carrier are connected to different cells?
Is it not possible on moving, that one has already connected to the next cell, while one is still connected to the previous and will change a little bit later?

If both SIMs are from different carriers and see the same cell this is realy suspicious.
But is this possible, as they should have differen

[2015-07-22 06:31] DJaeger commented on #504
What is the problem with "may provide more data." ?
This is the part I mean, what we should do.

[2015-07-22 14:05] TPS commented on #457
@SecUpwn In https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/457#issuecomment-121217482 , you mentioned

Has @lop1 indeed reported having the same issue as myself?  If so, I'd really like to hear about it!

[2015-07-22 14:25] lop1 commented on #457
But I am not using a CDMA phone ( only pure GSM Galaxy S4 mini )

[2015-07-23 08:48] E3V3A commented on #567
Thank you @swordsteel. But the toggles aren't that new. For additional features and request, please go through our current github issues, and feel free to make some Pull Requests to implement what you want. In your case, probably #309 among others.

[2015-07-23 08:49] #567 closed

[2015-07-23 08:52] E3V3A commented on #512
@SecUpwN

Any progress or just talking? ( I don't mind either, but it's been more than 2 weeks and I'm only asking...)

[2015-07-23 09:01] E3V3A commented on #555
Ok, so who's changing it?
* Should I rename the DeviceApi class?
* Should I increase the **if**s? (Will that break anything?)

[2015-07-23 10:33] #555 closed

[2015-07-23 10:35] DJaeger commented on #512
@SecUpwN: Is @SgtObst working on the icons itself or the implementation or both?

[2015-07-23 10:36] E3V3A commented on #480
Fixed with 63db93ba03ef8e7153951c6a0aba1d53adbe5798

[2015-07-23 10:36] #480 closed

[2015-07-23 10:38] E3V3A commented on #548
@banjaxbanjo Can we close this? Please post what PR fixed it. Thanks.

[2015-07-23 10:56] banjaxbanjo commented on #548
@E3V3A this was the fix eva
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/d6f9e22d338a83678d927e6eb5e7f9cfbea6d19d

[2015-07-23 11:23] #548 closed

[2015-07-23 11:23] E3V3A commented on #548
Thanks

[2015-07-23 11:28] dummys commented on #219
Hi, I'm trying to parse the result of AT command on a MTK device. Did you have figured it out which one it is ? I tried the ttyGS0 but without luck using the atinout tool. Here is the thread on XDA: http://forum.xda-developers.com/general/networking/send-raw-command-to-mtk-baseband-t3163425
In logcat I can't find any related stuff about AT, the only result I have it's enabling the mtklogger in the

[2015-07-23 15:44] E3V3A opened #570 "Fix spelling error DOWNLOAD_LOCAL_BST_DATA"
Fix the wrong spelling of `DOWNLOAD_LOCAL_BST_DATA` which should read `DOWNLOAD_LOCAL_BTS_DATA`. This is present [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/search?utf8=%E2%9C%93&q=DOWNLOAD_LOCAL_BST_DATA).

This problem also occurs in `help_app_download_local_bst` which are present [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/search?utf8=%E2%9C%93&q=help_app

[2015-07-23 22:02] E3V3A commented on #525
Awesome!!! :tada:

[2015-07-23 22:02] #525 closed

[2015-07-23 22:28] DJaeger commented on #525
Thanks

[2015-07-24 12:36] andr3jx commented on #219
@dummys I see your question is not relevant for the project but I'll help anyway.
If you want to see radio log you need to use `logcat -b radio`. [Read this post](http://forum.xda-developers.com/showpost.php?p=53679792&postcount=286) to learn how to send AT commands from commandline.

[2015-07-24 14:54] dummys commented on #219
Wow, i'm so dumb... I already read that, but you know what ? It's better working when a sim card is inserted :dancer:
Thanks a lot for your help.
Cheers,
Jon

[2015-07-26 17:40] inderjeetuiet commented on #570
I would take this issue, would be good start to understand the code. Thanks

[2015-07-26 18:52] inderjeetuiet commented on #568
You can assign me this bug

[2015-07-26 20:12] SecUpwN commented on #564
Thanks for managing this, @E3V3A. I'll label this as `BUG` and `INVALID`.

[2015-07-26 20:55] SecUpwN commented on #561
@E3V3A, why do you close that Issue with a "temporary fix" that you do not even like? Please re-open this if anything else needs to be done until this Issue is *really* fixed this the way it should be. Thank you!

[2015-07-26 20:56] SecUpwN commented on #569
I had advised @He3556 to do so last week and he told me this should be current. What is missing?

[2015-07-26 20:59] SecUpwN commented on #504
@E3V3A and @He3556, please help to answer the quoted questions. Thank you.

[2015-07-26 21:03] SecUpwN commented on #563
@E3V3A, since I host all pictures on our secured SpiderOak account, please just sent me the new diagram via E-Mail and I'll update it ASAP. I guess it makes sense updating it now, but highlighting the things that still have to be implemented with a separate color and a small legend below the diagram.

[2015-07-26 21:09] SecUpwN commented on #512
@E3V3A, please don't push me, I have a private life to manage as well! Thank you for caring.

I am still waiting for the Icons and will then present them here first. Please **be patient**!

@DJaeger, likely just the Icons since he seems overloaded with many projects and his exams in the meantime. If you'd like to, you may tackle the implementation once we've agreed on the upcoming Icons.

[2015-07-26 21:16] SecUpwN commented on #457
I might have confused the two of you. Sorry about that. ;-) @DJaeger, you said you had found a method to detect if CDMA is available? Please feel invited to add it so that @TPS can run some tests!

[2015-07-26 21:22] #570 closed

[2015-07-26 21:25] SecUpwN commented on #568
Woof, woof! :dog: You're "allowed" to take it, feel invited to craft a pull request.

[2015-07-26 21:54] SecUpwN commented on #455
@E3V3A, this Issue and related errors around `SnapshotException: SnapshotImpl_Error_ObjectNotFound` should have been fixed with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/455. Shall I re-add `leakcanary` now?

[2015-07-26 22:57] SgtObst commented on #512
@all I am back from sportsbusiness. I will give it a try this night! Stay tuned!

[2015-07-27 04:08] redbassett commented on #512
Peanut gallery comments:

:+1: for Sample 1. If Sample 2 was used, I'd recommend including the negative space in the tower icon from Sample 1, but I prefer the loading-bar style with a single icon more than the gradual icon pieces.

[2015-07-27 07:56] E3V3A commented on #570
Thanks a lot @inderjeetuiet for helping us out wit this. And BTW Welcome to AIMISCD development!

[2015-07-27 07:58] E3V3A commented on #568
It's already been fixed by @banjaxbanjo . However, the source and item counter should be separate entities.

[2015-07-27 08:00] E3V3A commented on #455
I hate leakcanary and really don't wanna see it back in here, confusing all the users and new developers, who would still remain clueless what to do about it.

[2015-07-27 11:12] DJaeger commented on #455
I would leave it out too.
I see no adventage of it over the already available debugging
possibillities.

--

Mit freundlichen Güßen

Daniel Jäger

[2015-07-27 14:21] DJaeger commented on #512
Ok, I will wait for and look into.

--

Mit freundlichen Grüßen

Daniel Jäger

[2015-07-27 14:34] DJaeger commented on #457
I will push it when I find time for it.

[2015-07-27 16:18] E3V3A commented on #457
Read my code comments. Detection of CDMA is mostly broken in AOS...

[2015-07-27 16:29] TPS commented on #457
Hence my facetious comment from ~1 month ago:

[2015-07-27 16:41] E3V3A opened #573 "FC when viewing BTS Measurements in DBV"
My current changes in cb7eb9a0973fe9f54ab7e62c51a93155ed49a2ed  trying to fix the layout XML of the complicated `BTS Measurements` table in the Database Viewer, causes a force close. I have no clue what went wrong, since everything else works. @banjaxbanjo or @DJaeger  Can you please have a look?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2015-07-27 17:24] inderjeetuiet commented on #568
Ok I will do this minor change

[2015-07-28 15:47] inderjeetuiet commented on #568
I have changed the color of item counter to blue and set item counter position to right i.e below tLast string value. ()
If you think it is fine I can create the pull request

[2015-07-28 17:54] E3V3A commented on #568
Yes thank you,  please do. Could you please also have a look at the card inflater of the measurement table. I think i messed something up as it FCs when you try to open it.

[2015-07-28 21:09] SecUpwN opened #574 "Completely remove leakcanary code"
Evolved from the discussion in #455 we found that [leakcanary](https://github.com/square/leakcanary) does not improve our code development.

@E3V3A said:

@DJaeger said:

Is there any "alternative" you'd suggest using? Otherwise please **fully** remove leakcanary.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25090984-completely-re

[2015-07-28 21:23] SecUpwN commented on #512
Thanks for your work, @SgtObst! I am, however, not quite convinced if users can tell the difference between each status when the Icon appears to have sop small changes. Personally, I thought about this:

* Pure black and white Icons
* Different Icon for each status (e.g.: Idle =  clock, Normal = checkmark, Medium = Egg, High = Attention sign, Dangerous = exploding, Run = keep skull) - you may be c

[2015-07-28 21:29] SecUpwN commented on #457
Thanks. Don't get stressed though, we'll be patient.

[2015-07-28 23:28] SgtObst commented on #512
In my eyes a combination of both would be most matching!

[2015-07-29 05:19] DJaeger commented on #512
I would also recommend different icons for different states.
With your samples it is not really clear which one is which state.
The icons should be mostly self-explaining.

[2015-07-29 05:19] DJaeger commented on #512
But it should also be clear, that they are from AIMSICD.

[2015-07-29 06:15] E3V3A commented on #574
Well for now, the way to enable or disable it, is just a matter of a small edit of the gradle file (correct me if I'm wrong). So we can just leave it off, until further notice. If by the time we go beta, we still don't need it, then we can remove it permanently.

[2015-07-29 06:23] E3V3A commented on #512
Uhm, I don't think it's a good idea with completely different icons for each state. How would the user know it's from our App and not something else? That would be very confusing. I think we're on to something with sample 2, but I'm not convinced over the antenna icon there.

I mean perhaps show something stackable like the 1-4 lightning bolts, but they'd need an outline so that we know it's from

[2015-07-29 06:32] E3V3A commented on #573
@banjaxbanjo I noticed you used *bb_power*, but I'm not sure where you got that data from since it showed a different value than in for *rx_signal*, and is not yet available from API. So I commented it out as it wouldn't compile my PR above. Perhaps that's the reason for broken measurements table in the DBV?

[2015-07-29 07:49] banjaxbanjo commented on #573
@E3V3A I think I used rssi or dbm as I didn't know what bb_power was but that shouldn't cause any crash because them functions usually return a value. But better to comment out as these are not correct value for it as you said.

[2015-07-29 09:58] DJaeger commented on #512
I think example 2 is very confusing as it looks like it shows the radio connectivity.
I think something with the antenna and a icon for each state in front of it.
For example like the counter of the SMS app (at least the one of CM).

[2015-07-29 10:01] DJaeger commented on #574
I agree with @E3V3A.

[2015-07-29 11:35] E3V3A commented on #573
It was an index number problem.  Now fixed.

[2015-07-29 11:35] #573 closed

[2015-07-29 16:48] DJaeger commented on #558
This should do the magic:
[code]
The compareLac should be called before this line:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/4095f5bf1ef2d4ef1184dab8a294b5aaf62e7dfb/app/src/main/java/com/SecUpwN/AIMSICD/utils/RequestTask.java#L329
and before this line:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/4095f5bf1ef2d4ef1184dab8a294b5aaf62e7dfb/app/src/main/java/com/S

[2015-07-29 17:21] SecUpwN commented on #574
Thanks guys. Shall I close this, or let this open until decided in `BETA`?

[2015-07-29 17:29] SecUpwN commented on #573
@E3V3A, please link the commit here so that we can track it. Thanks.

[2015-07-29 17:30] SecUpwN commented on #558
Thanks, @DJaeger! Are you able to also *add* the magic? :smile_cat:

[2015-07-29 17:35] SecUpwN commented on #512
Yes, I like that idea. Simple, yet obvious that it is from AIMSICD. Any ideas, @SgtObst?

[2015-07-29 18:02] DJaeger commented on #574
Close it.
It will be a new decision when it reachs beta state.
We should try to close as far as possible all issues before reaching beta state.

[2015-07-29 18:14] SecUpwN commented on #574
Fully agree on this. But in order to do so, we also need to move `#230` into our WIKI (or some place else) and make sure that Issues nearly solved (such as `#215`) finally get the requested response!

[2015-07-29 18:14] #574 closed

[2015-07-29 18:23] DJaeger commented on #574
That's correct

[2015-07-29 19:00] SecUpwN commented on #215
@E3V3A, why won't you respond on this important question? Again "no time and on the phone"? ;-)
@DJaeger, if you've got a good testing procedure in mind, feel invited to post your proposal here.

[2015-07-29 19:04] SecUpwN commented on #230
@E3V3A, I like that you keep track about what our app is aiming to do, but do you allow me to move this Issue into our [Development Status](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Development-Status)? @DJaeger and I agree that Issues shall stay closeable at all times.

[2015-07-29 19:43] SecUpwN commented on #181
@Djaeger agrees on adding our current `DISCLAIMER` to this HowTo since nobody seems to read it. I have updated the OP with some further thoughts. Everything that shall be done will be added there.

[2015-07-30 08:10] E3V3A commented on #215
Because every time I ask someone to test something, there is no response. So I'm done with writing testing procedures that nobody give a fcuk about. Some people don't even bother to test their own PR's...

[2015-07-30 08:12] E3V3A commented on #230
no, why would you wanna do that? This issue is referenced all over the place, so it's very bad business to move stuff like that.

[2015-07-30 08:20] SecUpwN commented on #215
@E3V3A, I can understand your frustration and will work on enforcing people to respond to your questions if not answered within a few days in the future. Please add a testing procedure for this now.

[2015-07-30 08:21] SecUpwN commented on #230
To prevent misuse of the Issue system.

[2015-07-30 08:26] E3V3A commented on #230
I agree, but I don't think this issue should be removed or changed at this point. Feel free to copy it over to Dev Stat so we can see how it looks. It's a huge advantage to have all single issue entries point pack to this one for quick overview.

[2015-07-30 08:29] SecUpwN commented on #230
Ok, fair. I will keep it as it is for now, although I guess moving will just get harder later.

We currently point to this Issue from DevStat, also from our `README`. It will look good, trust me. ;-)

[2015-07-30 08:31] E3V3A opened #578 ""Toggle Attack Detections" doesn't remain persistent after re-start"
If you try to disable "Toggle Attack Detections", your choice is not remembered after restart/quitting of app. I suppose we need to save this as a setting somewhere.

[2015-07-30 08:35] SecUpwN commented on #578
Confirming this. Added to this Issue it might be a good idea to save all settings in `sdcard/Android/data/com.SecUpwN.AIMSICD/files/settings.xxx` to enable users to use their old settings after a fresh install.

[2015-07-30 09:09] DJaeger commented on #230
I think in the wiki we can not see an automaticly generated badge if the issue is open, right?
So leave it open.
If we closed all referenced issues we can alo close this.
The other issues should anyway be closed before ```BETA```, so this one will not stop us.

[2015-07-30 09:55] DJaeger commented on #578
We have a setting in the preferences activity to toggle the autostart of this feature.
And it works!?
What do you mean?

[2015-07-30 13:01] E3V3A opened #579 "FC when trying to view "EventLog" in DBV"
In my commit bd2246d34989942ac73457a3e04d0dca16f90af0 I tried to change from GridLayout in the XML to use our standard TableLayout. However, something went wrong and now it FC's when trying to access this table... No idea WTF is going on there...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25164241-fc-when-trying-to-view-eventlog

[2015-07-30 13:22] E3V3A commented on #579
Fixed by f1da575aaebaf7fffbe2be6cf6f5ce9b8372d76f

[2015-07-30 13:22] #579 closed

[2015-07-30 13:55] E3V3A opened #580 "Clearing logcat in "Debugging" drawer, causes reset of app"
If you go to the drawer menus and select `Debugging` and then choose `Clear`, the App resets and asks again about enabling GPS etc. Actually this is true whenever the location manager is not on. Very annoying. This is possibly related to #428.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25166265-clearing-logcat-in-debugging-drawe

[2015-07-30 14:11] E3V3A opened #581 "Re-implement deleting and resetting DB"
For some still unknown reason the possibility to clear and reset the AIMSICD DB was removed. The only comments present are these found in [AIMSICD.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/2626fa36168f4024fdc2e39955fabb58b51dd3ac/app/src/main/java/com/SecUpwN/AIMSICD/AIMSICD.java#L305-L309)
[code]

Following this lead we get the following code segment in [Helpers.java](ht

[2015-07-30 14:26] E3V3A opened #582 "PSC incorrect in DBV:EventLog"
The PSC shown in the EventLog in DBV is giving 2147483647 = 0x7FFF FFFF (MAXINT?) value...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25167323-psc-incorrect-in-dbv-eventlog?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2015-07-30 20:18] E3V3A opened #583 "Simplify insertEventLog usage"
Currently the [insertEventLog]() function look like this:
[code]
However, this is highly inefficient as we need to always load all items that can be automatically loaded within function. The only variables we need to supply should be **DF_id** and **DF_desc**.

Like this: `insertEventLog(1, "Changing LAC");`

[2015-07-30 20:47] banjaxbanjo commented on #581
@E3V3A this would cause app to crash if you delete the .db and a function tries to insert a value to a db that is not there. Maybe a dialog stating that the apps needs to be restarted once db is deleted or run the AIMSICDDbAdapter as soon as db deleted and this will create a freah db.

It was broke eva that's the thing and as I said eva ye wanted db PR asap so didn't get around to doing it.

[2015-07-30 21:50] E3V3A commented on #581
@banjaxbanjo

That is a good solution. How to do that?

[2015-07-30 22:10] banjaxbanjo commented on #581
Simple @E3V3A just do
[code]
Do this call soon as db deleted.

[2015-07-31 04:02] TPS opened #584 "Possible helpful app & code: RoamingInfo"
https://github.com/jbardera/RoamingInfo has just popped up in F-droid.  I would like to propose to have any developer evaluate its core idea ("Displays a notification with current operator's name and in case of roaming it also shows the original SIM's operator name" — i.e.: notify when the network operator changes, for good or ill) & code may be helpful in AICD's stated purpose re: IMSI catchers.

[2015-07-31 07:09] E3V3A commented on #584
We already show this info...

[2015-07-31 10:56] E3V3A commented on #581
ok I did this, in: 1e017ef25e62a1b2bc1504d1433c1ba15a03777f
But app still FC... But reloads ok...
Maybe more graceful way of doing this, or quitting? (Whatever works without FC.)

[2015-07-31 11:46] banjaxbanjo commented on #581
Put it in Helpers.java eva because if the user selects no its still going to delete it where you have it now. Put it in the positive button after the delete db.

[2015-07-31 12:43] banjaxbanjo commented on #581
Also might be a good idea to stop AIMSICD service before deleting db then start it after db is recreated this should stop any errors of classes accessing db.

[2015-07-31 12:44] DJaeger commented on #523
I would prefer a much simpler about view.
I think a mix of the about screen of Twidere, Amaze and GithubContributorsLib would be great.
The main about view like the one of Twidere, but with the contributors/special thanks also seperated like the developers.
When clicking on translaters open a list like the one of Amaze, when clicking on Special thanks open a list like GithubContributorsLib but ext

[2015-07-31 13:20] TPS commented on #584
Show, yes, but also keep track of when SIM/network operator changes, & then (perhaps) further determine if that's not good?  This is the question I have.

For instance, in an area (e.g., home) that I always have my native cell carrier's signal, suddenly, I only have access to a roaming provider, should I be flagged, further especially if it (somehow) can be determined this should not be so? Also,

[2015-07-31 13:50] banjaxbanjo commented on #582
Yep getting that value myself 2147483647, Funny thing is I seen this value 2147483647 in the (4636 Menu) screen on my Sony Xperia M in the neighbouring cells list.

[2015-07-31 14:17] #581 closed

[2015-07-31 14:21] E3V3A commented on #581
Excellent!

Also, after thinking about what you said before, I recalled:

That's right. Because the SQLite is in memory (and journaled) as long as app is alive.

[2015-07-31 14:24] E3V3A commented on #523
Thanks, that sound great Daniel! But can you please link your references, so not all of us have to google every single one of those....

[2015-07-31 14:25] E3V3A commented on #584
That's what this app is all about.

[2015-07-31 14:25] #584 closed

[2015-07-31 14:28] E3V3A commented on #582
Nope, the funny thing is that PSC is working everywhere else! ;)

[2015-07-31 14:31] DJaeger commented on #523
Will add some references.
Have only searched for ideas on my phone until now.

[2015-07-31 14:44] TPS commented on #584
Not sure I follow:

A normal IMSI-catcher, if I understand, will try to basically clone or pretend to be a native cell-tower (so, as femtocell) in a certain area.  If I'm understanding you, even if it is pretending to be a non-native (i.e., roaming) tower for my device, it'll still be caught?  Or, if I'm suddenly unexpectedly roaming where I shouldn't, AICD already catches that?

Reason I'm pursui

[2015-07-31 15:14] E3V3A commented on #584
I don't have an CDMA device, please feel free to send me one... But there are other apps that detect femtocells and our femtocell code is 2 years old and not maintained. Feel free to post a PR to implement what you want, because I have no idea what you're looking for, that we're not already trying to do.

[2015-07-31 18:04] E3V3A commented on #215
I've just updated OP with a new ER design image. It is based on the **latest** [aimsicd5.sql](https://github.com/E3V3A/woork/blob/f9babf59764b52b0e522669be8472da487a51550/aimsicd5.sql) SQL script, that we should eventually use to create our original **aimsicd.db** file. However, the migration is not yet fully complete, as there were many small changes after code migration. These now need to be fix

[2015-07-31 18:38] E3V3A commented on #215
**Addendum:**
The new "con_state" column in `DBi_measure` should contain the AOS current connection and
data activity states as given by the API with:
[code]
See: [PhoneStateListener](http://developer.android.com/reference/android/telephony/PhoneStateListener.html) developer info.

We should also add the current *roaming state* to this column..

[2015-07-31 19:19] E3V3A commented on #583
@banjaxbanjo What do I need to do to change this? I.e. the correct dependencies to implement the *getters* directly into the insertEventLog?

[2015-08-01 08:59] inderjeetuiet commented on #568
@E3V3A , I tried to reproduced the issue of FC on card inflater of measurement table, but could not. So any pointers toward this issue..

[2015-08-01 17:31] SecUpwN commented on #215
@E3V3A, done and made available in [Technical Overview](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Technical-Overview).

[2015-08-01 17:35] SecUpwN commented on #230
Not yet. But I took the lead to file a GitHub feature request so that it may be available in the future.

Ok, fair. Looks like this will stay open forever then. Let's continue work. ;-)

[2015-08-01 18:11] #563 closed

[2015-08-01 19:55] SecUpwN commented on #582
Adding another strange thing: `CID`, `LAC` and `PSC` have been logged with MAXINT on my phone.

[2015-08-01 22:13] ga900 commented on #93
Forget detecting catcher by TMSI change. In my country TMSI is changed on one network at the begining of any phone activity (call, sms or even location update), on second network on the end of call. For other networks I will have to look at my notes... Suspicious behaviour is if network that uses TMSI asks for acccess authorization with IMSI and IMEI on LAC change (and gives you a reject eg. forbi

[2015-08-01 22:42] ga900 commented on #82
@andr3jx there is nice method to force phone off 3G network... just give him reject from 3G BTS with forbidden LAC and phone will not try to register to that LAC for some time (6-48hrs - manufacturer dependant) and if you served phone with information about just one 2G neighbour in BA list, it will go to specified channel on 2G and stay there if there is a BTS, otherwise phone will start band-scan

[2015-08-01 22:45] E3V3A opened #588 "Add con_state column in DBi_measure"
The new **con_state** column in `DBi_measure` should contain the AOS current connection and
data activity states as given by the API with:
[code]
See: [PhoneStateListener](http://developer.android.com/reference/android/telephony/PhoneStateListener.html) developer info.

We should also add the current *roaming state* (as a Boolean) to this column.

**Question:** *How should we format this column?*

[2015-08-01 22:50] E3V3A commented on #93
Hi @ga900 and welcome! Thanks for useful comment. What country is that? Would be nice to list how various operators change TMSI and the time between. Perhaps we should test for NOT changing TMSI then?

[2015-08-01 22:52] E3V3A commented on #82
@ga900

What timer is that?

[2015-08-01 23:05] E3V3A commented on #284
I've upgraded this bug with `priority`. **I'd need some help to track this issue down**. I believe it has something to do with the way we query the new DB tables, but not sure yet...

[2015-08-01 23:06] E3V3A commented on #569
Hmm, ok

[2015-08-01 23:06] #569 closed

[2015-08-01 23:07] E3V3A commented on #568
Most DBV issues are fixed.

[2015-08-01 23:07] #568 closed

[2015-08-01 23:09] #549 closed

[2015-08-01 23:11] ga900 commented on #93
Thanks for welcome. For some personal reasons I would prefer not to name the country, but TMSI change interval is depending on phone activity. Test for IMSI/IMEI (authorization) request on location update.

[2015-08-01 23:12] E3V3A commented on #537
I found a type in the pre-loaded `DetectionStrings` table for Type-0 detection. It has a double **'** in there. We can also shorten that string, to only use first sentence...

In addition I'd really like to see some `CB message` detection.

[2015-08-01 23:18] ga900 commented on #82
I am not sure is it timer that can be accessed from outside world or is it just a loop within radio firmware required by GSM TS, but I bricked my phone once with that. I would say it is just a loop within a firmware because some phones do not have it implemented (mostly far east products). Removal of battery fixed my phone.

[2015-08-01 23:19] E3V3A commented on #93
Unfortunately we don't have access to this info from API and we still don't have raw /dev/diag qmi data access.

[2015-08-01 23:25] E3V3A commented on #292
This has mostly been resolved in the new DB overhaul.

[2015-08-01 23:25] #292 closed

[2015-08-01 23:46] ga900 commented on #93
That is a problem...as catcher does not have a connection to HLR,  only way to identify phone/simcard is asking for IMSI/IMEI.

[2015-08-02 00:29] cybrangl opened #589 "Wifi calling possibly causing false positives"
I have a Tmobile phone, Nexus 6.  After installing the application everything was fine until I turned on wifi calling.  Once I turned on Wifi calling it showed a tower directly on top of me that was not in the database.  The "tower" would follow me as long as I have wifi calling on, even if I'm not connected.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.

[2015-08-02 05:18] SecUpwN commented on #589
Welcome to our project, @cybrangl. Please make this a valid Issue by adding a proper [logcat](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues).

[2015-08-02 05:30] SecUpwN commented on #284
Thanks for elevating to `PRIORITY`. How may I help you?

[2015-08-02 05:36] SecUpwN commented on #537
Not sure if that lowers detection probability of Type-0 SMS.

[2015-08-02 05:59] E3V3A commented on #589
What is Wi-Fi calling? Link please.

[2015-08-02 06:01] SecUpwN commented on #589
I guess he is talking about calling via an app like [RedPhone](https://github.com/WhisperSystems/RedPhone).

[2015-08-02 06:08] E3V3A commented on #589
What service are subscribed to? Wi-Max,  LTE ?
Screen shot of SIM info page?

[2015-08-02 10:04] E3V3A commented on #589
[Wi-FI Calling](https://support.t-mobile.com/docs/DOC-22442) is essentially a T-mobile provided [ROM](http://phandroid.com/2015/05/26/tmobile-nexus-6-android-511-update-factory-image-download/) based on WiFi. We do not support ROMs, nor do we support tracking of WiFi as there are millions of apps already doing that. Case closed.

[2015-08-02 10:29] banjaxbanjo commented on #537
@SecUpwN  no wouldn't make detection work less if anything it would work better. If the logcat line contains them sequence of characters then it will alert. Will add if I get the time and try change the db timestamps to int also.

[2015-08-02 10:35] SecUpwN commented on #537
hanks for clarifying @banjaxbanjo. Do yo ink you'll be able to pus your proposed changes within the next 2 hours? Not trying to be pushy or anything, but I'm preparing the release for our itchy users right now.. ;.)

[2015-08-02 10:47] banjaxbanjo commented on #537
@SecUpwN no sec prob be tonight or tomorrow sometime☺

[2015-08-02 10:56] E3V3A commented on #583
I'm thinking something like this:
``java
// Defining a new simple version of insertEventLog:
public void sinsertEventLog(int DF_id, String DF_desc){

        time      = MiscUtils.getCurrentTimeStamp() );          // time
        lac       = mMonitorCell.getLAC();                      // LAC
        cid       = mMonitorCell.getCID();                      // CID
        psc       = mMonitorCell.get

[2015-08-02 11:04] SecUpwN commented on #537
Perfectly fine. Please make sure to use a fresh copy when you do. See ya later, alligator!

[2015-08-02 13:05] E3V3A commented on #446
Cleaned up this thread.

We need work on implementing the MLS support for the BTS downloader.

Adding `BUG` label so other dev's can have a look. I also removed `DATABASE` since our DB now should support all relevant data from MLS.

[2015-08-02 13:21] E3V3A opened #590 "Add support for uploading exact BTS GPS locations"
**Background:**
We can already upload BTS measurements to OCID, but we cannot tell them when we have an exact GPS position of a certain cell tower. The possibility to have exact GPS positions for all BTS in the downloaded data is extremely helpful for our purpose.

In OCID this is provided by the `changeable` column, which is the opposite as we have in the `isGPSexact` in our `DBe_import` table.

[2015-08-02 13:45] E3V3A commented on #590
For the finding the exact GPS BTS position there are two methods we can (and should) use. One very simple and one more complex. They are:
 1. Guesstimating by visual/manual entry and using OCID/MLS data, with smart SQL queries.
 2. By performing a [Simulated Annealing](https://en.wikipedia.org/wiki/Simulated_annealing) analysis on the collected signal strengths.

[2015-08-02 15:14] SgtObst commented on #512
@DJaeger we can't do. I have only 1 color basically. And guys, pls remember, the icons are 5 millimeter small. There is not much a

[2015-08-02 15:24] SgtObst commented on #512
@DJaeger we can't do. I have only 1 color basically. And guys, pls remember, the icons are 5 millimeter small. There is not much to do.

[2015-08-02 18:52] E3V3A commented on #512
How about an antenna with a number from 0-3 and then the skull. Or a skull with numbers 0-4 in one of its eyes?

[2015-08-02 20:16] E3V3A commented on #590
@ziem  Can you help us implement a *long press* on the map in such a way to automatically add the pressed GPS coordinates to a DB table?

Those entries  should be saved in:
[code]

**Procedure:**
 1. *Long* press at a selected point on map
 2. Directly add a black (so not to confuse with others) spot on the map (and to the DB table above)
 3. If *short* pressing on already existing spot, make pop-

[2015-08-02 20:32] E3V3A commented on #590
To upload manual GPS positions to MLS, we have to use their *Geosubmit Version 2* [API](https://mozilla-ichnaea.readthedocs.org/en/latest/api/geosubmit2.html) which uses JSON for its POST request body. For the field called **"source"**, it should be set to: **manual**.

As an example:
[code]

[2015-08-02 21:04] E3V3A commented on #590
To upload exact cell positions to OCID, we have to use a [CLF version 3.0](http://wiki.opencellid.org/wiki/API#Uploading_measurements_from_CLF3_file) file, formatted as:

[code]

The key here is the `ratio` field that should be set **`-1**` for an exact position.

[2015-08-02 21:49] E3V3A commented on #215
Addendum:
Because signals measured in [dBm] are always negative and signals measured in [ASU] (Arbitrary Strength Unit) are can be both positive and negative in UMTS, we should change these fields to use `REAL` data type.
 - `DBe_import:avg_signal`: **REAL**
 - `DBi_measure:rx_signal`: **REAL**

[2015-08-02 22:09] cybrangl commented on #589
Well, that makes your app useless for anyone with Tmobile.

[2015-08-02 23:59] ga900 commented on #590
Great... if we have exact position of the tower during any activity we could compare distance calculated from GPS position to BTS/NodeB with distance from Timing Advance (2G) or Propagation Delay (3G) or both (LTE) to detect abnormal cell in the network. Difference should not be more than one step in TA or PD due to reflections. If access to TA/PD parameter is not possible, calculated distance to

[2015-08-03 04:35] E3V3A commented on #589
Eh,  no, it only prevents ignorant users from tracking things they're not connected to or even using.

[2015-08-03 05:32] E3V3A commented on #590
@ga900

Where did you send it? :)

[2015-08-03 06:26] ga900 commented on #537
What will happen if regular SMS is sent with intentionally wrong checksum? Mobile will receieve and ack but then it will discard message as it was never receieved. Is there any way to detect such activity?

[2015-08-03 06:28] ga900 commented on #590
@E3V3A to SecUpwN mail with request to forward to you.

[2015-08-03 11:31] DJaeger commented on #578
I would suggest to close this, as all is working as expected

[2015-08-03 12:03] DJaeger commented on #512
@SgtObst: I know, where's the problem?
The message icon is also 2 colow and we only have to use an antenna where it is using the message symbol!?
![tmp_32535-_20150803_14005979277631](https://cloud.githubusercontent.com/assets/3408882/9037141/6d85fd60-39e8-11e5-9e8a-9240026a30da.JPG)

[2015-08-03 16:22] ziem commented on #590
@E3V3A OK.

[2015-08-03 18:34] hannosch commented on #590
@E3V3A the minimum example should be:

[code]

[2015-08-03 21:41] agilob opened #595 "I was using AIMSICD a lot recently, here are some log crashes..."
I don't have much time to sort them and investigate separately so I'll just drop them here.

All of them happened when I was in a bus with WiFi and GPS on.

[code]

2.
[code]

3.
[code]

I am using code from 3 days ago from development branch.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25331301-i-was-using-aimsicd-a-lot-recently

[2015-08-04 03:36] SecUpwN commented on #595
@agilob, this is currently not yet a valid Issue. Please use the **latest** Buildozer build and change your Issue title to something specific we shall solve - one Issue for each problem, please. Thank you!

[2015-08-04 03:39] SecUpwN commented on #15
Taken from https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/593#commitcomment-12484913:

From the orange icons or higher...

@AntiDisel, instead of bashing into our proud release, how about crafting a pull request to solve this?

[2015-08-04 03:45] SecUpwN commented on #578
Agreed. @E3V3A, feel free to re-open this with an extended explanation, should this happen again.

[2015-08-04 03:45] TPS opened #596 "Release v0.1.33-alpha-b00 immediately crashes"
… even after reboot, so I must revert to v0.1.32-alpha-b00, but, since the current release will not stay open long enough to get a log, how do I help? What can I provide?

Edit: I figured it out.  I think another issue mentioned backend database changes, so wiping the data & restarting the app solved it, but it'd been good if that had been handled much more gracefully.…  Maybe some sort of databas

[2015-08-04 03:47] SecUpwN commented on #512
I actually like that idea, but I'm not sure if that fits our general app Icon style...

[2015-08-04 03:56] SecUpwN commented on #596
@TPS, since our app is still in `ALPHA` stage, full uninstall of the old version and a fresh install is the common procedure. Installing the new version over the old app will continue to be possible - this time we've had major changes in the database and therefore a fresh install is necessary. Enjoy the new release!

[2015-08-04 03:59] #596 closed

[2015-08-04 04:00] TPS commented on #596
@SecUpwN I do agree with that, but, at some point, preferably sooner, there should be some sort of standard database version check performed for when we get OUT of alpha, so I'd like to suggest that.

[2015-08-04 04:13] SecUpwN commented on #596
@TPS, as already said, please file a separate Issue for this suggestion!

[2015-08-04 04:43] TPS opened #597 "Check database version and prompt when incompatible"
N.B.: This suggestion is especially for when AIMSICD goes beta & beyond (as @SecUpwN reminds me, the current correct alpha behavior is to uninstall/reinstall, NOT in-place install), but should be implemented sooner, so that it doesn't cause problems down the road.

As I mentioned in #596, database changes between versions (I further suggest in either direction, both up- or downgrading) should be h

[2015-08-04 04:54] TPS commented on #597
@SecUpwN Thanks for cleaning that up.…  Of course, I knew you would. ;)

[2015-08-04 04:57] SecUpwN commented on #597
No problem, you're welcome.

Yes, I'm nitpicky and love what our developers do, thus proper Issues help them to know what to code.

[2015-08-04 06:00] #595 closed

[2015-08-04 09:19] E3V3A commented on #590
@ziem  Fantastic! This will help.
@hannosch Thank you.

I've also got contact with someone who might be able to help with the SA analysis.

[2015-08-04 09:42] E3V3A commented on #595
Where do you get your Apps from?
This is worrysome:
[code]
Especially since we do not use [NlpLocationProvider](https://github.com/microg/android_packages_apps_UnifiedNlp/blob/master/unifiednlp-base/src/main/java/org/microg/nlp/location/LocationProviderV1.java) AFIAK!

[2015-08-04 09:54] E3V3A commented on #578
I see, the problem is the different names in Preferences, versus on Drawer:

On **Drawer**:
[code]
In **Preferences**:
[code]

At this point I have no ****ing idea what is what... And if they are the same or different.

[2015-08-04 10:05] DJaeger commented on #578
They are for the same but simply differently named.
I also had to test which one in the preferences is for which one in the navigation drawer.
In addition they are in reversed order

[2015-08-04 10:12] SecUpwN commented on #578
I can totally understand @E3V3A's frustration here and am sure users will appreciate a simplification. Maybe removing the stuff from the `Preferences` and just keeping it in `Navigation Drawer` will help a bit?

[2015-08-04 10:18] E3V3A commented on #558
@DJaeger  I get a `Fatal Exception` in Main, due to NPE in RequestTask.java:337 and 98...
I already said this FC'd in your last PR, and I can't see you changed anything since then..

[2015-08-04 10:29] E3V3A commented on #597
We're already doing this check [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/search?utf8=%E2%9C%93&q=DATABASE_VERSION&type=Code) but I have no idea to what extent it works. I only know we just reset the version "1" after big overhaul. So yeah, delete your old DB!

[2015-08-04 10:31] E3V3A commented on #578
I agree, but keep it as a remembered "preference" when toggling.

[2015-08-04 10:44] DJaeger commented on #578
We shouldn't have some feature switches in preferences and some in the navigation drawer.
I think we should move them all to preferences and let them all act immediately and not only after restart, like it is done already for silent SMS and femtocell detection.
This would also make the navigation drawer shorter.

[2015-08-04 11:42] E3V3A commented on #578
Yes and no. You do want a quick toggle for when you're moving around or going inside etc. But at the same time the data will be much less useful if users keep on toggling back and forth without knowing/understanding why...

[2015-08-04 11:47] E3V3A commented on #558
We probably need to add some `try() / catch()` there...to see better what's going on.

[2015-08-04 12:29] cybrangl commented on #589
Wow.  If your code is as bad as your attitude this things is going to end up bricking phone. I guess this is one project I won't support and definitely will not recommend.  I suggest a potential bug and all you give is an excuse and attitude as to why you can't be bothered to look at it.  If you hand out false positives the app i useless.  It can't be trusted to do what it was intended to do.  If

[2015-08-04 13:08] E3V3A commented on #589
Please keep your ignorant rants to yourself.

What you're essentially asking here, is the equivalent of having an FM radio, then bitching about it to the manufacturer about not being able to watch satellite tv! :D

[2015-08-04 15:05] DJaeger commented on #512
A car?
Please not.
That is useless to identify it as icon of AISICD...

[2015-08-04 16:29] E3V3A commented on #512
:) Yes, bad idea.

[2015-08-04 16:38] DJaeger commented on #512
I think an antenna like in the first example would be great in the background of a badge like in my posted image

[2015-08-04 16:42] DJaeger commented on #578
I think it should never be toggled "quick".
You should use the feature or not, as you can be a target of MITM everywhere, *especially* at home!

[2015-08-04 16:57] TPS commented on #597
@E3V3A I think maybe order of check on run.…  From the behavior I experienced, the database is accessed immediately upon run, without any sort of mitigating checks before, so the above requested improvement is necessary. ☺

[2015-08-04 17:52] DJaeger commented on #558
Of course I changed the code before I pulled again.
With my last change it was able to successfully build, but I wasn't able to test the download, as my emulator was damaged.
I'm sorry.

[2015-08-04 18:19] agilob opened #599 "Log should not show identifying information or location"
like CID, GPS LAT/LON...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25366206-log-should-not-show-identifying-information-or-location?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-08-04 18:50] agilob commented on #595
As I mentioned before a few times I am not going to use buildozer as I prefer to compile it myself. Buildozer has few huge disadvantages which I also listed before... Like I have to manually remove and install AIMSICD which means all collected data will be lost.

If you are going to use ACRA... that's exactly how it works, but you don't even get contact to a user so you cant ask them anything or r

[2015-08-04 19:01] E3V3A commented on #512
yes

[2015-08-04 19:03] E3V3A commented on #578
Well, one of the toggles is about collecting the data and requiring GPS...

[2015-08-04 20:12] ga900 commented on #578
If may I suggest to use gps fix flag to turn on-off data collecting? If gps has fix collect data otherwise stop collecting. For detection use position from last fix. Of course option to turn on and off mentioned options in some advanced setup would be nice :).

[2015-08-04 20:57] DJaeger commented on #578
@ga900: we already have an issue for this somewhere

[2015-08-05 03:44] TPS commented on #578
@DJaeger @ga900 Do you both mean #251?

[2015-08-05 07:03] DJaeger commented on #251
How about:

<table>
  <tr>
    <td colspan="3"><b>GPS disabled</b></td>
  </tr>
  <tr>
    <td colspan="3">
      AIMSICD can not track cells if<br/>GPS is disabled.
      <br/>
      What do you want AIMSICD to do?
      <br/>
      <b>Wait</b> until GPS is activated</br>next time and then continue<br/>tracking
      <br/>
      <b>Stop</b> cell tracking
      <br/>
      <b>Activate GPS</b> now

[2015-08-05 07:07] DJaeger commented on #251
@SecUpwN: Please rename this issue, for example to "Suppress multiple GPS Notifications", that it's more clear what it is about and we can find it.
Thanks.

[2015-08-05 07:08] DJaeger commented on #578
@TPS: Yes, thanks.

[2015-08-05 10:56] E3V3A commented on #251
done

[2015-08-05 11:09] E3V3A commented on #578
@ga900

Well, this is where things get a bit hairy...
Because, blocking GPS is very easy, we made #309. In addition, we still wanna keep an eye on the connected network info, so please clarify what you mean should happen.

So perhaps:
 1. One toggle should be to log GPS positions or not.
 2. The other to log (in file/db) other events, but not disable warnings about type-0 SMS, changing LAC etc. bu

[2015-08-05 11:16] E3V3A commented on #590
So we have the following updates:

From OCID:

From MLS:

everything as if it'd be the later.

This understandable, but also make it perfectly clear that we're on our own in getting exact locations from within our app. (See my 2nd comment.)

[2015-08-05 11:29] E3V3A commented on #599
Good idea for the internal Debug logger used for sending, but very bad idea for the general logcat! We're using it all the time to debug everything from cells db to map and ocid download etc.

In addition, if your phone is rooted, ROM'd or you're using Google Play, Facebook or Whats App, all your data is everyone anyway! So what's the issue again?

We can try to filter this...but it would require

[2015-08-05 11:30] E3V3A commented on #558
Sound great!

[2015-08-05 11:43] E3V3A commented on #15
I've already partially implemented vibration for new events, but it need expansion. Then the concept code for a `NOTIFICATION` type sound would be:
[code]
However, we may prefer to have some kind of very short and subtle *bleep* or *pling* instead, which would require **MediaPlayer** instead, and using a pre-made mp3 file.

[code]
This is better than using **Ringtone**, and prevents interrupting o

[2015-08-05 14:05] solsticedhiver opened #600 "Silent SMS notification should be silent"
If I understand correctly, AIMSICD detects silent SMS and vibrate in that case.

I found in my particular case that feature not diserable.

Would it be possible to turn off the vibration and instead use a configurable sound like the default SMS notification sound. Or better no sound even if in that case, you can't be warned at all about a silent SMS.

<bountysource-plugin>
---
Want to back this is

[2015-08-05 14:20] solsticedhiver commented on #600
As a sidenote, I became aware I was being sent silent SMS with pushbullet. It showed me for a fraction of a second empty notifications on the screen of my PC.

[2015-08-05 14:33] E3V3A commented on #600
Hi @solsticedhiver, thanks for joining us. We're currently working on the notification features in #15, but feel free to make some PR for faster progress.

[2015-08-05 22:14] SecUpwN commented on #589
@cybrangl, please excuse the harsh tone in this Issue. We're still working very hard to implement the basic functions we've planned to add - and all of that happens for free and with the few developers that we have. You may encourage our developers [dropping a coin](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Donations) though. Regarding your filed Issue here: Please stay patient

[2015-08-05 22:15] SecUpwN commented on #597
@DJaeger, would you please add your thoughts to this idea? Thank you!

[2015-08-05 22:24] SecUpwN commented on #512
Agreed. So what we have now decided is to use the antenna from our Icons and adding a round circle with the "status number" for each [Status Icon](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons) in it? If so, here is what the summary:

* 0 = IDLE
* 1 = NORMAL
* 2 = MEDIUM
* 3 = HIGH
* 4 = DANGER
* Skull = RUN

I am notifying @SgtObst to turn into creative mood as I type

[2015-08-05 23:29] SecUpwN commented on #251
Here is my suggestion:

<table>
  <tr>
    <td colspan="3"><b>Attention: GPS is disabled!</b></td>
  </tr>
  <tr>
    <td colspan="3">
      AIMSICD can not track cells if<br/>GPS is disabled. Please decide:
      <br/>
      <b>Wait</b> until GPS is activated</br>next time to continue tracking
      <br/>
      <b>Stop</b> cell tracking continuously
      <br/>
      <b>Activate GPS</b> now and c

[2015-08-05 23:34] SecUpwN commented on #578
Erm.. may I drop my own suggestion here? How about this:

* Rename the toggle buttons and buttons in `Preferences` so that users know they're the same
* Sync the buttons  - when toggling via Navigation Drawer, the button in `Preferences` changes state

[2015-08-05 23:37] SecUpwN commented on #599
There's this other app (not saying it's name here, you know which one), which already enables the user to craft a logcat without private data (at least that's what I think) - please have a look into it's source.

[2015-08-05 23:46] SecUpwN commented on #600
@E3V3A, should I rename `#15` to `Alarm Notification on Attacks` and close this as `DUPLICATE`?

[2015-08-05 23:47] SecUpwN commented on #15
Just to note it here: Please do **NOT** add a pre-made MP3 file into our app, it just enlarges it. I prefer to **generate** the *bleep* or *pling* and think having a look into [IMCKTG](https://github.com/achromaticmetaphor/IMCKTG) may be a good start.

[2015-08-06 00:15] SecUpwN opened #601 "Unique BTS Data stays empty"
I am unsure if we have already filed this in an existing Issue, but it appears that I do not get any "Unique BTS Data" at all - the table stays empty all the time. Appears since long before our database overhaul.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25420824-unique-bts-data-stays-empty?utm_campaign=plugin&utm_content=track

[2015-08-06 03:32] TPS commented on #475
@E3V3A I couldn't find this issue when I filed #584, but this is definitely 1 of the things I was also thinking of when I did.…  Is that app's info better / worse / different than what you receive via the Service Mode menu in this case?

[2015-08-06 06:22] agilob commented on #599
The problem is not to hide that data from facebook or google, but from other users and developers. Then people submit issues on github with logs they very often manually remove location from logs.

Set system variable in Gradle, use this variable on compilation stage to hardcode boolean value. If value is true then you have location logs enabled, false means app is in production mode and location

[2015-08-06 06:36] DJaeger commented on #600
@SecUpwN: I would say yes.

[2015-08-06 06:50] DJaeger commented on #309
At least the app should fall back to "network location" if GPS is (activated, but) not available.
But we can think about what to do if both are not available

[2015-08-06 06:52] E3V3A commented on #251
Do we need both wait and stop? Right now, if you choose cancel on the google pop-up, GPS activation it is stopped automatically. Let's try not to accommodate for too many options.. So I don't think we need the wait option.

[2015-08-06 06:53] DJaeger commented on #578
@SecUpwN: But why have them on two locations?
And if they are at two locations why not also the others (silent sms, femtocell...) ?

[2015-08-06 06:54] E3V3A commented on #578
That is a good temp solution, but it would be redundant and still confusing with two locations.

[2015-08-06 06:56] E3V3A commented on #599
@agilob That sound like nice solution. How would that code look like?

[2015-08-06 07:07] TPS commented on #251
I understand @SecUpwN's dialog box  better if "continuously" is replaced by "completely" or "permanently," & that change makes the difference between "Wait" & "Stop abundantly clear.

[2015-08-06 07:29] DJaeger commented on #512
Why not using a very simple and also in this size identifiable icon for the status icons?
Like:
 * IDLE = hourglass
 * NORMAL = no circle / checkmark
 * MEDIUM = warning triangle / i(nfo) sign?
 * HIGH = don't know / warning triangle?
 * DANGER = error icon
 * RUN = Skull

[2015-08-06 07:37] E3V3A commented on #15
Well, the default notifications are mp3, no?

[2015-08-06 07:37] E3V3A commented on #601
Funny, Works for me...

[2015-08-06 07:39] DJaeger commented on #251
Permanently sounds like you can never reactivate it.
Change continuously to completely could be a solution.

@E:V:A: You are right, but with that it will stay deactivated until it is manually reactivated. The "Wait" option is a "do not care anymore" option to automaticly activate and deactivate tracking with activating and deactivating GPS

[2015-08-06 08:10] DJaeger commented on #597
At least for later release versions we should do a versioning of the database.
If the app detects an update it have to migrate the database to the new schema.
We can also allow downgrades by the database, but only version by version, so no jump back of 2 or more versions.
For this to work we have to release an "database update preparation" (this is what should be written in the changelog to not co

[2015-08-06 08:13] DJaeger commented on #601
It's empty for me too.

[2015-08-06 08:13] E3V3A commented on #475
I would always trust the buggy *Service Mode* over the half broken AOS API, as it getting it's info from there anyway.

[2015-08-06 08:14] E3V3A commented on #600
sure

[2015-08-06 08:15] E3V3A commented on #309
How would you know it's not available when activated?

[2015-08-06 08:16] E3V3A commented on #512
I prefer number + same icon, over different icons, which are very confusing...

[2015-08-06 08:21] E3V3A commented on #251
How about?

<table>
  <tr>
    <td colspan="3"><b>Attention: GPS is disabled!</b></td>
  </tr>
  <tr>
    <td colspan="3">
      AIMSICD can not track cells if<br/>GPS is disabled. Please decide:<br/>
      <b>Stop</b> cell tracking or <br/>
<b>Activate GPS</b> now and continue</br>tracking for antenna map viewer
      <br/><br/>
       [&nbsp;&nbsp;] Remember this choice
    </td>
  </tr>
  <tr>

[2015-08-06 08:31] E3V3A commented on #601
Really??
What do you mean *empty*? Like not showing anything at all, or showing the column names but without data?

[2015-08-06 08:49] johanw666 opened #602 "Please add Dutch translation"
I want to contribute to this project, but I don't see any immediate programming points I can quickly pick up. However, I can work on a Dutch translation if it can be added.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25431106-please-add-dutch-translation?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_sourc

[2015-08-06 10:13] DJaeger commented on #599
@agilob: Great idea.
If buildType is release location should never be logged.
Would you do a PR for this?

[2015-08-06 10:17] DJaeger commented on #512
@E3V3A: Why is it confusing?
The icons are much more user friendly, since the user doesn't have to remember the numbers!?

[2015-08-06 10:19] DJaeger commented on #251
@E3V3A: That is what we currently have with the extention of the choose to remember!?

[2015-08-06 10:20] DJaeger commented on #309
By timeout

[2015-08-06 10:23] DJaeger commented on #601
Mhm, now it works for me.
I'm not sure if I have done a update in the meantime.

[2015-08-06 10:27] DJaeger commented on #602
You can add a new language in Weblate under the existing languages

[2015-08-06 11:32] E3V3A commented on #512
Because:  It doesn't make sense as you describe, as hourglass means something is working, and its not, its idling, warning triangle in 2 versions? and what is an error icon? What is the one thing that will ensure the user knows it is using AIMSICD and not something else? 5 icons = bad idea.

[2015-08-06 11:33] E3V3A commented on #251
I though that was what AOS gave us? Now you're saying its produced by our App?
Hell, if I'd known, I'd removed it long ago...

[2015-08-06 11:34] E3V3A commented on #309
timeout of what?

[2015-08-06 11:45] E3V3A commented on #537
@ga900 That is a great question! Do you know how to write such an SMS we can use to test with?

[2015-08-06 13:29] johanw666 commented on #602
Ah, I had to login first to see that option. Sorry, I was unfamiliar with the system.

[2015-08-06 13:37] TPS commented on #597
@DJaeger That's actually a lot more than I envisioned. ☺  Should the backup path that's been mentioned be entirely separate, or somehow related to this up-/downgrading path (internally)?

[2015-08-06 14:25] #602 closed

[2015-08-06 15:04] DJaeger commented on #597
@TPS: I'm not sure what you mean.
Before changing (up-/downgrading) the database it should be backed up.
Since you probable will reinstall the app if it fails your backup will be lost if it is located inside the data directory of the app.
I think we should use the existing backup function to not duplicate backup code, but I can nowhere in the app determine where it is located.

[2015-08-06 15:07] DJaeger commented on #309
Sorry.
The app should fall back to network location if the request of GPS/fine location gets a timeout.

[2015-08-06 15:26] DJaeger commented on #512
Hourglass means for me "wait" and this is IDLE for, or not?

For MEDIUM and HIGH I mean either the icons before the slash or after it.

Some example icon to visualize them:
https://www.google.com/design/icons/index.html#ic_hourglass_empty
https://www.google.com/design/icons/index.html#ic_check
https://www.google.com/design/icons/index.html#ic_warning
https://www.google.com/design/icons/index.html#

[2015-08-06 19:14] redbassett commented on #512
Icons would probably make sense if used as a badge in front of the app's default (antenna?) icon like was mentioned for numbers.

[2015-08-06 20:22] E3V3A commented on #512
How about a modified version of [Track Changes](https://www.google.com/design/icons/index.html#ic_track_changes), with numbers?

[2015-08-06 22:48] DJaeger commented on #512
@E3V3A: You mean the Track Changes Icon as new app icon?
Why numbers?

[2015-08-06 22:49] TPS commented on #597
@DJaeger I'm wondering if the database backup / restore functionality should expanded into also including that ↑↓grading functionality, just to keep it all contained & easier to maintain, especially as I expect the number & type of database(s) to change again, until they're finalized by beta.

[2015-08-06 22:58] DJaeger commented on #597
Of cause we could do all the db up-/downgrade in the import function and after updating the app with needed db migration simply trigger a backup and a following import and just do not delete the backup.
But keep in mind that we should not take care of to much versions to not mess up the code.

[2015-08-06 23:03] DJaeger commented on #251
Where did I say, that it is produced by the app?
It is only triggert by the app, but produced by AOS.

[2015-08-06 23:25] TPS commented on #512
Keeping in mind

I also vote for **not** using numbers, as most end-users can't keep in mind what they mean, *unless* they actually measure something intuitive (e.g., SMS, reception bars, e-mail, &c).  But I also agree they need a general theme that ties them back to AICD.

I think our major issue here is that we lack 1 custom b&w icon that belongs specifically to AICD.  Before, when we relied on

[2015-08-07 00:35] ga900 commented on #537
@E3V3A  I do not know how to do it, but there are some rumours that such messages is better choice for E-OTD & UL-TOA measurements :(  because type0 sms is visible on some multi-sim chinese phones.

[2015-08-07 00:50] ga900 commented on #309
That noise generators do not have a big range, 5-10 eventually 20m. For 50m radius you will need at least a briefcase sized jammer. GPS is pretty hard to jam and expensive if you try to do it right. There is one trick with coding sequences, but it is expensive to produce and only in that case you can jam big area with small power. Btw LTE has similar vulnerability described in some papers found at

[2015-08-07 01:32] ga900 commented on #578
If you lose GPS you probably entered building, home, underground garage, shopping mall or tunnel. Except in longer tunnels, where is expected to have different LACs on entry and exit, in all other places I would expect to stay in the same LAC, so I would use last known position for detection of threats and measurements, but will not upload such measurements to OCID. So I would put toggle "use last

[2015-08-07 01:56] TPS commented on #512
After looking through several thousand Unicode characters, a variation of Mercury looks to be a most promising candidate:

![Mercury](https://upload.wikimedia.org/wikipedia/commons/2/2e/Mercury_symbol.svg)

but with variations that I imagine to be (both):

1) Replace the curved horns &/or the body with something that's reminiscent of an antenna — maybe an old style TV aerial?  Perhaps an inverted

[2015-08-07 02:42] TPS commented on #202
@SecUpwN https://play.google.com/store/apps/details?id=com.SecUpwN.AIMSICD is still live. =(

[2015-08-07 08:01] E3V3A commented on #309
@ga900  Thanks for your valuable input. You're right, and if jammed properly, you'd be in a place rather f-d anyway. However, manual GPS entry could be useful anyway, for example, for being able to download for a region you have not yet entered, or for indoor operations in a large plaza where femto-cells are covering, but GPS not reachable. Anyway, your arguments is convincing enough for removing

[2015-08-07 08:10] E3V3A commented on #512
Two counter arguments. Remembering the number scheme is just as easy (if not easier) as remembering the color scheme. They do measure something intuitive, the threat level.

I'd really hate to see all those emoticon-like icons. It would make our app look childish and unprofessional.

[2015-08-07 08:15] E3V3A commented on #202
And [blatant copies](https://play.google.com/store/apps/details?id=kz.galan.antispy)...without any cred references.

[2015-08-07 09:13] DJaeger commented on #512
A "thread level" is not intuitive to "normal" endusers.
But colors are intuitive as they are common to visualize priorizations and how critical something is.
Colors in general have a meaning to users.
The same for smileys.
They are self speaking to visualize states.
But I would use simplified smileys.

[2015-08-07 09:15] DJaeger commented on #512
@TPS: I don't see why we should use the Mercury icon!?
I think an antenna is great.

[2015-08-07 14:12] johanw666 commented on #597
I'd say just look at how other projects do it: see https://github.com/WhisperSystems/TextSecure/blob/master/src/org/thoughtcrime/securesms/database/DatabaseFactory.java for an example. Shouldn't be too difficult to implement something like that.

[2015-08-07 14:31] TPS commented on #512
@E3V3A As @DJaeger mentions, a threat level isn't something your typical person (outside/aside from government ;) numerically counts.  Maybe a grade: A for excellent, F for failing, X for imminent danger?  The smilies work in the same way, of course, but are, admittedly, more cartoonish.

@DJaeger As I mentioned, the antenna, by itself in b&w, doesn't precisely scream "AICD!" & it doesn't lend its

[2015-08-07 15:07] TPS commented on #202
For the record, (& I *have* followed all the arguments from the beginning) not having an official presence on GPlay encourages this kind of misbehavior, & also makes it harder to enforce claims of IP infringement.

[2015-08-07 15:25] TPS commented on #309
Do you all want to hook a GPS/map intent to make this manual GPS entry simpler?  Or does AICD already do that? https://github.com/guardianproject/LocationPrivacy seems to have secure code that could be co-opted for this.

[2015-08-07 15:41] TPS commented on #589
@E3V3A Wi-Fi calling is not "just" a ROM; it is now integrated into Android 5.1+ by Google itself, & is being extensively being used in its https://fi.google.com/ service on Nexus 6 & (rumors abound) more devices soon.  I think you may owe @cybrangl an apology.…

[2015-08-07 15:42] pysiak opened #604 "0.1.33-alpha-b00 crashes consistently"
I just installed 0.1.33-alpha-b00 from f-droid on my old Android 2.3.6 Samsung Galaxy S Advance.
No error messages. Previous (0.1.32-alpha-b00) didn't crash.

Sorry for a vague report, but there's something in there crashing it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25485429-0-1-33-alpha-b00-crashes-consistently?utm_campaig

[2015-08-07 15:47] TPS commented on #604
@pysiak Please see #596 & #597.  TLDR: In-place update isn't yet officially supported, & wiping the data from Android app settings & rerunning AICD should get you back on your way

[2015-08-07 19:51] ga900 commented on #309
@E3V3A How big "large plaza" should be to have more than one LAC? As far as I remember, Munchen messe is on T-mobile in one LAC. There is possibility that all femto-cells within shopping mall/plaza are in one LAC that is different from btses

[2015-08-07 21:19] ga900 commented on #309
@E3V3A I agree that manual download data for a new area would be a nice feature, so you can go prepared.Concerning large buildings, how big "large plaza" should be to have more than one LAC? As far as I remember, Munchen messe is on T-mobile in one LAC. There is possibility that all femto-cells within shopping mall/plaza are in one LAC that is different from btses outside, but such solution requir

[2015-08-08 06:36] E3V3A commented on #202
The issue is that we *would like* to have an installer presence in GP, but that we: (a) Refuse to pay for it while (b) give up our anonymity in the process.  If any one of our trusted developers feel he's got nothing to loose here, they're certainly free to make it such.

[2015-08-08 06:41] E3V3A commented on #589
@TPS Thanks for clarifying, but I don't owe anyone anything, and in particular not to someone who's being rude! And as I've said, this app is not about WiFi, and if you need to locate WiFi AP's there are a million other apps to do that.

[2015-08-08 06:42] E3V3A commented on #604
We don't support lower API than 16 which is Jelly Bean 4.1.

[2015-08-08 06:42] #604 closed

[2015-08-08 07:28] TPS commented on #202
I'm not disagreeing with any of that; just pointing out Google's rules favor them*selves* 1st, even above AICD's intellectual property rights.

Other than tagging these IP infringement while in Play Store, is there a more effective way to complain?

[2015-08-08 07:33] TPS commented on #604
@E3V3A I didn't know that API requirement.  @pysiak did claim that 0.1.32-alpha-b00 did function, @ least somewhat on 2.3.6.…  What shouldn't have worked, or is the 4.1 requirement new as of 0.1.33-alpha-b00?

[2015-08-08 09:24] E3V3A commented on #604
So send a logcat.

[2015-08-08 11:17] DJaeger commented on #589
This app is not about WiFi, but it seems to get wrong information, if that feature is used.
So that feature seems to interfere with the radio data our app requests.
I think we should at least try to exclude these wrong BTS data by WiFi Calling.
I think the WiFi Calling presents a virtaal cell it is calling over to the rest of the AOS.

[2015-08-08 11:33] DJaeger commented on #601
I have still only that single unique entry I have seen on my last comment 2 days ago.
In addition, if I open the map it shown my current lication and than moves to the location I was at, when I have first seen this entry and says I'm connected to a cell tower there.
But it is far away and I wasn't there since two days.

[2015-08-08 13:52] pysiak commented on #604
1) uninstalled from f-droid, installed again and it works, thanks
2) sorry for confusing you with 2.3.6; I mixed up my phones. I'm running 5.0 and 2.3.6 is an old crap phone I was reporting an issue with for a completely different app that day.

Thanks!

[2015-08-08 14:43] elfevenfairy commented on #604
What do you run when your on a computer? Thank you for helping me I'm
trying to learn all of this.

On Sat, Aug 8, 2015 at 8:52 AM, Maciej Soltysiak <notifications@github.com>
wrote:

[2015-08-08 21:56] TPS commented on #202
I guess there is:
https://support.google.com/legal/troubleshooter/1114905

But this has to be done by the official "copyright holder."  Is this you, @SecUpwN?

[2015-08-09 07:08] elfevenfairy commented on #202
no it's not me

On Sat, Aug 8, 2015 at 4:56 PM, TPS <notifications@github.com> wrote:

[2015-08-09 14:43] E3V3A commented on #309
@TPS: Not sure how that is done in practice... (I doubt we do that.)

[2015-08-09 15:20] SecUpwN commented on #202
Thanks for notifying me, @TPS. I can't visit the URL, it seems to have been taken down already.

I have been writing a message to that guy already to stop copying our work and respecting the GPL - without any effect. Thanks to the link of @TPS, I just filed a copyright infringement. And to be honest: I am pretty sick of this shit and keep playing with the thought of giving up and providing our app

[2015-08-09 15:30] SecUpwN commented on #604
@elfevenfairy, please don't get me wrong, but you're spamming across our Issues list and seem to be another bot. I reported you to be checked by the GitHub security team. Don't take it personal. Thanks.

[2015-08-09 15:35] SecUpwN commented on #601
I mean that the page `Unique BTS Data` on our app stays empty. Not sure how to check if data even really gets collected since my AIMSICD folder only appears to contain the downloaded OCID .csv file.

[2015-08-09 15:38] SecUpwN commented on #589
Thanks for the clarification, this makes sense.

Indeed. Would you please tackle this? I am re-opening this Issue until this has been implemented.

[2015-08-09 16:07] SecUpwN commented on #15
Yes. But I'd like to avoid shipping any MP3s with our app, rather add code to generate a tone by tapping the screen or enable the user to select a tone from his device to avoid bloating our app.

[2015-08-09 16:09] #600 closed

[2015-08-09 16:53] SecUpwN commented on #512
Ok, this Issue seems to slightly get out of hand. Please stay calm everyone.

Thanks for your great input @TPS, but I don't think that redesigning the whole app Icon is a good option. I also agree with @E3V3A that using smileys in our app does not appear very professional (yes, we're working on growing up), but I do in fact understand the good point you're trying to make.

The core difference we c

[2015-08-09 18:04] SecUpwN commented on #558
Hey @DJaeger, are you still on it to give this yet another shot including a `try() / catch()`? ;-)

[2015-08-09 18:20] DJaeger commented on #558
Of cause, as soon as my time allows it.
I'm not gone away. ;-)

[2015-08-09 18:29] DJaeger commented on #512
All apps I know shown no state (except notification available or not), an on/off state or a count.
Only exception is Osmand, which shows on running navigation **only** an icon representing the moving type (car/bicycle/walking).

[2015-08-09 18:44] TPS commented on #512
@SecUpwN Well, just picking Doom faces (& guessing @ precise app states or equivalents ;) :

:godmode: = A  :suspect: = B  :rage1:  = C  :hurtrealbad: = D  :feelsgood: = F  :finnadie: = X

But going B&W will be a problem again, as these are too detailed; also, how does 1 signify AICD?

[2015-08-09 19:07] SecUpwN commented on #512
@TPS, please forget my random thought with DOOM faces. I guess you did not understand why a black/white Icon is a good idea: We'd not only take care of ensuring users are still happy with our app when Google decides to make another set of heavy changes to AOS (so that our workaround [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/build.gradle#L46) does not work

[2015-08-09 19:12] TPS commented on #202
@SecUpwN I think it's **_not_** taken down; I think the guy blocked your country or something, as *I* can directly get to it from the link still.  This guy really frosts me! :rage:  It's obviously still worth filing on that 1st 1, then.…

[2015-08-09 19:21] TPS commented on #512
@SecUpwN Oh, I understand: Google screwed us (& folks like us) completely, & now we're trying to hack/kludge around it, though fixing #449 in the process is an excellent idea. ☺  I'm just not finding a good way forward without backing all the way to rethinking the *base* logo/icon.

Do you all know problems like this are so hard that there're entire businesses around this kind of thing?:

http://w

[2015-08-09 21:04] SecUpwN commented on #583
@E3V3A, am I right if I assume that you already implemented with? If so, please close.

[2015-08-09 21:49] SecUpwN commented on #202
@TPS, I am quite happy that he does not update. Other than that,  hereby grant permission to you to act on my behalf and file a proper and well-written copyright infringement on that copy. For the future, I guess we should find someone working for GooglePlay and being able to remove stuff if we tell him/her.

[2015-08-10 00:45] TPS commented on #202
@SecUpwN

Problem with that is that most people will then find _that_ version of AICD first when searching for in the their logical starting place — Google Play.  99% of people would never even think to look further, &, when they've problems, then they'll rate AICD poorly, which ends up in Google search ratings, which ruins this project' (& all its hard-working devs') reputation.  It took me _mont

[2015-08-10 05:31] SecUpwN commented on #202
@TPS, I do get the point regarding our reputation and I feel the need for our project to hack around the GooglePlay privacy breaches. If there was a way for to regsiter an account without spending money and losing privacy, I'd create an official one ASAP - feel free to help me digging one up and send it to my email address. Other than that, I have not kept a copy of my report. Just explain in simp

[2015-08-11 05:43] TPS commented on #589
@SecUpwN Could the __Invalid__ tag also be removed until that is formally verified?

[2015-08-11 17:04] E3V3A commented on #589
I love how clueless people insist in continuing in speculating on how this works.. Keep going folks! Love to see just how far you can go with `much ado about nothing`!

[2015-08-12 08:34] johanw666 commented on #504
From what I understand from discussions in other projects, Android before 5.1 has no standard way to deal with multi-sim phones; it is put in by the builders of those phones. So to support this in those phones requires a vendor-specific solution, and there are a lot of obscure vendors buidlign multi-sim phones so supporting them would be a lot of work.

[2015-08-12 23:02] SecUpwN commented on #589
@E3V3A, were these words meant for me? I don't hope so.

@TPS, no I won't. It currently stays an `INVALID` Issue until @DJaeger kindly responds with a way how exclude wrong BTS data generated by WiFi calling. Furthermore, why the fuck is nobody respecting [THIS](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues)?

[2015-08-12 23:13] SecUpwN opened #605 "SMS Detection only works when opening AIMSICD"
Good evening @banjaxbanjo! I'm sorry having to file another important bug report: Our app currently only detects silent SMS and other SMS threats when opening the app. Steps to reproduce this Issue:

1. Send a silent SMS or PING to yoursels via `HushSMS` as described [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Special-SMS#self-test)
2. Note that `HushSMS` immediately detec

[2015-08-14 09:02] DJaeger commented on #605
I can not verify, as the application does not detect any type of silent SMS send by HushSMS for me.
Also if the app is opened.
I think the detection strings does not work for me, but I couldn't determine the correct one for me until now.

[2015-08-14 09:43] DJaeger commented on #605
Type 0 SMS are shown as normal empty SMS.

As of the log it seems to get blocked by the BlocklistProvider.

[2015-08-15 11:35] banjaxbanjo commented on #605
@SecUpwN hey sec, I just ran some test with latest build that is up on repo and everything runs smooth but now its not detecting mwi sms, type0 and wap are working on S5. I will look into this today and see whats going on.

Its detecting fine in background for me and automatically opens when an sms is detected.

What version of hush sms are you using because it doesn't detect anything for me on an

[2015-08-17 14:05] ph0t0n commented on #459
@SecUpwN hi guys, sorry again for the delayed response. i've been in the middle of moving house and my bladeRF time was frozen down to zero. once i unpack my workspace i can join back in. i DO remain interested and DO want to work on this.

i am fine with whatever ACLs you wish to attach to me, i will use them carefully and am happy to follow your build / QA process.

[2015-08-20 16:42] znakeeye opened #606 "Changing LAC with zero location?"
Not sure how to interpret this, but I keep getting "Changing LAC" events with Lon=0.0 Lat=0.0 Accu=0. This happens all the time when I'm visiting an area were I have actively used the app before.

Sure looks like unassigned values, causing an erroneous event?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25996044-changing-lac-with-

[2015-08-21 03:14] TPS commented on #606
@znakeeye Just FYI, you're more likely to get a positive response from the dev team when you follow https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues .…

[2015-08-21 07:15] Montagnard65 opened #607 "F-Droid unable to install the app"
Hi,
When I try to download and install the Android IMSI-Catcher-Detector app on the F-droid store (with the + button or by clicking on the Version 0.1.28-alpha-b00 button), F-Droid try to launch the download  but stop immediately (the download window open and close directly) and tell me "not installed"...
Did i missed something ? Is there a way to correct this "bug" ?

Thanks!

For Information : I

[2015-08-21 16:14] E3V3A commented on #605
@banjaxbanjo

I'm confused. Is it working or not? It's not working for me... I guess more dev's need to test this a give us feedback here.

[2015-08-21 16:22] E3V3A commented on #590
Hi @ziem, have you had a chance to look at this?

[2015-08-21 16:23] E3V3A commented on #601
Does somebody else have this problem?

[2015-08-21 16:24] E3V3A commented on #558
@DJaeger Can we still count on you looking into this?

[2015-08-21 17:10] banjaxbanjo commented on #605
@E3V3A its working for me and detects all sms as I showed in the video I linked ye guys.

Sent from Yahoo Mail on Android

[2015-08-21 20:01] E3V3A commented on #605
ok, thanks, good to know.

[2015-08-22 03:40] TPS commented on #607
@Montagnard65 Current stable F-droid is 0.95.1 & current AIMSICD is  https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases/tag/v0.1.34-alpha-b00, which I think corresponded to a lot of database backend updates on each app.…  Do you have any problems installing anything _else_ with F-droid?  What happens when you uninstall AIMSICD (which is currently required) & install directly from th

[2015-08-23 15:50] takiainen opened #608 "Uploaded cell information doesn't end up to the opencellid database"
Despite uploading several hundred BTS's to the opencellid database, they won't show up at http://opencellid.org/

Android-IMSI-Catcher-Detector keeps claiming that "Cell ID does not exist in OCID database!" despite of downloading new, updated database (several days after succesfully uploading new cellid's).
Naturally, this is the result of the cellid's not really ending up in to the database.

My

[2015-08-23 21:39] znakeeye commented on #606
Well. I thought I did. Are you saying that this is a known issue?

[2015-08-23 23:08] TPS commented on #606
@znakeeye I'm referring to

which all seems conspicuously absent from your report.…

[2015-08-23 23:15] TPS commented on #608
@takiainen Just FYI, you're more likely to get a positive response from the dev team when you follow https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues:

 In all cases, you MUST include the following:

Your exact FW specification (ROM, AOS API, etc.)
Your exact HW specification (processor, model number, etc.)
The output of getprop command to a Pastebin-Site (recommende

[2015-08-24 08:00] SecUpwN commented on #608
Hi guys, I'm back! Sorry for letting our project sit for so long. We're having *massive* problems with mass immigration over here in Germany and i will ultimately change all our lives in Europe. Politics is a huge dirt bag, let me tell you! @takiainen, thanks for filing this. I have noticed that as well and wonder if this is a bug in the OCID system, or if the data is taking a long time to get che

[2015-08-24 08:04] SecUpwN commented on #607
Good morning @Montagnard65, thanks for reporting this. Please try what has been suggested above: Completely uninstall AIMSICD and make sure to install our app from either Aptoide *or* F-Droid (which builds our app by themselve and uses their own signature). Alternative: [Direct Download](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases/). Works now?

[2015-08-24 08:07] SecUpwN commented on #606
Welcome to our project, @znakeeye! We're sorry to hear you're experiencing this, but I can confirm what you see. I guess that this is likely a bug in the database, which still has glitches. @banjaxbanjo would you please have a look at this? @TPS, thanks for telling everyone to file proper bug reports, but please refrain from that in the future. This is my part and I would like to avoid ticking off

[2015-08-24 08:12] SecUpwN commented on #605
BAAM, I'm back! ;-) Sorry for taking so long folks, I just needed a break. We're being overrun by young immigrants dealing drugs, raping/killing woman and kids - and politics is just closing their eyes and opens the borders even wider. Seems like civil wars are just around the corner over here in Germany (although you won't read that in the press). I am preparing for the worst - so should you!

Ba

[2015-08-24 08:18] SecUpwN commented on #459
@ph0t0n, I have granted `COLLABORATOR` status to you. Please craft a neat markdown table using the [Markdown Table Generator](http://www.tablesgenerator.com/markdown_tables) and publish your ongoing results in [Cell Monitoring](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Cell-Monitoring). Thank you for testing!

[2015-08-24 08:19] #459 closed

[2015-08-24 08:19] SecUpwN commented on #601
@banjaxbanjo and @He3556 what is your test result?

[2015-08-24 08:32] banjaxbanjo commented on #601
@SecUpwN I don't have this problem I get multiple entries.

[2015-08-24 08:52] SecUpwN opened #609 "Localization: How to translate style type "Sense"?"
In `Preferences` our users are able to select a style for the [Status Icons](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons):

**English**
* Flat
* Sense
* White

**German**
* Flach
* Sense
* Weiß

The word "Sense" has not been translated across all languages. Just recently I have received the suggested German translation "Gefühl", but is this really matching the case?

[2015-08-24 09:47] Montagnard65 commented on #607
Hi,
Thanks for your replies, with the last version of F-Droid (0.95.1), the download of v0.1.34-alpha-b00  works!

[2015-08-24 10:25] E3V3A commented on #608
I've had this suspicion for a long time, and I think it's because our retrieved dev key data is ignored until we go beta. There is simply to much repeated and possibly bad test data uploaded.  Your best bet is to use  another app for uploading your cells...

[2015-08-24 10:30] E3V3A commented on #606
TPS is right. The bug report is simply to vague without more info...

[2015-08-24 10:33] E3V3A commented on #605
@secupwn can you please keep politics out of our GitHub?

[2015-08-24 10:38] E3V3A commented on #609
These are names ,not to be translated..

[2015-08-24 10:39] #607 closed

[2015-08-24 10:46] DJaeger commented on #605
@SecUpwN I have to agree with @E3V3A

[2015-08-24 13:41] banjaxbanjo commented on #606
@SecUpwN @znakeeye I'd need a log to tell if this is a bug or not, and if you say that this only happens in a particular zone than maybe when you where monitoring the zone there was an imsic active using the bts cid and if you went back few days later than the original lac and cid would be active and the new lac would cause an alert.

The gps coors don't have any affect on lac detection so having

[2015-08-24 17:54] znakeeye commented on #606
What if there is a CID = -1?

[2015-08-24 17:56] znakeeye commented on #606
"is there 2 cids with different lacs and if so than its not a false alarm."

You mean two log entries with _identical_ CID and different LAC?

[2015-08-24 22:06] agilob commented on #609
Personally, I would see them removed and keep one flat theme included.

[2015-08-25 03:15] TPS commented on #609
@agilob That defeats the purpose of _options_, no? ;)

@SecUpwN As @E3V3A said, Sense is a theme name (HTC's, I think) that isn't translated in any language, but simply kept as-is, AFAIKT

[2015-08-25 04:02] E3V3A commented on #609
@SecUpwN  Please close this issue as it's not an issue.

[2015-08-25 04:07] E3V3A commented on #606
@znakeeye

Yes.

Previously using the app, doesn't prevent changing LAC detection. LAC detection is not fully re-implemented after DB overhaul, since we need to rework some DB queries.

[2015-08-25 04:07] #606 closed

[2015-08-25 04:14] E3V3A commented on #608
See OCID website for apps you can use to upload BTS data.

AFAICR, we had some upload problems with the data CVS formatting used for upload. Or it may have been messed up again after DB overhaul. @ Dev's: we need to look at the uploaded CVS file to see if each column is correct.

[2015-08-25 04:20] E3V3A commented on #601
@SecUpwN  Can you please send us a logcat + screen shot when enetring this DBV, because it seem to be a problem only you have... Otherwise please close the issue.

[2015-08-25 04:22] E3V3A commented on #599
It's not a bug, and there's no response and no PRs on the horizon. So we close.

[2015-08-25 04:22] #599 closed

[2015-08-25 04:27] E3V3A commented on #597
App is in **alpha** and after Beta stage, the DB should be the same for the rest of its life. And if it is not, then this is a suggestion for additional very low priority work that we have no resources of completing.

[2015-08-25 04:27] #597 closed

[2015-08-25 04:32] E3V3A commented on #589
So if our app is incompatible when using WiFi Calling, then bloody stop using it, or make a PR for fixing it.

[2015-08-25 04:32] #589 closed

[2015-08-25 04:35] E3V3A commented on #582
23 days and nobody else bothered hunting for this bug? May I proclaim this project development as dead now?

[2015-08-25 04:37] E3V3A commented on #558
@marvinmarnold It will be hard to merge anything external, if simple bugs like this cannot be handled...

[2015-08-25 05:41] SecUpwN commented on #608
Are you sure? I mean, if a user fetches a fresh key, how can that be ignored?

[2015-08-25 05:43] SecUpwN commented on #609
Ok, this answers this Issue. I just filed it because Weblate keeps complaining. Thanks for helping guys!

[2015-08-25 05:43] #609 closed

[2015-08-25 05:57] SecUpwN commented on #599
I basically agree with you, @E3V3A. But please do not close important Issues like this one too fast until we've send out another reminder to the person who published the solution. @agilob, would you please respond to https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/599#issuecomment-128270950? I will then re-open this Issue and it would be lovely to receive your PR then.

[2015-08-25 06:08] SecUpwN commented on #582
No, you may not! It is simply the same old story happening here: We lack developers, because they get discouraged quickly due to us chasing them around. That is what it boils down to. And then, great developers like @marvinmarnold branch off our work and will likely face troubles merging back into our repo - which in effect means that he'll be doing his own thing (I'm just being realistic here and

[2015-08-25 06:15] agilob commented on #609
do you know any other application that offers different icons? tray icon is like ID of an application and it should be consistent across platforms, devices and versions.

[2015-08-25 06:17] agilob commented on #599
@E3V3A take a look at com.fitchfamiliy.android.wifi_backend, it offers different debug levels to be set in preferences.

[2015-08-25 06:20] SecUpwN commented on #605
Excuse me, please. I will respect that in the future. It is having a huge impact on my life right now.

@banjaxbanjo, you may have positive test results because you're sending these different SMS with the app you've created yourself. I have just sent you the app I am always testing with. Please give a try.

[2015-08-25 06:24] SecUpwN commented on #609
No, I don't. But our app is neither like "any other app", nor do we *have to* offer only one style. When we created the Icons, we discussed that at length and decided that all three styles had their own right to exist. So in my yes, having the choice is better and really is no Issue at all. Thanks for helping, @agilob!

[2015-08-25 06:36] SecUpwN commented on #601
Not sure how to take this logcat. Just letting catlog run and entering `Unique BTS Data` via the `Database Viewer`? In fact, `BTS Measurements` and `Measured Signal Strengths` also stay empty.

[2015-08-25 07:37] DJaeger commented on #558
@E3V3A: As I already said, I will do so, but I have a project to be completed this week that has to be priorized.

[2015-08-25 07:39] SecUpwN commented on #558
Thanks, take all the time you need, @DJaeger. A short statement like this keeps us motivated. :)

[2015-08-25 09:16] DJaeger commented on #601
Have you done a clean installation, activated GPS and waited?
That is was what I have done to get it to work.

[2015-08-25 10:40] DJaeger commented on #605
@SecUpwN: For me AIMSICD also gives not alert when receiving silent sms.
I use HushSMS to test.

[2015-08-25 12:31] E3V3A commented on #605
So do I and Hush received the ACK response but AIMSICD never sees it. I think this must be related to other issue about log buffer size etc..

[2015-08-25 14:20] banjaxbanjo commented on #605
@E3V3A @SecUpwN it makes no difference what app sends these sec and hush has no option for type0 or mwi on any of my devices only wap and the wap you see in the video was sent using hush sms. My S5 detects every type of wap sms hush sends.

The PID & DSC are the only thing that is needed for detection and it doesn't matter what app sends them it all boils down to them bytes.

Samsung phones are mo

[2015-08-25 14:23] banjaxbanjo commented on #605
@E3V3A Did you say at one point you feel for the first time that sms detection is working great for you? Did a recent PR change something for your phone now not to detect anything?

[2015-08-25 14:58] E3V3A commented on #605
Exactly

[2015-08-25 15:46] banjaxbanjo commented on #605
@E3V3A any ideas of what PR changed this? Did you delete aimsicd db and also delete aimsicd from Superuser when installing new AIMSICD

[2015-08-25 16:37] He3556 commented on #582
Sorry i saw the 2147483647 = 0x7FFF FFFF and thought we already fixed it. But this was in another issue^^ where the object was instantiated to early in the code, so it got the wrong value.
It might take a while to find this issue again.

I see PSC = 0 on the db viewer (unique BTS) and on the main view
Sorry my EventLog has no entries.

[2015-08-25 19:37] banjaxbanjo commented on #606
@E3V3A from test I done changing lac is working,to test all you have to do is put a demo entry into the db with a know cid and a random lac and when it detects the real cid and lac it will alert.

[2015-08-25 19:45] E3V3A commented on #606
@banjaxbanjo  Awesome and thanks for testing!

[2015-08-25 19:51] E3V3A commented on #605
@banjaxbanjo I never have to delete anything as I always delete the App before re-installing it. Why do you say we need to delete AIMSICD from SuperSU? And what make you think the old DB is still there after deleting app?

[2015-08-25 19:56] banjaxbanjo commented on #605
@E3V3A for some weird reason su doesn't work till you re grand premission for same app only seems to happen when delevloping though.

Lets say my app asks for root and su grants it now if I make changes to my app in android studio and relaunch root access doesn't  work,  happened a lot of times when I was creating sms detection with aimsicd also ans as soon as I removed app from su and regranted t

[2015-08-25 19:58] E3V3A commented on #605
To test on your device, please see [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/537#issuecomment-119681516) comment. and repeatedly type the buffer info command... I really think we fill the log buffers way too quickly, especially for those of use using Xposed and have hundreds of other apps and bloat running...

[2015-08-25 20:02] E3V3A commented on #582
@He3556

That is weird. It should never be 0 unless not available, are you sure you're on 3G (UMTS) and not LTE (which doesn't have PSC)?

[2015-08-25 20:03] banjaxbanjo commented on #605
Here is what hush gives me
![screenshot_2015-08-25-21-01-46](https://cloud.githubusercontent.com/assets/7005094/9477918/ba40a4d0-4b6c-11e5-9fec-f1b86feffe98.png)

[2015-08-25 20:04] banjaxbanjo commented on #605
@E3V3A ahhh re-open eva stupid phone

[2015-08-25 20:07] banjaxbanjo commented on #605
![2015-08-25 21 06 55](https://cloud.githubusercontent.com/assets/7005094/9478013/55bf95a6-4b6d-11e5-84d6-7e3610b283ca.png)

[2015-08-25 20:11] E3V3A commented on #457
Before you start spending time re-coding and so on, you should reconsider this entire femtocell thing. As I've said repeatedly and never enough, femtocells are usually identified with certain ranges of LAC/CIDs so the old code we have can basically be removed without any adverse effect, given that we know each providers LAC/CID ranges they use for Femtocells.

I really hate this Femtocells thing a

[2015-08-25 20:14] banjaxbanjo commented on #582
I've set psc in db viewer to 0 if that max value shows up, that weird value we keep seeing for psc 0xffffffff. Is this a problem?

[2015-08-25 20:17] E3V3A commented on #605
@banjaxbanjo  So no wonder you get it all, your buffers are 4 times the ones I have! :)
Do us a favour. Clear the buffers so they read **~**`0 Kb consumed`. Then do nothing and repeat the command while taking time with a stop-watch to see how long it take your phone to fill the buffers...

[2015-08-25 20:23] E3V3A commented on #582
Probably better to show max values, but since PSC can never be higher that 511, we can set bad PSCs to `666`!! :)

[2015-08-25 20:46] E3V3A commented on #605
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/002055d948c387aadf68f4a7f949fcffb8090ee3#commitcomment-12888372

It could also be that regex's can be compiled or evaluated at runtime. A compiled regex is obviously much faster...

[2015-08-26 00:17] andr3jx commented on #82
@E3V3A @ga900 Thanks for your info here. I'm experiencing this forbidden LA issue on my phone. After walking through high frequented areas in my city and the main railway station I noticed that my phone started displaying the roaming indicator. Back at home the indicator still remained. After switching off and on the radio the roaming indicator still remained active. After I checked the MCC and MN

[2015-08-26 02:55] jenkinsl8 commented on #481
newbie here looking to contribute.  Not sure where to begin, guidance on attacking this issue would be appreciated.  Thanks!

[2015-08-26 09:32] He3556 commented on #481
Hello @jenkinsl8

i was working on that table a few month ago.
If you just send me an email, we can get things sorted.

[2015-08-27 15:49] NicholaiGit opened #610 "_"

[2015-08-27 21:35] pyricau commented on #455
Not sure how I ended up following this conversation. Unsubscribe.

[2015-08-27 22:52] znakeeye commented on #606
No, there has to be a bug in the works. I looked through the Unique BTS Data and found at least two entries that could be the reason I'm seeing this (presumably) false alarm:

CID: -1
LAC: 0

Then...

CID: -1
LAC: 12345 (scrambled)

So where does this "-1" come from?

[2015-08-28 01:55] #610 closed

[2015-08-30 07:58] banjaxbanjo commented on #610
@NicholaiGit hey all depends on the phone, some phones use smd and some phones the ports are located somewhere else I think its input/radio or dev/input/radio. They wont be called smd if not in dev directory so try sending AT commands to all of them, also plug your phone into a computer to see will a COM port show up a lot of times you can send AT commands to these ports on windows use putty.exe,

[2015-08-30 08:09] banjaxbanjo commented on #606
The Lac with 12345 and cid 54321 is the demo inserted for example but if a cid -1 and lac of 12345 showed up than I find that strange. And also a LAC with 0. Maybe this is an android OS  thing because I've logged a cid and lac of 0xffffffff before in a demo app and I notice that for a split second when changing to new bts that these values show .  @E3V3A would a phone connect to a bts if the cid w

[2015-08-30 08:28] znakeeye commented on #606
My lac was not 12345. I wrote it to avoid showing the actual lac to the rest of the world :P

Cid: -1
LAC: five arbitrary digits here :)

[2015-08-30 09:11] banjaxbanjo commented on #606
Ah silly me😁well it appears to be a bug but I don't think the app is the cause I think its android OS giving back these values. I guess we need to filter out -1 when comparing lac. But besides that it looks like the lac detection is working good

[2015-08-30 09:22] banjaxbanjo commented on #606
@ga900 from your experience is it possible an  imsi catcher can use 0 or -1 for lac or cid and would a phone connect to a imsic if it used those values?

[2015-08-30 12:48] NicholaiGit commented on #610
That's an amazing response, thank you!

Whenever I try to access smd0, it tells me that it doesn't exist. I can locate the file and type ls /dev/smd0 and see that it exists and is owned by radio.radio. I have been trying for actual days now trying to fix it. When I try connect my HTC One M7 device, how would I get the IP:Port to connect to?

Also the /dev/radio does not contain anything, and the i

[2015-08-30 13:38] E3V3A commented on #606
No it's not possible

[2015-08-31 15:46] patrickathompson commented on #608
The issue I am seeing is the same, but the cause doesn't appear to be this codebase. IN my scenario, when I double-check the information against Open Cell IDs website, the tower does not show up as found in the database either. I suspect my provider is making rapid and unannounced network infrastructure changes, which the open collective cannot keep up with currently. Unfortunately with an open so

[2015-09-01 06:47] ziem commented on #590
Not yet, sorry :disappointed:.

[2015-09-01 07:45] E3V3A commented on #590
I've just added the `BtsLoc` DB table in 2e44d298f1fe2e34367f4babdf133e33b2c29a71 as per above comment.

@ziem No problem, but it would be good to know if you still intend to do it or not?

[2015-09-01 08:18] banjaxbanjo commented on #610
@NicholaiGit Hey I don't know what your mean ip:port because you don't connect to the com port in this way.

Make sure you've proper usb drivers for your phone if using windows and not all phones have a com ports. If your lucky one will show up in device manager when your connect your phone, it  might show up as modem or something like that. If so click on it and get com port number will be someth

[2015-09-01 19:40] NicholaiGit commented on #610
Thank you once again for the great reply.
I will try to do that. I cannot find my radio folder tho, it seems like an endless loop for this.

I appreciate your help a lot, and if you don't mind, I'd love to have you on Skype or something like that, you seem like a very experienced user.

----- Reply message -----
From: "Paul Kinsella" <notifications@github.com>
To: "SecUpwN/Android-IMSI-Catcher-Det

[2015-09-02 08:07] banjaxbanjo commented on #610
I charge €100 per hour for Skype consultation😉 everything I learnt was from the google machine.

Sent from Yahoo Mail on Android

[2015-09-02 16:18] ziem commented on #590
Since I don't have enough free time I won't be able to help. I pushed [basic draft](https://github.com/ziem/Android-IMSI-Catcher-Detector/commit/b47589acdc779098127cec5f95d77cbe36fda4fa) with:
- adding markers to map (long press)
- dragging (long press + move)
- click

I also created empty methodsl: `loadUserDefinedCoordinates`, `saveUserDefinedCoordinates` and `updateUserDefinedCoordinates`. Seco

[2015-09-04 02:56] omamamasood commented on #82
Is there any way to implement the downgrading feature in openbts-umts stack in order to pull back an MS from 3G to 2G so that it can be captured ?

[2015-09-04 02:59] GSM-UMTS commented on #82
Is there anyway to implement downgrading feature in openbts-umts in order to pull back an MS from 3G to 2G so that it can be easily captured ?

[2015-09-07 21:28] tbelau666 commented on #608
I wondered about a Toast that said: "Error while uploading..." So I was looking to the log. There is an exception that says "MalformedURLException: Protocol not found". The place in AIMSICD is "...AIMSICD.utils.RequestTask.doInBackground" in line 204. May be the reason...

[2015-09-08 07:29] tbelau666 commented on #608
Found: The "OpenCellID/" directory will be created in the preparation of data. The database file(s) will be not. I take a closer look into the sources theese days and will give a pull request. Makes no sense to send the logs when I see the prob by myselfe ;-)

[2015-09-11 05:47] marvinmarnold commented on #269
Hi sorry for jumping in very late too. I think this is a tremendously good idea. Unfortunately, I'm not very sure how to implement it. Does anybody know how complex it might be?

[2015-09-19 19:23] agilob opened #614 "lastLocation in LocationTracker is never assigned"
But is checked for null value, it always has null value so there is unknown bug in locationtracker

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26809514-lastlocation-in-locationtracker-is-never-assigned?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-09-19 20:08] agilob opened #615 "SmsDetector doesnt check how many bytes where read from input"
[code]

You're reading data from `dis` and doing nothing with it. It looks like you should do something with the input and this introduces a potential and **very** difficult to reproduce bug.
You cannot assume that any given stream reading call will fill the byte[] passed in to the method. Instead, you must check the value returned by the read method to see how many bytes were read.

<bountysource

[2015-09-19 20:26] banjaxbanjo commented on #615
Forgive me if I wrong but the bytes from this dis.read(b); are stored in the b array and then this is turned into a string as you can see in the next few lines? This string is then split by \n and sent to the sms detection function as an array of strings.

The dis isn't read if it has 0 bytes bufferlen != 0, I should have changed this to > 0 to avoid -1 values.

but this data is being used.

[2015-09-19 20:29] banjaxbanjo commented on #615
bufferlen = dis.available(); this is telling how many bytes are available in the stream to read also.

[2015-09-19 20:32] agilob commented on #615
It tell you how many bytes are available, but not how many bytes were read, read [method might still return -1](https://developer.android.com/reference/android/content/res/AssetManager.AssetInputStream.html#read%28byte[],%20int,%20int%29)

[2015-09-19 20:38] agilob commented on #615
also, you just found another serious, difficult to reproduce bug with `available()` method, according to the same documentation:

[2015-09-19 20:45] banjaxbanjo commented on #615
Whats the best solution to the problem then ali because so far its working for me continuously  on 3 different model phones and doesn't miss an sms being sent?

[2015-09-19 20:48] agilob commented on #615
Ignore bufferlength size and check `if(dis.read() > 0)` instead, I would say, but I dont understand what Thread.sleep(1000) is for.

[2015-09-19 20:53] banjaxbanjo commented on #615
Only put sleep to slow things down to save cpu usage and give buffer or stream time to fill up instead of continuously reading ever nano second

[2015-09-19 21:01] agilob commented on #615
Ymm ok, so I guess this could be changed to `this.sleep()` for better readability.
Could you change both sleep() method in this class and check if that still works correctly?

I mean, this might not work as you think it works(?)
[code]

it constructs new thread, makes it wait 500 before not doing anything else to the thread so it dies in GC.

[2015-09-19 21:05] agilob opened #616 "Helpers.java initializes new AIMSICDDbAdapter but doesnt use it"
[code]

Could you explain why is it doing so?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26807637-helpers-java-initializes-new-aimsicddbadapter-but-doesnt-use-it?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2015-09-19 21:22] banjaxbanjo commented on #616
This deletes the db and when a new AIMSICDDBADAPTER is called it will create a new db.

The code for copying db from assets to data/data is called when adpater is called, basically checks if the db was copied from assets if its not then create it.