[2013-12-14 23:25] ghost opened #1 "[BOUNTY] Anonymous funding for Developers"
Hello,
New users need 10 posts to post in this thread:
http://forum.xda-developers.com/showthread.php?p=46957078

Would be awesome if you could pledge somewhere else (e.g. bitcoinstarter.com, ...)

My part:
EUR 50 in BTC as soon as their is a working (beta) app that can detect Silent SMS

Thanks!

[2014-01-05 23:22] SecUpwN opened #2 "CALL FOR MISSING DEVELOPERS!"
Dear followers and security enthusiasts, I opened this issue on behalf of project creator @E3V3A and my own. It looks like everyone of you is interested in having such an app for instant IMSI-Catcher warning, but sadly we currently have a serious lack of developers with knowledge on the subject and willingness to put our ideas into actual code.

SOLUTION: I encourage EVERYONE of you reading this t

[2014-02-09 04:45] PowerPress opened #3 "Add AIMSICD to the F-Droid Repository"
![F-Droid](https://f-droid.org/wp-content/uploads/2014/04/cropped-header_resp1.png)

Please add this project to https://f-droid.org/ repository.
Its a wonderful idea and should be spread to people who most likely will use it FOSS.

[2014-03-25 12:42] SecUpwN opened #6 "Femtocell detection & protection"
[Femtocells](https://en.wikipedia.org/wiki/Femtocell) are home routers that use broadband connections to improve mobile coverage, allowing calls to be made indoors more easily. While a femtocell all by itself is not necessarily harmful, they can be hacked ([as done in Great Britain by THC in 2010](https://wiki.thc.org/vodafone)) and be used to call anyone using the victims caller ID, read all SMS,

[2014-04-01 13:00] SecUpwN opened #9 "Cannot install / update Apps anymore"
@xLaMbChOpSx, after having installed version 0.1.2-alpha with the correct permissions in system/priv-app, I seem to not be able to install any other Apps. I will try to remedy this situation by removing the app and re-flashing my ROM, but wouldn't it be useful to implement some method of internal error log collection for AIMSICD? We might have a chance of better debugging through doing so..

**EDI

[2014-04-02 18:35] SgtObst opened #11 "Notification Icons for AIMSICD"
Hi togheter! As you can see, AIMSICD has got a new logo(!) with 3 specific colors:
![aimsicd_3colors](https://cloud.githubusercontent.com/assets/6475465/2595005/2d9e7534-ba95-11e3-9027-98ad2f1cf56c.png)
First of all we need to set the main icon (red, grey or green), each tint could be edited.

They will be used as notification icons like:

**GREEN** -> Relax! You are "safe".
**GREY** -> AIMSICD is

[2014-04-05 12:36] SecUpwN opened #12 "Checkmark in checkboxes not shown"
Dear @xLaMbChOpSx, the checkboxes within the current WIP-version 0.1.2-alpha of AIMSICD are working, but the checkmark itself is not shown. Could you fix this, please? While being on it, I'd like you to have a look at our new Icons types for the notification bar (presented in Issue #11), which shall be selectable. Therefore, AIMSICD should always be shown in the notifcation bar while running (**au

[2014-04-06 03:50] xLaMbChOpSx opened #13 "Maps Viewer"
The View Map feature originally from RawPhone was used to display a map with signal strength overlays showing tracked data about signal strength information captured through the app.

I have rewritten a portion of this but wanted to ask if this is what we want to display on the map or show something else as signal strength is not really a main objective of the project.

Any thoughts or suggestions

[2014-04-06 11:11] #12 closed, assigned to nobody

[2014-04-06 17:15] SecUpwN opened #15 "Alarm Notifications on Attacks"
Aside the visual notification of the current ciphering status, I would like AIMSICD to feature a submenu in the settings for enabling a (custom) vibrational pattern or a sound file to be chosen by the user that fires off once an attack of an IMSI-Catcher takes place. A standard subtle vibration pattern shall be included.

---

**UPDATE - Here is the summary of what this Issue shall accomplish:**

[2014-04-06 17:33] SecUpwN opened #16 "AIMSICD is not persistent enough"
The persistant notification is vanishing in WIP-version 0.1.3-alpha upon clearance of recently used Apps, AIMSICD is completely shutting down. Much better would be if AIMSICD would **really** stay locked until either force closed, or closed through the standard way of using the "Quit-Option" in the settings menu.

Also, AIMSICD should definitely start **on boot** and **before** network connection

[2014-04-06 18:43] SecUpwN opened #17 "Adding About-Tab to Settings-Menu"
Yeyy, another ticket for you @xLaMbChOpSx! Now isn't that awesome? :smiling_imp:
Sitting here with a glas of wine and smiling at how fantastic our app is already!

This issue **DOES NOT** have to be solved instantly, I just want it to exist so that we don't lose track of adding this in the long run. Here's what I would like to add into the About-Tab:
- Name and version of the App (to be updated wi

[2014-04-06 22:48] ChickenLegsOz opened #18 "Cell Info table insert - Signal Strength"
Checking the cell info table after tracking on the train to work I noticed the signal strength is not being added to the records, I will check this out tonight.

[2014-04-07 00:03] SecUpwN opened #19 "Simplify installation method"
As per [request](http://forum.xda-developers.com/showpost.php?p=51694516&postcount=191) of @E3V3A, I'm opening this Issue to find the best and easiest install method. The current steps to properly install AIMSICD can be found in the installation instructions.

Here is what he would like to be achieved in the long run:
- One click download installation from QR-Code (download only or download + inst

[2014-04-08 13:40] #16 closed, assigned to nobody

[2014-04-08 14:08] SecUpwN opened #22 "AIMSICD crushing network connection"
Cool new UI in version 0.1.4, @xLaMbChOpSx!

Unfortunately the mentioned release crashes network connection after installation and reboot. It seems like the network connection stabilizes for a short time, but once the Icon of the App or its notification is being pressed, AIMSICD crashes and  disables the network service. Do you need any logs?

[2014-04-09 13:17] Kml55 opened #23 "AT Command Interface"
I am browsing the source code. I do not have a rooted phone but I am wondering the AT Command injection output. Can you provide application screenshots ?

[2014-04-09 22:48] SecUpwN opened #25 "Xprivacy Restrictions for AIMSICD"
As many privacy-aware people like me and my friends use [Xprivacy](https://github.com/M66B/XPrivacy) (also [on XDA-Developers](http://forum.xda-developers.com/showthread.php?t=2320783)) to restrict permissions of Apps, I would like to know which things can be safely restricted without rendering our AIMSICD-App useless, @xLaMbChOpSx. The most comfortable way, which I also use, is to download the re

[2014-04-10 10:52] E3V3A opened #26 "Various useful Info"
Did you see this? May be useful, for getting and comparing GSM tower locations from public DB.
http://stackoverflow.com/questions/15560870/getting-tower-gsm-location-lat-lng?rq=1

[2014-04-10 18:40] #9 closed, assigned to nobody

[2014-04-11 06:20] SecUpwN opened #27 "Passing OEM_HOOK_RAW requests"
This is Issue will serve as an open discussion to collect important information in one place. We absolutely **NEED** to find out **how to pass an OEM_HOOK_RAW request from command line and read the results**. According to @E3V3A, every phone out there has this functionality, we just have to find it! When found, we'll then use it for AT commands / IPCs and all the other crazy stuff. @xLaMbChOpSx an

[2014-04-11 15:50] #18 closed, assigned to nobody

[2014-04-11 16:16] E3V3A opened #29 "Map: Initial Zoom-level too large"
Please change initial map zoom level to show nearby location, and not entire globe.
Also, signal level is not shown on (my) map.

[2014-04-11 17:53] AndroTech opened #30 "Display Info of second SIM"
In the version 0.1.5/.6 of the app, second SIM details are not displaying.

[2014-04-12 20:28] #30 closed, assigned to nobody

[2014-04-12 23:32] E3V3A opened #31 "Possible Security Exploit"
Apparently AIMSICD is debuggable, hopefully because its needed, but possibly because it was forgotten. According to [this page](https://labs.mwrinfosecurity.com/blog/2011/07/07/debuggable-apps-in-android-market/) , debuggable Apps can be a security risk.

The way to check is:
[code]
If the 3rd field is "1", it is debuggable.
(You should check all your Apps!)

Then you can also check by pulling the

[2014-04-16 13:02] E3V3A opened #32 "DB exported to CSV/XML files are empty"
After clicking "Export Database tables" and looking in those files, they're almost empty. Just containing the header.

[2014-04-17 15:10] githubjuser opened #33 "Show Map Force Close"
In 0.1.6 Show Map will force close

[2014-04-18 00:10] E3V3A opened #34 "Reconsideration of lowest supported API"
In the last week I have made a 180 degree change of mind, regarding the lowest AOS API level supported by AIMSICD. Before I was convinced that supporting AOS from GB 2.3.4 (API 10) and up was the right thing to do. But as weeks went by and my insight have increased I am more convinced than ever that our lowest supported API should be around JB 4.1 (API 16). Why is this? Because I realize that the

[2014-04-18 17:51] SecUpwN opened #35 "[Brainstorming] Fresh short name for AIMSICD!"
Listen up, security freaks and followers of our project our there!
Today you can participate in some brainstorming fun. :laughing:

We know that you **LOVE** our project and would like to tell your friends, parents and new developers about it, but "AIMSICD" is hard to remember, right? You also don't want to say "Hey, have you heard about the 'Android IMSI-Catcher Detector' already" each time?

Sug

[2014-04-21 01:24] E3V3A opened #38 "v0.1.7-alpha "Untrack Signal" icon"
The "Untrack Signal" icon, still shows a red cross, when in tracking mode.

[2014-04-21 01:33] #32 closed, assigned to nobody

[2014-04-21 15:29] E3V3A opened #39 "DB Export improvements"
Relates to:  v0.1.7-alpha
1. Please change the export menu item label to:  "Export Database (CSV)"
2. Please show popup to inform users that:
   - export has been successful with
   - the location of the file(s) and
   - the filename of the exported CSV file.

@xLaMbChOpSx :Question: Why do we have 3 CSV files?

[2014-04-21 15:31] #33 closed, assigned to nobody

[2014-04-23 00:10] E3V3A opened #40 "Re-consideration of using Xposed (Framework)"
After having had some challenging discussions in the [Xposed](http://forum.xda-developers.com/xposed/framework-xposed-rom-modding-modifying-t1574401) thread, asking questions about stuff I really don't understand, there seem to be a potential intellectual breakthrough on my part. Basically, it seem that we should be able to use the Xposed framework to bypass the signature issues due to using inter

[2014-04-24 23:25] #22 closed, assigned to nobody

[2014-04-24 23:30] SecUpwN opened #41 "Enable Tracking by Default"
Ha, what a strange thing: I just discovered that I had to click the "Tracking Button" to enable tracking of Cell, Signal or Location and then suddenly the Icon changed into the green status as well. Hence my suggestion: Why not track this stuff by default? I think it would be much more useful if AIMSICD would protect the user from the very beginning of using it. Furthermore, a question to @xLaMbCh

[2014-04-24 23:36] SecUpwN opened #42 "HTC Desire X: No Location Tracking Button"
Not sure if this is related to the code of our App, but I just noticed that AIMSICD in the current verrsion 0.1.7 does not show the GPS-Tracking button on the HTC Desire X. Do you know why, @xLaMbChOpSx?

[2014-04-25 00:24] #42 closed, assigned to nobody

[2014-04-25 15:03] E3V3A opened #44 "v0.1.8-alpha Several Bugs"
Hi I just tried this on a Samsung I9195 running stock 4.2.2. So to do this bug report quickly before I forget, I'll just list the issues. (I'll try to issues these as issues later.)
- "Tracking signal strength" icon still show red cross, when tracking
- [Menu] --> "Show Map" starts map centered on the sea outside Togo (Africa).
- [Menu] --> Preferences --> Icon Theme  is not showing the current th

[2014-04-26 02:01] SecUpwN opened #46 "Database Viewer: Coloring Suggestion"
Hey @xLaMbChOpSx, I just tested your latest changes: What a neat feature! Now, as you already mentioned in #45, the UI still needs some tewaking. Here's my suggestion: Instead of a white background, just make it grey (or even black would be great) and leave the color of the actual data the way it is. But man, I like what you've done! Any other suggestions on the UI, @E3V3A?

**EDIT:** Solved with

[2014-04-27 13:32] #46 closed, assigned to nobody

[2014-04-30 19:18] E3V3A opened #49 "v0.1.10-alpha Several Bugs"
@SecUpwN @xLaMbChOpSx

Hello,
I just spent 3 hours writing a detailed bug report for the last few days when my browser crashed and I lost the Github issue I was writing on. Damn! I will not be able to recreate even half the original post. So let me try to recreate the most important parts.

I also spent a hell of a terrible time trying to flashed SlimKat KK 4.4.2. So now I can use all the latest A

[2014-05-01 09:43] mjowe opened #50 "install fails - dependency to gapps"
I could not install the apk on my device. (rooted, kitkat, i9001)

the log says:
Package com.SecUpwN.AIMSICD requires unavailable shared library com.google.android.maps; failing!
Package couldn't be installed ...

I don't have gapps (Google Play Services) on my device and don't want to install them. Do we really need that dependency?

[2014-05-02 10:54] E3V3A opened #51 "How about shortening the GitHub name to AIMSICD?"
@SecUpwN
I propose to shorten our GitHub name to use "AIMSICD" instead of "Android-IMSI-Catcher-Detector". This is just for convenience for linking from Apps, Websites emails etc. Right now our links become very long when linking to specific files like DISCLAIMER etc.

 What are your thoughts?

[2014-05-02 23:35] E3V3A opened #53 "v0.1.11-alpha Bug Reports: Add your bugs here!"
This version look very nice and most things just work. :)
Here are the very few things that doesn't quite work.
- Database Viewer: "Cell Data" has entries with CellID = -1  (?)
- Settings: Default icon-set not selected/filled. (Default: "sense")
- View Map: This is weird. I guess we need to graphically distinguish between _OpenCellID_ towers and those connected to by phone? (It freaks you out when

[2014-05-03 10:35] accessone67 opened #54 "HTC one (m7) crash on startup"
AIMSICD always crash when I want to start it
           "Unfortunately, Android IMSI-Catcher detector has stopped."

But in statusbar it seems to work.

[code]

[2014-05-03 14:50] E3V3A opened #58 "v0.1.13-alpha Bug Reports: Add your bugs here!"
NOTE:
@xLaMbChOpSx  There is something weird about the notifications I get on github about your latest release. It points to un invalid url:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/notifications
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases/tag/v0.1.132-alpha

The side swipe is fantastic!

Latest findings:
- In Preferences: the "persistence" check logic is stil

[2014-05-03 15:00] #3 closed, assigned to nobody

[2014-05-03 15:07] #19 closed, assigned to nobody

[2014-05-03 15:09] #25 closed, assigned to nobody

[2014-05-03 15:10] #29 closed, assigned to nobody

[2014-05-03 15:11] #38 closed, assigned to nobody

[2014-05-03 15:13] #39 closed, assigned to nobody

[2014-05-03 15:14] #50 closed, assigned to nobody

[2014-05-03 15:17] #40 closed, assigned to nobody

[2014-05-03 15:20] #41 closed, assigned to nobody

[2014-05-04 01:20] SecUpwN opened #59 "WIP-Releases: Please add the date!"
Heyhey folks, how are 'ya rumblin'? :smile_cat: As you can see, I'm not always online: And as the weather gets nicer, I tend to be out on the roads, testing AIMSICD out in the field (I still tells friends with a proud voice to have you folks involved in our funky little App).

Since most of the time I'm just updating the changelog and @GitHub does not show the exact date of a WIP-Release (or did I

[2014-05-06 06:07] #51 closed, assigned to nobody

[2014-05-06 19:54] mva1985 opened #61 "Motorola Droid razr m - crash on startup"
every time I launch it, it will show the disclaimer and before I can answer it force closes.

[2014-05-07 17:01] E3V3A opened #62 "v0.1.14-alpha Bug Reports: Add your bugs here!"
Great stuff!! But to make this brief:
- Several previous issues from old Bug Reports still present. (See 0.8,10,11,13)
- Map View: Current "Map Type" selection is not shown. (perhaps add a radio button?)
- The "Update OpenCellID Data" function is not possible before enabling location tracking.
- Under "Network Information", I often find "Network type: unknown"? (But I know its on on WCDMA 2100) No

[2014-05-11 18:32] #59 closed, assigned to nobody

[2014-05-11 18:34] #61 closed, assigned to nobody

[2014-05-11 18:47] #17 closed, assigned to nobody

[2014-05-12 00:00] SecUpwN opened #63 "Only allow trusted IP connections"
Hey @xLaMbChOpSx, while analyzing our App I found **AdMobGms** and I wonder what we need this for? Can we remove it, please? I'd like AIMSICD to **never** ever show Ads or other invasive stuff.

I know I can trust you with the coding and really hope you won't implement unnecessary stuff. Please clarify on the above mentioned AdMobGms discovery.

[2014-05-15 22:10] SecUpwN opened #64 "SIM Information: Operator Name not shown"
Hey @xLaMbChOpSx, is it normal that up until the current version the Operator Name is not shown in the SIM Information tab? Or is my SIM simply not branded with an Operator Name (although I can confirm the card to be branded with the logo of my provider)..

[2014-05-15 22:24] #54 closed, assigned to nobody

[2014-05-16 20:29] SecUpwN opened #65 "Smashing Bugs for WIP-Release v0.1.25-alpha"
Dear @xLaMbChOpSx, I know you have a rough time here. Another new Issue? **Sigh** - I'm sure you're not too happy about that. Furthermore, it appears that currently multiple Issues from previous WIP-Releases are cramped into one Issue, upgrading these to "Monster Issues" - that's **NOT** the fault of @E3V3A, but of the partially very fast development with new WIP-Releases in the middle. And that i

[2014-05-16 20:29] #44 closed, assigned to nobody

[2014-05-16 20:36] #49 closed, assigned to nobody

[2014-05-16 20:43] #53 closed, assigned to nobody

[2014-05-16 20:47] #58 closed, assigned to nobody

[2014-05-16 20:54] #62 closed, assigned to nobody

[2014-05-23 21:54] SecUpwN opened #66 "Self-Checks making AIMSICD tamperproof"
This is something that has been dangling through my mind lately, @E3V3A: Wouldn't it be important to implement some sort self-check within our App to verify that all functions work properly and nothing has been tampered with AIMSICD or the APK itself? I've been reading stories about APKs being infiltrated while being downloaded or already installed Apps on the smartphone of a target being modified

[2014-05-24 01:47] peterclemenko opened #67 "Install failure on Droid Bionic Cyanogenmod 11"
I am unable to install release .16 on my Droid Bionic using CM11. I tried initially and it errored out saying that there was not enough space, cleared some space, and now it just says that it failed and does not specify why. Linked are log files of a failed install. I have tried wiping the Dalvik cache with no success.

I should also note that I was also getting the crash on start bug on previous

[2014-05-25 00:56] #67 closed, assigned to nobody

[2014-05-25 01:03] peterclemenko opened #68 "Crash on disclaimer window on Droid Bionic CM11"
On Droid Bionic with Cyanogenmod 11, the app crashes on the disclaimer window. I do not have XPrivacy installed, and the integrated CM11 privacy settings are set to blacklist, with nothing blacklisted. Linked are the log files:

https://gist.github.com/aoighost/48b2382a58e8610f32bc

[2014-05-28 10:37] #64 closed, assigned to nobody

[2014-06-02 08:34] SecUpwN opened #69 "Detection of Silent (Stealth) SMS Type 0 [$115]"
Law enforcement agencies are **very often** sending out so-called "silent SMS" ([see this German article](http://www.heise.de/newsticker/meldung/Zoll-BKA-und-Verfassungsschutz-verschickten-2010-ueber-440-000-stille-SMS-1394593.html)) which do not show up on a display of a target device, nor trigger any acoustical signal when received. But when they are delivered they generate a delivery receipt an

[2014-06-08 02:01] rjh427 opened #70 "IMSI-Catchers cause power drain issue?"
I confess to not following all the discussions here as closely as I should, but this recently came across the cypherpunks list - I thought it was relevant:

"In a previous note on Cypherpunks, I believe I read that exposure to one of these Stingrays causes a cell phone to emit its signal at maximum power, causing a battery drain.  This suggests that a simple Stingray-detector could be built, using

[2014-06-10 12:36] #70 closed, assigned to nobody

[2014-06-10 22:15] Gitschubser opened #71 "Check CID via Mozilla Location Service"
Do a request via Mozilla Location Service and check if the cellid is in the area.

Example result (you get latitude, longitude and the accuracy):
[code]
This could be interesting as fallback to opencellid.
Maybe there are people here that would be help to collect cellids for the project.

Apk for android:
https://github.com/mozilla/MozStumbler/releases

API:
https://mozilla-ichnaea.readthedocs.org

[2014-06-11 09:04] Gitschubser opened #72 "Check ARFCN for use from the right provider"
Add a check if the [ARFCN](http://en.wikipedia.org/wiki/ARFCN) from the serving cell and the neighbouring cells are from the correct provider.
For this we need/must collect the data for all providers.

**Example for Germany:**

| User | GSM 900 | DCS 1800 | Number of channels <br/> GSM 900 / DCS 1800 |
| :-- | :-- | :-- | --: |
| D1 / Telekom | 13–49, 81–102, 122–124 | 587–611 | 62 / 25 |
| D2 / V

[2014-06-11 15:09] Gitschubser opened #73 "Detection: Check value from registration timer T3212"
In the project
https://opensource.srlabs.de/projects/mobile-network-assessment-tools/wiki/CatcherCatcher
they check the timer T3212:

`L5     Y   The registration timer is set to a value < 10 minutes   wip`

We should check this timer too.

http://www.kmshetty.com/2011/06/t3212-periodic-location-update-timer.html
http://rfnetworkoptimization.blogspot.de/2011/05/explain-timer-t3212.html
http://de.w

[2014-06-13 12:44] #35 closed, assigned to nobody

[2014-06-13 13:52] #1 closed, assigned to nobody

[2014-06-13 20:47] andr3jx opened #74 "Reconsider DarkCoin as a donation option"
Hi, I want you to reconsider accepting DarkCoin donations because DarkCoins are more or less like Bitcoins only much less known, less widespread and harder to get. I know you choose DarkCoins because they are marketed with an "Encrypted transaction network" and "Anonymous blockchain using coinjoin technology" but both features are as far as I understood not really ready.

I suggest that @SecUpwN c

[2014-06-14 16:29] E3V3A opened #75 "Need App Tester with OsmocomBB phone"
Hi! We're at a point in our development where we need testers who have an [OsmocomBB](http://bb.osmocom.org/trac/wiki/Hardware/Phones) phone that we can use to test our detector with. In particular we need to test:

- [x] Silent SMS
- [x] IMSI-catcher functionality by fake BTS (i.e. osmo-phone in BTS mode.)
- [x] Anti-catcher operations

Checked box for current testing and Unchecked boxes for futu

[2014-06-15 23:49] E3V3A opened #77 "Github Markdown (INFO / HELP)"
Getting the GitHub Markdown (markup?) right in your posts, can be challenging for non-trivial posts.
Here are some links I found useful:

https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
https://help.github.com/articles/github-flavored-markdown
https://help.github.com/articles/markdown-basics
https://help.github.com/articles/writing-on-github
https://guides.github.com/features/mast

[2014-06-19 16:32] peterclemenko opened #79 "False positive on Silent SMS using TextSecure"
When using TextSecure for SMS, I got a non-encrypted SMS from a known contact which flagged as a type zero silent SMS. I think this might be a false positive, however I'm not sure.

[2014-06-21 04:23] SecUpwN opened #80 "HTC One: FC of AIMSICD on Bootup"
I've been noticing that AIMSICD force closes upon bootup of the phone, but then starts anyhow. This happens to be the case with the current WIP-Release `v0.1.19-alpha` as well as several precious ones. This has been reported by @E3V3A as well.

Since I'm on the move, I have no computer and just my phone. How to capture a logcat of the bootsequence to help fixing this annoying FC?

[2014-06-21 06:07] r4v5 opened #81 "Initial run MapViewer NPE"
Using the MapViewer on my Samsung Note II running 4.1.2 is causing an NPE. Currently running git checkout 6d3b4bf.

Problem seems to be at com.SecUpwN.AIMSICD.activities.MapViewer.loadEntries(MapViewer.java:403). Guessing this is either because the location DB was empty or because my phone was providing crap locations. After enough time has gone by that the DB has an entry, map viewer now at least

[2014-06-22 18:48] andr3jx opened #82 "Detect unusual 3G to 2G downgrade attempts"
I propose to add an option to change preferred network type to ["WCDMA only" (3G)](http://www.speedguide.net/faq_in_q.php?qid=408). This can be done at least in the [hidden Android Testing menu](https://play.google.com/store/apps/details?id=appinventor.ai_Gareth_Hannaway_420.Test_Mode). After you change this option you need to disable and enable the radio again. This should prevent downgrading att

[2014-06-23 19:41] SecUpwN opened #83 "Display: Same background colors on all screens"
Hey @xLaMbChOpSx, this has already mentioned by @E3V3A in his request to change the About-Screen to display the **same text background color like the rest of the screen**, but I've noticed that many more screens lack this. You'll especially notice that on the screen of the AT Command Injector as well as the About-Screen. Please match the text background color as requested on all screens. THANKS!

[2014-06-23 19:54] SecUpwN opened #84 "Display: Dynamic size of buttons"
Yes, another Issue created by me. Annoying, right? :smile:

Well, I'm a very visual person and thus hate when something doesn't fit the screen, looks awkward or seems out of place. And this is exactly the case with the button "Load Data" within the Database Viewer. On smaller screens like the HTC Desire X, it displays the letters underneath, instead of one word.

Therefore, I propose to make as mu

[2014-06-25 23:00] andr3jx opened #85 "MapViewer: Replace GMaps with OpenstreetMaps"
Hi, I know it might be too late because we have already Google Maps implemented but I still want to bring this issue. I can count myself to people who have almost everything Google related disabled on the phone. Therefore the MapViewer doesn't work on my phone. I would be happy if there would be a way to use OpenstreetMaps instead. I don't know how hard it would be to make it work with OSM but [he

[2014-06-25 23:30] #85 closed, assigned to nobody

[2014-06-27 20:38] systemcrash opened #86 "Attempting AT Commands on i9300 (CyanogenMod)"
Version 0.1.20
rom http://download.cyanogenmod.org/get/jenkins/73790/cm-11-20140626-NIGHTLY-i9300.zip
ANDROID: 4.4.4
BaseBand: I9300DDEMG2
CPU: ARMV7 rev 0 (v7l)

Ril Serial Device: /dev/ttyS0
Command: ATZ

[code]

[2014-06-28 22:07] #83 closed, assigned to nobody

[2014-06-28 22:14] #84 closed, assigned to nobody

[2014-07-01 21:33] #72 closed, assigned to nobody

[2014-07-02 11:19] #11 closed, assigned to nobody

[2014-07-02 11:24] #79 closed, assigned to nobody

[2014-07-04 16:29] SecUpwN opened #87 "Battery consumption way too high"
Hey folks, since I'm running AIMSICD all day long and on the move, I experience that my HTC One is having problems lasting the whole day. The battery drain is devastating since GPS is turned on all the time. And to be honest, I **hate** GPS - it not only feels weird having it on and knowing that all paths will be logged, but also I do not know if other Apps are secretly using it.

Not sure if ther

[2014-07-06 12:11] andr3jx opened #88 "CID info via API and SCREEN_STATE"
We know that Google has more accurate information about cell towers in comparison to OpenCellID. I did some research on their non-public api. I downloaded Gmaps.apk and decompiled it to smali. There I found a url "http://www.google.com/glm/mmap", which I googled. Here info how to use this api (redundant):

http://www.open-electronics.org/how-to-find-the-location-with-gsm-cells/ (later I realized t

[2014-07-08 13:30] SecUpwN opened #89 "Window FC of WIP-Release v0.1.23-alpha"
Hey @xLaMbChOpSx, thanks for the latest WIP-Release!

Unfortunately, it seems that this version works on my HTC One in the notification bar, but I cannot open it due to constant FC's of the window. Would you please check [this log](https://defuse.ca/b/eVlUNbfR48WehSDXGTJS7h)?

Thank you for your patience and all the heart blood you put into our App!

[2014-07-08 14:16] andr3jx opened #90 "OpenCellID API key not working"
Request to `http://opencellid.org/cell/getInArea?key=XXXXXXXXXXXXXXXXXXX&BBOX=...` returns

[code]

**EDIT** by @SecUpwN: Removed sensitive API key information.

[2014-07-09 16:50] #89 closed, assigned to nobody

[2014-07-19 20:26] He3556 opened #91 "Detection 1: Changing LAC/CID"
The LAC (Location Area Code) describes a set of Cell Towers (with different IDs) like below:

![step_01](https://cloud.githubusercontent.com/assets/2507905/3635662/df644cfc-0f82-11e4-85c3-bfcfd0a45195.jpg)

**Step 1** of the IMSI-Catcher *(picture 1)*: Masquerade like a real BTS and send with more power than the original, so a cell phone would connect to it. But if the connection is established it

[2014-07-20 19:17] E3V3A opened #92 "Temporary Disabling all SMS functions (pre-set flags)"
One way to disable Silent-SMS and Class-2 SMS that are used for phone location tracking and Number verification, is to disable all SMS functions by temporarily changing (or deleting) the *SMS Service Center* number. This could be done automatically for a certain warning level or set in the AIMSICD settings. Once danger is over, it can be reinstated or overridden by the user. (Also see discussion i

[2014-07-20 19:53] E3V3A opened #93 "Detection 2: Abnormal TMSI changes"
Under normal circumstances, the [TMSI](http://en.wikipedia.org/wiki/Temporary_Mobile_Subscriber_Identity#TMSI) is saved to the SIM card and only changes occasionally (upon request) and when modem is booted up in a different network environment. Most likely due to to the BTS ..blah blah  not finding your last TMSI in the [VLR](http://en.wikipedia.org/wiki/Visitor_Location_Register). However, this a

[2014-07-30 11:40] He3556 opened #94 "Counter Measure: Switching IMEI"
**Structure of the IMEI before 2003**
![imei_digits](https://cloud.githubusercontent.com/assets/2507905/3748500/c9bdc136-17dd-11e4-99aa-2cf32f2905dd.jpg)
(TAC - Type of device; FAC - Country where it was build)

**Structure of the IMEI after 2004**
![github_imei](https://cloud.githubusercontent.com/assets/2507905/3814820/aab61366-1cbe-11e4-9bf8-dfea650089c2.jpg)

The IMEI can be stored in the EIR

[2014-08-02 00:34] E3V3A opened #96 "SIM card File System Access"
We need to be able to access the SIM card filesystem in order to work some magic while collecting relevant and necessary network data, not available from AOS API.

There may be many ways to read the file system on a SIM card. We have previously looked at the possibility of using the modem AT command interface, but we need other alternatives in those cases when baseband does not present an availabl

[2014-08-06 12:16] E3V3A opened #97 "Detection 3: Changing Signal Strength"
A rapid change in signal strength when phone is not rapidly moving or "accelerating" and when the currently connected technology (LAC/CID/channel etc) remains the same, would indicate an abnormal and suspicious behavior.

However, a changing signal strength is a very bad indicator all by itself, at least for any phone not laying perfectly still, with people around staying perfectly still, which is

[2014-08-14 10:07] zabbal opened #98 "f-droid packaging"
In order to make tester's life easier would be nice to publish all the .apk on f-droid.org - this will dramatically increase test audience.

[2014-08-14 13:20] #98 closed, assigned to nobody

[2014-08-15 23:50] E3V3A opened #100 "Getting Neighboring Cells info"
There is some issue with some phones in using getNeighboringCells() and getting info. This is apparently especially true for Samsung phones as user @rtreffer states:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3751632-getting-neighboring-cells-info?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=gith

[2014-08-17 03:11] calyth opened #101 "Build issue -"
I'm seeing the following issue when I just did a clone, changed the java version to JavaVersion.VERSION_1_8

I'm on Oracle jdk 1.8.0_11, android studio 0.8.6. Originally I wanted to make a build to debug a different crash when the app starts on moto G with CM 11 snapshot m6 falcon.

I looked around on the net and it seems to be some kind of dependency issue for the project, but no idea what exactl

[2014-08-17 08:58] jwong810 opened #102 "Showing wrong LAC CID"
I'm using the version 0.1.23 on Sony Xperia ZR. The network lac and cid are both showing 2147483647 when it's in umts network. Did anyone notice about this issue?

[2014-08-18 17:22] sethbdev opened #103 "Pertinent Info: Darshak Framework"
https://github.com/darshakframework/darshak/

[2014-08-18 23:48] #101 closed, assigned to nobody

[2014-08-22 07:57] #102 closed, assigned to nobody

[2014-09-01 23:27] PowerPress opened #104 "Is this working yet?"
I hope this isnt a dumb question. Is this only for developers or is this at a working point for users now?

[2014-09-02 09:39] #80 closed, assigned to nobody

[2014-09-02 09:45] SecUpwN opened #105 "Bug Report for WIP-Release v.0.1.24-alpha"
This table serves for a better tracking of bugs to reach `WIP-Release v.0.1.24-alpha`.
:exclamation: Please add one new column for ech bug and tick solved bugs in #65 if applicable.

---

| Device (AOS/ROM) | Short description | Steps to reproduce | Tester | GitHub Issue |
| :-- | :-- | :-- | :-- | --- |
| HTC One with AOKP (4.4.4) | Detection 1: Changing LAC | see Issue | SecUpwN | #91 |
| I9195

[2014-09-02 13:08] rjh427 opened #106 "Portable IMSC Catchers? How about full-blown fake cell towers?"
A friend brought this to my attention. I thought it warranted forwarding for investigation: http://www.welivesecurity.com/2014/08/28/android-security-2/

[2014-09-05 19:23] #104 closed, assigned to nobody

[2014-09-09 03:51] SecUpwN opened #111 "Tracking Cell Details works without GPS"
Good morning, everyone! This is something I have been experiencing quite a while now, but hoped it would have been fixed with the next internal test release. But apparently it still appears on `0.1.24-alpha-build-5`. Are these things "meant to be"?
- When enabling Cell Tracking, AIMSICD does not enforce GPS (or take the user to the GPS menu) - in the current internal release it just changes the st

[2014-09-15 13:52] #111 closed, assigned to nobody

[2014-09-18 18:49] pisspoe opened #115 "Service starts but app doesn't work"
Hi,

I have a rooted Verizon Samsung s4, SCH-I545 with 4.4.2 AOS, 3.40 kernel

[code]

Thanks,
Rob

[2014-09-19 16:51] SecUpwN opened #116 "Re-introduce slide view for several functions"
@E3V3A just proposed re-introducing the slide view for these functions (in this order):
- Cell Information
- Database Viewer
- Neighboring Cells View

While re-adding the slide view for these items, the already existing buttons within the left-side panel shall be kept. Can you tackle this, @xLaMbChOpSx?

[2014-09-21 15:20] E3V3A opened #117 "Adding informative HELP pages (inside app)"
I propose to add a few pages or one long page (?) of HELP information on the most important items and features. In particular:

 - [x] on all "Menu" items
 - [ ] on all the *DataBase* (DB) tables + items
 - [ ] on all the *Settings* items

The help-page should be categorized something like:

 * Status Icons
 * Menu / Shortcut (items)
 * Database (tables and items)
 * Open Cell ID API KEY addition

[2014-09-21 17:25] SecUpwN opened #118 "Automatic Updates from GitHub Release Page"
Good evening, everyone!

Through our internal discussions we figured it would be great if AIMSICD could automatically check and fetch the [latest WIP-Release](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases) when pressing a button in the upper right corner. Hitting it prompts:

a) "A new version XXXX of this app is available. Do you want to download?"
b) "Congrats! You're running

[2014-09-22 06:31] DocSniper opened #119 "Crash on CM11"
Here the log:

[code]

[2014-09-22 12:58] #119 closed, assigned to nobody

[2014-09-23 11:39] tobykurien opened #121 "Remove Google Play Services"
I propose that we remove the need for Google Play Services from this app for several reasons:
- It's not open source (and hence will prevent this app from being accepted into the F-Droid app store)
- It's tracking software which violates our privacy, which is something users of this app will care about
- It's bloatware - makes the app much bigger than it needs to be
- Prevents this app from workin

[2014-09-24 17:10] #121 closed, assigned to nobody

[2014-09-25 13:34] SecUpwN opened #124 "Baseband Firewall"
Since I have been receiving numerous requests if AIMSICD could add such protection, I will open up this Issue for it to launch official discussion and development. **Important Note:** Implementation of this does not have a higher priority than the Issues we're already working on since we're up to delivering the App and protection measures that we promised to deliver in the first place. Do not expe

[2014-09-26 19:16] SecUpwN opened #128 "Action Bar: Title "Map Viewer" stays after switching"
Just a small glitch here: When pressing menu entry `Map Viewer` from the drawer and pressing the Back-Button to enter the tab `Device Details`, the title on top of the App keeps saying `Map Viewer`.

[2014-09-27 12:03] SecUpwN opened #130 "Preferences: Camouflage Mode & Panic Button"
Good evening, everyone! Based on the internal discussions we had with @tobykurien, this is an Idea that popped into my head over night: What do you think about adding a tab called `Camouflage Mode` to the Preferences, which enables the user to change the words `Android IMSI-Catcher Detector` in the notification bar (and possible other places) to anything he wants? The idea behind it is to "hide" o

[2014-09-27 12:32] #128 closed, assigned to nobody

[2014-09-27 14:07] SecUpwN opened #132 "Refreshing About-Menu with Buttons"
Hi everyone! This is something I have planned to do for a long time, yet never had the chance to digg deep enough into it: I would like to refresh the About-Menu from #17. This is how:
- The very first line with the version numbering shall be kept
- The line `Detect and avoid IMSI-Catcher attacks` shall stay (or be extended)
- Below that, a button across both sides of the App with the [Status Icon

[2014-09-28 11:52] E3V3A opened #133 "OCID data download progress spinner/indicator"
When downloading OCID data after having supplied API KEY, there is no indication of the progress. During this time, the app is blocked, and user may think it's broken. We need to add some kind of progress indicator for the download.

[2014-09-28 22:24] #133 closed, assigned to nobody

[2014-09-29 21:20] #81 closed, assigned to nobody

[2014-09-30 06:25] tobykurien opened #135 "Non-persistent service auto-starts when GPS toggled"
Picked this up and logging it for fixing.

[2014-09-30 12:13] SecUpwN opened #136 "Location Services: Multiple popups on locked phone"
I noticed that the current WIP-Internal v0.1.24-alpha-build-11 shows multiple popups about non-enabled location services when unlocking the phone. These popups are especially annoying because they are being placed on top of each other, thus a user has to decide more than 5 times times on the prompt asking: `You cannot track GPS data without enabling Location Services. Enable them now?`

Much bette

[2014-09-30 21:56] andr3jx opened #137 "Network Information empty"
Hello, on my Nexus 7 (see [TD](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Testing-Devices)) is Network Information empty. Using apps like NetMonster I can see Network Information. Unfortunately there is nothing in the logcat.

We need better logging in the app to find the bug.
[code]

[2014-09-30 22:50] SecUpwN opened #138 "Better internal logging for improved logcats"
Analyzing multiple Issues filed here on GitHub reveals that the standard logcats oftentimes are not helpful enough to detect the error and to fix the code. As proposed by others of our team, I am filing this Issue to remember to implement some sort of better internal logging - either into an external file, or some other way of improving the logcats created by Apps like [CatLog](https://www.github.

[2014-10-02 04:52] rancidfrog opened #139 "At Command"
I am interested in trying to use the At command to send sms, which is why I tried testing to see if it worked, as in the release it said,

I am not sure, though, of the results. In the app itself all I got was timeout

[2014-10-02 07:20] #139 closed, assigned to nobody

[2014-10-04 03:40] #87 closed, assigned to nobody

[2014-10-05 10:09] #136 closed, assigned to nobody

[2014-10-05 13:20] #135 closed, assigned to nobody

[2014-10-05 21:52] E3V3A opened #143 "Mysterious FC on opening"
Build: v0.1.24-alpha-**build-12**

App starts (and runs) but immediately closes window, the Disclaimer flashes, and app goes to background... App icon is present but every time you click on it to open main windows, it flashes and disappear.

[2014-10-07 06:32] #86 closed, assigned to nobody

[2014-10-10 10:52] #116 closed, assigned to nobody

[2014-10-10 14:06] E3V3A opened #145 "How to enter Service / Field Test Mode"
This is not a real App issue, but may be helpful to understand how _Service Mode_ (**SM**) or _Field Test Mode_ (**FTM**) that can be reached on different devices, and on different firmwares (FW aka ROMs).

The _SM_ is device **and** FW dependent, so what works on stock, usually don't work on a custom ROM, or completely different. The FW provide an OEM Java wrapper for this access, and AOSP, AOKP

[2014-10-11 23:29] E3V3A opened #147 "Build: Automatic version and app name update with Gradle"
Implement automatic build and version updates when using Travis-CI and Gradle, to build our App.
The `build.gradle` script to do this, is described [HERE](http://bryankrosenbaum.com/2013/11/27/getting-to-know-gradle-auto-increment-version-and-signing-releases/), and lastest version can be found [HERE](https://github.com/bryanro/later-android/blob/master/Later/build.gradle). This would obviously re

[2014-10-11 23:56] E3V3A opened #148 "Build: Automatic upload of Travis-CI build to GitHub"
We would like to have the latest App as built by Travis-CI, to be (semi- ?) automatically uploaded to our GitHub downloads section. Comments on how this can be accomplished are most welcome. Trvais-CI *S3 Deployment* is discussed [HERE](http://docs.travis-ci.com/user/deployment/s3/) and *Build Artifacts* [HERE](http://chairnerd.seatgeek.com/keeping-track-of-build-artifacts/).

[HERE](http://stacko

[2014-10-12 00:39] E3V3A opened #149 "Reformatting and cleanup of the releases page"
I propose that we start thinking about how to make a more clean [Releases](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases) page. It's growing out of control and contain a huge bunch of redundant info. I suggest we start by fixing some of these:
- [x] Remove the "WIP -- WIP -- ..." lines.
- [x] Remove or move the "Disclaimer Acceptance..." info
- [x] Remove or move the "Installat

[2014-10-12 00:58] E3V3A opened #150 "GitHub: Check all links on landing page"
I noticed some links are empty or so on, so we should go through and check/correct all links on the [GitHub landing page](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector).

[2014-10-12 01:26] E3V3A opened #151 "Counter Measure: Disable GTalkService"
It's been known for a long time that Google has the power to pull or push any app to/from your phone, using the *GTalkService*: **INSTALL_ASSET** or **REMOVE_ASSET**. Thus we would like to disable this dangerous functionality, or at least detect it, when app is in a non-green detection/status mode. In addition, turning off GTalkService will also improve your battery life somewhat. Fortunately (!)

[2014-10-12 13:02] #77 closed, assigned to nobody

[2014-10-12 13:14] #150 closed, assigned to nobody

[2014-10-12 13:34] andr3jx opened #152 "FC on opening Cell Information in Airplane Mode"
When I open Cell information while the phone is in offline mode, the app crashes.

[2014-10-12 13:49] #152 closed, assigned to nobody

[2014-10-12 14:51] E3V3A opened #153 "Bug report: 0.1.24.alpha-b13"
Good news, is that it runs! Following issues with latest build 13.
- ~~FC when GPS get a lock, where none has been acquired before.~~
- ~~Refuses to close with **[back]** button.~~
- ~~Restarts after exiting app with "exit". (App has to be killed by killing service in Task Manager.)~~
- ~~All~~ **some** tables in "DB Viewer" are empty.

Logcat will come later.

[2014-10-12 17:16] #143 closed, assigned to nobody

[2014-10-13 03:21] unionor opened #154 "sound notification."
Hello. sound and vibration notification for possible threats is needed. Thanks.

[2014-10-13 15:39] #154 closed, assigned to nobody

[2014-10-17 11:25] SecUpwN opened #155 "Changelog: Notification on Startup"
Hi there, developers! I would like to take the same approach like @k9mail and enable our AIMSICD to show the latest [CHANGELOG.md](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/CHANGELOG.md) **once** after the `DISCLAIMER` has been accepted. Upon installing a new version of our App, the `DISCLAIMER` itself shall not pop up again, but `Changelog.md` shall be shown.

I'm not s

[2014-10-17 13:33] #155 closed, assigned to nobody

[2014-10-17 16:04] SecUpwN opened #156 "Preparations for RELEASE on F-Droid and Aptoide"
This Issue shall serve as the central TODO for the public release of `WIP-Release v0.1.24-alpha` to [F-Droid](https://f-droid.org) (fulfilling #3 by @PowerPress) and [Aptoide](http://www.aptoide.com/). _Both stores have already been created by myself_ and are ready to be published so that our project will gain much more momentum than ever before. Once all the points in this Issue have been solved,

[2014-10-17 16:23] SecUpwN opened #157 "Make AIMSICD fully compatible FOSS"
As per [request](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/156#issuecomment-59537423) of @tobykurien, I am opening this Issue to make our project fully [FOSS](https://en.wikipedia.org/wiki/Free_and_open-source_software) by removing the binary JAR files (RootTools.jar, open-csv.jar, httpmime.jar) in the libs folder and include them from the Maven Central Repository. Feel free

[2014-10-17 17:19] #118 closed, assigned to nobody

[2014-10-18 10:33] SecUpwN opened #160 "High Quality Launcher Icon"
[![Iconography](https://2.bp.blogspot.com/-HfoO6KNFBKA/UeiyRoELb7I/AAAAAAAAAFs/bHR-5viktU4/s1000/icons.png)](http://android-developers.blogspot.cz/2013/07/making-beautiful-android-app-icons.html)

I really do not want to put pressure on solving this or bust on anyone's balls (since we already have much more important things to work on), but due to the fact that higher density screens on both phone

[2014-10-18 10:40] #157 closed, assigned to nobody

[2014-10-18 11:10] #160 closed, assigned to SecUpwN

[2014-10-19 18:47] SecUpwN opened #161 "Notification Icons in Android 5.0"
[![Basic Combo](https://developer.android.com/images/android-5.0/notifications/basic_combo.png)](https://developer.android.com/design/patterns/notifications.html)

As [mentioned](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/160#issuecomment-59647972) by @tobykurien, all notification Icons should be white-on-transparent with no alpha-blending and we should use differently-shaped

[2014-10-20 16:46] #149 closed, assigned to SecUpwN

[2014-10-20 20:45] #161 closed, assigned to nobody

[2014-10-20 22:38] #68 closed, assigned to nobody

[2014-10-21 12:33] E3V3A opened #163 "better code comments"
I've noticed that comments in our code is quite scarce at best, and not at all present, at worst. We need to prevent and remedy this trend. So from now on we demand that all Java code is accompanied by some minimal comments about the author, initial and change dates, brief functional description and where it is used.  **For example:**  Put something like this in the header of the file: *DeviceApi1

[2014-10-21 13:37] E3V3A opened #164 "Debug: Need on screen logcat entries"
In order to better debug the detection parameters, we'd like to have some of the **log.i** and **log.e** entries displayed on screen. We're particularly interested in ones coming from these files:
[code]
Perhaps it is possible to add it in such a way that it is only shown when built with Gradle's "*assembleDebug*"? Also, when they're shown, it would be extra nice if it was shown just like the on-s

[2014-10-23 12:45] #106 closed, assigned to nobody

[2014-10-23 13:31] #26 closed, assigned to nobody

[2014-10-23 21:09] E3V3A opened #165 "Update Wiki: Development Road Map"
I assign myself to update the [Development Road Map](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector#development-roadmap) and [HERE](https://secupwn.github.io/Android-IMSI-Catcher-Detector/).

[2014-10-23 21:36] E3V3A opened #166 "Developers: Bug Fix Priority List (alpha)"
After some brief voting on current and outstanding issues, we think we have reached a consensus that the following issues should receive the highest priority and in this order.

- [x] 1. *Open Cell ID Data* is not shown in DB viewer, thus blocking many other functions such as proper map view. #153 and [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/153#issuecomment-59853978)

[2014-10-25 11:21] #105 closed, assigned to nobody

[2014-10-26 08:42] #153 closed, assigned to nobody

[2014-10-26 15:39] E3V3A opened #168 "Bug Report: 0.1.24-alpha-b17"
---

**Test Device**: _Samsung Galaxy S4-mini_ `(GT-I9195), stock JB4.2.2, Enforcing`

Database viewer
- [x] `Default MCC Locations` are not showing the "number" of items as in the other tables. I.e. "3/43".

In Map Viewer:
- [x] At first start, only the "blue" currently connected BTS shown, even if OCID data have already been loaded.
- [ ] Then, if you hit download OCID data (while in viewer), ma

[2014-10-26 21:08] #165 closed, assigned to nobody

[2014-10-27 03:35] #115 closed, assigned to nobody

[2014-10-27 21:04] E3V3A opened #169 "Build: Consider automatic static code analysis using Coverity"
We may consider using [Coverity](https://scan.coverity.com/) for static code analysis.
The results of this would give us another status "badge" to be displayed on main Wiki.

Here is what their website FAQ says:

**What is Coverity Scan?**

**What is static analysis?**

**What types of issues does Coverity Quality Advisor find?**

-    resources leaks
-    dereferences of NULL pointers
-    incorr

[2014-10-29 00:02] #169 closed, assigned to nobody

[2014-11-01 19:06] #132 closed, assigned to nobody

[2014-11-02 17:45] #156 closed, assigned to nobody

[2014-11-03 19:59] E3V3A opened #173 "Developer: App Test Protocol"
We need to invent and post a test protocol that can go through a few different situations, that we can detect. The test protocol is meant to be used only for developers and testers to test various features of the app. When app is in _beta_ stage, this test protocol should be extended to test more aspects in a real IMSI-catcher environment.

**Basic Tests**
~~__________~~
- _Phone/SIM Information_:

[2014-11-06 23:43] E3V3A opened #174 "BETA: Change About-Button links to internal Popups"
In anticipation and preparation for the *Beta* stage of our application, we need to convert the help and information related links on the "About" page, from external web site (GitHub) links, to internal on-device (or in code) text files.

**Q**: Why is this an issue?

**A**: (1) It can be annoying to the user, that each button require you to start a web browser to be able to see the relevant infor

[2014-11-09 22:30] E3V3A opened #175 "Current Travis-CI Gradle build fails"
**To Developers:** @SecUpwN et.al.

Our current Gradle build on Travis-CI is failing. The error reported is:

I have no idea what that means, so please fix, or revert to working condition.

[2014-11-11 21:23] #175 closed, assigned to SecUpwN

[2014-11-12 22:45] E3V3A opened #176 "Detection: Network data consistency"
Another detection mechanism to consider is to check for consistency of the various network parameters. For example, how CID is related to RAT and so on. Similarly we can follow some of [THESE](https://github.com/mozilla/ichnaea/issues/291) *ichnaea* (MLS) suggestions.

[TBA]

[2014-11-18 12:53] MatejKovacic opened #178 "Incorrect Silent SMS Detection: MNO dependent"
Hi, I installed AIMSICD, v 0.1.24-alpha(24) to a mobile phone with Android 4.4.2.

That phone was registerd to slovenian mobile operator Si.mobil (operator's code is 29340, https://en.wikipedia.org/wiki/Si.mobil).

I send an ordinary test SMS message to that phone from Telekom Slovenije network, and it was normally received. Then I sent an ordinary test SMS message to that phone from Si.mobil netw

[2014-11-18 20:29] andrewrosenblum2014 opened #179 "Reporter Inquiry from Popular Science"
Hello,

My name is Andrew Rosenblum, and I've just installed the app on my Samsung Galaxy SIII.  I am looking forward to testing it out, looking for rouge base stations in and around Oakland, CA where I live, given that OPD has purchased IMSI-Catchers, according to Ars Technica, and other outlets.  Anyhow, I am also a journalist, who contributes frequently to Popsci.com, and I think your project c

[2014-11-18 20:37] molenick opened #180 "AIMCD crashes when run"
Running on a galaxy s4.  Not sure if there's debugging information I can provide.

[2014-11-19 13:49] #179 closed, assigned to nobody

[2014-11-19 14:36] SecUpwN opened #181 "HowTo on first launch of AIMSICD"
Hi there, everyone! I've been receiving some valuable feedback of a kind friend of mine. Asking around, several other people confirmed that it would help the average user a lot to have a small "HowTo" guide when starting our App the first time. A nice reference App I instantly had to think of was the funky [PimpMyRom](http://pimpmyrom.org/) by @Androguide. His HowTo is quick, intuitive and self-ex

[2014-11-19 15:14] Gustav1 opened #182 "How to find the OCID API key?"
Version: 0.1.24-alpha on Acer Liquid Z200

Dear AIMSICD team,

I installed your app of the IMSI Catcher Detector on My Acer Liquid z200. As far as I can see it works. Thanks you for making this app! I like to use the map viewer, but I don't understand a word of all this computer language.
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Installation On this installation page, you said

[2014-11-20 06:52] NghtWachman opened #184 "AIMSICD could not be found on Aptoide"
Not sure if the app has been moved by you guys but for some reason Aptoide is redirecting me to another website away from Aptoide market which I find very unusual.

Have you guys moved the app from the aptoide market?

[2014-11-21 01:04] droopy opened #185 "Similar application is free on googleplay"
Have you seen the application `DARSHAK` on GooglePlay?
Is it the same as CryptoPhone500 using Samsung GT-I9300 for detection.?
Project is free on github
regards,
[Edited for readability]

[2014-11-21 06:22] #182 closed, assigned to nobody

[2014-11-21 06:26] #185 closed, assigned to nobody

[2014-11-21 07:08] SecUpwN opened #186 "Graphical glitches on Huawei Ascend P7 Mini"
I've been informed that our App apparently has two rather small and hopefully easy to fix graphical glitches appearing on the Huawei Ascend P7 Mini, running Android 4.3. To sum those glitches up:
- Preferences button has a completely different style across all menus
- App Icon appears differently across all menus as well

@tobykurien do you think you can find a minute to see why these are appearin

[2014-11-21 09:34] bitterskittles opened #187 "OpenCellID usage is not anonymous"
OpenCellID requires the user's full name and telephone number emailed to them in order to white-list their API key. http://wiki.opencellid.org/wiki/Request_whitelisting

This statement in preferences "NO personal information will ever be submitted without notice" should be removed, since API key is also tied to the user's name and phone number on OpenCellID's end, making API key personal info.

[2014-11-21 16:54] #186 closed, assigned to nobody

[2014-11-22 22:47] kolg opened #188 "OpenCellID Measurements"
Hello,

I'm trying to contribute to OCID via your app. I can see some blue markers on the map in the app, the first measurements are also in aimsicd-ocid-data.csv. The other blue markers are not listed in the file.
I have some questions:
1. The blue markers only appear when i switch 3G on or off on my phone. Leaving 3G on (or off), no new markers are created, even when i'm cycling around lots of d

[2014-11-23 16:32] Piratonym opened #189 "android.permission.ACCESS_SUPERUSER should be declared in AndroidManifest.xml"
The permission android.permission.ACCESS_SUPERUSER should be declared in AndroidManifest.xml. Current superuser apps display a warning if an app requests superuser without declaring this permission and plans are to eventually deny superuser to all apps not declaring it. See https://plus.google.com/103583939320326217147/posts/T9xnMJEnzf1.

[2014-11-23 16:51] #189 closed, assigned to nobody

[2014-11-24 06:50] SecUpwN opened #190 "Language Localization via GitHub"
Good morning everyone! Yes, another "Issue", but with the lowest priority ever seen. Why? Simply because I would like to have a place to discuss this, it has been going through my mind for a long time. This Issue is actually also meant for Android developers watching our project to chime in and raise their voice. So be brave and open your mouth, recommend us a "best practice" on how to [localize](

[2014-11-26 17:58] johnyjj2 opened #192 "Missing status icon in FAQ: Changing LAC..."
Hi,

first of all - thanks for your effort. I really appreciate that this kind of software was created :-).

In section [Status Icons](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons) I can see the explanation. But it does not match what I could see: "Hostile Service Area: Changing LAC Detected!". The icon is yellow.

Can you add explanation about this status to your FAQ

[2014-11-26 19:01] #180 closed, assigned to nobody

[2014-11-28 07:29] #184 closed, assigned to nobody

[2014-11-30 21:11] galets opened #194 "Crash v0.1.24-alpha"
verizon S3, modded stock android 4.4.2

log:

[code]

[2014-12-01 05:38] #192 closed, assigned to nobody

[2014-12-03 19:03] SecUpwN opened #195 "Finding the Serial Device on HTC One"
Good evening, everyone! Since it seems that the HTC One M7 lacks `/dev/radio/` (at least on my personal device), we need to find the correct Serial Device to enable scraping important values used for IMSI-Catcher and Silent SMS detection on our HTC One devices. This Issue shall be for discussing possible solutions to this - and especially for hunting down the correct Serial Device. For a great gra

[2014-12-09 06:00] #2 closed, assigned to nobody

[2014-12-09 06:14] #103 closed, assigned to nobody

[2014-12-09 15:16] #194 closed, assigned to nobody

[2014-12-09 16:51] teknogeek opened #198 "Communicating and using rild and rild-debug"
Arising from the discussion in #195, I am opening  this Issue to help and figure out how to use rild and rild-debug to try and communicate with the ATCoP on (theoretically) any device! **EDIT by SecUpwN.**

[2014-12-09 17:12] E3V3A opened #199 "Understanding the MTK GSM mux daemon"
If we wanna play with RIL and rild on any device, we need to better understand how to use the MUX as part of the AP-BP communication of AOS. In this case we'll discuss the use of the MTK specific (?) binary:  `/system/bin/gsm0710muxd` and what it is used for. The documentation related to this binary (as it's name suggests) are found in the 3GPP document:

In summary:

How is this of interest to us

[2014-12-09 19:37] E3V3A opened #200 "How to use /dev/socket/rild rild-debug and /dev/diag?"
This issue is an offshoot of #195 in order to better understand the usage of the radio related debug interfaces. It is required to keep comments clear and on-topic. All other discussions and tests should be posted [on our XDA thread](http://forum.xda-developers.com/showthread.php?t=1422969).

**Q:** So what do we want to do?
**A:** We want to be able to communicate with the radio debug interface i

[2014-12-09 19:41] #195 closed, assigned to nobody

[2014-12-09 19:52] #124 closed, assigned to nobody

[2014-12-09 20:02] #198 closed, assigned to nobody

[2014-12-09 20:21] #63 closed, assigned to nobody

[2014-12-10 01:01] ghost opened #201 "Logging of interesting events"
Thanks for the useful and timely app.

I wonder whether there is a logging of alerts. It seems that the cell/location information saved in the database doesn't actually have anything to do with events that would generate alerts.

Keep up the good work!
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6895008-logging-of-interesting-even

[2014-12-10 19:43] bili123 opened #202 "BETA: AIMSICD-Installer on GooglePlay"
Hi there! I do understand the issues with Google Play and its policies but there's one problem regarding mainstream users: What's not on Play, barely exists. F-Droid ist great but even most techies don't really care about it.  I wrote dozens of articles about it and the feedback was - well, what feedback ...

So it would be great to find a way to get on Google, a simple launcher would do the job.

[2014-12-13 19:59] He3556 opened #203 "Wrong CID/LAC shown in Database Viewer (0.1.25-alpha-b3 )"
**1.** "Database Viewer" > "Cell data" (and also under "Cell Information"):
There is always a CellID = 65554 with LAC = 0 when i start the App. I first saw it a few months ago, so it is not a new issue. After a few hours this cell disappears again (in the View "Cell Information") i have to search if it is still in the local db. I hope it is and we keep all data.

**2.** In the "Database Viewer" >

[2014-12-14 11:15] Ueland opened #204 "[crash] "appname has stopped working" when viewing map page"
Does not happend all the time, but still...
- AIMSICD version 0.1.24
- Stock Google Nexus 5 (not rooted, working on it now), on Android 5
- Logcat dump: http://pastebin.com/4V2F25nq
- Getprop: http://pastebin.com/RrUtuxeq
  :exclamation: Logcat dump (press button Send Error Log in Navigation Drawer)

[2014-12-14 11:19] Ueland opened #205 "Feature request: Let the map start at my location"
When opening the map page, i am greeted with 24 small maps of the whole world. It would be more useful if it started on my location.

[2014-12-14 18:08] #204 closed, assigned to nobody

[2014-12-14 19:35] #187 closed, assigned to nobody

[2014-12-15 02:22] E3V3A opened #206 "Bug Report: 0.1.25-alpha-b3"
Here are a couple of things to be distributed into separate issues.
**Test Device**: *Samsung Galaxy S4-mini* `(GT-I9195), stock JB4.2.2, Enforcing`

---

- [x] 1. After successfully requesting an OCID API key, the question box re-appears, and you have to push "Cancel".
- [x] 2. It's impossible to download the OCID data, if the last location is not determined. Determination should be from:

  - [

[2014-12-15 07:13] Ueland opened #207 "Debugging view jumps up and down when adding new entries"
I might look into this myself in order to familiarize myself with the code, but i will log it here anyway.
Often the debugging view will jump to the top, then back at the bottom when adding a new log entry, makes it a bit hard to keep track on what is going on.

[2014-12-15 07:22] Ueland opened #208 "neighbouringCellInfo empty in debug logs"
So this morning i decided to take a walk around my office as i am smack middle in Oslo,Norway where a spy scandal is starting to grow now, after signals from multiple IMSI-catchers have been detected. All these are all around my office. The app did not trigger any alarms, but not too surprising giving that:

a: Alpha version for the App
b: The IMSI-Catcher may have been taken down as they have bee

[2014-12-15 18:06] #65 closed, assigned to nobody

[2014-12-16 14:54] david-nolastname opened #211 "Settings icon same as "Hostile Tracking Detected""
Sorry if this is the wrong way to reach out but I wasn't sure what else to do.

I installed the Android-IMSI-Catcher-Detector app and my icon indicates "hostile tracking detected." See screenshot: http://imgur.com/3cCxBHM

I'm really not sure what to do now. Is there a way for me to check to see if it's a false-positive?

Any thoughts or ideas most welcome. I just don't know what to do.

I'm using

[2014-12-16 19:17] Thrudvang opened #212 "Support for Samsung Galaxy S4 GT-I9505"
I Samsung Galaxy S4 GT-I9505 supported? I have not been able to get the "old" version.
I will not open the sealed box before I know if it works.

[2014-12-16 20:31] Ueland opened #213 "Repository is too large due to PAPERS"
I was sitting here trying to get the project up and going in Android Studio when did some silly things decided to delete my local copy and check it out again. (user error). I then noticed that the repository is "gigantic" when you consider how small the project is

Why is the repo full of pdf documents where some are over 20MB each? I see that it is interesting documents but it do not think that a

[2014-12-16 22:57] SecUpwN opened #214 "Improve Status Icon Descriptions"
Hi there, folks! This **should** be a relatively simple Issue regarding the descriptions of our [Status Icons](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons) as suggested by @E3V3A in his https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/201#issuecomment-67246284. The `Short Explanations` and `Detailed Explanations` should be updated to reflect the curren

[2014-12-17 00:29] E3V3A opened #215 "Major DataBase overhaul and restructuring [$20]"
As we have noticed in many recent issues and many past discussions, there is a terrible urgent need to restructure our original database (DB). This DB was originally made for our very first attempts in building this app. However, we've come to realize that the way it is used and structured and how its tables are internally labelled is really confusing at best. It was made according to very weak do

[2014-12-17 07:48] Ueland opened #216 "3G & 4G not supported?"
I have had issues with never getting neighboring cells up, but those appeared as soon as I switched to 2G.  Suddenly even the "cell information" page worked.

I did not notice the 2G requirement before I casually noticed it in a ticket. Did I miss something? If not, and it is true that it work for only 2G, then it should be stated more places, like the app and the readme.

And if so, what needs to

[2014-12-17 07:48] #212 closed, assigned to nobody

[2014-12-17 08:40] jeblad opened #217 "Button for easy switching to fast scan mode"
When in an area where it might be a stingray it would be nice to have a button for easy increase of scan rate. There should also be a button for fallback to nomal scan rate.

[2014-12-17 08:42] jeblad opened #218 "Button for acknowledging a warning"
When a warning is issued, and it is not a continuous warning, it should be possible to acknowledge it somehow. Otherwise warnings will accumulate.

[2014-12-17 15:30] E3V3A opened #219 "MTK measurements using native AT commands"
**Note**: This is an MTK device specific issue.

If you're unsure about your device, check if you device look similar to any of the MT*nnnn* labelled devices on our [developer device list](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Testing-Devices), that show a `gsm.version.ril-impl` property as "**mtk gemini ril 1.0**".

Of all the Androids out there, it seem that those devices

[2014-12-17 17:05] E3V3A opened #220 "How to upload exact BTS locations (CounterMeasure)"
**The problem:**
Some of the more advanced AIMSICD detection depend on knowing the exact location of a BTS. However, this information is rarely available, and when it is, it is usually for a specific network operator (MNO). That data is obtained by downloading or querying public or private databases. However, in only very special cases are the exact BTS location provided, and this situation is det

[2014-12-17 19:40] E3V3A opened #221 "Qualcomm modem Jamming Detection"
According to some past documents, many Qualcomm baseband processors (BP) and SoC's has a built in "Jamming Detection" feature. This is clearly not documented in any other place and I've never seen any device or software using it. It would be great to find out if this is something that we could use.

[2014-12-17 22:58] Heralda opened #222 "New option; select alarm."

[2014-12-17 22:58] #222 closed, assigned to nobody

[2014-12-17 22:59] Heralda opened #223 "New option; select alert properties."

[2014-12-17 22:59] #223 closed, assigned to nobody

[2014-12-17 23:10] Heralda opened #224 "New option; select alert properties"
In the current version v0.1.24-alpha you can select whether or not to disconnect when the program detects an IMSI-catcher. Perhaps you could also select if the phone should vibrate, or even give an audible indication both when it detects that an IMSI-catcher is present, and another alert when you connect with that IMSI-catcher.

I sincerely apologize for my $0 donation membership, but I am a stude

[2014-12-18 04:45] #224 closed, assigned to nobody

[2014-12-18 06:53] SecUpwN opened #225 "OpenCellID versus OpenSignal"
[![OpenCellID](http://www.linux-magazin.de/var/linux_magazin/storage/images/media/linux-magazin/images/opencellid3/1002419-1-ger-DE/opencellid_opengraph_h.png)](http://opencellid.org/)  **versus** [![OpenSignal](https://lh6.ggpht.com/5Vlpsx8ZjkfLeLHpiMI79vx7bjU0ca3plMMHLHH0FDTVZisOFFP1RAZCpCe6MWtN9w=w300)](http://opensignal.com/)

**NOTE:** This Issue is not only meant for me, but also as a refere

[2014-12-19 09:03] #225 closed, assigned to nobody

[2014-12-19 18:09] E3V3A opened #226 "Add this image to wiki Building instructions"
@SecUpwN  Please add this image to the Building instructions under item 8 [HERE](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Building) .

![generatesignedapk](https://cloud.githubusercontent.com/assets/194392/5508922/e3fd1d9c-87ba-11e4-8499-6d09cecfa3cc.PNG)

[2014-12-19 18:24] E3V3A opened #227 "MapViewer: No OCID BTS's without GPS lock"
When starting the `Map Viewer` for the first time (and possibly subsequent times as well), after having downloaded the OCID BTS data, the map only shows the recently connected BTSs (blue) and not the ones from OCID table. There is possibly something related to GPS lock here. Map is not updated. You need to go into `Map Viewer Preferences` and change map, before its getting updated... OR it is a ti

[2014-12-19 19:35] E3V3A opened #228 "Map Viewer UX issues"
In `Map Viewer`:

 - [x] Take a long time (~13 sec) to load BTS pins. Why? Can we keep OSM data in a cache to reduce time?
 - [x] If viewing map and app is then temporarily put into background (by long press home button), upon return, map has been exited and you have to navigae back to the map again, which need to reload.
 - [x] Changing *Map Type* to "Satellite", doesn't allow zooming in very muc

[2014-12-20 21:36] E3V3A opened #230 "Detection List"
Here is a list of the various detection items (_flags_) that we wish to implement. It's for developer reference only, and the details surrounding each item should (eventually) be found in our technical developer Wiki documents. So please don't ask questions **here** about how they work. We have a chatroom for that, which you can ask to be added to, if you think you have something important to shar

[2014-12-20 23:35] E3V3A opened #231 "Feasibility of spoofing TA"
Although this is currently completely off topic, I'd still like to throw this idea out there. It may not even be possible, but as I understand it, there should be nothing preventing it either.

My idea is to provide a phone location counter measure, by spoofing the `Timing Advance` (**TA**) parameter in the baseband. *TA* is used both by GMS and LTE, whereas LTE have a `Propagation Delay` (**PD**)

[2014-12-21 20:24] E3V3A opened #232 "Add AIMSICD to OSM list of Android apps"
Please add [THIS](http://wiki.opencellid.org/wiki/Data_sources) AIMSICD info from OCID to the [list of Android apps using OSM](http://wiki.openstreetmap.org/wiki/Android).

[2014-12-22 12:58] #217 closed, assigned to nobody

[2014-12-22 13:00] #218 closed, assigned to nobody

[2014-12-22 16:00] E3V3A opened #234 "DB Viewer UX and layout issues"
For the `DB Viewer` to be of any informative value, it should better reflect the important contents of the DB tables. Especially important to us is the key info in the `DBi_bts` and `DBe_import` [tables](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Technical-Overview).

I propose the following improvements:
- [x] 1. In `DB Viewer`, use ~~the same two-color text-coloring-scheme as

[2014-12-23 01:54] E3V3A opened #235 "Device Type and Interface Selector"
Because AOS API doesn't support all the mobile network and baseband (modem) information we need, we try to obtain that information from one or more of 5 different interfaces. Apart from the AOS **API**, these interfaces are not only highly hardware/device dependent, they also depend on the Android firmware version as customized by the Manufacturer. In addition they are sometimes protected from use

[2014-12-23 02:17] #226 closed, assigned to SecUpwN

[2014-12-23 06:59] #207 closed, assigned to nobody

[2014-12-23 10:53] #211 closed, assigned to nobody

[2014-12-24 12:18] #138 closed, assigned to nobody

[2014-12-24 15:45] SecUpwN opened #236 "Travis CI: gradlew connectedAndroidTest exited with 137"
Good evening ladies and gentlemen, merry christmas! :santa:

Yep, this is our first (and hopefully last) christmas Issue. This one should be solvable by anyone who is firm with how Travis CI works (winking at @meatballhat). As the maintainer of this repository I constantly monitor how Travis CI builds our project. I am having a hard time with Travis CI lately due to this error:

Upon restarting an

[2014-12-25 20:28] E3V3A opened #237 "Enable (native) Menu Button"
I'd like to have the native Android Menu button to access the drawer, just as the top left AMISICD icon button does. This is important for one hand operation and UX.

[2014-12-25 21:07] Ueland opened #238 "Missing logs while only service is running"
I noticed that while being at a location with bad cell coverage that AIMSICD kept complaining about chancing LAC, but that was never logged as long as the phone was in standby mode (black screen). Both the notification and in-app icon had changed to yellow so at least that part worked just fine, but upon opening the debugging view, i noticed that there was nothing there before the app starting.

W

[2014-12-25 21:11] Ueland opened #239 "False "CHANGING LAC!!" alarm on bad cell coverage"
It appears that the "CHANGING LAC!!" warning is triggered very easy **while the phone has bad cell coverage**, should figure out a smart way to avoid that, perhaps set a minimum cell coverage level before trigging or something. Logcat: https://defuse.ca/b/cOjp8FlSUhEPHSAkrtlLwZ (password: fish)

[2014-12-26 18:09] SecUpwN opened #240 "Replacing RootTools with RootShell"
As proposed in [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/236#issuecomment-68106159), @E3V3A found some advantages to switch to [libsuperuser](https://github.com/Chainfire/libsuperuser) by @Chainfire.

Although I like `RootTools`, we currently constantly experience messages like this in our logfiles:

With our App getting even more complex in the future, we rely on stab

[2014-12-26 18:56] #236 closed, assigned to nobody

[2014-12-28 09:49] #237 closed, assigned to nobody

[2014-12-28 13:59] #90 closed, assigned to nobody

[2014-12-28 14:28] domi007 opened #241 "Merging SnoopSnitch and AIMSICD?"
Yesterday Karsten Nohl and SRlabs released SnoopSnitch, a new tool that uses debug functions of Qualcomm chipsets to reliably detect IMSI cathers and other attacks (SS7 attack, SIM-card attack etc.).
I think it would be a good idea to have a deep look at it, and figure out what could be used from it, how it could be enhanced based on the findings this project gathered:

https://opensource.srlabs.d

[2014-12-28 15:21] #241 closed, assigned to nobody

[2014-12-28 17:34] Ueland opened #242 "Cell signal strength is always 99db"
This is a bit of a memo to myself, i noticed that the CellTracker appears to always detect a signal strength of 99db, figure out why and fix.

[2014-12-29 07:42] #232 closed, assigned to SecUpwN

[2014-12-29 13:21] E3V3A opened #244 "FC on "Request API Key""
On: **v0.1.25-alpha-b5**

App crashes when hitting `Request API Key` under "Settings".

[2014-12-29 14:43] E3V3A opened #245 "Need to export API key"
We need a way to export the OCID (or MLS) API key for recycling and testing on multiple mobiles. Problem is that OCID only seem to allow the registration of a new Key once per day. The export should be via display, SMS, email, clipboard or textfile.

[2014-12-29 16:23] E3V3A opened #246 "App restarts after Quit contrary to settings"
The App restarts after a while, even after selecting `Quit` from drawer, contrary to the disabled "**Settings > Persistent Service**". Seem related to GPS use. Perhaps background service is not shutdown properly?

@tobykurien Please have a look. Especially since you did most of the GPS on/off stuff and this seem related somehow.

[2014-12-29 18:22] MatejKovacic opened #247 "Some new papers to study"
Hi, this could be of interes for you:
- IMSI-Catch Me If You Can: IMSI-Catcher-Catchers:  https://www.sba-research.org/wp-content/uploads/publications/AdrianDabrowski-IMSI-Catcher-Catcher-ACSAC2014-preprint-20140820.pdf
- SnoopSnitch: https://opensource.srlabs.de/projects/snoopsnitch
  Android application for detecting mobile abuse: Network insecurities, evidence of IMSI catcher, SIM card attacks,

[2014-12-29 18:32] #247 closed, assigned to nobody

[2014-12-31 00:50] #244 closed, assigned to nobody

[2014-12-31 13:45] #242 closed, assigned to nobody

[2014-12-31 18:48] E3V3A opened #250 "Map Viewer BTS pin colors"
The BTS pin colors as shown in the Map Viewer where previously loosely defined as:

However, this is neither logical nor according to our [detection status](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/230). So we have to re-think what make more sense. In addition there may be other ways to display additional BTS information, for example, by using different size, shape or "lette

[2015-01-01 13:31] E3V3A commented on #250
Updated  OP to reflect new pin coloring scheme. **DEV**'s: Please discuss in locked HC room.

[2015-01-01 14:39] SecUpwN opened #251 "Suppress multiple GPS Notifications"
Hey folks! A few of my friends recently reported that our App displays notifications too often, especially the one with disabled `Location Services`. This makes the impression our App wants to "call home":

[![Location Services Disabled](https://spideroak.com/share/IFEU2U2JINCA/GitHub/home/SecUpwN/SpiderOak/SCREENSHOTS/LocationServices_Disabled.png)](https://github.com/SecUpwN/Android-IMSI-Catcher

[2015-01-01 15:10] E3V3A commented on #251
Yes, this is indeed very annoying, but is related to the GPS use and issue #246. It is Google location services pushing that message, then following with another message from Google. But second message you should select "Cancel"... @SecUpwN Can you get screenshot also of second message?

[2015-01-01 15:18] SecUpwN commented on #251
@E3V3A, which second message? I don't get one. Just the above from OP.

[2015-01-01 15:39] E3V3A commented on #251
After you select `OK` to the message above, you'll get this screen:

![locatioservices1](https://cloud.githubusercontent.com/assets/194392/5592555/ec737102-91dc-11e4-98d8-be6440df0dd0.png)

Then this window pop-up:

![locationconsent1](https://cloud.githubusercontent.com/assets/194392/5592561/0c445fbe-91dd-11e4-8cc1-c1e02ab94ddb.png)

And you should select `Disagree`.

[2015-01-01 17:24] SecUpwN commented on #251
Thanks for the clarification, I actually get this and it is also working as it should. But I am one of those guys who likes to avoid using GPS at all times. Thus, we should enable suppression as in the OP.

[2015-01-01 18:58] guardtheveldt opened #252 "Silent SMS and Database viewer"
Hey guys!
Awesome work with AIMSICD. I am thrilled that there are people out there such as yourselves to help us lay people guard privacy! That being said I did notice an issue on my Galaxy S4 running on Verizon. Anytime I receive an ordinary SMS I am alerted that it is a silent SMS or Type-0. I was gonna go through the database to send you guys a report, but anytime I try to pull it for silent SM

[2015-01-01 19:09] SecUpwN commented on #252
Hi there @guardtheveldt, thanks for the warm words! Actually, our Silent/Stealth SMS Detection is still not implemented properly, thus I see this to be an Issue related to #69. Please post a link to your logcat on [PIE BIN](https://defuse.ca/pastebin.htm) there and make sure to remove sensitive data first.

[2015-01-01 23:08] E3V3A commented on #252
@guardtheveldt  Hi There and Welcometo GitHub! Don't get discouraged about us closing this issue, there is a secondary problem, which came to mind when seeing this. I think your Verizon network is using CDMA and believe that SMS are handled slightly different there. Since we are mostly developing on European devices your bug report is very important to us. Please see our [bug report](https://githu

[2015-01-01 23:13] E3V3A commented on #163
Chenged my mind. Contribution Guidelines look great. Closing this.

[2015-01-01 23:13] #163 closed

[2015-01-01 23:27] E3V3A commented on #178
Any progress on this? Seem like the #252 is related.

[2015-01-01 23:29] E3V3A commented on #252
BTW. @guardtheveldt Let me understand. What did you do to pull silent SMS DB? Did you try to export DB? or what?

@SecUpwN I think we should re-open this if the problem is in the DB viewer.

[2015-01-01 23:49] SecUpwN commented on #252
Of course, but how can we even tell, @E3V3A? The core feature is buggy.

* Error: `Anytime I receive an ordinary SMS I am alerted that it is a silent SMS or 0Type.`
* BUG: `...but anytime I try to pull it for silent SMS the app crashes on me...`

I cannot confirm even one of these things, since `Load Data` is not crashing on the current version of the App. So please clarify what exactly you did, @

[2015-01-01 23:50] E3V3A opened #253 "DBe Consistency Check"
This is the **DBe Consistency Check** detection specifications, as referenced by detection item 1 in the `Detection List` of #230. This detection is used to filter out bad data and corrupt BTS tower info when importing the *external* BTS DB from OCID and MLS etc. The table in this part of the database is called **DBe_import**.

The way it works is that the DBe is imported (from OCID), then all the

[2015-01-02 00:03] E3V3A commented on #252
Maybe he tried to export the DB?

[2015-01-02 00:14] E3V3A commented on #69
We need to try to get this going.

@tobykurien @Ueland
Can you see if you can implement the "Yes"-path for the `Can 0SMS be seen in logcat?` part?
@andr3jx write the reg-ex needed above, so it should be relatively staright forward to get this test working. That would help eliminate some of the false positives issues like #69 and #252, due to lack of API handling.

[2015-01-02 00:22] E3V3A commented on #227
Seem like the random crashes has been fixed with recent release.

[2015-01-02 07:04] SecUpwN commented on #213
I am aiming at solving this Issue within the next 3 days. @He3556, have you seen the [pricing of BOX](https://www.box.com/de_DE/pricing/)? I guess those specs are too limiting for free users.

Personally, I have one more problem with that service: Their [Privacy Policy](https://www.box.com/legal/privacypolicy/) tells that they log **every single access** and they're handing it out to governments:

[2015-01-02 07:10] SecUpwN commented on #206
As for number 5, I suggest removing `Anonymous Donations`. Do you agree, @E3V3A and @He3556?

[2015-01-02 12:25] E3V3A commented on #213
I think you should just start a new repo **here** and put it all in there and forget about it.

[2015-01-02 12:26] E3V3A commented on #206
Yes, I agree.

[2015-01-02 12:42] ihackshit commented on #239
I have noticed this message quite often when moving fast in a vehicle. Could this be cause of the signal strenght presented varies too much, and in that case could this warning be suppressed?

[2015-01-02 12:58] E3V3A commented on #239
No, but it could be a timing issue. Many times the LAC and CID doesn't change at the same time or are both delayed with respect to what baseband is actually using. In addition this detection is not suitable for moving devices. So you'll get false alarms when moving from one coverage area to another. AIMSICD should be a thought of as a sensitive measurment instrument, which you turn on when you've

[2015-01-02 13:04] SecUpwN commented on #239
Hm.. how do you like the idea of adding a countdown timer within the `Preferences` which counts down how long all notifications shall be suppressed? Would be useful when traveling for certain times..

[2015-01-02 13:06] Ueland commented on #213
Sorry, not fixed yet :)

thu@delta:~$ du -hs Android-IMSI-Catcher-Detector/
225M    Android-IMSI-Catcher-Detector/

The papers needs to be purged from history, i can look into it if wanted.

[2015-01-02 13:07] SecUpwN commented on #213
@Ueland, thanks for telling me, you're doing an awesome job maintaining your Issues! Yes, please have a look into this and tell me how exactly to purge the directory from history to delete the size.

[2015-01-02 13:11] E3V3A commented on #239
Could be an option, but let's understand and solve the problem in OP first.

[2015-01-02 13:16] E3V3A commented on #213
@SecUpwN  Where is that? Also, please remove or replace "/" from the file names as that messes up some non-UTF-16 command line things... E.g. "A5/3" becomes "A5-3" and so on.

[2015-01-02 13:18] ihackshit commented on #239
E3V3A: Okay, this makes sense however could it not be supressed when gps-cordinate change? I move around a lot and whenever i pick up the phone i see a warning. Additionally, and this is not related to the LAC changes, but it would be helpful to be able to jump to the specific warning details when notified about a warning, allowing you to fast see what LAC is causing the issue, if nothing else but

[2015-01-02 13:18] SecUpwN commented on #213
@E3V3A, if you would have looked at the commit, you'd have noticed it is [here](https://spideroak.com/browse/share/AIMSICD/GitHub/PAPERS/). :smiley_cat:

I have locally rebased the project. Is there a way to update all forks that we have on GitHub?

[2015-01-02 13:19] Ueland commented on #239
We could take a look at the accelerometer just as we do with the signal measurements, and not register anything until the phone lays still for N seconds?

[2015-01-02 13:23] E3V3A commented on #239
@ Ueland:  Sound good to me.
@ ihackshit: Yes, you're talking about an event logger. We'd like to see this as well and we've filed #201 and #238 to deal with this.

[2015-01-02 14:32] E3V3A opened #254 "Strange LAC/CID/PSC when on 2G EDGE"
Setting my 4G (LTE) enabled phone to 2G (GSM-900) only, when using a network provider who normally operates on 3G (UMTS) the Android network icon shows "E" for *EDGE* calls only, and the LAC/CID and PSC are shown in the `Device Details` as:

**Q:** Is this a standard for the "EDGE" network mode?

If this is wrong, we should display a message to the user, informing him that his SIM is not compatibl

[2015-01-02 15:22] Stericson commented on #240
Sorry for the delay in response, the new years took me away from my machine.

It should stay up to date, I use this in my own applications so I'm pretty good at keeping RootTools/RootShell up to date with the latest changes that come about.

I can look at how you are using things and construct a pull request down the road.

[2015-01-02 15:29] SecUpwN commented on #240
That would be awesome, @Stericson! Please wait with forking our repo until #213 is solved for good.

[2015-01-02 15:46] He3556 commented on #254
yes i have something similar. It looks like there are 1 or 2 digits missing in the LAC or CellID sometimes. Maybe a problem with API calls? Also the changing LAC problem could be result from wrong values. How can we get this fixed?

[2015-01-02 16:12] SecUpwN commented on #74
@ukanth, I just noticed you're using [Gratipay](https://gratipay.com/), where it says you're [give and receive anonymously](https://gratipay.com/ukanth/). Would you please be so nice and give some feedback here? I am still evaluating the best option for our own developers and contributors to collect and send some small funding. Thanks!

[2015-01-02 16:17] ukanth commented on #74
@SecUpwN , I registered to see the service when it was called gittip. I never received/donated any amount as it doesn't support NON-US accounts/cards. It may be suitable for US only account holders.

[2015-01-02 16:21] He3556 commented on #239
the false changing LAC alert has nothing to do with the movement itself. We just check if a LAC of a certain CellID changes. So when the phone is moving and it connects to another Cell - than of cause the LAC can also change.
@ihackshit and @Ueland (or everybody else with this issue) maybe you could try a special version of our App. I added Thread.sleep(1000); before we read the LAC. Now the app i

[2015-01-02 16:28] SecUpwN commented on #74
@ukanth, thanks for stating this. It's a no-brainer that we won't be using it then. Any other services that are as open as possible and support anonymous receiving/sending to numerous other services?

[2015-01-02 16:35] He3556 commented on #238
I found some interesting informations from @andr3jx in our Chat (Testroom) from December 2014, when we where talking about this. I am afraid we didn't discuss or solve it in the end:

"You’ve mentioned that the screen needs to be on. Does the app not collect data when the screen is off? No, the app does not collect data when the screen is off on Android, except if you have experienced a dropped ca

[2015-01-02 16:50] SecUpwN commented on #238
Yes, I recall that we've talked about that, @He3556. If I recall correctly, what you're looking for is in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/87#issuecomment-48064191 But I was not aware that our App currently doesn't do a thing when the screen is turned off! I mean, what are all the other similar projects do differently? What exactly do we have to do to remedy that sit

[2015-01-02 16:55] E3V3A commented on #254
1. Hmm, yes, I've never seen "G" either, at least not on any Androids, that I can recall.
2. I'm not sure about the missing digits, because going into *ServiceMode* menus, the current connection show the same LAC/CIDs. It could be a bug in the baseband FW though, that presents the wrong info. (It's very buggy!) The SM was behaving very strange when in 2G-only, where many other things didn't work,

[2015-01-02 19:23] He3556 commented on #238
Well, our app is doing something when the screen is turned off - like the alert Ueland was talking about. But i would like to know what exactly is working. I need to check the logcat...
I wish there was some documentation about it :( But i will document it when i know...

[2015-01-02 20:23] Ueland commented on #238
The app apparently work while in background, the only question is why it does not log as it should.

[2015-01-02 20:24] Ueland commented on #239
Throw the code bit into its own thread and the lag should go away. ;)

[2015-01-02 20:45] SecUpwN commented on #213
@Ueland, with the awesome and very detailled help of @dalibor I was able to purge the leftovers of `PAPERS` and clean up our repository. Please verify if it is working, you very likely have to delet your old fork and create a fresh one since all history has been cleaned as well. Should be solved for good now.

[2015-01-02 20:52] Ueland commented on #213
hmm, i nuked my fork and re-forked it now, still getting the same size here.

[2015-01-03 00:12] dalibor commented on #213
@SecUpwN @Ueland Looks like it's not cleaned up yet, because of the tags.

Here's what I did to clean it up completely:

1. I forked the [repo](https://github.com/dalibor/Android-IMSI-Catcher-Detector) on my Github account.
2. I cloned the repo locally.

[code]

3. Checked the size:

[code]

4. Removed PAPERS/*.pdf

[code]

5. Cleanup of "unused" git objects

[code]

6. Check size

[code]

7. Forc

[2015-01-03 03:57] E3V3A commented on #240
Seem that it was just fixed..

[2015-01-03 04:03] E3V3A commented on #238
@Ueland I think by default, the baseband processor goes into a low energy state, kind of sleep, and only wakes when there is some events. So I guess only testing can reveal what is going on. I guess you can use ssh over wifi to look what happens when you turn off screen, or device goes to sleep.

[2015-01-03 04:19] Stericson commented on #240
Cool, I'll look into this.

I did some basic digging and think you guys could migrate to RootShell which will slim down the code a bit.

I'll work on cloning the project and making certain thats the case.

[2015-01-03 05:43] tobykurien commented on #69
Something I noted: According to Karsten Knohl's 31c3 talk on SS7, silent SMS's could be used by the network to page a phone to find out which base station it is connected to.This might explain why there would be silent SMS detection before an incoming SMS or call.

[2015-01-03 10:33] ihackshit commented on #239
Cool, would love to give it a go! Thanks for a great app and great response.

[2015-01-03 12:36] E3V3A commented on #69
Yes, but only if the phone has been off or out of (signal) reach.

[2015-01-03 12:43] E3V3A commented on #239
@He3556 Do you know how to do that? If yes, Please implement, else ask Tor for more details.

[2015-01-03 12:57] Ueland commented on #238
Hmm, god point! Perhaps SSH is the answer

[2015-01-03 13:20] E3V3A commented on #238
I use [SSHelper](http://arachnoid.com/android/SSHelper/index.html) which works great! (Limited support info [here](http://forum.xda-developers.com/showthread.php?t=2770127). Notice, that when screen is not on with SSHelper on top, the command line can be very laggy.

[2015-01-03 23:55] SecUpwN commented on #240
You'll likely have to clone again since #213 was not really fixed yet. But now it should be ~34 MB in size.

[2015-01-04 01:01] SecUpwN commented on #213
Darn it, how shitty can this whole thing get? I feel like we're fucking up our whole project with this, @E3V3A. Now how about the tagged releases + APK, will the MD5 sum change as well now, @dalibor?

I have checked your fork and it seems to be fine. Executed above steps and pushed that to GitHub. You really **deserve** that credit in our `CREDIT` file, man. Happy to have see a funky guy like you

[2015-01-04 01:03] SecUpwN commented on #240
You'll likely have to clone again since #213 was not really fixed yet. But now it should be ~35 MB in size.

[2015-01-04 01:21] SecUpwN commented on #201
Just another screenshot to get a little more inspiration...

[![Cryptophone 500](http://cryptophoneaustralia.com/core/wp-content/uploads/2013/06/Cryptophone.500-Screenshots.jpg)](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/201)

[2015-01-04 02:48] SecUpwN commented on #213
Darn it, how shitty can this whole thing get? I feel like we're fucking up our whole repository with this, @E3V3A. Now how about the tagged releases + APK, will the MD5 sum change as well now, @dalibor?

    Note: Please check if my fork has all the files you need before doing these steps.

I have checked your fork and everything appears to be fine. The only thing that prevents me now from pushing

[2015-01-04 03:06] Stericson commented on #240
Sounds good, it might be a week or so before I make the pull request. I need to make sure things are good to go before integrating it into your project.

[2015-01-04 05:26] SecUpwN commented on #240
Fair thing. Please fork our project in a week then to have the most current state. Thanks! :+1:

[2015-01-04 07:19] #213 closed

[2015-01-04 07:27] dalibor commented on #213
Yeah, MD5 sum will change because of content changes. You just need to update the MD5 sums if you're referencing the releases from somewhere.

[2015-01-04 07:35] SecUpwN commented on #213
Let me get this clear for myself and @E3V3A: If someone is now grabbing our project from a certain tag (like say [v0.1.25-alpha-b6](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/tree/v0.1.25-alpha-b6)) and rebuilds the APK from that, the MD5 that has been posted under the APK is currently not valid any more? So we have to recompile every APK that we've released?

I don't know what all t

[2015-01-04 15:18] E3V3A commented on #213
I suppose the MD5 is for the already built APK and not the whole repo, in which case we can just recompile the same APK again.

[2015-01-04 16:52] SecUpwN commented on #213
Yes, of course. But does it make sense to recompile every APK we had and re-upload it here?
Not sure if we should do this, what do you say @He3556 and @Ueland?

[2015-01-04 17:02] SecUpwN opened #255 "Samsung Galaxy S2: Strange glitch in Cell Information"
I have a friend running our App on his Samsung Galaxy S2 Plus and experiences this glitch.
Below screenshot shows the wording `Ciphering Indicator` - is that how it's supposed to look?

[![Cell_Information](https://cloud.githubusercontent.com/assets/6000299/5604393/a6fe128c-93ba-11e4-90f4-7708a0ab75ec.png)](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/255)

[2015-01-04 18:33] dalibor commented on #213
@SecUpwN I don't think recompiling APKs is necessary. They're not part of git history, but manually compiled and added to releases, right?

[2015-01-04 18:40] SecUpwN commented on #213
Thank you for quieting my mind about this, @dalibor. Was up all night because of it!

Yes, indeed. Judging from your developers perspective, are we ready to rumble again?

[2015-01-04 19:15] Ueland commented on #213
![](http://a.fod4.com/images/GifGuide/clapping/seinfeld.gif)

Looks fixed to me! :)

[2015-01-04 20:29] E3V3A commented on #255
Yes, but the *S2 Plus* is not a GT-I9100, so this doesn't work, or you'd have seen something more there. What's the exact model number of that phone?

[2015-01-04 20:30] #255 closed

[2015-01-04 20:34] E3V3A commented on #213
After cleanup, just make sure you select "**Import Non-Android Studio Project**" when importing our re-freshed GitHub repo into Android Studio, other wise it just doesn't work. Was driving me crazy.

[2015-01-04 21:00] E3V3A opened #256 "Move text fragments from About icons to strings.xml"
The text next to the detection icons in the `About` settings drawer in the `../res/layout/about_fragment.xml` should be moved to the `../values/strings.xml` file for easy edit and access.

[2015-01-04 21:05] Ueland opened #257 "Cell signal strength data cannot be seen in database viewer"
I suspect that i have forgotten to implement that feature, creating this ticket as a reminder to myself.

[2015-01-04 21:24] E3V3A commented on #256
Perhaps this doesn't make sense after all...

[2015-01-04 21:24] #256 closed

[2015-01-04 23:29] SecUpwN commented on #256
@E3V3A, I see that differently: It **does** make sense. But I guess this Issue can be handled as a duplicate of #190 since this one will likely restructure it anyway. Please continue discussion there.

[2015-01-05 12:39] evilsocket commented on #257
Hi @Ueland I'd like to work on this issue since it seems to be a good starter for me, could you please tell me which kind of data are you referring to? ( unique bts data, bts measurements, ... )

[2015-01-05 12:42] Ueland commented on #257
This is the data stored in the cellSignal-table ( https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java )

[2015-01-05 12:44] evilsocket commented on #257
yeah but it's actually shown in the BuildTable method here https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/fragments/DbViewerFragment.java#L167 ... I see AvgSignal and RSS fields, so I was wondering where do we miss that.

[2015-01-05 12:45] tobykurien commented on #246
Does this bug still occur? If so, how can I replicate it?

[2015-01-05 12:51] SecUpwN commented on #246
Does this bug still occur? If so, how can I replicate it?

@tobykurien, as far as I understood it, when turning on GPS and wanting pressing `Quit` after disabling the persistent service, the App does not shut down. But I cannot confirm this bug. @E3V3A, would you please verify that is still valid with our current release version? If not, please tell us here.

[2015-01-05 13:04] Ueland commented on #257
That is from the OpenCellID-data, this issue is about the data the device itself picks up and stores.

[2015-01-05 13:05] evilsocket commented on #257
got it, thanks

[2015-01-05 13:06] Ueland commented on #257
no problem! :)

[2015-01-05 14:13] E3V3A commented on #250
I'm trying to put some new map pin icons. However, I just noticed and understood that since we're using an overlay (AFAIK), the icons doesn't scale down with the map when you zoom out. Thus they remain relatively huge, when zooming out. This make them look ugly and get bloated out with each other. We need to use non-overlay icons if possible. I suppose that means drawing (mostly circles) directly

[2015-01-05 14:42] E3V3A commented on #246
Woot! Now of course the problem doesn't occur! Ok, let's wait and see. I'll close this issue for now, but I just don't see what has changed since last time it happened there have been no code changes as I can tell...

[2015-01-05 15:15] SecUpwN commented on #250
@evilsocket, I know you're already working on a different Issue, but could you have a quick look at this one, please? It sounds somewhat easy to fix, but it obviously isn't. Thank you for digging into it a little.

[2015-01-05 15:21] evilsocket commented on #250
will do asap

[2015-01-05 23:11] SecUpwN opened #258 "Redesign of UI/UX"
[![s](https://4.bp.blogspot.com/-mP3d87QPpNw/U634OXuUaKI/AAAAAAAAIVQ/BQBx9Do5Jis/s1600/1500x500-3d-twitter-header012.jpg)](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/258)

Resulting from our internal discussions to make our App become more user friendly and add some unique look and feel to it, I am opening this Issue to collect Ideas and launch a public discussion for it.

Thi

[2015-01-05 23:49] SecUpwN commented on #250
@E3V3A, have you just fixed this by yourself with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/463fec0c9f1dadd86ab04209ec146ab28a75e17b? Also, did you notice that you did not respect the sizes for the map pins in their respective folders?

[2015-01-06 00:18] E3V3A commented on #250
@SecUpwN Feel free to fix, but it looks a lot better on my phone, and I have no idea what it is using in terms of the x^ndpi blah blah. I tried with different sizes, and they where just too big and ugly...so until someone can come along and do this properly...it's hopefully better than nothing. I posted for some help at the *Open Street Map Forums* [here](http://forum.openstreetmap.org/viewtopic.p

[2015-01-06 01:33] E3V3A commented on #208
@Ueland Did you get rooted etc?

[2015-01-06 01:55] E3V3A commented on #250
Alternatively we could consider to use [marker clustering](https://code.google.com/p/osmbonuspack/wiki/Tutorial_3) of the BTSs unless we can keep the markers very small. I actually prefer not to have this, for simplicity...

![tuto_clustering 1](https://cloud.githubusercontent.com/assets/194392/5623170/6f490c0e-9557-11e4-9e61-fb786e4bdacc.png)

[2015-01-06 13:34] SecUpwN commented on #250
I actually don't get why you don't care about doing it [properly](https://developer.android.com/guide/practices/screens_support.html), but thanks for adding this quick fox though. @tobykurien could you please have a look at https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/463fec0c9f1dadd86ab04209ec146ab28a75e17b and see if we can let the new BTS pins like that? Having so many differ

[2015-01-06 14:51] SecUpwN commented on #238
@Ueland, would you please verify that this Issue still occurs with `v0.1.25-alpha-b7`?

[2015-01-06 19:42] Ueland commented on #257
I will need to get this implemented by thursday due to a field trip to a "spy area", can you get it up before that or should i dig into it? Sorry about the nagging.

[2015-01-06 19:43] evilsocket commented on #257
I can't

[2015-01-06 19:44] Ueland commented on #257
Aight, no worries, i will look into it :+1:

[2015-01-06 20:02] Ueland opened #259 "Busted IMSI-Catchers in Oslo, Norway + Source Data"
Somebody want to look into this? (Wow)

All source data as zip: http://mm.aftenposten.no/2015/01/05-mobov/files/source.zip

processed as excel spreadsheet: http://mm.aftenposten.no/2015/01/05-mobov/files/csv.zip
processed as SQL: http://mm.aftenposten.no/2015/01/05-mobov/files/tables.sql.zip

Specs: http://mm.aftenposten.no/2015/01/05-mobov/files/teknisk_beskrivelse.pdf (Norwegian, but nice maps)

[2015-01-06 20:07] Ueland opened #260 "How IMSI-Catchers were detected in Norway"
Just summarizing this article from Norwegian, are all this points considered by this app?
http://www.aftenposten.no/nyheter/iriks/Derfor-konkluderer-ekspertene-med-at-dette-er-mobilspionasje-7846966.html

1: Duplicated cell IDs, the IMSI catchers "stole" the Cell ID of a neighbouring cell.
2: Some catches operated in two bands(3G + 4G?)
3: They had (very) high signals (this one we are working on)

[2015-01-06 20:17] SecUpwN commented on #260
Awesome finding, @Ueland! Please add the missing points to our [Detection List](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/230)!

[2015-01-06 20:40] E3V3A commented on #259
Awesome! Too bad we didn't get some support for completing this 1 year ago, and we'd be rich by now. :laughing: What is very interesting is that they have essentially used less parameters than what we propose to do. And if you look at the logcat output, you'll see this is exactly the output you'd have expected to see from our [SamsungMulticlientRilExecutor](https://github.com/SecUpwN/Android-IMSI-

[2015-01-06 21:15] E3V3A commented on #260
There's nothing missing!
1. is the "LAC/CID Consistency" (2)
2. is the "MNO RAT Consistency" (11)
3. is the "RX Signal Strength" (9)
4. is 3 and possibly 7 and 8, as this is an ambiguous term.

[2015-01-06 21:18] E3V3A commented on #259
Please leave the "Detection" label only for specific detection methods.

[2015-01-06 21:32] E3V3A commented on #258
Since you brought this up, I have been thinking to make some simple descriptive changes for a long time. Surely these can be improved upon with more and clearer eye candy, but the descriptive text is still essential for the non-informed user.

Here I show the current menu versus the changes.

---

[code]

---

[code]

---

Then there should be some internal-to-app help pages and I suggest the foll

[2015-01-06 21:55] SecUpwN commented on #260
Means we're already taking care of these things. Issue solved. :smiley_cat:

[2015-01-06 21:55] #260 closed

[2015-01-07 00:41] E3V3A commented on #257
Sure enough, now it works! :)

[2015-01-07 00:49] d-mariano commented on #246
Perhaps we can kill it via pid?  Some say it to be a nasty thing, but I believe it may work.

[2015-01-07 02:04] E3V3A commented on #246
I wonder how *ATM* (above) does it?

[2015-01-07 04:35] SecUpwN commented on #246
@E3V3A, I've just written a friendly message to their developers. Hang tight.

[2015-01-07 05:04] SecUpwN commented on #257
I can confirm that it works, too. @Ueland, would you please clarify the question of E:V:A and see if the time period for saving the data can be enhanced somehow? If not, close this Issue when it is solved.

[2015-01-07 05:37] SecUpwN commented on #258
@E3V3A, did you finish all the necessary text string changes, or do I need to pick it up somewhere?

Generally speaking, we need to be discussing how our App should generally look and work in the future, I think our whole team (calling @tobykurien, @evilsocket, @He3556, @Ueland and also @andr3jx) should have a close and thorough look at the [Awesome Android UI/UX Libraries](https://github.com/wasa

[2015-01-07 05:56] SecUpwN commented on #259
One more reason to find a better anonymous funding method! @Ueland have you been sifting through the data if there are other valuable things we can learn and implement into our App? @E3V3A, this is not really an Issue - how about me creating a new page for Developer Resources to add it there?

[2015-01-07 07:37] tobykurien commented on #228
It's strange - when I wrote the code, the satellite and hybrid map types were working. I'll remove them in the next pull request.

[2015-01-07 07:43] SecUpwN commented on #228
Wait a minute, @tobykurien. Is it really necessary to remove them? At the very least, we should then agree on which one to keep. @E3V3A, what do you say? I actually always loved the `Terrain` one..

[2015-01-07 08:00] tobykurien commented on #228
I've left the terrain one in, since that one works.

[2015-01-07 08:01] SecUpwN commented on #205
@tobyurien, is the above mentioned by E:V:A easy to implement for you?

[2015-01-07 08:04] SecUpwN commented on #164
@E3V3A and @Ueland, can we close this as solved now?

[2015-01-07 08:07] SecUpwN commented on #228
Awesome. Thank you very much. Should we remove the map settings button also then?

[2015-01-07 08:12] SecUpwN commented on #252
@guardtheveldt, please reply with more information within **one day**. Respect our 7-day-rule!

[2015-01-07 09:10] E3V3A commented on #228
I'm away right now, but if you look in my bug report, you'll see they almost work, but since nobody is fixing, it's better to leave those options out. I've made it so that selecting those buggy maps just defaults to the first one. So unless someone intend to find out why satellite map can't be zoomed in,  or why hybrid doesn't work. Then there's nothing else to do.

[2015-01-07 09:18] tobykurien commented on #205
Actually it already works mostly like that - see https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/activities/MapViewerOsmDroid.java#L496-L509

[2015-01-07 10:36] SecUpwN opened #263 "Incorrect artwork sizes in drawable folders"
Sorry folks, another Issue. If @tobykurien or @Ueland can calrify some things to me, I will assign this to myself and solve this quickly, especially since I am currently working with GIMP anyhow. Here it is:

After checking https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/463fec0c9f1dadd86ab04209ec146ab28a75e17b, I noticed that we are using different sizes in the `drawable` folders.

[2015-01-07 11:06] He3556 commented on #91
We shouldn't put 2 detections in one Issue again. This was "Changing LAC" and "Wrong CID" - now that we are finished with it, i will keep it like it is.

But there is still a bug giving wrong alerts (changing LAC) under special conditions.
(more logcat added in the last release - hope that helps to find the bug)
We have an extra issue for that, so we could close this one here i guess.

[2015-01-07 11:09] SecUpwN commented on #91
Which one? Please reference the correct Issue and close this if really done.

[2015-01-07 11:22] E3V3A commented on #205
Yep, I think we can close this for now. The map centers alright, but the BTS points closest to "me" are not shown. Which is something that has changed in the last month... I'm not sure what it causing this, but it could be a an OCID problem. Perhaps they've scrapped BTS that has been previously uploaded in my area. Only a proper working map function can fix and check this.

[2015-01-07 11:22] #205 closed

[2015-01-07 11:23] E3V3A commented on #250
Since about a 2-3 weeks back, the BTS points closest to "me" are not shown. I'm not sure what it causing this, but it could be a an OCID problem. Perhaps they've scrapped BTS that has been previously uploaded in my area. Only a proper working map function can fix and check this.

[2015-01-07 11:30] He3556 opened #264 "Check BTS for the NC List [$50]"
If the "unsupported flag" (see https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/100#issuecomment-67913431) is not set, we still need to check if every BTS is providing a NC  (Neighboring Cell) list.  The NC list is used to provide information to the cell phone to select a new antenna if there is an antenna with better signal reception than the currently connected one. But the cell p

[2015-01-07 11:48] E3V3A commented on #250
Thanks to Toby's mention [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/262#issuecomment-69000936):

The [dev](https://developer.android.com/training/basics/supporting-devices/screens.html#create-bitmaps) site states:

So this will help make the correct sized pins.

@tobykurien
The pin colors has not changed, just the shape and size. The issue is that currently no other pin c

[2015-01-07 12:10] He3556 commented on #239
Here is a debug version for everybody who gets the wrong alerts (@Ueland, @ihackshit )
I added "Thread.sleep(200);" before "return this.lac;" - for a possible timing problem.
If there is a false alert again, please send your logcat.
https://www.dropbox.com/s/yz15jox2qfj4nue/AIMSICD-v0.1.25-alpha-b9-DEBUG.apk?dl=0

[2015-01-07 12:22] SecUpwN commented on #168
Are you ignoring me on purpose here, @E3V3A? Would you **please** re-verify all these?

[2015-01-07 12:25] E3V3A commented on #250
**DEV NOTE: **

The default droplet pins have their pointed tips (near the bottom of the icon image) on the exact location on the map. So if we are using filled colored circles, their centers will be off, unless we make this adjustment to use the center of the icon image.

This is specified for *ItemizedOverlay* [here](https://github.com/osmdroid/osmdroid/blob/8962c7e0802d1f86ccb8445ff42358932d6cd

[2015-01-07 12:32] tobykurien commented on #263
Only the map pins that were recently modified. You should use this tool to correctly resize the drawables: https://romannurik.github.io/AndroidAssetStudio/

[2015-01-07 12:34] tobykurien commented on #205
I also notice that my currently connected BTS is no longer showing on the map. If this is true for everyone, we should add that as a new issue.

[2015-01-07 12:39] tobykurien commented on #250
Since we don't have those columns in the database, this issue can't be implemented. In addition, you mention ```A5/x >= A5/3``` - no idea how to implement that!

[2015-01-07 12:57] E3V3A commented on #250
@tobykurien  Yes, I know, it is very frustrating... :scream:  But they should be added. :cold_sweat:  I left `A5/x` out since we currently don't have that detection implemented yet. But the other two we can do. : )

[2015-01-07 13:11] #168 closed, assigned to nobody

[2015-01-07 14:13] tobykurien commented on #205
I see no blue pins, even after a while. Infact it should immediately plot that since I'm connected to a BTS. I'll look into it.

[2015-01-07 14:59] SecUpwN commented on #263
@E3V3A, thanks for the instructions, I about to craft these at the very moment. Would these work?

* BLUE pin at largest scale: 144x144 canvas size and centered
* The pins GREEN ORANGE and RED are **not** changing size but placed on proper canvas

Please give me a hint if I misunderstood your instructions.

[2015-01-07 15:52] E3V3A commented on #263
I haven't recompiled, but just from looking at them, I bet they are still too big, since the not-blue icons are all bigger than the blue one, when they should be < 33% of the colored ones size... (Which is how I tested before I made them all the same size.)

[2015-01-07 15:55] SecUpwN commented on #263
@E3V3A, I do not get what to change. @tobykurien, would you please take a minute to correct it?

[2015-01-07 18:27] MatejKovacic opened #266 "Raw data from IMSI catchers"
Norwegian newspaper Aftenposten publishes raw data (logs, gps-traces etc) from cell phone surveillance finds in Oslo: https://www.reddit.com/r/netsec/comments/2rm9r5/norwegian_newspaper_aftenposten_publishes_raw/

They say they have used CryptoPhone (a German phone with security and privacy features) and Falcon II (counter intelligence equipment.).

Found on ReddIt (https://www.reddit.com/r/netsec

[2015-01-07 18:50] He3556 commented on #266
Thank you @MatejKovacic for this information.
We have a discussion about it here: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/259
Maybe you want to move the infos to this issue?

[2015-01-07 19:06] SecUpwN commented on #266
Thank you for these findings, @MatejKovacic! Please post these in the Issue @He3556 mentioned.

[2015-01-07 19:07] #266 closed

[2015-01-07 19:42] E3V3A opened #267 "Better error handling for Requesting OCID API key"
Requesting a second OCID API key within 24 hours of the first (from the same IP) results in a `Java Language Exception` because of `503 Service Unavailable`. We need a sensible error message here.

[2015-01-07 19:50] E3V3A commented on #263
@SecUpwN If you don't get what to change, why did you change it? Now the icons are HUGE perhaps you should revert that icon PR...

[2015-01-07 20:17] He3556 commented on #263
The (absolute) sizes are correct of the icons. And the icons itself is a little smaller (about 30%) than the blue ones. The difference you can see from the distance between the circle and the border - the red line.
Let's try and compile it
![cl](https://cloud.githubusercontent.com/assets/2507905/5652627/6b038942-96b2-11e4-8bc2-8452a8a2c2f4.jpg)
![cl2](https://cloud.githubusercontent.com/assets/250

[2015-01-07 20:30] He3556 commented on #263
Mhh, ok they are getting bigger when i zoom out. So i think we need to use the clustering feature of openStreetMap. No matter how small the icon is, it will always be to big as long as we show them all on the map and don't use the clustering.

[2015-01-07 20:30] E3V3A commented on #263
I did, that's why I answered. Now at the largest zoom-in factor, the green dots are the size of a house, and the blue bigger. What you have to account for are not the border of the canvas, but the relative diameters in pixels. Thus the green diameter should be < 30% of the blue one, possibly more. Of course this is not fixed, but that is kind of what I found look better on my device. So if you hav

[2015-01-07 20:39] E3V3A commented on #263
With the way these pins are drawn at the moment, using a fixed overlay (?) that doesn't scale along with the map (shadow layer), the icons we always look huge. Which is probably why Michael of Antennas decided to use circles drawn instead of icons. I don't know if you can scale the icons with the map, only OSM expert can answer. Perhaps @ziem?

Please see his response in my email.

are any hidden

[2015-01-07 20:52] Ueland commented on #164
I would say so, yes.

[2015-01-07 20:53] Ueland commented on #239
I will give it a try soon.

[2015-01-07 20:54] Ueland commented on #259
I have not gone through the data yet, need some spare time on my hands first.

[2015-01-07 20:58] Ueland commented on #257
@E3V3A Yes, this is part of #97. Based on @He3556 s original sketch, data will only be saved in bulks every B seconds. It is quite possible to save it to DB ASAP if we want to do that instead, but i suspect that it is a good thing to not lock the database once every thirty seconds as it keeps any other code from writing to the DB i the meantime.

[2015-01-07 20:58] Ueland commented on #208
Yes, i am rooted, but have not had a chance to play more with this yet.

[2015-01-07 20:59] Ueland commented on #238
In my TODO. :+1:

[2015-01-07 21:30] He3556 commented on #263
To change it to vector/drawn icons would be a lot of work (for nothing than colored dots).
Instead i rather try to get some dots done with one of the tools, Toby linked to. Give me some time...

[2015-01-07 23:50] E3V3A commented on #259
@SecUpwN Sound great.

[2015-01-07 23:54] E3V3A commented on #257
@Ueland I'm not sure it works that way. The new SQLite3 is using some other methods while often in RAM disk like device, so I don't think we need to worry about any timing issues here. After all AOS is using dozens of DBs concurrently... Just my though.

[2015-01-07 23:57] E3V3A commented on #257
More interesting is if the Signal values shown is indeed **dBm** or **ASU** units or soemthign else? dBm are usually negative...

[2015-01-08 00:53] d-mariano commented on #246
Thank you!  I forgot to introduce myself, I should have done so.   I am quite new to this world of GitHub and developing in general.

Here's what I was looking at.  pull the pid and assign it to an int, then kill it.  Of course, you could just have this all as one line and just pass the return of myPid() into killProcess()
int pid = android.os.Process.myPid();
android.os.Process.killProcess(pid);

[2015-01-08 01:07] avishekcode opened #268 "Twitter Option - Not An Issue: Suggestion"
I would love if someone Adds a small piece of code to it...
Every time someone gets attacked, it will put a anonymous Tweet on Twitter with Location Info and type of Attack...
Then we can see the statistics in a broad scale...
That will be awesome! :-)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7576334-twitter-option-not-an-issue

[2015-01-08 03:02] SecUpwN commented on #263
@E3V3A, because I had a problem with the old Icons not respecting the `drawable` properties at all, no matter if the new pins would work as expected or not. We all have to be more patient with each other.

@He3556, I am **very** thankful you're digging into this, and a special **THANKS** flies out to @ziem, I've heard he will be coding the clustering of the Icons. Awesome thing, will wait for the

[2015-01-08 03:15] avishekcode commented on #268
@SecUpwN Good points, but remember, none of this will matter if no one finds this solution. With the Twitter integration not only it will add a Social Networking functionality, it will also go viral very fast... It will be a huge marketing boost to it... The negative points you mentioned are valid, but every thing has negative side to it.... But that is not stopping Facebook being a billion Dollar

[2015-01-08 03:29] SecUpwN commented on #268
Ok, I have to admit that such an option would indeed be one of uniqueness and we should carefully consider this one. How about if you add a proper pull request for this and we have a look, @avishekcode?

[2015-01-08 03:40] avishekcode commented on #268
@SecUpwN I am seriously considering that... Thank you for appreciating the idea... I will definitely look into the codes soon, and consider getting into it more actively... I just did not want to sit back with the idea, which came to my mind immediately after noticing your amazing solution for the first time, like an hour back... Ultimately, it doesn't matter who makes it... It's just that, I thin

[2015-01-08 03:42] SecUpwN commented on #268
Thank you for your warm words, I truly appreciate that. We are the people and we stand strong. We are not helpless and we will fight back! Spread the word about our project using the [Media Material](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Media-Material), please.

[2015-01-08 03:47] SecUpwN commented on #259
@Ueland, you data has been added to our new [Resources](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Resources). @E3V3A, feel free to polish. // Solved.

[2015-01-08 03:47] #259 closed

[2015-01-08 05:14] tobykurien commented on #246
Guys! Why are we even discussing this? It is standard Android behaviour for an app to still appear in recents and in the app process cache list, even after all it's activities are finished. This isn't a problem and does not mean the app is still running. The only problem is if the service starts up by itself whennit isn't expected to, which doesn't seem to happen anymore, so please close this issu

[2015-01-08 05:39] SecUpwN commented on #246
@tobykurien, I think we've mistaken my answer. The initial Issue that was brought up was that the App restrats itself after quitting with the `Quit` button. What I posted above, was just a thought that we could remove it from the Recents too, since it was brought up by @d-mariano that is still appears there. But the **solution** to the initial problem would likely be using the method mentioned [he

[2015-01-08 05:43] SecUpwN commented on #240
This Issue has been **solved** with #265. Awesome work @Stericson, blessings towards your way!

[2015-01-08 05:44] #240 closed

[2015-01-08 05:53] Ueland commented on #257
It is dBm, but I removed the negative bit while saving the data (not quite sure why).  I will do a new PR that fixes all these issues.

[2015-01-08 07:38] #252 closed

[2015-01-08 07:42] SecUpwN commented on #178
@MatejKovacic, would you please recompile our current code and check if this is still valid?

[2015-01-08 07:52] SecUpwN commented on #214
@E3V3A, where did you want to add the scoring table? Is it in fact the [Detection List](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/230)? Is **this** solved?

[2015-01-08 08:43] SecUpwN opened #269 "Testing & Prompting Phone Support"
[![Androids](https://2.bp.blogspot.com/-AhHUyr7N0zs/VD6pyuSnkCI/AAAAAAAAPgo/jNvxczENZv4/s1600/android-banner.png "Is my smartphone supported?")](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/269)

Folks, I know we're currently piling up on Issues, sorry about that. But trust me, this is good since this conveys we're having very clear ideas about how our App shall work and what ne

[2015-01-08 12:26] #164 closed

[2015-01-08 12:33] E3V3A commented on #257
Also i get huge numbers on some!  Please check.

[2015-01-08 12:34] Ueland commented on #257
Got some example numbers?

[2015-01-08 13:18] SecUpwN commented on #215
@tobykurien, here ya go, now is our chance to rock this stuff since @E3V3A will be away for a week. so let's surpise him, shall we? please tell me what exactly I can tackle here and I'll do it right away!

[2015-01-08 16:55] tobykurien commented on #253
What is ```time_first``` and ```tf_settings``` (and where does one get those)? What is the value of ```min_gps_precision```? What is ```RAT``` (and where does one get that)?

[2015-01-08 19:04] E3V3A commented on #178
Silent SMS is not yet implemented. Changing the code here will not help in this case. No need to recompile if nobody made any changes.

[2015-01-08 19:09] SecUpwN commented on #137
@Ueland, would you please have a look at this since it seems @andr3jx is "having a break"? :disappointed:

[2015-01-08 19:11] E3V3A commented on #257
I'll send in email...

[2015-01-08 19:31] E3V3A commented on #253
This should execute right after import of OCID data.  `time_first` is the time stamp when the BTS was first seen from the imported data.  `tf_settings` is the minimum of the above, that we allow, which is a new setting, hard coded for now, but later changeable.  Similar idea behind the gps. The precision is also included in imported data. RAT is the radio access technology used,  i.e. GSM, UMTS,

[2015-01-08 20:10] Gitschubser opened #270 "Add copyright in map"
The app use a map from OpenStreetMap.
Where could you find the copyright?
http://www.openstreetmap.org/copyright/en

[2015-01-08 20:14] He3556 commented on #270
Thanks for your hint, Gitschubser - we are currently working on the Map and we will add the copyright asap - maybe later tonight.

[2015-01-08 20:15] Gitschubser commented on #73
MCC 	MNC 	GSM 	UMTS
208 	01 	30 (180) 	10 (60)
208 	10 	30 (180) 	30 (180)
208 	15 	10 (60) 	30 (180)
208 	20 	30 (180) 	30 (180)

[2015-01-08 21:49] andr3jx commented on #137
@SecUpwN This issue can wait because it only affects tablets, we have more important issues.

[2015-01-08 21:58] d-mariano commented on #246
I'll get working on that pull request now.  And it's never a bad thing to respect the android.  Firefox, as an example, has the app removed from recent once quit, but keeping it there is definitely not a bad thing.

[2015-01-08 22:43] E3V3A commented on #73
Please, also provide the operator names.

[2015-01-08 22:46] E3V3A commented on #246
We're not respecting Androids here...because Google doesn't respect you.

[2015-01-08 22:47] d-mariano commented on #246
Okay, I just made a pull request.  Commit [7e5fea7](https://github.com/d-mariano/Android-IMSI-Catcher-Detector/commit/7e5fea781c844f10f1363483bdbccdf0da74d859) is the one with the correct changes, it was made after [5a6203d](https://github.com/d-mariano/Android-IMSI-Catcher-Detector/commit/5a6203d352ea0cdfb6a9eb8d7d24ee623e7bc988).   I'm not sure if it matters that 2 commits are included in the pu

[2015-01-08 22:48] d-mariano commented on #246
Good point, @E3V3A.

[2015-01-08 22:50] d-mariano commented on #246
Before this is closed, is there any other way to have the app quit permanently within the app?  I noticed a block of code describing a quit if the user presses back twice.  If this is so, I should have it call the quit() method I included rather than simply finish()ing.

[2015-01-08 22:54] E3V3A opened #272 "Map crashes, when BTS GPS coordinates are far from each other"
I just noticed, that if you have made measurements in one place,  and the next place differs a lot in location, the map crashes...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7600228-map-crashes-when-bts-gps-coordinates-are-far-from-each-other?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)**

[2015-01-08 22:56] d-mariano commented on #246
I may have found another issue, I notice when testing the solution to this issue that if I do not check and uncheck Persistent Service in Preferences upon a fresh uninstall/reinstall, my solution does not work.   Is anyone experiencing this?

[2015-01-08 23:13] He3556 commented on #246
yes @d-mariano exactly the same here. I never check and uncheck it before. Now i can close the App :) So this is a bug! thanks

[2015-01-08 23:15] d-mariano commented on #246
I found a fix, I have updated my recent comment.

[2015-01-09 00:00] E3V3A commented on #268
Only that twitter has a subsidiary of CIA as partial ownership... But I think we need to complete the event log output before, to ensure there's anything to twitter. Also, how do you intend to include that twitter account data?  We've been playing with a future idea, of submitting and sharing detections via a P2P network.

So since we know that twitter is one of the first things a government gone-

[2015-01-09 04:59] tobykurien commented on #246
Looks like someone modified the defaults in settings.XML without updating the code, thus creating that bug. I think the default for 'start on boot' might also be out of sync.

[2015-01-09 05:02] tobykurien commented on #246
Another way to exit all app processes is to use Runtime.getInstance().exit(0)

[2015-01-09 10:59] andr3jx commented on #268
I advice not to access Twitter directly! A better solution is to setup a server (in a privacy-friendly country) which will publish the tweets. We plan to setup a server for BTS location requests and could add this feature.

[2015-01-09 13:54] SecUpwN commented on #137
Might be. But I am sifting through our Issues on a regular basis and I noticed that we have too many Issues that "can wait", because they are created but not maintained well afterwards. On which one are you currently working (if any)? If everyone would care more about their created tickets, we'd also be faster. So without pushing you to do anything, please don't forget about solving this one. Than

[2015-01-09 14:10] SecUpwN commented on #246
@d-mariano, you absolutely did! Thing is, when you open a pull request and notice that further changes are needed, those changes are automatically added to the pull request. Thus, all changes you've made to **your** fork will also be added to **master** once the pull request gets accepted. Cheers!

@tobykurien, I will merge the pull request now. Please check if start on boot is still out of sync.

[2015-01-09 14:14] SecUpwN commented on #270
Danke für Deine freundliche Benachrichtigung, @Gitschubser! Hast ein gutes Adlerauge. :smiley_cat: @He3556, please tackle this one. But where to add the copyright? I'll be updating `CREDITS` as well.

[2015-01-09 14:27] #270 closed

[2015-01-09 14:27] E3V3A commented on #268
That would be it.

[2015-01-09 15:23] SecUpwN opened #273 "CreditsRoll: Merging SOURCES into CREDITS"
[![CreditsRoll](https://github.com/frakbot/CreditsRoll/raw/master/img/scroll.gif "Once upon a time...")](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/273)

Looks **AWESOME**, right? Yes! With this Issue I would like to tackle what we've been talking about at the very beginning of this project: Having our `CREDITS` get displayed directly in our App, which is also part of the solu

[2015-01-09 17:46] Ueland commented on #238
Finally had an alert while the app was not open, looking good now. "I/AISMICD_DbAdaptor( 2184): CHANGING LAC!!! - Current LAC: 21201 Database LAC: 31201"

[2015-01-09 17:46] #238 closed

[2015-01-09 18:47] SecUpwN commented on #238
@Ueland, you sound very happy about that - and I actually enjoy you do. Thanks! :smiley_cat:

[2015-01-09 21:58] Gitschubser commented on #270
Die Community von OSM kann bei fehlendem Copyright sehr pingelig sein ;-)

[2015-01-09 22:19] SecUpwN commented on #270
Danke. Blickige Leute wie Du sind bei mir hoch angesehen. Mach' weiter so!

[2015-01-09 22:33] He3556 commented on #270
thats why i changed it immediately.
And i can totally understand them - thanks a lot Gitschubser.

[2015-01-10 12:14] ziem commented on #250
Hello everyone!
Today I [pushed](https://github.com/ziem/Android-IMSI-Catcher-Detector/tree/map) basic clustering implementation which includes also scale bar and compass. I also set min zoom level to 3. I used ic_map_pin_orange drawable for cluster icon. Here you can find video showing this features: https://www.dropbox.com/s/ah72msil9vkw4fr/device-2015-01-09-211533.mp4?dl=0 . It would be nice if

[2015-01-10 12:17] Ueland commented on #250
Wow, nice video! :)
i have taken a quick look on the code and it looks great! Looks like it should be fine for you to create a Pull Request to get the code merged.

[2015-01-10 12:36] ziem commented on #250
Thanks. [Done](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/pull/274).

[2015-01-10 13:19] Ueland commented on #267
Users still need to get a sane error message, a 503 does not explain the problem to them :)

[2015-01-10 13:55] Ueland commented on #257
This will be fixed with the current pull request #275

[2015-01-10 13:55] #257 closed

[2015-01-10 14:12] Ueland commented on #239
Installed your version now, @He3556
What should we do with this case, just let it stay open a while longer?

[2015-01-10 14:24] SecUpwN commented on #239
@Ueland, yes, please let this stay open until confirmed that false alarms do not occur anymore. Would you please continue monitoring this Issue and close it when you are finally sure everything works great?

[2015-01-10 14:40] Ueland commented on #239
Will do.

[2015-01-10 15:02] Ueland commented on #208
Here is the output of /proc/devices: https://defuse.ca/b/dBrkObPHY0sFCGXiMFBXz6

I do not see "smd", but can i be 250 smbpkt?

I checked all filenames available on the device and found this with the name smb in it, but nothing else of interest:

[code]

[2015-01-10 15:10] SecUpwN commented on #246
@d-mariano, seems like @ziem also added some funky updates with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/5a6203d352ea0cdfb6a9eb8d7d24ee623e7bc988. Please comppile the current code and see if this Issue can finally be closed so that we can move on. Thanks!

[2015-01-10 15:48] E3V3A commented on #208
No,  unfortunately none of those are it. I'll try to find the schematic for your phone, when i get back. Perhaps that will tell me something...

[2015-01-10 16:38] acao commented on #69
Hey soo I installed a recent version of the app and this seems to be working very well... it wouldn't be sending this message in error, would it? Is my app misconfigured or...?

[2015-01-10 16:46] SecUpwN commented on #69
Welcome to our project, @acao! As you can see, this Issue is still open and thus not fully implemented. As well, false alarms are still possible. If you want to help us, feel free to improve [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/69#issuecomment-67914496)!

[2015-01-10 17:03] acao commented on #69
Hmm! May be a bit over my head as a web dev. I'm a movement organizer and ALL my SMSes are showing me this message, so there is plenty of reason to believe these aren't false alarms. How could I help as someone with limited android SDK/SMS/GSM knowledge? Importantly, how could I ensure that I know for certain whether they are being intercepted, for purposes of documentation?

[2015-01-10 17:04] acao commented on #69
I am using TextSecure as my messaging client, though the alert shows for both non-encrypted and encrypted messages.

[2015-01-10 17:04] rock3r commented on #273
Well guys it's fairly simple to use `CreditsRoll` in your app... it works basically like a normal `TextView`, you `setText()` on it and (start the crawl animation](https://github.com/frakbot/CreditsRoll/blob/master/demo/src/main/java/net/frakbot/creditsrolldemo/MainActivity.java#L81). Easy peasy :)

[2015-01-10 17:22] SecUpwN commented on #69
Welcome back, @acao! I really do enjoy that you are using our App as a movement organizer.

I do too and never received a false alarm there. So that is indeed very strange..

Could you do us the favor and collect some logs through using the following steps?

1. Hook up your phone to your linux computer
2. Issue the command `adb shell` in terminal
3. Start logging with `logcat -b radio >> smslog.tx

[2015-01-10 17:26] SecUpwN commented on #273
Thanks for the hints, @rock3r! I'd like to merge our `SOURCES` into the `CREDITS` file, which format do the `CREDITS` have to be in? Would you like to craft a pull request for transformiung our `CREDITS` button? :smiley_cat:

[2015-01-10 17:49] rock3r commented on #273
You can literally show any text you want on there -- there is no specific format for the text. I'd recommend you to test it properly on devices, though, because you seem to have long lines in your credits and sources, which might not play that well with the crawl format. Just play with it until something you like comes out!

[2015-01-10 18:19] SecUpwN commented on #273
Hence my plan to merge `SOURCES` into `CREDITS` and restructure `CREDITS` like your [demotext](https://github.com/frakbot/CreditsRoll/blob/087214b2483c107c9ba4bd78935ffe4216ff817f/demo/src/main/res/values/strings.xml) to look good on all devices. To get this straight: I'll just replace the [Credits Link](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/c5ac81061ea0f378207cf23dbb50932c

[2015-01-10 18:33] jaredestroud opened #276 "Failure to detect OpenBTS GSM station"
Hi,
          AIMSICD fails to detect an OpenBTS deployment as a femtocell. I am currently doing research with Ettus hardware and quick deployment GSM networks in emergency situations. I thought it would be interesting to use your app in conjunction with my research. Below, is an image of the network information along with links to the hardware/software in use (for those who are interested).

<a h

[2015-01-10 18:43] SecUpwN commented on #276
Good evening and welcome to our project, @jaredestroud! Since we are currently still in [Alpha Stage](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector#alpha-stage), not all detection mechanims have been implemented. But you can help us do better! There are two Issues which should be interesting to you: #75 where we search App testers (you are perfect for this) and #6, for which detection a

[2015-01-10 18:48] jaredestroud commented on #276
I'll definitely look into each and see what I can do to help!
Thanks for the quick response!

[2015-01-10 18:50] SecUpwN commented on #276
Thanks, that would be just awesome. Happy to have you with us!

Hey, you are welcome! May I close this since you now know where we need to continue?

[2015-01-10 21:16] #276 closed

[2015-01-11 06:47] wttrtpy commented on #258
Are there any existing design documents that we could start with? The interface seems like it might be quite daunting to the target audience (for example, users already have to know that your cell phone communicates with towers, and the transmissions can be intercepted).

I would like to take some time to work on + implement some UI/UX changes, but the goal of the application isn't clear to me. As

[2015-01-11 10:15] He3556 commented on #258
Hello wttrtpy - welcome and thanks for your ideas and help.

First i need to say something about EVA's post.
You did forget the "Debug View"? i really don't want to use a extra APP just to see what our App is doing. i really hope you forgot it and you are not planing on deleting it.
I also read comments about our App (Google-Code and other Blogs). And i can say people wish to know, what exactly th

[2015-01-11 11:03] rock3r commented on #273
Your `setLink()` will open another activity that will basically be really similar to the demo's `MainActivity`, instead of opening a URL. That should be all you need to do -- of course, do modify the `MainActivity` to suit your needs (e.g., you probably won't need the seek bar, and you might want to start scrolling the text automatically in `onResume`).

[2015-01-11 11:05] rock3r commented on #273
As per the `CREDITS` file, you can keep them in a file, but they will need to be in the `assets` folder of your app, or they won't be included in the apk. Reading the file content from assets is then [quite straightforward](http://stackoverflow.com/a/16110044/488563).

[2015-01-11 11:28] He3556 commented on #258
@wttrtpy - sorry, but there is nothing like design documents we could hand you out. So i will just go on and how in my thoughts about this.

**1.** I think we should start with the colors, fonts, buttons and representation of tables and cards.
 - I prefer a dark background (like color:#222 - but not black)
 - As accent color i vote for yellow color:#ffea59
 - Fonts: No Serif Fonts at all. Maybe so

[2015-01-11 12:13] E3V3A commented on #273
As awesome this credit roll look,  I'm concerned about the performance impact on older devices such as single and dual core phones like,  GT-I9100

[2015-01-11 12:13] E3V3A commented on #273
And test done in these?

[2015-01-11 12:58] He3556 commented on #258
Well if nobody else of our team is answering...
@wttrtpy you wrote:  (for example, users already have to know that your cell phone communicates with towers, and the transmissions can be intercepted).
He wouldn't even search for the App, if he doesn't know that. The usage of the App is quite simple, just open it, get the OCID Key and download the db.

But maybe you are right and we should make this

[2015-01-11 15:41] #263 closed

[2015-01-11 16:21] SecUpwN commented on #258
Good evening, everyone! How awesome to see some discussion in here. Thanks for your eagerness to help us on the redesign, @wttrtpy! You've stated a great sum-up of all our app users.

1. Our App shall be as self-explainable as possible - for everyone (hence #174, #181, #190, #201)
2. Ultimate goal here is to bring our App in a great shape that also reflects [these](https://github.com/SecUpwN/Andro

[2015-01-11 18:31] He3556 commented on #258
ok @SecUpwN - no.1 - no.4 sounds perfect!
- no.5 let us take the Proxima Nova and Museo Slab 500 (but isn't a free font)
- no.6 and no.7 ok
- i think Bootstrap is a lightweight framework = better performance. But we can still add other Libraries if we need them.
- yes i will open an Issue tomorrow about the widget.

so it looks like we have a plan here :)

[2015-01-11 18:44] SecUpwN commented on #258
I have a link were both are freely downloadable. Not sure if that is legal though. Avoid this?

Yep, good reference. Add the Material Design Icons to that and a little awesome navigation = perfect!

@wttrtpy, do you have any other questions? Feel free to craft some [mockups](https://www.fluidui.com/) before jumping right into crafting this!

[2015-01-11 19:10] rock3r commented on #273
There shouldn't be any big performance issue - there is no OpenGL ES involved, it's just standard text drawing with some (native in Android) pseudo-3D transform. I don't have said device(s) to test on, but if you do, please let me know how it works.

[2015-01-11 19:13] He3556 commented on #258
After some internal talk about the (positive) criticism of @wttrtpy :)
-  When the APP is installed the first time, **we want a wizard to show up and lead through the download procedure of the OCID database**. First people must request a OCID Key and than the db can be downloaded. Actually this steps are implemented already but the user has to find the right buttons in the menu. This would make it

[2015-01-11 19:22] SecUpwN commented on #273
@rock3r, could you craft a pull request for this so that we just have to adjust our [CREDITS](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/CREDITS), please?

[2015-01-11 21:07] rock3r commented on #273
I'd love to but I'm quite busy right now :( Sorry guys. On the bright side, it's easy, so I'm sure you can do it. I have basically explained what you have to do already, so it's just a matter of doing it (for which again, I'm sorry, I just don't have the time right now).

[2015-01-12 00:00] E3V3A commented on #246
This is still present in b13...

[2015-01-12 00:06] E3V3A commented on #258
Great job guys! I'm all in. Just don't let this issue takes over the detection functionality.

[2015-01-12 02:18] SecUpwN commented on #246
Hey @E3V3A, how come you keep forgetting stuff? Too much work? I've told you 5 hours ago that #277 has not been added to b13 and thus of course it keeps reappearing. We'll craft a new version soon. :coffee:

[2015-01-12 07:59] E3V3A commented on #246
Can you get me a new build now?

[2015-01-12 08:04] SecUpwN commented on #246
Unfortunately, no. My build machine is currently dead. I will talk to @He3556 and send it to you, ok?

[2015-01-12 14:19] MatejKovacic commented on #178
Hi, are there detailed instructions how to compile the code? Unfortunately, I am not developer. However, I am a Linux user, and know some basics (how to do configure, make and make install), but I have never compiled anything for Android.

Or, if you have some nightly version...

[2015-01-12 14:27] SecUpwN commented on #178
Hey @MatejKovacic, didn't you discover our [WIKI](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki) yet? You'll find the [detailed build instrcutions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Building) there as well, should be straight-forward. We will be having a **fresh release** this week, we are aiming at Wednesday at the latest.

[2015-01-12 19:12] He3556 opened #278 "Widget - live view of detection"
![widget](https://cloud.githubusercontent.com/assets/2507905/5709058/b80d204e-9a96-11e4-9567-57ec2f35fe6e.jpg)

This widget shall be part of our redesign of the UI/UX in #258.

1. Button to open the APP
2. Button to show less/more of the Widget (if less, only the yellow part will be shown)
3. Up- & Down (for the Live Logview) + optional a stop and clear button
4. Indicator LEDs, green blinks every

[2015-01-13 07:49] SecUpwN commented on #278
Awesome, this would be my new main widget! Quick suggestion for `1`: Use a round [material Icon](https://google.github.io/material-design-icons/).

[2015-01-13 10:42] SecUpwN commented on #148
@E3V3A and @He3556 I just discovered [Buildozer](https://buildozer.io/) and it sounds too good to be true! :smiley: I just signed up and I will test their service. If it works as expected, I might integrate it for automated distribution (means, we could accomplish automated official releases with our release key)!

[2015-01-13 17:47] E3V3A commented on #278
Yes, I'd prefer the `1` button to be something between the "settings power" and the "settings backup" buttons on that page. With the following functions as toggled when hitting it:
 1. Red "Power" (off) icon, when app is not running any active scans and log events are off
 2. Green "Power" (on) icon when AIMSICD is actively scanning/running and logging events.

[2015-01-13 17:57] E3V3A commented on #273
This is very cool, but perhaps a little bit too nerdy for the app? Also, it is not too easy to read for people with reading problems, or problems with their eyesight, or with very small screens.

[2015-01-13 18:22] SecUpwN commented on #273
No, I disagree on that. If we don't add it into the App, people will likely not read the `CREDITS` at all. And then again, who really cares? We are coding a real "sci-fy" app here, so why not add some funk? ;-)

[2015-01-13 18:50] E3V3A commented on #264
Clarified issue OP text.

[2015-01-13 18:55] Ueland commented on #264
Hmm, this might be a bit hard for me to implement when my device always complain about no neighboring cells. Or perhaps i should add the "is supported"-detection?

Any ideas on where in code we should add  this? (It`s own class or as a part of one of the others?)

[2015-01-13 19:15] He3556 commented on #264
The updateNeighbouringCells() is in the CellTracker.java (line 302) From there you can have a look how it is working now. I think we can set the flag in this code. But where can we save it? And we should check it again from time to time, so we are absolutely sure that it is the device that is not supporting the list.

[2015-01-13 19:26] He3556 commented on #264
In CellTracker.java line 642 (and the following code) the notifications are set. We need to add another tickertest into the case "MEDIUM"
if (NoNCL)... for example

[2015-01-13 21:03] E3V3A commented on #264
@He3556  That last comment is rather cryptic. Can you clarify? (And link to the code using `<url>#Lnnn-NNN`.)

[2015-01-13 21:15] E3V3A opened #280 "Many Missing BTS in Map Viewer"
Checking the BTS pins in the `Map Viewer`, reveals that most BTS near the currently connected cell are missing from the map. This has been confirmed as a problem with our app and not the imported OCID data.

Here's how OCID shows the area (around the kings palace in Oslo):
![oslo_open_cellid](https://cloud.githubusercontent.com/assets/194392/5729240/a2b3f9be-9b79-11e4-9fbc-b44b623c737a.png)

Where

[2015-01-13 21:21] E3V3A commented on #250
Awesome work by @ziem. Thank you very much!

But we still need some more tweaking. Currently not all pins are shown (#280) and those pins which are shown, look like this:

![screenshot_2015-01-11-22-14-08 1](https://cloud.githubusercontent.com/assets/194392/5729351/703079a8-9b7a-11e4-9b10-6f700ab793bb.png)

[2015-01-13 21:46] E3V3A commented on #246
This is still present in b14. No need to close this issue if not verified as fixed...

[2015-01-13 21:57] SecUpwN commented on #280
@E3V3A, how does a user know which dot color means what?

[2015-01-14 01:20] E3V3A commented on #250
I'd like to see the single BTS (green) dots smaller with ~30% diameter of the orange clustered/numbered ones. While the orange ones with a size not much bigger than the font used to number it.

[2015-01-14 07:11] ziem commented on #280
@E3V3A - I'll check it tomorrow but I'm adding all BTS:
[MapViewerOsmDroid.java#L581](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/activities/MapViewerOsmDroid.java#L581)
[MapViewerOsmDroid.java#L575](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/activities/MapViewerOsmDroid.j

[2015-01-14 07:25] Ueland commented on #280
I know that Oslo has bad opencellid cover bit hopefully not that bad. :)

[2015-01-14 09:37] E3V3A commented on #280
That's water point. The first map show that there should be excellent coverage!

[2015-01-14 17:22] E3V3A commented on #246
@tobykurien I think what you menationed (that I didn't know) about the persistent service setting in xml file, versus the "code" is somehow reversed. There was a short period in last week when I didn't have this bug (#246), but I can't remember for which build that was... Can you also clarify why we need to change the `settings.xml` **and** the code? Because I'm wondering what is the point of havi

[2015-01-14 18:13] ziem commented on #280
Bug was also present in commit 11cdefb: ![screenshot](https://dl.dropboxusercontent.com/u/16134555/osmdroid/device-2015-01-14-191149.png).

[2015-01-14 19:01] E3V3A commented on #280
Yes, I know... and I don't know how to find out when this started, without going back to test all alpha versions.

[2015-01-14 19:12] E3V3A commented on #215
Updated the *new* ER-diagram with an `EventLog` table, to be used to export events. Since the event log should be persistent even after wiping the `DBi_*` and `DBe_*` tables, it is put in its own table, instead of using SQL connections.

[2015-01-14 22:18] He3556 commented on #91
There is one think ToDo before we can close this Issue.
Missing return [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L187-L188.) to update the Notification somewhere [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/service/CellTracker.j

[2015-01-15 12:38] SecUpwN commented on #246
@E3V3A, I have just merged a new PR by @d-mariano which should solve this Issue (again) since you were searching for the working commit yesterday. Luckily @d-mariano is a smart guy who found this all by himself! :+1:. Please let there be a few more PRs until we change version numbers again, this Issue should really be **gone for good** with the upcoming internal test version. Cheers!

[2015-01-15 21:18] ziem commented on #280
Everything seems OK - I think that it's not app bug.

I changed my location to 59.91370666666667°, 10.750721666666667° and downloaded OpenCellId data. Then I saved CSV (from generated URL) and displayed data using [umap.openstreetmap.fr](umap.openstreetmap.fr):
![OpenCellId data](https://dl.dropboxusercontent.com/u/16134555/osmdroid/Zrzut%20ekranu%202015-01-15%20o%2021.59.40.png)

As you can see O

[2015-01-15 22:43] He3556 commented on #280
For me the BTS are on the right place in the map. Before i had 50% in the middle of the forest.

[2015-01-16 01:07] d-mariano commented on #91
I would like to give this a shot.  What would be a suitable notification?  "Cell ID does not exist in openCellId database." ?  Or should I use the log string?

[2015-01-16 09:50] He3556 commented on #91
Thanks for picking up this one. Yes "Cell ID does not exist in openCellId database" would be great.

[2015-01-16 09:54] Ueland commented on #280
@ziem wtf, i checked the map on opencellid.org and they display them correct. Bug in their downloads perhaps?

[2015-01-16 10:14] ziem commented on #280
Yes, but I may be wrong. Can someone confirm this?

[2015-01-16 10:33] SecUpwN commented on #280
@ziem, I'd like to! Some detailed instructions to get the confirmation you need?

[2015-01-16 11:56] SecUpwN commented on #75
@mspublic, I'm afraid I lost your email address. Please get in touch with me via E-Mail (I have a key now which I will send to you before starting a conversation again). This message will be deleted afterwards.

[2015-01-16 12:16] E3V3A commented on #280
Yes, there are a may missing, and the missing ones seem to be the ones nearby. A few potential problems I can think of:
 1. I remember we talked about making a some kind of bounding circle where outside BTS would be marked as insecure (since they shouldn't be picked up in an urban environment). But I don't know if this was implemented or even started. Perhaps @He3556 knows? (Yes, the BTS shown are

[2015-01-16 13:26] 0x7678 commented on #75
@E3V3A , @SecUpwN  my apologies for the long delay, however i have findings that might help? , my tests with OsmocomBB were as follows, not detectable under 2G, under 3G, 4G/LTE OsmocommBB BTS doesn't work and ARFCNs that use frequencies 1700/1800 it wouldn't work, the probable cause might be because OsmocomBB attaches  and (blocks) the BTS that is strongest as it doesn't have a sync clock (USRP u

[2015-01-16 14:27] E3V3A commented on #69
For those of you who wanna help with this.

You'll need 2 rooted phones for this to work. Then please do the following:

1. Install some silent SMS sender app like: `HushSMS` on **another** phone.
2. Connect to your phone to your computer, either via the `SSHhelper` App (WiFi + SSH) **or ** `adb shell`.
3. Clear your logcat entries with: `logcat -c -b main -b radio -b system -b events`
4. Send a "

[2015-01-16 15:38] SecUpwN commented on #69
Thanks for those great instructions! I modified step 5 to avoid "read-only" errors:

`logcat -d -b main -b radio -b system -b events *:v >> /sdcard/smslog.txt`

You have received my logcat on our internal chatroom.

[2015-01-16 16:22] Gitschubser commented on #280
Limit, only maximum 1000 cells.

http://wiki.opencellid.org/wiki/API
<limit> 	integer 	A number defining maximum size of the returned list. Default and maximum value is 1000. 	yes

[2015-01-16 16:33] Gitschubser commented on #280
http://www.opencellid.org/cell/getInArea?key=SECRET_KEY&BBOX=59.01438647233198,8.956539505349062,60.81302686100135,12.544903827984273&lac=0&format=csv

shows only 1000 cells (1001 - first line with description)

![cells](https://cloud.githubusercontent.com/assets/7853509/5779762/aa724a38-9da5-11e4-867d-298f5ed093c5.jpg)

[2015-01-16 17:33] E3V3A commented on #280
Very interesting. This means that we have to get a GPS lock first, and use that result for the OCID downloa, instead of the current default. (What is the default now?)

[2015-01-16 17:33] SecUpwN commented on #280
Thank you for your valuable input, @Gitschubser. So to sum it up, our implementation is right and OpenCellID just cannot display more than 1000 cells? Would this in turn mean that this Issue is solved?

[2015-01-16 17:37] E3V3A commented on #280
@Gitschubser  How are those first 1000 selected? (What criteria? GPS, LAC, CID?)

[2015-01-16 18:17] Gitschubser commented on #280
@E3V3A Good question, i think only @msemm can answer it.
I have not found any system how the result is sorted.

Here are the answer of the first ten lines from http://www.opencellid.org/cell/getInArea?key=SECRET_KEY&BBOX=59.01438647233198,8.956539505349062,60.81302686100135,12.544903827984273&lac=0&format=csv:
59.96187479411764,11.002951294117645,242,2,794,2101,0,-1,34,1,GSM,,,,,,,,
59.97614751923

[2015-01-16 18:31] Gitschubser commented on #280
The bbox http://opencellid.org/cell/getInAreaSize?key&BBOX=59.01438647233198,8.956539505349062,60.81302686100135,12.544903827984273 includes 20250 cells! ;-)

[2015-01-16 19:17] Ueland commented on #239
New alarm today, it took several hours thebefore the app  went back to normal state.

https://defuse.ca/b/lkpdL0v5imaYTWMq9UpNHC (fish)

[2015-01-16 19:55] smarek opened #283 "Does not detect fake BTS"
Hello,

We've tested with Samsung Galaxy Nexus (i9250) and LG Nexus 5.
We've provided our own BTS with LAC/CID/MCC/MNC in various configurations (either more or less similar to valid BTS in the location.

Application shows no warning about BTS not being in the OpenCellID database or the CID not matching known CIDs for given MCC/MNC.

If I understand the purpose of the application correctly, it sho

[2015-01-16 20:14] E3V3A commented on #280
Ah! Thanks @Gitschubser, that must indeed be the problem!

I'll change it and add some comments there and see what happens. I think we should not have a radius larger than ~10 Km in an urban environment. Timing Advance reaches to 35 Km. But that is way too large in urban areas. We should start with this, otherwise we have to tune it depending on some other parameters or in settings, or by first fe

[2015-01-16 21:42] E3V3A commented on #280
Fixed! **Dev's**: Please test with my latest build and [commit](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/9278d0bafbd46521773f6f5ddfd5aee8891cb482).
All thanks to @Gitschubser !

[2015-01-16 21:42] #280 closed

[2015-01-16 22:03] E3V3A commented on #239
Hi! When you do logcat dumps, please include the **timestamp** with `-v time` flag. Changing LAC can be a false positive if phone detects a new LAC before CID is updated... Did you track down location?

[2015-01-16 22:13] E3V3A commented on #283
Hi @smarek and Welcome to our project!

Thank you very much for testing this on a real **f**BTS. That is very useful and you can be of great help with access to that equipment. But you may have missed the point that our app is in **alpha** stage of development and a very few of the 22+ Detection Mechanisms (#230) have been implemented. In addition we have not yet configured our new map to distingu

[2015-01-16 22:13] #283 closed

[2015-01-16 22:23] E3V3A opened #284 ""Unique BTS Data" table not updated with current BTS"
**v0.1.25-alpha-b20**:

The "Unique BTS Data" (*cellinfo*) table in `Database Viewer` is not updated with the currently connected BTS, as shown under `Phone/SIM Information`. This is bad and annoying and causing problems for the Antenna Map Viewer.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7822286-unique-bts-data-table-not-upda

[2015-01-16 22:26] E3V3A opened #285 ""BTS Measurements" table is empty"
In `Database Viewer` the "BTS Measurements" table remains empty, even after GPS lock and waiting.

[2015-01-16 22:27] E3V3A opened #286 ""Measured Signal Strengths" table is not updated."
"Measured Signal Strengths" table is not updated, even if moving device around.

[2015-01-17 00:49] E3V3A commented on #283
Currently you'll have to look in the debug logs (logcat) to see some alerts.
In addition for a changing LAC, there should be a yellow flag, which has been tested.

[2015-01-17 01:22] lovewiibrew commented on #69
Hey guys. I don't really understand the technical side behind this application, but I installed it today. Every time I get a text message from someone (sms), I get a Type Zero Silent SMS detected. According to the icon guide, that means I am actively being tracked. WHAT?? Could this be some kind of false positive? This app has made me paranoid now, lol. Any reason why it might do this every time I

[2015-01-17 04:09] E3V3A commented on #69
@lovewiibrew Hi and welcome! Please note this app is a very **alpha** version and from our detection list in #230, we have not yet implemented this detection.

[2015-01-17 07:48] SecUpwN commented on #69
Welcome to the AIMSICD Project, @lovewiibrew and thanks for testing! @E3V3A, I am all for **DISABLING** the Silent SMS Detection feature for now until will get this implemented right. Otherwise people will start going crazy - and just like when you yell "help" too often, noone will believe your yelling when it is indeed a true alarm. @Ueland, can you comment out the relevant part for this, please?

[2015-01-17 11:58] smarek commented on #283
@E3V3A thanks for the feedback, yes, I assumed in this stage of project some of the detections would be working, my fault I didn't check the other issues in tracker.

Regarding the LAC/CID there is no warning, and I've also seen nothing relevant in LogCat. In testing the phone was switching between real BTS and fBTS, while all of the attributes were changing.
Only issues I've seen in LogCat were t

[2015-01-17 12:22] E3V3A commented on #69
@SecUpwN Can you please take these discussions internally!

[2015-01-17 12:34] E3V3A commented on #283
@smarek Awesome, unless you make your own builds, please send me an email, and I'll give you a link to the most recent build and our internal chat if interested. Also, it seem that the device need to have GPS lock before downloading OCID data.

[2015-01-17 12:35] E3V3A commented on #286
Fixed in latest commit.

[2015-01-17 12:35] #286 closed

[2015-01-17 12:36] E3V3A commented on #285
Fixed in latest [commit](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/3562e09cc7d52f0973021e2ec8d8519f25ae3625).

[2015-01-17 12:36] #285 closed

[2015-01-17 12:45] E3V3A commented on #173
@He3556 Can you post the SQLs needed to do this test? I want all manual testing scenarios, documented here, in anticipation of a complete `AppTestProtocol.md` page.

[2015-01-17 12:47] E3V3A commented on #174
What code is needed to get this working? If someone can code the pop-up for one button, I can do the others.

[2015-01-17 12:49] E3V3A commented on #176
But for BCCH info we need access to SIM or other?
What other options do we have here?
I though for example using known values and add them to the DB table `DBe_capabilities`...

[2015-01-17 12:51] smarek commented on #283
@E3V3A We've made our own builds after quickly reviewing the code.
We've also tried device both with and without making the GPS lock before installing/using the application.

Few observations:
# Downloading OCID data doesn't work reliable, sometimes the device downloaded data for MCC 260/262 (which is Poland/Germany), sometimes it correctly downloaded data for MCC 230 (Czech Republic, the actual t

[2015-01-17 12:56] SecUpwN commented on #174
![Dialogs](https://developer.android.com/images/ui/dialogs.png)

We can use a  [dialogs](https://developer.android.com/guide/topics/ui/dialogs.html). Also see [this](https://developer.android.com/design/building-blocks/dialogs.html).

[2015-01-17 13:03] E3V3A commented on #178
@MatejKovacic  Send me an email, and I'll send you the latest build and link to our internal testing chat room. Your testing is interesting and I'd like to see a better logcat of these events. But you'll need to provide more details about your phone model/ROM and the logcat you posted is no longer there.

[2015-01-17 13:07] MatejKovacic commented on #178
Hi, soory for my late response... well, I installed the latest version, and there is the same error. Yes, I overlooked build instructions, I have checked them now and they seen quite straightforward.

Anyway, my e-mail is matej dot kovacic and then at and owca dot info.

[2015-01-17 13:13] Ueland commented on #239
If timestamps is needed then the debug view should dsplay them, when i dump a log i only use the debug view, i dont have time to find a machine to dump logs with as this error occurs when i am traveling. And no, i do not know exactly where it happend, all i know is that it happens around 10-20% of the time when i travel to or from work.

[2015-01-17 13:14] E3V3A commented on #188
@kolg We really like that you have a Fairphone. We'd like to test more on this device.

* The best way to contribute OCID data, is by using their own App for this. It is called: [inViu OpenCellID](https://www.enaikoon.com/en/apps/plugins/opencellid/).

* If you have any other issues, please send me an email or join our internal chat and I can send you the latest build to test with.

Thanks again.

[2015-01-17 13:14] #188 closed

[2015-01-17 13:17] E3V3A commented on #201
I've added a new table called `EventLog` in the "new" DB structure documentation, where we can save and export all these events. We can use the already implemented `Database Viewer` to look in that table, until we learn how to "pretty-print" all that info.

[2015-01-17 13:22] E3V3A commented on #203
@He3556  Maybe the #253 will resolve this? Please see OCID [API](http://wiki.opencellid.org/wiki/API):

[code]

[2015-01-17 13:29] E3V3A commented on #220
Did you get any response?

In general this is a great idea, but it's not for the public. It is nearly impossible for a non mobile-communications expert to correctly determine where a particular -- and currently connected to -- cell tower is located. So if we ever decide to include this, it should probably be a developer option in settings.

[2015-01-17 13:29] #245 closed

[2015-01-17 13:31] E3V3A commented on #267
This should be an easy one to do!  I guess a try/catch should do with a toast message. Where in the code do I have to look? @He3556 ?

[2015-01-17 13:33] E3V3A commented on #231
I guess we should try to close any properly tagged issues... But let's start with closing only our own ones.

[2015-01-17 13:33] #231 closed

[2015-01-17 13:35] E3V3A commented on #264
BTW. What is `MEDIUM` there? We should label them with the color codes we already have documented.

[2015-01-17 13:36] SecUpwN commented on #245
@E3V3A, when you actually add the label `REMEMBER_THIS`, shall that still be implemented?

[2015-01-17 13:37] SecUpwN commented on #220
Depends from whom you wanted one..

[2015-01-17 13:38] SecUpwN commented on #231
Why did you close this? This is a fantastic idea and you were fire and flame for it..

[2015-01-17 13:49] E3V3A commented on #283
Interesting.

 1. I just fixed the OCID data download last nights commit. It was using a bounding box too large for free 1000 BTS downloads, for default MCC that could be huge, and thus missing many BTS.
 2. Yes, that is an annoyance bug, not officially reported, and we havent a clue what's causing it. But then it "kind'a works" after a while. Please open a new issue and post a bug report.
 3. We

[2015-01-17 13:57] demantz commented on #220
Hi, sorry for my (very) late reply! Other things came up and I forgot to reply on this one..

I'm very short on time right now, because I'm in the final stage of handing in my bachelor thesis..
And in addition I don't have a rooted Android smartphone at hand. I use a rooted Nexus 7 for development, which doesn't really help with this project..

I would really like to contribute to this project and

[2015-01-17 14:12] E3V3A commented on #239
That is a lot!

Ok, I blindly changed this [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/d23a54f3b65953c47a550980219b21e2364514f7) without testing. I hope it doesn't break anything.

[2015-01-17 14:14] E3V3A commented on #245
Maybe. Could be useful for exporting the API key table in the future when using other DB sources.

[2015-01-17 14:15] E3V3A commented on #231
It's not directly related to this app and very hard to implement even for a baseband ARM expert.

[2015-01-17 14:21] E3V3A commented on #220
@demantz No problem, thanks for getting back to us.

@SecUpwN This is not a Counter Measure, so I'm closing this.

[2015-01-17 14:21] #220 closed

[2015-01-17 14:38] SecUpwN opened #287 "Bug Report E-Mail address not added (in K-9 Mail)"
[![K-9 Mail](https://github.com/k9mail/k-9/raw/master/images/feature_graphic.png)](https://github.com/k9mail/k-9/)

Ok, here we go: I am filing this Issue because the bug report E-Mail address that is implemented in our App and which should be automatically added to the bug report E-Mail in `Debugging`, is missing.

Hence, since I thought I does not show anyhow and we might not need it, I tried to

[2015-01-17 14:43] SecUpwN commented on #220
I don't get why you file great ideas, yet close them when nobody appears to immediately work on them, @E3V3A. It means that we're getting either all hot for it and start researching (while leaving other Issues behind) or that great Ideas just vanish because you suddenly think we don't need them. Why not re-open this?

[2015-01-17 14:45] He3556 commented on #239
Tor has another debug version, where i added some time to wait, before the getLAC() is fired. So if there is still a wrong allert even with this version (and after the note i left in the chat for you) we need to try something else. Or maybe there realy is a catcher on your way?  would be great to know the cellID. Thanks for testing!

[2015-01-17 15:16] He3556 commented on #283
Hello Smarek, thanks for testing out App.
The problem with the "changing LAC" allert is, that you might don't run a catcher firmware on the OpenBTS. You had to change only the LAC of your OpenBTS and leave the CID like it is.
Thanks again!

[2015-01-17 15:34] SecUpwN commented on #215
Just found [greenDAO](http://greendao-orm.com/) by @greenrobot, which is essentially an open source project [on GitHub](https://github.com/greenrobot/greenDAO) to help Android developers working with data stored in SQLite. Thought I'd toss that in.

[2015-01-17 18:21] E3V3A commented on #239
Well he's in the middle of the current catcher crisis area...but then the OP states in area of poor coverage. No telling. We need to also dump both "signal strength" (**DBi_meas**:*rx_signal*) and all CID,LAC,PSC and RAT changes to the new `EventLog` table, so that we can see, what is going on.

[2015-01-17 18:30] E3V3A commented on #215
@SecUpwN Thanks for trying to help, but this is already covered. We a;already have full access to any DB SW tools we need. (Do you remember adding those sponsor images?)

[2015-01-17 18:56] SecUpwN commented on #215
Oh right. Thank you for reminding me. I'm outa here for now.

[2015-01-17 19:00] E3V3A commented on #208
@Ueland  Actually your neighboring cells are not completely "empty", just a bit crippled, but nonetheless useful. Looking at your logs:

[code]

We see that you are probably running in LTE mode. Thus:
 1. **IFF** `mRegistered=YES` we have:  `mMcc=242 mMnc=1 mCi=XXXXXXXX mPci=376 mTac=YYYYY`
 2. But we **always** have:  `mPci=375 ss=18 rsrp=-99 rsrq=-13`. (But can we always assume same `mCi` here?)

[2015-01-17 19:33] E3V3A commented on #208
BTW. [HERE](https://docs.google.com/file/d/0B7VNhP6LbXNmdl9wZG1OSTBnVUE/edit?usp=sharing) is the Service Manual for your phone (LG D821). Looking at it, there are nothing obvious. All communication is done internally on the MSM8974 SoC. So any interface available will be full dependent on the Kernel... QMI is the best and probably only chance to get access to modem interface on this device, unless

[2015-01-17 23:31] He3556 commented on #278
yes about the icons @SecUpwN
and yes @E3V3A the Button no.2 should have another function. Turn on/off is a good idea.
We could even talk about a On/Off Switch for "Monitoring" and "Tracking"?

[2015-01-18 02:28] E3V3A commented on #215
I have an SQL script `aimsicd.sql`, that will construct the entire schema of the new tables above. This need to be distributed by our app and then imported from command line (via Java call) with:
[code]
Where shall I put it? I.e. in what GitHub directory? in [assets](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/tree/master/app/src/main/assets)?

[2015-01-18 04:58] E3V3A commented on #287
Also make sure K9 can handle attachments from API.  Contact k9 Dev.

[2015-01-18 14:35] E3V3A commented on #227
It take a long time for map to update and show the BTSs from the downloaded data. We need to look into why this takes so long time. Does anyone know how or what tools to useto solve timing issues like this?

[2015-01-18 14:40] E3V3A commented on #137
@andr3jx  Can you get back on this, so we can resolve it? Did you have a suggestion for how to fix it?

I was just looking around and found this. Perhaps we need to check for [PHONE_TYPE_SIP](http://developer.android.com/reference/android/telephony/TelephonyManager.html#PHONE_TYPE_SIP) instead?

[2015-01-18 15:13] SecUpwN commented on #278
Press once: Turn on/off monitoring, press twice: Turn on/off tracking? Or is that too complex?

[2015-01-18 15:21] andr3jx commented on #137
I will do some tests next month, checking for PHONE_TYPE_SIP will not help because the tablet returns PHONE_TYPE_NONE.

[2015-01-18 17:26] SecUpwN commented on #215
`assets/databases` should be the right place. Also found [Android SQLiteAssetHelper](https://github.com/jgilfelt/android-sqlite-asset-helper) by @jgilfelt.

[2015-01-18 17:54] Davidmylove commented on #173
Sorry my email was linked to my ex lady I think she is using this to brake
into my emails and phone
On Jan 17, 2015 6:45 AM, "E:V:A" <notifications@github.com> wrote:

[2015-01-18 18:15] Davidmylove commented on #278
My ex lady erica casimiro is using your code or what ever to brake in try
stuff . Am contacting a lower monday
On Jan 18, 2015 9:13 AM, "Security: Pwned." <notifications@github.com>
wrote:

[2015-01-18 18:25] SecUpwN commented on #278
@Davidmylove, you've commented on multiple Issues around our GitHub repository now and I simply cannot make any sense from what you are saying here. Are you assuming that your ex boyfriend is using our App to "hack into your stuff"? You've completely misunderstood our App, please refrain from commenting on any further Issues and take care of your broken heart elsewehere. Otherwise I will personall

[2015-01-18 18:32] Davidmylove commented on #278
@davidmylove no sorry I send this to erica on accident but I rewrote and
sent it to github

On Sunday, January 18, 2015, Security: Pwned. <notifications@github.com>
wrote:

[2015-01-18 18:42] Davidmylove commented on #173
It's OK I got it all photo copied thank you
On Jan 18, 2015 11:54 AM, "david santiago" <dsantiagojr82@gmail.com> wrote:

[2015-01-18 18:43] E3V3A commented on #215
@SecUpwN Good thing to know, but I think we've got this one covered. We don't need dozens of pages of code to do this. Just the two lines above. We don't even need those lines, if we supply a pre-populated `aimsicd.db`. That saves a lot of Java coding!

[2015-01-18 18:47] Davidmylove commented on #137
Thank you
On Jan 18, 2015 9:21 AM, "andr3jx" <notifications@github.com> wrote:

[2015-01-18 19:06] E3V3A opened #288 "Highlighting updates on "Phone/SIM Details" page"
The current  Main page `Phone/SIM Details` doesn't show network updates very clearly. The way it currently looks is this:

![Hmm](https://spideroak.com/share/IFEU2U2JINCA/GitHub/home/SecUpwN/SpiderOak/SCREENSHOTS/Device_Details.png)

What I would like to see is that items that have just changed are highlighted in (for example) yellow and then slowly fading away into the normal blue text with time.

[2015-01-18 19:11] smarek commented on #283
@E3V3A

1) Thanks, I've just tested again (fresh build against 300ceef68d396951cea2cce1be2d7478f722daec ), and OCID data downloaded correctly for GPS location
2) I'll do
3) We've just tested (and ping to @He3556 too), simply being connected, and changing just LAC and no other param, will trigger the yellow flag. Previously we've been changing multiple params at time, and it didn't passed the trigg

[2015-01-18 19:24] E3V3A commented on #283
@smarek  Thank you very much for testing and reporting. That is invaluable to us.
It's all our pleasure, and let's keep in touch for more testing in the near future.

[2015-01-18 19:28] E3V3A commented on #221
So I'm closing this as it's not a relevant issue, but worth remembering.

[2015-01-18 19:28] #221 closed

[2015-01-18 19:50] cketti commented on #287
From http://developer.android.com/reference/android/content/Intent.html#EXTRA_EMAIL

    A String[] holding e-mail addresses that should be delivered to.

Make sure `EXTRA_EMAIL` contains a string array, not a single string.

[2015-01-18 20:05] E3V3A commented on #97
I just want to add some new info from [here](http://wiki.opencellid.org/wiki/API#Filtering_of_data).

[code]

[1] http://en.wikipedia.org/wiki/Received_signal_strength_indication
[2] http://en.wikipedia.org/wiki/Received_signal_code_power
[3] http://www.sharetechnote.com/html/Handbook_LTE_RSRP.html
[4] http://s4gru.com/index.php?/blog/1/entry-308-rssi-vs-rsrp-a-brief-lte-signal-strength-primer/
[5

[2015-01-18 20:09] E3V3A commented on #287
@SecUpwN, I didn't fix this! I fixed the other DB Viewer one...

[2015-01-18 21:06] freddymartinez9 commented on #221
It would be useful to have to detect downgrade attacks. I've mentioned this previously ...

[2015-01-18 23:15] He3556 commented on #91
thank's to d-mariano - we got this Issue finished :)
We need to think about a solution for the notifications. If there are two detections at the same time, the first one will be overlapped by the second. Maybe we show an array of notifications in a loop?
Just mentioned it - so we don't forget about it.

[2015-01-19 00:54] E3V3A commented on #221
I know, but we have no idea how to activate and use this in the Qualcomm BPs...especially from Androids. Maybe we should start a [signature collection campaign](https://www.change.org/?lang=en-US) to have them release this info?

[2015-01-19 00:58] E3V3A commented on #173
The easiest way to test this is probably to inject a false LAC but with same CID, into the `CELL_TABLE` (*cellinfo*) DB as @He3556 suggested. We can do this with:

[code]
The result is:
[code]

[2015-01-19 01:01] E3V3A commented on #91
I just posted detailed instructions [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/173#issuecomment-70435310) in the "App Test Protocol" #173 issue, on how to test changing LAC.

[2015-01-19 01:56] E3V3A commented on #267
@Ueland Could you provide a sane message for this, so we can close this?

[2015-01-19 06:38] tobykurien commented on #173
FYI, I wrote and Android Unit Test for this here: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/androidTest/java/com/SecUpwN/AIMSICD/test/Detection1.java

[2015-01-19 12:59] E3V3A commented on #173
Wow, great! How can we use it? Can we call it by using an `am` like call from command line?
Perhaps by using something like:
[code]

[2015-01-19 15:51] SecUpwN commented on #91
Thanks to @d-mariano for his funky pull request! @He3556, if this is **really** solved now, please close.

[2015-01-19 15:59] SecUpwN commented on #287
@E3V3A, in the OP I meant that you reverted my changes, which fixed the DB failures to occur.

Thanks for listening to my E-Mail and chiming in, @cketti! Would changing [Line 150](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/75984a13ad5fc03233387abc730535b53a9e982f/app/src/main/java/com/SecUpwN/AIMSICD/activities/DebugLogs.java#L150) from `intent.putExtra(Intent.EXTRA_EMAIL);` to

[2015-01-19 16:16] E3V3A commented on #267
From the [HTTP status codes](http://en.wikipedia.org/wiki/List_of_HTTP_status_codes) wiki:

`503 Service Unavailable`:

This can probably be handled in [CellTracker.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/b7c0a600c6759591d4687f69c8766327322f9a92/app/src/main/java/com/SecUpwN/AIMSICD/service/CellTracker.java##L263-299), or maybe in [OpenCellIdActivity.java](https://githu

[2015-01-19 16:40] cketti commented on #287
[code]

[2015-01-19 17:16] #287 closed

[2015-01-19 19:00] E3V3A commented on #287
Thanks a bundle @cketti!

@SecUpwN  Please let me know in internal chat before merging code! This time I was working on this when you made the change causing merge conflict and wasting my time. Thanks.

[2015-01-19 19:04] He3556 commented on #91
we can still enhance this but actually we are finished at that point. So i just close it :)

[2015-01-19 19:07] E3V3A commented on #91
@d-mariano
Something is not right. Did you test it before making PR? Your code is causing the following problems:
 1. When app start for the first time, it immediately goes to YELLOW detection. Not good, but could be the right behavior, once the DB and BTS pin selection/coloring scheme is implemented.
 2. That annoying not possible to close/quit bug has returned... Not sure if it is only on my dev

[2015-01-19 19:14] He3556 commented on #181
**REMINDER for the installation & setup wizard** (for the first start of the app)
We need to wait until the db is downloaded before we check the CID against the data of OpenCellID. Otherwise we get a wrong alert just right after the installation.

Maybe we use a flag, that is changed when the db download is finished?
But only the CID check needs to get stopped not the changing LAC detection.

[2015-01-19 19:20] He3556 commented on #91
There is everything ok with the code and i am absolutely sure, that @d-mariano tested it before ;)
I just added a reminder in another issue about the problem.

REMINDER for the installation & setup wizard (for the first start of the app)
We need to wait until the db is downloaded before we check the CID against the data of OpenCellID. Otherwise we get a wrong alert just right after the installatio

[2015-01-19 19:35] E3V3A commented on #91
Ok, great. Which issue?

[2015-01-19 19:53] He3556 commented on #91
here: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/181

[2015-01-19 20:04] He3556 opened #290 "Wait for OCID download before start CID check"
:warning: This Bug only appears in the (unofficial) debug version, not in the release.

The CID detection is running before there is OCID data to check it against. We need to wait until the db is downloaded before we check the CID against the data of OpenCellID. Otherwise we get a wrong alert just right after the installation. Maybe we use a flag, that is changed when the DB download is finished?

[2015-01-19 20:09] SecUpwN commented on #91
@E3V3A, the new Issue for the immediate yellow flag is #290. And just to tell you: We already discussed it in the Testroom before you mentioned it here. So is this closed now, or how often do we need to re-open this?

[2015-01-19 20:31] E3V3A commented on #91
Should we rename this to "...Changing LAC on same CID"?
(Because CID detection is yet different.)

[2015-01-19 20:48] He3556 commented on #91
yes thats why i said - in the future we don't throw detections together, in one issue :) if you want pls rename it.

[2015-01-19 21:22] E3V3A commented on #91
Great! (The problem was that I originally though of them as connected.)

[2015-01-19 21:29] SecUpwN commented on #91
@E3V3A, I can't follow, please clarify. We had multiple Issues in here and this one is solved?

[2015-01-19 21:40] d-mariano commented on #246
The issue was not entirely resolved, as I initially thought.  I have now learned that CellTracker.java did not truly end cell tracking/monitoring in the stop() method.  I have implemented this, I believe(hope) the issue does not return.

[2015-01-19 23:57] E3V3A commented on #267
Could someone please test this? So that I can close it. @SecUpwN ?

[2015-01-20 00:30] SecUpwN commented on #267
@E3V3A, since you've already merged, it is closed. Works perfectly for me! Done?

[2015-01-20 02:40] E3V3A commented on #267
Uhmm I have to merge to build for you to test. Why would you wanna close before confirmed fixed?

[2015-01-20 03:32] E3V3A commented on #246
It is fixed!! Thank you very much! :boom:

[2015-01-20 03:32] #246 closed

[2015-01-20 04:30] E3V3A opened #292 "Missing OCID columns in DBe_import table"
Apparently not all the OCID columns available from the downloaded CSV file is used to populate the `DBe_import` table. Out of 19 possible items, we're only using 8.

[code]

Unfortunately because of the confusing state of the **old** [DB table structure](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/215), I have not been able to track down this issue. However, I think it's done h

[2015-01-20 06:26] tobykurien commented on #173
You can run it either from ```gradle connectedAndroidTest``` (which runs all tests) or Android Studio (right-click the class, Run > Detection1). It's also possible to use ```am instrument``` to run tests, as described in https://developer.android.com/tools/testing/testing_otheride.html#RunTestsCommand - although that would be for the instrumentation tests (e.g. https://github.com/SecUpwN/Android-I

[2015-01-20 09:25] SecUpwN commented on #267
I didn't close it. GitHub automatically closes Issues if you mention `fix #<Issues>` which *you* did with `added comments and tried to fix #267 and #287` as well as `Test fix of #267 and code re-formatting`. But my test with build 20 confirms that you've successfully added the sensitive error message `Only one new API key request per 24 hours. Please try again later.` now. Closing this since it is

[2015-01-20 09:27] #267 closed

[2015-01-20 11:30] E3V3A commented on #267
Wow!  So GitHub does all this automatically...so what am I doing here!? GitHub should just fix all our bugs as well!

[2015-01-20 13:13] E3V3A opened #293 "Better error handling for blocked downloading"
**Problem:** Attempting to download OCID data when not having a permissive firewall, results in an uncaught exception. This is especially important to fix when we will have different `DBe_import` data options.

**Solution:** We need to:
 1. find a way to check if *AFWall+* (or other firewall) is blocking our network connection and
 2. make an exception `catch{}` in the download code, to display a

[2015-01-20 13:28] E3V3A commented on #269
Maybe change the title of this one? It's very ambiguous to know what you mean with "Phone Support". That sound like a completely different thing to me...

[2015-01-20 13:40] SecUpwN commented on #269
@E3V3A, what is very ambiguous with it? Since we have set our goal to support as many phones as possible, we should add a prompt as proposed here that shows the user if his phone is indeed making use of all detection and protection functions of our App, or if there is stuff missing. How would they know otherwise?

[2015-01-20 13:43] SecUpwN commented on #293
Maybe @ukanth would be so friendly to chime in on on this one?

[2015-01-20 14:58] E3V3A commented on #173
[code]

| Parameter | Value | Description |
|:--------- |:------|:----------- |
| `<test_package>` | The Android package name of the test package. | The value of the package attribute of the manifest element in the test package's manifest file. |
| `<runner_class>` | The class name of the instrumented test runner you are using. | This is usually InstrumentationTestRunner. |

[code]

@tobykurien  W

[2015-01-20 15:04] E3V3A commented on #269
I agree completely, but I was just saying that  "Phone Support" is usually understood as a place to call for support, and that's not what you meant. In addition we might wanna add that it should be an *initial* event that runs automatically on first start/install and then can be run manually from *about* page or something...

[2015-01-20 15:34] E3V3A commented on #214
I really haven't been able to respond properly to this one, due to work load. The status icons seem fine, but they're not used in the code as I haven't  had time to finish the *detection scoring table*. But the table will appear in # 230 when done. BUT since the actual status icon descriptions are correct for now, I think we can close this, and I'll open a new issue for the implementation of these

[2015-01-20 15:34] #214 closed

[2015-01-20 15:43] SecUpwN commented on #269
@E3V3A, I've updated the title and added your suggestions to the OP. So how to go about this?

[2015-01-20 22:27] d-mariano commented on #246
My pleasure!

On Mon, Jan 19, 2015 at 10:32 PM, E:V:A <notifications@github.com> wrote:

--
-DM

[2015-01-20 23:15] E3V3A commented on #293
I guess we need to add something like this, somewhere.

[code]
PS. I have no idea what the correct exceptions should be there...

I'm trying to track down where the download is done, and have reached an enigma.
There are two places where I think this can happen, either in:
  1. [Helpers.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/3a5039efb6f4c7e13627e422d972657179d0de2e/app

[2015-01-21 00:18] E3V3A commented on #202
Are we still considering this? Perhaps we can close this...for now?

[2015-01-21 00:19] E3V3A commented on #174
Ok, so what do we have to do to get this going?

[2015-01-21 01:10] SecUpwN commented on #290
Quick question: Shouldn't the yellow CID warning disappear once the OpenCellID data has been successfully downloaded? On my phone, the yellow glag persists even after a successful download. Just wanting to make sure I'm not constantly booked into a honeypot or something. Feeling monitored and thus a little paranoid as well.

[2015-01-21 01:20] E3V3A commented on #137
I came across [THIS](http://stackoverflow.com/questions/16541172/getallcellinfo-returns-null-in-android-4-2-1) post. Perhaps this problem is related?

So I searched our code for these:
 * [getAllCellInfo](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/search?utf8=%E2%9C%93&q=getAllCellInfo&type=Code) in: DeviceApi17.java
 * [getCellLocation](https://github.com/SecUpwN/Android-IMSI-Catche

[2015-01-21 01:42] andr3jx commented on #137
The post is unrelated for this issue.

[2015-01-21 01:43] E3V3A commented on #290
@SecUpwN I think you're confusing this (CID) issue with the changing LAC one.
@He3556 (Which version are you testing with? Private or from testroom?) Also I think it could be related to #284. ?

[2015-01-21 01:46] E3V3A commented on #137
Well if you have the solution, as it appears above, why don't you post a code snippet for us to try to fix it or make PR? It doesn't seem anyone know what to do here, other than you. I want to see this issue closed as much as you do, especially since you seem to know what the problem is.

[2015-01-21 03:42] andr3jx commented on #137
I think the only way to do it properly is to replace the switch case phonetype with something like this:
http://stackoverflow.com/a/14485139

[2015-01-21 06:45] tobykurien commented on #173
The command that works is:

```am instrument -w com.SecUpwN.AIMSICD.test/android.test.InstrumentationTestRunner```

This will run all the tests. For just ```Detection1```:

```am instrument -e class com.SecUpwN.AIMSICD.test.Detection1 -w com.SecUpwN.AIMSICD.test/android.test.InstrumentationTestRunner```

It's important to remember that the tests are run from a separate test application. It's in a

[2015-01-21 11:01] MatejKovacic commented on #178
Just a short question... who is David Santiago? Can I keep him on my block list?

[2015-01-21 11:43] SecUpwN commented on #290
No, I don't think so. I am running build 20 and @He3556 opened this Issue right after we've discovered and discussed it in the internal rooms. The Cell ID does not exist in the OCID database.

That is exactly what both of us are experiencing - and for me it stays after downloading the OCID DB.

[2015-01-21 11:59] SecUpwN commented on #178
You mean user "Davidmylove"? Yes, you may keep him on the block list.

[2015-01-21 12:30] SecUpwN commented on #137
Thank you for digging further into this, @andr3jx. The comment you've found has been written by @iagreen, who works for [Wink Inc.](http://www.winkincproductions.com/) - maybe he cares to help us? I have just written a short invitation via E-Mail to him. And sometimes I wonder if it is only me having such a strong Google-Fu... :panda_face:

[2015-01-21 14:21] E3V3A commented on #173
So it doesn't install the test package automatically, when you install AIMSICD?
If not, how could we make it to do so, so that we can run these tests from the app itself?

I tried those commands, but they're not working. Probably because the test app hasn't been installed?
Where is it located and what is it called, after install?

[2015-01-21 15:13] tobykurien commented on #173
It's a developer tool, not a user tool. Use Gradle or Android Studio to run the tests.

[2015-01-21 15:32] E3V3A commented on #173
I know, but I'm using G and AS in a VM and the tests need to run on the app in metal I think. So if you know how to do this, please tell us, because we'd like to :
 1. Run tests as part of the app, upon user request (when in a future debug mode, for example).
 2. Run developer detection tests from command line using `am`.
 3. Learn how to do this, since we're rather handicapped development wise, a

[2015-01-21 17:20] benutzer74 opened #294 "AIMSICD freezes Lollipop device"
AIMSICD version 0.1.25-alpha-b15 freezes my device, running Android Lollipop 5.0.2 with Cyanogenmod CM12.

With Cyanogenmod CM11 (KitKat), AIMSICD runs well.

The device freezes right after starting AIMSICD. Only a device reset with power button key works. The device is completely stuck after starting AIMSICD.

I have no clue, if this might be a Cyanogenmod specific or Android 5 issue.

Can other

[2015-01-21 17:23] Ueland commented on #294
What device is this? I have no problem with latest Android on my Nexus 5.

[2015-01-21 17:27] benutzer74 commented on #294
It´s a SONY Xperia Z1. Generally the Lollipop CM12 works pretty stable for such early nightly.

I think I could use logcat to see what happens when running AIMSICD?

[2015-01-21 17:29] E3V3A commented on #294
Yes, please provide a logcat according to our instrux [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues).

[2015-01-21 17:53] benutzer74 commented on #294
Magic has happened...
Instead of resetting the device with the power button I waited and the device did a reboot on its own. And now AIMSICD runs...

I was able to download the OpenCell data and put the OpenCell ID key into preferences. I looked at the information tabs and they work...

All I did was to wait for the device for automatic reboot, it works now...

Do I have to click on "Close and com

[2015-01-21 17:53] #294 closed

[2015-01-21 20:21] E3V3A commented on #294
@benutzer74  Thank you for reporting! Please feel free to report any further issues in the future. You're one of the few here on an L device (AFAIK) so you're testing is valuable.

[2015-01-22 02:37] E3V3A opened #295 "Rotating Screen restarts stopped Debug Logs"
When going to `Debugging` to see live logcat message and then hitting **Stop**, and turning phone sideways, restarts the logcat messages.

[2015-01-22 03:15] E3V3A commented on #227
Hmm, I'm not able to reproduce this. Perhaps a timing issue? Closing.

[2015-01-22 03:15] #227 closed

[2015-01-22 15:11] SecUpwN commented on #294
@benutzer74, herzlich Willkommen zu unserem Projekt gegen IMSI-Catcher! Wenn Du Fragen haben solltest und Englisch sich als zu kompliziert erweisen sollte: Viele von [uns](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact) sprechen auch Deutsch.

[2015-01-22 15:12] SecUpwN commented on #294
@benutzer74, herzlich Willkommen zu unserem Projekt gegen IMSI-Catcher! Wenn Du Fragen haben solltest und Englisch sich als zu kompliziert erweisen sollte: Viele von [uns](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact) sprechen auch Deutsch.

[2015-01-22 15:14] SecUpwN commented on #294
@benutzer74, herzlich Willkommen zu unserem Projekt gegen IMSI-Catcher! Wenn Du Fragen haben solltest und Englisch sich als zu kompliziert erweisen sollte: Viele von [uns](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact) sprechen auch Deutsch.