[2016-02-17 11:57] #771 closed

[2016-02-18 05:53] ProGamerGov commented on #751
For the map viewer, I am not sure how adding 200,000 measurements would affect the map viewer's stability. Is there anything in place at the moment for this potential issue?

[2016-02-18 12:38] SecUpwN commented on #751
I guess we'd have to implement the ability to import the database and simple see what happens.

Likely not. As said, we're already coping with all the existing Issues and too few Android developers.

[2016-02-18 17:28] tt3mm commented on #258
Hi,
I like the idea that each function can be accessed from the navigation drawer. However there is some issues with it, I think.
- too much, not equal level menus
- different behavior, it seems like some are taking you to an activity, some are taking you to a fragment of the 3 state main window
- some menu items are doing an action, but doesn't take you to anywhere
- quit button :rage4:

For maki

[2016-02-18 17:30] larsgrefer commented on #258
@tt3mm I totally agree with you :+1:

[2016-02-19 10:36] Klaws-- commented on #759
Hi, I updated to "WIP TEST RELEASE v0.1.39.1-alpha", rebooted my phone (just to be sure...) but the described behavior did not change.

MatLog is currently of no help, as my device is not rooted (to root a One+ 2, one needs to replace the boot loader - which, apparently, wipes the phone and prevents future stock firmware updates, so I'm currently not totally convinced of that approach :)).

[2016-02-19 12:42] agilob commented on #759
Go to settings application aimsicd and remove cache and app data?

[2016-02-19 16:07] Klaws-- commented on #759
Okay, did that. A disclaimer appeared, I chose "I agree", and AIMSICD disappeared.

Tapping the AIMSICD icon again resulted in the behavior described in the initial report.

After that attempt, the storage stat is App=7.04MB, Data=92.00KB, Cache=52.00KB. Surprisingly, the "FORCE STOP" button is active. Also suprosingly, the version shows as "0.1.39-alpha-normal". Either the update has failed, or t

[2016-02-19 18:45] larsgrefer commented on #759
The 0.1.39.1 apk contains `0.1.39-alpha-normal` als versionName. We will prevent those mismatches in #730

@Klaws-- Are you able to run logcat during the app launch?

[2016-02-20 02:44] f3ndot opened #773 "Build number null"
Tiny and small bug, but a bug nonetheless.

Latest version installed from f-droid.org, Nexus 6P.

Expect either a build number or human readable handling of null case

http://imgur.com/lkcgIsL

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31039780-build-number-null?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&

[2016-02-20 07:29] SecUpwN commented on #773
Nothing to worry about, @f3ndot. The build number is only shown on Builds that have been created with our internal Buildozer account so that we can test the very bleeding edge APK from branch `development`. But you are right, we should probably make the build entry fully vanish on released APKs. @larsgrefer, would you please have a look at this and see if you can improve that part of our code?

[2016-02-20 07:42] SecUpwN commented on #258
I would change every screen to a fragment, or every screen to an activity. The settings, about, debugging, I think should go to the action-bars dropdown menu. Some commands, that is useful everywhere like the Toggle Attack Detection, and Toggle Cell Tracking, should be Buttons on the action bar too.

Awesome to see you back here, @tt3mm! Your proposed changes make sense, I totally agree as well.

[2016-02-20 08:12] SecUpwN opened #774 "Usage of Issue and Pull Request templates"
Should I add [Issue and Pull Request templates](https://github.com/blog/2111-issue-and-pull-request-templates), or do you think our [CONTRIBUTING.md](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/CONTRIBUTING.md) is fine?
An in-depth explanation of the various possibilities with these improvements can be found [here](https://help.github.com/articles/helping-people-contr

[2016-02-20 09:31] agilob commented on #774
This is another file in repo in top level directory that locks code on github.

[2016-02-20 13:10] larsgrefer commented on #774
@SecUpwN Yes, you should.

[2016-02-20 13:55] #773 closed

[2016-02-20 19:55] SecUpwN commented on #774
@larsgrefer, I'll digg into these changes in the upcoming week. Have to set up my new laptop first. :)

[2016-02-20 23:09] licaon-kter opened #777 "OpenCellID requests end up as 403"
Until https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/721 is solved the error message is strange, `check your network`, it the mean time reading the log, as of v0.1.39-alpha my OCID key yields error 403: `Your API key must be white listed in order to run this operation...`.

Is this something to be fixed in AIMSICD? OCID? My key?

<bountysource-plugin>
---
Want to back this issue?

[2016-02-20 23:09] licaon-kter commented on #435
Whatever happened with this?

[2016-02-20 23:54] SecUpwN commented on #777
Please try deleting and requesting a fresh key from within our app.

[2016-02-20 23:55] SecUpwN commented on #435
We lack developers. Feel invited to either craft a pull request adding this functionality, or find more devs.

[2016-02-21 00:02] licaon-kter commented on #777
I though that any key, like requested on their site, would be ok.

I'll do.

[2016-02-21 12:06] SecUpwN commented on #777
@licaon-kter, let us know here if requesting a key via our app resolved this.

[2016-02-21 12:43] SecUpwN commented on #754
@tt3mm, since you removed the `ATCommandActivity` with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/9478d1ee23c2967e4d6a866aa6faba6cddf05ef5, is this Interface still functional?

[2016-02-21 13:12] SecUpwN opened #778 "Removed Swiping: UX vs. Usability"
Since merging #776, the swiping navigation is gone. Question directed at @tt3mm and @larsgrefer: Is this change better for following the Android UX rules, or should we add back swiping for better usability? I'm not so sure if people understand that they'll have to access the `Navigation Drawer` each time.

[2016-02-21 14:15] tt3mm commented on #778
I think the two together was very confusing.
Check out the youtube app. As I remember they had a nav drawer but now it's gone, and they have a 4 page swiping. The Gmail app only has nav drawer.
I was sorting my apps this was the usual, if there is a few, frequently used screens, then swiping, otherwise nav drawer.

I would stay with it, because it's a diagnostic application, and I think the users

[2016-02-21 16:09] SecUpwN commented on #778
I fully agree, @tt3mm. Would you like to specifically tackle the whole re-design in #258? I would then list you as our main `UI/UX Designer` on our [contact page](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact) if you like to. Also have a look at our [Style Guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide).

You're right. In the long run, we'd

[2016-02-21 17:50] SecUpwN commented on #774
@larsgrefer, my ThinkPad is configuared now and I'm ready to rumble. Do you have a proposal on how you'd like our templates to look like? As an inspiration, just have a look at [Awesome GitHub Issues/PRs Templates](https://github.com/devspace/awesome-github-templates).

[2016-02-21 23:31] SecUpwN opened #781 "Automatic versionName not working"
@larsgrefer, I'm sorry that you're having to code so much, but I just noticed that our app is displaying its version name as `unspecified-normal`. That causes more trouble when publishing it elsewhere. Please see if you can fix this in the upcoming days. No hurry. Already published `v0.1.40.1-alpha` on all stores.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https:/

[2016-02-22 12:17] licaon-kter commented on #777
It's ok.
Is the key request in place, say if I forget to submit some data it will get rejected too, so I'll have to request another one and I'll just get it?

[2016-02-22 12:17] #777 closed

[2016-02-22 15:20] Klaws-- commented on #759
I tried MatCat, but since my device isn't rooted, MatCat did not log anything (other than its own output).

[2016-02-22 15:47] SecUpwN commented on #759
@Klaws--, please try our latest release as of yesterday. If that is still not working for you, please see if [these instructions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md#debugging) are helpful for you to catch a valid logfile.

[2016-02-22 15:48] SecUpwN commented on #777
I don't know what you mean. If you fetched a key, you should upload data at least every 20 days.

[2016-02-22 15:53] licaon-kter commented on #777
What if I don't? Will it be rejected? Will I need to press "get key" in AIMSCD? Will I get one?

I guess it happened with my previous one, I did bother to upload but maybe did not use the app that often.

[2016-02-22 17:06] johanw666 opened #782 "No neighbouring cells when on LTE"
I don't know wether LTE is supported or not, but my device shows in the tab "current threat level" no neighbouring cells when I'm on LTE. When I switch back to 2G they do appear.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31131104-no-neighbouring-cells-when-on-lte?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issue

[2016-02-22 19:11] Nordlenning opened #783 "All current Cell Details"
Sony Xperia V lt25i,Unlocked,Rooted CyanogenMod 12.1 NEO-tsubasa  Lollipop 5.1.1
AIMSICD Version unspecified-normal, Version Nummer T-1643.(WIP TEST RELEASE v0.1.41-alpha)

If I download OCID Data from MAP view the downloading marker (circle) keeps turning after
the downloading has finished. It stops if I leave the page & return back.

If I try to go to "All current Cell Details" in the menu nothi

[2016-02-22 23:43] tt3mm commented on #778
Thanks, I will think about a whole re-design, I already have some ideas, but let me get more involved/understand in the architecture first.

If we stay with the 4-5 main screens then yes, something youtube-like UX could work.

[2016-02-22 23:48] tt3mm commented on #754
Yes, don't worry, the same code lives in a form of a fragment :)
At least for me it works as before.

I have 2 SIM cards, and I was trying to make it detect both, but I couldn't. At least I worked in a shameful way, of trying AT-ing all /dev/smd*.
Any ideas how can it be fixed?

[2016-02-23 09:44] Klaws-- commented on #759
Tried the latest release (WIP TEST RELEASE v0.1.41-alpha), same results. Also cleared app data (version was displayed as "version unspecified-normal"; I suspect this is "normal" ;)), same result.

I created a /sdcard/aimsicd_log directory (via a shell), but nothing is logged there. Could be a permission issue, as I am not allowed to do something like "chmod 777 aimsicd_log". Dunno, "ls -l " says:

[2016-02-23 12:24] SecUpwN commented on #782
Our app does not support LTE yet. Please follow #442.

[2016-02-23 12:24] #782 closed

[2016-02-23 12:26] SecUpwN commented on #777
Please read the note that appears when pressing the button to fetch a fresh key. It clearly states that if not data is being uploaded to OCID within 20 days, the key will get invalid. These are their rules, not ours.

[2016-02-23 12:28] SecUpwN commented on #783
@Nordlenning, thanks for filing this and also thanks for all your translation contributions so far! Would you please do us the favor to attach a logcat after removing your provate data (like `CID` and `LAC`) here?

[2016-02-23 12:28] licaon-kter commented on #777
I've seen them, what about my last 2 questions?

[2016-02-23 12:34] SecUpwN commented on #778
Sounds great! Besides the few hopefully very useful screens we want to display to our users, we'd like our app to be set up correctly with #181 before the user can even start to use it. That way, common errors like a missing download of the OpenCellID database and other things shall be avoided.

I will download that app today and have a closer look. Please make sure to always attach a mockup of th

[2016-02-23 12:36] SecUpwN commented on #754
@tt3mm, seems like we lack support for two SIM cards as of yet. Have a look at #504.

[2016-02-23 12:55] SecUpwN commented on #777
Of course.

Of course. Please be aware that a new key can only be fetched every 24 hours.

[2016-02-23 13:09] licaon-kter commented on #777
Ok, thanks.

[2016-02-23 13:12] SecUpwN commented on #777
You're welcome. You can always see and edit your key in the `Preferences` within our app.

[2016-02-23 13:40] licaon-kter commented on #777
Already had one there. :)

[2016-02-23 13:58] SecUpwN opened #784 "Optional Setting: Automatically update OpenCellID Database"
In conjunction with making it a mandatory step to first download the OpenCellID database when launching our app to ensure it has a real base to start off with (#181), I feel like it might be a good idea to add an **optional setting** called `Automatically update OpenCellID Database` within the `OpenCellID Settings` in `Preferences`. Once checked, it could fetch the latest version of the database e

[2016-02-23 17:16] Nordlenning commented on #783
@SecUpwN , My pleasure!  > Adding getprop -  AIMSICD internal Log & Logcat.
Hope it can be of any help. Need more ? let me know...

[tsubasa  logcat.txt](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/files/143037/tsubasa.logcat.txt)
[AIMSICD mainLOG.txt](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/files/143038/AIMSICD.mainLOG.txt)
[tsubasa getprop.txt](https://github.com/Se

[2016-02-24 07:12] stingraykilla opened #788 "Create GSM Location?"
IMSI Catcher has been crashing more lately and I've been noticing strange output from the debug logs. I'm aware of inherent insecurity with bloatware apps having far reaching permissions over the phone. Since I've installed AIMSCID it has confirmed my suspicions of Stingray being used all throughout San Jose.  What I'm concerned about now is since I don't have ROOT the app has been compromised  in

[2016-02-24 21:45] tt3mm opened #789 "FemtoCell detection removing"
It seems to me, that there is a whole feature, femtocell tracking wired in the code, without really using it.
Also at the root of it there is a comment:
[code]
I saw there are long threads about it, but can anybody give a short summary why is it still in the code?
I have no emotional attachment, so I would gladly delete it from everywhere if there is no need for it.

<bountysource-plugin>
---
Want

[2016-02-24 23:49] tt3mm commented on #783
It seems, that it fails at parsing the response XML.
I made a quick fix, it seems working, at least it is refreshing the fields in DeviceFragment.

Of course this action only has effect if the DeviceFragment is open, not other, so I am thinking in moving this NavDrawer item to there.
This name 'All Current Cell Details' doesn't say much I think, so a refresh button in DeviceFragment would do inste

[2016-02-25 00:04] larsgrefer commented on #783
Refresh/loading animations and actions should be done with a SwipeRefreshLayout

[2016-02-25 05:25] f3ndot opened #790 "AIMSICD not using downloaded OCID and always at MEDIUM alert"
#### Versions

HW: Nexus 6P
FW: Android 6.0.1 (stock)
Build Number: MMB29Q
AIMSICD Ver 0.1.39-alpha-normal via f-droid

#### Steps to Reproduce

1. Download and install AIMSICD
2. Enter in OCID API key
3. Download the database
4. After getting the successful download toast, quit the app and reopen
5. Observe warning that "Cell ID not in OpenCellID Database!"

[Log/debug file (with sensitive bits r

[2016-02-25 05:36] f3ndot commented on #746
Can reproduce on my Nexus 6P device with stock Android 6.0.1, unrooted

[2016-02-25 09:28] licaon-kter commented on #228
Map -> Preferences -> change Map type -> press Back arrow takes you back to app instead of map view

Also then after closing app you are switched to the Map view, somehow it got send to background and unlinked to the main app on back arrow press?

[2016-02-25 10:35] elevenhour commented on #790
I'm having this issue too.
Samsung Galaxy Note 4
FW 5.0.1
Aimsicd Build Number T-1643

[2016-02-25 11:52] Nordlenning commented on #790
Hi, This was a problem on my Sony phone too until Latest test release of AIMSICD that is >> WIP TEST RELEASE v0.1.41-alpha. Now I have the Green Icon.Try it...Download the APK under Pulse on this Site..

[2016-02-25 13:46] SecUpwN commented on #790
Good evening @f3ndot, your bugs actually boil down to one. After downloading the OpenCellID database, our app should re-check the currently connected cell, which it doesn't. Please follow #558.

[2016-02-25 13:46] #790 closed

[2016-02-25 13:58] f3ndot commented on #790
Hi @secupwn, if you see my steps to reproduce you'll see I mention this persists past restarting the app. To verify it's not background services, I even have rebooted my device.

I'm not entirely sure if it's the bug you've referenced

[2016-02-25 14:00] f3ndot commented on #790
However I'll take a stable at #558 since the issue has been untouched since 2015. If it fixes my problem too then I'll happily eat some humble pie.

Let's see if I can dust off my java skills...

[2016-02-25 17:55] SecUpwN commented on #788
Hey @stingraykilla (what a funky name), please *never* publish sensitive logfiles with your private data on GitHub. Always clean them first by removing `CID`, `LAC` and serial numbers. I've just done that for you.

I doubt that this is the case. Please read [these warnings], our app is still in bleeding `ALPHA` stage. I'll assign @He3556 to have a look at your Issue here, please wait for his reply

[2016-02-25 18:01] SecUpwN commented on #790
@f3ndot, that would be wonderful. We#re badly missing more enthusiastic Android developers. Let me know if your error disappears when the other Issue is fixed, otherwise we'll just re-open this one here.

[2016-02-25 18:14] SecUpwN commented on #789
What exactly do you mean? I guess you are talking about the comments? Those still need cleanup, something I've aleady started and need to continue. A detailed list of which files still need cleanup can be found [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/672#issue-121037185). Regarding the full removal of FemtoCell detection: I am voting against doing so since we've alre

[2016-02-25 19:25] SecUpwN commented on #489
@He3556, not sure if it makes sense answering so late, but have a look at the following clues to start:

* [AIMSICD Research Papers: IMSI-Catcher](https://spideroak.com/browse/share/AIMSICD/GitHub/PAPERS/IMSI-Catcher/)
* [Privacy International: Phone Monitoring](https://www.privacyinternational.org/node/76)
* [Video on YouTube: GSM/CDMA Interceptor](https://www.youtube.com/watch?v=uGHtlb9-kcw)

If

[2016-02-26 04:50] f3ndot commented on #790
@SecUpwN WOW! I debugged the application and it appears the URL generated to download the CSV from OCID *_truncated*_ the last digit of my `mnc` GET parameter in the request!

This explains why, if you look carefully in my original logfile, it claims to import just 1 row (the .csv header line)

The `Cell` object passed to `getOpenCellData` is missing the final character in its `mnc` property.

Inv

[2016-02-26 04:58] f3ndot commented on #790
This is the culprit: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/1b07e3cb033d3235fdb797ae0c8567b2407c35be/AIMSICD/src/main/java/com/SecUpwN/AIMSICD/AIMSICD.java#L384

My MNC is 3 characters and it interestingly assumes all to just be two, prematurely truncating the string. the intermediate variable `mnc` just above it however correctly grabs the rest.

Fixup PR inbound. Happy I a

[2016-02-26 08:41] stingraykilla commented on #788
Thanks!

[2016-02-26 09:03] stingraykilla commented on #788
In regards to the CID & LAC's numbers where would you suggest I turn the "invalid" ones into that are in my BTS database? My IMSI Catcher has been going off all over San Jose

[2016-02-26 11:10] SecUpwN commented on #788
OpenCellID is using a special filtering mechanism to make sure no IMSI-Catchers get added to their database, so you don't have to worry. I am not sure how far their progress is though, see #411.

Do you own an IMSI-Catcher, or did you just mistype that? I guess you mean our app has been going of all over San Jose? Again, our app is still bleeding `ALPHA`, false alarms are very likely.

@larsgrefer

[2016-02-26 12:15] SecUpwN opened #794 "Toggle Cell Tracking re-enables itself"
Steps to reproduce this Issue:

1. **Disable** `Toggle Cell Tracking` in the top right corner of our app
2. Shortly open the `Navigation Drawer` and go back to `Toggle Cell Tracking`
3. Checkbox `Toggle Cell Tracking` has obviously **re-enabled** itself

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31325748-toggle-cell-tracking-re-

[2016-02-26 13:25] SecUpwN commented on #781
@larsgrefer, thanks for the quick fix! Is it normal that our Buildozer builds still say `unspecified-normal`?

[2016-02-26 14:46] f3ndot commented on #723
MarkerData.java is missing the setters, getters, and class properties for RAT and PSC. See patch file to make it available (not you'll need to change the instantiation of the class in all place to pass in RAT and PSC now)

[code]

[2016-02-26 15:45] Nordlenning commented on #794
Just tested the findings on my rooted Sony.

I turned off (Cell Tracking) & (Cell Monitoring) in the top bar.

Both (Cell Tracking) & (Cell Monitoring)  re-enabled if I go down to About AIMSICD.

If I turn them off in Preferences they still  re-enabled on the top bar, also after a restart of the app,
but my Icon turns Grey. So the services are not running & they are still off in preferences.

If I

[2016-02-26 19:27] virux84 opened #795 "Serial interface for At Command"
Hi,
I have a Nexus 5, but I don't know which is the serial interface, like ttyACMx or other, that I have to use for send AT commands.

I also have an android smartphone based on mtk processor, that has two serial interface for at command, one for sim card. Do you know if there is an at command for scan neighbour cell and retrive infos like BCCH?
Thank you

<bountysource-plugin>
---
Want to back th

[2016-02-26 22:14] SecUpwN commented on #795
Good evening @virux84, first of all, please note that our GitHub Issues are intendet to support our app.

Out `AT Command Interface` is supposed to [detect the available serial interfaces](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/AT-Command-Interface), when it is fully coded.

Why do you need an AT Command for scanning for neighborings cells? Our app will do that for you, too

[2016-02-26 22:20] #795 closed

[2016-02-26 23:42] Nordlenning opened #796 "AIMSICD enforces cell changes and downgrades to HSPA"
I discovered that if I make or receive a phone-call while AIMSICD is running
I get alarms vibrating and yellow warning icon telling me to leave my house.

Restarting of the app is required to get rid of the (PSC:) & the yellow Warning Icon.

My Cell-number (CID) & (LAC) also changes when calls are made, but returns to normal if I
minimize the app (background) & up again after the call.

Both InViu

[2016-02-27 00:14] tt3mm commented on #794
There was a bug in the UI, it set the checks not based on what is running.
Also there was a bug in trackCell(), because it always set it true.
Hopefully both fixed now.

[2016-02-27 00:44] #789 closed

[2016-02-27 05:44] #794 closed

[2016-02-27 05:56] SecUpwN commented on #796
Good morning @Nordlenning, I'm sorry for your troubles, I can confirm this bug even without calling: It seems as if the network mode changes every few seconds and then then your phone certainly vibrates when this is option is checked. I've changed the title of your Issue to something more appropriate so that our developers know what specifically to have a look at - I hope you agree with this. As w

[2016-02-27 09:46] #774 closed

[2016-02-27 09:51] SecUpwN commented on #706
@lop1, please properly maintain your Issue here. Is this bug still present?

[2016-02-27 10:36] #783 closed

[2016-02-27 10:50] SecUpwN commented on #764
@quantum1423, is your bug still present within our current release?

[2016-02-27 11:04] lop1 commented on #706
just tested on the build T 1643 , and it is working OK, no more ghost process after exit with the sms detection on.

[2016-02-27 11:04] #706 closed

[2016-02-27 12:31] VladThodo commented on #702
@He3556 I'm looking foward to implement the 'offline help pages',but I want your opinion  about what should be added in those help pages pages and where.
Also, I need somebody to write the help articles 'cause my english it's poor and I don't want to be misunderstood :)

[2016-02-27 13:22] He3556 commented on #702
Hello @VladThodo - thanks for your help.
I think the first start of the app and the download of the OpenCellID needs clarification. I am not sure if we need to give background information about the technical part. We have this on GitHub already.

[2016-02-27 16:55] obones opened #800 "French translation"
Hello,

I see that the last commit for the French translation comes from Weblate.
Has this translation been proofread? If not, do you want me to do it?

Regards

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31374757-french-translation?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept

[2016-02-27 18:03] PlNG commented on #764
@He3556 "Llama - Location Profiles" by Kebabapps, an app that provides mobile event scripting.

[2016-02-27 18:46] SecUpwN commented on #800
Good evening @obones, thanks for offering your help! as far as I know, our french translations have been checked multiple times. But of course, if you're keen to really proofread the translations, please [click here](https://hosted.weblate.org/accounts/login/github/?next=/projects/aimsicd/strings/) to directly sign in to `weblate` via your GitHub account and make any changes you find applicable. A

[2016-02-27 18:46] #800 closed

[2016-02-27 18:56] VladThodo commented on #702
@He3556 agreed. Now ,about the design of help pages, my idea is to create a HTML with help articles file and place it in the assets folder,the use a webview to load it,and also provide find in page an other functionality.For this option the design will lack but it will have a small impact for the size of the app.
Any suggestions are welcome! :-)

[2016-02-27 19:25] SecUpwN commented on #702
Thanks for wanting to help, @VladThodo. But please don't use HTML files which increase the size of our app. Instead, please wait for the reply of @larsgrefer who will suggest a better solution to you.

@He3556, the first start of our app shall already be clarified and correctly set up via #181. Instead, please have a look at how one of my favourite Android apps, [AdAway](https://github.com/Free-So

[2016-02-27 20:31] SecUpwN opened #801 "BtsMeasureCardInflater.java: Only show currently supported Items"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read the notes on [deb

[2016-02-27 21:21] Nordlenning opened #802 "Time display on AIMSICD lockscreen notification"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read the notes on [deb

[2016-02-27 21:54] SecUpwN commented on #802
Good evening @Nordlenning, I' afraid I don't get your question. Do you actually mean the purpose of the [Status Icons](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons) appearing on your lockscreen? If so, they are supposed to show you the threat level at a quick glance and without unlocking your screen while on the move. Does that solve your Issue here?

Also, please not

[2016-02-27 22:18] Nordlenning commented on #802
Good evening @SecUpwN I'm sorry if I'm not used to Github & make mistakes, Only trying to help your Core team bughunting. I was pointing to the Small Number on the right side of the border stating 15.19, that was the time I started the APP.. If you look at the Clock in the middle of the picture it states 20:15.
Tested it Again Now. Banner(Number)?. Synchronized.. So I would normally guess it shoul

[2016-02-27 22:22] SecUpwN commented on #802
Tested it Again Now. Banner(Number)?

Oh, now I get it! Next time, please add a **red circle** around what you actually mean. No, tjis is simply your **current time** - and if you have other notifications on your lockscreen, you'll see that those automatically have that too. The time on that natification is refreshing once either the status changes, or you've accessed the app or your phone. You ma

[2016-02-27 22:30] Nordlenning commented on #802
Question answered, Now I Know. Case Closed. Have a Nice Evening :)

[2016-02-27 22:31] SecUpwN commented on #802
Thanks, it was a pleasure to help you! Please close your Issue if it solved.

[2016-02-27 22:32] Nordlenning commented on #802
Thank you for Guidense :)

[2016-02-27 22:32] #802 closed

[2016-02-28 03:48] f3ndot commented on #801
`BtsMeasureCardInflater.java` stores & displays RAT/Network Type values as the `TelephonyManager` integer constants vs the human-readable strings that are meaningful to us.

We should consider a refactor on how we go about displaying "LTE" to a user instead of "13" more than the hacky workaround I introduced in 210861e2b5b237b997f502c8cda13118b57564b9

[2016-02-28 04:32] SecUpwN commented on #801
I agree. Users should be able to read that. @He3556, what do you propose for refactoring?

[2016-02-28 04:50] #723 closed

[2016-02-28 05:06] SecUpwN opened #803 "CREDITS are not completely showing anymore"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read the notes on [deb

[2016-02-28 11:11] #803 closed

[2016-02-28 11:18] SecUpwN commented on #749
@VladThodo, since you currently seem online, would you please confirm that this is actually a bug and not just my SIM card mocking around? If it really *is* a bug in our code, feel invited to see if you can fix it. Thanks!

[2016-02-28 11:31] VladThodo commented on #749
@SecUpwN  On my phone it's all good,both `Operator name` and `Operator ID` are showing ;)

[2016-02-28 11:33] SecUpwN commented on #749
Thanks for checking, @VladThodo. If @f3ndot cannot confirm this bug as well, I'll close it.

[2016-02-28 11:39] #788 closed

[2016-02-28 15:08] VladThodo commented on #716
@SecUpwN  I can try to fix this,but I need a little bit of explainations..
Should the icon switch to IDLE only when cell monitoring is disabled? ;)

[2016-02-28 15:24] SecUpwN commented on #716
Wonderful to see you're grabbing more Issues you feel you can fix! :+1:

Status `IDLE` should only appear in the following cases:

* 1. When our app has been started the very first time and is not fully set up.
* **2. When button `Toggle Attack Detection` has been disabled.**
* 3. When our app is loading (which would essentially be point 1).

So the solution here would be switch to `IDLE` state wh

[2016-02-28 20:21] f3ndot commented on #749
@SecUpwN unable to reproduce. Both `Operator name` and `Operator ID` are, well, operating :wink:

[2016-02-28 20:35] SecUpwN commented on #749
Thanks for checking, @f3ndot. Is it normal that my SIM card does not provide the `Operator Name`?

[2016-02-28 20:35] f3ndot commented on #784
Perhaps have it automatically fetch the database when:

1. The user has moved outside their "box" of the last manual or automatic update
2. On first app boot if API key is present (like after a user reboots their phone & launches app)
3. Every 24 hours/custom interval

With the first point, we know the bounding box in which we requested data from OCID. If the user's GPS shows they have passed the

[2016-02-28 20:44] f3ndot commented on #749
Not a clue @SecUpwN! That info appears to be driven by `TelephonyManager` which is part of the Android framework.

Not sure what your wireless environment is like in Germany, but could it be your cellular provider?

[2016-02-28 20:46] SecUpwN commented on #749
Could be. We need a check of another German. @He3556 or @larsgrefer do you see `Operator Name`?

[2016-02-28 23:36] Nordlenning commented on #749
@SecUpwN Unable to reproduce bug in Norway. Both Operator name and Operator ID are, well, operating.

[2016-02-29 11:14] SecUpwN commented on #749
Thanks for checking, folks! I guess it's either my provider or my SIM card not providing that information.

[2016-02-29 11:14] #749 closed

[2016-02-29 20:06] tt3mm commented on #796
I am trying to reproduce it.
If a call connects, then yes, the CID changes, the yellow alarm turns on.
My calls are always HSPA or HSPA+, and I didn't see any correlation of changing, when the call connects.

Can someone post any ideas, or logs?

[2016-02-29 20:28] tt3mm commented on #702
So we should have a tutorial at start up and a help page?
I like the AdAway's help is with the swiping fragment, its cool.
I can imagine that we have that question mark on every page, the same way, on the ActionBar.
And depending on which page you clicked it, it direct you to a corresponding help page, if we want a help page for every main screen. But there you can swipe to any other.

But we have

[2016-02-29 21:38] SecUpwN commented on #702
Yes, both. A tutorial with setup of the most important stuff to make our app work properly, see #181.

Totally agree with you. Wonderful job, @dschuermann! :+1:

And depending on which page you clicked it, it direct you to a corresponding help page, if we want a help page for every main screen.

What do you think about this suggestion, @He3556? Would you like that, @f3ndot?

Please clarify what yo

[2016-03-01 00:21] Nordlenning commented on #796
I will try to explain my thoughts.
In the picture above there is 4 screenshots, lets call them 1,2,3,4 from left.

Picture 1 is the waiting state. Nothing happens. Green icon, alles OK.
Picture 2 is the call state (call is made), AIMSICD gives warnings.
The phone changes cell for the phone call from LTE to HSPA & PSC shows up.

Picture 3 is after the call has ended  & the phone connects back to it

[2016-03-01 06:58] stingraykilla opened #808 "Logiles show "Create Call Injection App" and "Injection Manager""
So perhaps you think I'm paranoid, but I don't remember seeing log messages when I first installed the app such as
[code]
Then
[code]
Or, see [these logfiles](https://defuse.ca/b/yWCHm28A).

So unless there is code written  that would call for all of this additional code to be injected code when the class is not found or the stack fails. I believe I have a reason to be concerned. Also note, that m

[2016-03-01 22:18] SecUpwN commented on #796
Thanks for assisting. Yes, please anonymize your logfiles (remove all personal data) and upload theme on [PIEBIN](https://defuse.ca/pastebin.htm), then post the link to the logfiles in this Issue so that devs can have a look.

[2016-03-01 22:38] SecUpwN commented on #808
Good evening @stingraykilla, I have edited your filed Issue here. In the future, please make sure to give a *short* and descriptive title to your Issues. More importantly, please use our new **Issue Template**.

@He3556 and @larsgrefer, would you please assist having a look at the linked logfiles?

[2016-03-02 03:37] Nordlenning commented on #796
Both cells in use exists in ocid database. https://defuse.ca/b/KXgmCNcPLSm6HjpzzvtTvk
Hope it can be of any help.

[2016-03-02 06:50] agilob commented on #796
There it is, your issue is invalid. Your network operator downgrades your connection to the **cheaper** one for calls **and** texts. Phone calls and texts are based on **signaling protocols**, while LTE is a data transfer protocol. Every call and text goes through cheaper to maintain links. It would be waste of money and computing powers to let you make phone calls over LTE, think about audio inpu

[2016-03-02 15:17] SecUpwN commented on #796
@agilob, thanks for solving this Issue by clarifying what really happened. Please open a fresh Issue with a proposal on how we should improve our log messages so that people do not get scraed off.

[2016-03-02 15:32] agilob commented on #796
Title of this issue should be changed to "AIMSICD raises alert during a call", I think there was an issue like that before.

AIMSICD should has a kind of fuzzy algorithm which decides what threat level is instead of hardcoding a few statements like "LAC changed so let's rise an alarm". This is really wrong and users proved it in many places before, eg. no internet connection for a few app restarts

[2016-03-02 15:37] Nordlenning commented on #796
Thank you for confirming my suspicion @agilob. Phone Networks are set to do this downgrade by default.

This is also confirmed by my Network supplier & it goes for ALL Phone Networks by default.(LTE)
So this automatic default downgrade could be taken into consideration since it affect ALL users in many countries.

It seem to me that the Alert gets triggered at line 448 in the uploaded log.
I/CellT

[2016-03-02 17:33] agilob commented on #796
That's not 100% true, in some African countries where Google and facebook are internet, they are only ISPs and they offer only their "online" services, you don't have GSM but only 3G, but those countries are under very heavy surveillance anyway and we can't go anything even if we would try. Good job India on waking up on time.

[2016-03-02 19:55] larsgrefer commented on #808
The stacktrace about the *missing* `R`-class is produced by our dependency injection.
It's only logged for debugging reasons and can be ignored.

The log messages from `InjectionManager` do not belong to our dependency injection.

[2016-03-02 20:04] larsgrefer commented on #734
Don't forget about #655 ;-)

[2016-03-02 20:13] SecUpwN commented on #808
Thanks for analyzing, @larsgrefer. So would you say @stingraykilla is being attacked?

[2016-03-02 21:51] larsgrefer opened #810 "MissingRegistered lint check fails"
The **MissingRegistered** lint check fails because our package names contain upper-case letters which is against the java naming conventions: https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31541574-missingregistered-lint-check-fails?utm_campaign=plugin&utm_content=

[2016-03-02 22:01] SecUpwN commented on #796
This Issue is being closed due to being `INVALID` as found out in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/796#issuecomment-191096296.

@agilob, I have not found the Issue you mentioned and will open a fresh Issue to improve this situation.

[2016-03-02 22:01] #796 closed

[2016-03-02 22:21] SecUpwN opened #811 "Improve and harden alert triggers"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read the notes on [deb

[2016-03-02 22:29] SecUpwN commented on #716
@VladThodo, I'm afraid your pull request did not fully fix that Issue. I'm just getting a white Status Icon (likely due to me currently using Android 6+) and the Status does not change when turning it off. Reopened.

[2016-03-02 22:54] larsgrefer commented on #810
Shall I rename the java packages in order to match the java naming conventions?

[2016-03-02 23:23] larsgrefer commented on #716
@SecUpwN The material design says, status bar icons should be white-only (we discussed this in #512)

I assume this happened because @VladThodo used the `NotificationCompat` class

[2016-03-03 04:23] VladThodo commented on #716
@larsgrefer Do you mean that I should use the normal 'Notification' class?

[2016-03-03 04:55] SecUpwN commented on #716
@larsgrefer, true. But when **unchecking** `Toggle Attack Detection` then the status should change to `IDLE`, which the pull request of @VladThodo was aiming to accomplish. But that does not happen yet.

Yes, please do that for now until we have finished decision on #512. Would be lovely if you could check why your pull request did not chnage the status properly and then send another pull request

[2016-03-03 04:58] SecUpwN commented on #810
Yes, that would be lovely. If there is a way to enforce this with `checkstyle`, please add it there, too.

[2016-03-03 05:58] VladThodo commented on #716
@SecUpwN I'll try to do it when I get home and also check the 'if' statements 'cause I think there's the problem

[2016-03-03 09:00] SecUpwN commented on #181
Some inspiration from the `SMSSecure` Issues list: http://emptystat.es/

[2016-03-03 16:35] VladThodo commented on #716
@SecUpwN @larsgrefer  I did a little bit of reasearch and  using the "normal" `Notification` class won't do the trick on 5.0 an higher..the only workaround for this is to change the target SDK version to '20' wich isn't recommended at all..so I guess we can't fix this so easy

[2016-03-03 17:05] larsgrefer commented on #716
@VladThodo Our `targetSdk` is currently `19` for exact this reason

[2016-03-03 17:07] larsgrefer commented on #716
@SecUpwN @VladThodo I'm currently working on a solution in order to get a pretty white icon and a targetSdk of at least 22

[2016-03-04 12:35] SecUpwN commented on #716
Great! What do you mean by !pretty white Icon", @larsgrefer?

[2016-03-04 13:10] SecUpwN commented on #650
Have these been fixed yet, @larsgrefer and @smarek? Would you please be so kind to check it again?

[2016-03-04 17:00] larsgrefer commented on #716
@SecUpwN Only the white cell-tower shape on a transparent background (without a circle around)

I'll provide a PR with screenshots once I'm ready

[2016-03-06 03:35] stingraykilla commented on #808
Thank You @ Security:PWNED. I will use the issues template in the future.
Any word back from @larsgrefer? Coincidentally, since this issue has been
logged and tracked, I have not had the problem of being notified (Yellow)
when an IMSI Catcher is being used. Furthermore, no "InjectionManager" in
my logs. How likely is it that it was a attack? What steps could I take to
begin investigating?  Also, i

[2016-03-06 12:57] #810 closed

[2016-03-06 16:16] SecUpwN commented on #784
Wonderful proposal, would love to see a pull request for adding this option to `OpenCellID Settings`!

And the best thing: Issues like #349 would likely occur much less, may even be prevented!

@msemm, please add your knowledge here!

Good question. Added to that: How to detect that if someone like me has turned off GPS all the time?

[2016-03-11 10:31] stingraykilla commented on #808
Hello any updates on Injection Manager & possibility of an attack?  Thank you

[2016-03-11 10:54] stingraykilla commented on #808
Also, a new recent error has sprouted please the log below.
E/GED     (21318): Failed to get GED Log Buf, err(0)
E/AndroidRuntime(21318): FATAL EXCEPTION: main
E/AndroidRuntime(21318): Process: com.SecUpwN.AIMSICD, PID: 21318
E/AndroidRuntime(21318): java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.View android.view.View.findViewById(int)' on a null object reference
E

[2016-03-11 11:33] SecUpwN commented on #808
@stingraykilla, again, we currently **lack developers**. Not just a little bit, but hardcore. Even though we've got a huge fanbase, we're like only **3** people working on this. So either you can help us finmding a few more devs and people willing to have a look at your logfile, or you just have to patient. Personally, I cannot tell if you've run into an attack since our project is still in bleedi

[2016-03-11 12:09] stingraykilla commented on #808
If you're willing to present to SJ City Council, and explain how your app
works, the reason for its creation, its purpose, and its immediate need
considering the real threat of Stingray I could likely get you the funding
you would need.  In other words, explain what is on your Wiki, add my data,
and you, and your team, would likely have more than enough funding to hire
developers, equipment, rent

[2016-03-12 01:58] SecUpwN commented on #808
Wonderful proposal, thank you @stingraykilla! Here's the catch: Since we're privacy enthusiasts and activists with different jobs from around the world, we won't be able to travel to your place. But how about you proposing our app to the people who make the funding decisions? We accept all funds via [Bountysource](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Donations). The funds

[2016-03-13 15:40] SecUpwN opened #814 "Move project into new organization"
[![Organizations](https://cloud.githubusercontent.com/assets/391331/6141962/a321a37a-b162-11e4-8452-06965ee672e4.png)](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/814)

In relation to #628, I've been thinking a lot about moving this project into an official [ organization](https://github.com/blog/674-introducing-organizations), just like @SMSSecure and @LibreSignal. See the [di

[2016-03-13 23:53] SecUpwN commented on #781
I am sorry having to re-open this, @larsgrefer. It appears that the Issue is still present.

[2016-03-14 07:49] mimi89999 commented on #814
I think creating an organization for this project is a good idea.
For the name:
If the organization would be only related to AIMSICD, then a name containing AIMSICD should be good.

[2016-03-14 12:45] SecUpwN commented on #814
Thanks for your reply, @mimi89999. Yes, the organization will mainly be used for this project, but should be easy to remember as well. Not sure if it makes sense having the terms "Privacy" or "Security" in it. Hoping for a reply of @larsgrefer, @he3556 and @f3ndot soon.

[2016-03-14 14:12] agilob commented on #814
I'm full for it. It will mostly solve a problem of showing who has direct access to the repository and can directly push to master branch. Currently it's not visible (or I can't find it on github) and it creates a trust issue. Ones account can be compromised and used to push bad code and make a new release directly to automated releases like travis and fdroid. That would essentially compromise the

[2016-03-14 14:19] mimi89999 commented on #814
Members and owners of Github organizations can hide their visibility...

[2016-03-14 14:37] f3ndot commented on #814
We should avoid choose AIMSICD as an organization name should we ever want
to release a new app or tool under the same branding.

Cellular Privacy Project?

I'm happy with whatever y'all choose as the name, but definitely the
organization is a good idea.

On Mon, Mar 14, 2016, 10:20 AM mimi89999 <notifications@github.com> wrote:

--
Justin Bull
PGP Fingerprint: E09D 38DE 8FB7 5745 2044 A0F4 1A2B D

[2016-03-14 22:15] webmip commented on #754
Hi All,
The same problem with the AT commands & nexus 5, I will try to send the commands via adb, but don't get the OK success.

[2016-03-14 22:45] Nordlenning opened #816 "Multiple force closes on database requests"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read the notes on [deb

[2016-03-15 05:28] Nordlenning opened #817 "Celltype changes to a 10 digit number"
---

#### Agreements

- [ x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ x] **I have read the notes on [

[2016-03-15 19:23] SecUpwN commented on #781
@larsgrefer, the Buildozer version now looks like this: `Version: -SNAPSHOT-normal`.
How will releases be named created with Travis-CI? Will it be `Version: 0.1.42-alpha-normal`?

[2016-03-15 19:52] SecUpwN commented on #814
Thanks, @f3ndot. You're right, a broader name would fit better. But `Cellular Privacy Project` is a bit too long. We need something shorter. How about `CellularPrivacy`, `CellPrivacy` or `SmartPrivacy`? Too bad that noone is interested adding good suggestions, even after announcing it via Twitter.

[2016-03-15 20:23] He3556 commented on #814
i think we should avoid AIMSICD, too
I like "CellularPrivacy" - the short version "CellPrivacy" doesn't hit the point, i think.
"MobilePrivacy" would be another possibility. But CellularPrivacy does describe it better, as we care about the mobile network in the first place and not about the mobile device.

[2016-03-15 22:29] f3ndot commented on #814
@secupwn open source is hard! People have busy lives and things take time.

I say after a few weeks, just decide what you think is best and choose a
name based off what's recommended or suggested here.

On Tue, Mar 15, 2016, 4:23 PM MPR <notifications@github.com> wrote:

--
Justin Bull
PGP Fingerprint: E09D 38DE 8FB7 5745 2044 A0F4 1A2B DEAA 68FD B34C

[2016-03-16 20:05] SecUpwN commented on #814
Thanks for your soothing words, @f3ndot. Helps a lot getting a bit encouragement on such difficult decisions. Which one do you personally like better: `CellularPrivacy` or `MobilePrivacy`? @larsgrefer, should we rename our current package name `com.SecUpwN.AIMSICD` as well?

[2016-03-16 20:09] mimi89999 commented on #814
@SecUpwN Changing the package name will cause issues when updating...

[2016-03-16 20:22] f3ndot commented on #814
I like CellularPrivacy because we're confused on cell towers. It speaks to
the technical nature of what we're defending

On Wed, Mar 16, 2016, 4:09 PM mimi89999 <notifications@github.com> wrote:

--
Justin Bull
PGP Fingerprint: E09D 38DE 8FB7 5745 2044 A0F4 1A2B DEAA 68FD B34C

[2016-03-16 21:00] SecUpwN commented on #814
Yes, I've seen the trouble in https://github.com/LibreSignal/LibreSignal/issues/12.

Thanks again, @f3ndot. I'll be sleeping a night about that and let you know my decision soon.

[2016-03-17 12:29] larsgrefer commented on #814
Do you mean the [package name or the applicationId](http://tools.android.com/tech-docs/new-build-system/applicationid-vs-packagename)?

Our current package Name is `com.secupwn.aimsicd` and can be changed without problems.

Our current applicationId is `com.SecUpwN.AIMSICD`. If we change this, we will create a _new_ app.

[2016-03-17 13:02] He3556 commented on #814
Maybe it is better to keep the name AIMSICD as package name and app id. I think it would be work for nothing to change it - and think about the postings everywhere in the web. It would also confuse peope if we change it now.

[2016-03-17 14:28] larsgrefer commented on #781
The Buildozer log shows this:

50: No git tag found

It seems like buildozer does not fetch the tags when cloning the repo.

so when the gradle plugin tries to find out what the latest tag is, it gets an empty result

[2016-03-19 14:48] SecUpwN commented on #781
@Buildozer, would you please be so kind to fix this and post an official statement here? Thank you!

[2016-03-19 14:50] SecUpwN commented on #814
I fully agree. So we're basically just moving into a better to maintain organization. Does everyone agree with the proposed name `CellularPrivacy` or did you come up with a shorter or better fitting name?

[2016-03-19 22:53] larsgrefer commented on #781
@SecUpwN

we could try running `git fetch --tags` ourselfs during the build

[2016-03-20 11:57] SecUpwN commented on #781
If that does not cripple F-Droid builds or prevent proper development, it sounds like a good solution.

[2016-03-20 12:15] SecUpwN opened #819 "F-Droid builds need special workarounds"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read the notes on [deb

[2016-03-21 09:31] stingraykilla commented on #808
Friends please see my responses:
"We are privacy enthusiasts and activists from around the world, we will not be able to travel to your place"
Understood. Could we setup a video conference call then?

"Why can't your Council just search online?"

Well lol I suppose they could. but they would not have the foggiest idea what they are reading.  Furthermore, they are Legislators, they legislate and br

[2016-03-21 12:29] javixeneize opened #820 "cert pinning critical vulnerability?"
Hi

I am trying to do cert pinning in my app. I have this issue reported

[Critical] <KeyStore><Hacker> KeyStore Protection Checking:
           The Keystores below seem using "byte array" or "hard-coded cert info" to do SSL pinning (Total: 1). Please manually check:
               => L/javi/cert;->a(Ljava/security/cert/X509Certificate;)Ljavax/net/ssl/SSLContext; (0x12) --->
                    Lj

[2016-03-21 15:33] SecUpwN commented on #820
@larsgrefer is this to be labelled as `SECURITY_ISSUE`, or is this one `INVALID`?

[2016-03-21 18:03] mimi89999 commented on #816
Same issue on my Samsung galaxy S4 mini with CM13. I will add the log when I will have access to ny PC.

[2016-03-21 19:33] mimi89999 commented on #816
https://gist.github.com/mimi89999/4ee359308a2c316de1cf

[2016-03-21 20:30] SecUpwN commented on #816
@larsgrefer, could you please be so kind and have a look at the logfiles posted here? Thank you!

[2016-03-21 20:43] rmenessec commented on #816
I don't know if it's directly related, but AIMSICD FCs immediately on attempting to request an API key. Nexus 6, Android 6.0 (MMB29V).

[2016-03-22 00:37] SecUpwN commented on #808
I hear and feel you, @stingraykilla. ;-)

Nope, unfortunately not. Please send your questions via E-Mail, I would like to keep this Issue focused.

If you receive blank stares even though you've pointed to our project and especially our [WIKI](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki) with wonderful [video for lazy buttheads](https://github.com/CellularPrivacy/Android-

[2016-03-22 02:06] SecUpwN commented on #764
I am closing this Issue due to **poor maintenance**. It has likely been solved. Please re-open if it isn't.

[2016-03-22 02:06] #764 closed

[2016-03-22 05:03] SecUpwN commented on #228
@licaon-kter, please test this again using the latest release, I cannot confirm this.

Cannot confirm this either. Will contact @ziem to fix https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/228#issuecomment-110207488 so that we can finally close this.

[2016-03-22 05:57] licaon-kter commented on #816
Same: https://gist.github.com/licaon-kter/7d5194dcd8115c9cc0b1

[2016-03-22 06:17] licaon-kter commented on #228
Still occurs.

The other might be triggered by me using http://repo.xposed.info/module/com.germainz.activityforcenewtask
Now, while not having this active (at least) I can't repro it anymore

[2016-03-22 08:25] mimi89999 commented on #816
First crash:
03-21 20:28:49.159 28021 28021 E AndroidRuntime: FATAL EXCEPTION: main
03-21 20:28:49.159 28021 28021 E AndroidRuntime: Process: com.SecUpwN.AIMSICD, PID: 28021
03-21 20:28:49.159 28021 28021 E AndroidRuntime: Theme: themes:{default=overlay:system, iconPack:system, com.android.systemui=overlay:system}
03-21 20:28:49.159 28021 28021 E AndroidRuntime: java.lang.IllegalArgumentException:

[2016-03-22 08:54] mimi89999 commented on #816
@SecUpwN In a recent commit, in the manifest file, you changed `package="com.secupwn.aimsicd"`, but you didn't change the valuses under `activities` in the same file.

[2016-03-22 11:35] SecUpwN commented on #816
Do you expect this to be the cause, @mimi89999? I've invited you to check and improve our code a bit. ;-)

[2016-03-22 21:42] mimi89999 commented on #816
I don't know (and after checking I doubt it), but I would check the commits changing the package name... And actually why did you change this?

[2016-03-22 21:46] SecUpwN commented on #820
Good evening @javixeneize, thanks for the personal E-Mail. I will quote it for completeness here:

Closing this as `INVALID` since this Issue belongs into https://github.com/AndroBugs/AndroBugs_Framework/issues/4.

[2016-03-22 21:46] #820 closed

[2016-03-22 22:43] SecUpwN commented on #816
Please provide a pull request to fix this if you see it to be a necessity.

Please see #812, which fixed #810.

[2016-03-22 23:03] SecUpwN commented on #100
Tested with Buildozer Build `B-528` (Git SHA-Hash `78400ae`) again and this seems fixed.

[2016-03-22 23:04] #100 closed

[2016-03-22 23:28] SecUpwN commented on #284
Tested with Buildozer Build `B-528` (Git SHA-Hash `78400ae`) again and this seems fixed.

[2016-03-22 23:28] #284 closed

[2016-03-22 23:29] #814 closed

[2016-03-23 00:16] SecUpwN commented on #746
Tested with Buildozer Build `B-528` (Git SHA-Hash `78400ae`) again and this seems fixed.

[2016-03-23 00:16] #746 closed

[2016-03-23 16:05] mimi89999 commented on #816
Reverting #812 fixes the issue, but I need to find another way to fix this....

[2016-03-23 16:05] mimi89999 commented on #816
https://github.com/mimi89999/Android-IMSI-Catcher-Detector

[2016-03-23 16:20] SecUpwN commented on #816
@mimi89999, please refork our project and do not revert #812. We renamed the java packages to adhere to the [java naming conventions](https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html) in order to make our follow common coding practices to ease up the life of developers. I cannot imagine that the whole thing is caused by just lowercasing the java package names and guess this Iss

[2016-03-23 17:23] mimi89999 commented on #816
#821

[2016-03-23 19:54] mimi89999 commented on #816
`W/PushTextSendJob( 4385): org.whispersystems.textsecure.api.crypto.UntrustedIdentityException: Untrusted identity key!`

[2016-03-23 20:52] SecUpwN commented on #653
Pushing this Issue. @larsgrefer, will it be enough to replace all existing graphics with optimized SVGs, or do we need to change anything in particular in our codebase? If simple replacement works, I'll tackle this.

[2016-03-23 21:09] SecUpwN commented on #698
@licaon-kter, please verify the presence of this bug in our current release, otherwise plrease close it.

[2016-03-23 21:10] SecUpwN commented on #637
@He3556, is this bug still present in our latest Buildozer build? Please help me to re-verify all open bugs!

[2016-03-23 21:58] He3556 commented on #637
yes but it is not a bug as far as i remember it is just not implemented.

[2016-03-23 22:47] SecUpwN commented on #678
Seems like everyone is very busy these days. @CellularPrivacy/design please help to fix this. Reading https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/678#issuecomment-163327400 and https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/678#issuecomment-167161732, it appears that we do not need to add more depencies, but just **enhance the existing pull-to-r

[2016-03-24 01:11] SecUpwN commented on #151
@jensstein, since you develop my favourite backup manager [oandbackup](https://github.com/jensstein/oandbackup), do you see a way we could detect `GTalkService` and disable it (possibly only when ROOT is present)? Input is much appreciated.

[2016-03-24 04:25] SecUpwN commented on #759
Klaws--, please send me a private E-Mail so that I can send you a precompiled test APK of the current `development` branch to see if this bug has already been fixed. Thanks.

[2016-03-24 05:19] SecUpwN commented on #215
Good morning members of @CellularPrivacy/database! This Issue is one of the most important Issues we need to solve ASAP. It has been open for nearly 2 years, was one of the hardcore reasons why E:V:A (our project inventor) left and *still* blocks all further serious IMSI-Catcher detection mechanisms. I would like **everyone** from the database team to closely read this whole Issue (yes, I know it'

[2016-03-24 06:13] licaon-kter commented on #698
Still getting:
[code]

[2016-03-24 09:58] stingraykilla commented on #808
Understood.  Thank you for waking me up. I will do the best I can. Without
going through their official procedures, a Request For Proposal, I'm not
sure how likely it is, they will donate, but I can guarantee substantial
media coverage, and hopefully donations spark from there.  I'm indebted to
your app. It has created a buffer between myself and them, and although
they continue to harass me, when

[2016-03-24 17:37] SecUpwN commented on #808
That's wonderful to hear. Please have another look at https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/808#issuecomment-191399258. Regarding the log entry with `InjectionManager` I suspect that you have another app installed creating these log entries, it is not a valid indicator for being spied upon. Thefeore I am closing this Issue as solved for now, unless you have other

[2016-03-24 17:37] #808 closed

[2016-03-24 17:38] SecUpwN commented on #698
@CellularPrivacy/database, would you please be so kind and have a closer look at this Issue?

[2016-03-24 19:49] mimi89999 commented on #698
@SecUpwN @licaon-kter I can't reproduce it in the latest version built from source.

[2016-03-24 19:51] mimi89999 commented on #698
The only thing I noticed, was that I had to give AIMSICD root for this to work.

[2016-03-25 01:32] SecUpwN commented on #698
@He3556, is it normal that our app needs ROOT access to open folders on the SD Card? Not sure..

[2016-03-25 02:16] #816 closed

[2016-03-25 04:18] SecUpwN commented on #781
@larsgrefer, I just received the following reply via E-Mail from @ijansch:

[2016-03-25 07:44] licaon-kter commented on #698
It already has root, afaics.
Unfortunately I don't remember in what way this impacted the app in the first place, so while I see those in the logs still, I wonder what is actually broken because of it.

On that note I can't upload OCID data as I always get am error:
[code]
But I'm not sure these are related or I need to open another issue.

[2016-03-25 15:22] rugk commented on #446
Nice idea. Any progress on this?

Also note that MLS already [includes opencellid](https://location.services.mozilla.com/downloads) so adding both would be redundant.

[2016-03-25 16:05] rugk opened #822 "App crashes when some settings are accessed, including"
The options "OpenCellID request API key", "Recognition pattern" and "delete SMS" cause the app to crash. (default Android message).
Unfortunately this message does not let me submit a crash report as it is sometimes possible when other apps crash.

---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-De

[2016-03-25 17:48] Nordlenning commented on #822
Hi @rugk
Take a look at  "Multiple force closes on database requests" issue (816) closed.
Think it's the same..

[2016-03-25 21:35] f3ndot commented on #698
Vanilla//Stock Nexus 6P Android 6.0 works from compiled source.

[2016-03-25 22:02] rugk commented on #822
Indeed this seems to be a dupe https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/816. So nice to see this issue was already resolved.

However - until the fixed version is released - does anyone have any idea about the "workaround"?

[2016-03-25 22:09] f3ndot commented on #822
@rugk In lieu of a workaround, you can always compile from source and sideload onto your device

[2016-03-25 22:35] rugk commented on #822
@f3ndot Well... I had a more simpler in mind (see my first post). (How) Can I get the API key from the Opencellid website somehow?

[2016-03-25 22:53] f3ndot commented on #822
@rugk Go to http://opencellid.org/#action=database.requestForApiKey and set up an account. You'll receive your API key in am email

[2016-03-25 23:06] f3ndot commented on #637
The problem is `CellTracker#mMonitorCell` does not have its latitude, longitude set (or much, for that matter).

Using the `Cell` latitude/longitude setters somewhere in `CellTracker` with GPS coords *might* be an OK solution.

Using `AimsicdService#lastKnownLocation()` or `LocationTracker#lastKnownLocation()` is the golden ticket.

[2016-03-26 00:24] Nordlenning commented on #822
@rugk You can also install AIMSICD WIP TEST RELEASE v0.1.39.1-alpha first, then Download API key with this version (it works). Then upgrade to version  WIP TEST RELEASE v0.1.41-alpha & the API key gets transfered to the upgraded version, that was my way. took me < 5 min.

[2016-03-26 18:40] #558 closed

[2016-03-26 20:06] f3ndot commented on #446
We should definitely consider looking at MLS, maybe even as a replacement, since as @rugk says it contains OCID and OCID's API is slow, times out, and goes down sometimes.

I haven't been able to download from OCID's Web API today

[2016-03-27 11:45] SecUpwN commented on #822
This is a `DUPLICATE` of the now resolved #816. Closed.

[2016-03-27 11:45] #822 closed

[2016-03-27 12:02] SecUpwN commented on #446
@f3ndot, thanks for the proposal. If we replace `OpenCellID` with `MLS`, will all data collected be also contributed back to `OpenCellID` as well? If so, it sounds like a win-win situation: We get a more reliable download and both services proper data. shall I assign you to this Issue? We'd then need to:

- [ ] Make the real switch to `MLS` (maybe the source of their official app [MozStumbler](htt

[2016-03-28 22:54] larsgrefer commented on #781
@SecUpwN It's not about what's checked out by buildozer but what's fetched

[2016-03-28 23:05] larsgrefer commented on #781
`git tag --list` returns an empty result when run on buildozer

[2016-03-28 23:36] larsgrefer commented on #781
running `git fetch --tags` during the build lets `git tag --list` work correctly, but for some reason `git describe --abbrev=0 --tags --match v*` still returns an empty result

[2016-03-29 12:42] rugk commented on #822
BTW why are your labels in capital letters? It really does not look nice/friendly when you're greeted with two big labels: `BUG`, `DUPLICATE`. It is nearly as if you had the labels `BUG!!` (red color), `DUPLICATE!!!` (grey) and `FUCK OFF!!11` (evil green color) there.
IMHO this discourages user/contributors as it really looks awful. The colored background should be enough to see it - you do not ne

[2016-03-29 12:58] SecUpwN commented on #822
@rugk, you're the first one having a problem with this. would you contribute more if I change it? ;-)

[2016-03-29 13:06] rugk commented on #822
Well... at least it would not look so bad. :grinning:

[2016-03-29 13:09] rugk commented on #446
I don't know. At least they could easily do it as the data is public domain.
From [their stats](https://location.services.mozilla.com/stats) you could think that such an imported happened this month as the number of unique cell networks in OpenCellID rose much and it higher than the MLS number according to their stats.
However obviously I don't know whether this assumption is true or what caused t

[2016-03-29 13:16] SecUpwN commented on #822
@rugk, better now? Please help us to find more developers. Thanks.

[2016-03-29 13:31] SecUpwN commented on #759
@Klaws--, this Issue should be solved with the latest enhancements. Please wait for the upcoming release and test if this Issue still persists (it really shouldn't). Feel free to re-open should you disagree.

[2016-03-29 13:31] #759 closed

[2016-03-29 13:35] SecUpwN commented on #698
@licaon-kter, please contact me via E-Mail so that I can send you a bleeding edge APK for testing.

[2016-03-29 13:56] hannosch commented on #446
Hanno from MLS here: As of last week OpenCellID now also includes the cell data from MLS. We have bidirectional sharing of the aggregate cell data finally working.

The two projects do differ in their handling of raw observation data. OpenCellID releases those publicly, while we think this is too much of a privacy / tracking problem on the MLS side. It should be up to each user to decide which of

[2016-03-29 14:00] #716 closed

[2016-03-29 14:03] hannosch commented on #446
The MLS leaderboard in its current form is being retired and replaced by a new one which is going to be specific to our own Stumbler application. It will require signing up with real accounts (Firefox Accounts). While there is an API and other apps could use the new leaderboard, it focuses on individual users, not promoting apps.

If your software uses MLS, we'll put it on the list at https://wiki

[2016-03-29 14:04] SecUpwN opened #826 "Phone Type is being displayed instead of real Idle Status"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read t

[2016-03-29 14:06] SecUpwN commented on #258
@CellularPrivacy/design, would you please re-read this whole Issue and see how cou can help?

[2016-03-29 16:05] vanitasvitae commented on #784
Keep in mind, that frequent automatic download of OCID-data for the users location could lead to some kind of tracking.
Besides that it would be really neat to have like an "Explore-Mode" which does automatic downloads of user location related data.
I could also imagine an option to download OCID data for larger areas like cities or for a bigger radius around a certain point.

[2016-03-29 16:51] Shelnutt2 commented on #442
@SecUpwN I am working on setting up a Band Detection library based on Earfcn. I'll be getting Earfcn from the qcom modem interface /dev/smdX. The main command I'll be using is AT$QCRSRP?. Which gives the cell id, earfcn and rsrp.

In Android N they are introducing functions in the CellIdentityLTE to get Earfcn, but we'll have to see how many manufactures implement that.

Reading from the qcom mode

[2016-03-29 17:43] rugk commented on #822
Yeah, this looks more nicely...

And I [tweeted](https://twitter.com/rugkme/status/714870006388023298) and [GNUSocialed](https://gnusocial.de/notice/7287198) about you. That's the only thing I can do right now.
BTW: You could also open a Twitter account or similar things to promote your app a bit. :wink:

[2016-03-29 17:46] f3ndot commented on #822
The Twitter account is @AIMSICD

On Tue, Mar 29, 2016, 1:43 PM rugk <notifications@github.com> wrote:

--
Justin Bull
PGP Fingerprint: E09D 38DE 8FB7 5745 2044 A0F4 1A2B DEAA 68FD B34C

[2016-03-29 19:47] rugk commented on #822
Oh nice, did not know this. :smiley:

[2016-03-29 20:32] rugk commented on #659
FYI Mozilla also uses their own crash reporter in Fennec (better knows as Firefox for Mobile).

[2016-03-30 01:04] SecUpwN commented on #691
@larsgrefer, this bug is present again after your latest changes.

[2016-03-30 03:55] VladThodo commented on #826
@SecUpwN I'm pretty busy those days but I will take a look at this as soon as I can ;)

[2016-03-30 08:04] larsgrefer commented on #215
I've started the branch [feature/realm](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/tree/feature/realm)

PR's to this branch are welcome

[2016-03-30 08:36] #826 closed

[2016-03-30 10:43] Kaicastledine commented on #819
Hello I've just downloaded 0.1.41 alpha via FDroid and Have had the following issues - running on CM12.1 on a Xperia Z2

.Request API key crashes app
.Downloading database after entering in API key - Says check connection regardless of 3G or wifi
.Downloaded database and moved to SD scan in Files/OpenCellID/ in android data folder but does not show any data
 REF:https://github.com/CellularPrivacy/

[2016-03-30 12:06] SecUpwN commented on #819
Good evening @Kaicastledine, please do not cross-post your Issues in Issues with different targets. I recommend you to wait for the upcoming release this sunday since your Issues may have been solved. Alternatively, if you cannot wait to test out the latest changes, feel encouraged to [compile it yourself](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Building).

[2016-03-30 12:07] SecUpwN commented on #784
Thanks for your input everyone. I feel as if we should decide on #446 first since this includes OCID data.

[2016-03-30 12:19] SecUpwN commented on #822
@rugk, fully reading our `README` would help. ;-)

[2016-03-30 12:21] SecUpwN commented on #215
Thanks, @larsgrefer. I hope this brings us forward. A few questions the others might have as well:

1. Will `REALM` be able to cover all the planned tables?
2. What are the advantages over the current SQL table?
3. Have you read this whole thread and all questions?

Our originial inventor E:V:A (who officially left our project and now mainly idles and monitors what we do) was mostly against anythi

[2016-03-30 12:28] SecUpwN commented on #442
Thanks for answering this Issue, @Shelnutt2!

No. Our app does have an [AT Command Interface](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/AT-Command-Interface) though, which current appears to be broken (#754).

[2016-03-30 12:33] SecUpwN commented on #826
Thanks fworking to fix this, @larsgrefer! Is it intended to still show `Phone TypeGSM`? If so, would it be possible to align that somehhow for all languages to be viewed correctly like so: `Phone Type: GSM`?

[2016-03-30 13:30] larsgrefer commented on #215
It seems very interesting to me and I'd like to give it a try

Sure

We don't have to worry about OR-Mapping and get a nice java-api.
And of course we can get rid of our 2000+ lines monster-class

[2016-03-30 17:54] rugk commented on #822
Ah, yeah this small image there. :smiley:

[2016-03-30 21:38] Nordlenning commented on #816
v0.1.41-alpha compiled from source 30.03.16 22:00

From the main (top) border right side menu I go to preferences.
Then I Ask for OpenCell API Key : AIMSICD still "force-close"
AIMSICD keeps running in the background.

"add new strings": Works "Solved".
"Delete SMS" : Works "Solved".
 Still unable to upload to OCID database. "Not Solved"

[2016-03-30 21:48] Nordlenning commented on #817
This number that is displayed is 2147483647 Same number in the log.
This number shows up in several logs here & is not unique to my phone or network.

[2016-03-30 22:31] f3ndot commented on #817
This is `Integer.MAX_NUMBER` leaking out to the UI. It means the value is not known or null.

Not all cell networks have PSC, for example, so it defaults to that value... Ints don't support null so max number is used.

It's definitely a bug to fix.

A getFriendly___ method that returns a string could check and return "unknown" or "NA" if max number is reached

[2016-03-30 23:02] larsgrefer commented on #817
We already have a string resource for **N/A**, so we should use this

[2016-03-31 01:10] ecs87 commented on #754
@SecUpwN does /system/bin/at_distributor do anything to help this bug? When the software I use for GSM phones initializes "AT RIL" (the AT binary I provided) it uses this command through the adb shell "setprop ctl.stop at_distributor". Hmmmm...possibly they've hacked at_distributor and secured it (using an +INIT command)? The at_distributor file should give you an interface to AT commands at the h

[2016-03-31 05:30] mimi89999 commented on #816
I will check this.

[2016-03-31 07:09] SecUpwN commented on #816
Thanks for your engagement, @mimi89999! Please re-open this Issue if it still persists.

[2016-03-31 08:02] licaon-kter commented on #698
Logcat shows the same `E Vold` error for Firefox too, so this might be a ROM issue.

[2016-03-31 08:02] #698 closed

[2016-03-31 08:08] mimi89999 commented on #698
What ROM? Did you try wiping data and reflashing it?

[2016-03-31 08:10] licaon-kter commented on #698
Xperia 5.1.1 rooted stock. No.

[2016-03-31 08:18] mimi89999 commented on #698
Maybe you have messed up with sdcard permissions?

[2016-03-31 08:21] licaon-kter commented on #698
No sdcard in device.
No sdcard access permissions control in 5.1.1, afaik.
Xprivacy not activated (although installed).

[2016-03-31 08:24] mimi89999 commented on #698
Internal sdcard...

[2016-03-31 08:31] licaon-kter commented on #698
Do detail what to check and how.
I can use the device, I can export/import fine from /sdcard/...

[2016-03-31 08:37] mimi89999 commented on #698
Can you read and write to /sdcard/sdcard1/Android/data?

[2016-03-31 08:43] licaon-kter commented on #698
That's an empty folder since that needs root access (to remount as rw) to write anything in.

[2016-03-31 08:53] mimi89999 commented on #698
Why is it read-only?

[2016-03-31 08:57] mimi89999 commented on #698
Ah, yes. Here would be mounted the external sdcard if you had one... What I don't understand is why AIMSICD is trying to write to external sdcard and not to internal.

[2016-03-31 09:03] licaon-kter commented on #698
What I don't understand is why bother writing to external since it already writes ok to internal?!

[2016-03-31 09:15] SecUpwN commented on #698
So do we have an SD detection problem with our app? Do we need to rename and re-open this Issue?

[2016-03-31 09:54] licaon-kter commented on #698
I'm not sure, hence it's closed.
Either both this and Firefox have the same problem or there is something else at fault (eg. my ROM/Xposed)

[2016-03-31 09:58] SecUpwN commented on #537
@CellularPrivacy/silentsms would you please be so kind to continue improving our detection mechanisms? Our app currently seems to not detect any silent SMS, at least no [Self-Test](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Special-SMS#self-test) works.

[2016-03-31 10:03] mimi89999 commented on #698
I will check this on my device runng cm13 with the latest version of AIMSICD compiled from source when I will be back home...

[2016-03-31 10:55] SecUpwN commented on #512
@larsgrefer, since you've implemented #818, do you think we can close this, or shall we continue to discuss this?

[2016-03-31 11:31] mimi89999 commented on #698
@licaon-kter Would it be a problem for you to flash CyanogenMod on your device?

[2016-03-31 11:40] licaon-kter commented on #698
Yeah, locked bootloader.

[2016-03-31 11:55] mimi89999 commented on #698
http://developer.sonymobile.com/unlockbootloader/unlock-yourboot-loader/

[2016-03-31 12:06] agilob commented on #698
According to logs you have some problem with `su` on your device:
[code]

It looks like a problem with ROM, code tried to create database using context.getDatabasePath(), which should return something like `/data/data/com.asimsicd/databases/`
One walkaround could include catching exception and setting fallback directory if that one specific exception was thrown.

Another issue, possibly sdcard1/ c

[2016-03-31 12:13] mimi89999 commented on #698
@agilob He has plenty of `Unknown permission` warnings. What I need to know is if it's a problem with the ROM or with the app.

[2016-03-31 12:15] licaon-kter commented on #698
@agilob That's the old log, see my comments, it's not the same thing now. Read my other comments too regarding **/sdcard1/**.

@mimi89999 TelCo sold devices don't have that option (`Bootloader unlock allowed: No`) :-\
Both Sony and TelCo's point to each other.

[2016-03-31 12:18] agilob commented on #698
@licaon-kter could you check the /storage/ directory for existing folders?

[2016-03-31 12:19] mimi89999 commented on #698
@licaon-karter Could you show me the fstab file in /system/etc?

[2016-03-31 12:37] mimi89999 commented on #698
@licaon-kter

Try flashing a global / european generic firmware with flashtool.

[2016-03-31 12:58] #512 closed

[2016-03-31 13:00] Kaicastledine commented on #819
Apologies,
Great news indeed, Will wait for the update.

Many thanks 

    On Wednesday, 30 March 2016, 13:06, Security: PWNED <notifications@github.com> wrote:

Hello I've just downloaded 0.1.41 alpha via FDroid and Have had the following issues
Good evening @Kaicastledine, please do not cross-post your Issues in Issues with different targets. I recommend you to wait for the upcoming release this

[2016-03-31 13:26] smarek commented on #537
Also, [Silent SMS Ping](https://github.com/itds-consulting/android-silent-ping-sms) could be tested and detected. The message is from time to time logged in radio syslog while being thrown out (phone doesn't know how to process the message further).

[2016-03-31 13:42] mimi89999 commented on #816
I can confirm that this issue still exists.

[2016-03-31 13:43] mimi89999 commented on #698
I checked this, but I can't reproduce it.

[2016-03-31 13:57] licaon-kter commented on #698
There is no know solution for `Bootloader unlock allowed: No`.

[2016-03-31 14:00] redbassett commented on #512
#818 is almost exactly what I envisioned when I opened this issue. I'm all for the monochrome status bar icon and full-colour notification. My Phone happens to be from Republic Wireless, and this is exactly what they do with their persistent notification for system status.

[2016-03-31 14:10] mimi89999 commented on #816
@SecUpwN I would like to reopen this issue, but I don't have the needed permissions for that.

[2016-03-31 14:10] He3556 opened #828 "Add a RTL-SDR to the project"
This device is an extension to gather more information about the connection and the BTS in the area.

1.  Try to use GR-GSM on an Android phone

It will take some time for me to test this. If somebody has already made some experiences with this, please let us know. I will add my findings here asap

[2016-03-31 14:16] mimi89999 commented on #816
The error:
`03-31 16:13:02.783  5686  5686 E AndroidRuntime: android.content.ActivityNotFoundException: Unable to find explicit activity class {com.SecUpwN.AIMSICD/com.secupwn.aimsicd.activities.OpenCellIdActivity}; have you declared this activity in your AndroidManifest.xml?
03-31 16:13:02.783  5686  5686 E AndroidRuntime: 	at android.app.Instrumentation.checkStartActivityResult(Instrumentation.j

[2016-03-31 14:26] mimi89999 commented on #816
@SecUpwN I'm working on this now.

[2016-03-31 14:27] licaon-kter commented on #816
I can confirm, not fixed.

[2016-03-31 14:29] mimi89999 commented on #816
My PR #821 fixed this issue. Now it's a different one...

[2016-03-31 14:35] banjaxbanjo commented on #537
@SecUpwN  @smarek Sms detection will not work as it stands in this repo. The detection will never get called unless this is changed

// as soon as logcatLines.size is greater than buffer lines will keep on getting appended
//so the else block will never be called (where dection is done)
if (logcatLines.size() >= LOGCAT_BUFFER_MAX_SIZE || logcatLine != null) {

                    logcatLines.add(l

[2016-03-31 14:36] mimi89999 commented on #816
#829

[2016-03-31 14:38] Nordlenning commented on #816
If I try to view errorlogging while I em trying to download OCID data from OCID server in Map view AIMSCID Crashes.. Only If Wifi is Connected, Other-vice not.

[2016-03-31 15:37] mimi89999 commented on #816
`03-31 17:23:37.721  9493  9493 D AndroidRuntime: Shutting down VM
03-31 17:23:37.726  9493  9493 E AndroidRuntime: FATAL EXCEPTION: main
03-31 17:23:37.726  9493  9493 E AndroidRuntime: Process: com.SecUpwN.AIMSICD, PID: 9493
03-31 17:23:37.726  9493  9493 E AndroidRuntime: Theme: themes:{default=overlay:system, iconPack:system, com.android.systemui=overlay:system}
03-31 17:23:37.726  9493  9493

[2016-03-31 15:59] mimi89999 commented on #816
@Nordlenning Could you post log of this error because I can't reporduce it.

I found another problem (the logcat above). The app crashes when trying to download OpenCellId if device is in airplane mode with Wi-Fi enabled.

[2016-03-31 16:00] TPS commented on #512
_(@redbassett If you're on Republic Wireless right now, your backend is Sprint CDMA, like me on Ting, so #489 & #457 are particularly relevant to you, also.  It'd be great if you chime in, there, too.)_

[2016-03-31 16:36] Nordlenning commented on #816
If I can get hold of any log yes, but AIMSICD freezes so i cant get it. Or can I ?
Uploading Picture of the event, I can repeatedly reproduce this error.

"I found another problem (the logcat above). The app crashes when trying to download OpenCellId data if device is in airplane mode with Wi-Fi enabled."

(I have the same crash without Wifi enabled too).

![crash screenshot_2016-03-31-16-17-22](h

[2016-03-31 16:58] mimi89999 commented on #816
You can do this with `adb logcat` from a PC with the device connected.

[2016-03-31 17:07] smarek commented on #537
@banjaxbanjo i've created pull request

[2016-03-31 19:16] larsgrefer commented on #781
@SecUpwN `git fetch --unshallow --tags` solves the problem on buildozer

solved in 745b12a2e921872885d3b3f964b3792b3832dda9

[2016-03-31 19:16] #781 closed

[2016-03-31 19:37] SecUpwN commented on #537
Thank you so much for having another look, @banjaxbanjo! Did not mean to ignore your replies.
Also thank you for creating the pull request, @smarek. Sadly though, still no [Self-Tests](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Special-SMS#self-test) are working.

[2016-03-31 19:40] SecUpwN commented on #816
Thanks for all the hard work, guys. @Nordlenning, please contact me via E-Mail and I will send you an APK of the very bleeding edge `development` branch so that you canm test if #829 really solved this.

[2016-03-31 19:45] SecUpwN commented on #819
@krt16s, would you please give us a hint on what exactly needs fixing?

[2016-03-31 19:52] mimi89999 commented on #698
I know, but this trick might work sometimes...

[2016-03-31 19:54] SecUpwN commented on #698
Folks, what are you guys discussing? How to [root the phone](http://xda-developers.com/root)?

[2016-03-31 20:05] licaon-kter commented on #698
Nope, I has root, no CM13 for me but plenty of root.
Anyway, any news regarding this?

[2016-04-01 06:04] Nordlenning commented on #816
v0.1.41-alpha compiled from source 01.04.16 07:00
Sony Experia V25lti - CM Tsubasa

"Ask for OpenCell API Key" Solved"
"add new strings": Works "Solved".
"Delete SMS" : Works "Solved".

Works smooth & fine
Excellent work @mimi89999

[2016-04-01 15:12] SecUpwN commented on #698
@licaon-kter, please [compile](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Building) the latest `development` branch and test if this Issue still persists.

[2016-04-01 16:23] Nordlenning opened #831 "Unexpected forcecloses in v0.1.41-alpha"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read t

[2016-04-01 18:26] Nordlenning commented on #831
Linked to wrong log in issue 1, this is correct >>  https://defuse.ca/b/Dzlf0aerUL87C1GIsdfBOx

[2016-04-01 18:57] mimi89999 commented on #831
I can reproduce 1., but not 2.

[2016-04-01 19:26] Nordlenning commented on #831
To reproduce 2, -- with Wifi connected in Map View.
Push Download Button
Push Preferences
Push Logging
AIMSCID Crash every time. See screenshot in 816

[2016-04-01 20:41] mimi89999 commented on #831
Ok. I can reproduce both.

[2016-04-02 01:08] SecUpwN commented on #831
@mimi89999, if you'd be able to create fix, I'd instantly merge it!

[2016-04-02 05:50] CunningLogic opened #832 "Rant about project ALPHA status and false positives"
Sorry i lied on the subject, just to get attention.

SecUpwN refuses to stop spamming myself, my co-workers and other associates. Email, XDA PM, IRC whatever, he always does it. It has been going on for years. No professional wants to work on this project because of him, and the fact that it is by design a deaend, and those leading the pack are unprofessional and childish.

It does not work on mod

[2016-04-02 06:49] mimi89999 commented on #831
I will do this ASAP...

[2016-04-02 09:00] SecUpwN commented on #832
@CunningLogic, I am sorry for having forgotten that you were in fact the one who was fed up with our project back then already when it was still active on XDA (it isn't, for the exact same attitude of people you're sadly showing here). Furthermore I feel that it was a big mistake of mine to contact you again with an invitation to our team. I thought you may have been a useful addition after your w

[2016-04-02 09:00] #832 closed

[2016-04-02 11:07] mimi89999 commented on #831
#833

[2016-04-03 15:20] mimi89999 commented on #831
I didn't fix 2.

[2016-04-03 17:09] Nordlenning commented on #831
Downloaded & test compiled latest 03.04.16 18:30 inkl merged fix for 833. Latest commit to source 833.
Result: Request API Key = Crash. Download Data in Airplain Mode = Crash
Will test New APK release Later tonight.

[2016-04-03 17:24] mimi89999 commented on #831
On my device: Request API Key = Fixed; Download Data in Airplain Mode = Fixed.

[2016-04-03 17:27] SecUpwN commented on #234
@larsgrefer, are you tackling this as well whilst working on #827?

[2016-04-03 17:27] SecUpwN commented on #831
Strange. How come I can't replicate the second Issue then? Feel free to re-open should it still exist.

[2016-04-03 17:28] mimi89999 commented on #831
@SecUpwN I don't have the required permissions to reopen issues that you closed.

[2016-04-03 17:33] SecUpwN commented on #831
Congratulaitions, you are now an official `COLLABORATOR`. Get a profile picture, dude. :)

[2016-04-03 17:35] mimi89999 commented on #831
@Nordlenning Could you please give me the log?

[2016-04-03 18:01] Nordlenning commented on #831
Downloaded & test compiled latest 03.04.16 19:30
Result: Request API Key = WORKS. Download Data in Airplain Mode = WORKS
Thank you @mimi89999, I Download latest source from github with smartgit & compile w AStudio in Linux Kali Sana Distro.

[2016-04-03 18:18] Nordlenning commented on #831
@mimi89999 Issue 2 also Works on my sony now. I cant reproduce it any more, great job..5 star

[2016-04-03 18:21] mimi89999 commented on #831
That's strange. I haven't done anything to fix it, but I also couldn't reproduce it recently...

[2016-04-03 18:32] mimi89999 commented on #831
@SecUpwN To reproduce 2.:
1. The device can't be in airplane mode
2. Go to map view
3. Click download button
4. Click the 3 dots
5. Click on debuging or settings (it doesn't matter)
Repeat 2-5 untill... the app will crash :-)

[2016-04-03 18:33] SecUpwN commented on #831
I don't get it. Is this fixed now or not? :P

[2016-04-03 18:34] mimi89999 commented on #831
No, it's not fixed, but it's hard to reproduce. Please follow my instructions.

[2016-04-03 18:38] mimi89999 commented on #831
You reopened this issue... Does that mean that you can reproduce 2.?

[2016-04-03 18:42] mimi89999 commented on #831
@Nordlenning Could you try again to reproduce 2.?

[2016-04-03 18:51] SecUpwN commented on #831
I tried to, but for me it seems to work flawlessly. Reopened because I thought you still experience it?

[2016-04-03 18:52] mimi89999 commented on #831
I will add more logging to investigate this issue.

[2016-04-03 19:01] Nordlenning commented on #831
Now I have tried 20-30 times, can not reproduce this any more following youre steps  @mimi89999
But i managed to freeze AIMSCID 5 times when I pushed Map View. Total shutdown. BEFORE I even got to the menu. No problems pushing  Download - preferences or debugging. Downloaded OK  Logged OK.

[2016-04-03 19:05] SecUpwN commented on #831
Please anonymize the logfiles and share them with us here using [PIEBIN](https://defuse.ca/pastebin.htm). Thanks.

[2016-04-03 19:16] Nordlenning commented on #831
I managed to freeze it again, I will hook my phone up with my lap & get logcat of this, but it is not easy to reproduce, you have to repeat many times to get it to freeze..

[2016-04-03 19:16] mimi89999 commented on #831
I agree.

[2016-04-03 19:19] SecUpwN commented on #831
@mimi89999, since you also requested access to [our Coverity Scan](https://scan.coverity.com/projects/3346), can you see if this was catched?

[2016-04-03 20:20] Nordlenning commented on #831
I got it, @mimi89999 Maybe this rather long logcat will help.
https://defuse.ca/b/4Inwhe4XhXfcqj7kKWuz4Q
 04-03 22:02:07.579: D/AndroidRuntime(4409): --------- beginning of crash
 04-03 22:02:07.579: E/AndroidRuntime(4409): FATAL EXCEPTION: main
 04-03 22:02:07.579: E/AndroidRuntime(4409): Process: com.SecUpwN.AIMSICD, PID: 4409

[2016-04-03 20:21] Nordlenning commented on #831
Did not mean to close, double click, sorry7

[2016-04-03 20:28] mimi89999 commented on #831
How much RAM do you have on your device?

[2016-04-03 20:32] SecUpwN commented on #819
@mimi89999, would you please have a look at this and see if you can fix this for todays release?

[2016-04-03 20:41] Nordlenning commented on #831
1GB

[2016-04-03 20:45] mimi89999 commented on #819
That's impossible. It's 22:45 in my timezone and I have to wake up early tomorrow...

[2016-04-03 20:47] SecUpwN commented on #819
Ok, seems like we're living in the same timezone (I'm in Germany). Then don't worry about it today.

[2016-04-03 22:54] Nordlenning commented on #831
I can also reproduce it in WIP TEST RELEASE v0.1.42-alpha, but you have to work for it, same log result.
![screenshot from 2016-04-04 00 48 14](https://cloud.githubusercontent.com/assets/17292772/14235475/ff11ea8e-f9ee-11e5-8c2b-92392c6e5c60.png)

[2016-04-04 16:04] mimi89999 commented on #831
@Nordlenning Please apply https://github.com/mimi89999/Android-IMSI-Catcher-Detector/commit/77602319d54c95c486a5ff86d2fff1e9515b4a1b , build the app and test it again.

[2016-04-04 17:02] Nordlenning commented on #831
Just committed your changes to RequestTask.java @mimi89999 & will build new app & test it out,

[2016-04-04 17:50] mimi89999 commented on #831
@Nordlenning How does the app work now?

[2016-04-04 17:52] Nordlenning commented on #831
So fa so good, cant crash it & I'm working hard on it !

[2016-04-04 18:23] Nordlenning commented on #831
So I have tested: Inserting OCID key OK, Download OCID Key OK, Download OCID Data both from menu & map view OK. Download OCID data in Aiplaine Mode W or WO wifi connected OK, upload OCID Data OK. Can not reproduce issue 2. Only tiny thing i noticed was that Notification Icon stops spinning when you pull menu out (from left). But that's not the issue. Looks like its all solved.

[2016-04-05 09:46] agilob opened #835 "Cell tracking can be active in offline mode without any location service even installed"
---

#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read t

[2016-04-05 11:13] agilob opened #836 "you can enable cell monitoring and tracking without sim card in the phone"

[2016-04-05 12:12] agilob commented on #836
Even better, CID and LAC have values when there is no sim card in a device.

[2016-04-05 12:22] banjaxbanjo commented on #836
@agilob Your phone is always connected to a bts even if you have no sim card, in case you need to ring an emergency number.

I suppose that opens up more questions of how can the app detect that as a fake BTS.

[2016-04-05 12:45] agilob commented on #836
* in some countries. Not in the UK, in the UK you can't do that.

I should add that CID and LAC are INT_MAX values 2147...47. Sorry for delay I opened the issue form mobile GH client.

[2016-04-05 12:51] banjaxbanjo commented on #836
@agilob oh right I did not know in UK you can't ring emergency number without sim, Probably a security precaution for bogus calls. Easier to track a person when they have sim card

[2016-04-05 13:07] agilob opened #837 "OpenCellID API key is not immediately displayed"
**EDIT by SecUpwN:** @agilob, we have implemented `Issue Templates` for a reason! Please use it!

---

Description of Issue: After saving the new OCID API key, it does not show immediately in the field `OpenCellID API Key`. It is empty. Only after exiting the `Settings` and re-entering that field the key is shown. The way it should work is that it is immmediately shown when pressing that button af

[2016-04-05 13:08] agilob opened #838 "Documentation button in About is misaligned"
---

#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read t

[2016-04-05 13:08] agilob opened #839 "Unable to scroll up credits when it's scrolling down automatically"
---

#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read t

[2016-04-05 13:09] agilob opened #840 "About window - link to contribute returns 404"
---

#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read t

[2016-04-05 13:10] agilob opened #841 "After 2minutes on GPS I have a cell saved that has '0 samples' - in map view, click on cell"
---

#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read t

[2016-04-05 13:11] agilob opened #842 "Back-button on map view doesn't do anything"
Double back closes application...

[2016-04-05 13:11] agilob opened #843 "Back-button on AT command doesn't do anything"
Double back closes application...

[2016-04-05 13:13] agilob opened #844 "I have cells in event log with LON/LAT 0.0"
Some saved cells have LON/LAT = 0.0

I've never been there.

[2016-04-05 13:16] agilob opened #845 "Operator name is empty on 2 sim cards I tested"
and two phones LG and Samsung, sim cards are from different networks.
Not sure if it's a bug, but the field should have something there. In 4 test cases at least one should have a value there.

[2016-04-05 13:16] agilob opened #846 "Clicking a link on credits stops auto-scrolling and it never resumes"

[2016-04-05 13:18] agilob opened #847 ""Backup restore was successful", even if there was no backup..."
**EDIT by SecUpwN:** I guess what @agilob means is that `AIMSICD` needs to spit out an error instead.
@CellularPrivacy/database, please tackle this. Our app should notify: `Error: No backup found!`

[2016-04-05 13:19] agilob opened #848 ""current threat level" shows me neighouring cells, not threat level"

[2016-04-05 13:29] agilob commented on #848
Is anyone doing any kind of user testing before changes are released?

[2016-04-05 14:26] agilob commented on #599
Please reopen.

[2016-04-05 15:09] mimi89999 commented on #837
@agilob Exit AIMSICD. Reopen AIMSICD and check if the key has appeared.

[2016-04-05 15:29] mimi89999 commented on #843
Related to #842

[2016-04-05 15:33] mimi89999 commented on #845
Are you talking about dual sim devices? I can't reproduce this on my single SIM device: Samsung Galaxy S4 Mini (serranoltexx).

[2016-04-05 15:51] agilob commented on #845
No

[2016-04-05 15:52] agilob commented on #840
Why was this pushed directly to a branch instead creating a PR? This is wrong, links are inconsistent.

[2016-04-05 15:53] mimi89999 commented on #845
Are the devices running stock ROMS? My device is running CM13

[2016-04-05 15:53] agilob commented on #837
Activity should listen for changes in shared preferences and update text field with the key, it has nothing to do with restarting application.

[2016-04-05 15:54] agilob commented on #845
Both have stock ROMs.

[2016-04-05 16:07] #840 closed

[2016-04-05 16:11] mimi89999 commented on #845
What operator?

[2016-04-05 16:21] agilob opened #849 "Text animation is misleading when re-opening fragment"
If animation was supposed to change color of values that changed, then it should not animate all labels on step 3:

1. Phone/SIM Details
2. Current Threat Level
3. Phone/SIM Details (nothing changed but all values are animated - misleading and hides values that changed in meantime)

[2016-04-05 16:22] agilob opened #850 "Git-hash should link to commit on Github"
In about activity, no one will type if manually to check the commit

[2016-04-05 16:23] Nordlenning commented on #845
My Sony Xperia V CM Displays Correct Operator Name

[2016-04-05 16:28] agilob opened #851 "Crash if back twice is pressed while downloading OCID data in map view"
[code]

[2016-04-05 16:29] agilob commented on #845
3 and o2
http://www.controlf.net/iccid/ 23410 and 23420

[2016-04-05 16:31] agilob commented on #850
@larsgrefer "build number" could be hidden if not available (fdroid builds)

[2016-04-05 16:50] Nordlenning commented on #837
The strange is that Key is downloaded & accepted since you can download OICD data without restarting the app, it's not displayed in the key requester until you restart the app.
OCID data gets downloaded.

[2016-04-05 17:33] agilob commented on #837
No need to restart the app! Just restart preferences activity and the key is there.

[2016-04-05 17:37] agilob opened #852 "I was in two locations at the same time!"
1. Drive
2. ...
![screenshot_2016-04-05-18-02-14](https://cloud.githubusercontent.com/assets/2544251/14291894/7453e0b2-fb5d-11e5-9d5c-1a57b75997d6.png)

[2016-04-05 19:29] mimi89999 commented on #845
It looks like this issue is ROM related.

[2016-04-05 19:46] mimi89999 commented on #691
I can't reproduce it.

[2016-04-05 19:47] Hadatko commented on #169
Hi guys. If i understand correctly. You have android application and you are using coverity to find bugs there. I want do same for another application, but i can't do progress. Can somebody help me with this? I found some plugin to the gradlew. But it is not working. I didn' see plugin in your code. Can somebody explain me how is this application scaned? thanks

[2016-04-05 19:51] mimi89999 commented on #691
I think this was fixed in https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/commit/76bc831faa7fe8514cd4663e82753a2a7a9b170d

[2016-04-05 19:53] #691 closed

[2016-04-05 20:08] SecUpwN commented on #837
So I guess the way it *should* work is that the key is shown immediately after it has been fetched?

[2016-04-05 20:19] SecUpwN commented on #839
@VladThodo, would you please have a look if you can improve that a bit? I guess the solution would be to make the `CREDITS` stop scrolling when the user scrolls up and continue when scrolling down.

[2016-04-05 20:24] mimi89999 commented on #819
Well, this could be just added to `build.gradle`.

I'm waiting for a reply from F-Droid about gradle 2.12 on the buildserver...

[2016-04-05 20:24] SecUpwN commented on #852
You've already filed that in #471.

[2016-04-05 20:26] SecUpwN commented on #851
@mimi89999, would you please have a look at this and see if it is related to your recent fixes? Thanks!

[2016-04-05 20:30] SecUpwN commented on #849
@kaichunlin, since you solved #288, could you please improve this to only highlight real changes?

[2016-04-05 20:35] SecUpwN commented on #848
No, we simply refuse to test anything tpo collect even more bugs! /sarcasm Of course we're testing a large number of things before releasing it into the wild. But since our `ALPHA` app is a community effort, we rely on the feedback of users until we implemented #173. Feel invited to help us there! @He3556, shall we close this Issue as `INVALID` (since that tab is not fully implemented yet) or real

[2016-04-05 20:37] mimi89999 commented on #851
I think that https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/commit/dfb88dafd6deb8c230139a795d1489bda664db38 fixed this issue.

@agilob Please build the latest version of AIMSICD and test this.

[2016-04-05 20:39] SecUpwN commented on #846
Honestly speaking, these "bugs" are things that E:V:A always hated since they are no *real* Issues. But hey, at least I am happy you're testing our app so hardcore. Adding you to the testers team now. ;-)

[2016-04-05 20:46] SecUpwN commented on #169
@Hadatko, please do not cross-post in our Issue tracker for you own stuff! Read their [website](https://scan.coverity.com/).

[2016-04-05 20:47] agilob opened #853 "Out of memory on SmSdetector"
Last time I did code review I pointed a memory leak in SmsDetector, apparently it wasn't fixed yet despited good commit from @smarek and second approach from @banjaxbanjo
So this time I have a proof that there is memory leak :>
[code]
I got this while AIMSICD was left open and phone charging.

[2016-04-05 20:50] agilob commented on #846
If UI of the application is not intuitive, bad or causes crashes... how can I trust it with more serious issues like IMSI-CD? Smelly code stays for longer. Those are real issues and very important ones.

[2016-04-05 20:51] agilob commented on #851
No, I this will wait for new release till I close it.

[2016-04-05 20:52] agilob commented on #837
Yes, that's the expected behaviour.

[2016-04-05 20:53] SecUpwN commented on #845
Sure? I am experiencing this as well the whole time, might be related to #749.

[2016-04-05 20:53] agilob commented on #852
What? No! That's completely different issue. 471 is about misleading map legend. This one show two green arrows. green arrow = my location. Am I in two locations at the same time? :>

[2016-04-05 20:57] mimi89999 commented on #851
What?

[2016-04-05 20:58] SecUpwN commented on #844
@CellularPrivacy/celltower, please have a deeper look into this Issue.

[2016-04-05 21:00] mimi89999 commented on #845
Now I'm not so sure...

[2016-04-05 21:18] SecUpwN commented on #852
Since the map shows the BTS you've been connected to, you've been connected to two `well known encrypted BTS`. And the way it seems, the screenshot has been taken during movement., right?

[2016-04-05 21:22] SecUpwN commented on #851
@agilob, not cool. We're just trying to be supportive. I have justed added you to our `testing` team and thus you also have an invite to our `Buildozer` builds. Please use that bleeding edge APK to test this fix!

[2016-04-05 21:25] SecUpwN commented on #845
How to find out?

[2016-04-05 21:27] mimi89999 commented on #845
Are devices running CM experiencing this problem?

[2016-04-05 21:34] mimi89999 commented on #845
If somebody could test the same SIM on a device running CM and another device running stock ROM...

[2016-04-05 21:37] SecUpwN commented on #845
Yes, I am. I'm running `AICP`, which is based on CM, see [Testing Devices](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Testing-Devices) and add your own.

[2016-04-05 21:38] SecUpwN commented on #841
@CellularPrivacy/celltower and @CellularPrivacy/database, please have a closer look why this happens.

[2016-04-05 21:39] Nordlenning commented on #851
I can not reproduce this with the latest fix

[2016-04-05 21:41] SecUpwN commented on #471
@agilob, since you mentioned in https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/852#issuecomment-205982941 that this Issue is indeed about a "misleading map legend" and not the same Issue, how would we need to change our map legend to fix the "mislead"?

[2016-04-05 21:52] mimi89999 commented on #845
Your ROM could (maybe for security reasons) block apps from accessing this data...

[2016-04-06 03:45] VladThodo commented on #846
@SecUpwN Unterstood :) Currently the dialog stops scrolling if you click the white text (the text with no links) but I  will make it stop scrolling when you scroll up ;)

[2016-04-06 05:33] mimi89999 commented on #851
Please reopen this issue if you can reproduce it after my fix

[2016-04-06 05:33] #851 closed

[2016-04-06 06:38] mimi89999 commented on #848
Maybe we should implement this tab?

[2016-04-06 06:49] agilob commented on #851
No, you're asking a user to compile your code. You should be aware that doing it costs time and it's in not my interest to do it.

Good question, I think my touchpad marked and moved some words -.-'

[2016-04-06 06:52] agilob commented on #471
....
If you read the legend, it says "[blue circle] currently connected BTS". If you now look at the map, you see that I'm connected to a BTS 40km away, which is technically not possible. I am also currently connected to **5 BTS** at the same time... which is...

[2016-04-06 06:54] agilob commented on #852
COME ON! Read the title! This issue it not duplicate of 471! The green arrow shows **my location**. The map **shows me in two places at the same time**. YES, screenshot also contains 471 bug, but it's not the issue here! Can you see two green arrows?

[2016-04-06 08:02] Kaicastledine opened #854 "Issue downloading database"
---

#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read t

[2016-04-06 08:04] mimi89999 commented on #843
Please merge this issue with #842 because it is de facto the same issue...

[2016-04-06 08:54] Nordlenning commented on #854
Hi @Kaicastledine
I have noticed that OICD servers have been extremely slow last couple of weeks (via my Lap), if working at all. Sometimes you get OK sometimes timeout so beware of this. I have managed to get up & download ok. Notice issue 837

[2016-04-06 09:15] Kaicastledine commented on #854
I've been trying on and off over the last week but no luck so far even when I've downloaded and put them in manually.

Wanted to try rule out it being the DEV API key or even an issue with the app/phone

Will check that now

[2016-04-06 09:28] Kaicastledine commented on #854
The API key was quick after the new app update yesterday (API request from app)
I was able to upload cells within minutes but never download the database.

[2016-04-06 09:52] Nordlenning commented on #854
Yes, that is usually the case, I take copy of the db file when download & keep it stored & updated weekly on my SD. I also take a copy of the ocid key & store it as a txt file on my SD. Just in case.
I have made it a habit to always do a clean install, deleting the old aimsicd catalog first to avoid any possible conflicts. It works for me.

[2016-04-06 10:36] Nordlenning commented on #854
Pssst @Kaicastledine It can be vice to close this issue since your CID is displayed in the log, that's against the rules ..I guess @SecUpwN will delete this log when he arrives.

[2016-04-06 10:42] Kaicastledine commented on #854
@Nordlenning  *Cough its gone*

Must of missed that one

[2016-04-06 11:27] mimi89999 commented on #854
@Nordlenning What files do download from OCID and where do you put them?

[2016-04-06 11:47] Nordlenning commented on #854
According to filedate & yesterdays download & viewing them in database, it is the file:
files/OpenceddID/opencellid.csv Located on my /storage/sdcard0/android/data/com.setupnv/aimsicd
I copy/overwrite this catalog to my SD1 before new installations as a safety rule.

[2016-04-06 11:51] mimi89999 commented on #854
But which file from the website?

[2016-04-06 11:57] mimi89999 commented on #854
cell_towers or measurements?

[2016-04-06 11:58] Nordlenning commented on #854
The file is opencellid.csv That is the file that varies in size & gets updated when you got download ok.
I have not logged the actual transaction to see the exact file-transaction.

[2016-04-06 12:02] Nordlenning commented on #854
cell_towers or measurements?
They appear in the db as imported ocid db files

[2016-04-06 12:35] Kaicastledine commented on #854
Interestingly mine data path is
android/data/com.SecUpwN.AIMSICD/Files/OpenCellID/aimsicd-ocid-data.csv

Just checking and I do not actually have a database folder located under OpenCellIDs data folder

[2016-04-06 12:47] Kaicastledine commented on #854
I've just gone a put in the new CSV and renamed it to match my current filename aimsicd-ocid-data.csv

Still wont view the database

[2016-04-06 12:52] Kaicastledine commented on #854
How can I change the database location ?

I've just noticed its referencing  /storage/emulated/0/android/data/com.SecUpwN.AIMDCID/files/OpenCellID/opencellid.csv

I need it to be storage/sdcard0/android/data/com.SecUpwN.AIMDCID/files/OpenCellID/opencellid.csv

Emulated only has a "Legacy" Folder

[2016-04-06 12:57] Kaicastledine commented on #854
Just tried to export the DB and under /com.SecUpwN.AIMDCID/files/
There is an error.txt

States that it cannot find /storage/emulated/0/android/data/com.SecUpwN.AIMDCID/files/aimsicd_dump.db

[2016-04-06 13:22] mimi89999 commented on #854
I reinstalled AIMSICD, entered my API key, but I can't download OCID data.

[2016-04-06 13:22] larsgrefer commented on #844
with #827 we could use `null` for a not known location instead of `0.0`

[2016-04-06 13:36] agilob opened #855 "Progress circle in map view is still rotating after error message"
1. Download OCID data
2. Request time-outed
3. Progress circle in top menu is still rotating

Expected:
Progress circle should stop rotating as there is no background action

[2016-04-06 13:51] Nordlenning commented on #854
@mimi89999
Nothing appears in the Imported OCID database in db-view ?
No opencellid.csv file in the OpenCellID catalog ?

[2016-04-06 14:03] agilob commented on #844
If there will be `null` instead `0.0` it will still be a buggy behaviour.

[2016-04-06 14:20] Nordlenning commented on #854
This is output from imported OCID data yesterday,

![screenshot_2016-04-06-15-59-26](https://cloud.githubusercontent.com/assets/17292772/14319872/63e9746c-fc02-11e5-9cf3-5024869e5928.png)

[2016-04-06 14:41] Nordlenning commented on #854
Went over to my laptop & found that OCID server is up & running, but I can not use it online.
Not possible to view measurements or uploaded bts on the website. Have been like this a long time.
So something is wrong there.
Ping 13 packets transmitted, 13 received, 0% packet loss, time 12016ms

[2016-04-06 14:58] Kaicastledine commented on #854
I get  /OpenCellID/aimsicd-ocid-data.csv

I think its an issue with the app pointing to an old storage location on android

Its using the old legacy locations based on older versions of android. Newer versions have moved the SDcard names and locations

12016 ms ? ..... Thats some serious latency

[2016-04-06 15:32] agilob opened #856 "[question] what is rej_cause in imported OCID data?"
and why is the number yellow?

[2016-04-06 17:04] mimi89999 commented on #846
This can be achieved by removing https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/AIMSICD/src/main/java/com/secupwn/aimsicd/ui/activities/AboutActivity.java#L168 , but I don't think it's a good idea.

[2016-04-06 17:10] mimi89999 commented on #846
I tested it and I think it's really a bad idea not to stop scrolling.

[2016-04-06 18:55] SecUpwN commented on #848
We could just rename `Current Threat Level` to `Nighboring Cells`, then it would be correct again.
I'd like @He3556 to state his opinion here and then I'll tackle this as soon as possible.

[2016-04-06 18:56] SecUpwN commented on #846
So does that mean we should remove https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/846#issuecomment-206466551 now?

[2016-04-06 19:01] SecUpwN commented on #856
`rej_cause` = rejection cause. Does having a look at #250 answer your question?

[2016-04-06 19:07] #843 closed

[2016-04-06 19:12] SecUpwN commented on #852
Stop screaming at me.

[2016-04-06 19:14] SecUpwN commented on #851
You don't even have to compile it yourself, `Buildozer` is doing that automatically for you.

We are developing here. So please do a backup of our release (freeze it) and test the bleeding edge.

[2016-04-06 19:45] agilob commented on #856
Do  you know what rej_cause=3 mean? Why is known or unknown... one value can't mean two things.

[2016-04-06 19:58] mimi89999 commented on #846
No

[2016-04-06 20:15] SecUpwN commented on #846
@VladThodo will fix both mentioned Issues. @mimi89999 please tell him what tzhe solution would be.

[2016-04-06 20:31] mimi89999 commented on #846
I think that it should be possible for the user to stop autoscrooling in some way.
@SecUpwN You can remove this line and build the app. Then, you can open credits and click on one link to see if such a behaviour is really the expected one...

[2016-04-06 22:15] SecUpwN commented on #856
As you can see, it can even mean **four** different things.

The way I see it,it means that `A5/x < A5/3`.

[2016-04-06 22:38] larsgrefer commented on #856
the value is set here:

[code]

The value is never used in the current code (except for displaying the database viewer)

[2016-04-06 22:44] larsgrefer commented on #844
@agilob Why? Maybe there was no location present when the event occured. In this case `null` is a valid value to indicate the absence of the location information

[2016-04-06 22:49] #856 closed

[2016-04-06 22:50] Nordlenning commented on #264
30 USD bounty on this issue so far
https://www.bountysource.com/issues/7557508-check-bts-for-the-nc-list

[2016-04-06 22:53] SecUpwN commented on #264
Strange, I wonder why the title did not update automatically. Manually updated the thread title.

[2016-04-06 22:53] Nordlenning commented on #215
20 USD bounty on this issue so far
https://www.bountysource.com/issues/7069218-major-database-overhaul-and-restructuring

[2016-04-06 22:55] SecUpwN commented on #215
Manually updated this thread title as well and would like to reward it to @larsgrefer when merging #827.

[2016-04-06 22:56] Nordlenning commented on #264
THANK YOU !

[2016-04-07 05:45] agilob commented on #856
thanks

[2016-04-07 05:47] agilob commented on #844
Because UI would ne even more inconsitent. In this case you probably should also print `null` in #845

[2016-04-07 10:56] Nordlenning opened #857 "Contribution Guide gives 404 page not found"
---

#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x ] **I have rea

[2016-04-07 11:00] #857 closed

[2016-04-07 11:01] mimi89999 commented on #857
Duplicate of #840

[2016-04-07 11:04] SecUpwN commented on #857
Hasn't that been fixed already?

[2016-04-07 11:33] agilob opened #858 "Random requests of GPS fix"
1. Open application
2. Enable cell tracking and attack detection
3. press home button
4. observe
5. after some time GPS is no longer required
6. application requests GPS after some time
7. I'm at home, so no GPS fix for you
8. after some time GPS is no longer required...
9. ...

Moreover application doesn't get last location since I don't have working offline/online location service and GPS is onl

[2016-04-07 11:45] agilob commented on #852
┬─┬ノ( º _ ºノ)

[2016-04-07 11:48] agilob commented on #835
PLEASE DON'T EDIT MY DESCRIPTION I DIDN'T WRITE IT

[2016-04-07 12:25] SecUpwN commented on #835
@agilob, no need to shout in bold letters. I am just trying to make your Ossues better readable. Please use SHORT bug titles and USE the `Issue Template` that we provide. Thank you.

[2016-04-07 12:51] agilob commented on #835
I didn't use bold letter.

My title of this issue was more descriptive then what you edited and I saw no need to add description.

`Issue Template` that's too long sentences and too long template to read when reporting an issue, especially when users are exposed to markdown, which is not too readable. It's in not my interest to get a bug:
1. reported
2. fixed

and I think the template is only bloc

[2016-04-07 13:15] SecUpwN commented on #835
Not sure what https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/835#issuecomment-206830140 is then?

If you report a bug, it *should* be in your interest to get it fixed as well.
Anyhow, I hope that @CellularPrivacy/celltower will have a look at this Issue as well.

[2016-04-07 13:21] agilob opened #859 "[question] Does SMS detector work on samsung without "set debug to high"?"
https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/pull/436

*#9900# or *#*#9900#*#*

If not, then it should notify user how to enable it on Samsung phones. @banjaxbanjo could it be a reason why I claimed a few times that it doesn't work on my samsung?

[2016-04-07 13:30] agilob commented on #835
It is, a little, but I'm not a daily user of AIMSICD. I'm an observer here who tried to contribute to the project and provided you a lot of information a few times, but was completely ignored on both github and email, so occasionally I test if AIMSICD is able to detect any 'suspected' behaviour.

[2016-04-07 13:35] Nordlenning opened #860 "[Info] Github Research Survey Participation Request about AIMSICD"
---

#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read t

[2016-04-07 13:59] SecUpwN commented on #860
@Nordlenning, is that your survey? I have received this via E-mail as well. Surveys do not contribute to this project and are not an "Issue" either. Please make sure to use our Issue tracker for real Issues only.

[2016-04-07 13:59] #860 closed

[2016-04-07 14:12] banjaxbanjo commented on #859
Guys its *#9900# usually or *#*#9900#*#*

I tried 4 different samsung models and they all gave me the debug screen.

[2016-04-07 14:13] banjaxbanjo commented on #859
For some reason the star symbol is not showing in comment.

[2016-04-07 14:16] banjaxbanjo commented on #859
Some samsung phones give a lot of detail when set to high but others not so much.

[2016-04-07 14:25] agilob commented on #859
\*

[2016-04-07 14:26] Nordlenning commented on #655
http://bit.ly/1YgV7Pq

[2016-04-07 15:44] kaichunlin commented on #849
@SecUpwN yeah I'll check into it

[2016-04-07 18:35] Nordlenning commented on #854
@mimi89999 Today i gave this some attention again, after uninstalling first .Clean install.
App creates 2 dirs during installation 1 dir on both SD cards sd0 & sd1 under Android.
No OCID dir exists after installation in theese dirs.

Then I entered my OCID key into requester.
Then I Downloaded OCID db from OCID servert. OK  :) <<< from the menu.
Then I noticed that OpenCellID dir had been created

[2016-04-07 21:43] SecUpwN commented on #849
Thanks @kaichunlin, all pull requests from you to fix this and other UI/UX Issues are greatly appreciated!

[2016-04-07 21:44] SecUpwN commented on #655
@Nordlenning, I've already manually edited the thread title to display the current bounty there. When @larsgrefer merges this and adds something like `fixes #215` and you accept that, he'll get the bounty.

[2016-04-07 22:58] Nordlenning commented on #655
"I've already manually edited the thread title to display the current bounty there"
Sorry @SecUpwN But I don,t see any edited title on issue  655

But I do on bountysource. As far as I see Issue 655 & 215 different issues both with bounties.
Did you look at the link ? http://bit.ly/1YgV7Pq

I'll Leave it with that.

[2016-04-07 23:02] Nordlenning commented on #655
:+1:

[2016-04-07 23:02] SecUpwN commented on #655
@Nordlenning, you were right. I am currently talking to the Bountysource support about this Issue.

[2016-04-07 23:51] Nordlenning commented on #855
Download OCID data from map view
Download Success
Progress circle in top menu is still rotating after Download is finished

[2016-04-08 00:17] SecUpwN commented on #855
@Nordlenning, I guess all Issues from @agilob will stay open until the next release since he refuses to test our bleeding edge APK compiled by Buildozer.

[2016-04-08 00:36] Nordlenning commented on #855
If there is made a fix for this I can download & compile from source & test it. No problem

[2016-04-08 01:25] SecUpwN commented on #855
@Nordlenning, I thought you already tested this? Are you using our Buildozer builds for bleeding edge?

[2016-04-08 01:40] Nordlenning commented on #855
I,m using latest compiled 5 days ago, still exists..
I pointed that out after @mimi89999  latest fix in another issue few days ago.

[2016-04-08 06:46] hanks9910 opened #861 "Gradle sync failed: CreateProcess error=2, The system cannot find the file specified"
---

#### Agreements

- [X] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [X] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [X] **I have read t

[2016-04-08 08:55] larsgrefer commented on #861
Try opening the **Terminal** window in AndroidStudio and run `gradlew build`

[2016-04-08 12:43] SecUpwN commented on #855
@Nordlenning, contact me a private E-Mail so that I can add you to our bleeding edge `Buildozer` tests.

[2016-04-08 12:46] mimi89999 commented on #855
I haven't made any fix for this.

[2016-04-08 14:48] smarek commented on #537
Well, i've taken another look, do I understand correctly, that we're doing detection based on detecting these lines in LogCat ?
[code]

If so, I wonder, what we expect to be the outcome, as these messages never appeared on my test devices.

What I can see though is ie. this:
[code]
When receiving silent sms

Would it be possible to run tests and provide LogCat output for you @SecUpwN ? Indeed woul

[2016-04-08 14:53] SecUpwN commented on #537
Currently, yes. @banjaxbanjo implemented testing of strings entered in `Settings/Detection Strings`.

That is the drawback we currently have, not all devices support setting verbose log outputs.

Yes. Please tell me which tests I shall run on my rooted device.

[2016-04-08 15:00] smarek commented on #537
If you could run individual sms types from [Self-Tests](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Special-SMS#self-test) against device where you do watch the logcat and post the block, which is the LogCat output around the sms receive along with note, which type of sms does this block belong to.

Also we're talking about verbose logs, so something linke this `adb logca

[2016-04-08 15:04] SecUpwN commented on #537
Yes, I'll do that. I'm currently on the jump and will tackle this tomorrow. For wh<at do I have to look in specific (e .g. `W/SmsMessage`)? Is there a way to filter only the important messages to make sure?

[2016-04-08 15:27] smarek commented on #537
@SecUpwN

Also I propose to add new default detection string:
[code]
Where we're interested in various coding schemes, that may indicate Wap Push or Type0

[2016-04-08 15:59] SecUpwN commented on #537
What would be the `Type` for that `String`? Please craft a pull request for it.

[2016-04-08 17:19] smarek commented on #537
There is no type in this detection, it's SMS in for.at not known to thr UAP (OS, Android).
So if you need one, call it `Suspicious`

[2016-04-08 18:52] hanks9910 commented on #861
thanks, and it is resolved after configure git path and run gradlew build again

[2016-04-08 19:02] #861 closed

[2016-04-09 03:36] SecUpwN commented on #859
As far as I know, our SMS Detector already does that automatically after granting root access. Feel free to correct me @banjaxbanjo and @smarek. If it doesn't yet, we should improve it to do it that way.

[2016-04-09 05:05] SecUpwN commented on #537
@smarek, I *really* would love to help on improving our SMS Detection and finally getting this to work to a somewhere stable state so that even unrooted phones can make use of this. Thing is, I get huge logfiles when testing each of the SMS types from `HushSMS`. So what I essentially need, would be a way to erase my private data like `CID`, `LAC` and other identifyable data so that I could share l

[2016-04-09 07:03] SecUpwN commented on #854
Thanks for reminding him, @Nordlenning. We just want to avoid users to compromise their own privacy.

@CellularPrivacy/database, I am honest when I say that I have a headache with `OpenCellID` now and I guess it is time to completely move to `Mozilla Location Services` in #446, which not only provides the `OpenCellID` data, but also their own - and even sharing that to `OpenCellID`. Please join th

[2016-04-09 07:07] SecUpwN commented on #446
@hannosch, since our app has had so many troubles with `OpenCellID` and your `MLS` really makes a mature impression, we're now considering the complete move from `OpenCellID` to `MLS`. Here's the catch: We will likely need a few more developers helping us hardcore to properly make the switch. Do you know of any developers you could point to our repository in order to fully replace `OpencellID` wit

[2016-04-09 07:49] j4s0nmchr1st0s commented on #446
this is why someone left the 'good luck' virus
On Mar 25, 2016 9:22 AM, "rugk" <notifications@github.com> wrote:

[2016-04-09 08:29] SecUpwN commented on #446
@ j4s0nmchr1st0s, what do you mean? Please clarify.

[2016-04-09 08:54] hannosch commented on #446
@SecUpwN I'm more than happy for your app to switch to MLS. Unfortunately I don't know of any Android developers to help in such an effort. I can answer some questions, but since I'm not an Android or even Java developer myself, I can't help with the code directly.

[2016-04-09 10:14] j4s0nmchr1st0s commented on #446
The progress is made then lost like an antimatter containment breach. For
example the new version of aimsicd has less capability than older versions
and  there we are debugging everything again.
On Apr 9, 2016 3:30 AM, "Security: PWNED" <notifications@github.com> wrote:

[2016-04-10 07:04] SecUpwN commented on #446
That is the thing with *ALPHA* apps. Heavy lifting with too few contributors and too many complaints.

True. But that is the case with any other WIP project as well. We're currently also mving to yet another type of database so that developers will have an easier life. And making them enjoy the project is key.

We? Who is "we"? This is cour second post on our repository. Please help us instead of

[2016-04-10 21:29] krt16s commented on #819
Sorry for late reply, but I am rather busy. The workaround is just forcing a gradle version. The original problem was that the gradle version matching the android plugin was really old.

[2016-04-11 06:06] SecUpwN commented on #819
Thanks for taking the time to reply, @krt16s. Does that mean I'll always have to do stuff like

[code]

I'd like to get back to the state where I just had to use `gradle=normal` without forcing anything. Reason is, as you can see, that you have additional work fiddling with our metadata each time. Not so good.

[2016-04-11 06:14] SecUpwN commented on #258
@CellularPrivacy/design, please take the minute to read [Design for Open Source](https://perrera.com/blog/design-for-open-source) by @dperrera. It exactly describes our situation. Thanks to @thechangelog for posting this in their latest newsletter!

[2016-04-11 07:54] Kaicastledine commented on #854
I've done a clean install and I still have  the same issues.
All the backups fail also due to this mix up with the storage locations.

Also the CID was removed shortly after and the issues are still present .

[2016-04-11 08:38] j4s0nmchr1st0s commented on #854
Download the source code and edit it.
On Apr 11, 2016 2:54 AM, "Kaicastledine" <notifications@github.com> wrote:

[2016-04-11 12:05] Kaicastledine commented on #854
Will need to check it but editing one line of code for a storage location could cause more issues.

[2016-04-11 19:28] agilob commented on #852
A friend of mine sent me this

![index](https://cloud.githubusercontent.com/assets/2544251/14439611/e91d36da-0023-11e6-9a99-69ac851ce608.jpg)

[2016-04-11 22:37] Nordlenning commented on #655
& what did they say ?  No changes so far = less chance of developer attraction & Bounty donaters i guess. I have received NO answer from them so far.

[2016-04-12 09:10] agilob commented on #605
I think this will be closed when the patch I sent you will be merged.

[2016-04-12 09:15] SecUpwN commented on #852
Thanks for submitting it, @agilob. It would be wonderful if @CellularPrivacy/database, @CellularPrivacy/mapviewer and @CellularPrivacy/celltower would have a deeper inspection on this. But currently, as it seems, not even our created teams are up to doing anything on our repository.

[2016-04-12 09:17] SecUpwN commented on #605
Wonderful to hear! Waiting for the pull request of @banjaxbanjo like you mentioned via E-Mail.

[2016-04-12 09:21] SecUpwN commented on #854
If you find a better way for our app to detect and use the storage location, please submit a pull request!

[2016-04-12 13:16] agilob opened #862 "NPE after changing system language"
1. Open ASIMICD
2. Change system language to Hungarian (or any other)
3. Open AIMSICD

[code]

[2016-04-13 07:44] Kaicastledine commented on #854
Indeed, From what I know I think It was to do with a change made in android ages ago to do with where they store data to solve the Internal SD and ExT SD issue .

How ever I have this installed on CM12.1 Based on android 5.1. Would have to check to see if this storage situation is the same on both.

What other Versions of android do you know have this issue? could create a check on install for the

[2016-04-15 18:25] arleslie commented on #471
I'm having a similar issue (connected to 5 BTS at the same time) except all of them are around my house. Am I fucked?

![](https://dl2.pushbulletusercontent.com/8flggwmtIfmd80jSVSRZytI980sDx2Sr/Screenshot_2016-04-15-14-22-51.png)

[2016-04-16 06:45] agilob commented on #471
@arleslie yes, stop using AIMSICD for your own safety.

[2016-04-16 08:11] SecUpwN commented on #471
@agilob, we know of the rather heavy number of bugs in our project, but please refrain to recommend people to stop using it. I also know that you're pissed about the current development progress, but please do not discredit us in public if you'd like to stay member of our project. Thank you for understanding this.

[2016-04-16 08:33] agilob commented on #471
I completely understand it. Your project got a lot of media coverage, but it doesn't detect anything what was proven many times in this repository and outside. Instead it claims to detect a lot of suspicious activity, but all of them are bugs.

[2016-04-16 09:34] mimi89999 commented on #471
Was AIMSICD tested against the latest/most advanced IMSI-C?

[2016-04-16 09:36] mimi89999 commented on #471
@agilob I would say stop using cellular/mobile networks...

[2016-04-16 16:02] agilob commented on #471
phone and cellular networks don't tell me everyday that I SHOULD RUN because of false positives.

[2016-04-16 21:23] Nordlenning commented on #471
Yesterday I took AIMSICD out for a 70km drive looking at this issue & 852.
When I did this trip my Map-view was at ca 500mtr so I could see some bts & my car.

My finding is:
I was connected to 9 bts at the same time, 2 bts was 35km away from my current location.
I could not reproduce 852. My green "car" followed me quite accurate. Single arrow.

When I got home I uploaded my findings to OCID serv

[2016-04-17 17:49] Nordlenning commented on #471
This happens when I did the same today, no double arrow on the way out, but when I stopped for a coffe & started moving again after 10 min, This LMF followed me all the way home 40 Km..( I could not see him/her) Well AIMSCID Crashed & Then My follower left after restart.
![screenshot from 2016-04-17 19 35 34](https://cloud.githubusercontent.com/assets/17292772/14588862/9523439a-04c3-11e6-87f0-7e01

[2016-04-17 18:31] SecUpwN commented on #471
@Nordlenning, thanks for extensively testing our app. Do you think you could be able to do another comprehensive test of this and add a link to an **anonymized** logcat to this Issue using [PIEBIN](https://defuse.ca/pastebin.htm)?

[2016-04-17 18:42] Nordlenning commented on #471
Sure,
What do you want me to do ? Provoke this crash again or hook my phone to my lap & take a drive while logging ?

[2016-04-17 18:46] SecUpwN commented on #471
@Nordlenning, I'd be athnkful if you could trace down the crash and also possibly find the cause for the multiple BTS connections as mentioned in here. Please keep in mind to *anonymize* your logfiles. Thanks!

[2016-04-17 18:58] Nordlenning commented on #471
I will hook my phone to my Lap & take a long drive this comming week & see what I can catch..

[2016-04-17 19:02] SecUpwN commented on #471
Thanks. Having you in our team means a lot to me.

[2016-04-18 06:11] SecUpwN commented on #489
Hey folks from @CellularPrivacy/celltower, make sure to grab that bounty!

[2016-04-18 18:57] agilob commented on #446
@hannosch sorry, but I'm not sure if we're on the same page. AIMSICD doesn't need to know location of user after the request. What it needs is data about cell, let's say I send a request about cell id 12345, expected response that would be helpful in the project is:
cell_id:12345
lac:123
mcc:12
mnc:1
carrier:orange
lat (BTS location):cd.ab
lon (BTS location:ab.cd
first seen:today
last seen:0
PSC:9

[2016-04-18 19:16] hannosch commented on #446
I'm not sure how you got the parse error, if I do a "simple" request for a single cell network:
[code]
I get back:
[code]
For cell requests all fields should be optional, except for the five fields to uniquely identify a cell network.

Now the result this gives back is where we think a user is, when they see this cell network. That's subtly different from where the actual cell tower is. For the mo

[2016-04-18 19:27] agilob commented on #446
I just wanted to get you example request... and it worked. Looks like my bad, sorry about that.

Regarding the metadata, in such situation MLS becomes irrelevant here, the only thing it "could be useful" would be just to confirm if CID exists at all. But as MLS and OCID contain the same data, AIMSICD already has code to check if CID exists in OCID data.

[2016-04-21 12:04] Klaws-- commented on #759
I uninstalled the previous version, installed "WIP TEST RELEASE v0.1.42-alpha" and, sadly, it still crashes (after agreeing to the disclaimer/license screen).

The notification ribbon mentions "Status: OK", "Cell Monitoring Active" and what looks like a green large cell tower icon and a small yellow cell tower icon. And time of application start and "AIMSICD", of course-

[2016-04-21 12:37] He3556 opened #863 "1. Fix wrong "changing LAC" alerts (i have an idea how to fix it - let me know if you want to help)"
The characteristic of a true "changing LAC" alert is, that the LAC value of **one** certain cell is changing once or maybe a few times in short intervals (1-10 minutes).
But it makes no sense to raise the alarm when the LAC of many Cells are changing over the day. And that is what happens if the phone can't read the correct LAC or has timing problems in general. So we need to filter these (yellow)

[2016-04-21 12:37] He3556 commented on #489
Maybe we could use the 100$ bounty to get the "yellow flag bug" out of the project?

https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/863

[2016-04-21 15:45] Nordlenning commented on #852
Collection of screenshots from 1 hour test-drive, Complete Logs & observation notes will follow.
@SecUpwN  have received the logs via e-mail. Questions? just ask. .
![screenshot from 2016-04-21 05 25 55](https://cloud.githubusercontent.com/assets/17292772/14714924/72354c1e-07d6-11e6-9520-490e91adf3b4.png)

Some Interesting findings inkl 2 crash..
https://defuse.ca/b/ZXiUf8fPfdcHsL5UDmtZ4v

[2016-04-22 14:54] Nordlenning commented on #831
Log https://defuse.ca/b/USoUPmAujCvFP3qwWruF0b

![screenshot from 2016-04-22 16 40 12](https://cloud.githubusercontent.com/assets/17292772/14745193/beea9762-0899-11e6-8c67-5539b9b9bf33.png)

[2016-04-23 08:29] agilob opened #864 "AT command interface doesn't execute anything"
I tried to execute command `AT+CRSM=176,28589,0,0,3` and nothing happens when I press execute.

I tried also `AT+CRSM=176,28423,0,0,9` and `AT+CREG?` and `AT+CRSM=176,28542,0,0,11`

No effect.

[2016-04-23 13:36] SecUpwN commented on #864
Closing this as `duplicate` of #754.

[2016-04-23 13:36] #864 closed

[2016-04-23 13:41] SecUpwN commented on #489
@He3556, likely not. I talked to the donator @seanlynch and he especially donated for CDMA support. Furthermore, he placed a 6 month time frame on this bounty to ensure that support will get added a bit faster. But maybe, just maybe, he will add another bounty on the bug you mentioned as well?

[2016-04-23 13:43] SecUpwN commented on #759
@Klaws--, please test again with the release tomorrow night!

[2016-04-23 13:59] SecUpwN commented on #831
@Nordlenning, so you keep experiencing this Issue? Which version do you use?

[2016-04-23 14:18] Nordlenning commented on #831
As stated above, WIP TEST RELEASE v0.1.42-alpha compiled 19 days ago. I have plenty more screenshots & logs.. See more logs & pics in issue 852...

[2016-04-23 14:22] agilob commented on #831
Please re-open.

[2016-04-23 14:23] agilob commented on #852
Not duplicate, please remove incorrect label.

[2016-04-23 15:05] Nordlenning commented on #852
All these "Bluecells" are actually new collected measurements or new discovered BTS,
They should be labeled "Orange" Then they would be correct.. All of them states O samples,
See lower right corner of picture above. I have 1700 of them after collecting for 2 hour drives & 160km. Some (few) have this Max Integer Nr, or  -1 . They all show where you're phone discover or measure this new BTS. NOT wh

[2016-04-23 15:55] agilob commented on #852
I hope this part of the screenshot will help you spot the issue better:
![7453e0b2-fb5d-11e5-9d5c-1a57b75997d6](https://cloud.githubusercontent.com/assets/2544251/14762511/21acebf4-0974-11e6-83eb-cecf04c5b915.png)

[2016-04-23 16:07] Nordlenning commented on #852
Thank you @agilob

I em aware of this issue Heading yes, duplicate of location mostly happens when, 1. I stop & start moving again. 2. If my phone screen goes off. When I turn on the screen I sometimes have 2 positions or 3. Hope this better serves the issue...

@SecUpwN  You may copy, paste delete, move posts from this 2 hour job as you please.

[2016-04-23 20:34] Nordlenning commented on #471
All these "Bluecells" "[blue circle] currently connected BTS". is actually new collected measurements or new discovered BTS,
They should (could) be labeled "Orange" Then they would be correct.. All of them states O samples,
See lower right corner of picture issue 852. I have 1700 of them after collecting for 2 hour drives & 160km. Some (few) have this Max Integer Nr, or -1 . They all show where yo

[2016-04-23 23:24] SecUpwN commented on #828
@EarToEarOak, are you able to help us solving this Issue?

[2016-04-24 21:04] SecUpwN commented on #849
@kaichunlin, are you still on it?

[2016-04-24 21:34] #848 closed

[2016-04-24 22:56] SecUpwN opened #865 "Inconsistent spelling: Neighbouring vs. Neighboring"
---

#### Agreements

- [X] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [X] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [X] **I have read t

[2016-04-24 23:09] SecUpwN commented on #863
@He3556, thanks for proposing a fix. Please confirm that this is no `duplicate` of #91.

[2016-04-24 23:10] SecUpwN commented on #208
@Ueland, would you please be so kind and test again if it still persists? It should be gone now.

[2016-04-25 00:04] SecUpwN commented on #471
@ziem, would you please take a look at the above message? Sounds like some smaller part of our code to classify new collected cells is messed up..

[2016-04-25 09:20] #655 closed

[2016-04-25 09:36] agilob commented on #865
neighboring - US English
neighbouring - UK English

[2016-04-25 10:06] larsgrefer commented on #865
@SecUpwN Yes, let's use Neighbor

[2016-04-25 18:54] larsgrefer commented on #215
resolved for now in #827 and #655

[2016-04-25 18:54] #215 closed

[2016-04-25 18:57] agilob commented on #215
Not resolved. This issue was about expanding data categories that are collected by AIMSICD to get more information about cells, networks and devices! Not about using ORM as database middle-man!

[2016-04-25 19:32] larsgrefer commented on #215
Many of the problems/whishes named in this issue are solved.

Our persistence layer is on a clean state now. We have nicely named classes and fields. There are no unused classes or fields. The multi-threading problem is also fixed.

[2016-04-25 22:10] SecUpwN commented on #215
I agree with you. The main move to a working and easily expandable database has been accomplished.

@larsgrefer, even if not much, I'd like to say **THANK YOU** for investing heart blood with the $20 bounty.
Since @Nordlenning has been a [donator for this Issue](https://www.bountysource.com/issues/7069218-major-database-overhaul-and-restructuring/backers) as well, I'd like him to state if he agree

[2016-04-26 00:11] Nordlenning commented on #215
Moving to a working and easily expandable database is great.
I would like to reward it to @larsgrefer  His energy is needed elsewhere..

[2016-04-26 14:08] kaichunlin commented on #849
@SecUpwN yeah... just got a pretty big work/life plate to finish first. I will work on it next week, promise :+1:

[2016-04-26 14:47] SecUpwN commented on #849
No need to promise anything, @kaichunlin. I just wanted to make sure you have it on your radar, don't feel pushed. I am thankful for any contribution! And just as a hint: We have [Issues with Bounties](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues?q=is%3Aopen+is%3Aissue+label%3Abounty) as well.

[2016-04-26 15:12] #865 closed

[2016-04-26 15:20] SecUpwN commented on #849
@kaichunlin, please make sure to **delete** your old fork an re-fork our project before adding your PR!

[2016-04-26 17:51] Nordlenning commented on #655
I would like @larsgrefer to make a claim on this bounty. Thank you
http://bit.ly/1YgV7Pq

[2016-04-26 22:35] fabifri commented on #630
I am using CyanogenMod 12.1 (Android 5.1.1) on OnePlus Two. Telefon/SIM-Details showing fine, but no neighboring Cells at Current Threat Level. OpenCellID API Key is good and data downloaded.

If a developer needs a OnePlus Two to investigate on the issue - it's lying around here, so i can lend it or hand it over...

[2016-04-27 03:50] SecUpwN commented on #630
Good morning @fabifri, welcome to our project and thanks for offering your device for testing! Please keep it and continue testing, a fresh version of our app will be released by the end of this week.

To everyone reading this Issue: Which **network type** do you use? Keep in mind that our app currently works best when locked on 3G. If you use LTE, our app will not throw an error, but will get no

[2016-04-27 10:12] agilob commented on #630
That's device-dependent. On some you will get neighbouring cells, on some you won't.

[2016-04-27 10:53] fabifri commented on #630
I am only using 3G (and sometimes 2G Networks).
Thanks for your Answers. Yeah, i'll continue testing - of course. ;-)

So, the Detection / Thread-Level-Display does still work, even if i can't see any Neighboring Cell Data?

[2016-04-27 11:05] agilob commented on #630
no...

[2016-04-28 00:18] davidak commented on #630
Same Problem on a Fairphone 2 with Fairphone OS 1.2.8 (Android 5.1), also locked to 3G.

[2016-04-28 10:01] SecUpwN commented on #630
Folks, what we need is **LOGFILES**. Otherwise our developers will not be able to trace down the Issue. So to everyone wanting to help solving this: Please be so kind and record a full logcat with **working neighboring cells**, then do another one **without neighboring cells**. Detailled instructions can be found [here](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/developm

[2016-04-28 10:09] agilob commented on #630
@SecUpwN List of neighbouring cells is implemented correctly (still there is place for improvements), if there is no NC it means:
1. device doesn't support it, eg. most Samsung, some LGs doesn't support it at all
2. ROM doesn't support it, some ROMs removed that feature
3. You're using connection that doesn't have neighbouring cells like CDMA

It's normal, stop confusing people.

[2016-04-28 10:19] SecUpwN commented on #630
That is why we need #181 during which #269 needs to be executed to make that clear to our users.

[2016-04-28 21:10] agilob commented on #219
@andr3jx probably not... but always worth asking, do you have copy of `Engineer Menu source code` you linked above? The repository was destroyed `Repository unavailable due to DMCA takedown.`

@trizet could you share the repo code on my email if you still have it?

[2016-04-29 09:19] andr3jx commented on #219
@agilob
How about you check [my fork](https://github.com/andr3jx/MTK6577)? Of course I have backup of everything, I'm aware that everything can disappear any moment.

[2016-04-29 18:43] agilob commented on #219
Thanks @andr3jx  :)

[2016-05-01 12:58] SecUpwN opened #867 "Bountysource does not update GitHub Issues"
We currently experience an Issue with @Bountysource: When creating or updating a `bounty` for our project on [![Donations](https://www.bountysource.com/badge/team?team_id=40338&style=bounties_received)](https://www.bountysource.com/teams/android-imsi-catcher-detector/issues?utm_source=Android%20IMSI-Catcher%20Detector&utm_medium=shield&utm_campaign=bounties_received), the GitHub Issue titles are *

[2016-05-01 21:09] SecUpwN commented on #831
@agilob, why? If you still experience this Issue, please attach logs from the the current `v0.1.43-alpha`.

[2016-05-01 23:05] Nordlenning opened #869 "Cannot upgrade to v0.1.43-alpha"
---
#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read th

[2016-05-01 23:15] SecUpwN commented on #869
@larsgrefer, I suspect this to be a temporary bug due to the new database. Is that correct?

[2016-05-02 00:46] Nordlenning opened #870 "Crash after OCID DB is downloaded v0.1.43-alpha"
---
#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read th

[2016-05-02 01:42] Nordlenning commented on #831
WIP TEST RELEASE v0.1.43-alpha Crash when Downloading OCID data in Map View.
Crash when Downloading OCID data without WiFi from menu & more crash in 870

I don't have the required permissions to reopen issues

[2016-05-02 10:08] SecUpwN commented on #831
@mimi89999, would you please check this again?

[2016-05-02 10:50] larsgrefer commented on #869
@SecUpwN Not sure yet

@Nordlenning Was your previously installed 0.1.42 also downloaded from github?

[2016-05-02 10:52] mimi89999 commented on #831
I will look at it...

[2016-05-02 11:33] mimi89999 commented on #831
I can't download OCID data, but the latest version built from source isn't crashing on my device.

[2016-05-02 14:22] mimi89999 commented on #870
Have you uninstalled and reinstalled or just updated AIMSICD?

[2016-05-02 14:39] Nordlenning commented on #869
Yes, I download all from github or compile from source, but when I run into this I removed 0.1.42 first & installed 0.1.42 from f-droid & tried that way, same result.

[2016-05-02 14:51] Nordlenning commented on #870
I have clean installed 0.1.43 downloaded from github.

ADDED:
1 way to make it crash is: Go into DB-view push one or 2 of the tabs, minimize AIMSICD, maximize AIMSICD again, push one of the tabs in DB-view again = Crash (or to be more precise Restarting)
Done this many times now, no problem to make it "restart"..

FATAL EXCEPTION: main
Process: com.SecUpwN.AIMSICD, PID: 29476
java.lang.IllegalStat

[2016-05-02 16:02] mimi89999 commented on #869
@Nordlenning What was the error message when you were installing the new version?

[2016-05-02 16:13] Nordlenning commented on #869
Could not install (when upgrading) No error from clean install..
Think it complained about some signature difference..

[2016-05-02 17:16] larsgrefer commented on #869
@Nordlenning You can only upgrade from one github-build to another github-build or from one f-droid build to another f-droid build.

[2016-05-02 17:28] Nordlenning commented on #869
That may explain this, I was using 0.1.42 build from source after some fix made by @mimi89999.
So I close this if nobody else is having issues with this. Thanks @larsgrefer  I will remember that, good information given.

[2016-05-02 17:28] #869 closed, assigned to nobody

[2016-05-02 17:50] larsgrefer commented on #869
Every android app (apk file) is digitally signed by the one who build it. When installing an app update android checks if the new apk was signed with the same key, the old one was signed with.

Unfortunately the f-droid builds are signed with another key than our github builds

[2016-05-02 18:20] Nordlenning commented on #869
Yes I see,  that does mean that you cannot cross-install between  XDA, github, F-droid, & they are signed with different keys ? You have to stick with the same source you downloaded from.
So when I compile from source i will run into this every time I try installing new github apk.
So if I compile from source every time I wont have this issue.

[2016-05-02 18:47] Nordlenning commented on #831
I em Closing this in favor of 870. No use in keeping both open.

[2016-05-02 18:47] #831 closed

[2016-05-03 14:16] Klaws-- commented on #759
Installed WIP TEST RELEASE v0.1.43-alpha, started application, AIMSICD screen showed up immediately.

Holy fucking shit, IT WORKS!!!!! Jumping into the air! Wagging tail!

Erm, wait, i'm getting carried away.

Thank you very much for sorting out the issue!

[2016-05-03 18:48] SecUpwN commented on #869
@Nordlenning, as a rule of thumb: The GitHub release, Aptoide and XDA Labs are essentially the same build, which I personally upload. The one from F-Droid is an independent build directly crafted from our GitHub repo and signed by them. Means: You can cross-update from all of the other sources, except the one from F-Droid. Enjoy! ;-)

[2016-05-03 20:36] Nordlenning commented on #870
The 2 crash will be harder for the pro's to crack & will probably demand some serious work. This is the bad one.

This crash is a "delayed" crash & appears some time after the actual crash is made.
With delayed I mean that the crash may appear (usually does) long time after the crash actually has happen.

I discovered this several times when putting my phone on the table & could see it crash after

[2016-05-04 10:21] agilob opened #871 "NPE after clicking on tray notification"
[code]

Trying to re-open app by clicking on notification. I'm also unable to reproduce it second time. Stack trace from Xposed cracker module.

[2016-05-04 13:06] agilob commented on #871
ok got more meaningful stacktrace

[code]

[2016-05-04 14:48] rdarioc commented on #151
HI all,

first my compliments for your work.

I have been playing with your app for a couple of days. It is my understanding that the feature discussed in this thread it is a nice to have but not yet implemented, I may be wrong since your main website lists this feature among the other things the app actually does but, it wasn't able to detect it on a couple of phones I have been testing it with.

[2016-05-05 04:49] Nordlenning commented on #870
AIMSICD Crash Downloading OCID DB from MAP view.

D/RealmHelper(7362): CheckDBe() Attempting to delete bad import data from Imports database...
D/AndroidRuntime(7362): Shutting down VM
E/AndroidRuntime(7362): FATAL EXCEPTION: main
E/AndroidRuntime(7362): Process: com.SecUpwN.AIMSICD, PID: 7362
E/AndroidRuntime(7362): java.lang.IllegalArgumentException: Field 'cell' does not exist.
Log https://defu

[2016-05-05 12:22] agilob opened #872 "Job offer from osmocom"
http://laforge.gnumonks.org/blog/20160502-osmocom-sysmocom-jobs/

maybe someone watchng this repo will be interested.

[2016-05-05 12:26] agilob commented on #872
Just wanted to let you know guys. Can be closed now.

[2016-05-05 13:49] ciarankilbride opened #873 "Foreign cellid and LAC detected"
The app detected 2 cell towers in my area that according to cellfinder.com are located in India and British Virgin Islands. They are not listed on opencellid. Both these cells were found in roughly the same location at 2 different times, and there was also a 3rd cell at the same location found which had cellid 0 and LAC 0...is this suspicious or just a bug?
CELLID=689534
LAC=3030
MNC/MCC=272-03
+

[2016-05-05 17:40] ghost commented on #872
That is an amazing opportunity for a skilled programmer and the guys at osmocom are legends. Very advanced programming knowledge needed tho to get involved there.

[2016-05-05 23:22] SecUpwN commented on #872
Thanks for opening this @agilob. Indeed very interesting, but also very sad to see that none of the developers of @sysmocom (respectively also @laf0rge) has joined our efforts so far. I mentioned them just to make sure they noticed us. If they join us, I'll offer to tweet about their job offer with our official Twitter account. Closing this as solved now.

[2016-05-05 23:24] #872 closed, assigned to nobody

[2016-05-05 23:35] SecUpwN commented on #151
Thanks for your wonderful contribution, @rdarioc! Now we only need a pull request to implement the detection of that in our own app here, while at the same time prompting the users that it has been detected and if it shall be disabled. Maybe @miracle2k can help us with that?

[2016-05-06 00:18] Nordlenning commented on #847
This Backup routine is gone in v0.1.43-alpha. Permanent or temporary ?

[2016-05-06 00:20] Nordlenning commented on #837
This seems to be fixed in v0.1.43-alpha
OpenCellID API key is immediately displayed on my phone.

[2016-05-06 08:04] #847 closed

[2016-05-06 08:05] agilob commented on #847
This backup was useless anyway and potentially damaging privacy.

[2016-05-06 08:09] agilob commented on #837
1. Uninstall AIMSICD
2. Install AIMSICD
3. Go to Settings
4. Request OCID
5. New bug, after successful request where API key was saved window with 'requesting key' is not closed...
6. Press back
7. Edit OCID API key
8. Field is empty

No, there are two bugs now there.

[2016-05-06 10:01] laf0rge commented on #872
@SecUpwN I think I have dedicated more than my fair share in terms of creating FOSS GSM software during the past 8 years. I am hacking pretty much every hour awake, and despite that all existing projects get by far insufficient attention. Asking me to get involved in even more projects is out of the question.

[2016-05-06 10:58] ghost commented on #872
@laf0rge The work you guys have done to date is ground breaking and wouldn't have happened for another 10 years if you guys hadn't showed us what is possible.  Everything that was implemented on this project was from the knowledge that was shared from your hacking so your contributing to the community and lots of projects in that sense.

Great respect for you guys and hope ye bring more vulnerabil

[2016-05-06 22:42] Nordlenning commented on #854
Downloaded Latest v0.1.43-alfa from Git-hub.
Removed my old installation & clean installed v0.1.43-alfa.
connected to my WiFi.

Vent up on the menu-bar/preferences & pushed download API key.
My downloaded Key was immediately displayed in the Key Requester.
Pushed on the Main screen outside the requester to close it.
Vent up to the menu-bar again to double-check that the OCID Key was in place (disp

[2016-05-06 23:46] SecUpwN commented on #873
Indeed very strange. But given the fact that our app is still bleeding `ALPHA`, we cannot rule out false positives just yet. @He3556, what is your opinion when looking at this? Please close after answering.

[2016-05-07 01:26] Nordlenning commented on #817
This number is still in several places, This is from v0.1.43-alfa db-view
![screenshot_2016-05-05-02-11-26edit](https://cloud.githubusercontent.com/assets/17292772/15089444/a77a1bc0-13f2-11e6-9708-e052ae6cafd7.png)

[2016-05-07 02:22] SecUpwN commented on #854
@Nordlenning, thanks for xyour extensive tests regarding this Issue. Even though I am a bit speechless as of why so few people are participating to solve bugs like these, I hope @CellularPrivacy/database will have a look at this. The key will be to find out if the main cause is OpenCellID itself. And if it is, we need to find out if the move to MLS (see and particpate in #446) would solve these Is

[2016-05-07 11:06] ciarankilbride commented on #873
Im also using an app called Cell Spy Catcher which has alerted me to this network also, the cellid 689534 keeps hopping between 2 different LAC`S, namely 3030 and 30101. When this happens both AIMSICD and Cell Spy Catcher both alert me to this being hostile and a medium threat. Its only when the LAC changes to 3030 that it becomes a threat.

I have noticed in the logs that i have several cellids t

[2016-05-07 11:54] He3556 commented on #873
Hello @ciarankilbride thanks for telling us your findings. This is a typical behavoir when a false changed LAC is detected. This is a known bug and we have a workaround but no fix. What smartphone and OS version are you using?

[2016-05-07 12:04] ciarankilbride commented on #873
Using Samsung s4mini GT-19195, Android 4.4.2

[2016-05-07 12:46] #871 closed, assigned to nobody

[2016-05-07 12:59] #870 closed, assigned to nobody

[2016-05-07 15:22] SecUpwN commented on #873
@ciarankilbride, just to let you know: The app you're using is closed source and likely based on our hard work. Feel invited to contact its developer and invite him to our repository for a united effort.

[2016-05-07 15:23] SecUpwN commented on #837
@agilob, the main Issue I have with your bug reports is that you are _not_ using the bleeding edge work. Please make sure to compile our `development` branch before telling that a bug still exists. Thank you!

[2016-05-07 16:02] agilob commented on #837
lol I'm not falling into this again.

[2016-05-07 19:57] Nordlenning commented on #854
This have been a repeated issue many times for a long time.

This download problem is again in my opinion not AIMSICD fault at the current moment.
I have given pic & logs. The problem is on OCID server side. You cannot use OCID on they're own site. Try watch recently uploaded or new discovered bts on they're own site & you will see. If you watch the traffic with e.g Wireshark you will see that its

[2016-05-08 16:09] SecUpwN commented on #234
@larsgrefer, would you please tell us if this is fixed now with the move to the new `realm` database?

[2016-05-09 06:37] swampii opened #875 "Man in the middle attack, umts. Base station's"
---
#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read th

[2016-05-09 08:18] SecUpwN commented on #253
@larsgrefer, would you please self-assign this Issue to you and see if if you can fix this in `realm` now?

[2016-05-09 08:20] SecUpwN commented on #875
Good morning @swampii, welcome to our project. Sadly, I do not get what you want from us with filing this Issue. It does not seem to be related to our app in any way. Our app also does not spit out

Result: This Issue is currently `invalid`. Please clarify which app you use and what you want us to do.

[2016-05-09 08:22] SecUpwN commented on #254
@CellularPrivacy/celltower and @larsgrefer, is this Issue still valid after improvements of LAC/CID/PSC? I am asking you since the person who opened it back then has left our project for good.

[2016-05-09 18:00] He3556 commented on #863
This should become a list of Smartphones, where this false Alarm happens.

Samsung s4mini GT-19195, Android 4.4.2 (thx to @ciarankilbride)
Samsung A5 (2016) [Issue #879](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues/879) might be another problem (stuck on the same CID)

[2016-05-09 18:43] Nordlenning commented on #854
Note to new users:
If you cannot download OCID data you will get the YELLOW notification Icon.
This will turn GREEN When you get OCID db downloaded,
Same when you discover new bts, AIMSICD will notify you with YELLOW notification.
Don't worry, just keep on collecting data...

[2016-05-11 15:07] kaichunlin commented on #849
@SecUpwN I can't seem to find the option "Current Threat Level" in the app built from the development branch. Is it part of the hamburger menu options?

[2016-05-13 07:45] agilob opened #876 "Unable to scroll up in neigbouring cells view"
1. Scroll down  neighbouring cells list
2. Try scrolling up
3. View is refreshed

[2016-05-15 18:25] #264 closed

[2016-05-16 04:30] ProGamerGov commented on #630
On an older version of the app, I could see neighbouring cells. Not sure exactly what version changed that, but I can check if it would help fix this issue for some of the users.

[2016-05-20 14:26] sglanger opened #877 "Cannot install 01.43.alpha on Samsung sgh-t769"
When I follow my usual procedure of downloading the apk and allowing the unknown sources to install, i tried the Package Installer and get "Parse Error: problem parsing the package" This is on a stock, unrooted, Android 2.3.6

[2016-05-21 00:11] SecUpwN commented on #877
Good evening, I'm sorry to hear this. Please verify that the downloaded APK matches the listed MD5 sum.

[2016-05-21 01:09] SecUpwN commented on #849
@kaichunlin, thanks for having a look! I've changed it to fix #848. Do you need any other information?

[2016-05-21 01:11] SecUpwN commented on #876
@CellularPrivacy/design and @kaichunlin, please have a closer look at how this may be fixable.

[2016-05-22 16:31] kaichunlin commented on #849
@SecUpwN Since the fragment is created anew when switching between menu options, the last displayed info has to be stored elsewhere (in memory) so it can be compared to when the user switched back to DeviceFragment. Does the app currently have a place to store data that persists between Fragments/Activities?

[2016-05-22 18:31] larsgrefer commented on #877
The app requries at least Android 4.1

(the minSdk is set to 16)

[2016-05-22 18:31] #877 closed, assigned to nobody

[2016-05-23 12:19] sglanger commented on #877
it does

________________________________
From: Security: PWNED [mailto:notifications@github.com]
Sent: Friday, May 20, 2016 7:11 PM
To: CellularPrivacy/Android-IMSI-Catcher-Detector
Cc: Langer, Steve G., Ph.D.; Author
Subject: Re: [CellularPrivacy/Android-IMSI-Catcher-Detector] Cannot install 01.43.alpha on Samsung sgh-t769 (#877)

Good evening, I'm sorry to hear this. Please verify that the down

[2016-05-23 12:24] sglanger commented on #877
I wondered about that. It might be nice if it said that here

https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/wiki/Requirements

---

From: Lars Grefer [mailto:notifications@github.com]
Sent: Sunday, May 22, 2016 1:31 PM
To: CellularPrivacy/Android-IMSI-Catcher-Detector
Cc: Langer, Steve G., Ph.D.; Author
Subject: Re: [CellularPrivacy/Android-IMSI-Catcher-Detector] Cannot install

[2016-05-24 14:47] kaichunlin commented on #876
@SecUpwN @CellularPrivacy/design The problem is that an unsupported layout(`RelativeLayout`) is used within `android.support.v4.widget.SwipeRefreshLayout`

To fix this issue, I will make a non-generic version of `com.secupwn.aimsicd.adapters.BaseInflaterAdapter` such that what's currently being wrapped in the `RelativeLayout` will be replaced with a single `ListView`, and the first item of the `Li

[2016-05-24 15:28] Kaicastledine commented on #854
Hello all

Sorry for not posting back sooner.

Just updated and lost all my local databases and backups ? not sure what happened there but have removed and re added the app anyway.

However went to request a new API key to test but denied as I requested one before updating so have to wait.

Went to use my old key and have got a API key request timeout .. Might be due to it not being used as a Dev

[2016-05-25 09:11] #876 closed, assigned to nobody

[2016-05-26 11:43] Klammraute opened #879 "Permanent LAC-Change Alert, and every Cell have the same PSC"
Hello,

on my samsung A5 (2016)
i get always the Changing LAC Alert, and the PSC of all Cells are exactly the same.
since the 04.05.2016 to the 26.05.2016 i had 511 Alarms. All Cells had the PSC 2147483647, is there a BTS which is tracking me? my internet is extrem slow too with 4g and 3g.
and when i go on "gemessene Signalstärken" (measured signal strength?) the program crashes and end.
And i hav

[2016-05-26 19:25] He3556 commented on #879
Thanks for your information.

To be able to help, we need to know:
- AIMSICD version (see the About screen):
- ROM running current release:
- Link to logfile without identifiable data:

You said, the CellID never changes in AIMSICD and at the same time the LAC (of this CellID) is changing, right?
That could explain the wrong positives.

[2016-05-29 21:04] SecUpwN commented on #879
@He3556, have you tested the latest version of our app? Seems to be the case there, too.

[2016-05-29 21:07] SecUpwN commented on #264
@pchk, our app appears to detect a massive amount of missing neighboring cells now. Would you please be so kind and see if you can improve upon your already merged work? Thank you very much!

[2016-05-30 11:28] Klammraute commented on #879
here is my protocol

--------- beginning of radio
D/TelephonyManager(10113): getTelephonyProperty: return propVal='de' phoneId=0 property='gsm.sim.operator.iso-country' defaultVal='' prop=de
D/TelephonyManager(10113): getSimOperatorNumeric(): default subId=3
D/TelephonyManager(10113): getTelephonyProperty: return propVal='26203' phoneId=0 property='gsm.sim.operator.numeric' defaultVal='' prop=2620

[2016-05-30 11:30] Klammraute commented on #879
and here is where you can see that the psc is always the same
![d06f887a-068c-4730-8c2e-49a41c0c5880](https://cloud.githubusercontent.com/assets/19589850/15648404/a8ec8c4c-266a-11e6-8fdf-472191eb31fc.jpeg)
![0aea1957-bbc6-4404-ab4c-d1a9ec675c3a](https://cloud.githubusercontent.com/assets/19589850/15648407/ab3368ae-266a-11e6-9ba4-0ce7b2dec98e.jpeg)

[2016-05-30 17:27] He3556 commented on #879
This looks like the typical wrong alarm.
The PSC doesn't belong to the detection. You have a few EventLogs from different CIDs (actually from all) - so you don't have to worry - there is no BTS tracking you.

My HTC One and HTC Wildfire never had this false alarms. Thanks again for your support!
We are working on a solution.

[2016-06-02 18:32] Nordlenning commented on #870
AIMSICD WIP TEST RELEASE v0.1.43-alpha compiled from source 010616

06-02 00:44:36.491: E/AndroidRuntime(12893): FATAL EXCEPTION: main
06-02 00:44:36.491: E/AndroidRuntime(12893): Process: com.SecUpwN.AIMSICD, PID: 12893
06-02 00:44:36.491: E/AndroidRuntime(12893): java.lang.IllegalStateException: This Realm instance has already been closed, making it unusable.

06-02 01:42:49.770: E/AndroidRuntim

[2016-06-06 11:24] gopi-ar opened #881 "Unwired Labs would like to help this project with our Cell Database"
Hi there,

We run Unwired Labs, a leading Cell Tower & WiFi geolocation service. Some of our customers are in the business of detecting 'bad' cell towers and we came across your project recently.

We're open to sharing our data about cell-tower's locations to help make this detection even better.

Let me know how you'd like to explore this.

Cheers,
Gopi

[2016-06-06 14:40] He3556 commented on #881
Hello Gopi

That is a great offer! This data would help us a lot. Maybe we can email and talk about the details?
 info@dm-development.de
 i will forward it to the project organizer Secupwd.

Looking forward to your reply,
cheers marcus

[2016-06-07 10:50] gopi-ar commented on #881
Sure thing, will reach out on email.

[2016-06-07 10:50] #881 closed, assigned to nobody

[2016-06-08 22:59] WestleyArgentum commented on #855
+1 seeing this too

[2016-06-10 11:17] OliverElfe opened #882 "Many cells near home"
---
#### Agreements

- [_] *_I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [_] *_I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [_] *_I have read th

[2016-06-20 23:45] Coehill opened #884 ""Error in uploading BTS data to OpenCellID servers!""
#### Overview
- `AIMSICD` version:  0.1.4.3-alpha-normal
- Samsung Galaxy S6
- Link to logfile without identifyable data:

---
#### Reproduction

In my case, simply by pressing the "Upload BTS Data" button.
Also, on my device, in the notification tray, it usually shows "Cell ID not in OpenCellID Database

---

Log  (If I missed any personal information, please let me know):
https://ghostbin.com/pa

[2016-06-23 17:28] pchk commented on #264
@SecUpwN hi, i was offline last month. Please can you describe in details what is wrong now? Or may be thare are some opened issues with description of problems you are mentioned in the post above?

[2016-06-23 23:56] benutzer74 opened #886 "Different LTE LAC value"
First, I´m sorry to ask here, but it seems you have no mailing list?

I use AIMSICD 0.1.43-alpha-normal Build Nummer T-1939

I played around using LTE and I discovered, that AIMSICD and SnoopSnitch report two different LACs. CID differs as well in both apps.

I´m curious to know, how can that happen? Is LTE not fully supported yet?

Other question, where does AIMSICD show the used encryption metho

[2016-06-27 15:29] Coehill commented on #882
Have you tried uploading BTS data?  For me, what worked was using one of the [recommended apps from the OpenCellID](http://wiki.opencellid.org/wiki/Data_sources) wiki to record the data myself.  [inViu OpenCellID ](https://www.enaikoon.com/en/apps/plugins/opencellid/)worked well for me on Andoid.

[2016-06-27 16:19] #884 closed, assigned to nobody

[2016-07-03 15:46] Osteri opened #888 "Crash after OCID DB is downloaded"
---
#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read th

[2016-07-03 18:04] sciamano commented on #888
I see a crash too when trying to download the database. I did following: 1) clear all app data, 2) get ID-key, 3) start the DB download. At step 3 the app always crashes :(

Here is few lines from log-file, which I think are relevant

[code]

after crash, the file `/storage/emulated/0/Android/data/com.SecUpwN.AIMSICD/files/OpenCellID/opencell
id.csv` exists and contains some csv data

[2016-07-06 19:26] seanlynch commented on #489
Oh, that reminds me, I've since switched to a GSM phone so I should really start using this software :)

Even so, CDMA support would drastically increase uptake in the US, so I would still like to contribute to it. In fact, I'm willing to increase the bounty if you think that's the only thing standing in the way of getting this implemented.

It's not clear to me what the other bug is but since it

[2016-07-06 19:31] seanlynch commented on #489
I went ahead and donated $100 that you can apply to whatever you'd like.

[2016-07-06 19:52] #888 closed, assigned to nobody

[2016-07-07 00:27] Nordlenning opened #890 "AIMSICD crash in db view"
---
#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x ] **I have read

[2016-07-07 05:03] Osteri commented on #890
Nice, although this has nothing to do with #888. I was also able to reproduce this:

[code]

[2016-07-07 17:37] He3556 commented on #489
Thanks a lot @seanlynch - sorry that the project is a little bit stuck at the moment.
I guess most people are on vacation.  @SecUpwN should be back soon

[2016-07-24 21:24] He3556 opened #891 "Add Detection with UnwiredLabs API"
We have the chance to use the location service of https://unwiredlabs.com/api

My idea is to compare the cell area with the location of the phone. We can send a request (of a single tower) to the Location-API and check if the phone is in that area.
(In most cases a catcher would imitate a Base Station from far away, that is sending with a higher level than the other Base Stations around.)

This so

[2016-07-28 05:08] TPS commented on #891
Just to be clear, this is the result from #881's offer?

[2016-07-28 05:09] TPS commented on #881
Cont'd further in #891, I believe.

[2016-07-28 11:34] He3556 commented on #891
Yes but we also discussed 2 other options.
1 - we would need the absolute sending power of each station and their location.
2 - more advanced, using heatmaps as a reference for each cell tower.
But this data is not available.

[2016-08-01 06:22] jtb0324 opened #892 "Dfffg"
---
#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read th

[2016-08-10 11:18] larsgrefer commented on #892
@jtb0324 Please change the title of this issue

[2016-08-14 02:33] darkerego commented on #886
It doesn't show the encryption (yet). I also have had conflicting CID's. Not sure about that.

[2016-08-15 14:47] dllud opened #893 "Notification: re-notify only when status changes"
Current behaviour: AIMSICD issues at least two notifications every time the phone changes base stations ("detecting" followed by "status ok/bad").

Problem: People using a screen-reader (TTS) to read their notifications (visually impaired, professional drivers, etc.) are constantly annoyed by AIMSICD, to the point they are forced to either turn off the screen-reader or uninstall AIMSICD. Even when

[2016-08-16 16:22] sc4ryb3ar commented on #479
i'm kinda necro-posting here, but i'm hopeful for some information on what you guys have learned.... I am in the process of creating a custom rom, from source, which means i get the advantage of changing that source :) I am wanting to locate the code in Marshmallow that controls the "white-ification" of the statusbar notifications and turn it off?  in your guys' research, did anyone find what hand

[2016-08-16 16:44] j4s0nmchr1st0s commented on #479
Not dead
On Aug 16, 2016 11:22 AM, "Paul Ravenstone" <notifications@github.com>
wrote:

[2016-08-16 16:45] j4s0nmchr1st0s commented on #479
Call or text
On Aug 16, 2016 11:22 AM, "Paul Ravenstone" <notifications@github.com>
wrote:

[2016-08-16 16:47] j4s0nmchr1st0s commented on #479
Let the baals kiss let's go
On Aug 16, 2016 11:45 AM, "Adam D. Veritvine" <j4s0nmchr1st0s@gmail.com>
wrote:

[2016-08-16 16:51] sc4ryb3ar commented on #479
@j4s0nmchr1st0s Hangouts sent

[2016-08-16 16:51] j4s0nmchr1st0s commented on #479
Paul two for kola let's go call or text
On Aug 16, 2016 11:47 AM, "Adam D. Veritvine" <j4s0nmchr1st0s@gmail.com>
wrote:

[2016-09-01 10:09] arshadsaudi commented on #260
SecUpwN  its awesome what you contemplated to do and hats off for that. Can you tell me the status for the progress achieved for these ?

[2016-09-01 10:10] arshadsaudi commented on #260
I have commented even though the thread is closed

[2016-09-05 13:44] agilob commented on #845
Closing because it's device specific apparently...

[2016-09-05 13:44] #845 closed

[2016-09-09 01:35] darkerego opened #895 "'Hostile Service/Changing LAC' warning every time H goes to H+"
---
#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ x] **I have read

[2016-09-13 13:37] ghost opened #896 "Generic question"
Hello. Unfortunately i'm not very skilled in the field and then I would like to ask you something (I hope it is not a stupid question):

if the cell use only the WiFi, without access to other networks, this app is not necessary, right?

let me explain: I have 2 phones. the first use it to work and has a SIM card, the second is to private, and use only the WiFi and with the flight mode always activ

[2016-09-13 16:39] webcoderz commented on #896
You can intercept wifi transactions also.Perhaps not with this app
presently but with something called a pineapple or a rogue access point.

On Sep 13, 2016 8:37 AM, "AlphaOmega3" notifications@github.com wrote:

[2016-09-13 18:01] ghost opened #897 "Protection from DOS/MITM?"
Add the ability to detection of and protection against all kinds of ARP (adress resolution protocol) related attacks in WiFi Networks, like DOS (denial of services) or MITM (man in the middle). And, if detect an attack, the app turn off the WiFi

[2016-09-13 18:02] He3556 commented on #896
yes, this app is not necessary for the "wifi phone". How are you forwarding the incomming calls from phone1 (with sim card) to phone2 (wifi)?
Is there finally a App for it?
I was looking for one 2 years ago but didn't find anything that could forward to VoIP/SIP. Only Routers with sim card slot can do it, as far as i know.

[2016-09-13 21:02] #897 closed, assigned to nobody

[2016-09-13 21:25] webcoderz commented on #896
Signal might

On Sep 13, 2016 1:02 PM, "MPR" notifications@github.com wrote:

[2016-09-13 22:03] ghost commented on #896
@He3556
1) The 2 phones not communicate with each other. The first is that "official" and detectable by the State, the second is to "unofficial" and invisible.

2) The only app (which I feel decent and don't require a SIM number), which allows you to make this kind of service is called "Secure Call" (developer: "eBilge"). But there is a problem: Play Store, close-source and only 1 week free trial.

[2016-09-16 02:16] TPS opened #898 "FWIW: The Intercept's Article & Docs for a Stingray"
[The Intercept has published an article on September 12, 2016](https://theintercept.com/2016/09/12/long-secret-stingray-manuals-detail-how-police-can-spy-on-phones/) & includes web viewers to docs with some info on a Stingray's details.

Here are the links & files included:

https://assets.documentcloud.org/documents/3105793/Gemini-3-3-Quick-Start-Guide.pdf
https://assets.documentcloud.org/documen

[2016-09-17 10:43] ghost opened #899 "Downloading BTS Data occurs to a reproducible crash"
---
#### Agreements

- [x] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x] **I have read th

[2016-09-21 14:39] Nordlenning commented on #899
Hi @mpqo, This was fixed with commit  7142c6e  "fix realm query " so this is invalid..
You may test it with my latest test apk here >> Removed

[2016-09-21 14:50] ghost commented on #899
![screenshot_2016-09-21-16-47-33](https://cloud.githubusercontent.com/assets/3320229/18715961/5d06f6ea-801b-11e6-9e2b-95db6debaa6f.png)

Confirming as fixed :)

[2016-09-21 14:50] #899 closed, assigned to nobody

[2016-09-21 20:48] Nordlenning commented on #886
AIMSICD, WigleWifi, Mozilla Stumbler, InViu OpenCellID all report the same CellID when connected to LTE Cell.. SnoopSnitch has always reported different CellID for some reason.. Don't know why.

[2016-09-22 08:50] #896 closed, assigned to nobody

[2016-09-24 12:56] Ddedalous commented on #537
is this project still current

[2016-09-24 22:55] TPS commented on #70
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 22:55] TPS commented on #106
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 22:56] TPS commented on #217
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 22:57] TPS commented on #341
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 22:57] TPS commented on #317
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 22:58] TPS commented on #368
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:00] TPS commented on #362
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:02] TPS commented on #34
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:02] webcoderz commented on #362
Are you just adding this to every issue because I've gotten the same email
3 times

On Sep 24, 2016 6:00 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:03] TPS commented on #567
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:03] webcoderz commented on #34
Post this as its own issue. And refer to the documents directly not linking
to a separate issue. Its becoming spam mail.

On Sep 24, 2016 6:02 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:04] TPS commented on #504
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:05] webcoderz commented on #567
See if you can add it to the wiki or readme.txt

On Sep 24, 2016 6:03 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:05] TPS commented on #788
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:06] TPS commented on #808
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:08] TPS commented on #258
FWIW, #898 contains docs with some Stingray details.

[2016-09-24 23:12] TPS commented on #362
Sorry, @akrolla, only to those that mention stingrays specifically.

[2016-09-24 23:14] webcoderz commented on #362
I get notifications to every email sorryi jumped down ur throat
I know u are just informing . try to get the info placed in the wiki or
readme.txt thays be the best plays for it @TPS

On Sep 24, 2016 6:13 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:17] TPS commented on #34
Sorry, @akrolla.  I did so, but no 1 seems to have noticed/commented/reacted, so I'm hoping this will expose it a little more.

[2016-09-24 23:21] webcoderz commented on #34
I downloaded them all! I think they're great I understand man. No worries
hopefully we can use the knowledge gained to reverse engineer one to
properly understand its use and protocols and also to understand to what
extent of access they have.

On Sep 24, 2016 6:17 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:24] TPS commented on #567
I think I _may_ have access to do so, @akrolla, but I'm not sure where/how to do so correctly, so I'm hoping @SecUpwN will comment @ #898 with some guidance.

[2016-09-24 23:26] webcoderz commented on #567
Id lime to help with that can u send me a message with tour email so we can
correspond without dirtying up the hub?

On Sep 24, 2016 6:24 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:29] TPS commented on #567
Just communicate via #898.

[2016-09-24 23:39] webcoderz commented on #567
Fair enough
lemme star that issue.

On Sep 24, 2016 6:29 PM, "TPS" notifications@github.com wrote:

[2016-09-24 23:40] webcoderz commented on #567
You know though this is a public forum and by discussing something like
this could lead to your door getting kicked in.

On Sep 24, 2016 6:39 PM, "cody webb" cody.l.webb@gmail.com wrote:

[2016-09-24 23:45] webcoderz commented on #898
how far have u gotten with reverse engineering?

[2016-09-25 00:00] TPS commented on #898
Not at all, _I_'m not an Android coder, but I figured posting this would help _them_.

[2016-09-25 04:05] webcoderz commented on #898
Yea I'm not either I am a novice python programmer and going to school for Computer science . I also like embedded macines so it sounds like it could be a neat project

[2016-09-25 13:20] He3556 commented on #898
thanks @TPS for the links. I read it all and this manual describes a basic IMSI catcher (identifying and tracking) without the possibility to intercept voice and data transmitions. The new generation has other features that i am missing in this manual. But still a great confirmation thx

[2016-09-26 23:26] Nordlenning opened #900 "AIMSICD crash in Map view"
---
#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x ] **I have read

[2016-09-29 09:38] sajid-verveba opened #901 "TtyStream - java.io.IOException: reader closed"
TtyStream giving error for reader as closed, where it didn't opened  before -

Please check below log -

[code]

[2016-10-09 08:28] kisloid42 opened #902 "My"
---
#### Agreements

- [ ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [ ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [ ] **I have read th

[2016-10-13 01:57] Nordlenning opened #903 "AIMSICD crash in db view - BTS Measurements"
---
#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x ] **I have read

[2016-10-13 02:07] Nordlenning opened #904 "AIMSICD crash in db view - Measured Signal Strengths"
---
#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x ] **I have read

[2016-10-18 18:25] Nordlenning commented on #904
I did some further test on this issue and found that the speed of scroll has nothing to do with this.
The crash appears when you get down to measured signal nr 40, every time.
Scrolling down to 39 don't crash, but when I slowly pull up measured signal nr 40 it crash..every time.

[2016-10-18 18:27] Nordlenning commented on #903
I did some further test on this issue to and found that the speed of scroll has nothing to do with this.
The crash appears when you get down to  BTS Measurement nr 40, every time.
Scrolling down to 39 don't crash, but when I slowly pull up  BTS Measurement nr 40 it crash..every time.

Edit  After upgrading to CM 7.1.1 The crash appears when you scroll down to BTS Measurement nr 49

[2016-10-28 22:11] johnbradypresents commented on #899
I am still having this issue

[2016-10-31 02:42] darkerego commented on #899
It's been fixed for me, did you pull the latest source?

[2016-11-04 06:23] ghost opened #907 "Support Orbot(SOCKS5 proxy) to connect to the internet."
I tried your app from F-Droid, and I found that I can't download/upload anything because I use(and must)
Orbot, the Tor proxy. Please consider adding an option to define SOCKS5 and/or HTTP proxy to connect.

[2016-11-04 06:32] ghost opened #908 "Support other network type"
I read your FAQ but I can't found my answer, so I ask this:

Is AICD app detect *only* GSM network?
GSM is older than 2G. Many area in the worldwide use 3G, and developed countries use 4G/LTE.

btw I always use Orbot when I use mobile network(3G), and I don't use SMS.

[2016-11-04 17:46] darkerego commented on #907
I second this, it'd be a great feature. We have to assume that we're all being monitored for not only  collaborating on this project, but using this app in general...

[2016-11-22 02:49] TPS commented on #908
Duplicates #216; #489 & #442 track progress for CDMA & LTE, respectively.

[2016-11-22 07:24] #908 closed, assigned to nobody

[2016-11-26 16:47] mimi89999 commented on #902
This issue is an empty template. Closing.

[2016-11-26 16:47] #902 closed, assigned to nobody

[2016-11-26 18:48] mimi89999 commented on #898
I think that the @TPS wanted to link to that article: https://theintercept.com/2016/09/12/long-secret-stingray-manuals-detail-how-police-can-spy-on-phones/
(the link is broken.)

[2016-11-26 19:36] TPS commented on #898
@mimi89999 Huh, both still WFM identically. 🤷

[2016-11-26 19:58] mimi89999 commented on #898
The very first one: "The Intercept has..." points to nowhere.

[2016-11-26 20:43] TPS commented on #898
WTH?! I check on my mobile, all is ok: source link & all.  On my laptop, it's as you say: no source link. :confounded:  Anyway, edited the link back in.  All ok for you now?

[2016-11-26 20:45] mimi89999 commented on #898
Works now. Thanks.

[2016-11-30 17:08] mimi89999 commented on #892
Closing, since it is just the empty template with a random title...

[2016-11-30 17:09] #892 closed, assigned to nobody

[2016-12-04 22:14] Treer opened #909 "Any app testing advice for pipeline protesters encountering cellphone manipulation?"
There are [rumours of anti-cellphone technologies being deployed at the pipeline protest](http://www.cracked.com/personal-experiences-2418-the-standing-rock-hacks-cracked-unravels-real-conspiracy.html). Some protesters have been made aware of Android-IMSI-Catcher-Detector and will try it at the site ([example](https://www.reddit.com/r/technology/comments/5gcj40/the_police_is_spying_on_and_blocking

[2016-12-05 00:28] He3556 commented on #909
Hello Treer
thank you for opening this issue. There are Even-logs in the database when suspicious behavior is found. There are a few things to think about. I will send you an e-mail.

[2016-12-06 22:40] wmertens commented on #895
I too am experiencing this, on H+ my LAC is 112 and on LTE it's 11…

[2016-12-10 12:59] eliorsterling commented on #909
I have a device JUST for running AIMSICD and SnoopSnitch. I haven't been taking screenshots of every incident that registers because I figured I could just download the database to my computer and send it on later. Now I'm having trouble figuring out how to do that (short of reading all the code and maybe writing a database importing script myself).

Is there currently any way to move the event-lo

[2016-12-10 13:42] Nordlenning opened #910 "AIMSICD Crash in DB view"
---

#### Agreements

- [x ] **I have reviewed and accepted the [guidelines for contributing](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/blob/development/.github/CONTRIBUTING.md) to this project.**
- [x ] **I have searched the [open Issues](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/issues) and made sure I am not filing a duplicate.**
- [x ] **I have rea

[2016-12-10 14:14] mimi89999 commented on #909
@lishevita
If you have problems backing up the database, you could always backup AIMSICD using oandbackup (Backup manager) - https://f-droid.org/app/dk.jens.backup from F-Droid. (The data could then be restored on any device including an Android virtual device)

I am not sure of that since AIMSICD is still experimental software.