[2015-01-22 15:41] #295 closed

[2015-01-22 15:44] E3V3A commented on #293
I tried to reproduce this bug and now it doesn't appear. Can someone else please check?

[2015-01-22 16:06] E3V3A commented on #234
Could someone please try to provide some help on how to setup the XML + code card to show different font colors and aligning the text?

[2015-01-22 16:47] SecUpwN commented on #293
Should be **fixed** since AIMSICD spits out the correct error message: `Error retrieving OpenCellID data. Check your network!` We can expand that error message with adding something like `Check your network and firewall settings!`. Please **close this** if you consider the current message good enough.

[2015-01-22 17:02] #293 closed

[2015-01-22 17:23] SecUpwN opened #297 "Progress Bar: Not showing Progress"
Yes, we actually have a progress bar in our App! Wait, you've never seen it? It is likely because something is preventing it from working properly. I have marked in **RED** where it is located:
![progress_bar](https://cloud.githubusercontent.com/assets/6000299/5860640/9b34e170-a25a-11e4-8361-18d4ddbc75e7.png)

Our progress bar is actually quite awesome and works somewhat like the one used in the @

[2015-01-22 18:02] He3556 commented on #264
It means Medium Alert. That is in the code and i don't want change it without a clear concept.
If you start changing it here, you had to change it on many places in the code. Than we need to test again and find all the new bugs and so on...
And it is not important for the one who will implement it.

[2015-01-22 18:07] E3V3A commented on #264
We're not changing anything, we're just sticking to what [we already documented](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/11#issuecomment-44670204) , and which make programming more transparent.

[2015-01-22 21:44] SecUpwN commented on #75
@mspublic, I'm afraid I lost your email address. Please get in touch with me using my **new E-Mail address** (click my name here). This message will be deleted afterwards. Thank you very much!

[2015-01-23 00:05] SecUpwN commented on #278
![Circular Progress Bar](http://www.michenux.net/wp-content/gallery/android/dynamic/circular-progress-bar3-nggid0224-ngg0dyn-300x0x100-00f0w010c010r110f110r010t010.png) ![Circular Progress Bar](http://www.michenux.net/wp-content/gallery/android/dynamic/circular-progress-bar4-nggid0225-ngg0dyn-300x0x100-00f0w010c010r110f110r010t010.png)

The above is something @E3V3A just sent me: [Refresh item ins

[2015-01-23 01:59] E3V3A commented on #278
I want to add that it was just an idea. I'd be quite satisfied with just a blinking dot a well, as long as something is moving to show the user that the app is actually not frozen...

[2015-01-23 21:00] E3V3A opened #298 "Some BTS Measurements return CID of -1"
Some CIDs in the `BTS Measurements` table in the Database Viewer has a CID of  **`-1`**.
Not sure where and when this happens. This issue seem related to #203.

[2015-01-24 02:49] kolg opened #299 "location / signal in aimcid_locationinfo.csv not updated while the cell is not changing"
Hello,

the bug must be there since WIP-Release v0.1.25-alpha-build-9, i'm using -15 now.

I did the following: tracking cells enabled, i collected measurements around the city. Then i used the backup-function and copied the aimcid_locationinfo.csv to my computer. I noticed that the fields in "_id","Lac","CellID" and "Timestamp" are correct, but "Lat","Lng" and "Signal" are not updated until the c

[2015-01-24 13:51] SecUpwN commented on #299
Good evening @kolg, thank you for joining our Project! Would you please reproduce the error you've described above and send us the link to your logcat pasted on [PIE BIN](https://defuse.ca/pastebin.htm), please? We will have a look.

[2015-01-25 01:27] kolg opened #300 "Crash at trying to view "Measured Signal Strengths" in Database Viewer"
Description of the Crash mentioned in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/299:

What I did:

- start aLogcatROOT, pause, clear. (optional, just for the log)
- open AIMSICD, go to Database Viewer, choose "Measured Signal Strengths", press "Load Data"
- App crashes, note pops up that AIMSICD was closed.
- go back to aLogcatROOT, pause, save log.
log: https://defuse.ca/b/D

[2015-01-25 01:27] kolg commented on #299
Hello,
i suspect that you mean the logcat output of the crash? I'll do that in a separate issue because it seems to me that this is not related to the non-updated location/signal values.
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/300

Here I could give you my output .csv if you want, but i'd rather send that privately because of all the geodata included.

[2015-01-25 02:45] E3V3A commented on #300
This seem to be the problem.
[code]
However, we've been doing many changes since **b15**, so please try [this b23](https://www.sendspace.com/file/hz5d7a) one, and report back.

[2015-01-25 02:51] E3V3A opened #301 "Add more info to email when sending debug report"
Using the built-in `Debug Logger` function to see logcat entries, you can also send the result via email.
The problem? The email is missing crucial information about the device. We also need to:
 - [x]  add the output of `getprop | sort` to that email and
 - [x] ask the user to add a short message about the problem.

[2015-01-25 03:11] kolg commented on #300
alright, thanks. no problems with b23 yet, but since my database is empty, I'll go and get some new tracking data.
I'll report if something similar happens.
So I think this issue can be closed?

[2015-01-25 14:50] E3V3A commented on #215
We have to implement a minimal part of the new Database Table structure so that we can move on to the new **Beta** phase of detection development. Most of our subsequent detection mechanisms depend on the two table blocks "DBi" and "DBe".

The easiest way to do this is by:

 1. Add the tables called `DBi_measure` and `DBi_bts`, which are connected by the **bts_id** column. However, for simplicity

[2015-01-25 14:52] E3V3A commented on #215
@tobykurien  What is the purpose and use of the `locationinfo`:*Connection* column?
(Where is it used and for what?)

[2015-01-25 18:08] E3V3A commented on #253
After having attempted to lift some BTS constraints (MCC, MNC, LAC) in the boundary box used to specify which BTSs to download from OCID. (Due to 1000 BTS download limitation.) I've found that the OCID data contain a surprising quantity of "bad" measurements from strange LACs and CID, but also where both `range` and `samples` can be **negative**, without any [explanation](http://wiki.opencellid.or

[2015-01-25 18:17] E3V3A commented on #300
@kolg  Please close it if you think its working.

[2015-01-25 18:19] E3V3A commented on #299
@kolg Was this fixed in b23? In addition what you say here is kind of a duplicate of #284.

[2015-01-25 18:19] #299 closed

[2015-01-25 21:17] #300 closed

[2015-01-26 05:57] tobykurien commented on #215
It appears to be an informational column, not used anywhere.

[2015-01-26 09:19] SecUpwN commented on #301
I would like to add to that: Messages should not be able to be send without having entered an additional error description. Not sure if we can prevent opening the sharing intent before this is done?

[2015-01-26 09:22] SecUpwN commented on #253
How often will that be the case, accumulated? I mean, this is counterproductive and without clean data to be used for detection, we'd be getting numerous false alarms and possibly a shit-storm of users...

[2015-01-26 16:39] He3556 commented on #253
No it is no problem If there are to many and maybe false BTS in the DB. Only If there are BTS missing in the OCID DB, this would be a problem. We need to use the lan/lon from the GPS Sensor to calculate the BTS in the area (for example 20km) If the user changes its position (for example 10km) we simply need to calculate again and add the BTS. Thats all

[2015-01-26 16:44] He3556 commented on #253
Why do we need to call it RAT ? Nobody will understad it + we show RAT = 2 for UMTS or is it LTE? Sometimes we should just keep things Like they are and Not change it again and again.

[2015-01-26 17:28] E3V3A commented on #253
Well, yes, that is a valid question, but the `RAT` term is much more common than `RAN`, which is the more accurate one. In the code we have, we use `RAT` to indicate the numerical value, whereas we use `Type` as the text. The flow chart above is obviously code, which is the reason I use RAT there. Then in the `DB Viewer` for OCID (*DBe_import*) we (or at least I) try to make the info as compact as

[2015-01-26 22:12] E3V3A commented on #203
Ok so I think this could also be a timing issue. So we may get these LAC/CID values of "0" or "-1" when:
 1. Before mobile set (radio modem) is properly enabled **or**
 2. before AOS API has received new LAC/CID from baseband.

So lets summarize what we need to do:
 * **IF** the LAC/CID are really coming from the network, then we should filter as follows:
    - For GSM/UMTS/LTE we should only acce

[2015-01-27 00:21] E3V3A commented on #203
https://github.com/mozilla/ichnaea/pull/399

[2015-01-27 03:39] E3V3A commented on #301
@SecUpwN
I added the message and also tried to add the "getprop" output in the same email, but for some reason the result is empty. Perhaps @tobykurien can have a look, as this seem trivial. Please note that this code is now in the newly created `DevTest` branch.

[2015-01-27 03:43] E3V3A commented on #297
I'll look into it. The problem is that you need some kind of feedback from the process, and when it comes to the HTTP fetching, there is no feedback until either failed or done, AFAICT, but I could (hopefully) be wrong. Perhaps this can be done with timer or something...

[2015-01-27 03:46] E3V3A commented on #290
If you can pinpoint me to the code that is doing the CID check, I can have a look at it.

[2015-01-27 11:43] tobykurien commented on #301
@E3V3A pipes don't work when executing shell processes this way. Also, copy & pasting code is the worst mistake you can make when coding, so please don't do that in future.

[2015-01-27 18:33] SecUpwN commented on #297
From a programing perspective, how tifficult is it to implement the launch of the progress bar when hitting `Download Local OCID Data` and finishing it when result is either `failed/no internet` or `success`?

[2015-01-27 18:38] SecUpwN commented on #253
@E3V3A and @He3556 just as a reminder: If you are going to use any new or old terms either in coding or while descibing our App anywhere, please make sure we have that in our [Glossary of Terms](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Glossary-of-Terms).

[2015-01-27 19:51] E3V3A commented on #301
@tobykurien  Thanks a lot for that PR and for cleaning up my code. I had no idea pipes doesn't work. (Why not?) Also, C&P is the only way for me to make any progress on my own, when I don't have any input for advice, even if I know it is bad coding practice, but I've gotta learn somehow...

So one question remain. Can we also sort the `getprop` list? Something like:
[code]

[2015-01-27 19:59] E3V3A opened #303 "Smarter handling for multiple OCID data download requests"
We need to handle the data download for getting OCID data into our `DBe_import` table. The reason is the 1000 BTS limit as imposed by the free OCID API. However, there is another request available that can count how many cells are available for a certain boundary box query. Then we can re-query using their index, to get more cells that the 1000 limit. I've refrained form labelling this as a bug, s

[2015-01-27 19:59] E3V3A commented on #297
Actually this brings up a new issue..  #303.

[2015-01-27 20:13] E3V3A commented on #253
I've created a separate issue #303 for better handling of OCID downloads. In addition I've gotten a positive response, from OCID maintainer, explaining the issue with negative values.

[2015-01-27 23:51] E3V3A commented on #303
The OCID API for getting the [number of cells in an area](http://wiki.opencellid.org/wiki/API#Getting_the_number_of_cells_in_a_specified_area)  is queried with:

[code]
This query return either XML (by default) or JSON as in above. So we only need to grab the result with a regex and loop *`Math.floor(N/1000)`* full times, and partially the remainders like [this](http://stackoverflow.com/a/25678502

[2015-01-28 18:24] tobykurien commented on #301
Is it really important to sort the getprop? If so, I can look into it (yes it's possible).

[2015-01-28 19:51] E3V3A commented on #301
Of course not, but I thought it would be simple as a pipe. :)

[2015-01-28 22:56] E3V3A commented on #253
For the list of `RAT` versus `Type` check [THIS](http://developer.android.com/reference/android/telephony/TelephonyManager.html) developer page.

| RAT | Type |
|:--- |:---- |
0   | unknown
1   | GPRS
2  | EDGE
3   | UMTS
4  | CDMA
5 | EVDO revision 0
6 | EVDO revision A
7  | 1xRTT
8   | HSDPA
9   | HSUPA
10  | HSPA
11  | iDen
12| EVDO revision B
13  | LTE
14 | eHRPD
15  | HSPA+

 * In the *old* d

[2015-01-29 21:42] E3V3A commented on #301
@tobykurien  Can you please have a look at why the entire log is cleared on every update instead of showing last 1000 lines?

[2015-01-29 21:44] E3V3A commented on #298
I'm closing this, because 7f7774a20123f58654a99c232bdf8ffc40356395 should fix this.

[2015-01-29 21:44] #298 closed

[2015-01-29 21:46] E3V3A commented on #297
I looked at this, and I can't see why it's not showing. Perhaps it's doing the download/update too fast to be seen/shown or the max progress value is getting initiated wrong? I think @tobykurien understand this much better than I. Can you please have another look?

[2015-01-29 21:50] E3V3A commented on #292
I've now implemented:  **range, changeable** and **radio**. I don't know if we need the others, and I still didn't get any clarification of the difference between "cellid" and "cid" from @msemm...

@He3556  Can you check if we need any other from here, and why? (If nothing, we can close this.)

[2015-01-29 21:53] E3V3A commented on #290
I have now implemented (7f7774a20123f58654a99c232bdf8ffc40356395) a Boolean system *property* called: `aimsicd.ocid_downloaded`.  @He3556  Can you point me to the place where you think this check is/should be done?

[2015-01-29 21:56] E3V3A commented on #284
@tobykurien Can you please have a look why this table is not updated with the current BTS (LAC/CID), when it is clearly present in the first page `Phone/SIM Information`? (I've looked briefly, but I don't quite understand the polling mechanism properly. Are we polling or waiting with a listener?)

[2015-01-29 21:59] E3V3A commented on #253
I've now implemented (7f7774a20123f58654a99c232bdf8ffc40356395) the "avg_range, isGPSexact, Type" columns to the `opencellid` (*DBe_import*) table.

[2015-01-29 22:15] SecUpwN commented on #253
Great thing, thanks for still rocking the hard things! Please don't forget to mention the things that are still missing until the Issue can be closed, otherwise developers will just sit there any monitor this.

[2015-01-29 22:32] E3V3A commented on #206
Apart from the items in [this comment](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/206#issuecomment-67722728) already documented, we can close this issue...

[2015-01-29 22:32] #206 closed

[2015-01-29 22:35] E3V3A commented on #203
Please check the latest internal build >26. I think I've fixed this in 7f7774a20123f58654a99c232bdf8ffc40356395 . @He3556  Please re-open this if you're not happy.

[2015-01-29 22:35] #203 closed

[2015-01-29 22:37] E3V3A commented on #174
@SecUpwN  or @d-mariano  I need some input here. That input should consist of a simple PoC code to make a pop-up screen like the one we already have for the "Disclaimer"...

[2015-01-29 22:40] E3V3A commented on #166
@He3556  Can you please review this and give some feedback. AFAICT, # (2) has it's own issue and the rest seem fixed or outdated/non-relevant?

[2015-01-29 22:42] E3V3A commented on #137
@andr3jx  Any news? Where should that code go? Are you working on it or waiting for someone else to do it? Feedback please.

[2015-01-29 23:17] E3V3A opened #307 "Missing bonuspack_bubble Error in logcat"
I'm getting the following error in logcat:
[code]
What is that? It seem related to OSM... [Here](http://osmbonuspack.googlecode.com/svn/trunk/OSMBonusPack/src/org/osmdroid/bonuspack/overlays/Marker.java) is the relevant code causing this message. And [here](https://code.google.com/p/osmbonuspack/wiki/Tutorial_0) is some other related info.

@ziem Do you have any ideas about this?

[2015-01-30 04:43] SecUpwN commented on #206
@E3V3A, why are you closing this if not fully solved? Noone will have a look at it any longer!

[2015-01-30 04:51] SecUpwN commented on #307
I digged around and found [this Issue](https://code.google.com/p/osmbonuspack/issues/detail?id=58). When does the error occur exactly?

[2015-01-30 06:58] ziem commented on #307
https://code.google.com/p/osmbonuspack/wiki/HowToInclude

I didn't include this files because map viewer doesn't display any kind of "bubbles" (InfoWindows).

[2015-01-30 07:11] E3V3A commented on #307
That's what I thought,  which make me wonder why we get that error. After looking at the link, perhaps there is a setting we've missed somewhere, that tell osm not to look for this bubble...

[2015-01-30 07:17] ziem commented on #307
I will fix it ASAP.

[2015-01-30 18:16] ziem commented on #307
In order to remove this error I have to add to project all files listed above. Is it ok?

[2015-01-30 20:37] E3V3A commented on #307
Hi @ziem, thanks so much for looking into this. The code that checks this is:
[code]
So I guess from what you say is that there is no way change the `mDefaultInfoWindow` somehow to avoid this? If it's not possible, then go ahead and add the code. Only those files right? If so, then please re-sync and make the PR to `development` branch.

[2015-01-30 22:09] andr3jx commented on #137
@E3V3A No news. The code should help to decide if we need to take the GSM or the CDMA case. I'm not working on it at the moment. I would prefer that someone does it but I could do some tests next week.
If you ask why tobykurien was unassigned by me, maybe because I misclicked somewhere while browsing the issues.

[2015-01-31 04:04] He3556 commented on #290
It used to be here:
https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/229e1f84b65e25374293a563006653b0df62a219/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L299
But since 19.01. we have the detection here:
 https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/6c492fc1598749bccce0554d78547311c6592a18#diff-9386af9ad86862d793ce1c985d760babR759

We should

[2015-01-31 12:43] ziem commented on #307
Done.

[2015-01-31 13:16] Gitschubser commented on #292
id,mcc,mnc,lac,cellid,lat,lon,created_at,measured_at,signal,rating,speed,direction,radio,ta,rnc,cid,psc,tac,pci,sid,nid,bid
54ac0e710cf296cabe3a80b3,262,1,21115,2666627,48.796281,9.202933,1420562010000,1420544835000,-89,,1.0,234.0,UMTS,,40,45187,,,,,,

cellid=2666627 (28 Bit)
cid=45187 (16 Bit)

Mod(cellid/65536) = cid

[2015-01-31 13:59] SecUpwN commented on #307
Huge thanks for your awesome contributions, @ziem! Will merge this in a second.

[2015-01-31 13:59] #307 closed

[2015-01-31 14:00] SecUpwN commented on #292
@Gitschubser, thanks, but your comment above is currently like throwing a rock at us. What is it?

[2015-01-31 14:35] E3V3A commented on #292
@Gitschubser  Thanks a lot, that explains it perfectly! I wish that info had been found in the API pages and not hidden away with different labels on the [FAQ](http://wiki.opencellid.org/wiki/FAQ) page. ;)

**Long CellID vs. short Cell ID** (CellID vs CID):

[2015-01-31 14:44] Gitschubser commented on #292
Sorry, i thought that are simple basics here.
The cellid (UMTS) 2666627 (28 bit) includes the rnc 40 and the cid 45187 (16 bit).

rnc = cellid/65536
cid (16 bit) = modulo(cellid/65536)

2666627/65536=40,689 -> rnc = 40

Modulo: http://en.wikipedia.org/wiki/Modulo_operation
rnc: Radio Network Controller http://en.wikipedia.org/wiki/Radio_Network_Controller
Bit: http://de.wikipedia.org/wiki/Bit or h

[2015-01-31 14:47] SecUpwN commented on #292
@Gitschubser, thanks that was perfect. SCubs on! :smile:

[2015-01-31 21:24] E3V3A opened #309 "Manual GPS location entry to prevent GPS blockage"
One weakness of our app is that it's downloaded data and map function relies on you having a well defined GPS location,which normally means a working GPS position lock-on. Unfortunately it is very easy to jam GPS signal today with [devices](http://www.pki-electronic.com/products/product-category/jamming-systems/) like this:

![6080-500x500 1](https://cloud.githubusercontent.com/assets/194392/59898

[2015-01-31 21:46] #301 closed

[2015-01-31 21:48] E3V3A opened #310 "Debug logger repeatedly clears logcat window"
For some reason after some modification by @tobykurien the entire log is cleared on every screen update instead of showing last 1000 lines. But the log should only be cleared from user button.

[2015-01-31 22:24] He3556 commented on #264
i have an idea of a fast implementation of this. If a NC List is (of a GSM Tower) is present we set the  property "NC-list present" to "1". If there is a tower without NC List and the value is "1" we have a detection. I will try to implement this and test it also, asap.

[2015-02-01 00:38] benutzer74 opened #311 "AIMSICD just is awesome"
What makes AIMSICD so awesome in my mind is the fact it does not need a rooted device!
This just is great. Many people don´t want to mess with their devices and don´t want to root it.

I just went back to stock Sony ROM on my Xperia and AIMSICD works flawlessly without root :-)

But, how can it work without root? Don´t you need access to baseband logs? Snoopsnitch needs access to baseband logs and

[2015-02-01 00:52] E3V3A commented on #264
This is a very good idea. But the flag as you describe it above should probably be implemented in the `DBi_measure` table. The other flag (NC list) `unsupported` flag in #100 in [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/100#issuecomment-67913431) diagram, is referring to HW/SW support as described in #235.

[2015-02-01 01:06] He3556 commented on #264
Yes why not. We can add the value "NC-list present" into the DBi_measure table. But than we need a query to see if the last BTS provided a list. If we have a property it is always the same check. So less possibilities of errors. And the DBi_measure table will be growing over the time. Could be faster to use a simple check of "NC-list present" value.

[2015-02-01 01:07] E3V3A commented on #311
Dear @benutzer74,
Thanks for those great compliments and feedback. We're indeed very happy to hear that our App also works on a non-rooted device. However, as it is not meant to do this fully, due to technical restrictions, you will eventually find some limitations, regarding backup of database and accessing AT interface (not currently working anyway), and access to some system properties which im

[2015-02-01 01:07] #311 closed

[2015-02-01 01:09] E3V3A commented on #264
Sorry, then I don't understand what you mean with "property". Where is this property stored and how many are we talking about? For me a property is `getprop`.

[2015-02-01 01:13] He3556 commented on #264
we just need one value for that. If there is another place for saving a boolean let's do it somewhere else. We don't save our configuration (preferences or flags) in the db, or did this change the last days? Many things happened, it's hard to follow the changes.

[2015-02-01 12:02] SecUpwN commented on #309
I'd prefer it that way. A window should appear tellling the user what just happened and ask for the GPS location. But how shall a user know the exact GPS coordinates without enabling GPS? Hard thing to know!

[2015-02-01 20:32] E3V3A commented on #309
Not really. Open the map, and drag the guy to your current location. Easy speaking. The practical implementation is the hard part.

[2015-02-02 11:15] E3V3A commented on #290
@He3556  So should I remove all [these](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/229e1f84b65e25374293a563006653b0df62a219/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L290-L301) lines? (See c81490c02fba7ec083195b68b579da59698f34ea .)

[2015-02-02 11:24] He3556 commented on #290
Yes, this lines made their job pretty good but we don't need them anymore.

[2015-02-03 09:20] SecUpwN commented on #151
I've just received an answer from Mr. Wang, the creator of the App [Disable Service(https://play.google.com/store/apps/details?id=cn.wq.disableservice&hl=en). He said that his App has a very simple functionality and basically does these things:

1. Use [getRunningServices](http://developer.android.com/reference/android/app/ActivityManager.html#getRunningServices(int)) to get all running services
2

[2015-02-04 01:15] E3V3A commented on #151
This is great, but unfortunately this seem to be just the [top of the iceberg](http://developer.android.com/google/gcm/index.html). A recent review of my Samsung device [Android permissions](http://census.tsyrklevich.net/devices/247/permissions), was really jaw dropping as well. While providing useful insight into why certain other things doesn't work.

[2015-02-04 12:12] SecUpwN commented on #151
@E3V3A, I vote for adding detection and protection against this one and on adding the core features of our App as a priority. We can (and should) open separate Issues for the other attack vectors and then see how we can possibly add countermeasures for these if relevant to IMSI-Catchers and remote attacks.

[2015-02-06 17:25] He3556 commented on #290
I was testing the App today, while i was driving around. After leaving a 15km radius i had to manually download more towers, because i had the CellID detection (Bug) again. Maybe we need to think about a automated downloading in the background. Maybe after leaving a 5km radius?

[2015-02-06 19:28] SecUpwN commented on #290
That would mean we'd have to have internet connection enabled. Not good. What happpens if it is disabled? People would still drive home and file a bug report or tell that they "detected something".

Not sure if there is a way of downloading a larger part of the database, maybe for the whole country?

[2015-02-06 23:20] banjaxbanjo commented on #69
This might come useful for people if you want to send silent flash sms, easier than an android app that doesnt work on 90% of phones. Code is alpha https://github.com/banjaxbanjo/smsfuzzer check my other reps for model of phone and modem

[2015-02-07 01:33] E3V3A commented on #290
Great idea. But this brings us straight to #303. As we've already discussed in the past, we should not expect to have good detections without false-positives when moving around. But the data need to be there. But there is no sensible or decent way to download all the BTSs from a whole country, so we have to take it piece by piece.

[2015-02-07 01:41] E3V3A commented on #69
@banjaxbanjo  Hi Paul, you surely have some cool stuff there, but we need to **detect** *Type-0* SMS, not send them. Would be great if you can find a way to use your python script from inside the phone...

[2015-02-07 02:10] banjaxbanjo commented on #69
@E3V3A Hi Mate, Maybe it will come in useful for people to debug and catch the silent sms that they send to the device with this app installed. Havent put to much into android yet but if your phone/tablet can power the $10 dongle with otg cable you can send these sms with the terminal app via command line. Working on android app to control modem directly soon.

Nice project and some sort of defens

[2015-02-07 02:40] E3V3A commented on #69
@banjaxbanjo Perhaps we can use [SL4A](https://code.google.com/p/android-scripting/) and Python. or [P4A](https://github.com/kivy/python-for-android) or https://github.com/qpython-android ??

[2015-02-07 19:16] He3556 commented on #290
The sad thing is, they already have it their API. But only if our APP would contribute data to them. http://wiki.opencellid.org/wiki/API#Getting_the_list_of_cells_in_a_specified_area

[2015-02-08 12:47] systemcrash commented on #86
Status of #23 is difficult to follow.

Which if clause do I need to change to test whether current code-base works more adequately on this platform? /HTH

[2015-02-09 08:06] Hallamann opened #313 "Error when installing the apk file"
After downloading the latest version on my device, I tried to install it. Android (version 4.0.3) asks me whether I want to install the package or verify and install the package. Both actions fail with an error message saying "error when parsing the package". So I cannot install the software.

[2015-02-09 12:37] SecUpwN commented on #313
Thanks for testing our App, @Hallamann! Here a re a few questions I#d like you to answer:

1. From where did you download the package?
2. Have you made sure that the MD5 sum matches?
3. Which device are you using? Please follow [this](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues).

[2015-02-09 12:58] E3V3A commented on #313
@Hallamann  Our App is only supported from Jelly Bean (API **17**) and up. I think you're using old Ice-cream Sandwich...  Please update your AOS and try again.

[2015-02-09 12:58] #313 closed

[2015-02-09 16:56] muleyryan commented on #69
Hi guys. I'm running replicant 4.2 on my gt-i9100 device. I'd love to help. Let me know what I can do (I don't have hushsms or a second phone).

[2015-02-09 18:43] E3V3A commented on #69
@muleyryan  Hi! You can:
 1.  Try to install App and see if it works at all.
 2. Find a friend with a rooted phone and use HushSMS and ask him to send you some silent SMS'es. Then look in logcat and see if you see something... Report back.

[2015-02-09 18:47] E3V3A commented on #251
I think (?) this is related to the Google permission:
[code]
Unfortunately it is not clear what the `Google Service Map` really is and is doing...

So then we have to find out how we can use that to automatically "Disagree".

[2015-02-10 04:22] E3V3A commented on #178
It appears there is something wrong with the `MTI=0` assumption. Perhaps the line:
[code]
should be:
[code]
?

Please read the 3GPP/GSM [03.40](http://en.wikipedia.org/wiki/GSM_03.40) specifications.

[2015-02-10 21:01] SecUpwN commented on #310
Doesn't happen to me on the latest version. Feel free to re-open should this persist.

[2015-02-10 21:06] SecUpwN commented on #290
Strange. I wonder why I still get the warning `Cell ID does not exist in OpenCellID Database` even though I've downloaded it. Is anyone experiencing the same on our internal build `0.1.25-alpha-build26`?

[2015-02-10 21:13] E3V3A commented on #310
Well it's still there.

[2015-02-10 21:58] E3V3A commented on #100
A well written comment about PSC from [StackOverflow](http://stackoverflow.com/questions/9701777/cellid-and-lac-psc-for-3g-neighboring-cells-in-android):

This complicates the collection of NC data when on UMTS networks... It may also explain # 208.

[2015-02-11 01:28] penguinpowernz opened #317 "Adding data to gsmmap.org"
Hey guys I was wondering if you, or if you plan to, support adding data to the [gsmmap.org](http://gsmmap.org) site.

Or maybe a site that shows live data of where IMSI Catchers are detected by this app (and hopefully others) so that people can look at the map and know to stay away from those areas.  I am not sure if such a site exists, but it would be cool to help make one.

Cheers

[2015-02-11 01:38] SecUpwN commented on #317
Good morning and thanks for showing your honest interest, @penguinpowernz! Your idea is great, but unfortunately not every project seems to be so open -minded like we are. Please see [Similar Projects](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Similar-Projects) to get a feeling why that is. But don't count on me here, rather wait for @E3V3A to add his own thoughts as well. Than

[2015-02-11 10:29] SecUpwN commented on #278
Here is **another idea** called [CircleProgress](https://github.com/lzyzsd/CircleProgress):

![CircleProgress](https://raw.githubusercontent.com/lzyzsd/CircleProgress/master/demos/circle_progress.gif)

[2015-02-11 14:56] chadmiller opened #318 "null deref on unrooted-device exec failure"
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.StringBuffer.toString()' on a null object reference
            at com.SecUpwN.AIMSICD.utils.ChildProcess.getResult(ChildProcess.java:166)
            at com.SecUpwN.AIMSICD.utils.CMDProcessor.runSuCommand(CMDProcessor.java:70)

[2015-02-11 17:54] SecUpwN commented on #318
Thank you very much for your work and **WELCOME** to our project, @chadmiller! Please make sure to develop on branch `development` in the future, otherwise I will have to always sync back and forth or mess up things. Nevertheless, we very much appreciate you polishing our code - wanna give the other [Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) some pull request love, t

[2015-02-11 17:57] #318 closed

[2015-02-11 21:55] E3V3A commented on #317
Hi @penguinpowernz ! Sure, supporting gsmmap, would be really nice. But you'd have to provide the details about their API and how we can upload our data there. As we're a very small team, we simply don't have time to add new features without your help. Same thing goes for the live map. It sound easy to implement in theory, but time consuming for the non-expert.

[2015-02-12 05:03] penguinpowernz commented on #317
Yea I'm sure I would be able to track down API details and all the required information etc. But I have no experience with programming on Android I'm afraid - much prefer the web side of things.  I have read your roadmap and everything and can see how you guys are time limited, definitely have the work cut out for you and it is much appreciated.

I reckon the live site idea would be awesome, espec

[2015-02-12 10:03] banjaxbanjo commented on #178
@E3V3A hey mate, question are ye using the broadcast receiver to catch the silent sms? The receiver wont detect my silent sms sent from my app or wap push sms?

[2015-02-12 17:23] E3V3A commented on #178
@banjaxbanjo I think so, but since I didn't develop the code for it, I'm not sure. If you can see it in logcat (as explained in issue #69), you should be able to detect it. Can you? The latest commits fixes the issue where any SMS with MTI=0 is detected as silent, which is wrong. We haven't made any release or tests with this yet...but I expect us to be able to close this when we do.

[2015-02-12 17:55] banjaxbanjo commented on #69
@E3V3A The good news is it can be picked up with logcat but I dont think the broadcast receiver method will capture it since the sms is discarded before its sent to the broadcast receiver..
*** logcat data
W/GSM     (  630): MWI in DCS for Vmail. DCS = 192 Dont store = true vmail count = 0
V/GSM     (  630): SMS message body (raw): '@Z£Hì@ò@f@0¥Δø¡9'
D/SMS     (  630): New SMS Message Received
D/S

[2015-02-12 18:30] banjaxbanjo commented on #69
@E3V3A The good news is it can be picked up with logcat but I dont think the broadcast receiver method will capture it since the sms is discarded before its sent to the broadcast receiver..
*** logcat data
W/GSM     (  630): MWI in DCS for Vmail. DCS = 192 Dont store = true vmail count = 0
V/GSM     (  630): SMS message body (raw): '@Z£Hì@ò@f@0¥Δø¡9'
D/SMS     (  630): New SMS Message Received
D/S

[2015-02-12 19:01] banjaxbanjo commented on #178
@E3V3A

Deleted and reposted commet here

The good news is it can be picked up with logcat but I dont think the broadcast receiver method will capture it since the sms is discarded before its sent to the broadcast receiver..

*** logcat data
W/GSM     (  630): MWI in DCS for Vmail. DCS = 192 Dont store = true vmail count = 0
V/GSM     (  630): SMS message body (raw): '@Z£Hì@ò@f@0¥Δø¡9'
D/SMS     (

[2015-02-12 20:30] snarpel opened #321 "Kaspersky doesn't like you"
I don't know if you're aware of this, but here's what Kaspersky anti-virus says after install of 0.1.24-a-b6.

![screenshot_2015-02-12-20-55-56](https://cloud.githubusercontent.com/assets/10982664/6176211/451579cc-b2fd-11e4-8d52-30ae1f4a3f87.png)

[2015-02-13 00:08] E3V3A commented on #178
That's what I want to do, and in fact started to do in Bash (mksh) script. But we need to do this in java. Also, according to @tobykurien, there seem to be some issues, when using unix pipes ("|") from SU command line within Java. This is probably also deeply related to the AT command issues #23 we're having, where we're trying to parse the output of `ls | grep ...` like constructions, while shell

[2015-02-13 00:18] E3V3A commented on #321
@snarpel  Hi and Welcome. Thank you very much for reporting this to us.
However, my first comment is: `Ha ha ha, idiots!`

Our second comment is that they should really tell you why they flag this app in that vague way. Is it because we have to use extensive permissions to read intercept SMS and some device properties, or because we use `su` so we can make use of rooted phones, or some other reaso

[2015-02-13 00:18] #321 closed

[2015-02-13 02:06] E3V3A commented on #290
@He3556  Please open a new issue for your [comment](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/290#issuecomment-73277485)?

We need to trigger a new download request when GPS has moved ~1 Km. There is no framework for this yet AFAIK, so someone has to step in and code up some...

[2015-02-13 08:25] banjaxbanjo commented on #178
@E3V3A what i do is spilt the incomming buffered data by a new line this leaves me with an array of Items from there I look for a string that contains unique id's like [GsmSMSDispatcher]isTypeZero=false. No grep or anything like that is needed then and is all parsed by android api.

[2015-02-13 10:03] He3556 commented on #290
I think it is better to keep it (talking about the bug) all in one place.
For getting the cells of the area, we can use the BBOX thing. The automatic download (when the location is changed) itself is not implemented. Well, i would rather download to much cells than less cell towers.

But ok, when the radius is smaller, than we have to check more often if the location of the user has changed. Can w

[2015-02-13 10:16] E3V3A commented on #290
Well it seem that the discussion is constantly regressing to `"I'm driving around in my car and I'd like to detect a false BTS."` This is not possible, unless we implement ALL the detection from the list. So if you wanna be able to do anything at all right now, we'll have to stay put, and not leave the CID/LAC on purpose, which is exactly what you do when driving around. Also what you describe is

[2015-02-13 10:33] He3556 commented on #290
The same LAC? How do you know the cell 100m away has the the same LAC or maybe not? Maybe another local area code starts right there.
That is no argument.
And sorry but the yellow alarm when the db is not downloaded looks like a bug for the users - and we can not tell the people they are not allowed to change the area when the app is running.

[2015-02-13 10:38] E3V3A opened #322 "Immediate listener dump of all cell info to DBi_measure table"
Apparently we're not using the phone state listeners to immediately populate the measurement table (**new**: `DBi_measure` and `DBi_bts`, **old**: `locationinfo`). Instead this seem controlled by some kind of polling mechanism, which is way to slow (25 seconds by default) to detect anything interesting.

This is very unfortunate as it means:
 1. We cannot get the latest current cells in the `Datab

[2015-02-13 11:49] banjaxbanjo commented on #178
@E3V3A I will work on a class that monitors logcat to parse data and extract any useful sms data. This asynctask class can be started and stopped from the main activity or where ever. It continuously gets data from logcat -d radio if a type 0 or silent sms is detected the onprocessupdate can be called and from here you can talk to the main activity to alert user about sms.

[2015-02-13 14:25] E3V3A commented on #137
@andr3jx  Please go to test room and test b29 and see if it has resolved this issue.

[2015-02-13 14:50] E3V3A commented on #178
@banjaxbanjo Your logcat is interesting because it looks different from what we have seen so far. What kind of device do you have? Give me some data so that I can fill this [Test Device](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Testing-Devices) table out.

In my [bash attempts](https://github.com/E3V3A/CounterCat/blob/master/catch0sms.sh) to scape logcat I've been using string

[2015-02-13 14:58] E3V3A commented on #310
It's kind of working, but it is cleared when first started, which is bad since you'll miss any previous errors. The Java code used for this activity is just way too obscure for me to deal with...

[2015-02-13 15:08] E3V3A commented on #297
Looking at the part that is supposed to do the downloading, [this line](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/2fd528115526d666fe8e3337345942e2f1359539/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java#L828) yields 0, which is probably why there is no ProgressBar shown from subsequent lines. (I commented out those lines.)

[2015-02-13 15:22] banjaxbanjo commented on #178
@E3V3A can you contact on my github email mate i can send you my debug info etc..

[2015-02-14 15:36] E3V3A commented on #178
@banjaxbanjo I've lost you email. Can you please send me a new one. Make sure your email is in the body as well, since I use a spam masked email.

[2015-02-14 16:03] banjaxbanjo commented on #178
@E3V3A its on source of my apps on github mate. Look at the interceptor app too for low level class. I will send you video of it in action when i get your email addres.

[2015-02-14 18:24] E3V3A commented on #23
Just as a reminder, [here](http://stackoverflow.com/questions/16173387/android-child-process-logcat-keeps-running-after-parent-process-app-died?rq=1) is one way to kill shell processes from within Java...

[2015-02-14 18:56] E3V3A commented on #178
Message sent and Awesome video!

[2015-02-15 18:07] SecUpwN commented on #321
@snarpel, thanks for reporting this to us. Would you please be so kind and submit to Kaspersky that our App is being detected as a false positive? Although I coonsider having an aantivitus scanner on your phone is likely to be a little overkill, I am also using one and can recommend [Avast Mobile Security](https://www.avast.com/free-mobile-security) which plays along nicely.

[2015-02-15 23:12] E3V3A opened #323 "FC when hitting "Home" button during BTS map info"
We get a FC when hitting the Android "Home" (middle) button, while the detailed BTS view in `Antenna Map Viewer` is shown.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8604098-fc-when-hitting-home-button-during-bts-map-info?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties v

[2015-02-15 23:28] E3V3A commented on #317
@penguinpowernz  Any news?

[2015-02-16 04:14] E3V3A opened #324 "Better standard TAG for logcat events"
We need better and more clear Log TAG's when adding debug output code like this `Log.x(TAG, "...")`. I suggest we standardize it to:
 1. For ***Log.d/v*** use:  `Log.x(TAG, mTAG + "your info text")`
 2. For ***Log.i***   use:  `Log.i(TAG, "your info text")`
 3. For **alerts**  use:  `Log.e(TAG, "ALERT! your info text")`
 4. For **errors**  use:  `Log.e(TAG, "ERROR! your info text")`

where:
[code]

[2015-02-16 04:24] E3V3A opened #325 "Truncate measured and used Lat/Lon GPS coordinates"
There is no reason to have, use or store 16 decimal digits to the Lat/Lon GPS position, ever. Especially since the GPS accuracy is rarely better than 1-10 meters.  Thus, because the approximate [maximum precision](http://en.wikipedia.org/wiki/Decimal_degrees) of decimal Lat/Lon GPS values only varies between 11 to 0 meters, when using 4 decimal places, in going from equator to the pole, we can be

[2015-02-16 11:07] scento opened #326 "Application crashes constantly, when network location provider is unavailable"
I experience constant crashes, as long as the location tracking service of AIMSICD is active. This seems to be related to [this line](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/master/app/src/main/java/com/SecUpwN/AIMSICD/service/LocationTracker.java#L102) of code.

**Versions:**
* Device: Hammerhead (Nexus 5, GSM)
* RIL: 56
* AIMSICD: 0.1.25-alpha-b15 *(self-compiled)*
* ROM: A

[2015-02-16 11:19] scento commented on #326
I realized that this was already fixed in *0.1.25-alpha-b28* 0ca39a20518c6d0f9fd174b8758c4e5661b3a6e8.

[2015-02-16 11:19] #326 closed

[2015-02-16 12:14] penguinpowernz commented on #317
Hey still looking for the GSM Map stuff... there is no API as such, but there is an upload form.  Just trying to find some details on format of the file (for CSV) by looking through the source code, as there are no details on their Wiki.  I'll email them if I don't have much more luck.

[2015-02-16 12:22] E3V3A commented on #326
Thanks @scento for keeping an eye and reporting! I'm glad you found it was fixed even though we haven't made any release lately. Keep up the testing.

[2015-02-16 12:48] SecUpwN commented on #317
A quick search turned up that the seems to be a [russian variant of GSMMAP](http://gsmmap.ru/). [Here](https://translate.google.com/translate?hl=en&sl=ru&tl=en&u=http%3A%2F%2Fgsmmap.ru%2F) is the translated site, they even have a [forum](https://translate.google.com/translate?sl=auto&tl=en&js=y&prev=_t&hl=en&ie=UTF-8&u=http%3A%2F%2Fgsm-msk.m-pro.ru%2Fviewforum.php%3Ff%3D6&edit-text=&act=url) to di

[2015-02-16 15:15] E3V3A commented on #317
The code for uploading should be found in either the SnoopSnitch sources or their other GSMMap app... They have open repos, AFAIK.

[2015-02-16 15:16] indoraq opened #327 "latitude longitude in aimsicd-locationinfo.csv incorrect"
latitude and longitude valuse written to aimsicd-locationinfo.csv on DB backup change only when CellID has changed and thus provide a very bad trajectory:

"_id"	"Lac"	"CellID"	"Net"	"Lat"	"Lng"	"Timestamp"
"11712"	"1300"	"6801452"	"10"	"58.37453215"	"26.73167696"	"2015-02-16 07:58:32"
"11713"	"1300"	"6801452"	"10"	"58.37453215"	"26.73167696"	"2015-02-16 07:58:44"
"11714"	"1300"	"6801452"	"10"	"58

[2015-02-16 15:18] indoraq opened #328 "provide timezone value in aimsicd-locationinfo.csv"
Currently it is impossible to get  local time value from aimsicd-locationinfo.csv file created on DB backup.

[2015-02-16 16:07] E3V3A commented on #23
Fixed in commit: 8a6fbd98cf0bdcbdc321931827f5d9aadc91d03a

[2015-02-16 16:07] #23 closed

[2015-02-16 16:08] E3V3A commented on #290
Fixed in: 8b37100046abe096fb9f8ce6b7c94796c631aa3b

[2015-02-16 16:13] E3V3A commented on #327
Oouch! But it could be on purpose in order to conserve battery when not moving around enough. We put the GPS to sleep when not moving around... More testing is required here in order to determine if this is a *bug* or a *feature*... Thanks for reporting!

[2015-02-16 16:15] E3V3A commented on #328
Hmm, yes I've noticed... Any suggestion for a fix?

[2015-02-17 08:14] indoraq commented on #328
Instead of Timestamp column, please providde two columns: UTC_timestamp and current_timezone.

[2015-02-17 08:23] indoraq commented on #327
ok, then I suggest two modes of operation:
1. GPS-fix only on cell change (to conserve battery) Then there is also no need to bloat the measurement database with timestamps.
2. continuous GPS-fix (or tracking), where GPS fixes are obtained

As currently (at least what I have understood) AIMSICD can contribute to OpenCellID measurement data, then however GPS-fixes only on CGI change would lead to a

[2015-02-17 09:01] E3V3A commented on #327
The thing is we need to remake the measurement table. (See #215 )  The issue we're having is that the device is polling info and not using listeners to save the network changes. Thus we're loosing many rapid network changes. But I don't know how to fix this right now. Once this is done, we can make sure to only save non-GPS related changes to the measurement table.

Yes, please do and try explain

[2015-02-17 09:37] indoraq commented on #215
I suggest two separate measurement tables:
1. GPS measurements (GPS-fix facts)
2. CGI  measurements (RAN on NW-fix facts)

The point is that these two measurements on independant. You can have GPS-fix without any CGI and vice-versa: no GPS but CGI-s. First can happen in rural, last is quite common in urban settings: if one moves in a shopping center then no GPS-fix, but there can be a lot of CGI-s

[2015-02-17 09:52] indoraq opened #329 "Registration of NW-fix without GPS-fix"
Every seen CGI (NW-fix) should be registred without GPS-fix.

A CGI value + signal strength, other available RAN signal attribute measurement is also a 'location fix', lat/long for such a case can be derived from other data (last known GPS-fix or OpenCellID data) by a separate business logic layer.

The frequency of GPS-fixes and NW-fixes is different, CGI can change several times per second, GPS

[2015-02-17 15:57] E3V3A commented on #215
We're not interested in the first scenario, so there's no need for just saving gps points without network.  Also as measurements are taken, and there is no gps data available, we should just leave that field empty for that measurement, and not copying last location.

[2015-02-17 23:57] E3V3A commented on #88
Can someone please test the status of this? (I'm not sure what to look for here...) Can we close this?

[2015-02-18 00:11] E3V3A commented on #329
This is related to the polling issue I filed in in #322. We seem to be polling the NW data at some specific interval and not using listeners that should be triggered immediately when there is a network change. (This is known as unsolicited messages, on older AT driven basebands.)

[2015-02-18 08:52] indoraq commented on #329
Polling is fine but even then the GPS fix and NW fix are not in sync. GPS fix simply takes more time to get than the NW-fix. The timestamp should be that when you get the actual measurement, not when you initiate it.

[2015-02-18 08:56] indoraq commented on #215
You can't say that. For NW-fix there are situations when the CGI is either incorrect (invalid) or can't be obtained for whatever reasons. It is not about areas without RAN coverage but happens in urban situations when UE is attached to RAN and services are available. In data model you can overcome this by applying dummy values, but the semantic ambiguity  of timestamp can not be avoided by this.

[2015-02-18 10:11] E3V3A commented on #329
Well I haven't done any experiments regarding the timing difference, so unless you're driving or flying (like some of our dev's are doing) you're not gonna see any significant effect of this. So what do you actually propose? Can you pinpoint the code where you think there is a problem?

[2015-02-18 10:16] E3V3A commented on #215
@indoraq Please send me an email (put yours in the body) and I'll send you link to our internal chat and we can take things further from there.

[2015-02-18 10:40] indoraq commented on #215
Indrek Pehk Indrek.Pehk@reach-u.com<mailto:Indrek.Pehk@reach-u.com>

From: E:V:A [mailto:notifications@github.com]
Sent: Wednesday, February 18, 2015 12:17 PM
To: SecUpwN/Android-IMSI-Catcher-Detector
Cc: Indrek Pehk
Subject: Re: [Android-IMSI-Catcher-Detector] Major DataBase overhaul and restructuring (#215)

@indoraq<https://github.com/indoraq> Please send me an email (put yours in the body) and

[2015-02-20 06:36] SecUpwN commented on #317
@penguinpowernz, please have a closer look at their [repository](https://opensource.srlabs.de/projects/snoopsnitch/repository) to find the relevant parts.

[2015-02-20 15:25] git-ew opened #330 "Using Hangouts as SMS app trips "Type Zero SMS.." alert and crash."
When using Hangouts app as SMS client, incoming SMS triggers the "Alert!! Type Zero SMS Intercepted!" message.

When going to the database viewer to check "Silent SMS", clicking "Load Data" button drops the UI and I get "Unfortunately, Android IMSI-Catcher Detector has stopped." message.

Running Cyanogenmod 12-20150205-NIGHTLY-shamu (Android 5.0.2) on Nexus 6, Sprint.

[2015-02-20 17:07] andr3jx commented on #88
The core of this issue is to find out if the app collects correct data while the screen is off.
Following questions need to be answered:
Does the app collect all available data (LAC, CID, Neighbor cells etc.) while the screen is off?
Does the app record all changes of the values while the screen is off?
Are the collected values correct?
Is it the case for all the devices we want to support?

These

[2015-02-20 17:40] He3556 commented on #88
yes, i would like to have that cleared, too
wouldn't it be ok, to use only one device? I know the CellID's around me anyway.

[2015-02-20 18:41] andr3jx commented on #88
yes, you can also e.g. go from A to B keeping the screen on and then go from B to A with switched off screen. In the end you compare if you collected the same data although there can be some differences because handovers can happen on different locations.

[2015-02-20 23:35] E3V3A commented on #330
@git-ew please try the latest debug build from XDA thread.
@SecUpwN can you update the release so we don't have to deal with these old issues?

[2015-02-23 04:38] E3V3A commented on #325
Another note: Apparently both GMaps and OSM both use a maximum of 1E7 lat/lon resolution, so we can't expect anything to be accurate for any lat/lon reals with GPS co's of 2+5 digits, even if we had higher resolution.

[2015-02-23 07:31] SecUpwN commented on #330
@E3V3A, as you've suggested in our internal chat, I would like to wait with a new release until some more of the current core Issues have been fixed. Please feel free to send a message to our forkers.

[2015-02-24 19:05] logan503k commented on #322
Q

[2015-02-27 16:40] SecUpwN commented on #202
Since our App has been published on GooglePlay without asking us beforehand, I am reopening this and will open an official GooglePlay Account for our App after it has been removed by the other uploader. Since we still stand strong to [our opinion against GooglePlay](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/FAQ#q-why-wont-you-upload-your-app-to-the-google-play-store), we want t

[2015-02-27 20:46] E3V3A commented on #202
Sound excellent!  The downloader app should also display the signature of the downloaded version for easy verification with our GitHub releases.

[2015-02-28 17:30] jamsec12ty opened #336 "cellid not present in opencellid database?"
Hi im relatively new to this and was wondering why I'm getting this error when I start aimsicd tracking. The status symbol goes yellow and the error comes up.

I apologize if this was covered before. I looked and couldn't find the issue in a previous post. Any help would be appreciated. Also if there is a site that can get me up to speed please provide a link.  :) cheers

[2015-03-01 14:31] pxiivydk opened #337 "Null"
Null

[2015-03-01 14:42] #337 closed

[2015-03-01 17:39] SecUpwN commented on #336
Good evening @jamsec12ty! Please make sure to follow [these instructions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues) and also tell us which version of AIMSICD you are using. The error you are describing has likely been fixed in the `development` branch..

[2015-03-01 18:10] SecUpwN commented on #202
@E3V3A, I would like to keep development of the downloader app on our GitHub here as well. Shall I add a new branch for this or what would you prefer?

[2015-03-01 21:09] jamsec12ty commented on #336
Hello

I'm using version 0.1.25-alpha.

---- Security: Pwned. wrote ----

Good evening @jamsec12ty! Please make sure to follow [these instructions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues) and also tell us which version of AIMSICD you are using. The error you are describing has likely been fixed in the `development` branch..

---
Reply to this email directly

[2015-03-01 21:53] E3V3A commented on #336
This was fixed in development branch with the closure of #290.

[2015-03-01 21:53] #336 closed

[2015-03-01 22:23] E3V3A commented on #202
That's not a new branch, that would be a new repo. See internal chat.

[2015-03-03 07:20] SecUpwN commented on #290
@E3V3A, I am afraid that I have reopen this Issue as it seems to be present again in our latest internal build 30. Maybe @kairenken can have a quick look at this Issue which **prevents** a new release?

[2015-03-03 09:30] E3V3A commented on #290
What are you talking about. It's not present. Send screen shot please!

[2015-03-03 10:12] kairenken commented on #290
I can't see it either. I've tried the app from testroom.

[2015-03-03 10:22] SecUpwN commented on #290
@E3V3A, why do I need to send you a screenshot? Upon a fresh install, build 31 instantly turn yellow - and it doesn't change when downloading the OCID DB after it turned yellow either. Just believe me?

[2015-03-03 10:28] #290 closed

[2015-03-03 10:42] E3V3A commented on #290
Hmm, that it nevertheless funny behavior. Probably because the flag we use, are still in your system until next reboot. Which is why we need to use SharedPreferences instead of a system property via shell...

[2015-03-03 12:12] SecUpwN commented on #290
@E3V3A, it should also be wiped when someone just install the new version on top of it. Is that somehow fixable before we start to craft a new release? Otherwise we'll have many people seeing this.

[2015-03-03 15:34] kairenken commented on #273
@rock3r mCreditsRollView = (CreditsRollView) mActivity.findViewById(R.id.creditsroll); is returning null all the time. Do you have any idea what went wrong? You can find my commt here: https://github.com/kairenken/Android-IMSI-Catcher-Detector/commit/bb6e95388139ce93289a081e205337cc906c3173

[2015-03-03 17:37] andr3jx commented on #137
Works on KitKat 4.4.4 and Lollipop. Issue solved!

[2015-03-03 17:37] #137 closed

[2015-03-03 18:10] SecUpwN commented on #273
@kairenken, I have been discussing this with @banjaxbanjo and he sent you a fix via E-mail! ;-)

[2015-03-04 02:21] explorethepaths opened #340 "Flight mode when reaching levels orange and above"
I think it will come in handy at times. I'm sorry for no labels, I'm new.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9176641-flight-mode-when-reaching-levels-orange-and-above?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2015-03-04 02:22] explorethepaths commented on #340
I'm sorry for no labels, I'm new.

[2015-03-04 03:54] SecUpwN commented on #340
Good morning and welcome to our project, @explorethepaths! Don't worry, you cannot add labels in our repo, this will always be done through someone who has reviewed your Issue. I have re-opened it since you closed it yourself (likely by accident). Let#s wait until @E3V3A tells us what he thinks about this.

[2015-03-04 04:41] SecUpwN commented on #323
Still valid within the latest internal build and all the fixes?

[2015-03-04 09:47] E3V3A commented on #323
There is really no good reason to ask this... If it's fixed, the issue will be closed. If you keep asking for every open issue, people are gonna get very annoyed following our GitHub. In addition, instead of asking you can test it for yourself!

[2015-03-04 09:53] SecUpwN commented on #323
Calm down, please. My phone lacks the middle button, otherwise I wouldn't have asked.

[2015-03-04 13:58] rjh427 opened #341 "MuckRock published analysis of USMS StingRay acquisition docs"
Dunno if this will provide any useful info or not, I haven't taken time to look through it. Thought you guys might like to know...

"MuckRock just published our analysis of USMS StingRay acquisition docs released last week:  https://www.muckrock.com/news/archives/2015/mar/03/us-marshals-service-conceal-key-details-millions-s/

Top finding: USMS redacted info that's available on two other federal b

[2015-03-04 17:39] SecUpwN commented on #341
Thank you so much for your contribution, @rjh427! We will have to review that in the upcoming days since we're preparing for a fresh **RELEASE** within the next few hours. Heavy development, stay tuned.

[2015-03-04 19:45] SecUpwN commented on #181
@He3556, I just found that we could also use [WizarDroid](https://nimrodda.github.io/WizarDroid/) or even [WizardPager](https://github.com/ukanth/WizardPager).

[2015-03-05 13:12] tobykurien commented on #340
Sadly, it's not possible for our app to turn on airplane mode, unless it is installed as a system app.

[2015-03-05 14:22] E3V3A commented on #340
Actually [WRITE_SETTINGS](http://developer.android.com/reference/android/Manifest.permission.html#WRITE_SETTINGS) is no longer used ( API < 17) for Setting Airplane mode. The setting required today is the AOS non-3rd-party setting [WRITE_SECURE_SETTINGS](http://developer.android.com/reference/android/Manifest.permission.html#WRITE_SECURE_SETTINGS) (API  >= 17 or AOS 4.2.x )

So for devices using A

[2015-03-05 14:36] SecUpwN commented on #340
Sounds like making our App a system App will prevent further struggle with other things in the future. But then again, I don't know if that would prevent it working correctly on non-rooted devices? Would like to hear @tobykurien on this since he has the deeper insight of which would be the best way to travel.

[2015-03-05 14:53] tobykurien commented on #324
I don't understand the need for this? You can just set the mTAG as the log tag, there's no need for the log tag to be "AIMSICD". If you're thinking that we could use "AIMSICD" as a way to see all logs from our app, the better way is to filter by package/app name. ```logcat V``` for example will include the app name in it: ```D/AIMSICD ( 8052): CellTracker: neighbouringCellInfo empty: trying 1```

[2015-03-05 15:01] tobykurien commented on #309
The hard part here is that the event usually happens in the background service, when the app isn't even showing. This means a notification should popup asking the user for GPS coords, but the user might only get to it once they've moved elsewhere. Also, multiple of these events may have occurred in the meantime, with the user unable to remember where they were.

[2015-03-05 15:12] tobykurien commented on #340
It would be great if it could be a system app on something like say the Blackphone. Perhaps that would enable more functionality. However, we should probably stick to our guns about just being a purely "detect" app, and leave the "responding/defense" to another app. So, what we could do is send out a system broadcast when our detection levels change, thus allowing other apps to respond as they wan

[2015-03-05 15:26] SecUpwN commented on #340
Thanks for the hint, @tobykurien. Of course we're here to do detection for the most part, but beside triggering a notification to other Apps that may be installed, I still consider it to be useful for our own App to tackle countermeasures that will work on a broad range of devices. Of course we don't have to add stuff that does not work, but basic things (like acoustic warning as discussed in #15)

[2015-03-05 15:46] tobykurien commented on #288
We aren't polling, we are infact using a phone state listener, see: https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/service/CellTracker.java#L251

[2015-03-05 16:26] E3V3A commented on #324
Huh, have I missed something? Form my experience, the TAG we use is often hard-coded in the beginning of each file, and non-standard. Thus logcat shows all sorts of stuff and often not marked with AIMSICD. Second reason is that, when you separate the TAG, you'll get the PID immediately after the "AIMSICD" string which is also what I wanted as a standard, since it is then much easier to spot in any

[2015-03-05 16:38] E3V3A commented on #309
Sorry @tobykurien, I'm not following you. What do you mean with "event"? Do you mean GPS lock-on? We only need this once, unless we move 10's of Kilometers away, since it's only needed for BTS (DBe_import) download and showing your current position on the map, if you need to look at that. If you don't care about the map, then I don't see a problem. But if you're dependent on the map and relative p

[2015-03-05 16:54] E3V3A commented on #340
@tobykurien I totally agree on your general design opinion. But I think being able to turn off WiFi and shut down mobile network functionality, is almost as essential as being able to close the App itself. Yeah, we could pop-up a message to the user saying "Warning: turn your phone off naaaow!", but how fun is that when you're sleeping or got your teddy in your pocket. Only the US and UK governmen

[2015-03-05 16:56] SecUpwN commented on #273
@kairenken, this is to update you on the current situation: I have tried to merge the changes from your fork, but it broke our Travis CI cycle with the error message `A problem occurred configuring project ':app'. Cannot evaluate module CreditsRoll : Configuration with name 'default' not found.`. Seems as if `CreditRoll` uses deprecated libraries. Maybe you can update those to work neatly with our

[2015-03-05 17:13] E3V3A commented on #288
@tobykurien I know, I wrote the comments there, but then:
 1. Why isn't the info above immediately updated in the measurement DB?
 2. Why aren't we using it that way?  Since [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/1afeb541e1dc23425506225d194184f0c9278f82/app/src/main/java/com/SecUpwN/AIMSICD/service/CellTracker.java#L251-L257) we're doing some kind of polling with a de

[2015-03-05 19:43] E3V3A opened #346 "Neighbouring cell list not updated outside MapViewer"
**Problem description:**
The code in CellTracker:[updateNeighbouringCells](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/6f0287b5d603d6f088cd08deeb608c72ccc06ed0/app/src/main/java/com/SecUpwN/AIMSICD/service/CellTracker.java#L413-L547)  is only executed in MapViewer and not all the time as needed. It should be updated as soon as a new CID is connected to or every REFRESH_RATE secon

[2015-03-05 22:07] E3V3A opened #348 "Funny logcat error from DeviceAPI17"
Checking logcat I found this mysterious error:
[code]
I was looking in this file but couldn't find anything particular. Perhaps @tobykurien can have a look, since he wrote the code.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9242463-funny-logcat-error-from-deviceapi17?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=i

[2015-03-06 19:18] #273 closed

[2015-03-08 23:40] benutzer74 opened #349 ""Cell ID does not exist in OpenCellID Database""
After playing around with options in AIMSICD, probably download / upload local BTS Data I see the message "Cell ID does not exist in OpenCellID Database" and a yellow icon.

What exactly does this mean now? An unknown network base station? In the area they removed a base station with all antennas. I dunno if this station belonged to my mobile carrier.

By the way, my carrier offers only A5/1, but

[2015-03-09 02:38] andr3jx commented on #349
Hi, every BTS has a Cell ID. AIMSICD downloads a database which contains a list of all Cell IDs with their coordinates collected by OpenCellID in your area. The problem is that this database is far from complete.  "Cell ID does not exist in OpenCellID Database" means that OCID has no record for the BTS you encountered. It can mean that the OCIDs DB is incomplete or that a new BTS was activated in

[2015-03-09 07:18] AntiDiesel commented on #69
Hi. I'll send a screenshot of the display of my phone. I have about six detected silent sms.

[2015-03-09 08:10] muleyryan commented on #69
@E3V3A: Won't you be mine?

Also is my telephony SMS database something you want?

[2015-03-10 21:40] E3V3A commented on #69
@AntiDiesel and @muleyryan  Please post your concerns on our XDA thread. I'm locking this issue until further notice. (This thread is getting too long and we've made some progress.)

[2015-03-13 12:22] SecUpwN commented on #349
Hey @andr3jx, thanks for having the courage to explain this Issue properly. I knew this would come up. We specifically released our App with this "bug" to see how many people would actually notice and maybe help us fix this. @benutzer74 one solution for this is to collect data of the cell towers and upload them to the OCID database. But please be aware that this might reveal where you live. Help u

[2015-03-13 18:49] KloeverGz opened #352 "Android-IMSI-Catcher-Detector"

[2015-03-13 19:04] SecUpwN commented on #352
@KloeverGz, welcoem to our project. Please make sure to craft Issues with a valid title and valid content. This "Issue" is completely `INVALID` - see our [Bug Submission Guideline](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues). Thank you.

[2015-03-13 19:04] #352 closed

[2015-03-14 11:55] alanthehat commented on #74
Whilst I understand an absolute requirement for *developers* to maintain anonymity I am comfortable with the idea of using my money to register a **public vote** against governments & other criminals attempting to spy on me or subvert my equipment.

Some way of accepting open donations is very much wanted. Is there a crowd-funding service that will pass on monies anonymously?

[2015-03-14 17:20] SecUpwN commented on #74
Hi there, @alanthehat! Thank you for chiming in. Personally, I consider this Issue to be one of the most important, but sadly have not yet found a service that supports open donations from numerous sources while passing on the money anonymously. Of course we could always register at some service that is not fully anonymous, but I intend to support privacy-minded organizations like [EFF](https://ww

[2015-03-14 19:52] alanthehat commented on #74
Hmm, I would expect that the organizations that you link have (at least access to) anonymous funding channels.

[2015-03-14 20:37] SecUpwN commented on #74
@alanthehat, unfortunately not. They're either using PayPal, BitCoin or Credit Cards. None of these are really an option for us. We'd like to find a service (preferrably open source) through which users can decide on how to donate (PayPal, Credit Card, BitCpin, direct payments, anonymous payments) and the money collected should be (preferrably) untraceable afterwards. We do not want to risk anyone

[2015-03-17 09:06] SecUpwN commented on #13
@E3V3A, what is the current state of this Issue? Is the Map Viewer perfect now?

[2015-03-17 09:07] SecUpwN commented on #94
@DizzyDen, thanks for your commitment! We'd like to thrive forward with our project and would love you to work on an implementation of this using pull requests of on our project. We're looking forward to it!

[2015-03-17 09:50] He3556 commented on #166
yes i agree, let's close it

[2015-03-17 13:43] andr3jx commented on #94
I don't think DizzyDen's work is useful for the project. The problem is that changing the IMEI for the OS doesn't impact the IMEI seen by the baseband.

[2015-03-17 16:47] #166 closed

[2015-03-17 16:51] SecUpwN commented on #94
Where would we have to change it then? Why should this be a "completely impossible" task?

[2015-03-17 18:20] andr3jx commented on #94
Most phones make changing IMEI very hard. It is very device specific and the work is not worth it. IMEI is not relevant for detecting IMSI catchers. The only valid use I see is to change IMEI to make detection of SIM changes harder.

[2015-03-17 18:29] doidays commented on #94
surely yes, it might hv to deploy a new system to make easy for it.

On Wed, Mar 18, 2015 at 1:20 AM, andr3jx <notifications@github.com> wrote:

[2015-03-17 22:20] SecUpwN commented on #148
@He3556, I am closing this Issue as finally **FIXED**. After many sleepless nights and about 100 E-Mails with the Buildozer support I have now figured out how we can automatically always fetch the latest APK when changes have been made in branch development: Just log in to the [our Buildozer](https://buildozer.io/projects/43768/), access the latest build and download the automatically created APK.

[2015-03-17 22:20] #148 closed

[2015-03-17 22:29] SecUpwN commented on #147
@E3V3A and @He3556 do we really still need this? Having rethought all of this, I think it is much more convenient to change that by hand when it is due, and this also eases up my work with updating the `CHANGELOG`. Thus, I'd vote for removing that unnecessary code. We now have autiamtic builds made from our `development` branch as stated in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/

[2015-03-18 20:53] SecUpwN commented on #341
Had another look at this and I must say that this is "nothing new" to us since apparently such companies keep spying wherever possible and of course spending the money of innocent people to buy these devices. I would like @He3556 to have another look if we shall this handle differently or close it.

[2015-03-19 01:16] He3556 commented on #341
thanks for the link. Not realy new technical infos but the density of stingrays must be realy huge, if every "headhunter" has its own equipment. scary numbers, 400 arrests each day ^^

[2015-03-19 06:03] SecUpwN commented on #341
@rjh427 since both of us as well as likely other team members have reviewed this, I would like to close this as solved. Please feel warmly invited to tweet about the MuckRock publishing and add us to that tweet using our hashtag `#AIMSICD` - the more people know about our tool, the more help we'll get!

[2015-03-19 06:04] #341 closed

[2015-03-19 10:47] SecUpwN commented on #174
@banjaxbanjo, huge thanks for the first PR to fix this Issue, here is the [APK](https://buildozer.io/projects/43768/builds/14566/directdownload)! I have been testing the latest changes and would like you to have a look at a few things, hopefully not getting on your nerves with this:

1. The CreditsRoll was perfect as it was before. Have you tested if the latest change into a popup makes it easier

[2015-03-19 11:11] banjaxbanjo commented on #174
Thanks mate,

Ive only installed on galaxy s5 and didnt have scroll isssues but will install on smaller device and try fix this scroll issue. Probably something to do with the click icons textview.

The others are a quick fix will look into them later whem at computer and fix asap with your recommendations.

I will also revert the credits to a non dialog was really a test to see what it looked lik

[2015-03-19 11:21] SecUpwN commented on #174
Before you revert that one, please have a look at which one looks better on both devices. Thank you for digging into the small things I just mentioned, I guess after those this Issue should really be done.

[2015-03-19 16:17] Reegan01 commented on #100
Can I able to get the name of Neighbouring cells(available networks) such as idea,airtel,aircel ? I can able to get MCC, MNC, LAC, CID but How to get the name of the neighbouring cell names.

[2015-03-20 00:55] rjh427 opened #357 "What is this thing?"
Possibly related, possibly not. Anyone have any idea what this thing is?

A cypherpunk on the cypherpunk list writes:
We had someone loitering near our front office door today. The
conversation went like this:

  Me: What are you doing?
  Him: Nothing
  Me: Where are you from?
  Him: A company
  Me: Do you work for Google (he was wearing a Google t-shirt)?
  Him: No
  Me: Who do you work for?
  Hi

[2015-03-20 01:42] SecUpwN commented on #357
@rjh427, q quick search for the company [Leidos](https://www.leidos.com/) tells it all:

If I were @alfiedotwtf, I'd get a new phone and a new SIM and maybe file a case against the spy.

[2015-03-20 10:46] alfiedotwtf commented on #357
Hi everyone,

Installling the app now! Thinking about putting this on a spare phone and leaving it onsite to monitor the office.

@SecUpwN: I could call them out, but I'm pretty sure they wouldn't comment on it. It's not like they will come out on Twitter with "ohh yes, sorry about that. It was our ultra-hacking device. You're pwn3d".

Nothing else to report at the moment. You can follow along the

[2015-03-20 15:38] #174 closed

[2015-03-21 18:58] SecUpwN commented on #330
@git-ew, since this Issue is older than a month now, I'd like you to either test the [latest Release](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases) or just send me a short E-Mail (click my name here) so that I can send you the very latest compiled APK of our `development` branch. Thank you!

[2015-03-21 20:00] git-ew commented on #330
Thanks.
Installed and running 0.1.25-alpha-b35 and tested SMS with Hangouts app.
All looks good now. No alert trip.

[2015-03-21 20:00] #330 closed

[2015-03-21 20:00] git-ew commented on #330
Thanks.
Installed and running 0.1.25-alpha-b35 and tested SMS with Hangouts app.
All looks good now. No alert trip.

[2015-03-21 20:24] SecUpwN commented on #288
I see that this Issue may be part of #288. Linking to keep track of it.

[2015-03-22 19:44] swordsteel opened #360 "Feature Request: Audible Tone and OSM Data"
First Request
The app has five states from green to lockdown. Would be useful for an audible tone of one repeating beep for state two (yellow), two repeating beeps for state three (orange) and so on. This is to cater to those periods when your phone is in your pocket and you don't have your eyes on the icon.

Second Request
Lobotomise gapps (google) from your app, and migrate to osm. For example O

[2015-03-22 19:55] SecUpwN commented on #360
Good evening @swordsteel, thank you so much for chiming in! May I ask how you found us?

About your files Issue here: As far as I know, both of these things are already been taken care of. Well, sort of. The first, the audible tone on changing threat status, is already filed in #15. Thus, this is a duplicate here. The second, migration to OSM should already be done since we're using the data provi

[2015-03-22 22:44] #360 closed

[2015-03-23 00:28] E3V3A commented on #357
This is not really related to our app, so I'll close this and we can still talk about it elsewhere.

If I had caught that guy, I wouldn't have let him go without grilling him thoroughly and get a lawyer on his ass to launch an industrial espionage case. Citizens arrest? I'd have ripped that HW out of his hand so fast he couldn't blink. Although the device doesn't *look* GSM related it is definitel

[2015-03-23 00:28] #357 closed

[2015-03-23 00:32] E3V3A commented on #349
As @andr3jx said:

Call your network provider and ask them to upload their true BTS GPS positions to OCID and get their asses encrypted with A5/3.

So I'm closing this issue.

[2015-03-23 05:13] SecUpwN commented on #349
Don't get me wrong on this, but I feel that I have to re-open this as long as our App has not been fixed to avoid this error message. Many people have come up to me via E-Mail and asked "Hey, have I been attacked or what is this?". I expect that the above answer given will just smash a piece of wood onto the forehead of our users. Since I see that #71 is closely related, I would like to call in @h

[2015-03-23 14:31] E3V3A commented on #349
Good idea @SecUpwN, let's just upload all false base stations to ensure nobody will ever detect anything again. It's all green and happy!

[2015-03-24 07:50] SecUpwN commented on #349
Not productive for our work here, @E3V3A. I would like you to show a little more respect. Thank you.

[2015-03-24 19:00] E3V3A commented on #66
I've just noticed, that if we want to "try" to have our app tamper proof, we need to use one of the SHA hashes, like **SHA512**. This is how Cygwin does it. Apparently MD5 is broken as mentioned in [this](https://sourceware.org/ml/cygwin/2015-03/msg00119.html) post, but still good to verify download integrity. (Who does that anyway?)

[2015-03-24 19:51] scento commented on #66
The best way to guarantee, that the APK hasn't been tempered is to compile it from source on open-source hardware with an fully open-source and self-compiled OS and toolchain, after auditing the code. I support the idea of publishing checksums - in addition to that the project maintainer could sign the releases with GPG, which is a stronger proof than checksums, since one might be able to verify t

[2015-03-25 00:20] SecUpwN commented on #66
Thanks for chiming in, @scento. To clarify: This Issue was meant to make AIMSICD check **itself** against a **hardcoded checksum** which I initially thought could be generated for each release. Revisiting this Issue now makes me wonder if my thoughts are even helpful to secure our App.

About the checksums of the releases: We have been posting the MD5 checksum of each released APK from the very st

[2015-03-27 02:53] darkerego commented on #13
I am confused as to how to interpret the antenna map viewer data. So the green circles are known, real cells, the blue ones are... i don't know? And the green arrow that appears and sometimes moves? What does that indicate?

[2015-03-27 13:15] He3556 commented on #13
Hello darkerego
On the map we use clusterization now - than means that Cell Towers will be grouped. The red dots are clustered and the green dots are single cell towers. The arrow is your own position. I hope this info will help you.

[2015-03-27 13:19] darkerego commented on #13
Thanks for the reply. I just updated from an older version to the newest and whenever I at home I get the yellow icon warning. What do the blue ring circles that appear on the map represent?

[2015-03-27 21:23] #346 closed

[2015-03-27 21:44] SecUpwN commented on #346
@He3556 I am currently testing this. Would you please confirm that this is really fixed? Thanks!

[2015-03-27 22:03] SecUpwN commented on #13
@He3556, I am strongly voting for adding a legend to the map. New Issue for this?

[2015-03-27 22:46] darkerego commented on #13
@SecUpwN  I second that! That would be a great feature. I've gotten some of my friends to use AIMSICD and they are intrigued, and a map legend would be very helpful for new users to interpret the data they are seeing. One other question, is there documentation somewhere explaining what exactly the AT Command Processor can be used for? Forgive me if I overlooked it, but the wiki pages I could find

[2015-03-28 17:36] swordsteel commented on #360
Hi SecUpwN

Appreciate the feedback. I found your project while searching the net for an android app that detect cell intrusions, can't remember where exactly I found your link, xda probably.

I checked the settings and I don't find audible tone settings. Great to hear about the osm migration.

Thanks for the fine work, but I would ask is there a way to test your prog without an IMSI Catcher. Like

[2015-03-29 16:51] He3556 commented on #258
I started with a Style Guide (Corporate Design) ...from the discussion above.
I used the main page to show how it looks like.

Questions:
- does it look ok for you?
- Is there something missing?

![style-guide-p2](https://cloud.githubusercontent.com/assets/2507905/6886633/5ddb2168-d644-11e4-9c6e-b58c8b2d1143.jpg)

![style-guide-p2](https://cloud.githubusercontent.com/assets/2507905/6886635/62c734f

[2015-03-29 17:01] SecUpwN commented on #360
Good evening @swordsteel, please digg through our [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues). You will find that most of the ideas you had (like the [Subtle alarm on IMSI-Catcher Attacks](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/15) and the [App Test Protocol](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/173)) are alread

[2015-03-29 19:17] SecUpwN commented on #258
Thank you very much, @He3556! Please continue the [Style Guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Style-Guide) as necessary.

[2015-03-30 11:22] SecUpwN opened #362 "Repository: More Developer-Friendlyness"
This is a collection of things to solve for making our whole project much more developer friendly, easy to access and also much clearer for newcomers. I've received feedback that we've become pretty chunky and that people don't enjoy working with us due to a feeling of "being an employee working for a company". Please review **all** of our pages and let me know what and how to improve! Thank you.

[2015-03-30 15:27] He3556 commented on #258
Thank's @SecUpwN for the page "Style guide"  -  i just saw i uploaded the same picture twice.

[2015-03-31 19:51] banjaxbanjo commented on #346
@He3556 This class isn't activated yet but it solves the issue of the refresh timer and automatically detects cell change rather than waiting on a timer, plus its more cpu friendly and only activates on cell change. The code the dumps the data to the database and code to send data to neighboring cells activity needs to be implimented first.

[2015-04-01 17:01] E3V3A opened #364 "Force problem description in bugreport emails"
The current debug logs allow users to send emails. The text in the logs clearly state (in 2 places) that users should describe their problem before sending of their logs. This has request has been completely ignored and thus this log sending function should either be removed or force the user to fill in the description. A simple way to obfuscate the email address should also be implemented to make

[2015-04-01 18:12] SecUpwN commented on #364
Good evening @E3V3A. I still do think that having the possibility of sending a logfile is a good idea, but I knew you'd be tired of receiving improper bug reports eventually. I will add the warning `NO HELP WITHOUT DESCRIPTIONS!` inside the `helpUs` string and also contact GitHub support for a email obfuscation.

[2015-04-01 18:38] #364 closed

[2015-04-01 23:46] darkerego commented on #349
I noticed that this bug is only prevalent (in my case) in the latest pre-release, 0.1.35 alpha. When I switched back to 0.1.25 alpha-b15, the issue was resolved. I did try taking lots of measurements from different locations around the area and uploading them to OpenCellID, but after a week of having the warning I went back to 0.1.25. I am on AT&T 3G, by the way. I have 2G completely disabled.

[2015-04-02 13:46] He3556 commented on #349
The problem is that we can't guarantee a full and current list of Cell IDs in your area. (from the OCID download). Because of this unexpected fact, we need to change the concept of this detection.
It looks like we can not detect it when the catcher was present at the first scan (after installing the app).

[2015-04-02 13:57] He3556 commented on #346
Hello @banjaxbanjo thank's for your support. As far as i know the code was there from the fork we are using. A few people were working on that file but nobody changed this basic polling mechanism. I read your todo list to implement your code. Right now i think we have nobody who can do it. A few things have changed since i was working on the code the last time (4 weeks ago). i need to take a look

[2015-04-02 14:16] banjaxbanjo commented on #346
@He3556 ah ok so mate I will pick away it when I get a chance or maybe try impliment the listener into the cell tracker or just move related code into new class I added for easier debugging.

[2015-04-02 15:02] He3556 commented on #346
that would be brilliant mate! we planned to separate things into different classes anyway ;)

[2015-04-02 20:17] curtiszimmerman commented on #362
For me, contributing is just a matter of personal bandwidth. I want to contribute, but the last few months have been sketchy for me. As we move into summer, I'll have more time. But since you mention it, a dev chat on Freenode or something would be extremely nice, since I'm almost always at least idle in the dev channels of all the projects I contribute to, and it is the best way for me personally

[2015-04-02 20:38] SecUpwN commented on #362
@curtiszimmerman thanks for chiming in! Just as a reassurance: If we have an IRC channel, will this attract more developers? As far as I know freenode prevents people from accessing it via anonymous connections like Tor, right? I'd be happy if you drop `#AIMSICD-dev` and try to get a hold of `#AIMSICD`. Once you have it, let me know and I would like to take ownership of it if possible. To transfer

[2015-04-02 20:48] curtiszimmerman commented on #362
@SecUpwN Yes, Freenode will make this project much more exposed to developers generally, I believe. Also, the thing with Freenode and Tor is ... weird. For the last couple of years or more, Tor connections were allowed, but a few weeks ago, suddenly they were not allowed (due to abuse of some kind, they say). I'm not sure what the future holds for Tor-Freenode connections, but if the past is any i

[2015-04-02 20:54] SecUpwN commented on #362
Thanks for telling me, @curtiszimmerman. We've been using [HipChat](https://www.hipchat.com/) until now, the positive thing there was that you can have locked rooms and share content not everybody shall see. How about storing messages in Freenode? I mean, if someone is not idling and joins the room, I guess all of the previous conversation and pictures are not visible to that person, I guess?

[2015-04-02 21:02] curtiszimmerman commented on #362
I use HipChat at work and that is a nice feature, but with a little work it's simple to install a channel bot (for example Supybot, there are a million) to log messages somewhere, and use for example HTTP authentication to restrict access to the logs. Freenode of course has a million options for user access/authentication/administration of individual channels, but no built-in features for storing

[2015-04-05 12:08] E3V3A commented on #362
Freenode / IRC are inherently privacy-less! It is the prime target for automatic monitoring by pretty much anyone interested in monitoring anything on the iweb. I've often insisted in using SSL connections to IRC rooms, just to find them, dropped a few minutes later. SSL seem to be like TSA's Airport security controls, a theater for the masses. There are tons of secure chat solution out there, but

[2015-04-05 17:29] SecUpwN commented on #362
@curtiszimmerman, I am very thankful you've been getting hold of that guy who reserved `#AIMSICD` and perfectly understand that Freenode is likely the more wise choice for open source projects. But since our project has a special twist to it by stepping on the toes of spy organizations, we don't want to put contributors and possible whistleblowers at risk by using an unsecure chat system. I hope y

[2015-04-05 18:20] SecUpwN opened #365 "Proper updates of versionCode and versionName"
Thanks to the great help of @krt16s in [this GitLab Issue](https://gitlab.com/fdroid/fdroiddata/issues/180), I have been able to find the cause for why our app is not updating on F-Droid since `0.1.25-alpha-b6`. It appears  that the `android:versionCode` has to count upwards to initiate a new build on F-Droid. Therefore, I am proposing the following changes:

* Example for **DEVELOPING** on `devel

[2015-04-05 19:56] curtiszimmerman commented on #362
Versus Hipchat? You guys really think Hipchat is not subject to the tactics of those same organizations that want the content of your chats? Atlassian is an American company, subject to NSLs in exactly the same way as Dropbox or Microsoft. And even if they weren't, are any of your developers using Windows?  Any of them? If any of you are using an insecure platform, then you might as well just put

[2015-04-05 22:10] He3556 commented on #362
No we didn't think this chat is secure. We just need the features of HipChat and want a low barrier for people to join the discussion. If somebody preferred a secure channel we always open to do it in another way. If we have to install software, get registered or generate keys - no problem. But only for 1 on 1 communication. And in the end it's always a balancing between usability and security.

[2015-04-06 03:33] penguinpowernz commented on #317
Sorry I was on holiday.

Yea I think I found the correct files here, but unfortunately can't understand them (I ditched java long ago): https://opensource.srlabs.de/projects/snoopsnitch/repository/revisions/master/show/SnoopSnitch/src/de/srlabs/snoopsnitch/upload

I also emailed them to ask if they could point us to a spec of some sort.

[2015-04-06 08:40] lucas-phillips opened #366 "Type Zero Silent SMS upon receiving any SMS message"
Regardless of the source of the SMS message, even if I send one to myself, AIMSICD goes off saying its a "Type Zero Silent SMS".
![notifications](https://cloud.githubusercontent.com/assets/9609541/7002338/1690ff48-dc17-11e4-97e2-eb63ff9a13f5.png)

[2015-04-06 10:20] E3V3A commented on #366
No version info, no device info and no logcat logs, case closed. (We'll reopen if you can provide more details if relevant.)

[2015-04-06 12:41] lucas-phillips commented on #366
AIMSICD: Version: 0.1.25-alpha-b6
Model Name: LG-VS985
CyanogenMod Version: 12-20150327-NIGHTLY-vs985
Android Version: 5.0.2
Logcat: https://bpaste.net/show/29cd84eb0731 (grepped for `IMSI`)

=== Device Information ===
Phone Type: CDMA
RIL Version: 00

=== SIM Information ===
Country: us
Operator Name: Verizon

=== Network Information ===
Provider Name: Verizon Wireless
Provider Code:
Type: LTE
LA

[2015-04-06 15:27] krt16s commented on #365
Everything that increments the VC is fine with me.

[2015-04-06 15:32] He3556 commented on #365
yes let's close this issue :)

[2015-04-07 02:07] SecUpwN commented on #366
Good evening, @lucas-phillips! Thank you so much for reporting this Issue. I will (temporarily) re-open your Issue since you've updated it properly. E:V:A will have a look at your logcat, but please don't be disappointed if we come to the conclusion that we cannot fix that yet since #69 has not yet been fully integrated, thus this feature is not yet working as it should. We simply lack developers

[2015-04-07 02:08] #365 closed

[2015-04-07 02:11] SecUpwN commented on #317
Thank you for keeping up you engagement in our project. Let us know here when they answered.

[2015-04-07 02:30] SecUpwN commented on #362
Thanks for these important points, @curtiszimmerman. It really is no easy choice of which chat room to use. Personally, I like [Gitter](https://gitter.im/) much more than HipChat, but since we had the drawback with not being able to delete sensitive uploads (see `https://github.com/gitterHQ/gitter/issues/332`) and their devs not really wanting to address that matter, we ditched it. We know that Fr

[2015-04-07 17:36] Ueland commented on #239
Issue has not been detected for over a week with the latest build, appears fixed. yay! :)

[2015-04-07 17:36] #239 closed

[2015-04-07 19:26] darkerego commented on #362
Hey, would it be possible to implement a feature that would highlight suspected rogue base stations on the antenna map viewer? Perhaps they could be coloured red or something. Of course with a stong disclaimer explaining that it is possible that the station simply is not in the db yet. Seeing it on the map would help people both stay away from them, and for the adventurous amongst us to do some in

[2015-04-07 23:09] penguinpowernz commented on #317
Got the following reply:

radio data while other apps like AIMSICD collect high-level data from
the Android OS. As we need the low-level radio data to calculate our
metrics data from AIMSICSD is inherently unsuitable for our purpose.

So it seems that visualizing the AIMSICD data in GIS would be better suited as a "reported stingray" locations map.  I hope to start a project like this in the futur

[2015-04-07 23:09] #317 closed

[2015-04-08 18:38] garvankeeley opened #367 "Idea: Use Mozilla Location Service cell network db to assist discovery of false cell networks"
Hi, I am just looking at your project for the first time, and was thinking that you might want to be aware of another cell tower database. MLS, https://location.services.mozilla.com, posts hourly updates of cell networks discovered. Perhaps that can be of use in detecting temporary cell networks.

FYI, the github repo for the service is https://github.com/mozilla/ichnaea,
and the client is https:/

[2015-04-09 01:21] rjh427 opened #368 "FBI: drop criminal cases rather than divulge Stingray details"
http://arstechnica.com/tech-policy/2015/04/fbi-would-rather-prosecutors-drop-cases-than-disclose-stingray-details/

I doubt there's any technical details that will help us here but this article does help illustrate the mentality and environment those things get used in. Okay to close this issue in a few days, after those who are curious have had a chance to see it.

[2015-04-09 05:14] darkerego commented on #368
Thanks for sharing. That means it's likely worse and more prevalent than we thought, and that they are trying really hard to keep ISMI catchers out of the press. I bet if even 10% of the US population knew about this, perhaps we would see demand that the telecoms upgrade their infrastructure so that the base stations must authenticate themselves to the devices using modern encryption keys. So many

[2015-04-09 16:15] Gustav1 commented on #182
Sir,

I have a new phone, and a new simcard/phnenumber.

I see that your app has been changed slightly.
How can I get this great app working again?
The app icon is yellow and gives me the following message: Cell ID does not exist in OpenCellID Database!

I already sent some debugging logs, but no response yet.

In the app, I clicked on "preferences" and "Request OCID API Key"
I received this key (

[2015-04-09 18:54] darkerego commented on #182
Hey Gustav,
I'm not one of the developers, but I do actively follow this project and perhaps can help you. In the later releases, you can request an API right from the app, once every 24 hours, and yes it automatically saved for you. I've also noticed the option in the preferances to contribute data is no longer present, however as you mentioned, you can manually upload the data. Although I am not

[2015-04-10 09:31] E3V3A commented on #367
Hi @garvankeeley  Thanks for trying to help. But we're working with those guys since some time, but we don't have developers to implement the alternative DB downloads.

[2015-04-10 09:31] #367 closed

[2015-04-12 15:50] SecUpwN commented on #367
Good evening @garvankeeley, please follow #71. Thank you.

[2015-04-12 15:52] SecUpwN commented on #362
Hey @darkerego, please see #13. Your recommendation should be in there. However, we're currently lacking developers as it seems everybody is dealing with their own lives. Help us find developers, please.

[2015-04-12 16:00] SecUpwN commented on #368
@rjh427, I really appreciate you updating us on these things, but please refrain from using our Issue tracker for spreading articles in the future. It just confuses developers and is not contributing to the code of our app. We have received feedback that developers in fact do not contribute because the see too many open Issues. If we let people add Issues that are not directly related to our app,

[2015-04-12 16:02] #368 closed

[2015-04-12 16:37] SecUpwN commented on #182
@Gustav1, thanks for getting back to us on this. If you would have compiled the code from our `development` branch, you'd have noticed that this option to retrieve the OCID key has been removed for now since we want to ensure that our app is not uploading fake CIDs of IMSI-Catchers into the OCID DB, which would in turn mess up the OCID databases for everyone. The CIDs in your area are not yet to b

[2015-04-13 20:50] rjh427 commented on #368
:+1:

[2015-04-14 20:40] darkerego commented on #362
Okay, I will try to find some developers. By continuing to spread awareness about stingrays and fake BTS I am sure we can get more people on board. If I knew anything about Java I'd gladly help.

[2015-04-15 06:50] Dostoi opened #369 "The app haven't been updated on f-droid since a long time"
The version on [F-Droid](https://f-droid.org/repository/browse/?fdfilter=imsi&fdid=com.SecUpwN.AIMSICD) is 0.1.25-alpha-b6 and has last been updated the 2015-01-02. Your last version is v0.1.25-alpha-build-37 and was add 18 days ago. Why is there no update on F-Droid more often ?

[2015-04-15 17:47] SecUpwN commented on #369
Good evening @Dostoi, thanks for chiming in! I am aware of the problem and have cleared it up a while ago already, see #365. I am still cleaning up our repository, our app will update on F-Droid soon. Cheers!

[2015-04-15 17:48] #369 closed

[2015-04-15 19:33] Dostoi commented on #369
Hi, my bad, I didn't find this issue before. Thanks for the quick answer :)
Keep up the good work !

[2015-04-16 14:53] git-ew commented on #366
@lucas-phillips I was seeing the same behavior while using google hangouts for my sms app.
A link was provided for version 0.1.25-alpha-b35 and that seemed to fix the behavior.

Check out closed issue #330 for more details and link to see if that fixes your issue.

https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/330

[2015-04-16 15:38] SecUpwN commented on #366
Thanks for helping him out, @git-ew. I have just sent him an APK for testing. Hoping it is fixed.

[2015-04-16 16:27] lucas-phillips commented on #366
@SecUpwN the APK you sent did fix the issue. Thank you.

[2015-04-16 16:27] #366 closed

[2015-04-16 19:17] agilob opened #370 "Build tools version 21.1.1 is obsolete"
Current version for 21 is 21.1.2. The project and dependencies use 21.1.1.

Could you update buildToolsVersions or add instructions how to install this specific version?

`android update sdk --no-ui --all --filter build-tools-21.1.1`

If you think this is not important issue close it, I just wanted to let you know ;)

[2015-04-16 19:46] agilob commented on #362
As something from category 'user friendliness' I would suggest translating application to more languages. Before that process starts strings.xml needs a few changes, app_name_short and app_name (and others?) should have attribute translatable="false".

[2015-04-16 19:54] SecUpwN commented on #362
@agilop, I am still cleaning our repo and development is currently halted until tomorrow at the very latest . If you know how to make our app translatable, join #190 to discuss it there on how to do it best.

[2015-04-16 20:02] SecUpwN commented on #370
Good evening @agilob, thank you for making us aware of it, we like people like you! :+1:

I am cleaning out our repo, but would it work if I just edit the `buildToolsVersion` in `third_party/rootshell/build.gradle `, `app/build.gradle ` and `travis.yml` or would that break anything?

[2015-04-16 20:22] agilob commented on #190
[Answering to post in different thread](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/362#issuecomment-93825887)

1. I think application on start should use system default language.
From the listed services I used only Transifex, but as a user, not developer. From my experience, I think we wouldn't need it, this application doesn't have that much strings.

Android-studio and IDEA

[2015-04-16 20:28] agilob commented on #370
I don't have enough experience in android development to decide which was is better ;)
This should work for people without obsolete tools/sdks, which are not installed by android SDK manager by default after new version is released.

[2015-04-16 20:31] rtyley opened #371 "Reduce Git repository size"
I'm the author of [the BFG Repo-Cleaner](https://rtyley.github.io/bfg-repo-cleaner/), a faster, simpler alternative to `git filter-branch`, and @SecUpwN asked me how I would go about reducing the size of Android-IMSI-Catcher-Detector's Git repo, working on the assumption that the large size of the repo is off-putting for potential new contributors (see also #362).

The repository currently has a p

[2015-04-16 21:16] SecUpwN commented on #371
Thank you so  responding so promptly! I have been getting awesome help by @dalibor as well and he listed the commands which would be needed to delete history of the folders I want to remove, namely:

* DOCUMENTATION
* MISC
* PROMOTION
* SCREENSHOTS

They have already been transferred and linked accordingly to [our SpiderOak](https://spideroak.com/browse/share/AIMSICD/GitHub/). So to clarify the pl

[2015-04-16 21:24] SecUpwN commented on #190
Thanks, that makes sense ans simplifies stuff a lot. So I guess we just need to add the correct transtionsto the `string.xml` and ensure that AIMSICD is using the current system language?

[2015-04-16 21:33] rtyley commented on #371
Personally, I wouldn't bother with any of the steps quoted in step 5. If you really want to explicitly delete those folders, then the BFG can do those at the same time as striping blobs:

[code]

This will handle all transformations at the same time, much faster and more easily than `git filter-branch`, with the added benefit that commit ids in commit messages will be correctly mapped over the ent

[2015-04-16 21:42] SecUpwN commented on #371
Oh man, I cannot thank you enough for your wonderful support! And how about the [Stackoverflow Script](http://stackoverflow.com/a/7945209/1673062) - do you see any use for it, or does BFG handle that as well?

[2015-04-16 21:47] agilob commented on #190
No, just create one folder `app/src/main/res/values-pl/` with `strings.xml` per language is enough. Android will start application with system default language, so if I use Polish as my system lang, AIMSICD will be started with resource `values-pl`. If some strings are not translated or don't exist in `values-pl`, Android will fallback to strings from general `values` folder.

Each language has to

[2015-04-16 21:54] rtyley commented on #371
The BFG will output fairly similar information in the `.bfgreport` directory (tho' it only gives the filename, not the full path of the file). If you do a test run of the BFG you get all that info, in less than 2 seconds.

Personally, I wouldn't bother with the stackoverflow script, because I've got a lot of confidence in how the BFG operates, but you can if you like.

Thanks! Endorsements on your

[2015-04-16 23:03] SecUpwN commented on #190
@agilob, it's awersome to see your very detailed explanation of the procedure - it makes perfect sense and enables us to avoid having to use yet another service for translations. Listen up, here's my plan: I will have finished the cleanup of our repository later today (likely in a few hours). I know you don't have much time, but you are the one with much more experience in this field, thus I am di

[2015-04-17 00:22] SecUpwN commented on #371
Hey @rtyley, I'm not sure if you're still awake (it's 02:21 AM over here in Germany), I'm dealing with:

How can I make these gradle dependencies? Let me know, I am about to hit the button! ;-)

[2015-04-17 06:30] rtyley commented on #371
Your gradle deps are defined here:

https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/d7057d8bb184/app/build.gradle#L129-L136

Better to define dependencies by their artifact id, so that they can be downloaded, rather than incorporating the jars into your repo. You can use http://search.maven.org/ to find the artifact ids for the dependencies you currently have in `app/libs`.

https://

[2015-04-17 08:20] cyklodev opened #373 "Missing permissions"
Hi guys,
I build your app on my phone (S3 not root) and i see that a permissions was missing in the ADB log.

`uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" `

After adding this,  i havent no more the warning. Does it come from my phone or the fact that i have not a rooted phone ?

[2015-04-17 10:31] mikael-fourrier opened #374 "Hide "Status: Good" notifications"
I can't find a way to mask the notification when no IMSI-Catcher is detected. If it was possible, the impact of seeing the notification would be greater.

[2015-04-17 10:35] agilob commented on #190
You can find my email address and OPGP key [here](http://b.agilob.net/contact/0

[2015-04-17 10:35] agilob commented on #190
You can find my email address and OPGP key [here](http://b.agilob.net/contact/)

[2015-04-17 10:41] SecUpwN commented on #373
Good evening @cyklodev! It seems you haven't followed our guide on [how to submit Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues). Without any logcat we don't know which error message is shown. And why should we need to add this permission?

[2015-04-17 10:43] SecUpwN commented on #374
Excuse me please, but I really don't get what you're trying to achieve. Please clarify.

[2015-04-17 11:05] #370 closed

[2015-04-17 11:12] #373 closed

[2015-04-17 11:26] mikael-fourrier commented on #374
Sorry.
When the application is running, there is a notification which indicates if there is an IMSI catcher nearby. This notification could be hided if there is no catcher detected.

[2015-04-17 11:34] SecUpwN commented on #374
@mikael-fourrier, we are currently still in [ALPHA stage](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Development-Status#alpha-stage) and simply lack pull requests for fixing most of the Issues we discovered. Could it be that your Issue here is in fact a duplicate of #349?

[2015-04-17 11:39] mikael-fourrier commented on #374
Not really, they talk about the database correctness, I talk about the interface.

[2015-04-17 11:52] SecUpwN commented on #374
Which indication do you mean? The yellow warning? Please add a screenshot.

See, the yellow warning should only come up if the CID does not exist in the OCID DB.

[2015-04-17 12:06] mikael-fourrier commented on #374
Yes, I mean the green one. Most of the time (I hope), there is no catcher nearby, so it's not really useful to keep the notification visible all the time.
Sorry for the imprecision.

[2015-04-17 12:20] SecUpwN commented on #374
No worries, better late than never. ;-) I would like to hear the opinion of @He3556 on this one as well, but since our app is all about indicating every single thing, even the loading procedure (see the [Status Icons](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons)), I guess this Issue really is not so important and does not improve anything. Other than that, I do think

[2015-04-17 14:39] SecUpwN commented on #371
Thank you so much for your awesome BFG cleaner, @rtyley - our repository has now been successfully cleaned out and we're now at an unbelievably tiny size of **just ~5 MB**! Have a look at [our Twitter](https://www.twitter.com/AIMSICD). ;-)

**TO ALL CURRENT FORKERS:**

* Please **delete** your old fork and **re-fork** our project!
* Do not hesitate to craft pull requests like crazy now!
* Spread t

[2015-04-17 14:55] #371 closed

[2015-04-17 15:26] SecUpwN commented on #362
This Issue has been solved with the cleanup of #371. Contact me for further improvements. Thanks!

[2015-04-17 15:26] #362 closed

[2015-04-17 16:09] SecUpwN commented on #371
Please see previous message above!

@IrmaDoe, @JamesAlias, @jamesbchen, @jbnixx, @Jeyaprakashchinaraj, @jimmyyang2014, @johnzweng, @joseniem, @KangProject

[2015-04-17 20:27] SecUpwN commented on #371
We cleaned our repository, you must re-fork. Please see [this message](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/371#issuecomment-93998806)!

@nehz, @Niyikiza, @nosepick, @petetandon, @phoenixDevelopment, @proximer, @pmocek, @Reaper951, @Robbenklopper123, @rocksontrees, @RyanTech, @RyDroid, @sagarpshah, @Sandman671, @sears31907, @sikopet, @simudream, @sonnyochoa, @stinkydan,

[2015-04-18 00:58] jamesdwilson commented on #178
I think I'm having the same bug, on Sprint. Possibly related to Google Voice integration. Happy to send logs but not post them publicly.

[2015-04-18 14:36] SecUpwN commented on #178
@jamesdwilson, please enter the Navigation Drawer and press `Debugging` to send the logs to me.

[2015-04-18 14:49] SecUpwN commented on #328
@indoraq, please craft a pull request to fix this bug. Thank you.

[2015-04-18 15:01] SecUpwN commented on #215
@E3V3A, are you continuing to work on this, or did you drop us?

[2015-04-18 15:05] SecUpwN commented on #71
@hannosch and @andr3jx, I would like to fix this Issue to also solve @349. Here is my idea: We already have this button `Download Local BTS Data` in the Navigation Drawer of our app. When pressing it, our app is contacting the OCID servers to download the OCID DB. Would it be possible to let this button also let download the MLS DB so that our app would perform two checks if the connected CID is a

[2015-04-18 16:54] hannosch commented on #71
@SecUpwN I won't mind if you add such a feature to your app and download the MLS cell data.

But both the OCID cell data and MLS data are about 170mb each in compressed form. It's probably rather inefficient to let every app user download and parse this data for the apps purposes. You might want to stand up some service that gets the data from both sources, combines it and offers it in a more suit

[2015-04-18 19:07] #66 closed

[2015-04-18 19:10] SecUpwN commented on #73
@Gitschubser, please answer the above question. Thank you.

[2015-04-18 19:18] SecUpwN commented on #310
I am running the current version `0.1.25-alpha-b40` and everything appears to be working fine. Should you experience this Issue again, please specify the exact steps to reproduce the Issue. Thank you.

[2015-04-18 19:18] #310 closed

[2015-04-18 23:22] banjaxbanjo commented on #374
Personal I think its a good idea to have it showing as @SecUpwN explained the reasons why but it wouldn't be to hard to add a preference to let user have it shown or not.

[2015-04-18 23:28] SecUpwN commented on #374
Would it be a benefit to the users having a tickbox called `Hide 'Status: OK'` in our `Interface Settings`?

[2015-04-18 23:33] banjaxbanjo commented on #374
That's true, the point of the green status icon is to indicate everything is ok and app is running so not having it there is bad idea.

[2015-04-18 23:34] #374 closed

[2015-04-19 18:10] E3V3A commented on #71
I see little point in doing both since MLS is based on -- or using  OCID data. Either one or the other, but not both.

[2015-04-19 18:49] E3V3A commented on #373
So yes, this may be a root issue. It is also a hidden/undocumented google permission.

[2015-04-19 18:55] hannosch commented on #71
It depends on what you do. If you do an online query using the MLS API, you'll get results from both data sources. But if you download the dataset yourself, then MLS only publishes its own dataset and OCID publishes theirs. Each of them is about 7 million cells these days, last I checked the overlap is only around one million between those.

We do have to keep the datasets separate on the storage

[2015-04-19 19:07] E3V3A commented on #71
Thanks for clarifying @hannosch. I've been following your wetting procedures closely, and would probably trust your data set more, since it is transparent to what you do.

In either case I would like to see a possibility to download your data separately from within our app. For example by using a setting of:
[code]

[2015-04-20 07:33] indoraq commented on #328
For each gps-fix or NW fix timestamp store the handset current timezone data in DB.

Option A: In export use the stored timezone , add the timezone notation to timestamp in local time in export.
Option B: Or get current timezone, calculate UMT and provide two cloumns in export: UMT and current timezone.

Br, indoraq

From: Security: Pwned. [mailto:notifications@github.com]
Sent: Saturday, April 18

[2015-04-20 11:36] banjaxbanjo commented on #340
This can be achieved using AT+CFUN to turn off radio but phone has to be rooted as E3V3A said.

[2015-04-21 08:24] SecUpwN commented on #340
@banjaxbanjo, I am wondering why our app only requests root when pressing the `AT Command Interface` button. Wouldn't it be better to detect it right after the start and when root access has been granted, let the user enable a new checkbox called `Flight Mode on Attack`, which would be located in `Preferences/PROTECTION SETTINGS` right above the Femtocell options? Without root, that checkbox shoul

[2015-04-21 08:35] banjaxbanjo commented on #340
@SecUpwN it only requests root when that button is pressed because its using su user to access root settings.

The AT bit is a bit tricky to implement  because first you will needed to programmatically find an open serial port that accepts AT COMMANDS.

[2015-04-21 09:55] E3V3A commented on #297
Like I said before, progress bar cannot be shown when downloading block-mode streams. In addition if the (restore) files are small, which they are most of the time. There will be no time to update the bar before its already done. You will simply not see anything. I guess you could try to update the bar between each file, and set it to 50% just to see something.

[2015-04-21 18:54] #297 closed

[2015-04-21 19:37] SecUpwN commented on #74
A few days ago, when cleaning our repository with the awesome [BFG Repo-Cleaner](https://rtyley.github.io/bfg-repo-cleaner/) by @rtyley, I have discovered that he uses [Bountysource](https://www.bountysource.com/). It looks great, but I would like to have some feedback of you guys (especially @He3556, @tobykurien, @banjaxbanjo and @DimaKoz) if it does meet the needs we have been talking about so e

[2015-04-21 19:42] rappo commented on #74
Hi all, I'm from Bountysource.com and was sent here to publicly respond to a few questions from @SecUpwN. As a note, I did *not* read the thread (yet) as there's a lot to it and I wanted to get a reply right away. Here are the questions sent to support@bountysource.com with my answers:

All payments require a Bountysource account. Paypal transactions are also tied to your Paypal account for obviou

[2015-04-21 19:54] DimaKoz commented on #74
via PayPal
https://developer.paypal.com/docs/classic/mobile/ht_mpl-itemPayment-Android/

I can try to add a Pay with PayPal button in our app.
It is interesting to implement.
What are your decisions?

[2015-04-21 20:00] banjaxbanjo commented on #74
Donations would definitely bring more devs and give people mire incentive to code on project more.

[2015-04-21 20:10] SecUpwN commented on #74
Thank you so much for replying on my questions, @rappo! I see that Bountysource is a great platform, but do I have to open up a PayPal account for it? PayPal requires a bank verification and since I all about staying anonymous (since we're coding a tool to detect heavy technology of the state), I am not sure I can sign up for your service without giving up my anonymity. Which other possibilities d

[2015-04-21 20:12] DimaKoz commented on #74
Just as an idea, I can offer to implement a simple application for donations through Google Play. For most users, android payment through it will not cause difficulties.
For example, you can see here:
https://play.google.com/store/apps/details?id=eu.chainfire.supersu.про

[2015-04-21 20:19] SecUpwN commented on #74
Thanks for the neat idea, maybe something we can also consider for #202. But donating should not be only possible via one service. Furthermore, I am really still not sure if I want our app to be on GooglePlay since we are [standing strong against it](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/FAQ#q-why-wont-you-upload-your-app-to-the-google-play-store).

[2015-04-21 20:53] DimaKoz commented on #74
Google does not make a lot of things, very long time, including a fix their bugs, unfortunately.
Do not use Google market, we are losing a lot of users.
On the other side the application on Google Play should not have other methods of payment other than only through Google Play.
Therefore, if you decide to get a huge market for our application, we will have the following problem. We will need to m

[2015-04-21 21:10] E3V3A commented on #74
I thonk what Sec said, is that we've been thinking to provide an AIMSICD wrapper/downloader on GP. That way were present, and people can still download our app (using the downloader standalone) and donate, all without actually having our latest built apps messed up by Google spyware bloat etc.

[2015-04-21 22:02] DimaKoz commented on #228
As [E3V3A](https://github.com/E3V3A) wrote:

What exactly which table the field we can use to get "first / last seen?"
Can I use the "Type" field of "opencellid" table for getting RAT?
Can I use the "PSC" field of "EventLog" table to obtain data on the PSC?

[2015-04-21 23:18] SecUpwN opened #380 "Hide or clarify examples in EventLog and DB Viewer"
I have been alerted via Twitter and email multiple times now that people had been likely "connected" to a fake base station and "received" silent SMS. Both of these events identified to be the examples we just added to show what it may look like. Below is a screenshot of a concerned user.

These are our options now (please vote):

1. Hide examples until a small button called "Show/Hide example" is

[2015-04-22 03:52] tempIMSIacc1 opened #382 "Silent SMS is set off for all SMS messages"
Whenever I receive any SMS message, the Silent SMS alert goes off, turning the alert icon red (and sometimes crashing the IMSI catcher app). This happens for all SMS messages, both encrypted ones I receive from people using SMSsecure and unencrypted ones I simply send to myself. I exported the SMS log and only the legitimate text messages were there, though for all of my messages the Class was "UN

[2015-04-22 08:46] SecUpwN commented on #382
Good morning @tempIMSIacc1! Thank you for notifying us, but I expect this to be a duplicate of #330 and #366. Please either compile the `development` branch yourself, or send me an email to receive the current testing APK with a temporary signature. Public release `v0.1.26-alpha` will come out this Friday!

[2015-04-22 11:06] E3V3A commented on #228
@DimaKoz This is a challenge:

1. Because we still have not implemented the DB as specified in #215. (opencellid should be replaced and removed!)
2. We have an issue for the BTS pin info in #234
3. You could use `EventLog` table, but it would be better to use `DBi_bts/measure` for *Type* and *PSC*.

[2015-04-22 11:12] E3V3A commented on #380
Dead twitter link. And you already know what I would vote for, **neither**. Keep people off the app until they understand how to use it. Why should we waste time developing code for an alpha app, just to inform people, that it is "alpha" and demo? That just doesn't make any sense.

[2015-04-22 17:15] SecUpwN commented on #380
I can't and do not want to prevent people running around and testing our app.

They know that it is in ALPHA stage, it is displayed everywhere. But I guess adding a simple red word `EXAMPLE` into both of these example messages won't be a huge hurdle, right @DimaKoz?

From my experience, people install stuff, maybe read the splash screen quickly and then simply forget about it. I know you're always

[2015-04-22 18:31] DimaKoz commented on #380
I think you are right @SecUpwN

[2015-04-22 20:21] agilob opened #383 "NPE on tm.getNeighboringCellInfo()"
[code]

On line:

[code]

I'm unable to start the application after uninstalling(not just reinstalling) and installing fresh version.

[2015-04-22 20:49] SecUpwN commented on #74
@DimaKoz, have you had a look at [Bountysource]([![CallYa Toppings](http://toppings.vodafone.de/img/topping-fb.jpg)](http://toppings.vodafone.de/)) yet? I am specifically looking for something like that, a service that is able to make people vote and donate on Issues. They also offer a browser extension, that way people can support developers during their usual GitHub use.

The only thing I am cur

[2015-04-22 20:56] tempIMSIacc1 commented on #382
Yup, looks like it. I'll just wait for the new version to come out on Fdroid- until then I disabled SMS access in App Ops.

[2015-04-22 20:56] #382 closed

[2015-04-23 03:56] SecUpwN commented on #190
Again, awesome work @agilob! Keep it comin'! :smile_cat:

[2015-04-23 03:57] #190 closed

[2015-04-23 04:10] SecUpwN commented on #383
@agilob,  have just sent you the APK with your latest PR added. Please verify this is fixed and close it.

[2015-04-23 05:48] #380 closed

[2015-04-23 06:59] agilob commented on #383
I made another PR fixing this issue.

[2015-04-24 04:42] #383 closed

[2015-04-24 18:27] DimaKoz commented on #228
@E3V3A
![device-2015-04-24-222852](https://cloud.githubusercontent.com/assets/3092276/7325675/9827746e-eac8-11e4-8d6a-82e81bbb0477.png)
I may have corrected this subtask.
It really is? It remained without tick mark.

[2015-04-24 19:31] E3V3A commented on #228
@DimaKoz Excellent and checked!

[2015-04-25 10:05] agilob opened #390 "Application dies when running in background"
When I turn on location service (from no location service to GPS) application crashes after a few seconds:

[code]

Then I press 'OK' on the popup application crashes 2-3 more times just after pressing OK, then starts without problems.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12060260-application-dies-when-running-in-backgroun

[2015-04-25 10:57] E3V3A commented on #390
I've seen this too, and I've been suspecting the process governor. When a process is using too much CPU, it gets killed after a while. I have no idea how to check this. You may also consider looking at the other logcat buffers as well. `-b main -b events -b system -b radio`...

[2015-04-25 11:00] agilob commented on #390
I'm not sure if that explains those crashes. Application dies immediately after turning on GPS.

1. No location service available
2. Turn on AIMSICD
3. Turn on GPS
4. Application crashes immediately
5. AIMSICD restarts itself
6. Crashes in less than two seconds
7. ...

[2015-04-26 18:42] agilob commented on #390
Apparently it happens only when application is running as system-app

[2015-04-26 18:44] SecUpwN commented on #390
You mean with root rights  a doing so and nothing crashes at all..

[2015-04-26 19:05] agilob commented on #390
As system app, to do so copy AIMSICD.apk to /system/priv-app/ (android 4+?) and reboot your device, application will run as system app, not only with root privileges. You won't be able to reinstall/uninstall the application now. Do you have that com.google.calculator that requires internet connection and you can't uninstall it? remove it from /system/priv-apk and you will be able ;)

http://stacko

[2015-04-26 19:14] SecUpwN commented on #390
What you've installed seems great, but when uninstalling system apps you still have the deeply hidden spy- and bloatware on your system. I highly recommend to use a fresh custom ROM like my beloved [AOKP](http://aokp.co) as the base and then install the apps you've mentioned. Sounds better, huh?

Back to the crash in this Issue: Can you trace down what exactly causes this?

[2015-04-26 19:22] agilob commented on #390
AOKP doesn't have ROM for my device, I use [carbonrom](https://carbonrom.org/screenshots/) ;)

I can try.

[2015-04-28 22:29] SecUpwN commented on #348
I have had a quick look and found the reference on [line 13](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/89bc61cde66f91783d17a635cda31e9fb67f1997/app/src/main/java/com/SecUpwN/AIMSICD/utils/DeviceApi17.java#L13) in `DeviceApi17.java`. Not sure what exactky is missing or wrong, maybe digging through the [CellInfoWcdma class overview](https://developer.android.com/reference/android

[2015-04-29 10:42] whitequark commented on #348
Yeah it's kind of gross. You have to use reflection to stay compatible with API level 17. The PR you've linked has pretty much everything you need to successfully integrate it elsewhere.

[2015-04-29 23:36] SecUpwN commented on #390
@agilob, please test the current APK I have just sent to you and close this if fixed.

[2015-04-30 06:32] curtiszimmerman commented on #362
I've heard about a new, interesting project for team communication which sounds like it might be worth looking into: https://github.com/moose-team/friends

[2015-04-30 08:12] E3V3A commented on #348
Just to clarify. Is this really fixed? How was it fixed? Did you remove API 17 compatibility or implement reflection? Sorry, but it's not clear from the PR info.

[2015-04-30 08:20] E3V3A commented on #390
Hm, I never actually tried to install AIMSICD as a system app, since we loosely require root and included all related system permissions, thus it was not necessary. At least until now, if L requires it to be. @agilob Is there any particular reason you wanna make this a system app? (Problem with using this as system app is that it is not easily updated, which would be bad because of our current alp

[2015-04-30 08:24] E3V3A commented on #362
Thanks @curtiszimmerman, sound great, but it is neither using SSL or end-to-end encryption, nor offering code-highlighting AFAICT. So we're quite happy to stay with HipChat until then.

[2015-04-30 08:39] curtiszimmerman commented on #362
I guess I should have clarified that I wasn't posting it as some kind of Hipchat replacement. I think it's pretty obvious that you guys are stuck on Hipchat. This seemed like an interesting alternative for an accessible, general chat for users.

[2015-04-30 09:22] E3V3A commented on #362
@curtiszimmerman Ah, ok, that is a different story. Sure, we can look into it. (Just to clarify, we're not "stuck" on anything, we're just trying to balance between remaining flexible and minimizing the time required to curate and maintain all the various accounts, chats and what not.) Users are always free to use our XDA thread or our open channel at HipChat. Surely @SecUpwN have much more to say

[2015-04-30 12:32] SecUpwN commented on #362
Thanks for sharing this, @curtiszimmerman! I have looked into it and it seems neat, I am especially following https://github.com/moose-team/friends/issues/46. As for now, I am not intending to open yet another account anywhere else, our main focus is currently to cut down on the Issues and make some real progress. But I will definitely bookmark this and look at it once in a while. Please help us p

[2015-04-30 17:28] curtiszimmerman commented on #362
I think "stuck" was the wrong word for me to use. I understand what you guys are after for a chat, just thinking of things that might be useful in some way.

[2015-04-30 18:55] DimaKoz commented on #348
@E3V3A The selected section has been switched off for less than 18 API
https://github.com/DimaKoz/Android-IMSI-Catcher-Detector/blob/ed2167ac9fdbcdf19d9c2e2a2cbaa4736952e111/app/src/main/java/com/SecUpwN/AIMSICD/utils/DeviceApi17.java#L85-L100

I'm sorry, but I don't have a phone to check elimination of this bug. Now it should work without falling down.
We can use reflection for that: http://stack

[2015-05-01 12:26] SecUpwN commented on #348
Please have a look at the pull request I linked in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/348#issuecomment-97245124. there, they use reflection to also enable compatibility with API 17 - everything needed should be available in https://github.com/whitequark/LocalGSMLocationProvider/commit/9d8771e8dd171041987fc5a7d62932ddbeda7a79. Can you change the code of our app to do a

[2015-05-01 12:46] whitequark commented on #348
Yeah, I can run your code at an API level 17 device at least

"Security: Pwned." <notifications@github.com> wrote:

[2015-05-01 21:08] E3V3A opened #398 "Mobile Justice for EU"
Would be great to have AIMSICD connected to some similar service like [Meerkat](https://play.google.com/store/apps/details?id=co.getair.meerkat), [Periscope](https://www.periscope.tv/) or [Mobile Justice](https://www.mobilejusticeca.org/how-it-works/). So our users could also record the use of these surveillance devices.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](

[2015-05-01 21:39] E3V3A opened #400 "More Good reasons to not use Google"
http://boingboing.net/2015/04/28/fbis-crypto-backdoor-plans-r.html

[2015-05-01 21:45] SecUpwN commented on #400
Thanks @E3V3A! I am seriously thinking about not even adding an "installer" there as proposed in #202. How do you feel about completely ditching Google and staying with what we have already?

[2015-05-02 10:07] E3V3A commented on #400
Sure. Just wanted to add this info somewhere, to inform people that their gov's and google app providers are even considering working with these bastards.

[2015-05-02 15:18] SecUpwN commented on #400
It's a real shame. Android is such a wonderful operating system but what Google does with it and who they support is truly evil. Considering the fact that they've also bought [Boston Dynamics](http://www.bostondynamics.com/) and are now [building military-grade self-thinking robots](https://www.youtube.com/user/BostonDynamics), noone can tell me that they're not part of a future **war**.

I'd like

[2015-05-02 16:41] SecUpwN commented on #15
Folks, please have a look at the OP and tell me if you agree with that or have further suggestions.

[2015-05-02 17:08] agilob commented on #15
There's no point in playing alarm for green and yellow icons. Green is standard, I got yellow basically everyday.

[2015-05-02 17:59] He3556 commented on #400
yes, and please close other issues that are related to this discussion.

[2015-05-02 18:07] #400 closed

[2015-05-02 18:07] SecUpwN commented on #202
With [more bad news of Google](http://boingboing.net/2015/04/28/fbis-crypto-backdoor-plans-r.html) turning up, we've finally **DITCHED** this idea. Please do **NOT** upload our app on GooglePlay (not even as a re-branded installer) and carefully read [our statement](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/FAQ#q-why-wont-you-upload-your-app-to-the-google-play-store). Thank you

[2015-05-02 18:07] #202 closed

[2015-05-02 18:26] SecUpwN commented on #398
@E3V3A which of these services do you prefer? we should agree on one that is available everywhere.

[2015-05-02 18:47] agilob commented on #398
Is there a point of that? If AIMSICD detects danger changes settings to flight mode, then user loses internet connection

[2015-05-02 19:49] E3V3A opened #402 "Update ServiceMode parser for better RIL/API support"
We're currently using an old version of the *SamsungRilMulticlient* code used in [../utils/OemCommands.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/utils/OemCommands.java), this code need to be updated to what's found in the **CM12.1** [code](https://github.com/CyanogenMod/android_packages_apps_SamsungServiceMode/blob/cm-12.1

[2015-05-02 19:55] E3V3A commented on #15
I agree, and putting a very short vibration for newly updated/connected cells should be trivial.

[2015-05-03 09:52] E3V3A opened #403 "Increase time of info box toast messages"
The toast messages used to display info from the **`[i]`** icons on the drawer are shown for too short a time. The actual time shown also seem partially random.  Reproduce by hitting a few in succession.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12922031-increase-time-of-info-box-toast-messages?utm_campaign=plugin&utm_content=t

[2015-05-03 09:59] E3V3A opened #404 "TRACKING toggle status should be shown on drawer"
In the menu drawer, under `TRACKING` we can toggle the AIMSICD monitoring and *2G-only* tracking. When disabled, there is a small red cross next to the antenna icon. However, when enabled, as by default, there is nothing, thus user cannot know in advance the current status.

Suggestion: Add a small green circle when enabled.

[2015-05-03 10:01] E3V3A opened #405 "Show Refresh Rate without opening menu"
In `Preferences` under the `SYSTEM SETTINGS`, we have `Refresh Rate`. The currently selected refresh rate is not shown. Solution: Display currently selected refresh rate without user having to click there.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12922723-show-refresh-rate-without-opening-menu?utm_campaign=plugin&utm_content=t

[2015-05-03 10:12] E3V3A opened #406 "Debug Logs are spammed when using XPrivacy"
When viewing the live logcat entries using the `Debug Logs` function, each entry is accompanied with the internal logcat command line, i.e. `logcat -t 500 -v brief -b main ...`, if you have installed XPrivacy.

Solution: Filter logcat from using all related `XPrivacy` and `Xposed` entries.
(Or only get rid of `XPrivacy/XRuntime`.)

[2015-05-03 10:22] E3V3A opened #407 "No BTS Measurements shown in DB viewer"
Entering `Database Viewer` and attempting to view either `Unique BTS Data` or `BTS Measurements` yield and empty table.

@DimaKoz Can you please have a look at this, as it seem to have something to do with your PRs. Are there any particular reasons why you replaced all the `case` statements with `else if`s? I found the former code much easier to read and handle... Compare [old](https://github.com/

[2015-05-03 10:47] DimaKoz commented on #407
The old code did bug in languages other than English
The tables were not displayed.
I found this bug.
@SecUpwN  confirmed it.
I see all the tables in the Database Viewer
What exactly the problem with the new code now?

[2015-05-03 11:02] DimaKoz commented on #407
What language setting on your phone?
Maybe I would be able to repeat the bug that you see.

How many records you have in your "Unique BTS Data" and "BTS Measurements" tables?

[2015-05-03 11:07] E3V3A commented on #407
I see, yes, that make sense. My language is set to default on ENG.

Yeah, I got it now after first enabling GPS and then restarting app. It took a few seconds. I don't think that GPS should be required to get these populated. Not sure whats causing this delay.

On a separate note, I also noticed that the RSS (Relative Signal Strength) fields are wrong, showing the dec equivalent of 0xFFFFFFF., i.e

[2015-05-03 11:29] DimaKoz commented on #407
our app still has many bugs as possible(Now I'm trying to fix a few memory leaks since it makes me sad when I see it)

Yesterday I noticed that BTS moves with me, if you look at the map at this moment.
Sometimes she remained in place (recorded in the database), adding an unknown BTS (so we send the wrong data on www.opencellid.org)
![screenshot_2015-05-02-21-20-00](https://cloud.githubusercontent.

[2015-05-03 11:54] DimaKoz commented on #407
I agree with you fully
We need a little refactoring (for example, add an adapter for spinner)
Then you can easily return ```case``` statements

[2015-05-03 13:02] SecUpwN commented on #407
@DimaKoz, I am very happy having you here and working so hard to improve our code wherever possible! One small advice: Please make sure that when uploading screenshots of your device, no personal data (like BTS, IMEI, IMSI and such) gets exposed publicly. We know for a fact that we're being monitored by IMSIC producers. As for the meomory leaks: I have added you to our [Coverity Scan](https://scan

[2015-05-03 13:08] SecUpwN commented on #406
So that means our app should automatically filter these out when pressing `Debugging`?

[2015-05-03 13:14] SecUpwN commented on #404
Should that small green circle also be displayed when `Toggle AIMSICD monitoring` is enabled?

[2015-05-03 13:34] SecUpwN opened #408 "Antenna Map Viewer: Overlay of small Map Legend"
Hey guys, sorry for piling up Issues again. I have received feedback from people that they do use the `Antenna Map Viewer` but do not know what each circle on the map stands for. **Solution:** In the top right corner of our `Antenna Map Viewer` users can already change the Map Type and download the OCID data. I propose adding a small legend to overlay the map to quickly show what each circle stand

[2015-05-03 20:11] SecUpwN commented on #407
@E3V3A, I have just sent you another invite to our [Buildozer](https://buildozer.io/accounts/926) which enables you to test the bleeding edge code of our `development` branch. Please make sure to constantly check if this Issue is still valid.

[2015-05-03 20:12] E3V3A commented on #406
Yes, by adding something like: `... XPrivacy/XRuntime:S Xposed:S` to the logcat line.

[2015-05-03 20:14] E3V3A commented on #404
1. See 2
 2. Yes
 3. Don't understand your question.

[2015-05-03 20:15] SecUpwN commented on #117
@E3V3A, we now have the requested **[ i ]** buttons in our Navigation Drawer.
Can this Issue be closed or is there anything else that we have to add as well?

[2015-05-03 20:16] E3V3A commented on #408
Great idea, and I don't think we even need a button for that. A very small legend should suffice, and if the legend is clicked, a larger more details description is shown.

[2015-05-03 20:23] SecUpwN commented on #147
@E3V3A and @DimaKoz, I would like to update you on the situation over here at my place: I have noticed that for the means of maintaining this project and updating the app version, I am much more in control of the process when **doing it by hand** (increasing the version in `AndroidManifest.xml`). @DimaKoz is also perfectly following the [version instructions] now and doing it by hand as well.

**T

[2015-05-03 20:26] E3V3A commented on #407
ok thanks, I'll have a look at it.

[2015-05-03 20:29] E3V3A commented on #117
Yeah, I think that pretty much covers it, if there's something else, we can re-open later.

[2015-05-03 20:29] #117 closed

[2015-05-03 20:42] E3V3A commented on #147
@SecUpwN Hmm, I understand the manual fixing is working great, and that it is simpler. However, I'm not convinced this is very convenient for debugging. It mean we always have to manually change the name after each download/update, when saving, especially when I like to keep all previous versions for reference when trying to hunt down bugs. I often install and remove several versions on device for

[2015-05-03 20:45] SecUpwN commented on #147
Thanks for your clarification, @E3V3A. I am not really seeing through anymore and I would love you and @DimaKoz to construct the update mechanism as proposed to convince me. Unassigned myself.

[2015-05-03 20:58] SecUpwN commented on #404
@E3V3A, I have prepared the following change to be added. Please confirm you like it:
![Track Cell](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/raw/development/app/src/main/res/drawable-hdpi/track_cell.png) --> ![Track Cell](https://cloud.githubusercontent.com/assets/6000299/7446891/1966329e-f1d7-11e4-8ece-2840e85e9cc9.png)

![Track Cell](https://github.com/SecUpwN/Android-IMSI-Catche

[2015-05-03 21:31] SecUpwN commented on #92
Hey guys! I have just received a very friendly message of @adrian-bl in German. Translation of it:

The `SMSC` cannot be re-programmed as a normal application. Looking at the AOSP code, the `SMSC` of `rild` is configured via `opt/telephony/src/java/com/android/internal/telephony/RIL.java`:

```JAVA```
@Override
public void setSmscAddress(String address, Message result) {
RILRequest rr = RILRequest

[2015-05-04 00:08] SecUpwN commented on #407
Yes, please test the latest build. This bug seems fixed to me, feel free to re-open if it isn't.

[2015-05-04 03:25] SecUpwN opened #411 "Prevent sending fake BTS to the OCID database"
@DimaKoz has asked me to open a fresh Issue for his discovery of two (possibly related) problems:

1. Occasionally the BTS seems to move with the user, also adding new BTS to the map.

2. We are currently not uploading data to OCID - we need to prevent uploading fake BTS.

Thank you for digging into this very important Issue, @DimaKoz and tracking progress here!

**UPDATE: @msemm from OCID just re

[2015-05-04 08:41] E3V3A commented on #404
Look good to me.

[2015-05-04 08:46] SecUpwN commented on #404
Will make myself another coffee, enlarge that green check mark and then add it ASAP.

[2015-05-04 08:55] #404 closed

[2015-05-04 09:07] E3V3A commented on #92
That make perfect sense, and we can certainly send the `RIL_REQUEST_SET_SMSC_ADDRESS` *QMI* **packet**. We can probably also use reflection or system application injection, since we're root. I'll have to talk to the guys and figure out the format of that packet. Also, we we dropped the message counter investigation. I haven't thought much more about that lately...

[2015-05-04 09:10] E3V3A commented on #407
@SecUpwN Is that the same build as b00? Or only available on Buildozer?

[2015-05-04 11:47] ziem commented on #408
@E3V3A Legend can be easily displayed above map like [TextView](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/res/layout/map.xml#L14) with contributors. I can do it, just tell me what do you want it to look like?

[2015-05-04 12:15] SecUpwN commented on #407
@E3V3A, do you think I invited you to Buildozer because I am having too much time? ;-) Buildozer builds a rresh APK for testing when commiting anything to our `developmen` branch. And this fixed.

[2015-05-04 12:56] SecUpwN commented on #408
Any examples you can link us to?

[2015-05-04 13:26] ziem commented on #408
I was thinking about something similar to: https://bellevuentss.files.wordpress.com/2012/04/tap-google-map-legend.jpg .

[2015-05-04 13:40] SecUpwN commented on #408
@ziem, looks great! I'd prefer some sort of gray background though and this thing should be small. But since I know you're a real pro coding stuff for maps, feel invited to craft an initial pull request! ;-)

[2015-05-04 15:45] agilob opened #412 "Move AIMSICD folder to ./Android/data/"
What do you think about moving location of the folder with data from default location to `./Android/data/`? Currently the folder is easily accessible by users, can be deleted/modified by accident by user or cleaning applications.

Android supports 'private' data folders by design, current implementation of AIMSICD doesn't follow those 'guidelines' (not really guidelines, or I can't find them, but

[2015-05-04 15:54] SecUpwN commented on #412
Good suggestion. Would like to hear both @DimaKoz and @E3V3A on this.

[2015-05-04 16:09] E3V3A commented on #407
Well, then you need to add me to the project, do that there's something to download...

[2015-05-04 16:11] E3V3A commented on #408
Perfect, if it will use same icons.

[2015-05-04 16:17] E3V3A commented on #412
I'm fine with this, as long as it uses standard, non root writable, locations and doesn't mess it up for older APIs.

[2015-05-04 19:42] SecUpwN commented on #407
Already done since a few hours, sorry for having forgotten that important point. ;-)

[2015-05-04 20:00] darkerego commented on #412
I would like to add that when I use the "Export Database" function, in the newest WIP (v0.1.26-alpha-b00)  release and the previous release (v0.1.25-alpha-b35), I am prompted for root access for AIMSICD. However, if I deny root access, the files are still exported. I am on CM12 (5.1.1). Does this make sense to anyone?

[2015-05-04 20:06] SecUpwN commented on #412
Root should only be prompted for when hitting `AT Command Interface`. Please look into that @DimaKoz.

[2015-05-04 20:32] darkerego commented on #412
Okay, that's what I thought. Let me know if you need debug logs. I reinstalled the app serveral times and downloaded it through various proxies to ensure the app was not tampered with, and the same thing happens. I also deleted the AIMSICD folder before each install, thinking perhaps I messed up the permissions.

Btw, may I suggest that you provide an additional way to verify the app's integrity w

[2015-05-04 20:44] SecUpwN commented on #412
Sorry bro, but we're having way much heavier problems right now with people wanting to discredit us in public and making our GitHub repository get taken down. If you really want to make sure everything has not been tampered with, please compile the `development` yourself. Also see https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/66#issuecomment-85751526. Thanks.

[2015-05-04 21:01] darkerego commented on #412
Okay I understand, and I have much respect for your guys for standing up for what is right. I guess it's time to learn how to compile an apk.

[2015-05-04 21:21] E3V3A commented on #412
@darkerego  and @SecUpwN CM generally doesn't need root. Also, the reason root is required (AFAICR) is that is uses a command line option to call the `sqlite3` binary which is not always present in the default bin, to export a full monolithic dump. Please check that you got this, which I doubt.

[2015-05-04 21:29] DimaKoz commented on #412
@E3V3A and @SecUpwN We had planned to redo the export (and backup) through the "cvs" files?

[2015-05-04 23:13] E3V3A commented on #412
@DimaKoz I don't see any reason to redo. They work now, but the code for the CSV files is somewhat ugly. Also since we need to reformat several tables in the DB, we should wait with this export, as it require recoding of new table items. The dump will suffice for most practical purposes, and if user want the CSV, he can more easily do it manually using the `sqlite3 -csv ...` option as I have detai

[2015-05-05 03:24] Ste4thOverride opened #415 "Integration of GPL SnoopSnitch IMSI Detection"
Common IMSI Catcher Techniques:

1. When a phone shifts from a more-secure 3G network to a less-secure 2G one
2. When a phone connection strips away encryption
3. When a cell tower fails to make available a list of other cell towers in the area (neighbor’s list)

SnoopSnitch is GPL and has detection for many of theses and other features including detection of tampering with SS7. If you can please

[2015-05-05 03:35] Ste4thOverride opened #416 "False Positive: Changing LAC"
I noticed recently while driving from one area to another area the app throws a false positive Yellow attack. One solution would be to detect when the new cell tower is showing Neighbour cell tower list not to throw yellow warning and only show the warning when changed location hides neighbouring cell towers and is missing a cell identifier.

[2015-05-05 04:31] SecUpwN commented on #415
Good morning @Ste4thOverride, thank you for participating in our project and wanting to make this a one-stop kick-ass app! We're working on it as best as possible. ;-) This is in fact a dupe of #241, but here is my suggestion: Please do us the favor and read our note on [similar projects](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Similar-Projects), this will make it clear for y

[2015-05-05 04:31] #415 closed

[2015-05-05 04:54] SecUpwN commented on #412
Sorry for having sounded like an asshole yesterday, @darkerego. I lacked sleep and got into an emotional outburst about a developer who I contacted and is now taking the lead in making us look like retards. In our eyes, the `MD5` should suffer here, compiling the `development` branch is [pretty easy](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Building).

Ok, I'm not sure how lon

[2015-05-05 05:10] SecUpwN commented on #416
Sorry having to say that, but this also seems like a dupe related to completion of #91.
Please follow up there, I'm hoping for @He3556 to give us an update there.

[2015-05-05 05:10] #416 closed

[2015-05-05 12:05] SecUpwN commented on #284
This Issue had been solved intermediately and especially since #407. Closing it now.

[2015-05-05 12:07] SecUpwN commented on #323
Is this still the case on our current internal version `0.1.26-alpha-b02`? Shouldn't be!

[2015-05-05 12:14] SecUpwN commented on #250
@E3V3A, we have had many changes on the map markers and also another reduction of the diameters of the map markers with https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/commit/b2034c2ddff90d43e40746a1917a39beb916c4fa. Is this Issue fixed now? I am currently trying to re-verify our Issues list.

[2015-05-05 15:38] SecUpwN opened #417 "Backlink Database Viewer to Antenna Map Viewer"
I was having a look at the `Unique BTS Data` from within the `Database Viewer` when it came to my mind if it wouldn't be a useful feature that when touching an entry, the `Antenna Map Viewer` could show the logged point on its map. Same thing could apply to the entries in `EventLog`. What do you think of it?

[2015-05-05 16:13] E3V3A commented on #284
Are you sure? With what PR? Did you test it? (It's not so easy to test.)

[2015-05-05 16:14] E3V3A commented on #323
Well, "should" doesn't test it.

[2015-05-05 16:17] SecUpwN commented on #284
Might be that I've misunderstood this Issue then. The `Unique BTS Data` get properly displayed on my device. Please give me some proper instructions and I'll have a thorough test of this is *really* fixed.

[2015-05-05 16:18] E3V3A commented on #250
I haven't had time to download and test this yet, I'll need another day or two for testing... How does it look on your side?

[2015-05-05 16:22] E3V3A commented on #417
Sound like a good idea

[2015-05-05 16:24] E3V3A commented on #284
No this is a timing issue where the info as shown in one window is not updated in the DB Viewer (DBV). If you can force a cell change, and then go to DBV, you will not find it there until much later.

[2015-05-05 16:25] SecUpwN commented on #323
One of the main reasons why we keep "collecting" Issues rather than making progress, is because the people who actually open them do not keep checking if the Issue has been fixed in between, although at times not properly linked with a commit. It would be awesome if you could check your Issues regularly.

[2015-05-05 16:27] SecUpwN commented on #284
Are you able to properly test this, @E3V3A? Let me know if this still persists and I'll re-open it.

[2015-05-05 16:32] E3V3A commented on #323
Which I do. If there's no PR addressing the issue, it is 99.99% unlikely to have been fixed, unless there is some magic working behind the scenes that I don't know about.

[2015-05-05 16:35] SecUpwN commented on #323
Perfect. No need t get angry here, I'm barely trying to maintain this project properly.

[2015-05-05 16:36] E3V3A commented on #284
I think it should be the other way around. Don't close issues that you haven't been able to verify it's been fixed. If not,  we might as well close **all** issues right away.

[2015-05-05 16:38] E3V3A commented on #323
And you do a great job of that. But there surely will be no progress if you keep on closing outstanding issues, just because nobody has been able to address them.

[2015-05-05 16:55] SecUpwN commented on #403
It [appears](https://stackoverflow.com/a/2221285) that we cannot increase the time of [LENGTH.LONG](http://developer.android.com/reference/android/widget/Toast.html#LENGTH_LONG). But I also found [Toast-Expander](https://github.com/quiqueqs/Toast-Expander) by @quiqueqs to hack around this limitation. Another solution could be to implement [Crouton](https://github.com/keyboardsurfer/Crouton) by @ke

[2015-05-05 17:24] E3V3A commented on #403
Just send the toast twice.

[2015-05-06 01:17] Ste4thOverride commented on #415
I see the SnoopSnitch Project listed but the software is GPL and open to incorporate freely if if the project team members won't help on the project.

[2015-05-06 12:03] xranby opened #419 "Positioning data is sent to google locationhistory"
Prevent leakage of sensitive GPS data

When I use positioning and Android-IMSI-Catcher-Detector, the positioning data is uploaded to google with timestamps. https://maps.google.com/locationhistory/b/0. The user should be warned that their location is tracked if possible make it easy for the user to disable googles tracker. A different API should be used to display the map that do not share the use

[2015-05-06 14:30] SecUpwN commented on #419
Thank you for notifying us of the Issue, @xranby for further discussion.

@E3V3A I thought we had removed everything Google from the code?

[2015-05-06 14:59] SecUpwN commented on #403
This idea has also been covered in linked discussion and is considered as [bad practice](https://stackoverflow.com/questions/2220560/can-an-android-toast-be-longer-than-toast-length-long#comment21261042_6376903):

[2015-05-06 15:02] E3V3A commented on #419
Well, without more detailed info from @xranby, it's impossible to tell what he's doing, and if there is anything, we can do about it. Most likely this is a Google Android API problem, far beyond our control. Please contact Google.

[2015-05-06 15:02] #419 closed

[2015-05-06 15:07] E3V3A commented on #403
Ok, how about [this](https://stackoverflow.com/a/28269596/1147688)?

[2015-05-06 20:01] darkerego opened #420 "Constant 'Error retrieving OpenCellID data.'"
Hey, I wanted to let you know about this error I have been getting. It may be a problem on opencellid's end and not the fault of the app, I don't know. Over the last two weeks or so, I am getting this error ( 'Error retreiving opencellid data, check your network') more frequently than not when I try to download the local BTS data. There is nothing wrong with my network connection, and it happens w

[2015-05-06 20:09] SecUpwN commented on #420
Good evening @darkerego. To classify whether this is really a bug within our app, please really follow our guide on how to [correctly submit Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues). Without any logfiles, we cannot help at all! Thank you.

[2015-05-06 20:33] darkerego commented on #420
SecUpwN, the device is Motorola E (condor), running CyanogenMod (12.1-20150503-NIGHTLY-condor), baseband version MSM8610BP_1034.307.26.01P, kernel version 3.4.42-g3f377a3. I posted a logcat with aimsicd entries here: https://defuse.ca/b/3PIPiXWy and sent the decryption password to your email address. Thanks.

[2015-05-07 02:32] SecUpwN commented on #420
Thank you for sending the logfile. I decrypted it and had a look, but I am wondering if you filtered the log since it seems that the actual error you've described in here is not in there. This is all I found in there:

Should you have filtered the logcat, please send me a full logcat.

[2015-05-07 07:07] darkerego commented on #420
Hey,

Yes I grepd the aimsicd entries, sorry I am not too experienced with
Android debugging. Would you mind sending me a gpg key and i will
encrypt the full log and send it to you?

On 05/06/2015 10:32 PM, Security: Pwned. wrote:

[2015-05-07 07:29] SecUpwN commented on #420
Have a look into your inbox.

[2015-05-07 08:18] SecUpwN opened #421 "Only request ROOT when using AT Command Interface"
Reported [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/412#issuecomment-98833790), apparently our app even requests root when not needed.

Solution: Improve our ROOT request to only ask for it when using the `AT Command Interface`.

[2015-05-07 08:32] SecUpwN commented on #420
Done. @darkerego, I have found entries of `Xprivacy` in your logfiles. Are you sure you've set the correct [permissions](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Permissions)? Since you have a license for it, you may also automatically download the crowd sourced restrictions. Please do me the favor and send another logfile created with the button `Debugging`.

[2015-05-07 08:40] E3V3A commented on #420
The code that generate that message is [here](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/729a4f4aceff6230c525b2650867a6af7f811cce/app/src/main/java/com/SecUpwN/AIMSICD/utils/RequestTask.java#L319-L352) So I think there are only two ways that this can happen:

 1. There is a time delay somewhere for already downloaded success.
 2. There is a significant network lag somewhere betw

[2015-05-07 08:47] E3V3A commented on #421
I already [told](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/412#issuecomment-98852721) you why we need root for full DB export. So why do you now want to revert and cripple the DB export? Besides we never said we're gonna support CM or ROMS, on the contrary, which means we use root when we need it.

[2015-05-07 08:53] SecUpwN commented on #412
Digging deeper into this, it seems we should use [ContextCompat.getExternalFilesDirs()](https://developer.android.com/reference/android/support/v4/content/ContextCompat.html#getExternalFilesDirs%28android.content.Context,%20java.lang.String%29) for this since it supports Android 4.3 and lower. More to read and learn for me, a pull request for this is appreciated.

[2015-05-07 08:57] #421 closed

[2015-05-07 09:15] darkerego commented on #420
I have xprivacy installed because I bought it when I was on KK, but it does not work on L yet so I am not using it, it should not even be enabled.  I was connected to a vpn overseas when I took that logcat, so that may account for the delay, but it also happens over straight wifi as well. I will you send another log file in the morning as I am about to go to bed. Thanks for looking into this.

[2015-05-07 10:28] E3V3A commented on #420
Trying to download data over VPN is a bad idea. Too long TTL ping times.

[2015-05-07 12:03] SecUpwN commented on #408
@DimaKoz, I have just updated the OP since we came to the conclusion that we [don't need a buttton](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/408#issuecomment-98537155) a small map legend that overlays the map in the top right corner, similar to what @ziem [suggested](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues/408#issuecomment-98704005) should be perfect.

[2015-05-07 12:21] SecUpwN commented on #403
Looks much better, feel invited to add it!

[2015-05-07 17:55] E3V3A commented on #408
I suggest:

| PIN                                                                                                                                      | EVENT                         |
|------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------|
| ![BLUE](https://github.com/SecUpwN/Andro

[2015-05-07 18:07] E3V3A commented on #403
Here's the code:
[code]
In your application code, just do something like this:
[code]

[2015-05-07 18:45] darkerego commented on #420
Well I just took another logcat as requested, tried downloading 3 times, once over VPN, and twice over WiFI. I think it failed all 3 times. I sent the log to SecUpwN. I also exported my db to sd so you can see what's going on with that too.

[2015-05-08 04:46] SecUpwN commented on #408
@E3V3A, thanks for updating the legend. I fully agree and would love to see it it added like this.
Who of you is going to do it, @ziem or @DimaKoz? Please tell us here to avoid double work.

[2015-05-08 05:21] SecUpwN commented on #420
Thanks. I forwarded your logfiles to E:V:A so that he can have a look as well. Stay tuned.

[2015-05-08 06:03] darkerego commented on #420
Okay. After about two weeks, the situation was not as bad today, It only failed once this morning. If it continues to work I will let you know.

[2015-05-08 06:05] ziem commented on #408
I can do it, but after the weekend.

[2015-05-08 08:18] SecUpwN commented on #403
Ok, so [L86-L132](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/f7d56a08eeaf06cba1f7c574147f589ca7912ff9/app/src/main/java/com/SecUpwN/AIMSICD/utils/Helpers.java#L86-L132) of `Helpers.java` would have to be replaced with above code, then we can add `Toaster.makeLongToast("Toasty!", 8000);` into our application code, right? Please correct me if I'm wrong.

[2015-05-08 10:01] E3V3A commented on #403
You don't need to replace that code, just implement the new.

[2015-05-08 10:12] SecUpwN commented on #403
Would love to. Where exactly? `Helpers.java`?

[2015-05-08 10:52] SecUpwN commented on #403
@E3V3A, ok, I've messed it up beautifully. Does the code you linked need to change the "text" to "msg" like in ` final Toast t = Toast.makeText(App.context(), msg, Toast.LENGTH_SHORT);` at all?

[2015-05-08 14:24] E3V3A commented on #420
I got a logcat today, and there's not a single newline in there. It's bloody impossible to read logs without newlines or carriage return in them.

[2015-05-08 14:40] SecUpwN commented on #420
Sorry @E3V3A, it was my fault. I've sent you a new copy.

[2015-05-08 14:47] SecUpwN commented on #403
The `Toast Extender` has been implemented and slightly changed. Note: currently not working, I'm still digging around for a fix so that it does not break our builds anymore. We now need to use this:

[code]

[2015-05-08 14:55] E3V3A commented on #420
Ok @darkerego,  I had a look at your logcat, and my first impression is that this is not related AIMSICD, but to CM. There are basically no errors from AIMSICD, but hundreds from your CM distro. In addition, seeing that you're using AT&T perhaps you're on a CDMA network? (We don't support all CDMA functions yet.) Second, the logcat is rather unusable, since it's impossible to tell from it where th

[2015-05-08 15:05] SecUpwN commented on #420
Accepted and noted down. I will close this Issue with the new timeout then.

[2015-05-08 17:05] darkerego commented on #420
Huh... yeah it is alpha CM, but I didn't know it was that unstable! Yes, AT&T's 3G networks are WCDMA networks. Aren't most HSPDA+ networks WCMDA these days? I played around with the itpables on my VPN and updated to a new nightly, and things seem to be back to normal. I have not had an issue getting the data to download since yesterday morning. Increasing the timeout or doing whatever to make the

[2015-05-08 18:18] #420 closed

[2015-05-08 21:24] DimaKoz commented on #403
You must use the same instance of "Toaster", otherwise not be able to quickly switch between the content description when you click on another button "i".

[2015-05-08 21:26] SecUpwN commented on #403
Please clarify how to do that, @DimaKoz.

[2015-05-08 21:32] DimaKoz commented on #403
You can use this pattern
http://en.wikipedia.org/wiki/Singleton_pattern#Eager_initialization

[2015-05-08 22:35] SecUpwN commented on #403
Thanks. I thought we'd just need to add/replace the code below somewhere into our app?

[code]

[2015-05-08 23:32] E3V3A commented on #94
There are instructions available for a whole range of models, even older Qualcomm based phones, so this can definitely be at least partially implemented. With the better understanding of the QMI and QCRIL interfaces, we should eventually find a way to re-write IMEI for any device. Now doing this is highly controversial, and evenm illegal in some countries, so I don't think this will be implemented

[2015-05-08 23:32] #94 closed

[2015-05-09 09:31] E3V3A commented on #407
This issue, is still present exactly as described. Again, upon first start all info is shown about currently connected BTS, but DB is empty.

[2015-05-09 10:45] E3V3A opened #423 "App and DB Viewer is very slow and laggy"
**Generally**: App navigation has become excruciatingly slow and laggy in almost all aspects.

**Specifically**: This is especially evident when side swiping and when using the `Database Viewer`. Hitting the table selector takes almost a second to show up on a modern phone with dual-core Qualcomm processor. The same goes for actually displaying of the data.

**Possible causes**: Too much graphics

[2015-05-09 10:50] E3V3A opened #424 "Phone/SIM Details does not correspond to DB Viewer"
This is probably related to #407.

Problem: When a cell change has happened, the `Phone/SIM Details` get immediately updated, but the DB tables in the `Database Viewer` does not.

Solution: Always update DB when there's been a network change.

[2015-05-10 20:05] Ueland commented on #208
Confirming per request that this issue stil exist in latest version.

[2015-05-10 21:25] E3V3A commented on #208
I think we understand the lack of this info as lacking the correct modem diagnostics filters to allow this info into the AP realm. I'm not sure how this can be changed persistently, but I think grabbing a `Diag.cfg` file from a working phone model, with same processor, and backup/replace that file. @Ueland  Very nice to hear from you, please check if you have this file on your device. You can chec

[2015-05-13 06:13] SecUpwN commented on #423
I cannot confirm this. It is working smooth as butter on my own device.

What exactly would you like to see removed? Sounds like you want to see your app re-coded from scratch..

[2015-05-13 06:15] SecUpwN commented on #408
@ziem, yes, please give it a shot. Thank you for committing yourself to this.

[2015-05-14 13:41] SecUpwN commented on #74
@andr3jx, @He3556, @DimaKoz and @E3V3A, check this out: [![Bountysource](https://www.bountysource.com/badge/team?team_id=40338&style=bounties_received)](https://www.bountysource.com/teams/android-imsi-catcher-detector/issues?utm_source=Android%20IMSI-Catcher%20Detector&utm_medium=shield&utm_campaign=bounties_received)

I am currently testing it and am playing with the idea of replacing one of thos

[2015-05-15 08:46] E3V3A commented on #74
Great initiative! We need this.

[2015-05-15 09:03] SecUpwN commented on #74
Thanks. May I consider this Issue as solved now? I will publicly announce this via Twitter then.

[2015-05-15 09:45] #74 closed

[2015-05-15 11:30] SecUpwN commented on #1
Just an update for @WebDesZ, @dalb8 and @domenkozar: We're now using Bountysource, which supports proper splitting. Press this button to donate [![Bountysource](https://www.bountysource.com/badge/team?team_id=40338&style=bounties_received)](https://www.bountysource.com/teams/android-imsi-catcher-detector) and see this [FAQ](https://github.com/bountysource/frontend/wiki/Frequently-Asked-Questions)!

[2015-05-16 19:23] ziem commented on #408
Sorry for delay. Legend is almost ready:

![Legend](http://i.imgur.com/feUvrSC.png)

Font size: `10sp`.
Background color: `#50ffffff`.

What do you think about it? Do you have any suggestions how can I improve it?

[2015-05-16 23:06] kelna opened #427 "Permissions"
What are these new permissions in .27? I mean, are these really necessery? SIP calling, contacts etc.? Why?
Thanks for the answers in advance!

[2015-05-17 11:34] E3V3A commented on #408
Thanks @ziem! That above look very good. I still need to test. Is the legend transparent?

[2015-05-17 12:15] ziem commented on #408
Yes, legend is transparent:
![Transparent legend](http://i.imgur.com/ijcrHYe.png)

[2015-05-18 12:16] swordsteel opened #428 "GPS toggle without nag"
Would be great to use AIMSICD without need for GPS to save life on battery. I run it almost all the time but battery life is really short. When I keep my GPS off, I get a constant nag to turn GPS on. Is there a way to work it so the nag goes away?

[2015-05-18 12:20] E3V3A commented on #428
I agree, I'd also like to see this nag screen removed. However, if this is implemented we will not get GPS data to any newly detected BTS. Thus user should not be able to upload BTS data either.

[2015-05-18 18:23] agilob commented on #407
I can't reproduce this issue, after new install in 10minutes I had 4 new unique cells and 4 measures.

[2015-05-18 23:13] E3V3A commented on #407
Thta's the point, "after 10 minutes". You should have at least one immediately.

[2015-05-19 03:58] SecUpwN commented on #100
Is anyone currently working on this one? In `v0.1.27-alpha` the neighboring cells list is empty.

[2015-05-19 04:01] SecUpwN commented on #428
This has essentially been filed by myself a while ago already in #251, please continue there.

[2015-05-19 04:01] #428 closed

[2015-05-19 04:06] SecUpwN commented on #408
Looks awesome and doesn't take away too much space. Do you think we'd need to add any sort of expanded descriptions when touching the legend, @E3V3A? In my eyes this thing looks about perfect!

[2015-05-19 04:14] SecUpwN commented on #427
Hi there, @kelna! Thank you for submitting your concerns. I guess you just updated from F-Droid? The jump you've made from the last public version on F-Droid to the current version is pretty huge, many things have been added and a lot of code changed. We know that people are always concerned when having to grant so many permissions, but in our case, we simply need so many different variables to ma

[2015-05-19 04:15] #427 closed

[2015-05-19 04:41] E3V3A commented on #100
Yes, this should be looked into again. Since most people think NC list is not working when in fact it is, only that all fields apart PSC are empty or the decimal equivalent to `0xFFF FFFF`, since they're redundant. (At least this seem to be the common scenario on most Samsucks.)

[2015-05-19 04:44] E3V3A commented on #408
The only thing I could think of, is an expanded explanation of the icons, in a pop-up window, when the legend is clicked. (We already have this elsewhere AFAIK.)

[2015-05-19 05:22] SecUpwN commented on #408
Do you mean your descriptions from #250?

[2015-05-19 08:38] E3V3A commented on #408
No I mean the ones in https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Status-Icons and explanation that should be linked from the About drawer item.

[2015-05-19 09:26] SecUpwN commented on #408
@E3V3A, I'm afraid I don't get what you want to accomplish. The explanations for the Status Icons have been implemented already, you can view them by clicking the Icons in the `About` menu. Please clarify.

[2015-05-19 11:44] E3V3A commented on #408
I mean hitting the legend will take you there, unless there's a UX problem with doing that. (E.g. for small screens with large legend?)

[2015-05-20 17:09] ziem commented on #408
Created pull request with map legend.

[2015-05-21 13:27] agilob opened #432 "AIMSICD freezes when denying root priv for AT command"
1. Start AT command
2. AIMSICD freezes (I had to take out battery to stop it)
or
3. Freezes for a second and asks for root privileges again, and again, and I'm unable to stop it

It should just go back to the previous activity.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16460698-aimsicd-freezes-when-denying-root-priv-for-at-comm

[2015-05-22 03:27] #412 closed

[2015-05-22 05:18] SecUpwN commented on #432
I have tried to reproduce this, but with `SuperSU` the `AT Command Interface` just stays empty and AIMSICD neither freezes, nor does it prompt for ROOT again. Which `SU` app do you use?

[2015-05-22 05:21] SecUpwN opened #433 "Avast Mobile Security: FALSE POSITIVE - Android:Agent-IJT [Trj]"
![False Positive](https://cloud.githubusercontent.com/assets/6000299/7764345/7cb940b8-003f-11e5-956a-e4895ddd5035.png)

@Avast is currently thinking our app would contain a "trojan". This is a **false positive** and I already reported it. Just filing this Issue so that everyone knows about it and security-geeks do not freak out. ;-)

* Virus Definitions: 150521-01
* Avast Mobile Security: Version

[2015-05-22 05:38] SecUpwN opened #434 "Database Viewer: Imported OCID Data seems empty"
@agilob did discover during #429 that imported OCID data is missing in the Database Viewer:

This Issue needs further investigation. I guess its something simple since it was displayed before.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16636221-database-viewer-imported-ocid-data-seems-empty?utm_campaign=plugin&utm_content=tracke

[2015-05-22 05:51] SecUpwN commented on #408
@ziem, awesome work! Just waiting for another Issue to be solved, will merge this soon.

@E3V3A, the Status Icons page has nothing to do with the map legend and I would like to avoid adding too many links. If a user wants to now about the Status Icons, he can view the detailed descriptions through the `About` page. Furthermore, do we really need to explain anything more for the map legend? Should

[2015-05-22 08:03] agilob commented on #432
I have CarbonROM, something like SU is built-in in my ROM.

[2015-05-22 08:33] SecUpwN commented on #432
[![SuperSU](https://lh4.ggpht.com/_kg7Qbu5kDpbjbJ2R3SvjAHKr5V0AKSsVR7nEaQznrDwFWDAD1QSrFDdcYLeqXLKLw=w300)](https://play.google.com/store/apps/details?id=eu.chainfire.supersu)

Please give [SuperSU](http://forum.xda-developers.com/showthread.php?t=1538053) a try.

[2015-05-22 08:45] ziem commented on #408
@SecUpwN - thanks ;). If you would like me to help you with other things, let me know.

[2015-05-22 08:55] SecUpwN commented on #408
Thanks for the kind offer, @ziem! It would be awesome if you could send me a private email and let me know if you want to be listed on our [team page](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Contact). Generally speaking, I'd be **extremely** thankful if you could tackle any other [open Issues](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/issues) (especially bugs)

[2015-05-22 09:04] agilob commented on #432
I think there's no point in testing it whether it works for you on SuperSU, it still doesn't work for me.

SU - SuperUser | SuperSU - Super Super User? oO

[2015-05-22 09:14] #408 closed

[2015-05-22 09:16] SecUpwN commented on #432
So phone, ROM and `SU` solution do you use? You are not listed on our [Testing Devices](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Testing-Devices).

That's something @chainfire can answer, for sure. ;-)

[2015-05-22 16:41] SecUpwN commented on #269
I have been re-thinking this Issue and would now like @banjaxbanjo and @DimaKoz to have a word in here: Is it even a good idea running a small set of tests when initially installing our app to make sure it works properly? If it does not work and/or is not a good proposal, I might as well close this again.

[2015-05-22 18:14] SecUpwN commented on #178
@jamesdwilson and @MatejKovacic, is this bug still present in the [latest release](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases)?

[2015-05-23 13:55] SecUpwN opened #435 "Manual upload of OCID database .csv files into our app"
Good evening everyone, I have just received an interesting question via email from a user of our app. In my eyes, this question is interesting and deserves a public discussion, thus I am filing this Issue for it:

This translates to me into these steps:

1. Download the full OCID database from
2. Move the database into `/sdcard/Android/Android/data/com.SecUpwN.AIMSICD/files/OpenCellID/
3. Our app

[2015-05-23 14:08] #433 closed

[2015-05-24 12:55] Laiteri commented on #435
Hi SecUpwN,

I raised the issue, but didn't have an account until now.
I raised it because, at the moment, I'm in a country in the middle of Africa, and fast internet connection is just a concept here. In the middle of the week-end like today, I've got an amazing connection speed of 35KB/sec. See the point of my request? :-)
Anyway, thanks for the topic, as I have a few more questions about it.
Wh

[2015-05-24 13:16] SecUpwN commented on #435
Whoa, welcome to the 21st century! :smile_cat:

This was just an assumption. I've had a look I'm not sure which file we'd need to add manually.

No. The new file path will be created by the new version of our app. Wait for the release later today.

When using our app, the only thing you'd currently need to do is to access the Navigation Drawer on the left side and press `Download BTS Data` while h

[2015-05-25 03:58] kbjuan opened #438 "Tech issue question"
Hi, is there a manual on how to use the android-IMSI-Catcher? It is a way cool application but I am not that up on tech. When I get text messages it always says my text messages are intercepted.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17452938-tech-issue-question?utm_campaign=plugin&utm_content=tracker%2F565750&utm_medium=iss

[2015-05-25 07:12] Laiteri commented on #435
Well, sometimes you are in countries who don't have high speed mobile connection.
Half of the world is not equipped yet with 4G (or LTE), and the 3G in some countries is very very poor (when you have 3G). That and the fact that data connection can be amazingly expensive depending on the country you are.
With a european SIM card, as long as you are in Europe/Canada/USA, it's fine, you can download

[2015-05-25 10:31] SecUpwN commented on #438
Good evening @kbjuan! First of all, our app is **NO** IMSI-Catcher, but is rather meant to detect those. Please have a look at our [WIKI](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki) and see if it helps. Are there any specific questions you have on how to use our app?

This shouldn't be happening. Which version of our app are you using?

[2015-05-25 11:51] E3V3A commented on #435
@Laiteri I think it could be a good idea, but we simply don't have the developer resources to implement every possible useful feature, especially since we still have not got the basics covered. If you know how to use sqlite3 you can download and add the OCID data yourself to the AIMSICD DB, using a simple shell script. However, having said that, it should be a simple matter to make the app manuall

[2015-05-25 22:07] kbjuan commented on #438
RIL version 0

[2015-05-25 22:09] SecUpwN commented on #438
Version of our **APP**?

[2015-05-26 00:36] SecUpwN commented on #69
Hey everyone monitoring this, it's your turn now to help us improving the great code by @banjaxbanjo that I've just merged! I will add detailled testing instructions on our WIKI page on [Special SMS](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Special-SMS) later today.

@banjaxbanjo, a few things I've noticed when first running this:

1. Before this function works, the user has t

[2015-05-26 06:59] banjaxbanjo commented on #69
@SecUpwN  Yes your right it has no benefit to user so I will remove detection strings asap  Sec.

Can you send me a screenshot of the lat lon issue Sec because I dont have this on my phone maybe because screen is bigger.

[2015-05-26 09:21] SecUpwN commented on #69
Please keep them in for now, @E3V3A just told me that they are useful for other devs to be displayed.

See below. It is just that the tile is cutting off the words `LAT` and `LON`, that's all. ;-)

![cutoff](https://cloud.githubusercontent.com/assets/6000299/7809216/477943ca-0388-11e5-94bc-47eaf2a9e65a.png)

One more **Issue**: After having dealt with a silent SMS, the app vanishes from the notifi

[2015-05-26 09:31] banjaxbanjo commented on #69
@SecUpwN well spotted I didnt notice the status dissappearing will fix asap.

Ya its a bit ugly looking I just modified the previous coders class and didnt want to cause to much damage so left as much as possible, if you look in advance menu I dont have this issue in display. Only a padding issue.

[2015-05-26 10:01] SecUpwN commented on #69
Take your time, you're dong a great job here! I am sorry noone else is helping you on this stuff here.

No big deal. I hope you don't mind if I fix a little bit grammar once you've committed a fix? :)

[2015-05-26 10:05] banjaxbanjo commented on #69
@SecUpwN be my guest I've a bad habit of not reading what I type😉

[2015-05-26 14:42] Laiteri commented on #435
Hmm, okay okay I got it. Well, thanks for the tip anyway, I'll try that :-)

[2015-05-26 16:17] MatejKovacic commented on #178
Hi,

just tested and bug is fixed! Thanks.

Regards,
M.

[2015-05-26 17:48] #178 closed

[2015-05-26 17:53] SecUpwN commented on #435
Thanks for understanding our current lack of developers, @Laiteri. I know that this Issue could as well be closed, but since it is a very useful feature I'll keep it open for now. A pull request for this is welcome.

[2015-05-26 20:48] MatejKovacic opened #439 "LAC changing detected"
I have installed AIMSICD (WIP TEST RELEASE v0.1.28-alpha-b00) to a mobile phone with Android 4.4.2. I am customer of slovenian mobile operator Si.mobil (operator's code is 29340).

Today I was at some location, where AIMSICD noted me, that I am in hostile service area - changing LAC is detected:
![aimsicd_lac_changing_2015-05-26-20-31-41](https://cloud.githubusercontent.com/assets/3339198/7822901/

[2015-05-27 11:03] SecUpwN commented on #439
@E3V3A, would you please chime in? Thank you.

[2015-05-27 12:16] scento commented on #439
I experienced something similar while testing *AIMSICD 0.1.28-alpha-b00* on *hammerhead* with *Android 5.1* - it seems as if all base stations around my location in Germany are using different LAC's (`40326`, `5827`, `31506`, `40326`). My map view shows even more "active" BTS, which are far away from my current location.

---
![screenshot](https://cloud.githubusercontent.com/assets/2129596/7835639

[2015-05-27 14:35] SecUpwN commented on #439
@MatejKovacic and @scento have you made sure that you've downloaded the current OCID data?

[2015-05-27 14:54] E3V3A commented on #439
This is a side effect of having a broken database. Fix the db and we can filter out bad data.  Furthermore the PC shown above must be wrong since it's showing 6 digits, instead of 5.

[2015-05-27 14:57] E3V3A commented on #439
Actually, I just noticed you're using 4G (LTE ) which we currently don't have support for...

[2015-05-27 15:16] E3V3A commented on #439
This is also a side effect of having as broken DB. Fix the DB so that we can properly filter bad BTS. The PC is also wrong since it should be 5 digits and not 6.

[2015-05-27 19:20] SecUpwN commented on #69
@banjaxbanjo, I haave just updated the strings and added my own hard work on the German once. Would you please fix the Issue with `LAT` and `LON` not having enough space as well as the app status icons disappearing from the notification bar when a silent SMS has been detected?

@E3V3A, please test the very latest APK created by our Buildozer account and add your thoughts here. It seems very solid

[2015-05-27 22:46] SecUpwN commented on #439
Is this an (invalid) bug on our side now, or how to classify this? Let it stay open?

[2015-05-28 07:42] kbjuan commented on #438
Sorry about that Version o.1.25-alpha-b6 I really  appreciate your patience and support

[2015-05-28 08:54] MatejKovacic commented on #439
OK, any hint how to fix broken database?

[2015-05-28 17:46] SecUpwN commented on #438
Dude, you are using the **OLDEST** release from one of our stores, do you even care updating? Where did you get it from and why do you complain about a bug (likely related to #366 and #382) that's already been fixed a long time ago? Please use the [latest version](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/releases) and read the very first rule on [this page](https://github.com/SecUp

[2015-05-28 17:47] #438 closed

[2015-05-28 17:48] SecUpwN commented on #439
The right thing to do would be to craft a pull request for the compete overhaul described in #215.

[2015-05-29 00:07] SecUpwN commented on #228
@E3V3A what is left to be done until fixed?

[2015-05-31 08:49] E3V3A commented on #407
This issue seem to have been fixed when I tested on **0.1.28-alpha-b03**.

[2015-05-31 08:49] #407 closed

[2015-05-31 08:52] E3V3A commented on #434
Just tested **v0.1.28-alpha-b03**  and I can confirm this issue. I don't even get an import successful message. I have no idea if the download worked or failed for some other reason. Nothing shown in `Impoertd OCID Data`.

[2015-05-31 09:31] gusfl commented on #434
I confirm this issue too on *v0.1.28-apha-b00*. It's a pretty serious bug, because it cause the app to switch in MEDIUM threat level : "Cell ID does not exist in OpenCellID".

[2015-05-31 10:49] E3V3A commented on #432
@agilob  You need to provide more information about your device, such as exact hardware, AOS version and the exact steps needed to reproduce your error. I know its annoying to always include this info in every issue, but every issue is independent and nobody will do anything if its not clear. I'll close this issue for now, since nobody else seem to have this problem. Feel free to re-open after add

[2015-05-31 10:49] #432 closed

[2015-05-31 10:59] E3V3A commented on #215
I think we need a developer update on what tables are currently present. (I know @banjaxbanjo added some.) Then we need to add the code to build the tables as defined above (+ additions) and we can start moving and changing the code from using the old tables to the new ones. Most *template*-like structure is already in there and it should be fairly easy to copy/paste the rest.

[2015-05-31 11:03] E3V3A commented on #439
@SecUpwN

I don't have a working LTE device right now, so I can't test this at all. We need to file a separate issue for LTE support.

@MatejKovacic

All the hints required are in that #215 issue thread.

[2015-05-31 11:12] E3V3A opened #442 "Add LTE support"
LTE (4G) works very different from both GSM (2G) and UMTS (3G), even though it shares many features of GSM. For historical reasons we did not implemented LTE support, but today LTE is a global and widespread technology even in, and especially in 3rd world countries. We need to support LTE and I have labeled this as a bug, even though it is not (by design). But since so many people are filing issue

[2015-05-31 11:27] E3V3A opened #443 "Memory leak detection? (pros and cons)"
**Q:** What are the pros and cons of including a memory leak detection library?

**Background:** Some developers have suggested we should add the [leakcanary](https://github.com/square/leakcanary) memory leak detection library to our debug builds. This sound great, but do we really need it? How will it affect our builds? To what extent will its inclusion make our code even more complex and thus ev

[2015-05-31 15:26] SecUpwN commented on #443
Does not make much sense to me. Counter-question: What is the difference to our already existing [CoverityScan](https://scan.coverity.com/projects/3346)? It already analyzes every single line of code, we simply need someone specifically for fixing the discovered defects, which I already listed in our `CONTRIBUTING.md` in section [SEEKING](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/bl

[2015-06-01 01:28] E3V3A commented on #443
I think the issue is that you need to understand the issue before you can fix it. The coverity scan results are very cryptic, even for a seasoned programmer. In addition, any automated scans will undoubtedly also produce many false positives. I.e. alright code marked as bugs. Memory leaks are harder to detect, and more serious problems as they're not easily detected and can cause random crashes...

[2015-06-01 01:35] E3V3A commented on #423
This seem to have improved somewhat on the latest builds. But I haven't had a chance to test them on any additional devices yet. If we can get a couple of smooth confirmations from other developers, we can close this.

[2015-06-01 02:21] E3V3A commented on #439
Many of the programming details and required LTE info can be found in [AIMSICDDbAdapter.java](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/blob/development/app/src/main/java/com/SecUpwN/AIMSICD/adapters/AIMSICDDbAdapter.java).

[2015-06-01 02:21] johnrandolph commented on #439
// mobile
On May 31, 2015 22:21, "E:V:A" <notifications@github.com> wrote:

[2015-06-01 10:12] SecUpwN commented on #443
I would have no problem at all changing to a system that more developers would use to help us fixing these things. But given the current "participation" from outside users, it will make no difference at all. Added to that: *If* we use `leakanary`, shall we ditch `CoverityScan`? I would vote for an all-around solution.

[2015-06-01 13:40] E3V3A commented on #398
I think we can close this...

[2015-06-01 13:40] #398 closed

[2015-06-01 13:59] E3V3A commented on #349
Can we close this? @SecUpwN @He3556

[2015-06-01 14:01] E3V3A commented on #348
I'm closing this (as insignificant) until someone can verify it's still present.

[2015-06-01 14:01] #348 closed

[2015-06-01 14:04] E3V3A commented on #403
I've just tested all info boxes on the main drawer menu, and some are still displayed too short a time, so I reopen this issue until that has been fixed.

[2015-06-01 14:18] E3V3A commented on #443
CoverityScan is just analyzing the code we have, while leakanary is implementing some new code for the detection library to work.

[2015-06-01 14:24] E3V3A commented on #303
I'd like to see the number of of OCID cells returned in the ocid *successful download* toast meassage.

[2015-06-01 14:41] E3V3A opened #446 "Add Mozilla Location Services (MLS) support"
**Issue:** This is not an issue, but would be a great improvement to the flexibility of our BTS data sources.

We are currently depending on the [OpenCellID]() (**OCID**) DB to obtain the BTS info we need for our detection. This data is used to populate the DBe table. However, [Mozilla Location Services](https://location.services.mozilla.com/api) (**MLS**) is now mature, detailed and large enough

[2015-06-02 16:12] gavo84 opened #448 "take a look"
[code]

[2015-06-03 02:43] E3V3A commented on #448
Please provide more info and describe the problem as detailed as possible and how to reproduce it.

[2015-06-03 02:43] #448 closed

[2015-06-03 11:05] breversa opened #449 "Colorblind mode"
Hi, while the green/yellow/orange/red color scheme for both the notification and antenna map icons is perfectly fine for most of the population, a significant percentage is however colorblind, and may not be able to tell between "You're safe, no worries"-green and "Run for your life !"-red.

May I suggest switching green to blue, which is much less likely to be confused by most colorblind users?

[2015-06-04 04:13] SecUpwN commented on #398
@agilob, another approach could be to store detected danger zones and upload them later?

[2015-06-04 04:14] SecUpwN commented on #448
@gavo84, please **always** use a proper description of your Issue and follow [this guide](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Submitting-Issues). Thanks,

[2015-06-04 04:16] SecUpwN commented on #348
@E3V3A, does that mean that you do not experience it anymore?

[2015-06-04 04:17] SecUpwN commented on #443
Thanks for clarifying. @banjaxbanjo and @tobykurien, what is your opinion on adding `leakanary`?

[2015-06-04 04:23] SecUpwN commented on #449
Thank you for thinking ahead, @breversa. Are you color blind? I am not quite sure if the approach of changing our green status icon to blue would be "the solution" for this - what about the other icons? Just to note it here, if we ever add this, we should make this a **SETTING** in `Preferences/Status Icons`.

[2015-06-04 04:25] SecUpwN commented on #303
Hey @ziem, wouldd you please be so kind and have a look at this? Seems like a perfect Issue for you!

[2015-06-04 04:27] SecUpwN commented on #349
@E3V3A, would like to, but how are we going to handle the following question?

[2015-06-04 04:49] SecUpwN commented on #403
@E3V3A, would you please name the info boxes where this happens so that I can digg into it?

[2015-06-04 04:54] tobykurien commented on #443
I have no experience with it, but worth giving a try.

On 4 June 2015 09:48:06 GMT+05:30, "Security: Pwned." <notifications@github.com> wrote:

--
http://tobykurien.com | @tobykurien

[2015-06-04 05:13] SecUpwN commented on #34
@E3V3A, I am making an exception for user `Chad` here, who [posted](http://aimsicd.store.aptoide.com/app/market/com.SecUpwN.AIMSICD/28/9517721/Android+IMSI-Catcher+Detector#cmt331632) the following on Aptoide:

Please let me know if it makes sense going lower or what else you would suggest. Thank you.

[2015-06-04 05:35] SecUpwN commented on #443
Thanks for the feedback, I have **prepared and am about to push** integration of `leakanary`. Just one more question: During my research, I also stumbled across [Fabric](https://get.fabric.io/). Would it be better switching to this full-blown solution, or do you think we'd just need to add `leakanary` to improve our app?

[2015-06-04 07:13] #443 closed

[2015-06-04 09:03] breversa commented on #449
Hi !
Yes, I'm colorblind (deuteranomaly-type) myself.

The "flat" style icon is a bit better than the two icon styles, because it
makes the icon a single larger patch of color which is easier to recognize
(colorblind people like large patches of color ! It's easier to tell :-) ).

However, the antenna map uses both green and red dots, which I can only
hardly tell apart, especially in a city with a

[2015-06-04 09:30] SecUpwN commented on #449
@breversa, thanks for your honesty to tell us that you're actually one of the people who'd profit from such an improvement. I guess we would need to change all icons then? Here is an approach:

1. Add a **checkbox** called `Colorblind Mode`to `Preferences/INTERFACE SETTINGS`
2. Once the checkbox has been activated, all icons shall change to some preferred color

It might be a good idea to make our

[2015-06-04 09:38] SecUpwN commented on #443
@E3V3A and @tobykurien, our builds currently fail after the implementation. Did I do something wrong?

[2015-06-04 10:10] E3V3A commented on #349
I have no idea what that means. Perhaps @He3556 can explain?

[2015-06-04 10:12] E3V3A commented on #34
No sense at all.

[2015-06-04 10:16] breversa commented on #449
Well, while the icons are the most oustanding problem, AIMSCID is actually color-heavy (and you might not even realize it if you're not colorblind yourself. :-) )

For instance, the database viewer uses red and green (or is that yellow ?), and I guess the Current Threat Level screen too. So it's more about good "global" UI design than simply icons… but changing the icons' color would be a pretty g

[2015-06-04 10:24] breversa commented on #449
And come to think of it, if you're a gamer, you may know of FTL: Faster Than Light, and Borderlands 2. Both game have a colorblind setting, either simple… or the most thourough I've ever seen !

FTL switches their green/orange/red color scheme (or is it light/medium/dark green ? Again, I can't tell) for a white/green/blue one.

And the "Most colorblind-friendly game EVER" award goes to Borderlands

[2015-06-04 10:24] E3V3A commented on #449
I'm sorry, but we're simply not in a position to develop support such specialized requirements at this time. I wrote about this issue in one of the first issues when we opened our GitHub, and then decided that color-blindness support could be provided by using geometrical shapes instead of colors, since there are many types of color-blindness. **We're not changing the current color coding scheme.*

[2015-06-04 10:24] #449 closed

[2015-06-04 10:28] SecUpwN commented on #449
Thank you for your research, @breversa. You see that your Issue here has been closed now, but maybe we can respect some of your wishes in #258. Please help us developing with pull requests!

[2015-06-04 10:30] E3V3A commented on #443
If you're asking me, you're barking up the wrong tree,as I have no idea how this works and have no time to looking it up or dealing with it.

[2015-06-04 10:37] #34 closed

[2015-06-04 10:41] SecUpwN commented on #443
Barking up the wrong tree? @E3V3A, it is exactly this type of thing, the mentality of "here-i-have-something-but-do-it-yourself-because-nobody-has-time-for-this-shit", that is ticking me off at times when I actually try to figure something out and implement something instead of collecting new Issues. I'd appreciate some help at times, some pull requests, some code review, anything. I know we're ha

[2015-06-04 11:48] He3556 commented on #349
We need to collect the CellID's in the area by ourselves and than check for changes (new IDs) in the future.
We can close this...

[2015-06-04 12:31] SecUpwN commented on #349
To clarify: As long as the CIDs are not uploaded to the OCID DB, people will inevitably receive this error, running around and trying to find a "more secure service area". Since I am the one receiving all the log files lately, I often get the question about this Issue listed here. We really should combine OCID with some other proven service, thinking of #446 (and of course #71) to remedy this situ

[2015-06-04 12:31] #349 closed